.container {
    min-height: 100vh;
    background-color: #181D17;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    i {
        cursor: pointer;
        font-size: 22px;
        color: #C4C5C3;
    }
}

main {
    margin: 10px 15px;
    .options-section {
        margin: 2em 0;
        h3 {
            color: #FFF;
            font-size: 17px;
            font-family: "InterLight";
            margin-bottom: 1.5em;
        }
        .option-cta {
            background-color: transparent;
            border-radius: 26px;
            border: solid 1px #aaa6a6;
            color: #FFF;
            width: 100%;
            margin-bottom: 10px;
            white-space: normal;
            line-height: 22px;
            padding: 10px;
            transition: 0.2s all;

            &.active {
                background-color: #3B654A;
                border: 0;
            }
        }
    }

    .checkbox {
        color: #FFF;
        font-family: InterRegular;
    }

    .cta {
        width: 90%;
        background-color: #7B7B7B;
        color: #181D17;
        padding: 10px;
        width: 95%;
        border-radius: 30px;
        text-align: center;
        margin: 25px 0;

        &.active {
            background-color: #87CD9B;
        }
    }

    form {
        margin: 0 20px;
        .label {
            color: #FFF;
            font-size: 16px;
            font-family: InterRegular;
        }

        margin-top: 2em;
        .field-container {
            width: 100%;
      
            .mat-input-element {
                // font-family: SfProSemiBold;
                // font-size: 18px;
                color: #7B7B7B;
            }
            .mat-form-field-label {
                color: #7B7B7B;
                font-family: SfProSemiBold;
                font-size: 18px;
            }
        }
      
        
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #82F18D;
}

::ng-deep .field-container.mat-focused {
    .mat-form-field-underline {
        background-color: #E9E9E9;
    }
    .mat-form-field-ripple {
        background-color: #82F18D;
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #7B7B7B;
    font-family: InterSemiBold;
    font-size: 21px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #7B7B7B;
}

::ng-deep .mat-form-field-infix {
    position: inherit !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    margin-bottom: -5px;
}