<div class="container">
<div class="header">
<img src="../../../../../assets/icons/triangle.svg">
<mat-icon>add</mat-icon>
<mat-icon>more_horiz</mat-icon>
<div class="flex">
    <p>Lo que vendo a Floristerias 🏷️</p>
    <mat-icon>menu</mat-icon>
</div>
</div>
<div class="content">
    <p class="content-title">
        Información visible a floristerias:
    </p>
    <div class="information-boxes-container">
        <div class="information-box information-box-with-image">
            <p class="information-box-title">
                Imagen que te representa comercialmente
            </p>
            <div class="information-box-image">

            </div>
   
        </div>
        <div class="information-box">
            <p class="information-box-title">
                Nombre Comercial
            </p>
            <p class="information-box-desc">
                KiosKo: Heavenly Ballons
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
               User (slug)
            </p>
            <p class="information-box-desc">
                Helen oro
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
                Contacto para compradores:
            </p>
            <p class="information-box-desc">
                WhatsApp: (000) 000-0000
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
                Cuentas Sociales:
            </p>
            <p class="information-box-desc">
                Instagram.
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
                ¿Donde recibes el pago?
            </p>
            <p class="information-box-desc">
                Transferencia bancaria (Banco Popular, Banco de Reservas), Paypal y por tarjeta de crédito (Stripe).
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
                ¿Cuando entregas lo vendido?
            </p>
            <p class="information-box-desc">
                Depende de los artículos facturados. Generalmente el mismo día pero te mantendremos informado
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
                ¿Donde entregas?
            </p>
            <p class="information-box-desc">
                PickUp: direcciónID<br>
                Delivery: Santo Domingo, República Dominicana.
            </p>
        </div>
        <div class="information-box">
            <p class="information-box-title">
                Dueño del KiosKo
            </p>
            <p class="information-box-desc">
                Helen Oro
            </p>
        </div>
    </div>
</div>
</div>
