<div class="container">
  <app-helper-header
    bgcolor="#FFFFFF"
    [searchAble]="false"
    middleTextFontSize="17px"
    middleTextFontFamily="SfProRegular"
    middleTextColor="#7B7B7B"
    [middleText]="headerText"
    [back]="
      localStorageFlowRoute &&
      localStorageFlowRoute !== '' &&
      step !== 'PHONE_CHECK_AND_SHOW_BANKS'
    "
    [basic]="step === 'UPDATE_NAME_AND_SHOW_BANKS' && !orderData"
    [dialogProps]="dialogProps"
    [cart]="true"
    [cartCallback]="showCartCallBack"
    [cartAmount]="itemsAmount"
    (onClose)="goBack()"
  ></app-helper-header>
  <div *ngIf="step === 'PHONE_CHECK_AND_SHOW_BANKS'">
    <div
      [ngStyle]="{
        padding: '0px 33px',
        marginTop: '28px'
      }"
    >
      <p class="label1" [ngStyle]="{ marginTop: '42px', marginBottom: '1rem' }">
        Donde te mandaremos las notificaciones de esta orden?
      </p>
      <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.UnitedStates"
        maxLength="15"
        [phoneValidation]="true"
        [separateDialCode]="true"
        [numberFormat]="PhoneNumberFormat.International"
        name="phone"
        [formControl]="phoneNumber"
      ></ngx-intl-tel-input>
    </div>

    <ng-container *ngIf="bankOptions && bankOptions.length">
      <div
        [ngStyle]="{
          width: '88.32%',
          margin: '0 auto',
          padding: '0px 25px',
          paddingTop: '42px',
          borderBottom: '1px solid rgba(112, 112, 112, 0.49)'
        }"
      ></div>
      <div
        [ngStyle]="{
          width: '88.32%',
          margin: '0 auto',
          marginTop: '28px',
          marginBottom: '28px'
        }"
      >
        <p
          class="label3"
          [ngStyle]="{
            width: '90.47%',
            margin: 'auto'
          }"
        >
          <!-- <strong>(Opcional)</strong> -->
          Para completar la orden, transfiera como
          pago la suma de ${{ orderData?.amount | number: "1.0-2" }}
          DOP.
        </p>

        <div
          [ngStyle]="{
            width: '90.47%',
            margin: 'auto'
          }"
        >
          <div
            *ngFor="let bank of bankOptions"
            [ngStyle]="{
              marginTop: '28px'
            }"
          >
            <h6
              [ngStyle]="{
                color: 'black',
                fontWeight: 'bold',
                fontFamily: 'RobotoMedium',
                margin: '0px'
              }"
            >
              {{ bank.value }}
            </h6>
            <div *ngIf="bank.description">
              <p
                [ngStyle]="{
                  fontFamily: 'RobotoLight',
                  fontStyle: 'italic',
                  fontSize: '17px',
                  color: '#202020',
                  margin: 0
                }"
              >
                Tipo de cuenta: {{ bank.description.typeAccount }}
              </p>
              <p
                [ngStyle]="{
                  fontFamily: 'RobotoLight',
                  fontStyle: 'italic',
                  fontSize: '17px',
                  color: '#202020',
                  margin: 0
                }"
              >
                {{ bank.description.owner }}
              </p>
              <p
                [ngStyle]="{
                  fontFamily: 'RobotoLight',
                  fontStyle: 'italic',
                  fontSize: '17px',
                  color: '#202020',
                  margin: 0
                }"
              >
                Cuenta: {{ bank.description.account }}
              </p>
              <p
                [ngStyle]="{
                  fontFamily: 'RobotoLight',
                  fontStyle: 'italic',
                  fontSize: '17px',
                  color: '#202020',
                  margin: 0
                }"
              >
                RNC: {{ bank.description.routingNumber }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        [ngStyle]="{
          backgroundColor: 'rgba(254, 210, 48, 0.43)',
          color: 'black',
          borderRadius: '10px',
          fontStyle: 'italic',
          fontSize: '17px',
          fontFamily: 'Roboto',
          margin: '0px 32px',
          marginTop: '42px',
          marginBottom: '98px',
          padding: '21px'
        }"
      >
        En la siguiente pantalla subirás una foto con la imagen (pantallazo,
        screenshot) de la transferencia que realizaste.
      </div>
    </ng-container>
  </div>
  <div *ngIf="step === 'UPDATE_NAME_AND_SHOW_BANKS'">
    <div
      [ngStyle]="{
        padding: '0px 33px',
        marginTop: '28px'
      }"
    >
      <p class="label2" [ngStyle]="{ marginBottom: '11px' }">
        Nombre y Apellido
      </p>
      <input
        type="text"
        class="input"
        [formControl]="name"
        [placeholder]="'Mi nombre y apellido es..'"
      />
    </div>

    <div
      [ngStyle]="{
        width: '88.32%',
        margin: '0 auto',
        padding: '0px 25px',
        paddingTop: '42px',
        borderBottom: '1px solid rgba(112, 112, 112, 0.49)'
      }"
    ></div>

    <div
      [ngStyle]="{
        width: '88.32%',
        margin: '0 auto',
        marginTop: '28px',
        marginBottom: '28px'
      }"
    >
      <p
        class="label3"
        [ngStyle]="{
          width: '90.47%',
          margin: 'auto'
        }"
      >
        <!-- <strong>(Opcional)</strong> -->
        Para completar la orden, transfiera como
        pago la suma de ${{ orderData?.amount | number: "1.0-2" }}
        DOP.
      </p>

      <div
        [ngStyle]="{
          width: '90.47%',
          margin: 'auto'
        }"
      >
        <div
          *ngFor="let bank of bankOptions"
          [ngStyle]="{
            marginTop: '28px'
          }"
        >
          <h6
            [ngStyle]="{
              color: 'black',
              fontWeight: 'bold',
              fontFamily: 'RobotoMedium',
              margin: '0px'
            }"
          >
            {{ bank.value }}
          </h6>


          <div *ngIf="bank.description">
            <p
              [ngStyle]="{
                fontFamily: 'RobotoLight',
                fontStyle: 'italic',
                fontSize: '17px',
                color: '#202020',
                margin: 0
              }"
            >
              Tipo de cuenta: {{ bank.description.typeAccount }}
            </p>
            <p
              [ngStyle]="{
                fontFamily: 'RobotoLight',
                fontStyle: 'italic',
                fontSize: '17px',
                color: '#202020',
                margin: 0
              }"
            >
              {{ bank.description.owner }}
            </p>
            <p
              [ngStyle]="{
                fontFamily: 'RobotoLight',
                fontStyle: 'italic',
                fontSize: '17px',
                color: '#202020',
                margin: 0
              }"
            >
              Cuenta: {{ bank.description.account }}
            </p>
            <p
              [ngStyle]="{
                fontFamily: 'RobotoLight',
                fontStyle: 'italic',
                fontSize: '17px',
                color: '#202020',
                margin: 0
              }"
            >
              RNC: {{ bank.description.routingNumber }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      [ngStyle]="{
        backgroundColor: 'rgba(254, 210, 48, 0.43)',
        color: 'black',
        borderRadius: '10px',
        fontStyle: 'italic',
        fontSize: '17px',
        fontFamily: 'Roboto',
        margin: '0px 32px',
        marginTop: '42px',
        marginBottom: '98px',
        padding: '21px'
      }"
    >
      En la siguiente pantalla subirás una foto con la imagen (pantallazo,
      screenshot) de la transferencia que realizaste.
    </div>
  </div>
  <div *ngIf="step === 'PAYMENT_INFO'">
    <div class="content step-7">
      <a
        [href]="fixedWhatsappLink"
        target="_blank"
        *ngIf="shouldAllowPaymentSkipping"
        [ngStyle]="{
          color: 'rgb(39, 162, 255)',
          fontFamily: 'Roboto',
          fontSize: '17px',
          fontStyle: 'italic',
          margin: '0px',
          marginTop: '60px',
          cursor: 'pointer',
          textDecoration: 'none'
        }"
      >
        <!-- <div (click)="redirect()">
          Completaré pagando la orden de otra manera.
        </div> -->
      </a>
      <p style="margin-bottom: 47px; margin-top: 34px" class="label1">
        Sobre la transferencia que realizó como pago:
      </p>
      <!-- Temporalmente deshabilitado -->
      <!-- <p style="margin-bottom: 22px; margin-top: 0px" class="label3">
        Que monto transfirió?
      </p>
      <input
        type="number"
        min="1"
        class="input payment"
        placeholder="Pagué.."
        [formControl]="ammount"
        (keydown)="validateNumbers($event)"
        pattern="[0-9]*"
        inputmode="numeric"
      /> -->

      <!-- <p style="margin-bottom: 22px; margin-top: 88px" class="label2">
        Adicione los últimos 4 digitos de la transferencia que realizó:
      </p>
      <input
        type="text"
        [(ngModel)]="paymentCode"
        minlength="4"
        maxlength="4"
        class="code-input"
      /> -->

      <p class="label3" style="margin-top: 87px">
        Adicione la imagen (captura):
      </p>
      <app-image-input
        [allowedTypes]="['png', 'jpg', 'jpeg']"
        (onFileInput)="onFileInput($event)"
      ></app-image-input>
      <!-- <ng-container *ngIf="selectedBank">
        <div class="unique-bank">
          <h2>{{ selectedBank.value }}</h2>
          <span *ngFor="let desc of selectedBank.description">{{ desc }}</span>
        </div>
      </ng-container> -->

      <p
        class="label3"
        [ngStyle]="{ marginBottom: '26px' }"
        *ngIf="banks.length > 1"
      >
        En cuál cuenta hizo la transferencia?
      </p>

      <app-answer-selector
        *ngIf="banks.length > 1"
        [options]="bankOptions"
        (onSelector)="selectBank($event)"
        [showDescription]="false"
        [containerStyles]="{
          margin: '0px',
          paddingBottom: '72px',
          borderBottom: '1px solid rgba(112, 112, 112, 0.49)'
        }"
      ></app-answer-selector>

      <div
        [ngStyle]="{
          width: '100%',
          paddingTop: '29.5px',
          color: '#7B7B7B',
          fontFamily: 'Roboto',
          fontStyle: 'italic',
          fontSize: '17px',
          paddingBottom: '67px'
        }"
      >
        En la siguiente pantalla le mandarás el record de tu orden y la
        confirmación del pago que hiciste a {{ saleflowData.merchant.name }}
      </div>
    </div>
  </div>
  <!-- <div
    class="footer"
    [ngStyle]="{
      justifyContent: step === 'PAYMENT_INFO' ? 'space-between' : 'flex-end'
    }"
  ></div> -->

  <!-- <div class="bottom-separator"></div> -->

  <a
    [href]="fixedWhatsappLink2"
    target="_blank"
    id="invisible-link"
    *ngIf="
      step !== 'PAYMENT_INFO' &&
      saleflowData &&
      saleflowData._id === '6201d72bdfeceed4d13805bc'
    "
  >
    <app-sticky-button
      *ngIf="step !== 'PAYMENT_INFO'"
      [mode]="changeStickyButtonMode()"
      [text]="changeStickyButtonText()"
      (click)="submit()"
    ></app-sticky-button>
  </a>

  <app-sticky-button
    *ngIf="
      step !== 'PAYMENT_INFO' &&
      saleflowData &&
      saleflowData._id !== '6201d72bdfeceed4d13805bc'
    "
    [mode]="changeStickyButtonMode()"
    [text]="changeStickyButtonText()"
    (click)="submit()"
  ></app-sticky-button>

  <a [href]="whatsappLink" target="_blank" *ngIf="step === 'PAYMENT_INFO'">
    <app-sticky-button
      [mode]="changeStickyButtonMode()"
      [text]="changeStickyButtonText()"
      (click)="submit()"
    ></app-sticky-button>
  </a>
</div>
