.top-separator {
  height: 60px;
  width: 100%;
}

.content {
  min-height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
  padding-bottom: 53px;

  h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 61px;
  }

  p {
    align-self: flex-start;
    font-family: Roboto;
    color: #7b7b7b;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-left: 28px;

    &.first {
      width: 75.23%;
      margin-bottom: 0px;
    }

    &.second {
      margin-top: 48px;
      margin-left: 40px;
    }
  }

  a {
    margin: 0px;
    margin-left: 28px;
    font-family: Roboto;
    font-size: 17px;
    color: #7b7b7b;
    font-weight: 400;
    align-self: flex-start;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: darken($color: #7b7b7b, $amount: 10);
    }
  }

  button {
    margin: 0px;
    margin-top: 21px;
    background-color: #4773d8;
    color: #fff;
    padding: 25px 0px;
    width: 100%;
    border: none;
    border-radius: 50px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;

    &:hover {
      background-color: lighten($color: #4773d8, $amount: 10);
      cursor: pointer;
    }
  }
}
