<div class="wrapper">
  <app-helper-headerv2
    [mode]="'options'"
    [bgColor]="headerConfiguration.bgcolor"
    [color]="headerConfiguration.color"
    [justifyContent]="headerConfiguration.justifyContent"
    [alignItems]="headerConfiguration.alignItems"
    [leftTextStyles]="headerConfiguration.leftTextStyles"
    [leftText]="{
      text:
        headerConfiguration.headerTextSide === 'LEFT'
          ? headerConfiguration.headerText
          : ''
    }"
    [rightText]="{
      text:
        headerConfiguration.headerTextSide === 'RIGHT'
          ? headerConfiguration.headerText
          : ''
    }"
    [returnAble]="true"
    (agnosticAction)="
      headerConfiguration.headerTextSide === 'RIGHT'
        ? headerConfiguration.headerTextCallback()
        : null
    "
    [returnAble]="true"
  >
  </app-helper-headerv2>

  <form [formGroup]="reservationCreatorForm">
    <ng-container *ngIf="currentStep === 'USER_INFO'">
      <div class="body userInfo" formGroupName="userInfo">
        <h2>Para la Reservación:</h2>

        <label for="howManyReservations" class="input-label">
          ¿Cuál es tu Nombre?
        </label>
        <input
          class="input customWidth"
          type="text"
          min="1"
          formControlName="userName"
          placeholder="Escribe..."
        />

        <label for="howManyReservations" class="input-label">
          Cuál Es Tu Número De Whatsapp?
        </label>

        <div class="phone-input-wrapper" [ngStyle]="{ width: '86.89%' }">
          <ngx-intl-tel-input
            [cssClass]="'custom'"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [selectFirstCountry]="false"
            [preferredCountries]="preferredCountries"
            [selectedCountryISO]="CountryISO"
            maxLength="15"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [customPlaceholder]="'Escribe..'"
            [numberFormat]="PhoneNumberFormat.International"
            tabindex="-1"
            formControlName="whatsAppPhoneNumber"
          ></ngx-intl-tel-input>
        </div>
      </div>

      <app-sticky-button
        *ngIf="stickyButton"
        [mode]="stickyButton.mode"
        [text]="stickyButton.text"
        (click)="stickyButton.callback()"
        [bgColor]="'#2874AD'"
        [color]="'#fff'"
        [height]="'30px'"
        [fontSize]="'17px'"
      ></app-sticky-button>
    </ng-container>

    <ng-container *ngIf="currentStep === 'RESERVATION_CONVENIENCE'">
      <div
        class="body reservationConvenience"
        formGroupName="reservationConvenience"
      >
        <div class="calendar">
          <h3>DIA De {{ currentMonth?.name }}</h3>
          <app-short-calendar
            [allowUsersToChangeTheMonthShown]="true"
            [allowedDays]="calendarData?.limits?.inDays"
            (selectedDate)="rerenderAvailableHours($event)"
            (changedMonth)="updateMonth($event)"
            (beforeAnimation)="setDateAsNull()"
          ></app-short-calendar>
        </div>

        <div
          class="time-range-options-list"
          *ngIf="selectedDate && selectedDate.date"
        >
          <h3>Hora:</h3>

          <app-answer-selector
            [options]="timeRangeOptions"
            [blockIndexes]="hourRangesBlocked"
            [indicator]="true"
            [showDescription]="false"
            [containerStyles]="{
              margin: '0px'
            }"
            (onSelector)="setClickedDate($event)"
          ></app-answer-selector>
        </div>

        <div
          class="selectedReservation"
          *ngIf="selectedDate && selectedDate.filled"
        >
          <h3>Fecha reservada:</h3>

          <div class="reservation-wrapper">
            {{
              selectedDate.dayName.slice(0, 3) +
                ". " +
                selectedDate.dayOfTheMonthNumber +
                " de " +
                selectedDate.monthName.slice(0, 3) +
                ". de " +
                selectedDate.fromLabel +
                " a " +
                selectedDate.toLabel
            }}
          </div>
        </div>
      </div>


      
      <app-sticky-button
        *ngIf="selectedDate && selectedDate.filled"
        text="Continuar al resumen de la factura"
        [mode]="'fixed'"
        [bgColor]="'#2874AD'"
        [height]="'max-content'"
        [padding]="'8px 0px'"
        (click)="makeReservation()"
      ></app-sticky-button>
    </ng-container>
  </form>
</div>
