<div class="container">
<div class="header">
    <mat-icon>chevron_left</mat-icon>
    <p>Pagos de EmbajadorID</p>
</div> 
<div class="content">
    <app-card-image [paid]="true" title="KioskoId" paymentText="FechaId" barText="$50 de comisión pagada"></app-card-image>
    <app-card-image [paid]="true" title="KioskoId" paymentText="FechaId" barText="$50 de comisión pagada"></app-card-image>
    <app-card-image [paid]="true" title="KioskoId" paymentText="FechaId" barText="$50 de comisión pagada"></app-card-image>
    <app-card-image [paid]="true" title="KioskoId" paymentText="FechaId" barText="$50 de comisión pagada"></app-card-image>
</div>
</div>
