.btn {
  all: unset;
  cursor: pointer;
}
// .header {
//   display: grid;
//   grid-template-columns: repeat(12, minmax(0, 1fr));
//   background-color: #c1c4c1;
//   height: 48px;

//   p {
//     text-transform: capitalize;
//     margin: 0;
//     color: #293628;
//     font-size: 1rem;
//     font-family: SfProMedium;
//   }

//   button {
//     cursor: pointer;
//     background: none;
//     border: none;
//     img {
//       width: 20px;
//     }
//   }
// }
.container {
  min-height: 100vh;
  word-break: break-word;

  .section {
    margin-top: 5px;
    padding: 25px;

    .section-label {
      font-family: SfProLight;
      font-size: 14px;
      margin: 0;
      margin-bottom: 12px;
    }

    .item-image {
      cursor: pointer;
      width: 90px;
      height: 90px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .item-bold-caption {
      font-family: SfProBold;
      color: #000;
      font-size: 13px;
    }

    .item-caption {
      font-family: SfProMedium;
      color: #7b7b7b;
      font-size: 13px;
    }
    .caption {
      margin-left: 20px;
      width: 50%;
    }
    .section-content > :first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .section-content > :last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .questions {
      margin: 2px 0;
      padding: 20px;
      background-color: #fff;
      color: #7b7b7b;

      p {
        margin: 0;
      }
      .label {
        font-family: SfProMedium;
        font-size: 17px;
      }
      .answer {
        font-family: SfProLight;
        font-size: 16px;
        margin-top: 10px;
      }
    }

    .section-title {
      font-family: "RobotoMedium";
      font-size: 19px;
      color: #7b7b7b;
      margin: 0;
      margin-bottom: 10px;
      font-weight: normal;

      &.adminView {
        font-family: SfProLight;
        font-size: 13px;
        color: #272727;
        text-transform: uppercase;
      }
    }

    .items-container {
      background-color: #ffffff;
      padding: 10px 12px;
      align-items: center;

      .image-container {
        display: flex;
        column-gap: 8px;

        .image {
          // position: relative;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 86px;
          height: 86px;
          border-radius: 6px;
          transition: 0.2s;

          &:hover {
            opacity: 0.75;
            transition: 0.2s;
          }

          // .item-image {
          //   width: 86px;
          //   width: 86px;
          //   background-color: #e9e371;
          //   border-radius: 6px;
          //   -webkit-user-drag: none;
          //   object-fit: contain;
          // }
        }

        .video-wrapper {
          position: relative;
          width: 84px;
          height: 74px;
        }

        .video {
          all: unset;
          width: 84px;
          height: 74px;
          position: relative;
          cursor: pointer;

          .item-video {
            width: 86px;
            height: 74px;
            object-fit: fill;
            border-radius: 6px;
          }

          &::before {
            content: "\a";
            position: absolute;
            top: 20px;
            left: 30px;
            width: 40px;
            height: 32px;
            box-sizing: border-box;
            border-style: solid;
            border-width: 15px 0 15px 30px;
            border-color: transparent transparent transparent #ffffff;
            opacity: 1;
          }

          &:after {
            content: "\A";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            border-radius: 6px;
          }

          &:hover:after {
            opacity: 1;
          }
        }
      }

      .total {
        font-family: SfProMedium;
        font-size: 17px;
        color: #7b7b7b;
        margin: 0;
      }

      .amount {
        font-family: SfProRegular;
        font-size: 15px;
        color: #7b7b7b;
        text-transform: capitalize;
        margin: 0;
      }

      .address-name {
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #272727;
        margin: 0 8px 0;
        word-break: break-word;
      }

      .added {
        font-family: "SfProRegular";
        font-size: 14px;
        color: #272727;
        margin: 3px 8px 0;
      }
    }
  }
  .footer {
    position: relative;
    .footer-menu {
      position: absolute;
      z-index: 2;
      top: -52px;
      right: 20px;
      background-color: #272727;
    }

    .inner-wrapper-top {
      padding-top: 3px;
      background: #293628;

      .current-media-shown-indicators {
        // position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        max-width: 500px;
        background-color: white;
        display: grid;
      }

      .indicator {
        flex: 1;
        border-left: 1px solid black;
        border-right: 1px solid black;

        &.active {
          background-color: #82f18d;
        }
      }
    }

    .top-footer {
      background-color: #171d16;
      padding: 10px;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
    }
    .bottom-footer {
      background-color: #6fcf97;
      color: #171d16;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .input-image-container {
    margin-top: 20px;

    .image {
      cursor: pointer;
      width: 110px;
      height: 140px;
      border-radius: 15px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .delivery-image-caption {
      text-align: center;
      color: #7b7b7b;
      font-family: SfProDisplayBold;
      font-size: 15px;
      width: 110px;
      margin: 10px 0 0 0;
    }
  }
}

// .float-paginator {
//   width: 100%;
//   max-width: 500px;
//   position: fixed;
//   top: auto;
//   bottom: 60%;
//   z-index: 100;

//   .button {
//     cursor: pointer;
//     width: 30px;
//     height: 50px;
//     background-color: #293628;
//     position: absolute;
//     display: flex;
//     align-items: center;
//     img {
//       width: 10px;
//       filter: brightness(0) invert(81%) sepia(41%) saturate(529%) hue-rotate(66deg) brightness(104%) contrast(89%);
//     }
//   }
// }

// .left {
//   border-radius: 0 100% 100% 0px;
//   left: 0px;
//   justify-content: end;
//   padding-right: 10px;
// }

// .right {
//   border-radius: 100% 0 0 100%;
//   right: 0px;
//   justify-content: start;
//   padding-left: 10px;

//   img {
//     transform: rotate(180deg);
//   }
// }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gray-out {
  color: #7b7b7b;
}

.capitalize {
  text-transform: capitalize;
}

.featured-cta {
  cursor: pointer;
  color: #fed230;
  font-family: SfProBold;
  font-size: 17px;
}

.link-button {
  cursor: pointer;
  text-align: left;
  color: #2874ad;
  border: 0;
  background: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.status {
  background-color: #936105;
  color: #fff;
  font-family: SfProSemiBold;
  font-size: 1.063rem;
  padding: 7px 12px;
  border-radius: 8px;
  text-align: center;

  &.btn {
    cursor: pointer;
  }

  &.confirmed {
    background-color: #6fcf97;
    color: #293628;
    cursor: pointer;
  }
}

.right {
  .top-flex {
    display: flex;
    align-items: center;
    .left-text,
    .right-text {
      margin: 0;
      color: #7b7b7b;
      font-family: SFProBold;
    }
    .right-text {
      margin-left: auto;
    }
  }
  .grey {
    margin-top: 7.5px;
    width: 80%;
    color: #7b7b7b;
    font-size: 13px;
    font-family: SFProMedium;
  }
}
.chip-list {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 8px;
}
.chip {
  font-family: SfProSemiBold;
  font-size: 1rem;
  background-color: #171d16;
  border: solid 1px #2d4b36;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  white-space: nowrap;
  user-select: none;

  &.selected {
    background-color: #2d4b36;
  }
}
button.chip {
  cursor: pointer;
  user-select: auto;
}
.benefits {
  font-family: SfProLight;
  white-space: nowrap;
  font-size: 1rem;
}
.payment-info {
  text-align: center;

  > span {
    font-family: SfProBold;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
    color: #7b7b7b;
  }
}
.contact-button {
  background-color: #fff;
  width: 100%;
  height: 48px;
}
.question {
  border-radius: 7px;
  padding: 8px;

  .top-text {
    color: #7b7b7b;
    font-family: SFProMedium;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  .bottom-text {
    margin: 0;
    margin-top: 12.5px;
    color: #7b7b7b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.question-img-wrapper {
  display: flex;
  flex-direction: column;

  .image {
    margin-top: 12.5px;
    width: 86px;
    height: 86px;
    border-radius: 6px;

    &:hover {
      cursor: pointer;
    }
  }

  .bottom-label {
    margin-top: 5px;
    color: #7b7b7b;
    font-size: 13px;
    font-family: SfProBold;
  }
}
.webform-question-wrapper {
  border-top: solid 2px #f6f6f6;
}
.user-pfp {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.order-info {
  background-color: #fff;
  border-top: solid 2px #e8e8e8;
  padding: 10px 20px;
  color: #7b7b7b;
  font-size: 15px;

  div {
    display: flex;
    justify-content: space-between;
  }
}
