<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
<div class="container">
  <div class="title">
    {{data.title}}
  </div>
  <div class="option" *ngFor="let option of data.options; let i = index">
    <p class="role" (click)="onClick(i)" [ngClass]="{'active' : option.active}">{{option.value}}</p>
    <mat-icon *ngIf="!option.noSettings" class="material-icons-outlined" (click)="goToMerchantEditor()">settings</mat-icon>
  </div>
  <div class="flex space-between">
    <div 
      class="cancel"
      (click)="bottomLeftClick()"
    > {{data.bottomLeft.text}}</div>
    <div 
      class="signout"
      (click)="signout()"
    > Sign out</div>
  </div>
</div>