::ng-deep .cdk-global-overlay-wrapper {
    background-color: rgba($color: white, $alpha: 0.7);
}
::ng-deep .cdk-overlay-pane {
    max-width: 95vw !important;
}
::ng-deep .mat-dialog-container {
    padding: 0px;
    background-color: #181D17;
    max-width: 480px !important;
    margin: auto;
}
.container {
    padding: 39px 42px 39px 26px;
    .title {
        color: #FFF;
        font-family: InterBold;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 7px;
        max-width: 310px;
    }
    .role {
        color: #FFF;
        font-family: InterRegular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 21px;
        max-width: 322px;
        padding-left: 12px;
        border-left: 3px solid #87CD9B;
    }
    .flex {
        display: flex;
        margin-top: 25px;
    }
    .space-between {
        justify-content: space-between;
    }
    .cancel {
        color: #C4C5C3;
        font-family: InterRegular;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .signout {
        color: #C4C5C3;
        font-family: InterRegular;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}