<div class="container">
  <header>
    <div>
      <button mat-icon-button>
        <img
          [src]="env + '/arrow-double-up-black.svg'"
          alt="back"
          (click)="returnEvent()"
        />
      </button>
      <p>Progresos</p>
    </div>
    <!-- <button class="add" mat-icon-button>+</button> -->
    <!-- Comentado porque no hace nada -->
  </header>

  <div class="content">
    <div
      class="chip-list"
      #elemt
      (mousedown)="startDragging($event, elemt)"
      (mouseup)="stopDragging()"
      (mouseleave)="stopDragging()"
      (mousemove)="moveEvent($event, elemt)"
    >
      <button
        class="chip"
        *ngFor="let stts of statusList"
        [ngClass]="{ 'chip-selected': status === stts }"
        (click)="setStatus(stts)"
      >
        {{ orderDeliveryStatus(stts) }}
      </button>
    </div>
    <form [formGroup]="notificationForm">
      <!-- <p class="label"></p> -->
      <mat-form-field class="field-container" style="margin-bottom: 32px">
        <mat-label>Nombre del Tag</mat-label>
        <textarea
          matInput
          name="message"
          id="input-form"
          placeholder="Escribe el mensaje.."
          formControlName="name"
        ></textarea>
        <mat-error *ngIf="notificationForm.get('name').invalid">
          {{ getNameError() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field-container">
        <mat-label>Plantilla del Mensaje</mat-label>
        <textarea
          matInput
          name="message"
          id="input-form"
          placeholder="Escribe el mensaje.."
          formControlName="message"
        ></textarea>
        <mat-error *ngIf="notificationForm.get('message').invalid">
          {{ getMessageError() }}
        </mat-error>
      </mat-form-field>
      <p class="post-label">
        La palabra “comprador“ se sustituye por el nombre del cliente de la
        factura.
      </p>
    </form>

    <div class="description">
      <p class="description-title">Como funciona?</p>
      <p class="description-text">
        Cuando marques este progreso en una factura, recibirás un enlace por
        WhatsApp.
      </p>
      <p class="description-text">
        Al tocar el enlace, se abrirá esta plantilla pre-guardada con el mensaje
        de progreso en tu WhatsApp, listo para enviar al comprador.
      </p>
      <p class="description-text">
        Así, el cliente recibe el estatus directamente de ti, no de la
        plataforma.
      </p>
    </div>
  </div>

  <!-- <button
    mat-button
    class="main-cta"
    [disabled]="notificationText === ''"
    (click)="save()"
  >
    {{ !notification ? "Salva el mensaje" : "Actualiza el mensaje" }}
  </button> -->
</div>
