<ng-container *ngIf="!loading else loadingScreen">
    <app-multistep-form
        [steps]="formSteps" 
        [disableSmoothScroll]="false" 
        [scrollableForm]="scrollableForm"
        [showStepNumbers]="false"
        [usesGoogleMaps]="true"
        (paramsRef)="storeParams($event)"
    ></app-multistep-form>
</ng-container>
<ng-template #loadingScreen>
    <app-loading-screen
        [backgroundColor]="'rgb(250, 164, 164)'"
        [logo]="logo"
        [title]="'Heavenly Balloons'"
        [titleStyles]="{
            fontFamily: 'RobotoBold',
            color: '#fff'
        }"
    ></app-loading-screen>
</ng-template>