<div class="container">
    <button class="header">
        <img class="icon" [src]="environment + '/arrow-double-up.svg'">
        <p class="title">Collections</p>
    </button>
    <div class="margin flex">
        <section class="optional flex">
            <div class="top flex">
                <button><img class="optImg" src="" alt=""></button>
                <p class="title">¡Regala un arreglo floral con globos! ¡Sorprende a alguien especial.</p>
            </div>
            <p class="description">Felicidades en tu graduación! Este es un gran logro y estoy muy orgulloso de ti. No puedo creer cómo has crecido y madurado.<br><br>
                Espero que disfrutes cada momento de esta etapa y que sigas alcanzando grandes cosas en el futuro. ¡Te quiero mucho!</p>
        </section>
        <section class="productGrid">
            <div *ngFor = "let item of items">
                <app-general-item></app-general-item>
            </div>
        </section>
    </div>
    <app-bubble-button
        [position]= "'minir'" 
        [color] = "'black'" 
        [solo]="false" 
        [cart]="true" 
        [cartAmount]="1">
    </app-bubble-button>
    <app-gradient-footer [uploadIcon] = "true"></app-gradient-footer>
</div>
