.component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer {
  background-color: #2874AD;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  justify-content: flex-end;
  padding: 4px 20px;
  align-items: center;
  color: white;
}