.component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer {
  background-color: #2874AD;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  justify-content: flex-end;
  padding: 4px 20px;
  align-items: center;
  color: white;
}