<div class="container">
  <header class="header">
    <img
      [src]="env + '/arrow-double-up-black.svg'"
      alt="arrows"
      class="arrows"
    />
    <button class="right">Preview</button>
    <button class="hide">Inactivo</button>
  </header>
  <div
    *ngFor="let question of webform.questions"
    class="content"
    style="margin-top: 10px"
  >
    <ng-container [ngSwitch]="question.type">
      <app-router-options
        *ngSwitchCase="'multiple'"
        [title]="question.value"
        [options]="question.answers"
      ></app-router-options>
      <app-link-card
        *ngSwitchDefault
        [title]="question.value + ', ' + question.type"
        [text]="question.total"
      ></app-link-card>
    </ng-container>
  </div>
  <div class="content" style="margin-top: 10px">
    <app-images-card></app-images-card>
  </div>
  <div style="position: fixed; bottom: 50px">
    <app-menu-button mode="array"></app-menu-button>
  </div>
</div>
