.container {
	min-height: 100vh;
	.item-info {
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;

		.description {
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
			background-color: #ffffff;
			padding: 24px 32px;
			border: 1px solid #c5c5c5;

			.title-name {
				font-family: "RobotoBold";
				font-size: 22px;
				color: #174b72;
				margin: 0;
				margin-bottom: 10px;
			}
			p {
				font-family: "SfProRegular";
				font-size: 17px;
				color: #0b1f38;
				margin: 0;
			}
		}

		.grey-box {
			width: 90%;
			height: 250px;
			border-radius: 18px;
			background-color: rgba(189, 189, 189, 17%);
			padding: 39px 20px 0 44px;
			margin: 25px auto 19px;

			.title {
				font-family: "NeueMontreal";
				font-size: 27px;
				font-weight: bold;
				color: #000000;
				margin: 0;
			}
		}
		.no-description {
			width: 100%;

			.title {
				font-family: "RobotoBold";
				font-size: 22px;
				color: #174b72;
				margin: 17.1px 32px 7px;
			}
		}

		.item-price {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 8px 32px;

			.title-name {
				font-family: "SfProMedium";
				font-size: 19px;
				color: #4f4f4f;
				font-weight: normal;
			}

			.title-name {
				font-family: "SfProMedium";
				font-size: 19px;
				color: #4f4f4f;
				margin: 0;
			}

			.wrapper {
				display: flex;
				justify-content: space-around;
				align-items: center;

				.vale {
					font-family: "SfProLight";
					font-size: 17px;
					color: #4f4f4f;
				}

				.price {
					font-family: "SfProLight";
					font-size: 17px;
					color: #4f4f4f;
					margin: 0 0 0 5px;
					font-weight: normal;
				}
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			padding: 26px;

			.includes {
				font-family: "SfProRegular";
				font-size: 17px;
				color: #7b7b7b;
			}

			ul {
				margin: 0;
				padding: 0;
			}

			.list-content {
				font-family: "SfProBold";
				font-size: 28px;
				color: #3f3f3f;
				margin: 0;
				list-style: none;
			}
		}
	}
}
.fullScreenSwiper {
	position: relative;
	font-family: "Roboto";
	background-color: transparent;
	& .shadowWrapper {
      background-color: transparent;
      & .item {
         height: 300px;
         width: 100%;
         max-width: 500px;
         padding-bottom: 300px;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         box-shadow: 0px 12px 24px -10px #999;
         -webkit-box-shadow: 0px 12px 24px -10px #999;
         -moz-box-shadow: 0px 12px 24px -10px #999;
         cursor: pointer;
   
         &:hover {
            opacity: 0.75;
         }
      }
	}
	& .customPagination {
		position: relative;
		width: 100%;
		max-width: 500px;
		height: 10px;
		display: flex;
		gap: 10px;
		margin-top: 27px;
		justify-content: center;
		margin-bottom: 36px;
		& .pageBall {
			height: 10px;
			width: 10px;
			border-radius: 100%;
		}
	}
	.swiper-button {
		all: unset;
		position: absolute;
		top: 8px;
		right: 14px;
		padding: 9px 11px;
		background-color: #ffffff;
		border-radius: 50%;
		cursor: pointer;
		z-index: 2;
		box-shadow: 0px 3px 6px 3px rgb(0 0 0 / 10%);
	}
	.text {
		padding-left: 28px;
		padding-right: 28px;
		font-size: 17px;
		color: #272727;
	}
}
.nonswiper-button {
	all: unset;
	padding: 9px 11px;
	background-color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	color: #2874ad;
	border: solid 1px #2874ad;
	display: flex;
	align-items: flex-end;
	gap: 8px;
	margin-top: 25px;

	transition: all 0.2s;

	img {
		filter: invert(35%) sepia(72%) saturate(451%) hue-rotate(163deg) brightness(80%) contrast(104%);
	}

	&:hover,
	&:active {
		color: #ffffff;
		background-color: #2874ad;
		border: solid 1px #fff;
		outline: solid 1px #2874ad;
		transition: all 0.2s;
		img {
			filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(0%) hue-rotate(289deg) brightness(102%)
				contrast(103%);
		}
	}
}

.blank-space {
   width: 100%;
   height: 40px;
}
@media (max-width: 420px) {
	.fullScreenSwiper {
		.item {
			height: 250px;
			padding-bottom: 250px;
		}
	}
}
.params-label {
	font-size: 1rem;
	font-family: RobotoMedium;
	color: #7b7b7b;
	margin-bottom: 16px;
	display: inline-block;
}
.item-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}
