<ng-container *ngIf="itemData">
    <div class="container">
        <div style="position: sticky; top: 0; z-index: 2;">
        <app-helper-headerv2
            [mode]="'basic'"
            [mainText]="{
                text: itemData ? itemData.merchant?.name : 'TIENDA NAME ID',
                fontSize: '21px,'
            }"
            [returnAble]="true"
            [icons]="[{
                src: '/person.svg',
                color: 'invert(100%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(155%) contrast(100%)',
                callback: tapping
            },{
                src: '/whatsapp_blanco.svg',
                color: 'invert(10%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(105%) contrast(100%)',
                callback: tapping
            },{
                src: '/upload.svg',
                color: 'invert(100%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(155%) contrast(100%)',
                callback: tapping
            }]"
            cartColor="blue"

            [color]="'#FFF'"
            filter="invert(100%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(105%) contrast(100%)"
            (returnEvent)="back()"
        ></app-helper-headerv2>
        </div>
        <div class="item-info" *ngIf="itemData">
            <div class="description" *ngIf="itemData.description">
                <h2 class="title-name" *ngIf="itemData.name && itemData.images?.length">
                    {{itemData.name}}
                </h2>
                <p>{{itemData.description}}</p>
            </div>
            <div *ngIf="itemData.name && (!itemData.images || !itemData.images?.length)">
                <div class="grey-box">
                    <h3 class="title">{{itemData.name}}</h3>
                </div>
            </div>
            <div class="fullScreenSwiper" *ngIf="itemData.images?.length">
                <div class="shadowWrapper">
                    <swiper [config]="swiperConfig">
                    <div
                        *ngFor="let item of itemData.images; let i = index"
                        (click)="openImageModal(item)"
                        class="item"
                        [ngStyle]="{ 'background-image': 'url(' + item + ')' }"
                    ></div>
                  </swiper>
                </div>
            </div>
            <div class="no-description" *ngIf="itemData.name && !itemData.description && itemData.images">
                <h3 class="title">{{itemData.name}}</h3>
            </div>
            <div *ngIf="itemData.pricing" class="item-price">
                <span class="vale">Vale</span>
                <h4 class="price">${{itemData.pricing | number}}</h4>
            </div>
            <div class="client-submit-area">
                <button class="action-btn" [ngClass]="{'yellow': !inCart, 'blue': inCart}" (click)="onCartClick()">
                    {{inCart ? 'En el carrito ' : 'Adicionar al carrito '}}<span><img src="{{ env }}/carrito_blanco.svg" alt=""></span>
                </button>
                <!-- <button class="side-btn"><img src="{{ env }}/bookmark-plus.svg" alt=""></button> -->
            </div>
            <ng-container *ngIf="itemData.content?.length">
                <hr class="divider">
                <div class="content">
                    <span class="includes">Incluye:</span>
                    <ul>
                        <li *ngFor="let content of itemData.content; index as i" class="list-content">
                            - {{content}}
                        </li>
                    </ul>
                </div>
            </ng-container>
        </div>
        <!-- <app-bubble-button [position]="'mini'" [icon]="'/bookmarks.svg'" [color]="'blue'"></app-bubble-button> -->
        <!-- <app-bubble-button (click)="back()" [position]="'left'" [return]="true" [color]="'blue'"></app-bubble-button> 11/07-->
        <!-- <app-bubble-button (click)="openShareDialog()" [position]="(itemCartAmount > 0) ? 'minir' : 'right'" [icon]="'/upload.svg'" [color]="'blue'" 11/07></app-bubble-button> -->
        <app-bubble-button (click)="showItems()" [cart]="true" [cartAmount]="itemCartAmount"  [custom]="{width: 91, height: 91, right: '20px', left: 'auto'}" [solo]="false" [color]="'blue'" [lcmargin]="'0'" *ngIf="itemCartAmount > 0"></app-bubble-button>
        <app-sticky-button
        [text]="'MIRA Y COMPARTE LO GUARDADO PARA $'"
        [mode]="'fixed'"
        size="small"
        bgColor="#2874AD"
        ></app-sticky-button>
    </div>
</ng-container>