<!-- <app-threejs-canvas></app-threejs-canvas> -->
<!-- <app-multistep-form></app-multistep-form> -->
<!-- <app-saleflow-item
[price]="50"
[income]="5000"
[quantity]="'100'"
[index2]="1"
[index1]="10"
[showIcon]="true"
></app-saleflow-item> -->
<!--
    <button (click)="openDialog()">Abrir el dialog</button>
-->
<!-- <app-magic-link-dialog></app-magic-link-dialog> 
   <app-short-calendar></app-short-calendar>-->
<!-- <button (click)="blehblehbleh()">Dialog de prueba</button> -->
<!-- <button (click)="reloadDialog()">Abrir el dialog</button> -->
<!-- <app-short-calendar></app-short-calendar>
      <div style="display: flex;
gap: 5px;
flex-direction: column;">
    <app-one-line-item
        *ngFor="let item of ['','','']"
        [leftCTA]="{
            text: 'visitante Name',
            color: '#0000ff',
            icon: {
                src: '/person.svg',
                filter: 'invert(10%) sepia(75%) saturate(7494%) hue-rotate(245deg) brightness(90%) contrast(149%)',
                size: {
                    width: 15,
                    height: 19
                }
            }
        }"
        [rightCTA]="{
            text: 'respuEstas',
            color: '#ff0000'
        }"
    ></app-one-line-item>
</div> -->

<!-- <div style="width: 100%; height: 450px; background-color: #fff;"> -->
<!-- <app-form-questions
    [questions]="questions"
    ></app-form-questions> -->

<!-- <app-single-item-list *ngFor="let item of tagTest; index as i"
    [tag]="item"
    (singleItem)="touched()"
    ></app-single-item-list>   
</div> -->
<!-- <app-magic-link-dialog></app-magic-link-dialog> -->

<!-- <app-sticky-button
    [backButton]="true"
    [mode]="'fixed'"
    [text]="'28 Visitantes en total'"
></app-sticky-button> -->

<!-- <app-helper-headerv2
[mode]="'center'"
[mainText]="{
    text: 'Foto Davitte Inc.',
    fontFamily: 'SfProBold',
    fontSize: '21px'
}"
[plus]="{
    active: true
}"
[icons]=" [{
    src: '/upload.svg',
    color: 'invert(100%) sepia(0%) saturate(1%) hue-rotate(342deg) brightness(175%) contrast(101%)',
    callback: testing
},{
    src: '/pencil.svg',
    color: 'invert(100%) sepia(0%) saturate(1%) hue-rotate(342deg) brightness(275%) contrast(101%)',
    callback: testing
}]"
(displaying)="displau()"
></app-helper-headerv2> -->

<!-- <app-question-item
    [single]="false"
    [headline]="'Esto es una prueba'"
    [data]="[{
        date: '25/10/2022',
        question: '¿Que es lo que mas te gusta?',
        answer:'Pizzas'
    }]"
    ></app-question-item>
 -->
<!-- <app-gallery-displayer
[headline]="{
    text:'Escenario de prueba',
    icon: {
        src: '/pencil.svg',
        width: 25,
        height: 25
    }
}"
[imagesGallery]="testItem"
></app-gallery-displayer>

<app-enlist-display
[headline]="{
    icon:{
        src: '/person.svg',
        width: 22,
        height: 22
    },
    text:{
        text:'late night talking'
    }
}"
[iconText]="{
    texts:[{
        text: 'lmao'
        }],
    icons:[{
        src:'/upload.svg',
        width: 22,
        height: 22
    },{
        src:'/pencil.svg',
        width: 22,
        height: 22
    }]
}"
[itemList]="testItem"
[showSubtitle]="true"
[textArray]="[{
    text: 'ingreso'
},{
    text: 'compras'
},{
    text: 'facturas'
},{
    text: 'reservaciones'
}]"
></app-enlist-display> -->

<!-- <app-item-reservation
[headline]="{
    text: 'Prueba'
}"
[subheadlines]="[{
    text:'Order ID'
},{ text:'Status ID'}]"
[rightActive]="true"
[rightSubHeadline]="{
    text:'right-subheadline'
}"
[icon]="[{
    src: '/person.svg',
    width: 15,
    height: 19
},{
    src: '/pencil.svg',
    width: 15,
    height: 19
}]"
[ctaText]="{
    text:{text:'Mas'},
    arrow: false
}"
[tagActive]="true"
[tag]="{
    title:{
        text: 'TAGS'
    },
    tags:[{
        name:'Tag ID',
        icon:{
            src:'/whatsapp_verde.svg'
        }
    },{
        name:'Tag ID'
    },{
        name:'Tag ID',
        icon:{
            src:'/whatsapp_verde.svg'
        }
    },],
    icon:{
        src:'/pencil.svg',
        width: 15,
        height: 15
    }
}"
></app-item-reservation> -->
<!-- [content]="{
    title:{
        text:' este es el titulo'
    },
    images:['https://i.imgur.com/xEhQi8j.jpeg','https://i.imgur.com/xEhQi8j.jpeg','https://i.imgur.com/xEhQi8j.jpeg','https://i.imgur.com/xEhQi8j.jpeg']
}" -->

<!-- <app-answer-selector
    [options]="actionList"
    [indicator]="true"
    [showDescription]="false"
    [containerStyles]="{
        margin: '0px',
        paddingBottom: '16px',
        borderBottom: '1px solid rgba(112, 112, 112, 0.49)'
    }"
></app-answer-selector>

<app-question-item
headline="EXPUESTO EN TAB (S)"
[headlineContainerStyles]="{
    justifyContent: 'flex-start'
}"
[headlineTitleStyles]="{
    marginLeft: '10px'
}"
[headlineRightTextStyles]="{
    color: 'blue',
    marginLeft: 'auto'
}"
[headlineLeftIcon]="{
    icon: 'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/whatsapp_verde.svg',
    width: 30,
    height: 30
}"
[headlineRightText]="{
    text: 'MAS',
    color: 'darkblue',
    fontSize: '1rem',
    fontFamily: 'Roboto'
}"
[tagListTextStyles]="{
    marginRight: '5px'
}"
[tagListStyles]="{
    marginTop: '15px'
}"
[chipMode]="2"
[collapseTags]="false"
[tags]="onlyTags"
></app-question-item> -->
<!--<app-multistep-form></app-multistep-form> -->
<!--
    <app-reservation-orderless
      [calendarId]="'62eade2619ae079e9283f352'"
      [hourRangeInDays]="hourRangeInDays"
    ></app-reservation-orderless>
-->

<!--
    <app-multistep-form
      [steps]="formSteps"
      [disableSmoothScroll]="false"
      [scrollableForm]="true"
      [showStepNumbers]="false"
      [usesGoogleMaps]="true"
    ></app-multistep-form>
-->

<!-- <app-anexo-landing
[textContainer]="{
    position: 'relative',
    top: '5px'
}"
[contentStyles]="{
    background: '#f24940',
    height: '348px'
}"
[headlineStyles]="{
    fontFamily: 'SfProLight',
    fontSize: '16px',
    marginTop: '0px',
    marginBottom: '0px',
    color: '#fff'
}"
[imageStyles]="{
    height: '217.84px',
    width: '136.35px',
    transform: 'rotate(-2deg)',
    top: '10px',
    left: '-27px',
    zIndex: '3'
}"
[image2Styles]="{
    height: '179.27px',
    width: '112.01px',
    transform: 'rotate(8deg)',
    top: '51px',
    left: '93px',
    zIndex: '2'
}"
[footerStyles]="{
    position: 'relative',
    top: '37px',
    borderRadius: '10px',
    width: '190px',
    background: 'rgb(246, 246, 246)',
    margin: 'auto',
    color: 'rgb(39, 39, 39)',
    fontFamily: 'SfProLight',
    fontSize: '15px',
    zIndex: '4'
}"
[footerTexts]="[
    'Aumenta la frecuencia de',
    'las compras de tus clientes'
]"
></app-anexo-landing>
<app-anexo-landing
[headlines]="[
    'Automatiza las ventas del'
]"
[headlineStyles]="{
    fontFamily: 'SfProLight',
    fontSize: '16px',
    marginTop: '0px',
    marginBottom: '0px',
    color: '#fff'
}"
[subHeadlines]="[
    'WhatsApp e Instagram'
]"
[imageStyles]="{
    height: '173.84px',
    transform: 'rotate(-2deg)',
    top: '7px',
    width: '108.81px',
    left: '-18px',
    zIndex: '1'
}"
[image2Styles]="{
    height: '124px',
    width: '127px',
    left: '38%',
    transform: 'rotate(3deg)',
    zIndex: '2',
    top: '7px'
}"
[footerStyles]="{
    position: 'relative',
    top: '17px',
    borderRadius: '10px',
    width: '190px',
    background: 'rgb(246, 246, 246)',
    margin: 'auto',
    color: 'rgb(39, 39, 39)',
    fontFamily: 'SfProLight',
    fontSize: '14px',
    padding: '8px 13px'
}"
[footerTexts]="[
    'Respuestas rapidas ahorran',
    'tiempo y venden mas.'
]"
></app-anexo-landing> -->

<!--
    <button (click)="openDialog()">ver links</button>
-->

<div
  [ngStyle]="{
    width: '194.06px',
    height: '238.43px'
  }"
>
  <app-general-item
    [item]="item"
    [entity]="'ITEM'"
    [mainColor]="'#ffffff'"
    [textColor]="'#000'"
    [viewsCounterStyles]="{
      color: '#000'
    }"
    [showPrice]="true"
    [priceLabel]="'Desde '"
    [singleIconStyles]="{
      marginRight: '6.1px'
    }"
    [showIconForTagStatus]="
      item.status === 'disabled' || item.status === 'featured'
    "
    [statusIcon]="
      'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/heart.svg'
    "
    [statusIconLabel]="'save n’ win'"
    [showIconForItemStatus]="true"
    [showVisitorCounter]="false"
    [titleStyles]="{
      display: '-webkit-box',
      '-webkit-line-clamp': 1,
      'line-clamp': 1,
      '-webkit-box-orient': 'vertical',
      overflow: 'hidden',
      'word-break': 'break-all'
    }"
    [topInnerButtonStyles]="{
      backgroundColor: item.status !== 'disabled' ? '#272727' : '#b17608'
    }"
  >
  </app-general-item>
</div>

<div
  [ngStyle]="{
    width: '194.06px',
    height: '238.43px'
  }"
>
  <app-general-item
    [item]="item"
    [entity]="'ITEM'"
    [mainColor]="'#ffffff'"
    [textColor]="'#fff'"
    [showIconForTagStatus]="
      item.status === 'disabled' || item.status === 'featured'
    "
    [iconsRowsStyles]="{ width: '100%', marginBottom: '0px' }"
    [topRightButton]="optionsButton"
    [showPrice]="true"
    [singleIconStyles]="{
      filter:
        'invert(95%) sepia(100%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(104%)',
      marginLeft: 'auto'
    }"
    [statusIcon]="
      'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/closed-eye-black.svg'
    "
    [statusIconLabel]="item.pricing | currency"
    [statusIconLabelStyles]="{
      fontFamily: 'SfProBold',
      fontSize: '14px'
    }"
    [statusIconLabelSide]="'LEFT'"
    [showIconForItemStatus]="true"
    [showVisitorCounter]="false"
    [hideCardTitle]="true"
    [showPrice]="false"
    [itemPresentationBoxStyles]="{
      backgroundColor: '#B17608',
      borderRadius: '0px 0px 15px 15px',
      padding: '5.3px 12.1px 9px 10.2px'
    }"
    [innerWrapperStyles]="{
      padding: '9px 0px 0px 0px'
    }"
  >
  </app-general-item>
</div>

<div
  [ngStyle]="{
    width: '396.88px',
    height: '487.6px'
  }"
>
  <app-general-item
    [item]="item"
    [entity]="'ITEM'"
    [mainColor]="'#ffffff'"
    [textColor]="'#000'"
    [viewsCounterStyles]="{
      color: '#000'
    }"
    [showPrice]="true"
    [priceLabel]="'Desde '"
    [singleIconStyles]="{
      marginRight: '6.1px'
    }"
    [showIconForTagStatus]="
      item.status === 'disabled' || item.status === 'featured'
    "
    [statusIcon]="
      'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/heart.svg'
    "
    [statusIconLabel]="'save n’ win'"
    [showIconForItemStatus]="true"
    [showVisitorCounter]="false"
    [titleStyles]="{
      display: '-webkit-box',
      '-webkit-line-clamp': 1,
      'line-clamp': 1,
      '-webkit-box-orient': 'vertical',
      overflow: 'hidden',
      'word-break': 'break-all'
    }"
    [topInnerButtonStyles]="{
      backgroundColor: item.status !== 'disabled' ? '#272727' : '#b17608'
    }"
  >
  </app-general-item>
</div>
