<!-- <app-threejs-canvas></app-threejs-canvas> -->
<!-- <app-multistep-form></app-multistep-form> -->
<!-- <app-saleflow-item
[price]="50"
[income]="5000"
[quantity]="'100'"
[index2]="1"
[index1]="10"
[showIcon]="true"
></app-saleflow-item> -->
<!--
    <button (click)="openDialog()">Abrir el dialog</button>
-->
<!-- <app-magic-link-dialog></app-magic-link-dialog> 
   <app-short-calendar></app-short-calendar>-->
<!-- <button (click)="reloadDialog()">Abrir el dialog</button> -->
<!-- <app-short-calendar></app-short-calendar>
      <div style="display: flex;
gap: 5px;
flex-direction: column;">
    <app-one-line-item
        *ngFor="let item of ['','','']"
        [leftCTA]="{
            text: 'visitante Name',
            color: '#0000ff',
            icon: {
                src: '/person.svg',
                filter: 'invert(10%) sepia(75%) saturate(7494%) hue-rotate(245deg) brightness(90%) contrast(149%)',
                size: {
                    width: 15,
                    height: 19
                }
            }
        }"
        [rightCTA]="{
            text: 'respuEstas',
            color: '#ff0000'
        }"
    ></app-one-line-item>
</div> -->

<!-- <div style="width: 100%; height: 450px; background-color: #fff;"> -->
<!-- <app-form-questions
    [questions]="questions"
    ></app-form-questions> -->

<!-- <app-single-item-list *ngFor="let item of tagTest; index as i"
    [tag]="item"
    (singleItem)="touched()"
    ></app-single-item-list>   
</div> -->
<!-- <app-magic-link-dialog></app-magic-link-dialog> -->

<!-- <app-sticky-button
    [backButton]="true"
    [mode]="'fixed'"
    [text]="'28 Visitantes en total'"
></app-sticky-button> -->

<!-- <app-helper-headerv2
[mode]="'center'"
[mainText]="{
    text: 'Foto Davitte Inc.',
    fontFamily: 'SfProBold',
    fontSize: '21px'
}"
[plus]="{
    active: true
}"
[icons]=" [{
    src: '/upload.svg',
    color: 'invert(100%) sepia(0%) saturate(1%) hue-rotate(342deg) brightness(175%) contrast(101%)',
    callback: testing
},{
    src: '/pencil.svg',
    color: 'invert(100%) sepia(0%) saturate(1%) hue-rotate(342deg) brightness(275%) contrast(101%)',
    callback: testing
}]"
(displaying)="displau()"
></app-helper-headerv2> -->

<!-- <app-question-item
    [single]="false"
    [headline]="'Esto es una prueba'"
    [data]="[{
        date: '25/10/2022',
        question: '¿Que es lo que mas te gusta?',
        answer:'Pizzas'
    }]"
    ></app-question-item>
 -->
<!-- <app-gallery-displayer
[headline]="{
    text:'Escenario de prueba',
    icon: {
        src: '/pencil.svg',
        width: 25,
        height: 25
    }
}"
[imagesGallery]="testItem"
></app-gallery-displayer>

<app-enlist-display
[headline]="{
    icon:{
        src: '/person.svg',
        width: 22,
        height: 22
    },
    text:{
        text:'late night talking'
    }
}"
[iconText]="{
    texts:[{
        text: 'lmao'
        }],
    icons:[{
        src:'/upload.svg',
        width: 22,
        height: 22
    },{
        src:'/pencil.svg',
        width: 22,
        height: 22
    }]
}"
[itemList]="testItem"
[showSubtitle]="true"
[textArray]="[{
    text: 'ingreso'
},{
    text: 'compras'
},{
    text: 'facturas'
},{
    text: 'reservaciones'
}]"
></app-enlist-display> -->

<!-- <app-item-reservation
[headline]="{
    text: 'Prueba'
}"
[subheadlines]="[{
    text:'Order ID'
},{ text:'Status ID'}]"
[rightActive]="true"
[rightSubHeadline]="{
    text:'right-subheadline'
}"
[icon]="[{
    src: '/person.svg',
    width: 15,
    height: 19
},{
    src: '/pencil.svg',
    width: 15,
    height: 19
}]"
[ctaText]="{
    text:{text:'Mas'},
    arrow: false
}"
[tagActive]="true"
[tag]="{
    title:{
        text: 'TAGS'
    },
    tags:[{
        name:'Tag ID',
        icon:{
            src:'/whatsapp_verde.svg'
        }
    },{
        name:'Tag ID'
    },{
        name:'Tag ID',
        icon:{
            src:'/whatsapp_verde.svg'
        }
    },],
    icon:{
        src:'/pencil.svg',
        width: 15,
        height: 15
    }
}"
></app-item-reservation> -->
<!-- [content]="{
    title:{
        text:' este es el titulo'
    },
    images:['https://i.imgur.com/xEhQi8j.jpeg','https://i.imgur.com/xEhQi8j.jpeg','https://i.imgur.com/xEhQi8j.jpeg','https://i.imgur.com/xEhQi8j.jpeg']
}" -->

<!-- <app-answer-selector
    [options]="actionList"
    [indicator]="true"
    [showDescription]="false"
    [containerStyles]="{
        margin: '0px',
        paddingBottom: '16px',
        borderBottom: '1px solid rgba(112, 112, 112, 0.49)'
    }"
></app-answer-selector>

<app-question-item
headline="EXPUESTO EN TAB (S)"
[headlineContainerStyles]="{
    justifyContent: 'flex-start'
}"
[headlineTitleStyles]="{
    marginLeft: '10px'
}"
[headlineRightTextStyles]="{
    color: 'blue',
    marginLeft: 'auto'
}"
[headlineLeftIcon]="{
    icon: 'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/whatsapp_verde.svg',
    width: 30,
    height: 30
}"
[headlineRightText]="{
    text: 'MAS',
    color: 'darkblue',
    fontSize: '1rem',
    fontFamily: 'Roboto'
}"
[tagListTextStyles]="{
    marginRight: '5px'
}"
[tagListStyles]="{
    marginTop: '15px'
}"
[chipMode]="2"
[collapseTags]="false"
[tags]="onlyTags"
></app-question-item> -->
<!--<app-multistep-form></app-multistep-form> -->
<!--
    <app-reservation-orderless
      [calendarId]="'62eade2619ae079e9283f352'"
      [hourRangeInDays]="hourRangeInDays"
    ></app-reservation-orderless>
-->

<!--
    <app-multistep-form
      [steps]="formSteps"
      [disableSmoothScroll]="false"
      [scrollableForm]="true"
      [showStepNumbers]="false"
      [usesGoogleMaps]="true"
    ></app-multistep-form>
-->
<div style="min-height: 100vh">
  <h5>ITEMS</h5>
  <div style="height: 281px; width: 186px">
    <app-general-item
      *ngIf="item"
      [item]="item"
      [mainColor]="'#020202'"
      [tagsByIdsObject]="tagsByIdsObject"
      [singleIconStyles]="{
        filter:
          'invert(95%) sepia(100%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(104%)'
      }"
      [showVisitorCounter]="true"
      [topInnerButtons]="topInnerButtons"
      [topRightButton]="topRightButton"
    >
    </app-general-item>
  </div>

  <div style="height: 281px; width: 186px">
    <app-general-item
      *ngIf="item2"
      [item]="item"
      [mainColor]="'#906028'"
      [singleIconStyles]="{
        filter:
          'invert(95%) sepia(100%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(104%)'
      }"
      [topInnerButtons]="topInnerButtons"
      [topRightButton]="topRightButton"
    >
    </app-general-item>
  </div>

  <h5>TAGS</h5>

  <div style="height: 141px; width: 112px">
    <app-general-item
      *ngIf="tag"
      [tag]="tag"
      [entity]="'TAG'"
      [mainColor]="'#9b611d'"
      [textColor]="'white'"
      [singleIconStyles]="{
        filter:
          'invert(95%) sepia(100%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(104%)'
      }"
      [titleStyles]="{ width: '100%' }"
    >
    </app-general-item>
  </div>

  <div style="height: 141px; width: 112px">
    <app-general-item
      *ngIf="tag2"
      [tag]="tag2"
      [entity]="'TAG'"
      [mainColor]="'#ffffff'"
      [textColor]="'black'"
      [titleStyles]="{ width: '100%' }"
    >
    </app-general-item>
  </div>

  <div style="height: 141px; width: 112px">
    <app-general-item
      *ngIf="tag2"
      [tag]="tag2"
      [entity]="'TAG'"
      [mainColor]="'#9b611d'"
      [textColor]="'white'"
      [singleIconStyles]="{
        filter:
          'invert(95%) sepia(100%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(104%)'
      }"
      [shouldIconsHaveBackground]="true"
    >
    </app-general-item>
  </div>
</div>
