<div class="container">
  <app-helper-headerv2
    [mode]="editMode ? 'center' : 'basic'"
    [icons]="
      editMode
        ? null
        : [
            {
              src: '/search.svg',
              height: '19px',
              width: '19px',
              color:
                'invert(100%) sepia(6%) saturate(0%) hue-rotate(360deg) brightness(180%) contrast(100%)',
              callback: placeholder
            },
            {
              src: '/pencil.svg',
              height: '17px',
              width: '17px',
              color:
                'invert(10%) sepia(6%) saturate(0%) hue-rotate(360deg) brightness(180%) contrast(100%)',
              callback: toggleEdit
            }
          ]
    "
    [mainText]="{
      text: editMode ? 'EDIT MODE' : 'Calendario: Abraham Lincoln',
      fontSize: '21px',
      fontFamily: 'SfProBold'
    }"
    [icon]="editMode ? null : { src: '/salealt.svg', width: 19, height: 19 }"
    [returnAble]="false"
    [fixed]="true"
  ></app-helper-headerv2>

  <div
    class="tab-area"
    #elemt
    (mousedown)="startDragging($event, elemt)"
    (mouseup)="stopDragging()"
    (mouseleave)="stopDragging()"
    (mousemove)="moveEvent($event, elemt)"
  >
    <ng-container *ngFor="let item of tabs; index as i">
      <div
        class="tab"
        [ngClass]="{ active: active === i }"
        (click)="changeTab(i)"
      >
        {{ item }}
      </div>
    </ng-container>
  </div>
  <div style="margin-top: 36px">
    <ng-container *ngIf="mode === 'calendar'">
      <h4 class="notice" *ngIf="status === 'loading'">Cargando reservaciones...</h4>
      <ng-container *ngIf="status === 'complete'">
        <h4 class="notice" *ngIf="!reservations?.length">No se encontraron reservaciones.</h4>
        <ng-container *ngIf="reservations.length">
          <div *ngFor="let item of reservations; index as i" class="reservations">
            <!-- <app-item-reservation style="width: 100%;"
                  [headline]="item.headline"
                  [subheadlines]="item.subheadline"
                  [rightSubHeadline]="item.rightSubHeadline"
                  [icon]="item.icon"
                  [content]="item.content"
                  [rightActive]="true"
              ></app-item-reservation> -->
            <div class="delete" *ngIf="editMode">
              <button class="btn-delete">
                <img
                  [src]="env + '/delete.svg'"
                  width="27px"
                  height="31.7px"
                  alt="Imagen de una bote de basura"
                  (click)="deleteOrder()"
                />
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="mode === 'order'">
      <h4 class="notice" *ngIf="status === 'loading'">Cargando reservaciones y ordenes...</h4>
      <ng-container *ngIf="status === 'complete'">
        <h4 class="notice" *ngIf="!reservations?.length">No se encontraron reservaciones.</h4>
        <h4 class="notice" *ngIf="!orders?.length">No se encontraron ordenes.</h4>
        <ng-container *ngIf="orders.length">
          <div *ngFor="let item of orders; index as i">
            <!-- <app-item-reservation style="width: 100%;"
                  [headline]="item.headline"
                  [subheadlines]="item.subheadline"
                  [rightSubHeadline]="item.rightSubHeadline"
                  [icon]="item.icon"
                  [content]="item.content"
                  [rightActive]="true"
              ></app-item-reservation> -->
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <app-sticky-button
    [mode]="editMode ? 'fixed' : 'double'"
    [extra]="{
      bgColor: '#2874AD',
      icon: {
        src: '/salealt.svg',
        width: 19,
        height: 19
      }
    }"
    [fontSize]="'17px'"
    [customRightButtonStyles]="{
      width: '1px',
      height: '1px'
    }"
    [customLeftButtonStyles]="{
      width: '85%',
      'max-width': 'unset',
      color: '#FFF',
      cursor: 'unset'
    }"
    [bgColor]="editMode ? '#2874AD' : '#A1A1A1'"
    [text]="editMode ? 'SALIR DEL EDIT MODE' : '145 RESERVACIONES'"
    [size]="'small'"
    (click)="editMode ? toggleEdit() : null"
  ></app-sticky-button>
</div>
