<div class="container">

    <app-helper-headerv2
    [mode]="'basic'"
    [icons]="[{
        src: '/search.svg',
        height: '19px',
        width: '19px',
        color: 'invert(100%) sepia(6%) saturate(0%) hue-rotate(360deg) brightness(180%) contrast(100%)',
        callback: placeholder
    },{
        src: '/pencil.svg',
        height: '17px',
        width: '17px',
        color: 'invert(10%) sepia(6%) saturate(0%) hue-rotate(360deg) brightness(180%) contrast(100%)',
        callback: placeholder
    }]"
    [mainText]="{
        text:'Calendario: Abraham Lincoln',
        fontSize: '21px',
        fontFamily: 'SfProBold'
    }"
    [icon]="{
        src:'/salealt.svg',
        width: 19,
        height: 19
    }"
    [returnAble]="false"
    [fixed]="true"
    ></app-helper-headerv2>

  <div class="tab-area" #elemt (mousedown)="startDragging($event, false, elemt)" (mouseup)="stopDragging($event, false)"
    (mouseleave)="stopDragging($event, false)" (mousemove)="moveEvent($event, elemt)">
    <ng-container *ngFor="let item of tabs; index as i">
      <div class="tab" [ngClass]="{'active' : active === i}" (click)="changeTab(i)">
        {{item}}
      </div>
    </ng-container>
  </div>

  <div style="margin-top: 36px;" *ngIf="reservations">
    <div *ngFor="let item of reservations; index as i" class="reservations">
        <app-item-reservation
            [headline]="item.headline"
            [subheadline]="item.subheadline"
            [rightSubHeadline]="item.rightSubHeadline"
            [icon]="item.icon"
            [content]="item.content"
            [rightActive]="true"
        ></app-item-reservation>
    </div>
  </div>

    
    <app-sticky-button
    [mode]="'double'"
    [extra]="{
        bgColor: '#2874AD',
        icon:{
            src:'/salealt.svg',
            width: 19,
            height: 19
        }
    }"
    [fontSize]="'17px'"
    [customRightButtonStyles]="{
        'width': '1px',
        'height': '1px'
    }"
    [customLeftButtonStyles]="{
        'width': '85%',
        'max-width': 'unset',
        color: '#FFF',
        cursor: 'unset'
    }"
    [bgColor]="'#A1A1A1'"
    [text]="'145 RESERVACIONES'"
    [size]="'small'"
    ></app-sticky-button>

</div>
