<div class="container">
    <app-helper-headerv2
    mode="basic"
    [returnAble]="true"
    [mainText]="{text: 'PREGUNTA #1, Pantalla #1'}"
    [dots]="{
        active: true
      }"
    [bgColor]="'#2874AD'"
    (returnEvent)="back()"
  ></app-helper-headerv2>

  <div class="content">
    <ng-container *ngIf="webform.questions.length > 1">
        <div class="names-area">
            <div class="name">
               <label for="Name" class="names-label">Nombre:</label>
               <input type="text" class="names-input" placeholder="Mi nombre es..." [formControl]="firstName" required>
            </div>
    
            <div class="last-name">
               <label for="Last name" class="names-label">Apellido:</label>
               <input type="text" class="names-input" placeholder="Mi apellido es..." [formControl]="lastName" required>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="webform.questions.length == 1">
        <div class="mail-inputs">
            <label for="text" class="phone-label">{{ webform.questions[0].value }}</label>

            <input type="text" class="email-input" placeholder="Lorem ipsum" [formControl]="text" >
        </div>
    </ng-container>
  </div>

  <app-sticky-button
      [mode]="'basic'"
      [text]="'ENVIAR FORM'"
      [size]="'small'"
      [bgColor]="'#2874AD'"
      (click)="save()"
      [customLeftButtonStyles]="{
        'font-size': '17px',
        'font-family': 'RobotoMedium',
        'letter-spacing': '1px'
      }"
  ></app-sticky-button>
</div>