<div class="main-container">
  <nav>
    <div class="subnav">
      <a class="exit">X</a>
      <p class="title">🎗️ Causa de la recaudación</p>
    </div>
    <div class="subnav">
      <mat-slide-toggle
        class="toggle"
        [checked] = "toggleSwitch"
        (change) = "toggleSwitch = !toggleSwitch"
      >
      </mat-slide-toggle>
      <img class="icon" title="icon" src="{{env}}/info-icon.svg" />
    </div>
  </nav>
  <div *ngIf="!toggleSwitch" class="symbol-warning">
    <p>El simbolo de su causa está oculto por falta de información</p>
  </div>
  <!--In the case that data has already been input, these should render-->
  <div class="container">
    <div class="info-card">
      <p class="card-title">Slides Visuales</p>
      <div class="placeholder-container">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
    <div class="info-card">
      <p class="card-title">Categorias donde se exhibe</p>
      <p class="display-text">CategoryID. CategoryID.</p>
    </div>
    <div class="info-card">
      <p class="card-title">Texto principal y centralizado</p>
      <p class="display-text">Comunidad de Ciegos</p>
    </div>
    <div class="info-card">
      <p class="card-title">Texto más largo</p>
      <p class="display-text">Texto mas largo iria aquí</p>
    </div>
  </div>
  <!--In the case that data is yet to be added -->
  <p class="explanatory">Exhibe tu causa comunitaria para que los compradores te apoyen.</p>
  <span class="long-span"></span>
  <div class="container">
    <p class="data-title">DATOS POR LLENAR</p>
    <div class="input-card">
      <p class="input-text">Imagen</p>
      <button class="input-button">
        <img src="../../../../../assets/icons/add-button.svg" alt="add item" />
      </button>
    </div>
    <div class="input-card">
      <p class="input-text">Categorias donde se exhibe</p>
      <button class="input-button">
        <img src="../../../../../assets/icons/add-button.svg" alt="add item" />
      </button>
    </div>
    <div class="input-card">
      <p class="input-text">Texto principal y centralizado</p>
      <button class="input-button">
        <img src="../../../../../assets/icons/add-button.svg" alt="add item" />
      </button>
    </div>
    <div class="input-card">
      <p class="input-text">Texto más largo</p>
      <button class="input-button">
        <img src="../../../../../assets/icons/add-button.svg" alt="add item" />
      </button>
    </div>
    <div class="input-card">
      <p class="input-text">Nombre del botón</p>
      <button class="input-button">
        <img src="../../../../../assets/icons/add-button.svg" alt="add item" />
      </button>
    </div>
  </div>
  <div class="preview">
    <a>Preview</a>
  </div>
</div>