.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F2F2F2;
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 46px;
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
}

.subnav {
  display: flex;
  height: 46px;
  align-items: center;
}

.exit {
  font-family: InterLight;
  font-size: 24px;
  margin-right: 11px;
  color: #C4C5C3;
  cursor: pointer;
}

.title {
  color: #272727;
  font-family: InterBold;
  font-size: 17px;
  margin-right: 29px;
}

.toggle {
  margin-right: 30px;
}

.icon {
  filter: brightness(0) saturate(100%);
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #702015 !important;
  border: 4px solid #BDC3C7 !important;
  height: 17px;
  width: 29px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #2ECC71 !important;
  border: 4px solid #BDC3C7 !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(5px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb-container {
  transform: translate3d(-1px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #ECF0F1 !important;
  border: 1px solid #BDC3C7 !important;
  height: 12px;
  width: 12px;
  transform: translate3d(-1px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ECF0F1 !important;
  transform: translate3d(5px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
  height: 30px;
  width: 30px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: black !important;
}

.symbol-warning {
  margin: 12px 21px 0 21px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #702015;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
}

.symbol-warning p {
  color: #F6F6F6;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
}

.container {
  width: 100%;
  margin-top: 21px;
}

.info-card {
  margin: 0 21px 0 21px;
  height: 80px;
  border-radius: 4px;
  background: #FFF;
  padding: 0 13px 0 13px;
}

.card-title {
  color: #000;
  font-family: InterLight;
  font-size: 13px;
  font-style: italic;
  padding-top: 14px;
}

.flex {
  display: flex;
  gap: 6px;
}

.display-text {
  color: #7B7B7B;
  font-family: InterBold;
  font-size: 17px;
  margin: 0;
  border: none;
}

.slides-container {
  display: flex;
  align-items: center;
}

.image-container {
  cursor: pointer;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 26px);
  -moz-column-gap: 8px;
  column-gap: 8px;
  row-gap: 9.9px;
}

.add-media {
  height: 30px;
  cursor: pointer;
}

.reorder-media {
  filter: invert(96%) sepia(3%) saturate(103%) hue-rotate(47deg) brightness(85%) contrast(84%);
  margin-left: 0.3rem;
  height: 30px;
  width: 25px;
  cursor: pointer;
}

.image {
  border-radius: 2px;
  background-color: #936105;
  height: 25px;
  width: 25px;
}

.explanatory {
  color: #7B7B7B;
  text-align: center;
  font-family: InterLight;
  font-size: 17px;
  font-style: italic;
  width: 394px;
}

.long-span {
  border-top: 1px solid #000;
  display: block;
  width: 90%;
  margin: 20px 21px 19px 20px;
}

.data-title {
  color: #000;
  font-family: InterLight;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 8px;
  margin-left: 21px;
}

.input-card {
  background: white;
  height: 48px;
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin: 4px 21px 5px 21px;
  padding-left: 18px;
  padding-right: 13px;
  display: flex;
  justify-content: space-between;
}

.input-text {
  color: #000;
  font-family: InterLight;
  font-style: italic;
  font-size: 17px;
}

.input-button {
  border-radius: 100%;
  padding: 0;
  background: transparent;
  border: none;
  height: 24px;
  cursor: pointer;
}

.preview {
  display: flex;
  align-items: center;
  margin-top: auto;
  background: #FFF;
  height: 40px;
  width: 100%;
  color: #272727;
}

.preview p {
  width: 100%;
  font-family: Inter;
  font-size: 17px;
  padding-left: 18px;
  cursor: pointer;
}