<div class="container">

    <div class="image"> <img [src]="imageFolder + 'mercahntImage'" alt=""> </div>

        <label for="Nomber de la tienda" class="merchant-name">{{merchantName}}</label>

    <div class="images-info">
        <div class="images-area">
            <img [src]="imageFolder + ''" alt="Direccion" class="merchant-icon">
            <img [src]="imageFolder + ''" alt="Whatsapp" class="merchant-icon">
            <img [src]="imageFolder + ''" alt="Instagram" class="merchant-icon">
        </div>

        <div class="texts-info">
            <label for="info del merchant" class="merchant-text">{{direccion}}</label>
            <label for="info del merchant" class="merchant-text">{{whatsapp}}</label>
            <label for="info del merchant" class="merchant-text">{{instagram}}</label>
        </div>

    </div>

</div>
