<app-navigation [opened]="openNavigation" (closed)="openNavigation = false">
  <div class="container">
    <div class="header">
      <div class="header-top-container">
          <img src="../../../../../assets/icons/info.svg" />
          <mat-icon class="add">add</mat-icon>
        <img src="../../../../../assets/icons/switch-green.svg" />
        <div class="flex" (click)="openNavigation = !openNavigation">
          <p class="header-top-text">Premia a tus Clientes ✨</p>
          <mat-icon class="menu">menu</mat-icon>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="input-container">
        <input placeholder="Buscar..." />
        <img src="../../../../../assets/icons/qrcode.svg" />
      </div>
      <div class="input-overlay">📦</div>
      <p class="content-title">COMPRADORES</p>
      <div class="content-cards-container">
        <div class="content-card" *ngFor="let wallet of walletCurrencies">
          <div class="content-card-top-container">
            <div class="flex-space-between">
              <div class="flex">
                <div class="content-card-img"></div>
                <div class="content-card-merchant">
                  {{
                    wallet.owner.name ||
                      wallet.owner.email ||
                      wallet.owner.phone
                  }}
                </div>
              </div>
            </div>
            <app-progress-bar
              [text]="getText(wallet)"
              [status]="getPercentage(wallet)"
            ></app-progress-bar>
          </div>
        </div>
      </div>
      <p class="bottom-text">
        Esta plataforma te permite premiar a tus clientes para incentivarlos a
        que vuelvan a comprarte.
      </p>
    </div>
  </div>
  <div class="footer">Otorga “Estrellas”</div>
</app-navigation>
