<div class="container">
    <div class="header">
      <div class="header-top-container">
          <img src="../../../../../assets/icons/info.svg">
          <div class="flex">
  
              <p class="header-top-text">Recompensas de ✨ para 🚀  </p>
              <mat-icon>menu</mat-icon>
          </div>
      </div>
      </div>
      <div class="content">
        <p class="content-title">Compradores con ✨</p>
        <div class="content-cards-container">
          <div class="content-card">
            <div class="content-card-top-container">
              <div class="flex-space-between">
                <div class="flex">
                  <div class="content-card-img"></div>
                  <div class="content-card-merchant">MerchantID</div>
                </div>
                <div class="content-card-swaps">10 canjeos</div>
              </div>
              <app-progress-bar text="$321 por facturar para ganarse el descuento de $20" [status]="50"></app-progress-bar>
            </div>
              <hr />
              <p class="content-card-bill">
                10 Facturas en total, $14,457.23 
              </p>
          </div>
          <div class="content-card">
            <div class="content-card-top-container">
              <div class="flex-space-between">
                <div class="flex">
                  <div class="content-card-img"></div>
                  <div class="content-card-merchant">MerchantID</div>
                </div>
                <div class="content-card-swaps">10 canjeos</div>
              </div>
              <app-progress-bar text="$321 por facturar para ganarse el descuento de $20" [status]="75"></app-progress-bar>
            </div>
              <hr />
              <p class="content-card-bill">
                10 Facturas en total, $14,457.23 
              </p>
          </div>
          <div class="content-card">
            <div class="content-card-top-container">
              <div class="flex-space-between">
                <div class="flex">
                  <div class="content-card-img"></div>
                  <div class="content-card-merchant">MerchantID</div>
                </div>
                <div class="content-card-swaps">10 canjeos</div>
              </div>
              <app-progress-bar text="$321 por facturar para ganarse el descuento de $20" [status]="25"></app-progress-bar>
            </div>
              <hr />
              <p class="content-card-bill">
                10 Facturas en total, $14,457.23 
              </p>
          </div>
          <div class="content-card">
            <div class="content-card-top-container">
              <div class="flex-space-between">
                <div class="flex">
                  <div class="content-card-img"></div>
                  <div class="content-card-merchant">MerchantID</div>
                </div>
                <div class="content-card-swaps">10 canjeos</div>
              </div>
              <app-progress-bar text="$321 por facturar para ganarse el descuento de $20" [status]="0"></app-progress-bar>
            </div>
              <hr />
              <p class="content-card-bill">
                10 Facturas en total, $14,457.23 
              </p>
          </div>
        </div>
      </div>
      </div>