<div
  class="store-page"
  (scroll)="infinitePagination()"
  [ngClass]="{
    tagsPresent: headerService.tags?.length > 0
  }"
>
  <!--REGULAR MERCHANT-->
  <div class="content">
    <div
      class="saleflows-item-grid"
      *ngIf="
        !headerService.saleflow.layout ||
        headerService.saleflow.layout === 'simple-card'
      "
    >
      <div class="capsize" *ngFor="let item of items; let itemIndex = index">
        <a
          [routerLink]="['../../../article-detail/item', item._id]"
          [queryParams]="{ mode: 'saleflow' }"
        >
          <app-saleflow-item
            [itemIndex]="itemIndex"
            [itemId]="item._id"
            [type]="4"
            [inactive]="
              item.status != 'active' && item.status != 'featured'
                ? true
                : false
            "
            [imgURL]="item.images?.length ? item.images[0].value : ''"
            [price]="item.pricing"
            [showPrice]="true"
            [dynamicStyles]="{
              itemContainer: {
                width: '100%',
                height: '315px',
                margin: '0px'
              },
              simpleCard: {
                height: '100%'
              },
              itemImg: {
                height: '82.8571%'
              },
              video: {
                height: '82.8571%'
              }
            }"
          ></app-saleflow-item>
        </a>
      </div>

      <div class="capsize" *ngFor="let item of items; let itemIndex = index">
        <a
          [routerLink]="['../../../article-detail/item', item._id]"
          [queryParams]="{ mode: 'saleflow' }"
        >
          <app-saleflow-item
            [itemIndex]="itemIndex"
            [itemId]="item._id"
            [type]="4"
            [inactive]="
              item.status != 'active' && item.status != 'featured'
                ? true
                : false
            "
            [imgURL]="item.images?.length ? item.images[0].value : ''"
            [price]="item.pricing"
            [showPrice]="true"
            [dynamicStyles]="{
              itemContainer: {
                width: '100%',
                height: '315px',
                margin: '0px'
              },
              simpleCard: {
                height: '100%'
              },
              itemImg: {
                height: '82.8571%'
              },
              video: {
                height: '82.8571%'
              }
            }"
          ></app-saleflow-item>
        </a>
      </div>
    </div>
    <div
      class="description-view"
      *ngIf="headerService.saleflow.layout === 'description-card'"
    >
      <!-- [routerLink]="['../article-detail/item', item._id]"
          [queryParams]="{ mode: 'saleflow' }" -->
      <app-buyer-card
        *ngFor="let item of items; let itemIndex = index"
        [index]="itemIndex"
        [title]="item.name"
        [description]="item.description"
        [img]="item.images?.length ? item.images[0].value : ''"
        [leftAmount]="item.pricing"
        [cta]="true"
        [ctaActive]="item.isSelected"
        [redirectionParams]="{
          link: ['../../../article-detail/item', item._id],
          param: { mode: 'saleflow' }
        }"
        (ctaClicked)="toggleItemInCart($event)"
      ></app-buyer-card>
    </div>

    <div
      class="description-view"
      *ngIf="headerService.saleflow.layout === 'image-full-width'"
    >
      <!-- [routerLink]="['../article-detail/item', item._id]"
          [queryParams]="{ mode: 'saleflow' }" -->
      <app-buyer-card
        *ngFor="let item of items; let itemIndex = index"
        [index]="itemIndex"
        [title]="item.name"
        [description]="item.description"
        [img]="item.images?.length ? item.images[0].value : ''"
        [leftAmount]="item.pricing"
        [cta]="true"
        [ctaActive]="item.isSelected"
        [redirectionParams]="{
          link: ['../../../article-detail/item', item._id],
          param: { mode: 'saleflow' }
        }"
        mode="fullWidth"
        (ctaClicked)="toggleItemInCart($event)"
      ></app-buyer-card>
    </div>

    <div
      [ngStyle]="{
        width: '100%',
        display: 'flex',
        flexDirection: 'column',
        height: '80px',
        justifyContent: 'center'
      }"
      *ngIf="paginationState.status === 'loading'"
    >
      <app-dot-loader></app-dot-loader>
    </div>
  </div>
</div>
