<router-outlet *ngIf="headerService.saleflow"></router-outlet>
<app-bubble-button
  *ngIf="
    headerService.saleflow?.canBuyMultipleItems &&
    headerService.order?.products?.length &&
    activePath !== 'checkout' &&
    activePath !== 'article-detail/:entity/:entityId' &&
    activePath !== 'article-detail/:entity' &&
    activePath !== 'symbol-detail/:entity/:entityId' &&
    activePath !== 'symbol-detail/:entity' &&
    activePath !== 'new-address' &&
    activePath !== 'create-giftcard' &&
    activePath !== 'create-article' &&
    activePath !== 'reservations/:calendarId' &&
    activePath !== 'post-edition' &&
    activePath !== 'qr-edit' &&
    activePath !== 'post-preview' &&
    activePath !== 'text-edition-and-preview' &&
    activePath !== 'cart' &&
    activePath !== 'receiver-form' &&
    activePath !== 'store' &&
    activePath !== 'new-symbol' &&
    activePath !== 'giftcard-details' &&
    activePath !== 'terms-of-use/:viewsMerchantId' &&
    activePath !== 'webform/:itemId' &&
    activePath !== 'post-slide-editor'
  "
  position="right"
  color="green"
  [custom]="{
    backgroundColor: headerService.colorTheme
  }"
  [solo]="false"
  [cart]="true"
  [cartAmount]="headerService.order?.products?.length"
  (click)="goToCheckout()"
></app-bubble-button>

<app-wizard-chatbot
  *ngIf="
    activePath !== 'checkout' &&
    activePath !== 'article-detail/:entity/:entityId' &&
    activePath !== 'article-detail/:entity' &&
    activePath !== 'new-address' &&
    activePath !== 'create-giftcard' &&
    activePath !== 'create-article' &&
    activePath !== 'reservations/:calendarId' &&
    activePath !== 'post-edition' &&
    activePath !== 'qr-edit' &&
    activePath !== 'post-preview' &&
    activePath !== 'text-edition-and-preview' &&
    activePath !== 'cart' &&
    activePath !== 'receiver-form' &&
    activePath !== 'new-symbol' &&
    activePath !== 'giftcard-details' && 
    activePath !== 'terms-of-use/:viewsMerchantId' &&
    activePath !== 'post-slide-editor' &&
    activePath !== 'payments/:orderId' &&
    activePath !== 'webform/:itemId' &&
    activePath !== 'chat-merchant' &&
    activePath !== 'chat-merchant/:chatId'
  "
></app-wizard-chatbot>
