<router-outlet *ngIf="headerService.saleflow"></router-outlet>
<app-bubble-button
  *ngIf="
    headerService.saleflow?.canBuyMultipleItems &&
    headerService.order?.products?.length &&
    activePath !== 'checkout' &&
    activePath !== 'article-detail/:entity/:entityId' &&
    activePath !== 'new-address' &&
    activePath !== 'create-giftcard' &&
    activePath !== 'create-article' &&
    activePath !== 'reservations/:calendarId' &&
    activePath !== 'post-edition' &&
    activePath !== 'qr-edit' &&
    activePath !== 'post-preview'
  "
  position="right"
  color="green"
  [custom]="{
    backgroundColor: headerService.colorTheme
  }"
  [solo]="false"
  [cart]="true"
  [cartAmount]="headerService.order?.products?.length"
  (click)="goToCheckout()"
></app-bubble-button>
