<router-outlet *ngIf="headerService.saleflow"></router-outlet>
<app-bubble-button
  *ngIf="
    headerService.saleflow?.canBuyMultipleItems &&
    headerService.order?.products?.length &&
    activePath !== 'checkout' &&
    activePath !== 'new-address' &&
    activePath !== 'create-giftcard' &&
    activePath !== 'create-article' &&
    activePath !== 'reservations/:calendarId'
  "
  position="right"
  color="blue"
  [custom]="{
    backgroundColor: headerService.colorTheme
  }"
  [solo]="false"
  [cart]="true"
  [cartAmount]="headerService.order?.products?.length"
  (click)="goToCheckout()"
></app-bubble-button>
