* {
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px 17px;
  width: 100%;

  // .title {
  //   color: #272727;
  //   margin-left: 6px;
  //   font-size: 13px;
  //   font-family: SFProLight;
  //   margin-bottom: 5px;
  // }

  .option,
  .selected {
    color: #272727;
    font-family: SFProBold;
    font-size: 15px;
  }
}

::ng-deep .mat-list-option {
  width: 90% !important;
  height: auto !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-left: 0px !important;
  margin-bottom: 8px !important;
}

::ng-deep .selected {
  background-color: #82f18d !important;
  border-radius: 4px !important;
}

::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}

.bar {
  height: 29px;
  width: 8px;
  background-color: #82f18d;
  border-radius: 4px;
  margin-right: 14.5px;
}

.list-title {
  color: #293628;
  font-family: SFProBold;
  font-size: 23px;
  margin-left: 11.5px;
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0 !important;
}

::ng-deep .mat-expansion-panel-header-description {
  justify-content: flex-end;
  font-family: SfProBold;
  color: #293628;
  font-size: 1rem;
}

.option-text {
  font-size: 16px !important;
  font-family: SFProRegular !important;
  color: #272727;
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background: #e9e9e9 !important;
  }
}
