<div class="container">
  <div class="communities-and-users">
    <div class="top-flex">
      <div class="text-div">
        <div class="left-wrapper">
          <h2>Personas & comunidades</h2>
          <h6>Recaudan fondos con solo compartir un Link</h6>

          <ul>
            <li>Seleccionas cómo recaudar del Mercado de Colaboraciones</li>
          </ul>

          <div class="benefits">
            <div class="icon"></div>
            <span>Beneficios</span>
            <div class="icon"></div>
          </div>
        </div>
        <div class="right-image"></div>
      </div>
    </div>
    <div class="button">
      <div class="icon"></div>
      <span>Mercado de colaboraciones</span>
    </div>
  </div>
  <div class="stores">
    <div class="top-flex">
      <div class="text-div">
        <div class="left-image"></div>

        <div class="right-wrapper">
          <h2>Tiendas</h2>
          <h6>Venden online.</h6>

          <ul>
            <li>Los Clubs promocionan y venden para ti</li>
          </ul>

          <div class="benefits">
            <div class="icon"></div>
            <span>Beneficios</span>
            <div class="icon"></div>
          </div>
        </div>
      </div>
      <div class="button">
        <span>Colaboraciones para vender más</span>
      </div>
    </div>
  </div>
  <div class="the-why">
    <div class="avatar-img"></div>
    <h2>Why?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, magni esse
      asperiores fugit dolore alias at nisi atque quasi
    </p>
    <span>@alberguesos</span>
    <b>Daviel, CEO</b>
  </div>
</div>
