<div class="wrapper">
  <div class="introduction"></div>

  <div class="communities-and-users">
    <div class="top-flex">
      <div class="left-wrapper">
        <h2>Personas & Comunidades</h2>
        <h6>Recaudan fondos con solo compartir un Link</h6>

        <ul>
          <li>Seleccionas cómo recaudar del Mercado de Colaboraciones</li>
        </ul>

        <div class="benefits">
          <span>+Beneficios</span>
          <img
            [src]="imageFolder + '/greather-than.svg'"
            [ngStyle]="{ marginLeft: '12px' }"
          />
        </div>
      </div>
      <img class="right-image" [src]="imageFolder + '/kanddys-people.svg'" />
    </div>
    <div class="button">
      <img
        [src]="imageFolder + '/money-bag.svg'"
        alt="collaborations"
        class="icon"
        [ngStyle]="{ marginRight: '5.6px' }"
      />
      <span>Mercado de colaboraciones</span>
    </div>
  </div>
  <div class="stores">
    <div class="top-flex">
      <img class="left-image" [src]="imageFolder + '/kanddys-shop.svg'" />

      <div class="right-wrapper">
        <h2>Tiendas</h2>
        <h6>Venden online.</h6>

        <ul>
          <li>Los Clubs promocionan y venden para ti</li>
        </ul>

        <div class="benefits">
          <span>+Beneficios</span>
          <img
            [src]="imageFolder + '/greather-than.svg'"
            [ngStyle]="{ marginLeft: '12px' }"
          />
        </div>
      </div>
    </div>
    <div class="button">
      <span>Colaboraciones para vender más</span>
    </div>
  </div>
  <div class="the-why">
    <div
      class="avatar-img"
      [ngStyle]="{
        backgroundImage: 'url(' + avatarImage + ')'
      }"
    ></div>
    <h2>Why?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, magni esse
      asperiores fugit dolore alias at nisi atque quasi
    </p>
    <div class="at">@alberguesos</div>
    <b>Daviel, CEO</b>
  </div>
</div>
