<div class="container" [ngStyle]="containerStyles">
  <h1>Imagen o video del cover:</h1>
  <div class="image-selector">
    <div class="image-area">
      <input
        id="filemultiple"
        (change)="fileProgressMultiple($event)"
        type="file"
        style="display: none"
        accept="video/*,image/*"
        [accept]="['.png', '.jpg', '.jpeg', '.webp', '.webm', '.mp4', '.m4v', '.mpg', '.mpeg', '.mpeg4']"
      />
      <div class="btn-add">
        <label for="filemultiple">
          <span class="icon">+</span>
          <span>Adiciona</span>
        </label>
      </div>
    </div>
  </div>
</div>