<div class="container" [ngStyle]="containerStyles">
  <h1>Imagen del cover:</h1>
  <div class="image-selector">
    <div class="image-area">
      <input
        id="filemultiple"
        (change)="fileProgressMultiple($event)"
        type="file"
        style="display: none"
        accept="image/*"
        multiple
        [accept]="['.png', '.jpg', '.jpeg']"
      />
      <div class="btn-add">
        <label for="filemultiple">
          <span class="icon">+</span>
          <span>Adiciona</span>
        </label>
      </div>
    </div>
  </div>
</div>
