<div style="min-height: 100vh;">
  <app-helper-headerv2
    [mode]="'basic'"
    [returnAble]="true"
    [icons]="[
      {
        src: '/upload.svg',
        callback: onShareClick,
        color: 'brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(12%) hue-rotate(346deg) brightness(104%) contrast(102%)'
      },
      {
        src: '/pencil.svg',
        callback: onPencilClick,
        color: 'brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(12%) hue-rotate(346deg) brightness(104%) contrast(102%)'
      }
    ]"
  ></app-helper-headerv2>
  <div class="header" *ngIf="merchant">
    <div
      class="header-image"
      [ngStyle]="{backgroundImage: 'url(' + merchant.image + ')'}"
      [ngClass]="{'placeholder': !merchant.image}"
    ></div>
    <h5>{{merchant.name}}</h5>
    <p>{{merchant.bio}}</p>
    <button class="header-btn">
      publica y activa <i class="fas fa-chevron-right"></i>
    </button>
  </div>
  <!-- <div class="section" *ngFor="let item of ['','']">
    <app-question-item
      headline="Pregunta ID"
      [total]="28"
      [data]="questions"
    ></app-question-item>
  </div> -->
  <app-form-questions
  [topBar]="(items?.length || '0') + ' articulos'"
  bottomLeftBtn="adicionar nuevo articulo"
  bottomRightBtn="ver mas"
  ></app-form-questions>
</div>
<app-bubble-button
  position="left"
  [solo]="false"
  [return]="true"
  color="blue"
></app-bubble-button>
<app-sticky-button
  mode="double"
  text="POSIBILIDADES"
  text2="WEBAPP STORE"
  size="small"
  [backButton]="true"
  bgColor="#2874AD"
></app-sticky-button>