.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  .header-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #A1A1A1;
  }

  h5 {
    margin: 6px 0;
    font-family: "RobotoBold";
    font-size: 19px;
    color: #202020;
  }

  p {
    margin: 0;
    margin-bottom: 18px;
    font-family: "RobotoRegular";
    font-size: 17px;
    color: #7B7B7B;
  }
}

.section {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px #ddd;
  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.header-btn {
  all: unset;
  font-family: "SfProBold";
  color: #2874AD;
  cursor: pointer;
  letter-spacing: 1.25px;
  margin-top: 6px;
  padding: 6px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  border-radius: 8px;

  &:hover, &:active {
    background-color: #2874AD;
    color: white;
    transition: .2s;
  }
}