.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  .header-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a1a1a1;
  }

  h5 {
    margin: 6px 0;
    font-family: "RobotoBold";
    font-size: 19px;
    color: #202020;
  }

  p {
    margin: 0;
    margin-bottom: 18px;
    font-family: "RobotoRegular";
    font-size: 17px;
    color: #7b7b7b;
  }
}

.section {
  background-color: #ffffff;
  box-shadow: 0 3px 6px 3px rgb(0 0 0 / 12%);
  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.header-btn {
  all: unset;
  font-family: "SfProBold";
  color: #2874ad;
  cursor: pointer;
  letter-spacing: 1.25px;
  margin-top: 6px;
  padding: 6px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;

  &:hover,
  &:active {
    background-color: #2874ad;
    color: white;
    transition: 0.2s;
  }
}

.dot-trio {
  width: 23px;
  height: 6px;
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
  cursor: pointer;

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2874ad;
    margin-bottom: 3px;
  }
}

.about-products,
.about-items,
.about-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;

    .about-name {
      font-family: "RobotoMedium";
      font-size: 13px;
      color: #7b7b7b;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0px;
      margin-bottom: 26px;
    }
  }

  .grid-details {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5%;
    row-gap: 10px;
    column-gap: 12px;

    .info-card {
      width: 100%;
      max-width: 221px;
      min-height: 125px;
      background-color: #ffffff;
      border: solid 2px #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 27px 10%;
      border-radius: 13px;
      box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 10%);
      transition: 0.5s background-color ease-in-out;

      &.pointer {
        cursor: pointer;

        &:hover,
        &:active {
          background-color: #f5f5f5;
        }
      }

      .amount {
        font-family: "RobotoMedium";
        font-size: 15px;
        color: #7b7b7b;
        text-align: center;
        word-break: break-word;
        line-break: loose;
        font-weight: normal;
      }

      .quantity {
        margin-bottom: 15px;
        font-size: 23px !important;
      }

      &.unset {
        cursor: unset !important;
        box-shadow: none !important;
        border: 0.5px solid #c9c9c9;
        border-radius: 15px;
        background-color: #f6f6f6;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-products,
  .about-items,
  .wrapper {
    .grid-details {
      .info-card {
        &.pointer {
          &:hover,
          &:active {
            background-color: #ffffff;
          }
        }
      }
    }
  }
}

@media only screen and(min-width:309px) and (max-width: 327px) {
  .amount {
    font-size: 1em !important;
  }
}

@media only screen and(max-width: 308px) {
  .amount {
    font-size: 0.88em !important;
  }
}
