<div style="min-height: 100vh; padding-bottom: 30px">
  <app-helper-headerv2
    [mode]="'basic'"
    [mainText]="{
      text:
        (merchantsService.merchantData?.name.length < 38
          ? merchantsService.merchantData?.name
          : merchantsService.merchantData?.name.split(' ')['0']) || 'Merchant',
      fontSize: '21px',
      fontFamily: 'SfProBold'
    }"
    [returnAble]="false"
    [dots]="{
      active: true
    }"
    (returnEvent)="back()"
    (dotEvent)="onOptionsClick()"
    bgColor="#2874AD"
  ></app-helper-headerv2>

  <div class="about-items" style="margin-top: 54px">
    <div class="wrapper">
      <h2 class="about-name">Sobre los artículos</h2>

      <div class="dot-trio" (click)="onShareItemsClick()">
        <div class="dot"> </div>
        <div class="dot"> </div>
        <div class="dot"> </div>
      </div>
    </div>

    <div class="grid-details">
      <div class="info-card pointer" routerLink="/admin/merchant-items">
        <h2 class="amount quantity">
          {{ items ? items.length : "0" }}
        </h2>
        <h2 class="amount">EN TOTAL</h2>
      </div>

      <div
        class="info-card pointer"
        routerLink="/admin/merchant-items"
        [queryParams]="{ status: 'active' }"
      >
        <h2 class="amount quantity">
          {{ activeItems && activeItems.length > 0 ? activeItems.length : 0 }}
        </h2>

        <h2 class="amount">VISIBLES</h2>
      </div>

      <div
        class="info-card pointer"
        routerLink="/admin/merchant-items"
        [queryParams]="{ status: 'disabled' }"
      >
        <h2 class="amount quantity">
          {{
            inactiveItems && inactiveItems.length > 0 ? inactiveItems.length : 0
          }}
        </h2>

        <h2 class="amount">INVISIBLES</h2>
      </div>

      <div
        class="info-card pointer"
        routerLink="/admin/merchant-items"
        [queryParams]="{ status: 'featured' }"
      >
        <h2 class="amount quantity">
          {{
            highlightedItems && highlightedItems.length > 0
              ? highlightedItems.length
              : 0
          }}
        </h2>

        <h2 class="amount">DESTACADOS</h2>
      </div>

      <!-- <div class="info-card pointer" routerLink="/admin/merchant-items" [queryParams]="{status: 'active'}">
        <h2 class="amount quantity">
          {{ activeItems ? activeItems.length : "0" }}
        </h2>

        <h2 class="amount">VISIBLES</h2>
      </div>

      <div class="info-card pointer" routerLink="/admin/merchant-items" [queryParams]="{status: 'disabled'}">
        <h2 class="amount quantity">
          {{ inactiveItems ? inactiveItems.length : "0" }}
        </h2>

        <h2 class="amount">INVISIBLES</h2>
      </div> -->
    </div>
  </div>

  <app-functionality-parameters></app-functionality-parameters>

  <div class="about-products" style="margin-top: 68px">
    <div class="wrapper">
      <h2 class="about-name">Sobre las facturas</h2>

      <div class="dot-trio" (click)="onShareOrdersClick()">
        <div class="dot"> </div>
        <div class="dot"> </div>
        <div class="dot"> </div>
      </div>
    </div>

    <div class="grid-details">
      <div class="info-card unset">
        <h2 class="amount quantity">
          ${{ ordersTotal && ordersTotal.total ? ordersTotal.total.toLocaleString("es-MX") : "0" }}
        </h2>

        <h2 class="amount">INGRESOS TOTALES</h2>
      </div>

      <div
        class="info-card pointer"
        routerLink="/admin/orders"
      >
        <h2 class="amount quantity">
          {{ ordersTotal ? ordersTotal.length : "0" }}
        </h2>

        <h2 class="amount">FACTURAS</h2>
      </div>

      <div class="info-card unset">
        <h2 class="amount quantity">
          {{ users ? users.length : "0" }}
        </h2>

        <h2 class="amount">COMPRADORES</h2>
      </div>
    </div>
  </div>

  <!--
    <div class="about-products" style="margin-top: 68px" *ngIf="webforms">
      <div class="wrapper">
        <h2 class="about-name">Sobre los forms</h2>
  
        <div class="dot-trio" (click)="onShareOrdersClick()"> 
          <div class="dot"> </div>
          <div class="dot"> </div>
          <div class="dot"> </div>
        </div>
      </div>
  
      <div class="grid-details">
        <div class="info-card pointer">
          <h2 class="amount quantity">
            {{ answers ? answers.length : '0' }}
          </h2>
  
          <h2 class="amount">NUEVAS RESPUESTAS</h2>
        </div>
      </div>
    </div>
  -->

  <app-metrics-reservation></app-metrics-reservation>

  <!-- 
    <div class="about-forms" style="margin-top: 32px">
      <div class="wrapper">
        <h2 class="about-name">Sobre los artículos</h2>

        <div class="dot-trio" (click)="onShareItemsClick()">
          <div class="dot"> </div>
          <div class="dot"> </div>
          <div class="dot"> </div>
        </div>
      </div>

      <div class="grid-details">
        <div class="info-card pointer" routerLink="/admin/merchant-items">
          <h2 class="amount quantity">
            {{ items ? items.length : "0" }}
          </h2>
          <h2 class="amount">EN TOTAL</h2>
        </div>
      </div>
    </div>
  -->
</div>
