<div class="container">
  <div class="content" [style.background]="background">
    <div class="upper">
      <h1>
        <span
          class="headline"
          *ngFor="let headline of headlines"
          [style.color]="headlineColor"
          >{{ headline }}</span
        >
      </h1>
      <h2>
        <span
          class="subHeadline"
          *ngFor="let subHeadline of subHeadlines"
          [style.color]="subHeadlineColor"
          >{{ subHeadline }}</span
        >
      </h2>
      <div class="images-container">
        <div class="image" [style.background]="image" [ngStyle]="imageStyles"></div>
        <div class="image2" [style.background]="image2" [ngStyle]="image2Styles"></div>
      </div>
    </div>
    <div class="footer-container" [style.background]="footerBackground">
      <span
        *ngFor="let text of footerTexts"
        class="footerText"
        [style.color]="footerTextColor"
        >{{ text }}</span
      >
    </div>
    <button
      (click)="onClick()"
      class="btn"
      [style.color]="btnColor"
      [style.background]="btnBackground"
    >
      {{ btnText }}
    </button>
  </div>
</div>
