<div class="container" id="{{ id }}">
  <app-card [shadows]="shadows" [containerStyles]="containerStyles">
    <p class="title" [ngStyle]="labelStyles">{{ question.value }}</p>

    <ng-container *ngIf="!multiple">
      <div class="imgGrid" *ngIf="isMediaSelection">
        <ng-container *ngFor="let answer of optionsInImageGrid; let i = index">
          <div *ngIf="answer.isMedia" [id]="id + '-' + i" class="radio">
            <img
              [src]="answer.img"
              (error)="answer.img = '/assets/images/noimage.png'"
              class="radioImg"
              (click)="goToDetail(i)"
            />
            <div
              class="radioButton"
              (click)="selectOption(i)"
              [ngClass]="{ active: i === selectedImageIndex }"
            ></div>
          </div>
        </ng-container>
      </div>

      <app-answer-selector
        *ngIf="!isMediaSelection"
        style="text-align: left"
        [activeOption]="0"
        [options]="optionsInAnswerSelector"
        [indicator]="true"
        [containerStyles]="{
          margin: '0px',
          marginTop: '17px'
        }"
        [itemStyles]="{
          fontSize: '17px',
          padding: '7px 0px'
        }"
        [boldenWhenSelected]="true"
        [optionContainerStyles]="{
          marginBottom: '0px'
        }"
        [alternativeBackground]="'narrow'"
        (onSelector)="(null)"
      ></app-answer-selector>
    </ng-container>
  
      <ng-container *ngIf="multiple">
        <div class="imgGrid">
          <ng-container *ngFor="let answer of optionsInImageGrid; let i = index">
            <div *ngIf="answer.isMedia" [id]="id + '-' + i" class="radio">
              <img
                [src]="answer.img"
                (error)="answer.img = '/assets/images/noimage.png'"
                class="radioImg"
                (click)="goToDetail(i)"
              />
              <div
                class="radioButton"
                (click)="selectOption(i)"
                [ngClass]="{ active: selectedImageIndexes.includes(i) }"
              >
              </div>
            </div>
          </ng-container>
        </div>
  
        <app-answer-selector
          style="text-align: left"
          [isMultipleOption]="true"
          [options]="optionsInAnswerSelector"
          [activeMultipleOption]="selectedListOptionIndexes"
          [indicator]="true"
          [containerStyles]="{
            margin: '0px',
            marginTop: '17px'
          }"
          [itemStyles]="{
            fontSize: '17px',
            padding: '7px 0px'
          }"
          [boldenWhenSelected]="true"
          [optionContainerStyles]="{
            marginBottom: '0px'
          }"
          [alternativeBackground]="'narrow'"
          (activeMultipleOptionValue)="selectOption($event)"
        ></app-answer-selector>
      </ng-container>
    
    <ng-container
      *ngIf="question.type === 'multiple-text' && userProvidedAnswerSelected"
    >
      <textarea
        class="another-response"
        [formControl]="userProvidedAnswer"
        placeholder="Escribe..."
      ></textarea>
    </ng-container>
  </app-card>
</div>
