<div class="container" id="{{ id }}">
  <app-card [shadows]="shadows" [containerStyles]="containerStyles">
    <p class="title" [ngStyle]="labelStyles">{{ question }}</p>

    <div class="imgGrid">
      <div
        *ngFor="let answer of answers; let i = index"
        [id]="id + '-' + i"
        class="radio"
      >
        <img
          [src]="answer.img"
          (error)="answer.img = '/assets/images/noimage.png'"
          class="radioImg"
        />
        <div
          class="radioButton"
          (click)="selectOpt(i, 'GRID', answer.img)"
          [ngClass]="{ active: i === selectedImage }"
        >
          <img class="icon" [src]="env + '/check-black.svg'" />
        </div>
      </div>
    </div>

    <app-answer-selector
      style="text-align: left"
      [activeOption]="selected"
      [options]="options"
      [indicator]="true"
      [containerStyles]="{
        margin: '0px',
        marginTop: '17px'
      }"
      [itemStyles]="{
        fontSize: '17px',
        padding: '7px 0px'
      }"
      [boldenWhenSelected]="true"
      [optionContainerStyles]="{
        marginBottom: '0px'
      }"
      [alternativeBackground]="'narrow'"
      (onSelector)="selectOpt($event, 'OPTIONS-LIST', null)"
    ></app-answer-selector>
  </app-card>
</div>
