<div class="dialog-flow"></div>

<div
  class="overlay"
  [ngStyle]="{
    animation:
      status === 'OPEN'
        ? 'darkenOverlay 0.5s ease-in-out 0s 1 normal forwards'
        : 'lightenOverlay 0.5s ease-in-out 0s 1 normal forwards'
  }"
>
  <div
    class="flow-contents"
    [ngClass]="{
      visible: status === 'OPEN'
    }"
  >
    <swiper [config]="swiperConfig">
      <div class="dialog" *ngFor="let dialog of dialogs">
        <app-dynamic-component
          [component]="dialog.component"
          [componentInputs]="dialog.inputs"
          [componentOutputs]="dialog.outputs"
          [shouldRemoveItFromTheView]="dialog.shouldRerender"
        >
          ></app-dynamic-component
        >
      </div>
    </swiper>
  </div>
</div>
