<div class="container">
  <div class="header">
    <div class="flex">
      <img src="../../../../../assets/icons/info.svg" />
      <mat-icon class="plus-icon">add</mat-icon>
    </div>
    <div class="flex">
      <p>Cotiza y compra a suplidores</p>
      <mat-icon>menu</mat-icon>
    </div>
  </div>
  <div class="content">
    <div class="content-card">
      <div class="content-card-top-container">
        <div class="flex">
          <img src="../../../../../assets/icons/shopping_cart.svg" />
          <div>
            <p class="content-card-title">Cotización sin nombreID</p>
            <p class="content-card-quantity">4 artículos</p>
          </div>
        </div>
        <p class="content-card-new">Nuevo</p>
      </div>
      <div class="hr-container">
        <hr />
      </div>
      <p class="content-card-desc">
        Se están preparando las cotizaciones en los suplidores locales
      </p>
    </div>
    <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex">
            <img src="../../../../../assets/icons/shopping_cart.svg" />
            <div>
              <p class="content-card-title">Cotización sin nombreID</p>
              <p class="content-card-quantity">4 artículos</p>
            </div>
          </div>
        </div>
        <div class="hr-container">
          <hr />
        </div>
        <p class="content-card-desc">
            8 opciones de suplidores entre $14,123.36 a $15,789.35
        </p>
      </div>
  </div>
</div>
