<div class="container">
  <div class="header">
    <div class="header-top">
      <p>144 ✨</p>
      <mat-icon>menu</mat-icon>
    </div>
    <p class="header-title">
      Ganas 50 ✨ por cada $1.00 que factures y al llegar a 1,000 ✨ la canjeas
      por un descuento.
    </p>
  </div>
  <div class="content">
    <p class="content-title">✨ Ganadas</p>
    <div class="content-cards-container">
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex-space-between">
            <div class="flex">
              <div class="content-card-img"></div>
              <div class="content-card-merchant">MerchantID</div>
            </div>
            <div class="content-card-swaps">10 canjeos</div>
          </div>
          <app-progress-bar text="547 ✨ por acumular para el descuento de $20.00" [status]="50"></app-progress-bar>
        </div>
          <hr />
          <p class="content-card-bill">
            10 Facturas en total
          </p>
      </div>
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex-space-between">
            <div class="flex">
              <div class="content-card-img"></div>
              <div class="content-card-merchant">MerchantID</div>
            </div>
            <div class="content-card-swaps">10 canjeos</div>
          </div>
          <app-progress-bar text="547 ✨ por acumular para el descuento de $20.00" [status]="75"></app-progress-bar>
        </div>
          <hr />
          <p class="content-card-bill">
            10 Facturas en total
          </p>
      </div>
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex-space-between">
            <div class="flex">
              <div class="content-card-img"></div>
              <div class="content-card-merchant">MerchantID</div>
            </div>
            <div class="content-card-swaps">10 canjeos</div>
          </div>
          <app-progress-bar text="547 ✨ por acumular para el descuento de $20.00" [status]="25"></app-progress-bar>
        </div>
          <hr />
          <p class="content-card-bill">
            10 Facturas en total
          </p>
      </div>
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex-space-between">
            <div class="flex">
              <div class="content-card-img"></div>
              <div class="content-card-merchant">MerchantID</div>
            </div>
            <div class="content-card-swaps">10 canjeos</div>
          </div>
          <app-progress-bar text="547 ✨ por acumular para el descuento de $20.00" [status]="0"></app-progress-bar>
        </div>
          <hr />
          <p class="content-card-bill">
            10 Facturas en total
          </p>
      </div>
    </div>
  </div>
</div>
