.container {
  height: 100vh;
  overflow-y: scroll;
}

.header {
  background: #181d17;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.flex {
  display: flex;
}

.header-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-icon {
    color: #87cd9b;
    font-size: 30px;
    margin-top: -4px;
  }
}

.header-top-text {
  color: #87cd9b;
  font-weight: 400;
  font-family: InterMedium;
  font-size: 17px;
  margin: 0;
  margin-right: 7px;
}

.header-text {
  color: #ffffff;
  font-size: InterBold;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  margin: 0;
  margin-top: 24px;
}

.header-secondary-text {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-family: InterLight;
  font-style: italic;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 0;
}

.content {
  background: #f6f6f6;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 85px;
}

.content-title {
  color: #181d17;
  font-family: InterBold;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.content-title-mt {
  margin-top: 20px;
}

.content-cards-container {
  margin-top: 15px;
}

input {
  height: 39px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background: #d9d9d9;
  color: #7b7b7b;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 22px;
  padding-left: 20px;
}

.input-overlay {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  margin-top: -26px;
  margin-bottom: 26px;
}
.content-card {
  padding-top: 16px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 10px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;

  hr {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 14px;
    margin-bottom: 16px;
  }
}

.content-card-top-container {
  padding-left: 10px;
  padding-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #e9e371;
  margin-right: 10px;
}

.content-card-merchant {
  color: #272727;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.content-card-swaps {
  color: #7b7b7b;
  text-align: right;
  font-family: InterMedium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.content-card-bill {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 10px;
}
