.container {
  min-height: 100vh;
  background-color: #181d17;
}

.header-wrapper {
  display: flex;
  padding: 15px 16px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: space-between;

  .left-part,
  .right-part {
    display: flex;
    align-items: center;
  }

  .title {
    color: var(--fondo-de-pantallas, #f6f6f6);
    font-family: InterRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 14.72px;
  }

  .info-button {
    width: 25.28px;
    height: 25.28px;
    flex-shrink: 0;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
      brightness(102%) contrast(102%);
  }

  .close {
    margin: 0;
    text-align: right;
    color: #c4c5c3;
    padding-right: 10px;

    * {
      font-size: 19px;
      font-family: InterRegular;
      color: #87CD9B;

      &::hover {
        cursor: pointer;
      }
      
    }
  }
}
.close-content {
  height: 50px;
  background-color: #7B7B7B;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: #181D17;
    font-size: 24px;
    &::hover {
      cursor: pointer;
    }
  }
}

main {
  padding: 28px 19px;
  padding-bottom: 70px;
  .banner {
    width: 100%;
    height: 44.8vw;
    max-height: 207px;
    background: url(../../../../../assets/images/banner.png);
    background-size: cover;
    border-radius: 10px;
  }
  .action-part {
    margin-top: 12px;
    padding: 20px;
    border-radius: 9.432px;
    border: 1px solid #7B7B7B;
    .flex {
      display: flex;
      align-items: center;
      .info {
        color: #FFF;
        font-family: InterBold;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 8px;
      }
    }
    .actions {
      .action {
        color: white;
        font-family: InterRegular;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 11px;
        padding-left: 12px;
        border-left: 2px solid #87CD9B;
      }
    }
  }
  .desc {
    color: #F6F6F6;
    font-family: InterRegular;
    font-size: 18.299px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 19px;
    span {
      color: #87CD9B;
    }
  }
}

.footer-swiper-title {
  color: #F6F6F6;
  text-align: center;
  font-family: InterRegular;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  span {
    color: #87CD9B;
  }
}

.footer-swiper {
  .swiper-custom-container {
    ::ng-deep .swiper-pagination-bullet {
      background-color: #181d17 !important;
      border: 1px solid white !important;
      width: 14px;
      height: 14px;
    }

    ::ng-deep .swiper-pagination-bullet-active {
      background-color: white !important;
      border: 1px solid white !important;
    }
  }

  ::ng-deep .swiper-pagination {
    display: none;
  }

  .slide-item {
    border: 1px solid gray;
    border-radius: 17px;
    margin: 0px 10px;
    padding: 0px 10px;
    .slide-content {
      color: var(--plomito, #c4c5c3);
      text-align: center;
      font-family: InterRegular;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 86.91%;
      margin: 25px auto;
    }
    .image {
      text-align: center;
    }
    .name {
      color: #F6F6F6;
      font-family: InterBold;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 7px 0px;
      text-align: center;
    }
    .role {
      color: #F6F6F6;
      text-align: center;
      font-family: InterRegular;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 24px;
    }
  }
  
}


.header-border {
  height: 1px;
  background-color: #7b7b7b;
  margin-bottom: 13px;
  width: 100%;
  margin-top: 30px;
}

footer {
  margin: auto;
  z-index: 999;
  position: fixed;
  max-width: 500px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #181d17;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background-color: #87cd9b;
}

footer.no-green {
  background-color: #935F00;
  color: white;
}

::ng-deep .merchant-registration .mat-dialog-content {
  overflow: visible;
}