<app-navigation [opened]="openNavigation" (closed)="openNavigation = false">
    <div class="container">
      <div class="header-wrapper">
        <div class="left-part">
          <img
            [src]="assetsFolder + '/icon_info.png'"
            class="info-button"
            alt="open internal information"
            (click)="(null)"
          />
    
          <div class="title">www.floristerias.club</div>
        </div>
    
        <div class="right-part">
          <div class="member">
            <div class="user-button" (click)="enterClub()" *ngIf="!headerService.user">Ingresa al club</div>
          </div>
    
          <div class="close" *ngIf="headerService.user" style="cursor: pointer">
            <span (click)="close()">X</span>
          </div>
        </div>
      </div>
    
      <main>
        <div class="landing-title">
          Es un ecosistema digital en constante desarrollo, diseñado para
          proporcionar soluciones a los desafíos que enfrentan las floristerías y
          sus proveedores.
        </div>

        <ng-container>
          <div class="tabs-container">
            <!-- TABS -->
            <div class="tabs">
              <div
                class="tab"
                (click)="changeTab(i)"
                *ngFor="let tab of tabs; index as i"
                [ngClass]="{ active: tab.active }"
              >
                {{ tab.text }}
              </div>
            </div>
  
            <!-- SUBTABS -->
            <div
              class="subtabs"
              *ngFor="let tab of tabs; index as i"
              [ngClass]="{ active: tab.active }"
            >
              <ng-container *ngIf="tab.active">
                <div
                  class="subtab"
                  *ngFor="let subtab of tab.subTabs; index as j"
                  (click)="changeSubtab(i, j)"
                  [ngClass]="{ active: subtab.active }"
                >
                  {{ subtab.text }}
                </div>
              </ng-container>
            </div>
            <!-- CONTENIDO DE SUBTABS -->
            <ng-container *ngFor="let tab of tabs; index as i">
              <ng-container *ngIf="tab.active">
                <ng-container *ngFor="let subtab of tab.subTabs; index as j">
                  <ng-container *ngIf="subtab.active">
                    <div class="slide-content">
                      <p
                        *ngFor="let content of subtab.content"
                      >
                        {{ content }}
                      </p>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
    
        <div class="header-border"></div>
    
        <ng-container *ngFor="let swiper of swipers; let swiperIndex = index">
          <div class="footer-swiper">
            <h3 class="footer-swiper-title">{{ swiper.title }}</h3>
    
            <div class="swiper-custom-container">
              <swiper [config]="swiperConfig">
                <div *ngFor="let slide of swiper.slides; let i = index">
                  <div class="slide-content">{{ slide.content }}</div>
    
                  <div class="blank-space"></div>
                </div>
              </swiper>
            </div>
          </div>
    
          <div
            class="header-border"
            *ngIf="swiperIndex !== swipers.length - 1"
            style="margin-top: 42px"
          ></div>
        </ng-container>
      </main>
    
      <footer (click)="share()">Comparte</footer>
    </div>
</app-navigation>
