.container {
  min-height: 100vh;
  background-color: #181d17;
}

.special {
  // margin: 0px auto;
  margin-left: 215px;
  width: 69px;
  height: 69px;
  background-color: #6FCF97;
  border-radius: 50%;
  margin-top: -30px;
  margin-bottom: -45px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  span.icon {
    margin-bottom: 7px;
  }
  @media (max-width: 500px) {
    margin-left: calc(50vw - 35px);
  }
}

.header-wrapper {
  display: flex;
  padding: 15px 16px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: space-between;

  .left-part,
  .right-part {
    display: flex;
    align-items: center;
  }

  .title {
    color: var(--fondo-de-pantallas, #f6f6f6);
    font-family: InterRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 14.72px;
  }

  .info-button {
    width: 25.28px;
    height: 25.28px;
    flex-shrink: 0;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
      brightness(102%) contrast(102%);
  }

  .close {
    margin: 0;
    text-align: right;
    color: #c4c5c3;
    padding-right: 10px;

    * {
      font-size: 19px;
      font-family: InterRegular;
      color: #87CD9B;

      &::hover {
        cursor: pointer;
      }
      
    }
  }
  @media (max-width: 500px) {
    .close *{
      width: calc(50vw - 60px);
      font-size: 17px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap !important;
    }
    .left-part .title {
      width: calc(50vw - 90px);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap !important;
    }
  }
}
.close-content {
  height: 50px;
  background-color: #7B7B7B;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: #181D17;
    font-size: 24px;
    &::hover {
      cursor: pointer;
    }
  }
}

main {
  padding: 28px 17px;
  padding-bottom: 70px;

  .landing-title {
    color: #fff;
    text-align: center;
    font-family: InterBold;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px auto 0px;
  }
  
  .sub-title {
    font-size: 17px;
    font-family: 'InterRegular';
    color: #C4C5C3;
    margin: 10px auto;
    width: fit-content;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 11px;
    padding-bottom: 34px;

    li {
      list-style: none;
      // display: flex;
      align-items: center;
      justify-content: flex-end;

      &:not(:first-child) {
        margin-top: 8px;
      }

      a {
        color: #c4c5c3;
        font-family: InterRegular;
        font-size: 17px;
      }

      .icon {
        position: absolute;
        visibility: hidden;
        right: 17px;
      }

      &.active {
        color: #87cd9b;

        a {
          color: #87cd9b;
        }

        .icon {
          visibility: visible;
          // color: #87cd9b;
        }
      }
    }

    .features-for-user {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 17px;

      &:not(:first-child) {
        margin-top: 26px;
      }

      h4 {
        margin: 0px;
        padding: 0px;
        color: #fff;
        text-align: center;
        font-family: InterBold;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 9px;
      }

      p {
        margin: 0px;
        padding: 0px;
        color: #fff;
        text-align: center;
        font-family: InterMedium;
        font-size: 19px;
        font-style: normal;
        line-height: normal;
      }
    }

    .text-list {
      margin-top: 15px;
      list-style: inside;
      display: list-item;
      color: #fff;
      font-family: InterRegular;
      font-size: 15px;
      font-style: normal;
      line-height: normal;

      &::marker {
        margin-right: 10px;
      }

      .title {
        position: relative;
        left: -5px;
        color: #fff;
        font-family: InterBold;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .list-content {
        position: relative;
      }
    }
  }
}

.footer-swiper {
  .swiper-custom-container {
    ::ng-deep .swiper-pagination-bullet {
      background-color: #181d17 !important;
      border: 1px solid white !important;
      width: 14px;
      height: 14px;
    }

    ::ng-deep .swiper-pagination-bullet-active {
      background-color: white !important;
      border: 1px solid white !important;
    }
  }
}

.footer-swiper-title {
  color: var(--fondo-de-pantallas, #f6f6f6);
  font-family: InterRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 26px auto;
  text-align: center;
}
.footer-swiper-sub-title {
  color: #F6F6F6;
  text-align: center;
  font-family: InterBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 220px;
  margin: auto;
}

.slide-content {
  color: var(--plomito, #c4c5c3);
  text-align: center;
  font-family: InterRegular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 86.91%;
  margin: 25px auto;
}

.blank-space {
  width: 100%;
  height: 75px;
}

.header-border {
  height: 1px;
  background-color: #7b7b7b;
  margin-bottom: 13px;
  width: 100%;
  margin-top: 30px;
}

footer {
  margin: auto;
  z-index: 999;
  position: fixed;
  max-width: 500px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 9px;
  padding-bottom: 3px;
  color: #181d17;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background-color: #87cd9b;
}

footer.no-green {
  background-color: #935F00;
  color: white;
}

.tabs-container {
  .title {
    color: #C4C5C3;
    margin-top: 30px;
    margin-left: 11.72px;
    font-size: 14px;
    margin: 46px auto 10px auto;
    padding-left: 12px;
  }
  .tab-question {
    font-size: 19px;
    color: white;
    font-weight: 600;
    font-family: InterRegular;
    margin: 17px 14px;
  }
  .tab-content-item {
    font-size: 17px;
    font-family: InterRegular;
    padding-left: 12px;
    padding-right: 12px;
    line-height: normal;
    color: #C4C5C3;
    margin-bottom: 12px;
    border-left: 2px solid #87CD9B;
  }

  .tab-content-item span.subText {
    font-size: 15px;
  }
}

.tabs {
  margin-top: 1.5em;
  margin-left: 11.72px;
  display: flex;
  justify-content: flex-start;
  height: fit-content;

  .tab {
    padding: 4px 13px;
    border-radius: 29px;
    border: 1px solid rgba(146, 140, 139, 0.94);
    color: #fff;
    font-family: "InterRegular";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 420px) {
      font-size: 13px;
    }

    &.active {
      background-color: #c4c5c3;
      font-family: InterBold;
      color: #181d17;
    }

    &:hover {
      cursor: pointer;
      background-color: #c4c5c3;
      color: #181d17;
    }
  }
}

.subtabs {
  display: flex;
  justify-content: flex-start;
  &.active {
    margin-bottom: 2em;
  }
  .subtab {
    cursor: pointer;
    margin-top: 1.5em;
    margin-left: 12px;
    color: #F6F6F6;
    font-family: InterRegular;
    font-size: 16px;
    &.active {
      padding-bottom: 3px;
      border-bottom: 2px solid #6FCF97;
    }
  }
}

.link-desc {
  .title {
    color: #FFF;
    font-family: InterBold;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    max-width: 393px;
    margin: 25px auto;
  }
  .link {
    color: #87CD9B;
    text-align: center;
    font-family: InterRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 293px;
    margin: auto;
    cursor: pointer;
  }
}

::ng-deep .merchant-registration .mat-dialog-content {
  overflow: visible;
}