<div class="container">
  <header>
    <p>
      WWW.INVISIBLE.MARKETING
    </p>
  </header>
  <main>
    <h1>
      Desarrollamos Apps que te a Ahorran Tiempo o Incrementan tus Ventas.
    </h1>
    <div class="contact">
      <h2>
        TIENES UNA IDEA CRUDA EN TU CABEZA? 
      </h2>
      <p>
        Las grandes innovaciones nacen de una pequeña necesidad.
      </p>
      <button type="button"  (click)="goToWhatsapp()">
        Tap aquí para que hablemos!
      </button>
    </div>
    <hr />
    <h2>
      APPS EN DESARROLLOS
    </h2>
    <swiper [config]="swiperConfig">
      <div class="swiper-slide">
        <h3>Laia</h3>
        <p>
          Le ahorra tiempo a los vendedores. Es un bot de Chats que se conecta a la base de datos de los artículos en venta e inventarios para brindar respuestas precisas y al instante.
        </p>
        <div>
          <p>Prueba el demo en:</p>
          <a href="#">www.LaiaChat.com</a>
        </div>
      </div>
      <div class="swiper-slide">
        <h3>Club de Flores</h3>
        <p>
          Atraen ventas recurrentes. Se creó un sistema de suscripción para una finca que ensambla los ramos florales en Colombia y los vende a clientes suscritos en USA.
        </p>
      </div>
      <div class="swiper-slide">
        <h3>Páginas Virtuales</h3>
        <p>
          Compradores de Arreglos Florales adicionan fotos y videos al mensaje de regalo tradicional con un QR.*
        </p>
      </div>
      <div class="swiper-slide">
        <h3>Ventas a través de enlaces</h3>
        <p>Comerciantes venden fácilmente a través de enlaces.</p>
      </div>
      <div class="swiper-slide">
        <h3>Ofertas Flash</h3>
        <p>Comerciantes venden con ofertas que duran sólo 24 horas.</p>
      </div>
      <div class="swiper-slide">
        <h3>Opinión & Recompensa al Comprador</h3>
        <p>
          Mide la experiencia de los Compradores y según su compra van acumulando puntos, al llegar a la meta reciben el premio configurado por el comerciante.
        </p>
      </div>
      <div class="swiper-slide">
        <h3>Recompensas</h3>
        <p>
          Compradores van acumulando puntos y al llegar a la meta reciben el premio configurado por el comerciante.
        </p>
      </div>
      <div class="swiper-slide">
        <h3>Colaboración según las ventas</h3>
        <p>
          Comerciantes colaboran con comunidades (organizaciones, escuelas etc..) que recaudan fondos según las compras de sus miembros.
        </p>
      </div>
      <div class="swiper-slide">
        <h3>Colaboración según las menciones</h3>
        <p>Comerciantes incentivan a quienes lo mencionan en sus redes sociales.</p>
      </div>
      <div class="swiper-slide">
        <h3>Ordenes de Compras</h3>
        <p>Comerciantes venden con ofertas que duran sólo 24 horas.</p>
      </div>
    </swiper>
  </main>
</div>
