<!--<div class="go-to-admin">
  Ir a mi view
</div>-->
<div style="min-height: 100vh">
  <div class="header-bg">
    <app-header-info
      [profileImage]="banner"
      [title]="merchantName"
      [description]="merchantSubheadline"
      [socials]="merchantSocials"
    ></app-header-info>
  </div>
  <!-- <app-page-component-tabs *ngIf="customizersId.length === 0" [tabsOptions]="pagesList"></app-page-component-tabs> -->
  <!-- <p class="headerParagraph" *ngIf="itemsByCategory.length > 0 && !hasCustomizer">
    <a>Lorem ipsum</a> dolor sit, amet consectetur adipisicing elit. Architecto nobis aperiam neque quas sint inventore esse error veniam sed animi.
  </p> -->
  <div
    style="margin-bottom: 60px"
    *ngIf="saleflowData && inputPackage.length > 0 && items.length === 0"
  >
    <div class="header-wrapper FD" [ngStyle]="{ height: '90px' }">
      <h6 class="header-text">
        Paquetes
      </h6>
      <img [src]="imageFolder + '/photoCollect.svg'" alt="" class="bpf">
    </div>
    <div>
      <ng-container *ngIf="visualMode; else swiperMode">
        <div
          class="package-list"
          *ngFor="let item of sliderPackage; let i = index"
        >
        <app-package-item
        [package]="item"
        [clickAble]="true"
        (click)="goToPackageDetail(i)"
        ></app-package-item>
          <!-- <app-saleflow-item
            [imgURL]="item.images[0]"
            [price]="item.price"
            [showPrice]="true"
            [description]="item.description"
            [showDescription]="true"
            [isSelected]="item.isSelected"
            [priceAlign]="'start'"
            [type]="2"
          >
          </app-saleflow-item> 
          Lo mantuve para referencia, por favor borrar una vez integrar para no tener codigo sucio xoxoxo
            -->
        </div>
      </ng-container>
      <ng-template #swiperMode>
        <app-swiper
          [saleFlowTwo]="true"
          [selectable]="saleflowData?.canBuyMultipleItems"
          [saleFlowTwoData]="sliderPackage"
          (slideActive)="save($event)"
          (toggleEmitter)="toggleSelected('package', $event)"
        ></app-swiper>
      </ng-template>
    </div>
    <!-- <ng-container *ngIf="!hasCustomizer && items.length > 0">
      <div class="header-wrapper">
        <h6
          class="header-text"
          [ngStyle]="{
            fontFamily: 'SfProRegular',
            color: '#7b7b7b',
            fontWeight: 100
          }"
        >
          Mas Vendidos
        </h6>
      </div>
      <app-swiper
        [saleFlowTwo]="true"
        [selectable]="saleflowData?.canBuyMultipleItems"
        [saleFlowTwoData]="items"
        (slideActive)="save($event)"
        (toggleEmitter)="toggleSelected('item', $event)"
      ></app-swiper>
    </ng-container> -->
  </div>
  <!-- <div *ngIf="itemsByCategory.length > 0" [ngStyle]="{backgroundColor: !hasCustomizer && '#ffffff'}"> -->
  <div class="content" *ngIf="itemsByCategory.length > 1">
    <div
      *ngFor="let item of itemsByCategory; let i = index"
      [ngStyle]="{ paddingBottom: '67px' }"
    >
      <div
        class="header-wrapper"
        [ngStyle]="{ marginTop: i == 0 ? '15px' : '0px' }"
      >
        <h6
          class="header-text"
        >
          {{ item.label }}
        </h6>
        <h6
          class="see-all-more"
          style="font-weight: 100"
          (click)="seeCategories(i)"
        >
          Ver..
        </h6>
      </div>
      <div style="padding: 0 1.20rem;">
        <swiper [config]="swiperConfig">
          <div *ngFor="let swiperItem of item.items; let j = index" style="max-width: 227px;">
            <app-saleflow-item
              [type]="2"
              [showBox]="swiperItem.customizerId ? false : true"
              [imgURL]="swiperItem.images[0]"
              [isSelected]="swiperItem.isSelected"
              [showSelected]="true"
              [price]="swiperItem.pricing"
              [showPrice]="swiperItem.customizerId ? false : true"
              priceAlign="start"
              [backgroundSize]="swiperItem.customizerId ? 'contain' : 'cover'"
              (itemClicked)="onItemCategoryClick(i, j)"
            >
            </app-saleflow-item>
          </div>
        </swiper> 
      </div>
      <div class="categories-wrapper" *ngIf="i === 0">
        <h6 class="header-text">
          Ver mas de:
        </h6>
        <div class="categories-list">
          <div
            *ngFor="let category of categories"
            class="category-item"
            (click)="seeCategories(category._id)"
          >
            {{category.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="itemsByCategory.length === 1">
    <div
      class="header-wrapper"
      style="margin-top: 15px;"
    >
      <h6
        class="header-text"
      >
        {{ itemsByCategory[0].label }}
      </h6>
      <h6
        class="see-all-more"
        style="font-weight: 100"
        (click)="seeCategories(0)"
      >
        Ver..
      </h6>
    </div>
    <div class="itemGrid">
      <ng-container *ngFor="let swiperItem of itemsByCategory[0].items; index as i">
        <app-saleflow-item
          [type]="2"
          [showBox]="swiperItem.customizerId ? false : true"
          [imgURL]="swiperItem.images[0]"
          [isSelected]="swiperItem.isSelected"
          [showSelected]="true"
          [price]="swiperItem.pricing"
          [showPrice]="swiperItem.customizerId ? false : true"
          priceAlign="start"
          [backgroundSize]="swiperItem.customizerId ? 'contain' : 'cover'"
          (itemClicked)="onItemCategoryClick(0, i)"
        >
        </app-saleflow-item>
      </ng-container>
    </div>
  </div>
  <section
    style="margin-bottom: 73px"
    *ngIf="itemsByCategory.length === 0 && items.length === 0"
  >
    <ng-container *ngIf="status === 'loading'">
      <h3 class="no-results">Cargando productos...</h3>
    </ng-container>
    <ng-container *ngIf="status === 'complete'">
      <h3 class="no-results">No se han encontrado resultados.</h3>
    </ng-container>
    <ng-container *ngIf="status === 'error'">
      <h3 class="no-results">Hubo un problema al conseguir los productos.</h3>
    </ng-container>
  </section>
</div>

<ng-container *ngIf="saleflowData">
  <ng-container *ngIf="!hasCustomizer; else noCTA">
    <app-sticky-button
      [mode]="canOpenCart ? 'basic' : 'disabled'"
      [size]="canOpenCart ? 'normal' : 'small'"
      [text]="
        canOpenCart
          ? 'VER CARRITO DE COMPRAS'
          : saleflowData._id === '61c3b1875c4e7c4f59d256d2'
          ? 'TOCA EN TU PLAN PREFERIDO'
          : 'TOCA DONDE PREFIERAS'
      "
      (click)="showShoppingCartDialog()"
    ></app-sticky-button>
  </ng-container>
  <ng-template #noCTA>
    <app-sticky-button
      [mode]="'disabled'"
      size="small"
      [text]="'TOCA DONDE PREFIERAS'"
    ></app-sticky-button>
  </ng-template>
</ng-container>
