<div style="min-height: 100vh">
  <div class="header-bg">
    <app-header-info [profileImage]="banner" [title]="merchantName" [description]="merchantSubheadline"
      [socials]="merchantSocials"></app-header-info>
  </div>
  <div style="margin-bottom: 60px; margin-top: 30px;" *ngIf="saleflowData && packageData.length && items.length === 0">
    <div class="package-list" *ngFor="let data of packageData; let i = index">
      <app-package-item [package]="data.package" [packageItems]="data.items" (action)="goToPackageDetail(i)">
      </app-package-item>
    </div>
  </div>
  <div class="content" *ngIf="!hasCustomizer && items.length && itemsByCategory.length < 4">
    <div class="item-list" style="margin-bottom: 60px;" *ngIf="categorylessItems.length">
      <ng-container *ngFor="let item of categorylessItems; index as i">
        <app-saleflow-item *ngIf="item.showImages" [type]="2" [big]="true" [name]="item.name"
          [showBox]="item.customizerId ? false : true" [imgURL]="item.images[0]" [isSelected]="item.isSelected"
          [showSelected]="true" [price]="item.pricing" [showPrice]="item.customizerId ? false : true" priceAlign="start"
          [backgroundSize]="item.customizerId ? 'contain' : 'cover'" (itemClicked)="onItemClick(item._id)"
          (action)="onItemClick(item._id)"></app-saleflow-item>
        <app-package-item [clickAble]="true" *ngIf="!item.showImages" [item]="item" (action)="onItemClick(item._id)">
        </app-package-item>
      </ng-container>
    </div>
    <div *ngFor="let categoryItems of itemsByCategory; let i = index">
      <h6 class="category-header">{{ categoryItems.label }}</h6>
      <div class="item-list">
        <ng-container *ngFor="let swiperItem of categoryItems.items; index as i">
          <app-saleflow-item *ngIf="swiperItem.showImages" [type]="2" [big]="true" [name]="swiperItem.name"
            [showBox]="swiperItem.customizerId ? false : true" [imgURL]="swiperItem.images[0]"
            [isSelected]="swiperItem.isSelected" [showSelected]="true" [price]="swiperItem.pricing"
            [showPrice]="swiperItem.customizerId ? false : true" priceAlign="start"
            [backgroundSize]="swiperItem.customizerId ? 'contain' : 'cover'" (itemClicked)="onItemClick(swiperItem._id)"
            (action)="onItemClick(swiperItem._id)"></app-saleflow-item>
          <app-package-item [clickAble]="true" *ngIf="!swiperItem.showImages" [item]="swiperItem"
            (action)="onItemClick(swiperItem._id)"></app-package-item>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="content" *ngIf="itemsByCategory.length >= 4 || hasCustomizer">
    <div *ngFor="let item of itemsByCategory; let i = index" [ngStyle]="{ paddingBottom: '67px' }">
      <div class="header-wrapper" [ngStyle]="{ marginTop: i == 0 ? '15px' : '0px' }">
        <h6 class="header-text">
          {{ item.label }}
        </h6>
        <h6 class="see-all-more" style="font-weight: 100" (click)="seeCategories(i)">
          Ver..
        </h6>
      </div>
      <div style="padding: 0 1.20rem;">
        <swiper [config]="swiperConfig">
          <div *ngFor="let swiperItem of item.items; let j = index" style="max-width: 227px;">
            <app-saleflow-item [type]="2" [showBox]="swiperItem.customizerId ? false : true"
              [imgURL]="swiperItem.images[0]" [isSelected]="swiperItem.isSelected" [showSelected]="true"
              [price]="swiperItem.pricing" [showPrice]="swiperItem.customizerId ? false : true" priceAlign="start"
              [backgroundSize]="swiperItem.customizerId ? 'contain' : 'cover'"
              (itemClicked)="onItemClick(swiperItem._id)"></app-saleflow-item>
          </div>
        </swiper>
      </div>
      <div class="categories-wrapper" *ngIf="i === 0">
        <h6 class="header-text">
          Ver mas de:
        </h6>
        <div class="categories-list">
          <div *ngFor="let category of categories" class="category-item" (click)="seeCategories(category._id)">
            {{category.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="content" *ngIf="itemsByCategory.length === 1">
    <div
      class="header-wrapper"
      style="margin-top: 15px;"
    >
      <h6
        class="header-text"
      >
        {{ itemsByCategory[0].label }}
      </h6>
      <h6
        class="see-all-more"
        style="font-weight: 100"
        (click)="seeCategories(0)"
      >
        Ver..
      </h6>
    </div>
    <div class="itemGrid">
      <ng-container *ngFor="let swiperItem of itemsByCategory[0].items; index as i">
        <app-saleflow-item
          [type]="2"
          [showBox]="swiperItem.customizerId ? false : true"
          [imgURL]="swiperItem.images[0]"
          [isSelected]="swiperItem.isSelected"
          [showSelected]="true"
          [price]="swiperItem.pricing"
          [showPrice]="swiperItem.customizerId ? false : true"
          priceAlign="start"
          [backgroundSize]="swiperItem.customizerId ? 'contain' : 'cover'"
          (itemClicked)="onItemClick(0, i)"
        >
        </app-saleflow-item>
      </ng-container>
    </div>
  </div> -->
  <section style="margin-bottom: 73px"
    *ngIf="itemsByCategory.length === 0 && items.length === 0 && sliderPackage.length === 0">
    <ng-container *ngIf="status === 'loading'">
      <h3 class="no-results">Cargando productos...</h3>
    </ng-container>
    <ng-container *ngIf="status === 'complete'">
      <h3 class="no-results">No se han encontrado resultados.</h3>
    </ng-container>
    <ng-container *ngIf="status === 'error'">
      <h3 class="no-results">Hubo un problema al conseguir los productos.</h3>
    </ng-container>
  </section>
</div>

<ng-container *ngIf="saleflowData">
  <ng-container *ngIf="!hasCustomizer; else noCTA">
    <app-sticky-button [mode]="canOpenCart ? 'basic' : 'disabled'" [size]="canOpenCart ? 'normal' : 'small'" [text]="
        canOpenCart
          ? 'VER CARRITO DE COMPRAS'
          : saleflowData._id === '61c3b1875c4e7c4f59d256d2'
          ? 'TOCA EN TU PLAN PREFERIDO'
          : 'TOCA DONDE PREFIERAS'
      " (click)="showShoppingCartDialog()"></app-sticky-button>
  </ng-container>
  <ng-template #noCTA>
    <app-sticky-button [mode]="'disabled'" size="small" [text]="'TOCA DONDE PREFIERAS'"></app-sticky-button>
  </ng-template>
</ng-container>