<div class="container">
  <div class="header">
    <div class="flex">
      <mat-icon
        style="cursor: pointer;"
        (click)="showQuotations()"
      >close</mat-icon>
      <p class="header-title">Cotización sin nombreID</p>
    </div>
    <img
      [src]="
        currentView === 'SUPPLIERS_LIST'
          ? assetsFolder + '/icon_info.png'
          : assetsFolder + '/dropdown_icon.png'
      "
      src="../../../../../assets/icons/info-black.svg"
      (click)="
        currentView =
          currentView === 'SUPPLIERS_LIST'
            ? 'QUOTATION_CONFIG'
            : 'SUPPLIERS_LIST'
      "
      style="cursor: pointer;"
    />
  </div>
  <div class="content">
    <ng-container [ngSwitch]="currentView">
      <ng-container *ngSwitchCase="'SUPPLIERS_LIST'">
        <p class="content-title">Precios de Suplidores:</p>
        <div class="content-cards-container">
          <div
            class="content-card"
            *ngFor="let match of quotationMatches"
            (click)="createOrder(match)"
          >
            <div class="content-card-top-container">
              <div class="flex">
                <div
                  class="content-card-img"
                  [ngStyle]="{
                    backgroundImage: match.merchant.image
                      ? 'url(' + match.merchant.image + ')'
                      : 'url(/assets/images/noimage.png)',
                    backgroundRepeat: 'no-repeat',
                    backgroundPosition: 'center',
                    backgroundSize: 'cover'
                  }"
                ></div>
                <p class="content-card-title">
                  {{ match.merchant.name || match.merchant.slug }}
                </p>
              </div>
              <p class="content-card-cotization">Cotizó {{ match.total | currency }}</p>
            </div>
            <ul class="content-card-list-container">
              <li>
                {{ match.items.length }} de {{ match.itemsMax }} artículos
                disponibles
              </li>
            </ul>

            <!--
              <hr />
            -->
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'QUOTATION_CONFIG'">
        <p class="content-title">Información:</p>

        <div class="content-cards-container">
          <div class="content-card info" (click)="editQuotation()">
            <h3>Articulos en el carrito</h3>

            <h6>{{ quotation.items.length }}</h6>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
