<div class="container">
  <div class="header">
    <div class="flex">
      <mat-icon>close</mat-icon>
      <p class="header-title">Cotización sin nombreID</p>
    </div>
    <img src="../../../../../assets/icons/info-black.svg" />
  </div>
  <div class="content">
    <p class="content-title">Precios de Suplidores:</p>
    <div class="content-cards-container">
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex">
            <div class="content-card-img"></div>
            <p class="content-card-title">MerchantSuplidorID</p>
          </div>
          <p class="content-card-cotization">Cotizó $14,452</p>
        </div>
        <ul class="content-card-list-container">
          <li>3 de 4 artículos disponibles</li>
          <li>Entregan 3 horas después de la orden</li>
          <li>Entregan lugarid, lugarid, lugarid</li>
        </ul>
        <hr>
        <p class="content-card-cotization">
            Solicitada hace FechaID
        </p>
      </div>
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex">
            <div class="content-card-img"></div>
            <p class="content-card-title">MerchantSuplidorID</p>
          </div>
          <p class="content-card-cotization">Cotizó $14,452</p>
        </div>
        <ul class="content-card-list-container">
          <li>3 de 4 artículos disponibles</li>
          <li>Entregan 3 horas después de la orden</li>
          <li>Entregan lugarid, lugarid, lugarid</li>
        </ul>
        <hr>
        <p class="content-card-cotization">
            Solicitada hace FechaID
        </p>
      </div>
      <div class="content-card">
        <div class="content-card-top-container">
          <div class="flex">
            <div class="content-card-img"></div>
            <p class="content-card-title">MerchantSuplidorID</p>
          </div>
          <p class="content-card-cotization">Cotizó $14,452</p>
        </div>
        <ul class="content-card-list-container">
          <li>3 de 4 artículos disponibles</li>
          <li>Entregan 3 horas después de la orden</li>
          <li>Entregan lugarid, lugarid, lugarid</li>
        </ul>
        <hr>
        <p class="content-card-cotization">
            Solicitada hace FechaID
        </p>
      </div>
    </div>
  </div>
</div>
