<div class="container">
    <app-helper-headerv2
    [mode]="'center'"
    [whatsapp]="false"
    [shopcart]="false"
    [navtext]="category?.name"
    [color]="'#E9E371'"
    ></app-helper-headerv2>

    <app-header-info-admin
    [data]="[{
        icon: '/folder-details.svg',
        text: {
            content: 'Mis Compradores',
            color: '#2874AD'
        },
        filter: 'no'
    },
    {
        text: {
            content: 'RD$ '+ordersTotal?.total.toLocaleString('es-MX')+' Total en Ventas',
            color: '#2874AD'
        }
    },
    {
        icon: '/star.svg',
        text: {
            content: '144 En Colaboraciones',
            color: '#2874AD'
        }
    }]"
    [merchant]="true"
    ></app-header-info-admin>

    <div class="tab-area">
        <div class="left">
            <div class="item-tab">
                <p class="text-tab">Items</p>
            </div>
        </div>
    </div>

    <div class="items-area" >
        <app-saleflow-item
            *ngFor="let item of items; index as i"
            [imgURL]="item.images[0]"
            [price]="item.pricing"
            [income]="0"
            [quantity]="0"
            [index2]="0"
            [showIcon]="true"
        ></app-saleflow-item>
    </div>
     
    <app-bubble-button
    [text]="'&#60;'"
    [text2]="'NEW ITEM'"
    ></app-bubble-button>

    <app-sticky-button
    [mode]="'disabled-fixed'"
    [text]="'TOCA DONDE PREFIERAS'"
    [size]="'small'"
    [bgColor]="'#AFAFAF'"
    ></app-sticky-button>
</div>
