<div class="component">
  <!-- <mat-toolbar class="header">
    <div class="spacer"></div>
    <button mat-button style="border-radius: 0" (click)="openNavigation = true">
      <span>{{
        headerService.user?._id === headerService.saleflow?.merchant.owner._id
          ? "Vista de compradores"
          : "Stars for Causes"
      }}</span>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar> -->
  <div class="header">
    <div class="contact-button">
      <div>
        <div>
          <div
            class="icon"
            [style.background]="
              _DomSanitizer.bypassSecurityTrustStyle(
                'url(' +
                  headerService.saleflow?.merchant?.image +
                  ') no-repeat center center / cover #e9e371'
              )
            "
          ></div>
          <span class="title">
            {{
              headerService.saleflow?.merchant?.name.length < 26
                ? headerService.saleflow?.merchant?.name
                : (headerService.saleflow?.merchant?.name.slice(0, 26) + ".." ||
                    "Tienda" | titlecase)
            }}
          </span>
        </div>
        <button class="btn" (click)="openContactInfo()">
          <span>Simbolos & Contactos</span>
        </button>
      </div>
    </div>
  </div>
  <div class="top-bar">
    <div
      *ngIf="tags.length"
      class="chip-list"
      #elemt
      (mousedown)="startDragging($event, elemt)"
      (mouseup)="stopDragging()"
      (mouseleave)="stopDragging()"
      (mousemove)="moveEvent($event, elemt)"
    >
      <a
        class="chip"
        [routerLink]="[
          '/ecommerce',
          headerService.saleflow.merchant.slug,
          'store'
        ]"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Todos
      </a>
      <a
        *ngFor="let tag of tags"
        class="chip"
        [routerLink]="[
          '/ecommerce',
          headerService.saleflow.merchant.slug,
          'store',
          'categories',
          tag._id
        ]"
        routerLinkActive="selected"
      >
        <!-- <app-gradient-card [tag]="tag"></app-gradient-card> -->
        {{ tag.name }}
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<br /><br /><br /><br />
<div id="footer" class="display-footer hide">
  <button class="close" (click)="closeFooter()">X</button>
  <div class="footer-content">
    <ul class="footer-links">
      <li
        *ngFor="let term of terms"
        class="link"
        (click)="redirectToTermsOfUse(term)"
      >
        {{ term.text }}
      </li>
    </ul>

    <div class="logos">
      <img
        class="payment-methods-logos"
        src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets%2Fpayment_methods_logos.svg"
      />
    </div>
  </div>
</div>
<!-- <div id="footerbtn" class="display-footer">
  <button mat-mini-fab class="info-button" (click)="displayFooter()">i</button>
</div> -->

<div class="action-bar" *ngIf="!headerService.saleflow?.merchant.contactFooter">
  <button mat-button (click)="shareStore()">
    Compartir KiosKo
    <i class="fa fa-share-alt" aria-hidden="true"></i>
  </button>
</div>
<div class="contact-bar">
  <ul>
    <li>
      <a
        (click)="displayFooter()"
        style="cursor: pointer;"
      >
        <div class="contact">
          <div class="logo phone">
            <img [src]="env + '/icon-i.svg'" alt="" style="filter: invert(99%) sepia(99%) saturate(34%) hue-rotate(112deg) brightness(106%) contrast(100%);">
          </div>
        </div>
      </a>
    </li>
    <!-- <li *ngIf="headerService.saleflow?.merchant.owner.phone">
      <a
        [href]="'tel:+' + headerService.saleflow?.merchant.owner.phone"
        target="_blank"
      >
        <div class="contact">
          <div class="logo phone" style="transform: rotate(90deg)">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </li> -->
    <li *ngIf="headerService.saleflow?.merchant.owner.phone">
      <a
        [href]="
          'https://wa.me/' +
          headerService.saleflow?.merchant.owner.phone.replace('+', '')
        "
        target="_blank"
      >
        <div class="contact">
          <div class="logo whatsapp">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </li>
    <li *ngIf="headerService.saleflow?.merchant.owner.email">
      <a
        [href]="'mailto:' + headerService.saleflow?.merchant.owner.email"
        target="_blank"
      >
        <div class="contact">
          <div class="logo email">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    </li>
    <ng-container *ngIf="headerService.merchantContact">
      <li *ngFor="let link of headerService.merchantContact.link" [ngStyle]="{ display: link.name !== 'Twitter' ? 'block' : 'none' }">
        <a [href]="link.value" target="_blank" *ngIf="link.name !== 'Twitter'">
          <div class="contact">
            <div class="logo instagram" *ngIf="link.name == 'Instagram'">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="logo facebook" *ngIf="link.name == 'Facebook'">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </div>
            <!-- <div class="logo twitter" *ngIf="link.name == 'Twitter'">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </div> -->
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
  <div style="display: flex; justify-content: center; align-items: center;">
    <ng-container *ngIf="!headerService.order?.products?.length">
      <img [src]="env + '/star-highlight.png'" alt="" style="width: 40px">
      <p class="highlighted-text">Stars for causes</p>
    </ng-container>
    <div class="cart-container" *ngIf="headerService.order?.products?.length" (click)="goToCart()">
      {{ headerService.order?.products?.length }}
      <img [src]="env + '/cart-green.png'" alt="" style="width: 15px; margin-bottom: 2px;">
    </div>
  </div>
</div>
