button {
  all: unset;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.store-page {
  height: 100vh;
  overflow-y: scroll;
}
.component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(
    180deg,
    white 50%,
    rgba(213, 213, 213, 0.25) 100%
  );
}
main {
  flex-grow: 1;
  background-color: #f6f6f6;
}
.top-input-area {
  margin: 16px;
}
:host ::ng-deep .swiper-button-next,
:host ::ng-deep .swiper-button-prev {
  display: none;
}
.description-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 32px;
}
.saleflows-item-grid {
  width: auto;
  padding: 24px 24px 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 14px;
  column-gap: 13px;
  row-gap: 22px;
  overflow-x: hidden;
  justify-items: center;
  .capsize {
    width: 100%;
    height: auto;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 47px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 5;
  .merchant-info {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .icon {
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
  }
  .title {
    &:nth-child(2) {
      padding-left: 7px;
    }
    color: #ffffff;
    font-size: 16px;
    font-family: "SfProMedium";
  }
}
.footer-links {
  list-style: none;
  background-color: black;
  margin: 0px;
  padding: 0px 6.54%;
  padding-top: 20px;
  padding-bottom: 70px;
  .link {
    font-size: 19px;
    color: white;
    font-family: RobotoMedium;
    line-height: 24px;
    width: fit-content;
    &:hover {
      cursor: pointer;
      color: darken($color: #a1a1a1, $amount: 15);
    }
  }
}

.display-footer {
  position: fixed;
  width: 100%;
  max-width: 500px;
  bottom: 0;
  transition: 1.5s;

  .close {
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  .info-button {
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 40px;
    height: 15px;
    color: #fff;
    margin: 0 auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}

.hide {
  display: none;
  visibility: hidden;
}
