a {
  text-decoration: none;
}
.component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(
    180deg,
    white 50%,
    rgba(213, 213, 213, 0.25) 100%
  );
}
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;

  .title {
    margin-left: 11px;
    color: #181d17;
    font-size: 16px;
    font-family: "InterBold";
    text-transform: capitalize;
  }

  span {
    font-family: "InterLight";
    font-size: 14px;
    color: #7b7b7b;
  }

  .contact-button {
    padding: 7px 21px;
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }

    .btn {
      all: unset;
      cursor: pointer;
      margin-left: auto;
    }
  }
}

.footer-content {
  background-color: #272727;
  padding-bottom: 20px;
}

.footer-links {
  list-style: none;
  margin: 0px;
  padding: 0px 6.54%;
  padding-top: 20px;
  .link {
    font-size: 19px;
    color: white;
    font-family: RobotoMedium;
    line-height: 24px;
    width: fit-content;
    &:hover {
      cursor: pointer;
      color: darken($color: #a1a1a1, $amount: 15);
    }
  }
}

.display-footer {
  position: fixed;
  width: 100%;
  max-width: 500px;
  bottom: 0;
  transition: 1.5s;
  z-index: 9999;

  .close {
    all: unset;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  .info-button {
    all: unset;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 40px;
    height: 15px;
    color: #fff;
    margin: 0 auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.payment-methods-logos {
  background-color: #272727;
  width: 100%;
  padding: 2rem;
}

.action-bar {
  background-color: #6fcf97;
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 500px;
  z-index: 999;
  bottom: 0;

  button {
    font-family: SfProLight;
    font-size: 13px;
    color: #272727;
    width: 100%;
    text-align: left;
  }
}
.contact-bar {
  background-color: #171d16;
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 500px;
  z-index: 999;
  bottom: 0;

  ul {
    padding: 4px 0;
    display: flex;
    gap: 10px;
    margin: 0 auto;

    li {
      list-style: none;

      .logo {
        border-radius: 26px;
        padding: 6px 8px;

        i {
          color: #fff;
          font-size: 30px;
        }
      }
    }
  }
}
.chip-list {
  margin-top: 8px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 8px;

  .chip {
    background-color: transparent;
    border: solid 1px #d4d4d4;
    font-family: SfProLight;
    font-size: 1rem;
    border-radius: 24px;
    padding: 4px 18px;
    transition: 0.2s;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: #272727;

    &.selected {
      border-color: #bdbfbd;
      background-color: #bdbfbd;
      font-family: SfProSemiBold;
      color: #171d16;
      transition: 0.2s;
      color: #171d16;
    }
  }
}

.top-bar {
  padding-top: 16px;
  padding-left: 12px;

  .contact-button {
    padding: 0 8px;
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      .title {
        margin-left: 11px;
        color: #181d17;
        font-size: 18.84px;
        font-family: "InterBold";
      }
    }
  }
}

::ng-deep.mat-bottom-sheet-container {
  max-width: 500px !important;
  width: 100% !important;
  margin: 0 !important;
}
