a {
  text-decoration: none;
}
.component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(
    180deg,
    white 50%,
    rgba(213, 213, 213, 0.25) 100%
  );
}

.content {
  padding-bottom: 50px;
}

.user-id {
  font-family: InterSemiBold;
  font-size: 15px;
  color: var(--Verde-Oscurito, #3B654A); 
}

.bio {
  border-radius: 6px;
  border: 1px solid #7B7B7B; 
  width: 93%;
  font-family: InterRegular;
  font-size: 15px;
  padding: 10px 18px;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  flex-direction: column;
  max-width: 500px;
  background-color: #f6f6f6;


  .buttons-bar {
    display: flex;
    padding: 14px 12px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .sub-button {
      color: var(--verde-oscuro, #435A4A);
      font-family: InterMedium;
      padding: 12px 20px;
      border-radius: 6px;
      border: 2px solid var(--verde-oscuro, #435A4A);
    }
    .sub-button.logged-in {
      background: var(--verde-oscuro, #435a4a);
      color: #f6f6f6;
    }
  }

  .title {
    margin-left: 11px;
    color: var(--Verde-Oscurito, #3B654A); 
    font-size: 18px;
    font-family: "InterBold";
    text-transform: capitalize;
  }

  span {
    font-family: "InterLight";
    font-size: 14px;
    color: #7b7b7b;
  }

  .contact-button {
    padding: 7px 21px;
    width: 100%;
    background: #fff;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .go_back_arrow {
        cursor: pointer;
        height: 30px;
        width: 30px;
        font-size: 30px;
        margin-left: -10px;
      }

      .left-end {
        display: flex;
        align-items: center;
        gap: 5px;
        p {
          font-family: InterSemiBold;
          font-size: 15px;
          color: var(--Verde-Oscurito, #3B654A);
        }
        img {
          width: 31px;
        }
      }

      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }

    .btn {
      all: unset;
      cursor: pointer;
      margin-left: auto;
      text-align: right;
    }
  }
}

.top-blank-space {
  height: 50px;
  width: 100%;
}

.footer-content {
  background-color: #272727;
  padding-bottom: 20px;
}

.footer-links {
  list-style: none;
  margin: 0px;
  padding: 0px 6.54%;
  padding-top: 20px;
  .link {
    font-size: 19px;
    color: white;
    font-family: RobotoMedium;
    line-height: 24px;
    width: fit-content;
    &:hover {
      cursor: pointer;
      color: darken($color: #a1a1a1, $amount: 15);
    }
  }
}

.display-footer {
  position: fixed;
  width: 100%;
  max-width: 500px;
  bottom: 0;
  transition: 1.5s;
  z-index: 9999;

  .close {
    all: unset;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  .info-button {
    all: unset;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 40px;
    height: 15px;
    color: #fff;
    margin: 0 auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}
.display-footer.mobile{
  max-width: 427px;
  margin-bottom: calc(100vh - 745px);
}

.hide {
  display: none;
  visibility: hidden;
}

.payment-methods-logos {
  background-color: #272727;
  width: 100%;
  padding: 2rem;
}

.action-bar {
  background-color: #6fcf97;
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 500px;
  z-index: 999;
  bottom: 0;

  button {
    font-family: SfProLight;
    font-size: 13px;
    color: #272727;
    width: 100%;
    text-align: left;
  }
}
.contact-bar {
  background-color: var(--verde-oscuro, #435A4A);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 500px;
  z-index: 999;
  bottom: 0;
  padding: 0 15px;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;

    li {
      list-style: none;

      .logo {
        border-radius: 26px;
        padding: 6px 8px;

        i {
          color: #fff;
          font-size: 30px;
        }
        img,
        i {
          margin-top: 3px;
        }
      }
    }
  }
  

  .highlighted-text {
    text-align: right;
    color: #87CD9B;
    font-size: 16px;
    font-family: 'InterBold';
    padding-right: 7px;
  }
  .cart-container {
    cursor: pointer;
    background-color: #f7d455;
    color: #181d17;
    border-radius: 10px;
    padding: 8px;
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
  }
}
.contact-bar.mobile{
  max-width: 427px;
  margin-bottom: calc(100vh - 745px);
}
.chip-list {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 8px;

  .chip {
    background-color: transparent;
    border: solid 1px #d4d4d4;
    font-family: SfProLight;
    font-size: 1rem;
    border-radius: 24px;
    padding: 4px 18px;
    transition: 0.2s;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: #272727;

    &.selected {
      border-color: #bdbfbd;
      background-color: #bdbfbd;
      font-family: SfProSemiBold;
      color: #171d16;
      transition: 0.2s;
      color: #171d16;
    }
  }
}

.top-bar {
  padding-top: 16px;
  padding-left: 12px;
  padding-bottom: 16px;
  width: 100%;
  max-width: 500px;
  background-color: #f6f6f6;

  .contact-button {
    padding: 0 8px;
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: InterMedium;
  font-weight: 900;

  mat-icon {
    color: #171d16;
  }
}

.shopping-cart-container {
  cursor: pointer;
  width: 55px;
  height: 35px;
  border-radius: 5px;
  background: #6fcf97;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center !important;
  font-family: InterMedium;
  font-weight: 900;

  mat-icon {
    color: #171d16;
  }
}

.input-container {
  width: 100%;
  background: #f6f6f6;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;

  input {
    width: 100%;
    height: 39px;
    border-radius: 8px;
    background: #d9d9d9;
    border: 0;
    padding-left: 21px;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  input::placeholder {
    color: #7b7b7b;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.input-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -34px;
  
  .icon-button {
    cursor: pointer;
  }

  div {
    color: #272727;
    font-family: InterMedium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 15px;
  }
}

.input-item-text {
  border-radius: 29px;
  background: #c4c5c3;
  width: 100%;
  color: #181d17;
  text-align: center;
  font-family: InterMedium;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 13px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:15px;
}

::ng-deep.mat-bottom-sheet-container {
  max-width: 500px !important;
  width: 100% !important;
  margin: 0 !important;
}
