<div class="container">
  <div class="cards" *ngIf="cardsArray">
    <div class="card" *ngFor="let item of cardsArray; let i = index">
      <p class="top-box-text">{{ item.title }}</p>
      <p class="bottom-box-text">${{ item.subtitle }}</p>
    </div>
  </div>

  <div class="facturas">
    <div class="factura" *ngFor="let order of cardsArray2; let i = index">
      <div
        class="bar"
        [style]="{
          backgroundColor: barColor
        }"
      ></div>
      <div *ngIf="displayImage" class="square" [ngStyle]="{ backgroundImage: 'url(' + order.image + ')' }"></div>
      <span class="top-left">{{ order.username }}</span>
      <span class="top-right">${{ order.total | number : "1.2-2" }}</span>
      <span class="middle">Facturas</span>
      <span class="bottom-left">{{ order.date | date }}</span>
    </div>
  </div>
</div>
