.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .body{
        width: 86.44%;
        height: 360px;
        background-color: #FFFFFF;
        border-radius: 29px;
        display: flex;
        justify-content: center;
        align-items: center;

        .items{
            display: flex;

            .icon{
                filter: invert(57%) sepia(80%) saturate(5002%) hue-rotate(208deg) brightness(91%) contrast(85%);
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}