<div class="container">
  <app-helper-headerv2
    [mode]="'basic'"
    [mainText]="{
      text:
        auth === 'address'
          ? 'Salvar Dirección'
          : auth === 'payment'
          ? 'Salvar el pago de la factura'
          : auth === 'anonymous'
          ? 'Salvar la orden'
          : loggin
          ? merchantNumber
          : signUp && !toValidate
          ? 'Crear contraseña'
          : 'Login',
      fontFamily: 'SfProBold',
      fontSize: '21px',
      color: '#FFF'
    }"
    bgColor="#2874AD"
    [returnAble]="
      !nope || auth === 'order' || (loggin && auth !== 'payment') || (signUp && !toValidate) ? true : false
    "
    (returnEvent)="
      loggin
        ? toggleLog()
        : signUp
        ? toSignUp()
        : auth === 'order'
        ? back()
        : null
    "
  ></app-helper-headerv2>

  <div class="input-area">
    <ng-container *ngIf="!signUp; else elseTemplate">
      <div class="phone-input-wrapper" *ngIf="!loggin">
        <label for="phone number" class="account"
          >Adiciona tu Cuenta (ganas puntos):</label
        >

        <div class="wrapper">
          <ngx-intl-tel-input
            [cssClass]="'custom'"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [selectFirstCountry]="false"
            [preferredCountries]="preferredCountries"
            [selectedCountryISO]="CountryISO"
            maxLength="13"
            minlength="10"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [customPlaceholder]="'(000) 000-0000'"
            [numberFormat]="PhoneNumberFormat.International"
            [formControl]="phoneNumber"
            tabindex="1"
          ></ngx-intl-tel-input>

          <button
            class="confirm"
            (click)="submitPhone()"
            [disabled]="
              (phoneNumber.invalid || phoneNumber.untouched) &&
              !phoneNumber.valid
            "
            [ngClass]="{
              disabled:
                (phoneNumber.invalid || phoneNumber.untouched) &&
                !phoneNumber.valid
            }"
          >
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>

        <!-- <button
          class="adiciona"
          (click)="toSignUp()"
          *ngIf="auth !== 'anonymous'"
        >
          CREAR UNA NUEVA CUENTA
        </button> -->
      </div>

      <div class="password-input" *ngIf="loggin">
        <input
          class="pass"
          type="password"
          [placeholder]="
            OTP || authCode
              ? 'Escribe el código que recibiste'
              : 'Adiciona tu clave'
          "
          [formControl]="password"
          name="password"
          id="password"
          required
        />

        <div
          [hidden]="password.valid || password.pristine"
          class="invalid-pass"
        >
          Por favor introduzca contraseña valida
        </div>
        <button
          class="confirm"
          (click)="signIn()"
          [disabled]="
            (password.invalid || password.pristine || password.untouched) &&
            !password.valid
          "
          [ngClass]="{
            disabled:
              (password.invalid || password.pristine || password.untouched) &&
              !password.valid
          }"
        >
          <i class="fas fa-chevron-right"></i>
        </button>

        <button class="alternate" (click)="generateTOP()">
          {{
            !OTP && !authCode
              ? "PREFIERO RECIBIR UN MENSAJE CON EL CODIGO"
              : null
          }}
          {{
            OTP || authCode ? "¿NO RECIBISTE EL CÓDIGO? ENVÍALO DE NUEVO" : null
          }}
        </button>
      </div>
    </ng-container>
  </div>

  <ng-template #elseTemplate>
    <div class="column-flex">
      <label for="Password" class="phone-label" style="margin-bottom: 11px"
        >Adiciona la clave:</label
      >

      <input
        class="pass"
        type="password"
        placeholder="Adiciona la Clave"
        [formControl]="password"
        name="password"
        id="password"
        placeholder="Escribe..."
        required
      />

      <button
        class="confirm"
        (click)="signMeUp()"
        [disabled]="
          (password.invalid || password.pristine || password.untouched) &&
          !password.valid
        "
        [ngClass]="{
          disabled:
            (password.invalid || password.pristine || password.untouched) &&
            !password.valid
        }"
        style="top: 53px; right: 26px"
      >
        <i class="fas fa-chevron-right"></i>
      </button>

      <div
        [hidden]="password.valid || password.pristine"
        class="invalid-pass-register"
      >
        Por favor introduzca contraseña valida
      </div>

      <p class="subtext">Por default son los últimos 4 dígitos de tu celular</p>
    </div>
  </ng-template>

  <app-sticky-button
    *ngIf="signUp"
    [mode]="'double'"
    [text]="''"
    [size]="'small'"
    [fontSize]="'17px'"
    [customLeftButtonStyles]="{
      width: '100%',
      'max-width': 'none',
      color: '#fff',
      cursor: 'unset'
    }"
    [text2]="''"
    [customRightButtonStyles]="{
      width: '1px',
      height: '1px',
      cursor: 'unset'
    }"
    [bgColor]="'#2874AD'"
    [extra]="{
      return: true,
      returnCallback: logToggle
    }"
  ></app-sticky-button>

  <app-bubble-button
    *ngIf="itemCartAmount"
    position="right"
    color="blue"
    [solo]="false"
    [cart]="true"
    [cartAmount]="itemCartAmount"
    (click)="showShoppingCartDialog()"
  ></app-bubble-button>
</div>

<!-- old signUp
<div class="phone-input-wrapper">
      <div class="names-area">
        <div class="name">
          <label for="Name" class="names-label">Nombre:</label>
          <input
            type="text"
            class="names-input"
            placeholder="Mi nombre es..."
            [formControl]="firstName"
            required
          />
        </div>

        <div class="last-name">
          <label for="Last name" class="names-label">Apellido:</label>
          <input
            type="text"
            class="names-input"
            placeholder="Mi apellido es..."
            [formControl]="lastName"
            required
          />
        </div>
      </div>

      <label for="Phone number" class="phone-label"
        >Celular que recibe las notificaciones:</label
      >

      <div style="margin-bottom: 63px">
        <ngx-intl-tel-input
          [cssClass]="'custom'"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [selectFirstCountry]="false"
          [preferredCountries]="preferredCountries"
          [selectedCountryISO]="CountryISO"
          maxLength="13"
          minlength="10"
          [phoneValidation]="true"
          [separateDialCode]="true"
          [customPlaceholder]="'Mi # de WhatsApp es....'"
          [numberFormat]="PhoneNumberFormat.International"
          [formControl]="phoneNumber"
          tabindex="1"
        ></ngx-intl-tel-input>
      </div>

      <div class="mail-inputs">
        <label for="Email" class="phone-label"
          >Correo Electronico (opcional):</label
        >

        <input
          type="email"
          class="email-input"
          placeholder="miEmail@mail.com"
          [formControl]="email"
        />
      </div>

      <label for="Password" class="phone-label">Clave de Acceso:</label>

      <input
        class="pass"
        type="password"
        placeholder="Adiciona la Clave"
        [formControl]="password"
        name="password"
        id="password"
        placeholder="Escribe..."
        required
      />

      <div
        [hidden]="password.valid || password.pristine"
        class="invalid-pass-register"
      >
        Por favor introduzca contraseña valida
      </div>

      <p class="clarification">
        Te llegará una confirmación a tu # de WhatsApp
      </p>
    </div> 
   
   <app-sticky-button
    *ngIf="signUp"
    [mode]="'double'"
    [text]="'REGISTRARME'"
    [size]="'small'"
    [fontSize]="'17px'"
    [customLeftButtonStyles]="{
      width: '100%',
      'max-width': 'none',
      color: '#fff'
    }"
    [text2]="''"
    [customRightButtonStyles]="{
      width: '1px',
      height: '1px'
    }"
    [bgColor]="
      !(
        password.invalid ||
        password.pristine ||
        phoneNumber.untouched ||
        phoneNumber.pristine ||
        phoneNumber.invalid ||
        firstName.untouched ||
        firstName.pristine ||
        firstName.invalid ||
        lastName.untouched ||
        lastName.pristine ||
        lastName.invalid
      )
        ? '#2874AD'
        : '#C1C1C1'
    "
    (click)="
      !(
        password.invalid ||
        password.pristine ||
        phoneNumber.untouched ||
        phoneNumber.pristine ||
        phoneNumber.invalid ||
        firstName.untouched ||
        firstName.pristine ||
        firstName.invalid ||
        lastName.untouched ||
        lastName.pristine ||
        lastName.invalid
      )
        ? signMeUp()
        : null
    "
  ></app-sticky-button>
-->
