<div class="container">
  <app-helper-headerv2
    [mode]="'basic'"
    [mainText]="{
      text:
        auth === 'address'
          ? 'Guardando la nueva dirección'
          : auth === 'payment'
          ? 'Salvar el pago de la factura'
          : auth === 'anonymous'
          ? 'Salvar la orden'
          : auth === 'order'
          ? 'Direcciones guardadas'
          : auth === 'azul-login'
          ? 'Pagar con tarjeta de crédito'
          : loggin
          ? merchantNumber
          : signUp && !toValidate
          ? 'Crear contraseña'
          : 'Login',
      fontFamily: 'SfProBold',
      fontSize: '21px',
      color: '#FFF'
    }"
    bgColor="#2874AD"
    [returnAble]="true"
    (returnEvent)="back()"
  ></app-helper-headerv2>

  <ng-container *ngIf="!recoverPasswordMode">
    <div class="input-area">
      <ng-container *ngIf="!signUp; else elseTemplate">
        <div class="phone-input-wrapper" *ngIf="!loggin">
          <label for="phone number" class="account">{{
            (auth === "order" &&
              "Escribe tu número de WhatsApp para acceder a tus direcciones guardadas:") ||
              (auth === "address" &&
                "Escribe tu número del WhatsApp que guardará la dirección para tus futuros pedidos") ||
              (auth === "azul-login" &&
                "Escribe tu número de WhatsApp que recibirá la factura") ||
              (auth === "payment" &&
                "Escribe tu número de WhatsApp que recibirá la factura:") ||
              "Login"
          }}</label>

          <div class="wrapper">
            <ngx-intl-tel-input
              [cssClass]="'custom'"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [selectFirstCountry]="false"
              [preferredCountries]="preferredCountries"
              [selectedCountryISO]="CountryISO"
              maxLength="13"
              minlength="10"
              [phoneValidation]="true"
              [separateDialCode]="true"
              [customPlaceholder]="'(000) 000-0000'"
              [numberFormat]="PhoneNumberFormat.International"
              [formControl]="phoneNumber"
              tabindex="1"
            ></ngx-intl-tel-input>

            <button
              class="confirm"
              (click)="submitPhone()"
              [disabled]="
                ((phoneNumber.invalid || phoneNumber.untouched) &&
                  !phoneNumber.valid) ||
                status === 'draft'
              "
              [ngClass]="{
                disabled:
                  ((phoneNumber.invalid || phoneNumber.untouched) &&
                    !phoneNumber.valid) ||
                  status === 'draft'
              }"
            >
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <!-- <button
            class="adiciona"
            (click)="toSignUp()"
            *ngIf="auth !== 'anonymous'"
          >
            CREAR UNA NUEVA CUENTA
          </button> -->
        </div>

        <div class="password-input" *ngIf="loggin">
          <label
            for="Password area"
            class="phone-label"
            style="margin: 0 8% 11px"
          >
            {{
              (OTP || authCode) && view !== "password"
                ? "Se ha enviado un codigo de verificación a su número, introduzcalo"
                : "Este WhatsApp fue previamente registrado, por favor adiciona la clave"
            }}
          </label>
          <input
            class="pass"
            type="password"
            [placeholder]="
              OTP || authCode
                ? 'Escribe el código que recibiste'
                : 'La clave es...'
            "
            [formControl]="password"
            name="password"
            id="password"
            required
          />

          <div
            [hidden]="password.valid || password.pristine"
            class="invalid-pass"
          >
            Por favor introduzca contraseña valida
          </div>
          <button
            class="confirm"
            (click)="signIn()"
            [disabled]="
              ((password.invalid || password.pristine || password.untouched) &&
                !password.valid) ||
              status === 'draft'
            "
            [ngClass]="{
              disabled:
                ((password.invalid ||
                  password.pristine ||
                  password.untouched) &&
                  !password.valid) ||
                status === 'draft'
            }"
          >
            <i class="fas fa-chevron-right"></i>
          </button>

          <div
            class="subtext-options"
            style="margin: 48px 8%"
            *ngIf="
              auth === 'order' ||
              auth === 'address' ||
              auth === 'merchant' ||
              auth === 'azul-login'
            "
          >
            <!-- {{
              OTP || authCode
              ? "Se le ha enviado un código"
              : "Si no lo has cambiado por default son los últimos 4 dígitos de tu celular o los últimos 4 antes del @ de tu email"
           }} -->
            <p style="margin: 0; margin-bottom: 8px">Opciones:</p>
            <ul>
              <li>
                - Presiona el
                {{
                  auth !== "merchant" && auth !== "azul-login"
                    ? "“link de nuevas ordenes”"
                    : auth === "azul-login"
                    ? "link de acceso para seguir con tu pago"
                    : "link de acceso a tu dashboard de administrador"
                }}
                o escribe la clave provisional que acabas de recibir por
                WhatsApp de parte de Kanddys +1 (929) 526-3397.
              </li>
            </ul>
          </div>

          <!--  <div class="checkbox">
            <input type="checkbox" class="check-box" (click)="generateTOP()" />
            <p class="check-text">
              Prefiero recibir el código que me identifique
            </p>
          </div> -->

          <!--  <button class="alternate" (click)="generateTOP()">
            {{
              !OTP && !authCode
                ? "PREFIERO RECIBIR UN MENSAJE CON EL CODIGO"
                : null
            }}
            {{
              OTP || authCode ? "¿NO RECIBISTE EL CÓDIGO? ENVÍALO DE NUEVO" : null
            }}
          </button> -->

          <div class="recover-password" (click)="recoverPassword()">
            ¿Olvidaste tu contraseña? haz click aqui para cambiarla
          </div>
        </div>
      </ng-container>
    </div>

    <ng-template #elseTemplate>
      <div class="column-flex">
        <label for="Password" class="phone-label" style="margin-bottom: 11px"
          >Adiciona la clave:</label
        >

        <input
          class="pass"
          type="password"
          placeholder="Adiciona la Clave"
          [formControl]="password"
          name="password"
          id="password"
          placeholder="Escribe..."
          required
        />

        <button
          class="confirm"
          (click)="signMeUp()"
          [disabled]="
            (password.invalid || password.pristine || password.untouched) &&
            !password.valid
          "
          [ngClass]="{
            disabled:
              (password.invalid || password.pristine || password.untouched) &&
              !password.valid
          }"
          style="top: 53px; right: 26px"
        >
          <i class="fas fa-chevron-right"></i>
        </button>

        <div
          [hidden]="password.valid || password.pristine"
          class="invalid-pass-register"
        >
          Por favor introduzca contraseña valida
        </div>

        <p class="subtext">
          Si no lo has cambiado por default son los últimos 4 dígitos de tu
          celular o los últimos 4 antes del @ de tu email
        </p>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="recoverPasswordMode">
    <div class="input-area">
      <div class="column-flex">
        <label for="Password" class="phone-label" style="margin-bottom: 11px"
          >Adiciona tu nueva clave:</label
        >

        <input
          class="pass"
          type="password"
          placeholder="Adiciona la Clave"
          [formControl]="password"
          name="password"
          id="password"
          placeholder="Escribe..."
          required
        />

        <button
          class="confirm"
          (click)="updateMyPassword()"
          [disabled]="
            (password.invalid || password.pristine || password.untouched) &&
            !password.valid
          "
          [ngClass]="{
            disabled:
              (password.invalid || password.pristine || password.untouched) &&
              !password.valid
          }"
          style="top: 53px; right: 26px"
        >
          <i class="fas fa-chevron-right"></i>
        </button>

        <div
          [hidden]="password.valid || password.pristine"
          class="invalid-pass-register"
        >
          Por favor introduzca contraseña valida
        </div>
      </div>
    </div>
  </ng-container>

  <app-sticky-button
    *ngIf="signUp"
    [mode]="'double'"
    [text]="''"
    [size]="'small'"
    [fontSize]="'17px'"
    [customLeftButtonStyles]="{
      width: '100%',
      'max-width': 'none',
      color: '#fff',
      cursor: 'unset'
    }"
    [text2]="''"
    [customRightButtonStyles]="{
      width: '1px',
      height: '1px',
      cursor: 'unset'
    }"
    [bgColor]="'#2874AD'"
    [extra]="{
      return: true,
      returnCallback: logToggle
    }"
  ></app-sticky-button>
</div>

<!-- old signUp
<div class="phone-input-wrapper">
      <div class="names-area">
        <div class="name">
          <label for="Name" class="names-label">Nombre:</label>
          <input
            type="text"
            class="names-input"
            placeholder="Mi nombre es..."
            [formControl]="firstName"
            required
          />
        </div>

        <div class="last-name">
          <label for="Last name" class="names-label">Apellido:</label>
          <input
            type="text"
            class="names-input"
            placeholder="Mi apellido es..."
            [formControl]="lastName"
            required
          />
        </div>
      </div>

      <label for="Phone number" class="phone-label"
        >Celular que recibe las notificaciones:</label
      >

      <div style="margin-bottom: 63px">
        <ngx-intl-tel-input
          [cssClass]="'custom'"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [selectFirstCountry]="false"
          [preferredCountries]="preferredCountries"
          [selectedCountryISO]="CountryISO"
          maxLength="13"
          minlength="10"
          [phoneValidation]="true"
          [separateDialCode]="true"
          [customPlaceholder]="'Mi # de WhatsApp es....'"
          [numberFormat]="PhoneNumberFormat.International"
          [formControl]="phoneNumber"
          tabindex="1"
        ></ngx-intl-tel-input>
      </div>

      <div class="mail-inputs">
        <label for="Email" class="phone-label"
          >Correo Electronico (opcional):</label
        >

        <input
          type="email"
          class="email-input"
          placeholder="miEmail@mail.com"
          [formControl]="email"
        />
      </div>

      <label for="Password" class="phone-label">Clave de Acceso:</label>

      <input
        class="pass"
        type="password"
        placeholder="Adiciona la Clave"
        [formControl]="password"
        name="password"
        id="password"
        placeholder="Escribe..."
        required
      />

      <div
        [hidden]="password.valid || password.pristine"
        class="invalid-pass-register"
      >
        Por favor introduzca contraseña valida
      </div>

      <p class="clarification">
        Te llegará una confirmación a tu # de WhatsApp
      </p>
    </div> 
   
   <app-sticky-button
    *ngIf="signUp"
    [mode]="'double'"
    [text]="'REGISTRARME'"
    [size]="'small'"
    [fontSize]="'17px'"
    [customLeftButtonStyles]="{
      width: '100%',
      'max-width': 'none',
      color: '#fff'
    }"
    [text2]="''"
    [customRightButtonStyles]="{
      width: '1px',
      height: '1px'
    }"
    [bgColor]="
      !(
        password.invalid ||
        password.pristine ||
        phoneNumber.untouched ||
        phoneNumber.pristine ||
        phoneNumber.invalid ||
        firstName.untouched ||
        firstName.pristine ||
        firstName.invalid ||
        lastName.untouched ||
        lastName.pristine ||
        lastName.invalid
      )
        ? '#2874AD'
        : '#C1C1C1'
    "
    (click)="
      !(
        password.invalid ||
        password.pristine ||
        phoneNumber.untouched ||
        phoneNumber.pristine ||
        phoneNumber.invalid ||
        firstName.untouched ||
        firstName.pristine ||
        firstName.invalid ||
        lastName.untouched ||
        lastName.pristine ||
        lastName.invalid
      )
        ? signMeUp()
        : null
    "
  ></app-sticky-button>
-->
