<div class="container">

    <app-helper-headerv2
    [mode]="'basic'"
    [mainText]="{
        text: loggin? merchantNumber : ( signUp? 'Crear Usuario' : 'Acceder a Usuario'),
        fontFamily: 'SfProBold',
        fontSize: '21px',
        color: '#FFF'
    }"
    bgColor="#2874AD"
    [returnAble]="loggin || signUp ? true : false"
    (returnEvent)="loggin ? toggleLog() : ( signUp ? toSignUp() : null)"
    ></app-helper-headerv2>

    <div class="input-area">
        <ng-container *ngIf="!signUp ; else elseTemplate">

            <div class="phone-input-wrapper" *ngIf="!loggin">
                
                <div class="wrapper">
                    <ngx-intl-tel-input 
                    [cssClass]="'custom'"
                    [enableAutoCountrySelect]="true" 
                    [enablePlaceholder]="true" 
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false" 
                    [preferredCountries]="preferredCountries"
                    [selectedCountryISO]="CountryISO" 
                    maxLength="13"
                    minlength="10"
                    [phoneValidation]="true" 
                    [separateDialCode]="true" 
                    [customPlaceholder]="'(000) 000-0000'"
                    [numberFormat]="PhoneNumberFormat.International"
                    [formControl]="phoneNumber"
                    tabindex="1"
                    ></ngx-intl-tel-input> 
                    
                    <button class="confirm" (click)="submitPhone()" [disabled]="!phoneNumber.valid || phoneNumber.untouched"
                    [ngClass]="{disabled: !phoneNumber.valid || phoneNumber.untouched}"><i class="fas fa-chevron-right"></i></button>
                </div>
                
                <button class="adiciona" (click)="toSignUp()">¿No tienes usuario? Crear Usuario</button>
            </div>
            
            
            <div class="password-input" *ngIf="loggin">
                
                <input class="pass" type="password" placeholder="Adiciona la Clave" [formControl]="password" name="password" id="password" required>

                <div [hidden]="password.valid || password.pristine" class="invalid-pass"> Por favor introduzca contraseña valida </div>
                
                <button class="confirm" (click)="signIn()" [disabled]="password.invalid || password.pristine || password.untouched"
                [ngClass]="{disabled : password.invalid || password.pristine || password.untouched}"><i class="fas fa-chevron-right"></i></button>
            </div>
        </ng-container>
        
    </div>

    <ng-template #elseTemplate>

        <div class="phone-input-wrapper">

            <label for="Phone number" class="phone-label">Número de Telefono:</label>

            <div style="margin-bottom: 30px; margin-top: 15px">
                <ngx-intl-tel-input 
                [cssClass]="'custom'"
                [enableAutoCountrySelect]="true" 
                [enablePlaceholder]="true" 
                [searchCountryFlag]="true"
                [selectFirstCountry]="false" 
                [preferredCountries]="preferredCountries"
                [selectedCountryISO]="CountryISO" 
                maxLength="13"
                minlength="10"
                [phoneValidation]="true" 
                [separateDialCode]="true" 
                [customPlaceholder]="'Mi # de WhatsApp es....'"
                [numberFormat]="PhoneNumberFormat.International"
                [formControl]="phoneNumber"
                tabindex="1"
                ></ngx-intl-tel-input> 
            </div>

            <label for="Password" class="phone-label">Contraseña:</label>

            <input class="pass" type="password" placeholder="Adiciona la Clave" [formControl]="password" name="password" id="password" placeholder="Contraseña de al menos 3 digitos" required>

            <div [hidden]="password.valid || password.pristine" class="invalid-pass"> Por favor introduzca contraseña valida </div>

            <button class="signUp-btn" (click)="signMeUp()" 
            [ngClass]="{'disabled': password.invalid || password.pristine || phoneNumber.untouched || phoneNumber.pristine || phoneNumber.invalid}"
            [disabled]="password.invalid || password.pristine || phoneNumber.untouched || phoneNumber.pristine || phoneNumber.invalid"
            >
              Registrarme
            </button>

            <p class="clarification">Te llegará una confirmación a tu # de WhatsApp</p>

        </div>

    </ng-template>
    
</div>