* {
  margin: 0;
}

.container {
  padding: 13.5px 20px;

  .fullCards {
    .fullCard,
    .fullCard2 {
      border-radius: 14px;
      width: 100%;
      height: 495px;
      //background-color: antiquewhite;
      margin-bottom: 30px;
    }

    .fullCard2 {
      margin-top: 22px;
    }
  }

  .twoCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    .card {
      width: 100%;
      height: 230px;
      //background-color: antiquewhite;
      border-radius: 21px;
    }
  }
}
