<div class="container">
  <app-helper-header
    bgcolor="#FFFFFF"
    [searchAble]="false"
    middleTextFontSize="17px"
    middleTextFontFamily="SfProRegular"
    middleTextColor="#7B7B7B"
    [middleText]="headerText"
    [back]="
      step === 'UNIQUE_CODE_INPUT' ||
      step === 'NEW_PASSWORD_STEP' ||
      step === 'RECEIVED_CODE_STEP'
    "
    [basic]="
      (step === 'PHONE_NUMBER_INPUT' ||
        step === 'SIGNUP_STEP' ||
        step === 'LOGIN_STEP') &&
      !orderData
    "
    (onClose)="goBack()"
  ></app-helper-header>

  <div class="content m-top" *ngIf="step === 'PHONE_NUMBER_INPUT'">
    <p class="label1">
      ¿Con cuál número de WhatsApp
      <ng-container *ngIf="orderData; else noOrder">completarás</ng-container>
      <ng-template #noOrder>harás</ng-template>
      esta orden?
    </p>
    <input
      type="tel"
      class="input"
      [(ngModel)]="inputData"
      placeholder="Mi # de WhatsApp es..."
      autocomplete="off"
      (keypress)="keyPressNumbers($event)"
    />
    <ng-container>
      <p class="sublabel">
        Si es tu primera orden recibirás un codigo de verificación.
      </p>
      <p class="sublabel">
        Si haz hecho ordenes anteriormente ingresarás tu clave.
      </p>
    </ng-container>
  </div>
  <div class="content m-top" *ngIf="step === 'UNIQUE_CODE_INPUT'">
    <p class="label1">Escriba el código que recibió:</p>
    <input
      type="text"
      class="input"
      [(ngModel)]="code"
      maxlength="6"
      placeholder="Código que recibí en WhatsApp fue.."
      (keypress)="keyPressNumbers($event)"
    />
  </div>
  <div *ngIf="step === 'SIGNUP_STEP'">
    <div
      [ngStyle]="{
        padding: '0px 33px',
        marginTop: '69px'
      }"
    >
      <p class="label1">Nombre y Apellido</p>
      <input
        type="text"
        class="input"
        [(ngModel)]="name"
        [placeholder]="'Mi nombre y apellido es..'"
      />

      <p style="margin-bottom: 11px" class="label2">Ingresa una contraseña:</p>
      <input
        type="password"
        class="input"
        [(ngModel)]="password"
        [placeholder]="
          flow !== 'auth-classic'
            ? 'Mi clave para re-ingresar es..'
            : 'Password..'
        "
      />
      <div
        [ngStyle]="{
          width: '100%',
          paddingTop: '12px',
          paddingLeft: '15px',
          paddingBottom: '66.5px',
          color: '#7B7B7B',
          fontFamily: 'Roboto',
          fontStyle: 'italic',
          fontSize: '17px'
        }"
      >
        En la siguiente pantalla subirás una foto con la imagen (pantallaso,
        screenshot) de la transferencia que realizaste.
      </div>
    </div>

    <div
      [ngStyle]="{
        borderTop: '1px solid rgba(112, 112, 112, 0.49)',
        marginBottom: '50.5px',
        width: 'calc(100% - 64px)',
        marginLeft: 'auto',
        marginRight: 'auto'
      }"
    ></div>

    <p
      class="label3"
      [ngStyle]="{
        margin: '0px 33px',
        marginBottom: '25px'
      }"
    >
      Por favor transfiera como pago la suma de ${{ totalOrderAmmountString }}
      DOP.
    </p>

    <div
      [ngStyle]="{
        backgroundColor: 'rgba(254, 210, 48, 0.43)',
        color: 'black',
        borderRadius: '20px',
        margin: '0px 32px',
        marginBottom: '25px'
      }"
      *ngFor="let bank of bankOptions"
    >
      <div
        [ngStyle]="{
          padding: '24px 38px'
        }"
      >
        <h6
          [ngStyle]="{
            color: 'black',
            fontWeight: 'bold',
            fontFamily: 'RobotoMedium',
            margin: '0px'
          }"
        >
          {{ bank.value }}
        </h6>
        <div
          *ngIf="bank.description"
          [ngStyle]="{
            marginTop: '15px'
          }"
        >
          <p
            [ngStyle]="{
              fontFamily: 'RobotoLight',
              fontStyle: 'italic',
              fontSize: '17px',
              color: '#202020',
              paddingLeft: '45px',
              margin: 0
            }"
            *ngFor="let description of bank.description"
          >
            {{ description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step === 'LOGIN_STEP'">
    <div class="questions">
      <p style="padding-left: 33px; margin-bottom: 0px" class="label1">
        Eres {{ userData.name }}?
      </p>
      <app-answer-selector
        [options]="options"
        (onSelector)="selectOption($event)"
      ></app-answer-selector>

      <div class="content" *ngIf="showLoginPassword">
        <p class="label2">
          {{
            flow !== "auth-classic"
              ? "Añade tu clave de re-ingreso"
              : "Adiciona el password:"
          }}
        </p>
        <input
          type="password"
          [(ngModel)]="password"
          [placeholder]="
            flow !== 'auth-classic'
              ? 'Mi clave para re-ingresar es..'
              : 'El password es...'
          "
          class="input"
        />
      </div>
      <div
        *ngIf="incorrectPasswordAttempt"
        [ngStyle]="{
          marginLeft: '46px',
          marginTop: '5px',
          display: 'flex',
          alignItems: 'center'
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="41"
          height="41"
          viewBox="0 0 41 41"
        >
          <g
            id="Grupo_68306"
            data-name="Grupo 68306"
            transform="translate(-146.5 -176.5)"
          >
            <g
              id="Elipse_4957"
              data-name="Elipse 4957"
              transform="translate(146.5 176.5)"
              fill="none"
              stroke="#5c8eff"
              stroke-width="2"
            >
              <circle cx="20.5" cy="20.5" r="20.5" stroke="none"></circle>
              <circle cx="20.5" cy="20.5" r="19.5" fill="none"></circle>
            </g>
            <g
              id="Grupo_68305"
              data-name="Grupo 68305"
              transform="translate(156.147 191.574)"
            >
              <circle
                id="Elipse_4959"
                data-name="Elipse 4959"
                cx="2.5"
                cy="2.5"
                r="2.5"
                transform="translate(0.353 -0.073)"
                fill="#5c8eff"
              ></circle>
              <circle
                id="Elipse_4960"
                data-name="Elipse 4960"
                cx="2.5"
                cy="2.5"
                r="2.5"
                transform="translate(16.353 -0.073)"
                fill="#5c8eff"
              ></circle>
            </g>
            <path
              id="Trazado_28254"
              data-name="Trazado 28254"
              d="M-18336.977-11814.928s1.857-3.93,5.7-3.861,5.428,3.861,5.428,3.861"
              transform="translate(18498.512 12018.061)"
              fill="none"
              stroke="#5c8eff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            ></path>
          </g>
        </svg>

        <span
          [ngStyle]="{
            fontSize: '17px',
            marginLeft: '18px',
            fontStyle: 'italic',
            fontFamily: 'Roboto',
            color: '#7b7b7b',
            maxWidth: '233px'
          }"
          >Hmm no es correcta. Quizas sea otra clave?</span
        >
      </div>

      <div
        [ngStyle]="{
          borderTop: '1px solid rgba(112, 112, 112, 0.49)',
          marginTop: '66.5px',
          marginBottom: '50.5px',
          width: 'calc(100% - 64px)',
          marginLeft: 'auto',
          marginRight: 'auto'
        }"
      ></div>

      <p
        class="label3"
        [ngStyle]="{
          margin: '0px 33px',
          marginBottom: '25px'
        }"
      >
        Por favor transfiera como pago la suma de ${{ totalOrderAmmountString }}
        DOP.
      </p>

      <div
        [ngStyle]="{
          backgroundColor: 'rgba(254, 210, 48, 0.43)',
          color: 'black',
          borderRadius: '20px',
          margin: '0px 32px',
          marginBottom: '25px'
        }"
        *ngFor="let bank of bankOptions"
      >
        <div
          [ngStyle]="{
            padding: '24px 38px'
          }"
        >
          <h6
            [ngStyle]="{
              color: 'black',
              fontWeight: 'bold',
              fontFamily: 'RobotoMedium',
              margin: '0px'
            }"
          >
            {{ bank.value }}
          </h6>
          <div
            *ngIf="bank.description"
            [ngStyle]="{
              marginTop: '15px'
            }"
          >
            <p
              [ngStyle]="{
                fontFamily: 'RobotoLight',
                fontStyle: 'italic',
                fontSize: '17px',
                color: '#202020',
                paddingLeft: '45px',
                margin: 0
              }"
              *ngFor="let description of bank.description"
            >
              {{ description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content m-top" *ngIf="step === 'RECEIVED_CODE_STEP'">
    <p class="label1">Escriba el código que recibió:</p>
    <input
      type="text"
      class="input"
      [(ngModel)]="code"
      maxlength="6"
      placeholder="Código que recibí en WhatsApp fue.."
      (keypress)="keyPressNumbers($event)"
    />
  </div>
  <div class="content m-top" *ngIf="step === 'NEW_PASSWORD_STEP'">
    <p class="label1">Escriba el password nuevo:</p>
    <p class="label2">
      {{
        flow !== "auth-classic"
          ? "Añade tu clave de re-ingreso"
          : "Adiciona el password:"
      }}
    </p>
    <input
      type="password"
      [(ngModel)]="password"
      [placeholder]="
        flow !== 'auth-classic'
          ? 'Mi clave para re-ingresar es..'
          : 'El password es...'
      "
      class="input"
    />
  </div>
  <div
    class="footer"
    [ngStyle]="{
      justifyContent:
        flow === 'auth-classic' && step === 'LOGIN_STEP'
          ? 'space-between'
          : 'flex-end'
    }"
  >
    <div
      class="redirect"
      *ngIf="flow === 'auth-classic' && step == 'LOGIN_STEP'"
      (click)="generateOTP()"
    >
      Olvidé mi clave
    </div>
  </div>
</div>

<app-sticky-button
  [mode]="
    (step === 'PHONE_NUMBER_INPUT' && inputData.length < 7) ||
    (step === 'UNIQUE_CODE_INPUT' && code.length < 4) ||
    (step === 'SIGNUP_STEP' && (!name || name.trim().length === 0)) ||
    (step === 'LOGIN_STEP' && password.length < 3) ||
    (step === 'RECEIVED_CODE_STEP' && code.length < 3) ||
    (step === 'NEW_PASSWORD_STEP' && password.length < 3)
      ? 'disabled'
      : 'basic'
  "
  [text]="
    step === 'PHONE_NUMBER_INPUT'
      ? inputData.length < 7
        ? 'ADICIONA TU CELULAR'
        : 'VERIFICAR MI CELULAR'
      : step === 'UNIQUE_CODE_INPUT'
      ? flow !== 'auth-classic'
        ? 'VERIFICAR'
        : 'VERIFICAR MI CELULAR'
      : step === 'SIGNUP_STEP'
      ? flow !== 'auth-classic'
        ? 'ADICIONA EL CONTACTO DEL MAPP'
        : !name
        ? 'ADICIONA TU SEGURIDAD'
        : 'CONTINUAR'
      : step === 'LOGIN_STEP'
      ? showLoginPassword
        ? password.length < 3
          ? flow !== 'auth-classic'
            ? 'INGRESA A MI MAPP'
            : !incorrectPasswordAttempt
            ? 'ADICIONA LA CLAVE'
            : 'ADICIONA LA CLAVE CORRECTA'
          : flow !== 'auth-classic'
          ? 'INGRESA A MI MAPP'
          : incorrectPasswordAttempt
          ? 'ADICIONA LA CLAVE CORRECTA'
          : 'ACCEDER A LO MÁGICO'
        : flow !== 'auth-classic'
        ? 'SELECCIONA PARA IR AL MAPP'
        : 'HAZ UNA SELECCION'
      : step === 'RECEIVED_CODE_STEP'
      ? flow !== 'auth-classic' && code.length > 3
        ? 'INGRESA EL CODIGO'
        : 'ENVIAR CODIGO'
      : step === 'NEW_PASSWORD_STEP'
      ? flow !== 'auth-classic' && password.length < 3
        ? 'INGRESE PASSWORD'
        : 'ACTUALIZAR EL PASSWORD'
      : ''
  "
  (click)="submit()"
></app-sticky-button>
