<div class="body-container">
  <div class="text-grid">
    <h4 class="title">Tags previamente usados</h4>
    <div class="icon-container">
      <img
        class="icon-blue"
        src="{{ env }}/bookmark-plus.svg"
        alt=""
        (click)="goToCreateTag()"
      />
    </div>
  </div>
  <app-tags-selector
    *ngIf="tags.length"
    [tags]="tags"
    [activeTags]="
      activeTags && (activeTags !== null || undefined) && activeTags.length > 0
        ? activeTags
        : null
    "
    [multipleTags]="true"
    containerBackground="#f6f6f6"
    background="#2874ad"
    selectedBackground="#fff"
    color="#2874ad"
    selectedColor="#fff"
    selectedFilter="brightness(2)"
    [useIdToRemoveOrAddTags]="true"
    (tagSelect)="tagAction($event)"
  ></app-tags-selector>
  <button class="save">
    <img class="icon" src="{{ env }}/save.png" alt="" />
    <span *ngIf="text" class="save-text">{{ text }}</span>
  </button>
</div>
