<div class="body-container" [style.backgroundColor]="background">
  <div class="text-grid">
    <h4 class="title" [style.color]="textColor && textColor">
      Tags previamente usados
    </h4>
    <div class="icon-container">
      <img
        class="icon-blue"
        src="{{ env }}/bookmark-plus.svg"
        alt="banderita con icono de mas"
        [ngStyle]="{ filter: iconColor }"
        (click)="goToCreateTag()"
      />
    </div>
  </div>
  <app-tags-selector
    *ngIf="tags.length"
    [tags]="tags"
    [activeTags]="
      activeTags && (activeTags !== null || undefined) && activeTags.length > 0
        ? activeTags
        : null
    "
    [multipleTags]="true"
    [containerBackground]="background"
    [selectedBackground]="selectedBG"
    [background]="bgColor"
    [selectedColor]="selectedColor"
    [fillSelectedTagsOnStart]="true"
    [useIdToRemoveOrAddTags]="true"
    [color]="color"
    [inactiveBackground]="
      colorTheme === 'client' ? 'rgba(123,123,123, 37%)' : '#B17608'
    "
    [inactiveColor]="'#FFFFFF'"
    selectedFilter="invert(100%) sepia(100%) saturate(0%) hue-rotate(212deg) brightness(103%) contrast(103%)"
    (tagSelect)="tagAction($event)"
    [outputAllSelectedTags]="outputAllSelectedTags"
    (tagSelect3)="selectTagHandler($event)"
  ></app-tags-selector>
  <!-- <button class="save" (click)="buttonAction()">
    <img class="icon" src="{{ env }}/save.png" alt="" />
    <span *ngIf="text" class="save-text">{{ text }}</span>
  </button> -->
  <div class="return-section" (click)="close()">
    <button class="bottom-button">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-down" style="top: 12px"></i>
    </button>
    <span class="bottom-text">Vuelve {{ entity === "item" ? "al producto" : "a la factura" }}</span>
  </div>
</div>