.container {
    height: 100vh;
    background: #f6f6f6;
    font-family: "InterRegular";
  }
  
  .header {
    background: #181d17;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }
  
  .header-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    mat-icon {
      color: #6FCF97;
      font-size: 30px;
      margin-top: -4px;
    }
  }
  
  .header-top-text {
    color: #87cd9b;
    font-weight: 400;
    font-family: InterMedium;
    font-size: 17px;
    margin: 0;
    margin-right: 7px;
    margin-left: 10px;
  }
  
  .content {
    background: #f6f6f6;
    padding: 14px 16px 80px 16px;
  }
  
  .items-container {
    padding: 14px 20px 17px 15px;
  }
  
  .item {
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #fff;
    border-radius: 8px;
    width: 100%;
  
    .flex{
      align-items: center;
    }
    margin-bottom: 8px;
  }
  
  .item-img {
    width: 22px;
    height: 22px;
    background: #E9E371;
    border-radius: 50%;
    margin-right: 7px;
    // background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
    background-size: 22px;
  }
  
  .item-merchant {
    color: #272727;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  
  .item-articles {
    color: #7B7B7B;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7px;
    text-indent: 5px;
  }
  
  
  .item-incomes{
      color: #181D17;
    text-align: right;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
  }

  .article-content {
    margin-bottom: 40px;
  }

  .image {
    min-width: 82px !important;
    height: 82px;
    background-color: gray;
    border-radius: 7px;
  }

  .article {
    margin-left: 7px;
    font-size: 17px;
    font-weight: 400;
    line-height: 105%;
    font-style: normal;
  }

  .article-content .context {
    margin-top: 6px;
    color: #7B7B7B;
  }

  .article p {
    margin: 0px;
  }

  hr {
    margin-top: 13px;
    margin-bottom: 14px;
    border: 1px solid #C4C5C3;
  }

  .article-income {
    color: #7B7B7B;
    text-decoration: line-through;
  }
  .article .flex-space-between {
    flex-wrap: wrap;
  }