<mat-action-list
  class="list"
  [ngClass]="{
    'full-screen': data[0]?.styles?.fullScreen
  }"
>
  <p class="close">
    <button mat-icon-button (click)="openLink()">
      <mat-icon *ngIf="!data[0]?.styles?.fullScreen">close</mat-icon>
      <mat-icon *ngIf="data[0]?.styles?.fullScreen" style="color: #fff; transform: scale(0.8); margin-left: -18px;">
        arrow_back_ios
      </mat-icon>
    </button>
  </p>
  <section *ngFor="let section of data; index as i" style="margin-bottom: 16px">
    <div class="title">{{ section.title }}</div>
    <ng-container
      *ngFor="let option of section.options; last as last; index as j"
    >
      <button class="subtitle" mat-stroked-button (click)="onClick(i, j)">
        {{ option.title }}
        <img
          [src]="env + option.icon"
          alt=""
          style="margin-left: auto; filter: brightness(0)"
        />
      </button>
      <qrcode
        style="visibility: hidden; position: absolute"
        #qrcode
        *ngIf="option.link"
        [id]="'qrcode' + i + j"
        [qrdata]="option.link"
        [elementType]="'img'"
        [style.margin-top.px]="-25"
        [errorCorrectionLevel]="'M'"
        [allowEmptyString]="true"
        colorDark="#2874AD"
      ></qrcode>
    </ng-container>
    <div *ngIf="section.secondaryOptions?.length" class="second-options">
      <ng-container *ngFor="let option of section.secondaryOptions; index as j">
        <button class="option" mat-button (click)="onClick(i, j, true)">
          {{ option.title }}
        </button>
        <qrcode
          style="visibility: hidden; position: absolute"
          #secondaryQrcode
          *ngIf="option.link"
          [id]="'qrcode' + i + j"
          [qrdata]="option.link"
          [elementType]="'img'"
          [style.margin-top.px]="-25"
          [errorCorrectionLevel]="'M'"
          [allowEmptyString]="true"
          colorDark="#2874AD"
        ></qrcode>
      </ng-container>
    </div>
  </section>
</mat-action-list>
