<mat-action-list>
  <section *ngFor="let section of data; index as i" style="margin-bottom: 16px">
    <span class="title">{{ section.title }}</span>
    <ng-container
      *ngFor="let option of section.options; last as last; index as j"
    >
      <button
        [ngClass]="last ? 'subtitle-last' : 'subtitle'"
        (click)="onClick(i, j)"
        style="display: flex"
      >
        {{ option.title }}
        <img
          [src]="env + option.icon"
          alt=""
          style="margin-left: auto; filter: brightness(0)"
        />
      </button>
      <mat-divider *ngIf="!last" class="divider"></mat-divider>
      <qrcode
        style="visibility: hidden; position: absolute"
        #qrcode
        *ngIf="option.link"
        [id]="'qrcode' + i + j"
        [qrdata]="option.link"
        [elementType]="'img'"
        [style.margin-top.px]="-25"
        [errorCorrectionLevel]="'M'"
        [allowEmptyString]="true"
        colorDark="#2874AD"
      ></qrcode>
    </ng-container>
  </section>
</mat-action-list>
