<div class="form-wrapper">
  <app-helper-header
    [middleText]="steps[currentStep].headerText"
    [searchAble]="false"
    bgcolor="#ffffff"
    [basic]="false"
    position="fixed"
    [empty]="!shouldScrollBackwards"
    [middleTextFontFamily]="'SfProRegular'"
    [middleTextFontSize]="'17px'"
    middleTextColor="#7b7b7b"
    [shadow]="false"
    (onClose)="
      currentStep > 0 &&
      shouldScrollBackwards &&
      !steps[currentStep].customScrollToStepBackwards
        ? scrollToStep(this.currentStep - 1, false)
        : steps[currentStep].customScrollToStepBackwards
        ? steps[currentStep].customScrollToStepBackwards(stepFunctionParams)
        : null
    "
  ></app-helper-header>

  <ng-container
    *ngFor="let currentStepObject of steps; let currentStepIndex = index"
  >
    <div
      class="form-step"
      [id]="'step-' + currentStepIndex"
      *ngIf="
        scrollableForm || (!scrollableForm && currentStepIndex === currentStep)
      "
    >
      <form [formGroup]="dataModel">
        <ng-container
          *ngFor="
            let currentField of currentStepObject['fieldsList'];
            let currentFieldIndex = index
          "
          [formGroupName]="currentStepIndex + 1"
        >
          <ng-container *ngIf="currentStepObject['embeddedComponents']">
            <ng-container
              *ngFor="
                let currentEmbeddedComponent of currentStepObject[
                  'embeddedComponents'
                ]
              "
            >
              <div
                *ngIf="
                  currentEmbeddedComponent.beforeIndex === currentFieldIndex
                "
                [ngStyle]="
                  currentEmbeddedComponent.containerStyles
                    ? currentEmbeddedComponent.containerStyles
                    : null
                "
              >
                <app-dynamic-component
                  [component]="currentEmbeddedComponent.component"
                  [componentInputs]="currentEmbeddedComponent.inputs"
                  [componentOutputs]="currentEmbeddedComponent.outputs"
                ></app-dynamic-component>
              </div>
            </ng-container>
          </ng-container>

          <!-- STANDARD INPUTS LIKE TEXT NUMBER EMAIL PASSWORDS ARE RENDERED HERE     -->
          <div
            *ngIf="
              ['text', 'number', 'email', 'password'].includes(
                currentField.inputType
              ) || !currentField.inputType
            "
            [ngStyle]="
              currentField.styles.containerStyles
                ? currentField.styles.containerStyles
                : null
            "
          >
            <!-- SINGLE INPUTS GO HERE -->
            <ng-container *ngIf="!currentField.multiple">
              <span
                *ngIf="currentField.topLabelAction"
                class="input-label-top-action"
                [ngStyle]="
                  currentField.styles.topLabelActionStyles
                    ? currentField.styles.topLabelActionStyles
                    : null
                "
                (click)="
                  currentField.topLabelAction.clickable
                    ? currentField.topLabelAction.callback(stepFunctionParams)
                    : null
                "
              >
                {{ currentField.topLabelAction.text }}
              </span>

              <label
                [for]="currentField.name"
                class="input-label"
                [ngStyle]="
                  currentField.styles.labelStyles
                    ? currentField.styles.labelStyles
                    : null
                "
              >
                {{ currentField.label }}
              </label>

              <input
                [id]="currentField.name"
                [name]="currentField.name"
                [formControlName]="currentField.name"
                [type]="currentField.inputType || 'text'"
                [placeholder]="currentField.placeholder"
                [ngClass]="
                  currentField.styles.customClassName
                    ? currentField.styles.customClassName
                    : 'input'
                "
                [ngStyle]="
                  currentField.styles.fieldStyles &&
                  !currentField.styles.customClassName
                    ? currentField.styles.fieldStyles
                    : null
                "
              />

              <span
                *ngIf="currentField.bottomLabel"
                class="input-label-bottom"
                [ngStyle]="
                  currentField.styles.bottomLabelStyles
                    ? currentField.styles.bottomLabelStyles
                    : null
                "
                (click)="
                  currentField.bottomLabel.clickable
                    ? currentField.bottomLabel.callback(stepFunctionParams)
                    : null
                "
              >
                {{ currentField.bottomLabel.text }}
              </span>
            </ng-container>

            <!-- MULTIPLE INPUTS GO HERE -->
            <div
              [formArrayName]="currentField.name"
              *ngIf="currentField.multiple"
            >
              <h3
                class="input-label"
                [ngStyle]="
                  currentField.styles.labelStyles
                    ? currentField.styles.labelStyles
                    : null
                "
              >
                {{ currentField.label }}
              </h3>

              <ng-container
                *ngFor="
                  let field of currentField.fieldControl.controls;
                  let i = index
                "
              >
                <div
                  [ngStyle]="{
                    position: 'relative',
                    width: '100%',
                    margin: '0px'
                  }"
                >
                  <input
                    [formControlName]="i"
                    [type]="currentField.inputType || 'text'"
                    [placeholder]="currentField.placeholder"
                    class="input"
                    id="{{ currentField.name }}-{{ i }}"
                    [ngStyle]="
                      currentField.styles.fieldStyles
                        ? currentField.styles.fieldStyles
                        : null
                    "
                    (keypress)="
                      onMultipleInputEnterPress(
                        $event,
                        addOneMoreInputToCurrentFormArray,
                        currentField.fieldControl,
                        currentField.name
                      )
                    "
                  />
                  <div
                    class="close-button"
                    *ngIf="currentField.fieldControl.length > 1"
                    (click)="
                      removeInputToCurrentFormArray(
                        currentField.fieldControl,
                        currentField.name,
                        i
                      )
                    "
                  >
                    X
                  </div>
                </div>

                <span
                  *ngIf="currentField.bottomLabel"
                  class="input-label-bottom"
                  [ngStyle]="
                    currentField.styles.bottomLabelStyles
                      ? currentField.styles.bottomLabelStyles
                      : null
                  "
                >
                  {{ currentField.bottomLabel.text }}
                </span>
              </ng-container>
            </div>
          </div>

          <!-- TEXTAREA GOES HERE -->
          <div
            *ngIf="currentField.inputType === 'textarea'"
            [ngStyle]="
              currentField.styles.containerStyles
                ? currentField.styles.containerStyles
                : null
            "
          >
            <ng-container *ngIf="!currentField.multiple">
              <span
                *ngIf="currentField.topLabelAction"
                class="input-label-top-action"
                [ngStyle]="
                  currentField.styles.topLabelActionStyles
                    ? currentField.styles.topLabelActionStyles
                    : null
                "
                (click)="
                  currentField.topLabelAction.clickable
                    ? currentField.topLabelAction.callback(stepFunctionParams)
                    : null
                "
              >
                {{ currentField.topLabelAction.text }}
              </span>

              <label
                [for]="currentField.name"
                class="input-label"
                [ngStyle]="
                  currentField.styles.labelStyles
                    ? currentField.styles.labelStyles
                    : null
                "
              >
                {{ currentField.label }}
              </label>

              <textarea
                [id]="currentField.name"
                [placeholder]="currentField.placeholder"
                [name]="currentField.name"
                [formControlName]="currentField.name"
                [placeholder]="currentField.placeholder"
                class="textarea"
                [ngStyle]="
                  currentField.styles.fieldStyles
                    ? currentField.styles.fieldStyles
                    : null
                "
              ></textarea>

              <span
                *ngIf="currentField.bottomLabel"
                class="input-label-bottom"
                [ngStyle]="
                  currentField.styles.bottomLabelStyles
                    ? currentField.styles.bottomLabelStyles
                    : null
                "
                (click)="
                  currentField.bottomLabel.clickable
                    ? currentField.bottomLabel.callback(stepFunctionParams)
                    : null
                "
              >
                {{ currentField.bottomLabel.text }}
              </span>
            </ng-container>
          </div>

          <!-- RADIO INPUTS GO HERE -->
          <div
            *ngIf="currentField.inputType === 'radio'"
            class="selector"
            [ngStyle]="
              currentField.styles.containerStyles
                ? currentField.styles.containerStyles
                : null
            "
          >
            <label
              [for]="currentField.name"
              class="input-label"
              [ngStyle]="
                currentField.styles.labelStyles
                  ? currentField.styles.labelStyles
                  : null
              "
              >{{ currentField.label }}</label
            >

            <ng-container *ngFor="let option of currentField.selectionOptions">
              <label
                [ngClass]="
                  option === currentField.fieldControl.value
                    ? 'selector-option active'
                    : 'selector-option'
                "
                (click)="currentField.fieldControl.setValue(option)"
              >
                <input
                  type="radio"
                  [value]="option"
                  [formControlName]="currentField.name"
                />
                <span>{{ option }}</span>
              </label>
            </ng-container>
          </div>

          <!-- FILE INPUTS GO HERE -->
          <div
            *ngIf="currentField.inputType === 'file'"
            [ngStyle]="
              currentField.styles.containerStyles
                ? currentField.styles.containerStyles
                : null
            "
          >
            <span
              class="input-label"
              [ngStyle]="
                currentField.styles.labelStyles
                  ? currentField.styles.labelStyles
                  : null
              "
            >
              {{ currentField.label }}
            </span>

            <label
              class="file"
              [for]="currentField.name"
              [ngStyle]="applyStylesToImages(currentField)"
            >
              <span *ngIf="currentField.fieldControl.value === ''"
                >Upload/Image</span
              >
            </label>

            <div
              *ngIf="currentField.showImageBottomLabel"
              class="showImageBottomLabel"
              [ngStyle]="
                currentField.styles.bottomLabelStyles
                  ? currentField.styles.bottomLabelStyles
                  : null
              "
              (click)="openInputTypeFileSelector(currentField.name)"
            >
              {{ currentField.showImageBottomLabel }}
            </div>

            <input
              type="file"
              [id]="currentField.name"
              [style.display]="'none'"
              (change)="loadFile(currentField, $event)"
            />
          </div>

          <ng-container *ngIf="currentStepObject['embeddedComponents']">
            <ng-container
              *ngFor="
                let currentEmbeddedComponent of currentStepObject[
                  'embeddedComponents'
                ]
              "
            >
              <div
                *ngIf="
                  currentEmbeddedComponent.afterIndex === currentFieldIndex
                "
                [ngStyle]="
                  currentEmbeddedComponent.containerStyles
                    ? currentEmbeddedComponent.containerStyles
                    : null
                "
              >
                <app-dynamic-component
                  [component]="currentEmbeddedComponent.component"
                  [componentInputs]="currentEmbeddedComponent.inputs"
                  [componentOutputs]="currentEmbeddedComponent.outputs"
                ></app-dynamic-component>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </form>

      <!-- LINKS OPCIONALES -->
      <div
        *ngIf="currentStepObject['optionalLinksTo']"
        class="optional-links"
        [ngStyle]="
          currentStepObject.optionalLinksTo?.styles?.containerStyles
            ? currentStepObject.optionalLinksTo?.styles?.containerStyles
            : null
        "
      >
        <span
          class="title"
          [ngStyle]="
            currentStepObject.optionalLinksTo?.styles?.labelStyles
              ? currentStepObject.optionalLinksTo?.styles?.labelStyles
              : null
          "
          >Optional:</span
        >
        <ng-container
          *ngFor="let link of currentStepObject['optionalLinksTo'].links"
        >
          <span
            class="link"
            (click)="link.action(stepFunctionParams)"
            [ngStyle]="
              currentStepObject.optionalLinksTo?.styles?.fieldStyles
                ? currentStepObject.optionalLinksTo?.styles?.fieldStyles
                : null
            "
            >{{ link.text }}</span
          >
        </ng-container>
      </div>

      <!-- FOOTER PARA EL CONTADOR DE PREGUNTAS Y LINKS HACIA OTRAS PÁGINAS -->
      <div class="footer">
        <span
          *ngIf="currentStepObject['bottomLeftAction']"
          class="bottom-left-action"
          (click)="
            currentStepObject['bottomLeftAction'].execute(stepFunctionParams)
          "
        >
          {{ currentStepObject["bottomLeftAction"].text }}
        </span>

        <div class="steps" *ngIf="showStepNumbers">
          <img
            src="{{ env }}/arrow-down.svg"
            class="step-icon"
            alt="questions"
          />
          {{ currentStepIndex + 1 }} / {{ steps.length }} PASOS
        </div>
      </div>
    </div>

    <div
      class="bottom-separator"
      *ngIf="
        scrollableForm || (!scrollableForm && currentStepIndex === currentStep)
      "
    ></div>

    <!-- BOTON PARA PASAR AL SIGUIENTE PASO O PARA SUBIR EL FORMULARIO -->
    <app-sticky-button
      *ngIf="currentStep === currentStepIndex"
      [text]="
        dataModel.get(currentStepString).valid
          ? steps[currentStepIndex].stepButtonValidText
          : steps[currentStepIndex].stepButtonInvalidText
      "
      [mode]="
        dataModel.get(currentStepString).status !== 'INVALID'
          ? 'fixed'
          : 'disabled-fixed'
      "
      (click)="
        !steps[currentStepIndex]
          ? executeStepDataProcessing()
          : steps[currentStepIndex].customScrollToStep(stepFunctionParams)
      "
    ></app-sticky-button>
  </ng-container>
</div>
