@import "forms";

.form-wrapper {
  height: c;
  overflow-y: scroll;
}

.form-step {
  background-color: #f6f6f6;
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 33px;
  padding-top: 60px;

  .optional-links {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }

  .optional-links .title {
    font-size: 19px;
    font-family: Roboto;
    font-weight: lighter;
    font-weight: 400;
  }

  .optional-links .link {
    margin-top: 18px;
    color: #27a2ff;
    font-size: 16px;
    font-family: RobotoMedium;
  }

  .optional-links .link:hover {
    cursor: pointer;
  }

  .footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 1rem;
    margin-bottom: 25px;

    .bottom-left-action {
      font-family: "Roboto";
      font-style: italic;
      font-size: 17px;
      color: #7b7b7b;
      margin-right: auto;
    }

    .bottom-left-action:hover {
      cursor: pointer;
    }

    .step-icon {
      width: 15px;
      height: 15px;
      margin-right: 7.5px;
    }

    .steps {
      font-family: "Roboto";
      font-size: 14px;
      color: #3d3d3d;
      margin-left: auto;
    }
  }
}

.add-another {
  background: #fff;
  padding-left: 30px;
  padding-top: 20px;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 22px;
  border: 1px solid dodgerblue;
  background-blend-mode: color-dodge;
  color: #a9a9a9;
  font-size: 16px;
  cursor: pointer;
}
