<div class="container">
  <div class="header">
    <div class="header-top-container">
      <div class="close-button">X</div>
      <div class="circle-container">
        <div class="avatar-img"></div>
      </div>
      <p class="header-top-text">Embajador sin Causa</p>
      <div class="right-buttons">
        <div class="loved">
          <img class="loved-icon" src="../../../../../assets/icons/black-heart.svg"><span>4</span>
        </div>
        <div class="shopping-cart">
          <img class="shopping-cart-icon" src="../../../../../assets/icons/shopping_cart.svg"><span>4</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="input-container">
      <input placeholder="Buscar.." />
      <div class="input-items">
        <div class="icon-button">⏰</div>
        <div class="icon-button">💰</div>
        <div class="icon-button">🏷️</div>
        <div class="icon-button">🖇️</div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-body">
        <div class="card-left-side">
          <div class="card-title">Paquete de 24 lavados</div>
          <div class="card-description">Lavado por fuera, aspiradora por dentro y brillo en las gomas).</div>
          <div class="card-note">En MerchantID</div>
        </div>
        <div class="card-right-side">
          <div class="featured-image" style="background-image: url(&quot;https://storage-rewardcharly.sfo2.digitaloceanspaces.com/item-images/168853397210474cf05f5657d1cc369eb7b2ab154a8cd358eaf59e28b352a1b02d31b81093ec7.png&quot;);">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="pricing">RD$ 3,800</div>
        <div class="bottom-icons">
          <div class="text-icon">
            <img class="heart-icon" src="../../../../../assets/icons/gray-heart.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-body">
        <div class="card-left-side">
          <div class="card-title">Paquete de 24 lavados</div>
          <div class="card-description">Lavado por fuera, aspiradora por dentro y brillo en las gomas).</div>
          <div class="card-note">En MerchantID</div>
        </div>
        <div class="card-right-side">
          <div class="featured-image" style="background-image: url(&quot;https://storage-rewardcharly.sfo2.digitaloceanspaces.com/item-images/168853397210474cf05f5657d1cc369eb7b2ab154a8cd358eaf59e28b352a1b02d31b81093ec7.png&quot;);">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="pricing">RD$ 3,800</div>
        <div class="bottom-icons">
          <div class="text-icon">
            <img class="heart-icon" src="../../../../../assets/icons/gray-heart.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="flex">
      <img class="info-icon" src="../../../../../assets/icons/info.svg" />
      <img class="info-instagram" src="../../../../../assets/icons/instagram.svg" />
    </div>
    <div class="flex">
      <div class="footer-note">
        <!--
        <p class="yellow-note">La Causa</p>
        <img class="mourning-icon" src="../../../../../assets/icons/mourning.svg" />
         -->
         <p class="green-note">Guarda y Monetiza 💚</p>
      </div>
    </div>
  </footer>
</div>
