.container {
  height: 100vh;
  overflow-y: scroll;
  background: #f6f6f6;
  padding: 0px;
  padding-bottom: 3rem;
  position: relative;
}

::ng-deep .mat-dialog-container {
  padding: 24px;
  background-color: white;
}

.header {
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  height: 46px;
  padding-left: 14px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close {
    color: #c4c5c3;
    text-align: right;
    font-family: InterLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    border: none;
    background: transparent;
    margin-right: 11px;
  }

  .delete-icon {
    margin-left: auto;
    margin-right: 25px;
    margin-top: -2px;

    &:hover {
      cursor: pointer;
    }
  }

  mat-icon {
    color: #c4c5c3;
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 8px;
    margin-bottom: -1px;
  }
}

.header-title {
  color: #272727;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.content {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 24px;
  padding-bottom: 165px;
}

.content-title {
  color: #181d17;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 22px;
}

.content-card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border-radius: 10px;
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 12px;
  width: 100%;
  margin-top: 5px;

  &.no-background {
    background-color: transparent;
    color: #702015;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    filter: none;
  }

  &.info {
    padding: 13px;
    border-radius: 0px;

    h3 {
      margin: 0px;
      color: #7b7b7b;
      font-family: InterBold;
      font-size: 17px;
      font-style: normal;
      line-height: normal;
      font-weight: normal;
    }

    h6 {
      margin: 0px;
      margin-top: 7px;
      color: var(--plomo, #7b7b7b);
      font-family: InterMedium;
      font-size: 17px;
      font-style: normal;
      line-height: normal;
      font-weight: normal;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.content-card-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}

.content-card-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #e9e371;
  margin-right: 10px;
}

.content-card-title {
  text-transform: capitalize;
  color: #272727;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.content-card-cotization {
  text-align: right;
  color: #7b7b7b;
  font-family: InterMedium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.content-card-list-container {
  padding-left: 33px;
  margin-top: 16px;

  li {
    color: #272727;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }
}

.content-title-light {
  color: #000;
  font-family: InterLight;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.optional-stuff {
  margin-top: 60px;
  width: 100%;

  .item-field {
    border-radius: 4px;
    background: #fff;
    padding: 13px 18px;
    padding-right: 16.43px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;

    &:hover {
      cursor: pointer;
    }

    .field-name {
      color: #000;
      font-family: InterLight;
      font-size: 17px;
      font-style: italic;
      font-weight: 300;
      line-height: normal;
    }

    .add-icon:hover {
      cursor: pointer;
    }
  }
}

hr {
  border: 1px solid #e9e9e9;
  margin-bottom: 13px;
  margin-top: 10px;
}

@media (max-width: 380px) {
  .content-card-title {
    font-size: 15px;
  }
}

.another-supplier-button {
  margin-top: 18px;
  width: 100%;
  padding: 13px;
  background: #87cd9b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 67px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;

  &:hover {
    cursor: pointer;
  }

  .text {
    text-align: center;
    color: #272727;
    font-size: 17px;
    font-family: "InterBold";
    font-weight: 700;
    word-wrap: break-word;
    padding: 0 10px;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: 500px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin: auto;

  .share-btn {
    cursor: pointer;
    border: none;
    color: #181d17;
    font-family: InterBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

    &:hover {
      cursor: pointer;
    }
  }

  .average-label {
    color: var(--el-mas-oscuro, #181d17);
    text-align: right;
    font-family: InterRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.bubble-button-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  max-width: 500px;
  bottom: 52px;
  display: flex;
  justify-content: flex-end;
}

.bubble-button {
  z-index: 999;
  margin-right: 26px;
  width: 63px;
  height: 63px;
  background-color: #87cd9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  img {
    transform: rotate(180deg);
    width: 25.28px;
    height: 25.28px;
  }
}

.providers-config-header-wrapper {
  color: #2874ad;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 34px;

  span {
    font-family: InterLight;
  }
}
