<div class="container">
	<!-- <app-helper-headerv2
		[mode]="'basic'"
        [mainText]="{
            text: item?.merchant?.name,
            fontSize: '21px'
        }"
        [icons]="[{
            src: '/whatsapp_blanco.svg',
            color: 'invert(35%) sepia(39%) saturate(2199%) hue-rotate(180deg) brightness(75%) contrast(73%)',
            callback: tapping
        }]"
        [shopcart]="{
            active: !providerView,
            cartAmount: 1,
            filter: 'brightness(0) saturate(100%) invert(40%) sepia(22%) saturate(1544%) hue-rotate(163deg) brightness(95%) contrast(92%)'
        }"
        [returnAble]="true"
		cartColor="blue"
		filter="brightness(0) saturate(100%) invert(40%) sepia(22%) saturate(1544%) hue-rotate(163deg) brightness(95%) contrast(92%)"
		[bgColor]="providerView ? '#2874AD' : '#E9E371'"
		[color]="providerView ? '#FFFFFF' : '#2874AD'"
		(returnEvent)="redirect()"
	></app-helper-headerv2> -->

	<!-- Header with icons  -->
	<!-- <app-helper-headerv2
		*ngIf="item?.status === 'active'"
		[mode]="'basic'"
		[icons]="[
			{
				src: '/upload.svg',
				color: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
				callback: openShareDialog
			},
			{
				src: '/pencil.svg',
				color: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
				callback: editItem
			}
		]"
        [plus]="{
            active: true
        }"
		[returnAble]="true"
		bgColor="#2874AD"
		color="#FFFFFF"
		(returnEvent)="redirect()"
        (plusEvent)="openDialog()"
	></app-helper-headerv2> -->

	<!-- Header without icons -->
	<app-helper-headerv2
		*ngIf="item?.status === 'active'"
		[mode]="'basic'"
		[icons]="[
			{
				src: '/upload.svg',
				color: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
				callback: openShareDialog
			},
			{
				src: '/pencil.svg',
				color: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
				callback: editItem
			}
		]"
		[returnAble]="true"
		bgColor="#2874AD"
		color="#FFFFFF"
		(returnEvent)="redirect()"
	></app-helper-headerv2>


	<app-helper-headerv2
		*ngIf="item?.status !== 'active'"
		mode="center"
		[mainText]="{
			text: 'INACTIVO (NO EXPUESTO)'
		}"
		[icon]="
			{
				src: '/closed-eye.svg',
				filter: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
				callback: toggleActivateItem
			}
		"
		flexDirection="flex-end"
		[returnAble]="true"
		rmargin="46px"
		bgColor="#B17608"
		color="#FFFFFF"
		(returnEvent)="redirect()"
	></app-helper-headerv2>

	<!-- Fin de la info que ve el admin -->

	<div class="item-info" *ngIf="item">
		<!-- <div class="description" *ngIf="item.description">
			<h2 class="title-name" *ngIf="item.name && item.images?.length">
				{{item.name}}
			</h2>
			<p>{{item.description}}</p>
		</div> -->

		<!-- <div *ngIf="item.name && (!item.images || !item.images?.length)">
			<div class="grey-box">
				<h3 class="title">{{item.name}}</h3>
			</div>
		</div> -->

		<!-- <button *ngIf="item.images?.length" class="itemImg" (click)="openImageModal(item.images[0])">
			<div [ngStyle]="{ 'background-image': 'url(' + item.images[0] + ')' }"></div>
		</button> -->

		<div class="fullScreenSwiper" *ngIf="item.images?.length">
			<div class="shadowWrapper">
					<swiper [config]="swiperConfig">
					<div
							*ngFor="let item of item.images; let i = index"
							(click)="openImageModal(item)"
							class="item"
							[ngStyle]="{ 'background-image': 'url(' + item + ')' }"
					></div>
				</swiper>
			</div>
	</div>
		<div class="flex-box" style="color:#4F4F4F; margin-top: 32px;">
			<h6 class="small-title">{{item.name}}</h6>
			<span class="small-price">${{item.pricing | number}}</span>
		</div>

		<!-- <div class="no-description" *ngIf="item.name && !item.description && item.images">
			<h3 class="title">{{item.name}}</h3>
		</div> -->

		<!-- <div *ngIf="item.pricing" class="item-price">
			<span class="vale">Vale</span>
			<h4 class="price">${{item.pricing | number}}</h4>
		</div> -->

		<!-- <div class="client-submit-area">
			<ng-container *ngIf="!providerView">
				<button class="action-btn yellow">Adicionar al <span><img src="{{ env }}/carrito_blanco.svg" alt=""></span></button>
				<img src="{{ env }}/bookmark-plus.svg" alt="">
			</ng-container>
			<ng-container *ngIf="providerView">
				<button class="action-btn" [ngClass]="{'yellow': item.status === 'active', 'blue': item.status === 'disabled'}" (click)="toggleActivateItem()">
					<ng-container *ngIf="item.status === 'active'">ACTIVO Y EN VENTA</ng-container>
					<ng-container *ngIf="item.status === 'disabled'">EMPEZAR A VENDERLO</ng-container>
				</button>
				<a class="side-btn" [routerLink]="['/ecommerce/category-item-detail',item._id]">
					<img src="{{ env }}/categories-list.svg" width="30" height="30" alt="">
					<span [ngClass]="{'plus': !item?.category?.length}">{{item?.category?.length ? item.category.length : '+'}}</span>
				</a>
			</ng-container>
		</div> -->

		<!-- <ng-container *ngIf="item.content?.length">
			<hr class="divider">
			<div class="content">
				<span class="includes">Incluye:</span>
				<ul>
					<li *ngFor="let content of item.content; index as i" class="list-content">
						- {{content}}
					</li>
				</ul>
			</div>
		</ng-container> -->
	</div>

	<!-- Notification area -->

    <!-- <div class="displayer">
        <app-enlist-display
        [headline]="{
            icon:{
                src: '/whatsapp_verde.svg',
                width: 30,
                height: 30
            },
            text:{
                text: 'AUTOMATIZA UN MENSAJE'
            }
        }"
        [icon]="{
            src: '/salealt.svg',
            width: 20,
            height: 20,
            color: 'invert(40%) sepia(19%) saturate(1763%) hue-rotate(163deg) brightness(96%) contrast(93%)'
        }"
        ></app-enlist-display>
    </div> -->

    <app-sticky-button
    [mode]="'double'"
    [extra]="{
        bgColor:'#2874AD',
        return: true
    }"
    [color]="'#FFF'"
    [fontSize]="'17px'"
    [bgColor]="'#A1A1A1'"
    [text]="'45 ventas'"
    [text2]="'$14,451 INGRESO'"
	size="small"
    (added)="redirect()"
    ></app-sticky-button>

</div>

<!-- <ng-container *ngIf="providerView">
	<ng-container *ngIf="mode === 'new-item'">
		<app-bubble-button [position]="'left'" [text]="'TIENDA'" [solo]="false" (click)="toggleView()"></app-bubble-button>
		<app-bubble-button [position]="'right'" [text]="'VISTA'" [solo]="false" (click)="toggleView()"></app-bubble-button>
		<app-sticky-button
			[bgColor]="'#2874AD'"
			[text]="!newMerchant ? 'EMPIEZA A VENDERLO' : 'CUENTA DONDE PAGARAN'"
			mode="fixed"
			(click)="!loggedIn && !newMerchant? goToAuth() : (newMerchant && canCreateBank) ? goToBanksForm() : loggedIn && defaultMerchant ? goToMerchantStore() : null">
		</app-sticky-button>
	</ng-container>
	<ng-container *ngIf="mode === 'edit'">
		<app-bubble-button [position]="'left'" [icon]="env + '/arrow-left.svg'" [solo]="false" [routerLink]="['/ecommerce/user-items']"></app-bubble-button>
		<app-bubble-button [position]="'right'" [icon]="env + '/upload.svg'" [solo]="false" (click)="openShareDialog()"></app-bubble-button>
		<app-sticky-button
			*ngIf="totalByItem && buyersByItem"
			[bgColor]="'#2874AD'"
			[text]="totalByItem?.itemInOrder + ' VENTAS / $' + totalByItem?.total + ' IN / ' + buyersByItem?.length + ' COMPRADORES'"
			mode="fixed"
			size="small"
			color="#E9E371"
			[routerLink]="['/ecommerce/item-sales-detail', item._id]"
		></app-sticky-button>
	</ng-container>
</ng-container>

<ng-container *ngIf="!providerView">
	<app-bubble-button [position]="'left'" [return]="true" (click)="toggleView()"></app-bubble-button>
	<app-bubble-button [position]="'right'" [icon]="'/upload.svg'"  (click)="toggleView()"></app-bubble-button>
	<app-sticky-button
		[text]="'TOCA DONDE PREFIERAS'"
		[mode]="'disabled-fixed'"
		size="small"
	></app-sticky-button>
</ng-container> -->