<div class="container">
  <app-helper-headerv2
    *ngIf="item?.status === 'active'"
    [mode]="'basic'"
    [icons]="[
      {
        src: '/upload.svg',
        color:
          'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
        callback: openShareDialog
      },
      {
        src: '/pencil.svg',
        color:
          'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
        callback: editItem,
        margin: '0 7px 0 6px'
      }
    ]"
    [returnAble]="true"
    bgColor="#2874AD"
    color="#FFFFFF"
    (returnEvent)="redirect()"
  ></app-helper-headerv2>

  <app-helper-headerv2
    *ngIf="item?.status !== 'active'"
    mode="center"
    [mainText]="{
      text: 'INACTIVO (NO EXPUESTO)',
      fontFamily: 'RobotoMedium',
      fontSize: '17px'
    }"
    [icons]="[
      {
        src: '/closed-eye.svg',
        color:
          'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(108%) contrast(104%)',
        callback: toggleActivateItem
      }
    ]"
    flexDirection="flex-end"
    [returnAble]="true"
    rmargin="46px"
    bgColor="#B17608"
    color="#FFFFFF"
    (returnEvent)="redirect()"
  ></app-helper-headerv2>

  <div class="item-info" *ngIf="item">
    <div class="fullScreenSwiper" *ngIf="item.images?.length">
      <div class="shadowWrapper">
        <swiper [config]="swiperConfig">
          <div
            *ngFor="let item of item.images; let i = index"
            (click)="openImageModal(item)"
            class="item"
            [ngStyle]="{ 'background-image': 'url(' + item + ')' }"
          ></div>
        </swiper>
      </div>
    </div>
    <div class="flex-box" style="color: #4f4f4f; margin-top: 32px">
      <h6 class="small-title">{{ item.name }}</h6>
      <span class="small-price">${{ item.pricing | number }}</span>
    </div>

    <div>
      <app-question-item style="cursor: pointer;"
        *ngIf="!item?.notifications?.length"
        headline="AUTOMATIZA UN MENSAJE"
        [headlineContainerStyles]="{
          justifyContent: 'flex-start',
          borderBottom: 'none'
        }"
        [headlineTitleStyles]="{
          marginLeft: '10px'
        }"
        [headlineRightTextStyles]="{
          color: '#2874AD',
          fontFamily: 'SfProBold',
          fontSize: '29px',
          marginLeft: 'auto'
        }"
        [headlineLeftIcon]="{
          icon: 'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/whatsapp_verde.svg',
          width: 30,
          height: 30
        }"
        [headlineRightText]="{
          text: '+',
          color: 'darkblue',
          fontSize: '29px',
          fontFamily: 'Roboto',
          callback: redirectTo,
          callbackParams: ['ecommerce/notification-creator/' + item._id]
        }"
        [tagListTextStyles]="{
          marginRight: '5px'
        }"
        [tagListStyles]="{
          marginTop: '15px'
        }"
        [chipMode]="2"
        [shadow]="'0px 5px 5px lightgrey, 0px -0.5px 3px lightgrey'"
      ></app-question-item>
      <ng-container
        *ngIf="item?.notifications?.length && notifications?.length"
      >
        <div class="section" *ngFor="let notification of notifications">
          <app-enlist-display
            [headline]="{
              icon: {
                src: '/whatsapp_verde.svg',
                width: 30,
                height: 30
              },
              text: {
                text: 'AUTOMATIZACION DE MENSAJE'
              }
            }"
            [iconText]="{
              icons: [
                {
                  src: '/pencil.svg',
                  width: 19,
                  height: 19,
                  color:
                    'brightness(0) saturate(100%) invert(37%) sepia(28%) saturate(1252%) hue-rotate(163deg) brightness(101%) contrast(91%)',
                  callback: redirectTo,
                  args:
                    'ecommerce/notification-creator/' +
                    item._id +
                    '/' +
                    notification._id
                }
              ]
            }"
            [itemList]="[
              {
                name: {
                  text: notification.action.toUpperCase(),
                  fontFamily: 'RobotoMedium',
                  color: '#7B7B7B',
                  fontSize: '13px'
                },
                subtitle: {
                  text: notification.message,
                  fontFamily: 'RobotoItalic',
                  fontSize: '17px',
                  color: '#000000'
                }
              }
            ]"
            [showSubtitle]="true"
          ></app-enlist-display>
          <!-- [bottomText]="{
              rightText: {
                text: 'ULTIMO HACE DATEID',
                fontSize: '17px',
                fontFamily: 'RobotoMedium'
              }
            }" -->
        </div>
      </ng-container>
    </div>
  </div>
  <app-sticky-button
    [mode]="'double'"
    [extra]="{
      bgColor: '#2874AD',
      return: true
    }"
    [color]="'#FFF'"
    [fontSize]="'17px'"
    [bgColor]="'#A1A1A1'"
    [text]="
      totalByItem &&
      totalByItem?.itemInOrder.toLocaleString('es-MX') + ' VENTAS'
    "
    [text2]="
      totalByItem && totalByItem?.total.toLocaleString('es-MX') + ' INGRESO'
    "
    size="small"
    (added)="redirect()"
  ></app-sticky-button>
</div>
