<p class="input-title transition-input">Completar la orden</p>
<div class="link-button">
    <svg (click)="redirect()" xmlns="http://www.w3.org/2000/svg" width="30.002" height="30.002" viewBox="0 0 30.002 30.002">
        <g id="bx-right-arrow-circle" transform="translate(-2.998 -2.99)">
          <path id="Trazado_28146" data-name="Trazado 28146" d="M18,2.99a15,15,0,1,0,15,15,15.02,15.02,0,0,0-15-15Zm0,27a12,12,0,1,1,12-12A12.014,12.014,0,0,1,18,29.991Z" fill="#27a2fc"/>
          <path id="Trazado_28147" data-name="Trazado 28147" d="M18,16.491H12v3h6V24l6.008-6.008L18,11.986Z" fill="#27a2fc"/>
        </g>
    </svg>          
</div>
<!-- <div class="container">
  <div class="title">Información necesaria</div>

  <ng-container *ngIf="loaded">
    <div class="input-title transition-input">Número MOBILE (WHATSAPP)</div>
    <input
      type="text"
      class="auth-input transition-input"
      [(ngModel)]="authInputData"
      placeholder="Mi Mobile es.."
      (keyup.enter)="checkUser()"
      autocomplete="off"
      (keypress)="validCharacters($event)"
      [disabled]="alreadyLogged"
    />
    <div class="title transition-input">Haz una selección</div>
    <ng-container *ngIf="userData">
      <app-leadword-list
        class="transition-input"
        [list]="[
          { title: 'Soy ' + userData.name },
          { title: 'No Soy ' + userData.name }
        ]"
        [authData]="true"
        (authOption)="openPasswordInput($event)"
      ></app-leadword-list>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="loaded && alreadyLogged == false && !userData">
  <app-sticky-button
    class="transition-input"
    *ngIf="authInputData.length >= 7; else inactive"
    [mode]="'basic'"
    (click)="checkUser()"
    [text]="'Verificar mi mobile'"
  ></app-sticky-button>
  <ng-template #inactive>
    <app-sticky-button
      class="transition-input"
      [mode]="'disabled'"
      [text]="'ADICIONA TU MOBILE'"
    ></app-sticky-button>
  </ng-template>
</ng-container> -->