.container {
  min-height: 100vh;
}
header {
  display: flex;
  align-items: center;
  background-color: #181d17;
  justify-content: flex-end;
  height: 40px;
  padding-left: 20px;
  color: #87cd9b;

  div {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 16px;
    font-family: SFProHeavy;
    margin-right: 4px;
  }
}
main {
  padding: 20px;
}
.chip-list {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 8px;
}
.chip {
  background-color: transparent;
  border: solid 1px #d4d4d4;
  font-family: SfProLight;
  font-size: 1rem;
  border-radius: 24px;
  padding: 4px 18px;
  transition: 0.2s;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  color: #272727;

  &.chip-selected {
    border-color: #bdbfbd;
    background-color: #bdbfbd;
    font-family: SfProSemiBold;
    color: #171d16;
    transition: 0.2s;
    color: #171d16;
  }
}

