.container {
  min-height: 100vh;
}
.header {
  background-color: #181d17;
  position: sticky;
  top: 0;
  z-index: 5;
  color: #87cd9b;
  height: 46px;

  .spacer {
    flex: 1 1 auto;
  }

  span {
    font-size: 16px;
    font-family: SFProHeavy;
    margin-right: 4px;
  }
}
main {
  padding: 20px;
}
.chip-list {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 8px;
}
.chip {
  background-color: transparent;
  border: solid 1px #d4d4d4;
  font-family: SfProLight;
  font-size: 1rem;
  border-radius: 24px;
  padding: 4px 18px;
  transition: 0.2s;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  color: #272727;

  &.chip-selected {
    border-color: #bdbfbd;
    background-color: #bdbfbd;
    font-family: SfProSemiBold;
    color: #171d16;
    transition: 0.2s;
    color: #171d16;
  }
}
