h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  all: unset;
}
button,
a {
  cursor: pointer;
}
.container {
  width: 100%;
  min-height: 100vh;

  .header {
    width: 100%;
    height: 36px;
    background-color: #2874ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 33px;
    padding-left: 17px;

    .merchant-name {
      font-family: "SfProBold";
      font-size: 1.313rem;
      color: #ffffff;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-right: auto;
      margin-left: 17px;
    }

    .right-area {
      display: flex;
      align-items: center;

      .header-text {
        font-family: "RobotoRegular";
        font-size: 0.875rem;
        color: #ffffff;
        margin-right: 6px;
      }

      img {
        width: 14px;
        filter: brightness(2);
      }
    }
  }

  .bill-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 29px 5% 23px;

    .user-name {
      font-family: "RobotoRegular";
      font-size: 1.063rem;
      color: #7b7b7b;
      margin: 0 auto 10px;
    }

    .success {
      font-family: "RobotoRegular";
      font-size: 1.438rem;
      color: #4f4f4f;
      margin: 0 auto 35px;
      text-align: center;
    }

    .bill-button {
      width: 85%;
      background-color: #2874ad;
      font-family: "SfProRegular";
      font-size: 1.063rem;
      color: #ffffff;
      text-align: center;
      border-radius: 19px;
      margin: 0 auto 12px;
      padding: 10px 0;
      text-decoration: none;
    }

    .bill-clarity {
      font-family: "RobotoRegular";
      font-size: 1.063rem;
      color: #7b7b7b;
      text-align: center;
      margin: 0 auto;
    }
  }

  .information {
    width: 100%;
    margin: 40px 0 40px 0;
    padding: 0 24px 32px;

    .top {
      margin: 33px 0 59.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .top-h {
        font-family: "RobotoMedium";
        font-size: 0.875rem;
        color: #7b7b7b;
        font-weight: 500;
        text-align: center;

        .top-name {
          font-family: "SfProBold";
          font-size: 1.25rem;
          color: #7b7b7b;
        }
      }

      .info-display {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        .info {
          font-family: "RobotoRegular";
          font-size: 0.813rem;
          color: #7b7b7b;
          margin-left: 5%;
        }
      }
    }

    .section {
      width: 100%;

      .items-container {
        background-color: #82f18d;
        padding: 10px 12px;
        border-radius: 6px;

        .image-container {
          display: flex;
          overflow-x: scroll;
          column-gap: 8px;

          .image {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 86px;
            height: 86px;
            border-radius: 6px;

            .item-image {
              min-width: 86px;
              max-width: 86px;
              min-height: 74px;
              max-height: 110px;
              background-color: #e9e371;
              border-radius: 6px;
              -webkit-user-drag: none;
              object-fit: contain;
            }

            &:after {
              content: "\A";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.3);
              opacity: 0;
              transition: all 0.5s;
              -webkit-transition: all 0.5s;
              border-radius: 6px;
            }

            &:hover:after {
              opacity: 1;
            }
          }
        }

        .total {
          font-family: "SfProBold";
          font-size: 13px;
          color: #000000;
        }

        .amount {
          font-family: "SfProBold";
          font-size: 17px;
          color: #174b72;
          text-transform: capitalize;
        }

        .address-name {
          font-family: "RobotoMedium";
          font-size: 19px;
          color: #174b72;
          margin: 0 8px 0;
          word-break: break-word;
        }

        .added {
          font-family: "SfProRegular";
          font-size: 14px;
          color: #174b72;
          margin: 3px 8px 0;
        }
      }

      .text-reservation {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #174b72;
        margin: 0;
        background-color: #82f18d;
        padding: 12px 18px;
        border-radius: 6px;
      }

      .inner {
        justify-content: flex-start;
        padding: 0;
        margin: 0;
      }
      .message-box {
        border-radius: 6px;
        background-color: #82f18d;
        flex-direction: column;
        padding: 24px;

        > :not(:first-child) {
          margin-top: 32px;
        }
      }

      .message-text {
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #174b72;
        margin: 0;
        word-break: break-word;
      }

      .column {
        flex-direction: column;
      }

      .section-title {
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #7b7b7b;
        margin: 0;
        margin-bottom: 10px;
        font-weight: normal;
      }
    }
  }
}

.sub {
  font-family: "RobotoLight";
  font-size: 19px;
  color: #000000;
  margin: 0 0 8px 0;
  font-weight: 100;
}

.box-shadowing {
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 10%);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  margin-bottom: 8px;

  th,
  td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
  }
}
.customizer-preview {
  width: 100%;
}

.return-holder {
  cursor: pointer;
}

.footer-display {
  width: 100%;
  max-width: 500px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  background-color: #2874ad;

  &.temporal {
    height: 50px;
  }

  .fa-chevron-left {
    position: absolute;
    top: 24.5px;
    right: auto;
    left: 3.5%;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    font-size: 1.125rem;
  }

  .fa-chevron-right {
    position: absolute;
    top: 24.5px;
    right: 3.5%;
    left: auto;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    font-size: 1.125rem;
  }

  .pages-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto 0;

    .images-container {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .image {
        width: 21px;
        height: 25px;
        cursor: pointer;
      }
    }
  }

  .tab-pages {
   width: 100%;
   height: 20px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 0 5px;
   position: absolute;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.2);

   .tab {
     width: 80px;
     height: 4px;
     background-color: #ffffff;

     &:nth-child(2) {
       background-color: #82f18d;
     }
   }
 }
}
