h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  all: unset;
}
button,
a {
  cursor: pointer;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 33px;

    .merchant-name {
      font-family: "SfProBold";
      font-size: 1.313rem;
      color: #ffffff;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .right-area {
      display: flex;
      align-items: center;

      .header-text {
        font-family: "RobotoRegular";
        font-size: 0.875rem;
        color: #ffffff;
        margin-right: 6px;
      }

      img {
        width: 14px;
        filter: brightness(2);
      }
    }
  }

  .top-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 15px 4% 15px 6.33%;

    .top-button {
      all: unset;
      font-family: "SfProMedium";
      font-size: 1.063rem;
      color: #2874ad;
      cursor: pointer;
      z-index: 1;
    }

    .coins-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 17px 21px;
      margin: 13px auto 0;
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 10%);

      .info-headline {
        font-family: "SfProBold";
        font-size: 1.063rem;
        margin: 0 0 6px;
        color: #000000;
      }

      .info-paragraph {
        font-family: "SfProMedium";
        font-size: 1.063rem;
        color: #7b7b7b;
        max-width: 84.5%;
        margin: 0;
      }
    }
  }

  .bill-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 29px 5% 23px;

    /*  .user-name {
      font-family: "RobotoRegular";
      font-size: 1.063rem;
      color: #7b7b7b;
      margin: 0 auto 10px;
    } */

    .success {
      font-family: "RobotoRegular";
      font-size: 1.438rem;
      color: #4f4f4f;
      margin: 0 auto 18px;
      text-align: center;
    }

    .bill-button {
      width: 85%;
      background-color: #82f18d;
      font-family: "SfProBold";
      font-size: 1.063rem;
      color: #272727;
      text-align: center;
      border-radius: 19px;
      margin: 15px auto 0;
      padding: 10px 0;
      text-decoration: none;
    }

    .bill-clarity {
      font-family: "RobotoRegular";
      font-size: 1.063rem;
      color: #7b7b7b;
      text-align: center;
      margin: 0 auto;
    }
  }

  .information {
    width: 100%;
    margin: 50px 0 40px 0;
    padding: 0 24px 32px;
    padding-bottom: 70px; //para la barra inferior
    flex: 1;

    .top {
      margin: 0 0 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .top-h {
        font-family: "RobotoMedium";
        font-size: 0.875rem;
        color: #7b7b7b;
        font-weight: 500;
        text-align: center;

        .top-name {
          all: unset;
          font-family: "SfProBold";
          font-size: 1.25rem;
          color: #2874ad;
          cursor: pointer;
        }

        .top-headline {
          font-family: "SfProBold";
          font-size: 1.25rem;
          color: #7b7b7b;
          margin-top: 3px;
        }
      }

      .info-display {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 8px;

        .info {
          font-family: "RobotoRegular";
          font-size: 0.813rem;
          color: #7b7b7b;
          margin-left: 5%;
          text-align: center;
        }
      }
    }

    .section {
      width: 100%;

      .items-container {
        background-color: #ffffff;
        padding: 10px 12px;
        border-radius: 6px;
        margin-bottom: 2px;

        .image {
          position: relative;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 86px;
          height: 86px;
          border-radius: 6px;

          .item-image {
            min-width: 86px;
            max-width: 86px;
            min-height: 74px;
            max-height: 110px;
            background-color: #e9e371;
            border-radius: 6px;
            -webkit-user-drag: none;
            object-fit: contain;
          }

          &:after {
            content: "\A";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            border-radius: 6px;
          }

          &:hover:after {
            opacity: 1;
          }
        }

        .video-wrapper {
          position: relative;
          width: 86px;
          height: 86px !important;
          border-radius: 6px;


          .video {
            height: 100% !important;
            width: 100%;
            cursor: pointer;
          }
        }


        .total {
          font-family: "SfProBold";
          font-size: 13px;
          color: #000000;
        }

        .amount {
          font-family: "SfProBold";
          font-size: 17px;
          color: #272727;
          text-transform: capitalize;
        }

        .address-name {
          font-family: "RobotoMedium";
          font-size: 19px;
          color: #272727;
          margin: 0 8px 0;
          word-break: break-word;
        }

        .added {
          font-family: "SfProRegular";
          font-size: 14px;
          color: #272727;
          margin: 3px 8px 0;
        }
      }

      .buttons-share {
        width: 52%;
        display: flex;
        flex-direction: column;
        background-color: #82f18d;
        border-radius: 5px;
        margin: 16px 0 21px;
        padding: 16px 5% 6px;

        &:hover {
          cursor: pointer;
        }

        .buttons-area {
          display: flex;
          justify-content: space-between;

          &:hover {
            cursor: pointer;
          }

          .btn {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            background-color: transparent;
            cursor: pointer;
          }
        }

        .virtual {
          font-size: 1.063rem;
          font-family: "RobotoMedium";
          font-weight: 500;
          color: #272727;
          margin: 6px 0 0;
          text-align: center;
        }
      }

      .text-reservation {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #272727;
        margin: 0;
        background-color: #fff;
        padding: 12px 18px;
        border-radius: 6px;
      }

      .inner {
        justify-content: flex-start;
        padding: 0;
        margin: 0;
      }
      .message-box {
        position: relative;
        border-radius: 6px;
        background-color: #fff;
        flex-direction: column;
        padding: 24px;

        .buttons-share {
          position: absolute;
          width: 52%;
          display: flex;
          justify-content: space-between;
          background-color: #82f18d;
          top: 0;
          right: 0;
          border-radius: 5px;
          padding: 7px 5%;

          .btn {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            background-color: transparent;
            cursor: pointer;
          }
        }

        > :not(:first-child) {
          margin-top: 32px;
        }
      }

      .message-text {
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #272727;
        margin: 0;
        word-break: break-word;
      }

      .column {
        flex-direction: column;
      }

      .section-title {
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #7b7b7b;
        margin: 0;
        margin-bottom: 10px;
        font-weight: normal;
      }
    }
  }
}

.sub {
  font-family: "RobotoLight";
  font-size: 19px;
  color: #000000;
  margin: 0 0 8px 0;
  font-weight: 100;
}

.box-shadowing {
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 10%);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  margin-bottom: 8px;

  th,
  td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
  }
}
.customizer-preview {
  width: 100%;
}

.footer-display {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
  position: fixed;
  max-width: 500px;

  &.temporal {
    height: 50px;
  }

  .pages-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    // margin: 15px auto 0;

    .images-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;

      .image {
        width: 26px;
        height: 26px;
        cursor: pointer;
      }
    }
  }

  .tab-pages {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);

    .tab {
      width: 80px;
      height: 4px;
      background-color: #ffffff;

      &:nth-child(2) {
        background-color: #82f18d;
      }
    }
  }
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 11px;
  height: 17px;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}

.new-order {
  font-family: "SfProMedium";
  font-size: 1.063rem;
  color: #2874ad;
  text-align: center;
  margin: 10px auto 0;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
