<div
  class="card-item"
  [@pageAnimations]="animation"
  (@pageAnimations.start)="onAnimStart($event)"
  (@pageAnimations.done)="onAnimStart($event)"
>
  <div
    class="image"
    [@imageAnimation]="animation"
    *ngIf="itemData.images[0]; else noImage"
    [ngStyle]="{ 'background-image': 'url(' + itemData.images[0] + ')' }"
    (click)="imageEventTrigger()"
  ></div>
  <ng-template #noImage>
    <div class="image placeholder" [@imageAnimation]="animation"></div>
  </ng-template>
  <div class="content" [@priceAmountAnimation]="animation">
    <div id="content" class="title" [style.marginBottom.px]="10">
      <ng-container *ngIf="!showTitle">
        {{ itemData.name }}
      </ng-container>
    </div>
    <div class="spread">
      <div
        class="min-max"
        *ngIf="header.order.products[0].amount && !header.orderId"
      >
        <i
          *ngIf="
            currentUrl !==
            '/ecommerce/' +
              header.saleflow._id +
              '/provider-store/' +
              header.items[0]._id +
              '/payment-methods'
          "
          class="fas fa-minus icon"
          [style.marginRight.px]="17"
          (click)="minMax(false)"
        ></i>
        <div class="num">{{ header.order.products[0].amount }}</div>
        <i
          *ngIf="
            currentUrl !==
            '/ecommerce/' +
              header.saleflow._id +
              '/provider-store/' +
              header.items[0]._id +
              '/payment-methods'
          "
          class="fas fa-plus icon"
          [style.marginLeft.px]="15"
          (click)="minMax(true)"
        ></i>
      </div>
      <span class="card-price">
        <ng-container *ngIf="itemData.customizerId; else pricing">
          <ng-container *ngIf="itemData.total">
            ${{ itemData.total | number: "1.0-2" }}
          </ng-container>
        </ng-container>
        <ng-template #pricing>
          <ng-container *ngIf="itemData.pricing">
            ${{ itemData.pricing | number: "1.0-2" }}
          </ng-container>
          <ng-container *ngIf="itemData.price">
            ${{ itemData.price | number: "1.0-2" }}
          </ng-container>
        </ng-template>
      </span>
    </div>
  </div>
</div>