.container{
    min-height: 100vh;

}

.merchant-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.btn-click {
    all: unset;
    cursor: pointer;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    border-radius: 8px;

    &:hover, &:active {
        background-color: #b6b6b6;
    }
}

h1 {
    margin: 0;
}

form {
    padding: 24px;

    input {
        padding: 12px;
        border-radius: 8px;
        margin-right: 12px;
    }

    button {
        all: unset;
        padding: 12px 24px;
        background-color: #2874AD;
        color: white;
        border-radius: 8px;
        cursor: pointer;

        &:hover, &:active {
            background-color: #3085c7;
        }
    }
}