.container {
  height: 100%;
  scroll-behavior: smooth;

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 13px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 23px;
    margin: auto;
    max-width: 500px;
    z-index: 999;

    background-color: #181d17;

    .header-show-memories {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon-brain {
        width: 22px;
      }
    }

    .knowledge-slot-header {
      color: var(--Fondo-de-Pantallas, #f6f6f6);
      font-family: InterLight;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .knowledge-slot-name {
      color: var(--El-verdecito, #87cd9b);
      font-family: InterLight;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h2 {
      color: var(--Fondo-de-Pantallas, #f6f6f6);
      font-family: FiraSansRegular;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px;
      padding: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0.715px;
    }

    .close-button {
      cursor: pointer;
      color: #fff;
      font-family: FiraSansMedium;
      font-size: 19.005px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .message {
    position: fixed;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    bottom: 0;
    // padding: 16px;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
    background-color: #232921;
    
    .formulate-more {
      background-color: #181d17;
      padding: 1px 50px 1px;

      .title {
        color: #C4C5C3;
        text-align: center;
        font-family: InterRegular;
        font-size: 16px;
      }
    }

    .custom-input {
      display: flex;
      align-items: center;
      background-color: #87CD9B;
      border-radius: 4px;
      // width: 100%;
      margin: 21px 16px 19px;
      // height: 51px;

      .audio-freq {
        width: 27px;
        height: 24px;
      }
    }
    
    .custom-input textarea {
      flex: 1;
      height: 100%;
      padding: 14px 14px 10px;
      color: #181D17;
      background-color: transparent;
      font-family: InterRegular;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
      outline: none;
      overflow-y: hidden;
      resize: none;
      height: 51px;
      border-radius: 4px;
    }

    .textareaHeight {
      height: 51px !important;
    }
    
    .custom-input img {
      margin-right: 15px;
    }

    .container-send {
      background-color: #87CD9B;
      border-radius: 50%;
      margin-left: 8px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    textarea::placeholder {
      color: #181D17;
    }
  }

  footer {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    background-color: #7b7b7b;
    color: #181d17;
    text-align: center;
    font-family: InterBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: auto;

    &.save {
      background-color: #87cd9b;
    }
  }

  main {
    background-color: #181d17;
    min-height: 100%;
    padding: 0px 24px;
    padding-top: 1px;
    padding-bottom: 145px;

    &.inputPending {
      padding-bottom: 95px;
    }

    .container-memories {
      margin-top: 48px;
      padding-top: 5px;
      margin-bottom: 48px;

      .memory {
        padding: 17px 22px 29px;
        height: 132px;
        border-radius: 15px;
        border: 1px solid var(--Plomo, #7b7b7b);
        margin-top: 5px;
        margin-bottom: 7px;
  
        &:hover {
          cursor: pointer;
        }
  
        .name {
          text-transform: uppercase;
          color: var(--Fondo-de-Pantallas, #f6f6f6);
          font-family: InterRegular;
          font-size: 11px;
          font-style: normal;
          line-height: normal;
          margin-bottom: 16px;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
  
        .content {
          color: var(--Blanco, #fff);
          font-family: InterRegular;
          font-size: 16.107px;
          font-style: normal;
          line-height: normal;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .base-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    label {
      color: #F6F6F6;
      font-family: FiraSansMedium;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 128.023%; /* 15.363px */
      margin-top: 20px;
      margin-bottom: 18px;
      text-align: center;
      letter-spacing: 1.265px;
    }

    .container-file {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 17.5px 25px 26px;
      border-radius: 11px;
      border: 1px solid #7B7B7B;
    
      .title {
        color: #181D17;
        font-family: InterBold;
        font-size: 16px;
        font-style: normal;
        line-height: normal;

        color: #F6F6F6;
        font-family: InterRegular;
        font-size: 16px;
      }
    
      i {
        font-size: 20px;
        color: #87CD9B;
      }
    }

    .textarea-wrapper {
      position: relative;
      padding-top: 5px;

      .base-text {
        border-radius: 11px;
        border: 1px solid var(--Plomo, #7b7b7b);
        width: 100%;
        min-height: 314px;
        max-height: 467px;
        // resize: none;
        flex-shrink: 0;
        // background-color: #181d17;
        // color: #C4C5C3;
        font-family: FiraSansMedium;
        font-size: 17px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.935px;

        resize: none; /* Disable manual resizing */
        // overflow-y: hidden; /* Hide vertical scrollbar initially */
        // min-height: 50px; /* Set a minimum height */
        width: 100%; /* Optionally set a width */
        padding: 30px 20px 10px; /* Add padding for better appearance */
        box-sizing: border-box; /* Include padding and border in height calculation */

        transition: 1s ease-in-out linear;
        ::placeholder {
          opacity: 0.5;
        }
      }

      textarea::placeholder {
        color: #7B7B7B;
      }

      .see-more {
        color: #f6f6f6;
        font-family: InterSemiBold;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: #181d17;
        padding: 10px;
        border: none;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        left: 13px;

        &:hover {
          cursor: pointer;
          background-color: lighten($color: #181d17, $amount: 20);
        }
      }
      
      .shortcut {
        position: absolute;
        bottom: 20px;
        right: 15px;
        cursor: pointer;
      }

      .container-send {
        border-radius: 50%;
        margin-left: 8px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
  
        .icon {
          width: 24px;
          height: 24px;
        }
      }

      .settings-text {
        cursor: pointer;
        color: #F6F6F6;
        font-family: InterRegular;
        font-size: 16.1px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        bottom: 7px;
        left: 22px;
      }

      .container-icon {
        font-size: 25px;
        cursor: pointer;
        color: #C4C5C3;
        position: absolute;
        bottom: 43px;
        left: 22px;
        display: flex;
        align-items: center;

        .text {
          color: #7B7B7B;
          font-family: InterLight;
          font-size: 17px;
          font-style: normal;
          line-height: normal;
          margin: 0 0 0 10px;
        }
      }

      .save {
        color: #f6f6f6;
        font-family: InterSemiBold;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: #181d17;
        padding: 10px;
        border: none;
        border-radius: 10px;
        position: absolute;
        bottom: 32px;
        right: 22px;

        &:hover {
          cursor: pointer;
          background-color: lighten($color: #181d17, $amount: 20);
        }
      }
    }

    .show-text-error {
      color: #7B7B7B;
      font-family: InterRegular;
      font-size: 16.1px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0;
    }

    .show-save-memory-vector {
      color: #6FCF97;
      text-align: center;
      font-family: InterBold;
      font-size: 16px;
    }
  }

  .request-response-box {
    margin-top: 24px;
  }

  .question-box-wrapper {
    .content {
      display: flex;
      color: var(--Fondo-de-Pantallas, #f6f6f6);
      font-family: InterRegular;
      font-size: 16.107px;
      font-style: normal;
      line-height: normal;
    }

    .sender {
      color: var(--Plomito, #c4c5c3);
      font-family: InterRegular;
      font-size: 12px;
      font-style: normal;
      line-height: 128.023%; /* 15.363px */
      text-transform: uppercase;
      margin-top: 9px;
    }

    .question-box {
      margin-right: 15px;
      border-radius: 20px;
      opacity: 0.8;
      background-color: #403d3d;
      min-width: 70%;
      max-width: 100%;
      padding: 8px 19px;

      .dots {
        opacity: 0;
        animation: dots 1s infinite steps(3);
        display: flex;
      }
      
      @keyframes dots {
        33% {
          opacity: 1;
        }
        66% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }

    .question-box-input {
      margin-right: 15px;
      border-radius: 20px;
      opacity: 0.8;
      background-color: #403d3d;
      padding: 8px 19px;
      border: none;
      color: var(--Fondo-de-Pantallas, #f6f6f6);
      font-family: InterRegular;
      font-size: 16.107px;
      font-style: normal;
      line-height: normal;
      min-width: 70%;
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  .container-save-memory {
    padding: 0 100px 10px;
    margin-bottom: 100px;
    display: flex;

    .title-save-memory {
      text-align: center;
      color: #87CD9B;
      font-family: InterRegular;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .container-content {
    padding: 31px 33px 30px;
    background-color: #87CD9B;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .text {
      color: #181D17;
      text-align: center;
      font-family: FiraSansMedium;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.935px;
      margin: 0;
      margin-bottom: 30px;
    }
  
    .button {
      background-color: #435A4A;
      padding: 10px 30px;
      color: #C4C5C3;
      text-align: center;
      font-family: FiraSansBold;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.88px;
      border: none;
      border-radius: 14px;
    }
  }

  .response-box-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .response-box {
      border-radius: 20px;
      opacity: 0.8;
      background: #2874ad;
      width: 100%;
      flex-shrink: 0;
      padding: 8px 19px;
      margin-top: 10px;
      color: var(--Fondo-de-Pantallas, #f6f6f6);
      font-family: InterRegular;
    }

    .sender {
      color: var(--Plomito, #c4c5c3);
      font-family: InterRegular;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 128.023%; /* 15.363px */
      margin-top: 9px;
    }
  }

  .input-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    background-color: #403d3d;
    padding: 16px 18px;
    padding-right: 21px;
    display: flex;

    textarea {
      width: 344px;
      height: 63px;
      flex-shrink: 0;
      border-radius: 300px;
      border: 1px solid #7b7b7b;
      background: #d9d9d9;
      padding: 13px 26px;
      font-family: InterRegular;
      font-size: 16.107px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 89.37%;
      resize: none;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      margin-left: 6px;

      .notAllowed {
        filter: brightness(0.7);

        &:hover {
          cursor: not-allowed;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.editing {
  filter: invert(49%) sepia(10%) saturate(15%) hue-rotate(324deg)
    brightness(97%) contrast(91%);

  &.notAllowed {
    filter: invert(49%) sepia(10%) saturate(15%) hue-rotate(324deg)
      brightness(47%) contrast(91%);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.edit-or-confirm {
  &:hover {
    cursor: pointer;
  }
}
