<div class="container">
  <header>
    <div class="knowledge-slot-header">
      Memoria <span class="knowledge-slot-name">Sin nombre</span>
    </div>
    <div class="close-button">X</div>
  </header>

  <main
    [ngClass]="{
      inputPending: form.get('memory').value && !generatedQA?.response
    }"
  >
    <div class="base-text-wrapper">
      <label for="base-text">TEXTO BASE DE LA MEMORIA</label>

      <div class="textarea-wrapper" [formGroup]="form">
        <textarea
          name="base-text"
          formControlName="memory"
          id="base-text"
          [placeholder]="laiaPlaceholder"
          class="base-text"
        ></textarea>

        <button
          class="see-more"
          (click)="showMoreText()"
          *ngIf="showExtendButton && form.get('memory').value"
        >
          VER TODO
        </button>
      </div>

      <div class="request-response-box" *ngIf="generatedQA">
        <div class="question-box-wrapper">
          <div class="content" [formGroup]="questionForm">
            <div class="question-box" *ngIf="!editingQuestion">
              {{ generatedQA.question }}
            </div>

            <input
              *ngIf="editingQuestion"
              type="text"
              class="question-box-input"
              formControlName="question"
            />

            <img
              class="edit-or-confirm"
              (click)="
                !(editingQuestion && !questionForm.get('question').value)
                  ? editOrApplyQuestionChange()
                  : null
              "
              [ngClass]="{
                editing: true,
                notAllowed:
                  editingQuestion && !questionForm.get('question').value
              }"
              [src]="
                assetsFolder +
                (editingQuestion ? '/check-black.svg' : '/edit-comment.svg')
              "
              alt="edit question"
            />
          </div>

          <div class="sender" *ngIf="headerService.user">
            {{
              headerService.user.name ||
                headerService.user.email ||
                headerService.user.phone
            }}
          </div>

          <div class="sender" *ngIf="!headerService.user">DESCONOCIDO</div>
        </div>

        <div class="response-box-wrapper">
          <div class="content">
            <div class="response-box">{{ generatedQA.response }}</div>

            <div class="sender">LAIA</div>
          </div>
        </div>
      </div>

      <div id="question-response-bottom"></div>
    </div>
  </main>

  <footer *ngIf="!generatedQA?.response">Escribe en la Memoria de Laia</footer>
  <footer
    class="save"
    *ngIf="form.get('memory').value && generatedQA?.response"
    (click)="saveMemoryInKnowledgeBase()"
  >
    Salva la Memoria
  </footer>

  <section
    class="input-area"
    [formGroup]="inputQuestionForm"
    *ngIf="form.get('memory').value && !generatedQA?.response"
  >
    <textarea
      formControlName="question"
      placeholder="Escríbele. Laia te responderá de su memoria.."
    ></textarea>

    <button>
      <img
        [ngClass]="{
          notAllowed: !inputQuestionForm.get('question').value
        }"
        [src]="assetsFolder + '/sumit-icon-arrecho.png'"
        alt="edit question"
        (click)="inputQuestionForm.get('question').value ? testMemory() : null"
      />
    </button>
  </section>
</div>
