<div class="container">
  <div class="const-components">
      <a class="nav-item active">
          <img [src]="env + '/person.svg'" width="13" height="17" alt="Persona, ver mi perfil" class="icon">
          <span>Yo</span>
      </a>
      <!-- <a class="nav-item">
          <img [src]="env + '/store.svg'" width="19" height="16" alt="Tienda, haz click para ir a Mall" class="icon">
          <span>Mall</span>
      </a> -->
  </div>
  <button *ngIf="merchantData" class="merchant-info-btn" (click)="goToItems()">
      <h6>Mi tienda</h6>
      <span>{{items?.length}} item / ${{ordersTotal?.total | number}} in / {{users?.length}} compradores</span>
  </button>
  <a class="main-button" [routerLink]="['/auth/user-creator']">ADICIONA LA INFO DE CONTACTO</a>

  <app-user-actions
  [title]="'Opcional'"
  [content]="content"
  ></app-user-actions>

  <!-- <app-bubble-button
  [position]="'left'"
  [color]="'blue'"
  [icon]="'/printer.svg'"
  ></app-bubble-button> -->

  <app-bubble-button
  [position]="'right'"
  [color]="'blue'"
  [icon]="'/upload.svg'"
  (click)="openShare()"
  ></app-bubble-button>

  <!-- <app-bubble-button
  [position]="'mini'"
  [color]="'blue'"
  [icon]="'/pencil_line.svg'"
  ></app-bubble-button>
  
  <app-bubble-button
  [position]="'minir'"
  [color]="'blue'"
  ></app-bubble-button> -->

  <app-sticky-button
  [mode]="'disabled-fixed'"
  [size]="'small'"
  [text]="'TOCA DONDE PREFIERAS'"
  ></app-sticky-button>
</div>