.tags {
  width: 100%;
  display: block;
}
.tag-container {
  min-width: 81px;
  min-height: 81px;
  margin-top: 20px;
  max-width: 91px !important;
}
.circle {
  min-width: 81px;
  min-height: 81px;
  max-width: 81px;
  max-height: 81px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}
.tag-title {
  text-align: center;
  cursor: pointer;
}

swiper > .swiper.s-wrapper {
  height: auto;
}

.spacer {
  width: 20px !important;
}
