.tags {
  width: 100%;
  display: block;
}
.tag-container {
  max-width: 81px !important;
}
.circle {
  position: relative;
  min-width: 81px;
  min-height: 81px;
  max-width: 81px;
  max-height: 81px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .badge {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #b17608;
    color: #ffffff;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.tag-title {
  text-align: center;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  padding-top: 7px;
}

swiper > .swiper.s-wrapper {
  height: auto;
}

.spacer {
  width: 20px !important;
}
