.scroller {
    display: flex;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    & .item {
      margin-right: 8px;
      text-align: center;
      color: #c5c5cc;
      font-size: 21px;
      font-family: "SfProSemiBold";
      cursor: pointer;
      & .day-name {
        font-family: "SfProBold";
        font-size: 21px;
        color: #c6c6c8;
        cursor: pointer;
      }
    }
  }

  #monthScroller {
    margin-bottom: 30px;
  }