<div class="container">
  <app-helper-headerv2
    *ngIf="logged || !headerService.user"
    [mode]="'basic'"
    [returnAble]="true"
    (returnEvent)="back()"
    bgColor="#2874AD"
    [mainText]="{
      text: '',
      fontSize: '21px',
      fontFamily: 'SfProBold'
    }"
  ></app-helper-headerv2>

  <header class="header" *ngIf="!logged && headerService.user">
    <a> <i class="fas fa-chevron-left" (click)="back()"></i></a>

    <div class="right-area">
      <span class="header-text">{{
        headerService.user?.name
          ? headerService.user?.name
          : headerService.user?.phone
          ? headerService.user?.phone
          : headerService.user?.email
      }}</span>
      <img [src]="env + '/person.svg'" alt="Icono de una persona" />
    </div>
  </header>

  <main class="information">
    <section class="top">
      <h2 class="top-h">
        PRE-FACTURA EN <br />
        <span class="top-name">{{
          headerService.saleflow?.merchant?.name
        }}</span>
      </h2>
    </section>
    <section class="section">
      <div class="between">
        <h2 class="section-title">Articulos facturados:</h2>
        <button (click)="editOrder('item')">
          <img [src]="env + '/pencil.svg'" alt="Icono de un lápiz" />
        </button>
      </div>

      <div class="items-container">
        <div
          class="image-container"
          #elemt
          (mousedown)="startDragging($event, elemt)"
          (mouseup)="stopDragging()"
          (mouseleave)="stopDragging()"
          (mousemove)="moveEvent($event, elemt)"
        >
          <button
            *ngFor="let item of items"
            (click)="
              (item.image || item.images?.length) &&
                openImageModal(item.image || item.images[0])
            "
          >
            <div class="image">
              <img
                [src]="
                  item.image || item.images?.length
                    ? item.image || item.images[0]
                    : '/assets/images/noimage.png'
                "
                (error)="item.image = '/assets/images/noimage.png'"
                alt="item image"
                class="item-image"
              />
            </div>
          </button>
        </div>
      </div>
      <div class="items-container" style="margin-top: 4px">
        <div
          class="items-container space-between"
          style="padding: 0 32px; align-items: center"
        >
          <p class="total">Total</p>
          <p class="amount">RD $ {{ payment | number: "1.2-2" }}</p>
        </div>
      </div>
    </section>

    <section class="section" *ngIf="order?.products[0].deliveryLocation">
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">
          Lugar de
          {{ order?.products[0].reservation ? "la sesión" : " Entrega:" }}
        </h2>

        <button
          (click)="editOrder('address')"
          *ngIf="
            headerService.saleflow?.module?.delivery?.pickUpLocations?.length >
              1 || headerService.saleflow?.module?.delivery?.deliveryLocation
          "
        >
          <img [src]="env + '/pencil.svg'" alt="Icono de un lápiz" />
        </button>
      </div>

      <div class="items-container column">
        <p
          class="address-name"
          *ngIf="order?.products[0].deliveryLocation.nickName"
        >
          {{ order?.products[0].deliveryLocation.nickName }}
        </p>
        <p
          [ngClass]="{
            added: order?.products[0].deliveryLocation.nickName,
            'address-name': !order?.products[0].deliveryLocation.nickName
          }"
          *ngIf="order?.products[0].deliveryLocation.street"
        >
          {{
            order.products[0].deliveryLocation.houseNumber
              ? "#" + order.products[0].deliveryLocation.houseNumber + ", "
              : ""
          }}
          {{ order.products[0].deliveryLocation.street }},
          {{
            order.products[0].deliveryLocation.referencePoint
              ? order.products[0].deliveryLocation.referencePoint + ", "
              : ""
          }}
          {{ order.products[0].deliveryLocation.city }}, República Dominicana
        </p>
      </div>
    </section>

    <section class="section" *ngIf="order?.products[0].reservation && date">
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">Fecha de la sesión:</h2>

        <button (click)="editOrder('reservation')">
          <img [src]="env + '/pencil.svg'" alt="Icono de un lápiz" />
        </button>
      </div>

      <div class="items-container" style="padding: 10px 32px">
        <p class="amount">
          {{ date.weekday }}, {{ date.day }} de {{ date.month }}.
          {{ date.time }}
        </p>
      </div>
    </section>

    <section
      class="section"
      *ngIf="headerService.saleflow?.module?.post?.isActive"
      style="margin-top: 32px"
    >
      <div class="between">
        <h2 class="section-title">Mensaje de regalo:</h2>

        <button (click)="editOrder('message')">
          <img [src]="env + '/pencil.svg'" alt="Icono de un lápiz" />
        </button>
      </div>

      <div
        class="message-box"
        *ngIf="
          post?.message || post?.from || post?.targets[0].name;
          else noMessage
        "
      >
        <section *ngIf="post.message">
          <h3 class="sub">Mensaje a escribir:</h3>
          <p class="message-text inner">
            {{ post.message }}
          </p>
        </section>

        <section *ngIf="post.targets?.length && post.targets[0]?.name">
          <h3 class="sub">Para:</h3>
          <p class="message-text inner">{{ post.targets[0]?.name }}</p>
        </section>

        <section *ngIf="post.from">
          <h3 class="sub">De:</h3>
          <p class="message-text inner">{{ post.from }}</p>
        </section>
      </div>
      <ng-template #noMessage>
        <div class="items-container">
          <span class="address-name"> Sin mensaje de regalo </span>
        </div>
      </ng-template>
    </section>
    <section class="section" *ngIf="customizer" style="margin-top: 32px">
      <div class="between">
        <h2 class="section-title">Personalización:</h2>

        <button (click)="editOrder('customizer')">
          <img [src]="env + '/pencil.svg'" alt="Icono de un lápiz" />
        </button>
      </div>
      <div class="items-container" style="flex-direction: column">
        <table>
          <tr *ngFor="let detail of customizerDetails">
            <th>{{ detail.name }}</th>
            <td>{{ detail.value }}</td>
          </tr>
        </table>
        <div *ngIf="customizerPreview">
          <img
            class="customizer-preview"
            [src]="customizerPreview.base64"
            alt=""
          />
        </div>
      </div>
    </section>
  </main>

  <app-sticky-button
    [mode]="!disableButton ? 'double' : 'disabled-fixed'"
    [extra]="{
      bgColor: '#2874AD',
      return: true,
      returnCallback: back
    }"
    [color]="'#FFF'"
    [fontSize]="'17px'"
    [bgColor]="'#A1A1A1'"
    [text]="'CONFIRMAR' + (hasPaymentModule ? ' Y PASAR A PAGAR' : '')"
    [customLeftButtonStyles]="{
      width: '84.65%',
      'max-width': 'none',
      'border-left': '1px solid #FFFFFF',
      backgroundColor: '#2874ad',
      color: '#FFFFFF',
      cursor: 'pointer'
    }"
    [customRightButtonStyles]="{
      width: '1px',
      heigth: '1px',
      cursor: 'unset'
    }"
    [text2]="''"
    size="small"
    (left)="!disableButton && newCreatePreOrder()"
  ></app-sticky-button>
</div>
