<div class="container">
  <!-- <app-helper-headerv2
    *ngIf="!logged && !headerService.user"
    [mode]="'basic'"
    [returnAble]="true"
    (returnEvent)="editOrder('item')"
    [bgColor]="headerService.colorTheme"
    [mainText]="{
      text: '',
      fontSize: '21px',
      fontFamily: 'SfProBold'
    }"
  ></app-helper-headerv2> -->

  <header class="header">
    <div
      style="
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
      "
    >
      <a>
        <mat-icon
          class="go_back_arrow"
          style="font-size: 30px; margin-top: 0.1em"
          (click)="!webformPreview ? editOrder('item') : location.back()"
          >keyboard_arrow_left</mat-icon
        >
      </a>
      <p class="title" style="margin: 0 auto">
        Prefactura
        <!-- {{
          headerService.saleflow?.merchant?.name.length < 26
            ? headerService.saleflow?.merchant?.name
            : (headerService.saleflow?.merchant?.name.slice(0, 26) + ".." ||
                "Tienda" | titlecase)
        }} -->
      </p>
    </div>
  </header>

  <!-- <p class="msj">Excelente! Mira como va tu factura.</p> -->
  <button
    class="top confirmButton"
    [ngClass]="{mobile: !isMobile}"
    [ngStyle]="{
      backgroundColor:
        missingOrderData || !areWebformsValid ? '#b5b5b5' : '#87CD9B'
    }"
    [disabled]="missingOrderData || !areWebformsValid"
    (click)="createOrder()"
  >
    Continuar y pagar
  </button>
  <!-- <a
      class="bannerLink"
      *ngIf="headerService.saleflow.module?.post?.isActive"
      (click)="createOrEditMessage()"
      >{{
        !postsService.post
          ? "Incluir mensaje de regalo"
          : "Editar mensaje de regalo"
      }}</a
    > -->

  <main class="information">
    <section
      class="section"
      style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 6px"
      [ngClass]="{ 'to-fill': !areWebformsValid && !panelOpenState }"
    >
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          hideToggle
        >
          <mat-expansion-panel-header>
            <div
              class="between"
              style="display: flex; align-items: center; flex-wrap: wrap"
            >
              <div style="display: flex; align-items: center">
                <h2 class="inner-title responsive-flex" style="margin: 0">
                  {{ this.headerService?.order?.products.length }} Artículos
                  facturados
                </h2>
                <mat-icon class="expansion-arrow-icon"
                  >{{
                    panelOpenState
                      ? "keyboard_arrow_down"
                      : "keyboard_arrow_right"
                  }}
                </mat-icon>
              </div>
              <h2
                class="inner-title"
                style="
                  position: absolute;
                  right: 18px;
                  margin: 0;
                  font-family: InterBold;
                "
              >
                RD $ {{ payment | number : "1.2-2" }}
              </h2>
            </div>
          </mat-expansion-panel-header>
          <div class="flexBox containerFlexBox">
            <ng-container *ngFor="let item of items; index as i">
              <div
                class="flexBox ready"
                *ngIf="!item.ready && itemObjects[item._id]"
              >
                <ng-container
                  *ngTemplateOutlet="
                    itemInfoTemplate;
                    context: { item: item, i: i }
                  "
                ></ng-container>
              </div>
              <button
                class="items-container flexBox"
                *ngIf="item.ready && itemObjects[item._id]"
                (click)="item.ready = !item.ready"
              >
                <ng-container
                  *ngTemplateOutlet="
                    itemInfoTemplate;
                    context: { item: item, i: i }
                  "
                ></ng-container>
              </button>
              <ng-container
                *ngIf="
                  webformsByItem[item._id] && webformsByItem[item._id].webform
                "
              >
                <!-- <ul class="list-of-webform-questions">
                  <ng-container
                    *ngFor="
                      let question of webformsByItem[item._id].webform
                        .questions;
                      let i = index
                    "
                  >
                    RESPUESTA UNICA
                    <ng-container
                      *ngIf="
                        answersByQuestion[question._id] &&
                        ((question.answerLimit === 1 &&
                          ['multiple-text', 'multiple'].includes(
                            question.type
                          )) ||
                          (!['multiple-text', 'multiple'].includes(
                            question.type
                          ) &&
                            question.answerLimit === 0) ||
                          (!['multiple-text', 'multiple'].includes(
                            question.type
                          ) &&
                            question.answerLimit === 1))
                      "
                    >
                      RESPONSE HAS NO IMAGES
                      <ng-container
                        *ngIf="!answersByQuestion[question._id].isMedia"
                      >
                        <li
                          class="webform-question-container"
                          [ngClass]="{
                            required:
                              question.required &&
                              !answersByQuestion[question._id]?.response
                          }"
                          (click)="openWebform(item._id, i)"
                        >
                          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between'}">
                            <p style="text-transform: capitalize">
                              {{ question.value }}
                            </p>

                            <img
                              *ngIf="
                                question.required &&
                                !answersByQuestion[question._id]?.response
                              "
                              [src]="env + '/green-arrow-small.svg'"
                              class="small-arrow-green-2"
                            />
                          </div>
                          <div
                            class="question-text-response"
                            *ngIf="
                              answersByQuestion[question._id]?.response &&
                              !answersByQuestion[question._id]?.responseLabel &&
                              !answersByQuestion[question._id].isMedia
                            "
                          >
                            {{ answersByQuestion[question._id]?.response }}
                          </div>

                          <div
                            class="question-text-response"
                            *ngIf="
                              answersByQuestion[question._id]?.response &&
                              answersByQuestion[question._id]?.responseLabel &&
                              !answersByQuestion[question._id].isMedia
                            "
                          >
                            {{
                              question.type === "text" &&
                              question.answerTextType === "name"
                                ? answersByQuestion[question._id]?.response +
                                  " " +
                                  answersByQuestion[question._id]?.responseLabel
                                : answersByQuestion[question._id]?.responseLabel
                            }}
                          </div>
                        </li>
                      </ng-container>

                      RESPONSE HAS IMAGES AND USER HASNT ANSWERED
                      <li
                        class="webform-question-container"
                        [ngClass]="{
                          required:
                            question.required &&
                            !answersByQuestion[question._id]?.response
                        }"
                        (click)="openWebform(item._id, i)"
                        *ngIf="
                          !answersByQuestion[question._id]?.response &&
                          answersByQuestion[question._id].isMedia
                        "
                      >
                        <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between'}">
                          <p style="text-transform: capitalize">
                            {{ question.value }}
                          </p>

                          <img
                            *ngIf="
                              question.required &&
                              !answersByQuestion[question._id]?.response
                            "
                            [src]="env + '/green-arrow-small.svg'"
                            class="small-arrow-green-2"
                          />
                        </div>
                      </li>

                      RESPONSE HAS IMAGES AND USER HAS ALREADY ANSWERED
                      <div
                        class="question-media-response"
                        *ngIf="
                          (answersByQuestion[question._id]?.response ||
                            answersByQuestion[question._id]?.responseLabel) &&
                          answersByQuestion[question._id].isMedia &&
                          !this.webformsByItem[item._id].opened
                        "
                      >
                        <app-closed-question-card
                          [id]="'multiple-choices-single-selection'"
                          [shadows]="false"
                          [labelStyles]="{
                            fontFamily: 'SfProRegular',
                            color: '#000',
                            fontSize: '15px'
                          }"
                          [containerStyles]="{ padding: '15px 18px' }"
                          [question]="question"
                          [multiple]="
                            !question.answerLimit || question.answerLimit > 1
                          "
                          [showTitle]="true"
                          [isMediaSelection]="question.answerDefault[0].isMedia"
                          [required]="question?.required"
                          (onSelector)="
                            selectOption(question, item, true, $event)
                          "
                        >
                        </app-closed-question-card>
                      </div>
                    </ng-container>

                    RESPUESTA MULTIPLE
                    <ng-container
                      *ngIf="
                        answersByQuestion[question._id] &&
                        (question.answerLimit === 0 ||
                          question.answerLimit > 1) &&
                        ['multiple-text', 'multiple'].includes(question.type)
                      "
                    >
                      RESPONSE HAS NO IMAGES
                      <ng-container *ngIf="answersByQuestion[question._id]">
                        <li
                          *ngIf="
                            !answersByQuestion[question._id]
                              ?.multipleResponses &&
                            !this.webformsByItem[item._id].opened
                          "
                          class="webform-question-container"
                          [ngClass]="{
                            required:
                              question.required &&
                              !answersByQuestion[question._id]?.response
                          }"
                          (click)="openWebform(item._id, i)"
                        >
                          <div [ngStyle]="{ display: 'flex', justifyContent: 'space-between'}">
                            <p style="text-transform: capitalize">
                              {{ question.value }}
                            </p>

                            <img
                              *ngIf="
                                question.required &&
                                !answersByQuestion[question._id]?.response
                              "
                              [src]="env + '/green-arrow-small.svg'"
                              class="small-arrow-green-2"
                            />
                          </div>
                        </li>

                        <div
                          class="question-media-response"
                          *ngIf="
                            answersByQuestion[question._id]
                              ?.multipleResponses &&
                            !this.webformsByItem[item._id].opened
                          "
                        >
                          <app-closed-question-card
                            [id]="'multiple-choices-multiple-selection'"
                            [shadows]="false"
                            [labelStyles]="{
                              fontFamily: 'SfProRegular',
                              color: '#000',
                              fontSize: '15px'
                            }"
                            [containerStyles]="{ padding: '15px 18px' }"
                            [multiple]="
                              !question.answerLimit || question.answerLimit > 1
                            "
                            [isMediaSelection]="
                              question.answerDefault[0].isMedia
                            "
                            [showTitle]="true"
                            [question]="question"
                            [required]="question?.required"
                            (onSelector)="
                              selectOption(question, item, true, $event)
                            "
                          >
                          </app-closed-question-card>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ul> -->
              </ng-container>

              <!-- ÁREA INFERIOR DE LA SECCIÓN DE LOS ARTÍCULOS -->
            </ng-container>
          </div>

          <div style="margin: 2em 0">
            <ng-container *ngFor="let item of items; index as i">
              <ng-container *ngIf="webformsByItem[item._id]">
                <p class="link-title" (click)="openWebform(item._id, 0)">
                  Respuestas de
                  {{ item?.name ? item?.name : "Artículo sin nombre" }}
                </p>
              </ng-container>
            </ng-container>
          </div>

          <div class="bottom-section" *ngIf="deliveryZone">
            <p class="inner-title">Zona de entrega</p>
            <p class="inner-title">
              RD $
              {{
                deliveryZone?.amount
                  ? deliveryZone?.amount
                  : (0 | number : "1.2-2")
              }}
            </p>
          </div>

          <div class="bottom-section">
            <p class="inner-title bold">Monto total</p>
            <p class="inner-title bold">
              RD $
              {{
                deliveryZone?.amount
                  ? payment + deliveryZone?.amount
                  : (payment | number : "1.2")
              }}
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <img
        [src]="env + '/green-arrow-small.svg'"
        class="small-arrow-green"
        *ngIf="!areWebformsValid && !panelOpenState"
      />

      <!-- <div class="items-container ready" style="margin-top: 8px">
        <div
          class="items-container space-between"
          style="padding: 0 32px; align-items: center"
        >
          <p class="total">Total</p>
          <p class="amount">RD $ {{ payment | number : "1.2-2" }}</p>
        </div>
      </div> -->
    </section>

    <section class="section" *ngIf="postsService?.appliesMessage">
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">Mensaje de regalo</h2>
      </div>

      <ng-container *ngIf="postsService.post">
        <button class="items-container ready" (click)="createOrEditMessage()">
          <p class="address-name filled">
            {{
              postsService.post?.message
                ? 'Contenido privado'
                : postsService.post?.title
                ? 'Contenido privado'
                : postsService.post?.to
                ? 'Contenido privado'
                : postsService.post?.from
                ? 'Contenido privado'
                : postsService.post?.envelopeText
                ? 'Contenido privado'
                : "..."
            }}
            <!-- {{ postsService.post?.message
                ? postsService.post?.message
                : postsService.post?.title
                ? postsService.post?.title
                : postsService.post?.to
                ? "Para: " + postsService.post?.to
                : postsService.post?.from
                ? "De parte de: " + postsService.post?.from
                : postsService.post?.envelopeText
                ? postsService.post?.envelopeText
                : "..." 
            }} -->
          </p>
        </button>
      </ng-container>

      <button
        class="items-container column pointer"
        [ngClass]="{
          'to-fill': missingOrderData
        }"
        *ngIf="!postsService.post"
        (click)="createOrEditMessage()"
      >
        <p class="address-name">Agrega una tarjeta dedicatoria (opcional)</p>
      </button>
    </section>
    <p class="bottom-label" *ngIf="postsService?.appliesMessage">
      {{ headerService.saleflow.merchant.name }} imprimirá un QR y no tiene
      acceso al contenido.
    </p>

    <div class="section" *ngIf="headerService.order?.receiverData">
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">Recipiente</h2>
      </div>

      <button
        class="items-container ready"
        [routerLink]="[
          '/ecommerce',
          headerService.saleflow.merchant.slug,
          'receiver-form'
        ]"
        [queryParams]="{ flow: 'checkout' }"
        style="padding: 17px"
      >
        <ul class="receiverData">
          <li>Lo recibirá: {{ headerService.order?.receiverData.receiver }}</li>
          <li *ngIf="headerService.order?.receiverData.receiverPhoneNumber">
            Telefono: {{ headerService.order?.receiverData.receiverPhoneNumber }}
          </li>
          <li *ngIf="headerService.order?.receiverData.sender">
            Envía: {{ headerService.order?.receiverData.sender }}
          </li>
        </ul>
      </button>
    </div>

    <section
      class="section"
      *ngIf="headerService.saleflow?.module?.delivery?.isActive"
    >
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">
          Lugar de
          {{
            headerService.saleflow.merchant._id === "62ed55eecd8fc9d59c8d7b6b"
              ? " la sesión:"
              : " Entrega:"
          }}
        </h2>
      </div>

      <!-- [ngClass]="{
        'to-fill': missingOrderData || !areWebformsValid
      }" -->

      <ng-container *ngIf="deliveryLocation">
        <button
          *ngIf="
            headerService.saleflow?.module?.delivery?.pickUpLocations?.length >
              1 || headerService.saleflow?.module?.delivery?.deliveryLocation;
            else deliveryInfo
          "
          class="items-container ready"
          [ngClass]="{
            'to-fill': missingOrderData
          }"
          (click)="editOrder('address')"
        >
          <ng-container *ngTemplateOutlet="deliveryTemplate"></ng-container>
        </button>
        <ng-template #deliveryInfo>
          <div
            class="items-container ready"
            [ngClass]="{
              'to-fill': missingOrderData
            }"
          >
            <ng-container *ngTemplateOutlet="deliveryTemplate"></ng-container>
          </div>
        </ng-template>
      </ng-container>
      <button
        class="items-container column pointer to-fill"
        *ngIf="!deliveryLocation"
        (click)="editOrder('address')"
      >
        <p class="address-name">Selecciona una dirección...</p>
        <img [src]="env + '/green-arrow-small.svg'" class="small-arrow-green" />
      </button>
    </section>

    <section
      class="section"
      *ngIf="hasDeliveryZone && deliveryLocation && deliveryLocation.street"
    >
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">Zona de entrega</h2>
      </div>

      <ng-container *ngIf="deliveryZone">
        <button class="items-container ready" (click)="openDeliveryZones()">
          <p class="address-name filled">
            {{ deliveryZone?.zona }}
          </p>
        </button>
      </ng-container>

      <button
        class="items-container column pointer to-fill"
        *ngIf="!deliveryZone"
        (click)="openDeliveryZones()"
      >
        <p class="address-name">Selecciona una zona de entrega</p>
        <img [src]="env + '/green-arrow-small.svg'" class="small-arrow-green" />
      </button>
    </section>

    <section
      class="section"
      *ngIf="postsService.post && postsService.post?.receiver"
    >
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">Recipiente</h2>
      </div>

      <ng-container>
        <button class="items-container ready" (click)="editReceiver()">
          <p class="address-name filled">
            {{
              postsService.post?.receiver === "me"
                ? "Yo"
                : postsService.post?.receiver === "gifted"
                ? "La persona del arreglo"
                : postsService.post?.receiver === "unkwown"
                ? "Un desconocido"
                : postsService.post?.receiver === "known"
                ? "Un conocido"
                : "..."
            }}
            <br *ngIf="postsService.post?.provisionalReceiver" />{{
              postsService.post?.provisionalReceiver
                ? "Nombre: " + postsService.post?.provisionalReceiver
                : ""
            }}
            <br *ngIf="postsService.post?.provisionalReceiverContact" />{{
              postsService.post?.provisionalReceiverContact
                ? "Contacto: " + postsService.post?.provisionalReceiver
                : ""
            }}
            <br *ngIf="postsService.post?.isAnonymous" />{{
              postsService.post?.isAnonymous === true
                ? "Anonimato: sí"
                : "Anonimato: no"
            }}
          </p>
        </button>
      </ng-container>

      <button
        class="items-container column pointer"
        [ngClass]="{
          'to-fill': missingOrderData
        }"
        *ngIf="!postsService.post?.receiver"
        (click)="editReceiver()"
      >
        <p class="address-name">¿Quién lo recibirá? (opcional)</p>
      </button>
    </section>

    <section
      class="section"
      *ngIf="
        headerService.saleflow?.module?.appointment?.isActive &&
        headerService.saleflow?.module?.appointment?.calendar?._id
      "
      (click)="editOrder('reservation')"
    >
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">
          Tiempo de
          {{
            headerService.saleflow._id === "62ed5ad9bd70dde4db98b924"
              ? "la sesión"
              : "entrega"
          }}:
        </h2>
      </div>

      <button
        class="items-container ready"
        [ngClass]="{
          'to-fill': missingOrderData
        }"
        *ngIf="reservation && date"
      >
        <ng-container *ngTemplateOutlet="reservationTemplate"></ng-container>
      </button>

      <button
        class="items-container column pointer to-fill"
        *ngIf="!reservation && !date"
        (click)="editOrder('reservation')"
      >
        <p class="address-name">Haz una reservación...</p>
        <img [src]="env + '/green-arrow-small.svg'" class="small-arrow-green" />
      </button>
    </section>

    <!--
      <section class="section">
        <div class="between" style="margin-top: 32px">
          <h2 class="section-title">Lo recibirá:</h2>
        </div>
        <button
          class="items-container column pointer green"
          (click)="goToReceiver()"
        >
          <p class="address-name">¿Quien lo recibirá?</p>
        </button>
      </section>
    -->

    <br /><br /><br /><br /><br /><br />

    <!-- <section
      class="section"
      *ngIf="headerService.saleflow?.module?.post?.isActive"
      style="margin-top: 32px"
    >
      <div class="between">
        <h2 class="section-title">Mensaje de regalo:</h2>
      </div>

      <ng-container *ngIf="post">
        <div
          class="items-container"
          *ngIf="
            post.slides?.length &&
            (postSlideImages?.length ||
              postSlideVideos?.length ||
              postSlideAudio?.length)
          "
          style="margin-bottom: 8px"
        >
          <div
            class="image-container"
            #elemt
            (mousedown)="startDragging($event, elemt)"
            (mouseup)="stopDragging()"
            (mouseleave)="stopDragging()"
            (mousemove)="moveEvent($event, elemt)"
          >
            <button
              *ngFor="let image of postSlideImages"
              (click)="openImageModal(image)"
            >
              <div class="image">
                <img
                  [src]="image || '/assets/images/noimage.png'"
                  alt="item image"
                  class="item-image"
                />
              </div>
            </button>
            <button
              *ngFor="let video of postSlideVideos"
              class="video"
              (click)="fullscreenDialog('video', video)"
            >
              <video
                width="86px"
                height="74px"
                class="item-video"
                autoplay
                [muted]="'muted'"
                #videoElem
              >
                <source [src]="video" />
                Lo sentimos, no se puede mostrar el video
              </video>
            </button>

            <button
              class="video"
              *ngFor="let audio of postSlideAudio"
              (click)="fullscreenDialog('audio', audio)"
            >
              <div class="audio">
                <audio class="item-audio" controls="controls">
                  <source [src]="audio" />
                  Lo sentimos, no se puede reproducir el audio
                </audio>
              </div>
            </button>
          </div>
        </div>
        <button
          class="message-box ready"
          (click)="editOrder('message')"
          *ngIf="
            post?.message ||
              post?.from ||
              (post?.targets?.length && post.targets[0].name);
            else noMessage
          "
        >
          <section *ngIf="post.message">
            <h3 class="sub">Mensaje a escribir:</h3>
            <p class="message-text inner">
              {{ post.message }}
            </p>
          </section>

          <section *ngIf="post.targets?.length && post.targets[0]?.name">
            <h3 class="sub">Título del sobre:</h3>
            <p class="message-text inner">{{ post.targets[0]?.name }}</p>
          </section>

          <section *ngIf="post.from">
            <h3 class="sub">De:</h3>
            <p class="message-text inner">{{ post.from }}</p>
          </section>
        </button>
        <ng-template #noMessage>
          <button
            class="items-container ready"
            (click)="editOrder('message')"
            *ngIf="
              !post.slides?.length ||
              (!postSlideImages?.length &&
                !postSlideVideos?.length &&
                !postSlideAudio?.length)
            "
          >
            <span class="address-name"> Sin mensaje de regalo </span>
          </button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!post">
        <app-answer-selector
          [options]="options"
          [indicator]="true"
          (onSelector)="selectSelect($event)"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </ng-container>
    </section> -->
  </main>

  <!-- <app-sticky-button
    mode="fixed"
    color="#FFFFFF"
    fontSize="17px"
    [bgColor]="headerService.colorTheme"
    text="VER MAS ARTICULOS"
    size="small"
    (click)="editOrder('item')"
  ></app-sticky-button> -->
</div>

<app-dialog-flow
  [dialogFlowId]="'flow1'"
  [status]="openedDialogFlow ? 'OPEN' : 'CLOSE'"
  [dialogs]="dialogs"
  [allowSlideNext]="false"
  [signalBeforeClosing]="true"
  (saveConfigRef)="postsService.swiperConfig = $event"
  (moveToDialogRef)="dialogFlowFunctions.moveToDialogByIndex = $event"
  (beforeClosingSignal)="deletePost()"
  (openingDialogSignal)="executeProcessesBeforeOpening()"
></app-dialog-flow>

<ng-template #itemInfoTemplate let-item="item" let-i="i">
  <div class="productData">
    <button (click)="goToArticleDetail(item._id)">
      <div
        class="image"
        *ngIf="
          (!item.images.length || !item.images) ||
          (item.images?.length && !urlIsVideo(item.images[0].value))
        "
      >
        <div
          class="image-for-item"
          [ngStyle]="{
            backgroundImage: item.images?.length
              ? 'url(' +
                item.images[0].value +
                '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
              : 'url(/assets/images/noimage.png)',
            backgroundPosition: 'center',
            backgroundSize: 'contain',
            backgroundRepeat: 'no-repeat'
          }"
        ></div>
      </div>
      <div
        class="video-wrapper videoThumbnail"
        *ngIf="item.images?.length && urlIsVideo(item.images[0].value)"
      >
        <img
          src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/playIcon.svg"
          alt="play"
          class="playVideoIcon"
          style="padding: 1rem !important; z-index: 99"
        />

        <video
          [src]="item.images[0].value"
          [id]="'media' + item._id"
          class="video"
          [muted]="true"
        ></video>
      </div>
    </button>
    <!-- <div class="rightSection" *ngIf="itemObjects[item._id]">
      <div class="title">
        <p>
          <span *ngIf="item.ready && item.name">
            {{ itemObjects[item._id].amount }}x </span
          >{{ !item.ready ? "Cantidad" : item.name }}

          <span style="margin-right: 8px" *ngIf="item.ready && !item.name">
            {{ itemObjects[item._id].amount }}x
          </span>
        </p>
        <p>
          ${{ item.pricing * itemObjects[item._id].amount | number : "1.2-2" }}
        </p>
      </div>
      <div class="rightBottom">
        <ng-container *ngIf="!item.ready">
          <div class="countBox">
            <button
              class="cube sign"
              (click)="changeAmount(item._id, 'subtract')"
            >
              -
            </button>
            <div class="cube number">
              {{ itemObjects[item._id].amount }}
            </div>
            <button class="cube sign" (click)="changeAmount(item._id, 'add')">
              +
            </button>
          </div>
          <button class="iconBtn" (click)="deleteProduct(i)">
            <i class="far fa-trash-alt"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="item.ready">
          <p class="description">
            {{ item.description }}
          </p>
        </ng-container>
      </div>
    </div> -->
  </div>
</ng-template>

<ng-template #deliveryTemplate>
  <p class="address-name filled" *ngIf="deliveryLocation.nickName">
    {{ deliveryLocation.nickName }}
  </p>
  <p
    [ngClass]="{
      added: deliveryLocation.nickName,
      'address-name': !deliveryLocation.nickName,
      filled: deliveryLocation.street
    }"
    *ngIf="deliveryLocation.street"
  >
    {{
      deliveryLocation.houseNumber
        ? "#" + deliveryLocation.houseNumber + ", "
        : ""
    }}
    {{ deliveryLocation.street }},
    {{
      deliveryLocation.referencePoint
        ? deliveryLocation.referencePoint + ", "
        : ""
    }}
    {{ deliveryLocation.city }}, República Dominicana
  </p>
</ng-template>

<ng-template #reservationTemplate>
  <p class="amount filled">
    {{ date.weekday }}, {{ date.day }} de {{ date.month }} del {{ date.year }}.
    {{ date.time }}
  </p>
</ng-template>
