h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}
button {
   all: unset;
}
button,
a {
   cursor: pointer;
}
.container {
   width: 100%;
   min-height: 100vh;

   .information {
      width: 100%;
      margin-top: 40px;
      padding: 0 24px 32px;

      .top{
         margin: 33px 0 35px;
         display: flex;
         justify-content: center;
         align-items: center;

         .top-h{
           font-family: 'RobotoMedium'; 
           font-size: 0.875rem;
           color: #7B7B7B;
           font-weight: 500;
           text-align: center;

           .top-name{
            font-family: 'SfProBold'; 
            font-size: 1.25rem;
            color: #7B7B7B;
           }
         }
      }

      .section {
         width: 100%;

         .between{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .section-title {
               font-family: "RobotoMedium";
               font-size: 19px;
               color: #7b7b7b;
               margin: 0;
               margin-bottom: 10px;
               font-weight: normal;
            }

            img{
               width: 15px;
               height: 15px;
               cursor: pointer;
            }
         }

         .items-container {
            background-color: #82f18d;
            padding: 10px 12px;
            border-radius: 6px;

            .image-container {
               display: flex;
               overflow-x: scroll;
               column-gap: 8px;

               .image {
                  position: relative;

                  .item-image {
                     width: 86px;
                     height: 74px;
                     background-color: #e9e371;
                     border-radius: 6px;
                     -webkit-user-drag: none;
                     object-fit: cover;
                  }

                  &:after {
                     content: "\A";
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     top: 0;
                     left: 0;
                     background: rgba(0, 0, 0, 0.3);
                     opacity: 0;
                     transition: all 0.5s;
                     -webkit-transition: all 0.5s;
                     border-radius: 6px;
                  }

                  &:hover:after {
                     opacity: 1;
                  }
               }
            }

            .total {
               font-family: "SfProBold";
               font-size: 13px;
               color: #000000;
            }

            .amount {
               font-family: "SfProBold";
               font-size: 17px;
               color: #174b72;
               text-transform: capitalize;
            }

            .address-name {
               font-family: "RobotoMedium";
               font-size: 19px;
               color: #174b72;
               margin: 0 8px 0;
				word-break: break-word;
            }

            .added {
               font-family: "SfProRegular";
               font-size: 14px;
               color: #174b72;
               margin: 3px 8px 0;
            }
         }

         .text-reservation {
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: "RobotoMedium";
            font-size: 19px;
            color: #174b72;
            margin: 0;
            background-color: #82f18d;
            padding: 12px 18px;
            border-radius: 6px;
         }

         .inner {
            justify-content: flex-start;
            padding: 0;
            margin: 0;
         }
         .message-box {
            border-radius: 6px;
            background-color: #82f18d;
            flex-direction: column;
            padding: 24px;

            > :not(:first-child) {
               margin-top: 32px;
            }
         }

         .message-text {
            font-family: "RobotoMedium";
            font-size: 19px;
            color: #174b72;
            margin: 0;
				word-break: break-word;
         }

         .column {
            flex-direction: column;
         }

      }
   }
}

.sub {
   font-family: "RobotoLight";
   font-size: 19px;
   color: #000000;
   margin: 0 0 8px 0;
   font-weight: 100;
}

.box-shadowing {
   width: 100%;
   height: auto;
   box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 10%);
}

.space-between {
   display: flex;
   justify-content: space-between;
}

table {
   width: 100%;
   margin-bottom: 8px;

   th,
   td {
      border: 1px solid black;
      text-align: left;
      padding: 5px;
   }
}
.customizer-preview {
   width: 100%;
}
