<div class="container">
  <app-helper-headerv2
    *ngIf="!logged && !headerService.user"
    [mode]="'basic'"
    [returnAble]="true"
    (returnEvent)="back()"
    [bgColor]="headerService.colorTheme"
    [mainText]="{
      text: '',
      fontSize: '21px',
      fontFamily: 'SfProBold'
    }"
  ></app-helper-headerv2>

  <header
    class="header"
    *ngIf="logged || headerService.user"
    [ngStyle]="{ backgroundColor: headerService.colorTheme }"
  >
    <a> <i class="far fa-angle-double-up" (click)="back()"></i></a>

    <img [src]="env + '/carrito_blanco.svg'" alt="Icono de un carrito" />

    <div class="right-area">
      <span class="header-text">{{
        currentUser?.name || currentUser?.phone || currentUser?.email
      }}</span>
      <img [src]="env + '/person.svg'" alt="Icono de una persona" />
    </div>
  </header>

  <main class="information">
    <section class="top">
      <h2 class="top-h">
        PRE-FACTURA EN <br />
        <span class="top-name">{{
          headerService.saleflow?.merchant?.name
        }}</span>
      </h2>
    </section>
    <section class="section">
      <div class="between">
        <h2 class="section-title">Articulos facturados:</h2>
        <button (click)="editOrder('item')">
          <img
            [src]="env + '/pencil.svg'"
            class="edit-image"
            alt="Icono de un lápiz"
          />
        </button>
      </div>

      <div class="items-container">
        <div
          class="image-container"
          #elemt
          (mousedown)="startDragging($event, elemt)"
          (mouseup)="stopDragging()"
          (mouseleave)="stopDragging()"
          (mousemove)="moveEvent($event, elemt)"
        >
          <button
            *ngFor="let item of items"
            (click)="
              (item.image || item.images?.length) &&
                openImageModal(item.image || item.images[0])
            "
          >
            <div class="image">
              <img
                [src]="
                  item.image || item.images?.length
                    ? item.image || item.images[0]
                    : '/assets/images/noimage.png'
                "
                (error)="item.image = '/assets/images/noimage.png'"
                alt="item image"
                class="item-image"
              />
            </div>
          </button>
        </div>
      </div>
      <div class="items-container" style="margin-top: 4px">
        <div
          class="items-container space-between"
          style="padding: 0 32px; align-items: center"
        >
          <p class="total">Total</p>
          <p class="amount">RD $ {{ payment | number : "1.2-2" }}</p>
        </div>
      </div>
    </section>

    <section
      class="section"
      *ngIf="headerService.saleflow?.module?.delivery?.isActive"
    >
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">
          Lugar de
          {{ reservation ? "la sesión" : " Entrega:" }}
        </h2>

        <button
          (click)="editOrder('address')"
          *ngIf="
            headerService.saleflow?.module?.delivery?.pickUpLocations?.length >
              1 || headerService.saleflow?.module?.delivery?.deliveryLocation
          "
        >
          <img
            [src]="env + '/pencil.svg'"
            class="edit-image"
            alt="Icono de un lápiz"
          />
        </button>
      </div>

      <div class="items-container column" *ngIf="deliveryLocation">
        <p class="address-name" *ngIf="deliveryLocation.nickName">
          {{ deliveryLocation.nickName }}
        </p>
        <p
          [ngClass]="{
            added: deliveryLocation.nickName,
            'address-name': !deliveryLocation.nickName
          }"
          *ngIf="deliveryLocation.street"
        >
          {{
            deliveryLocation.houseNumber
              ? "#" + deliveryLocation.houseNumber + ", "
              : ""
          }}
          {{ deliveryLocation.street }},
          {{
            deliveryLocation.referencePoint
              ? deliveryLocation.referencePoint + ", "
              : ""
          }}
          {{ deliveryLocation.city }}, República Dominicana
        </p>
      </div>
      <button
        class="items-container column pointer green"
        *ngIf="!deliveryLocation"
        (click)="editOrder('address')"
      >
        <p class="address-name">Selecciona una dirección...</p>
      </button>
    </section>

    <section
      class="section"
      *ngIf="
        headerService.saleflow?.module?.appointment?.isActive &&
        headerService.saleflow?.module?.appointment?.calendar?._id
      "
    >
      <div class="between" style="margin-top: 32px">
        <h2 class="section-title">Fecha de la sesión:</h2>

        <button (click)="editOrder('reservation')">
          <img
            [src]="env + '/pencil.svg'"
            class="edit-image"
            alt="Icono de un lápiz"
          />
        </button>
      </div>

      <div
        class="items-container"
        style="padding: 10px 32px"
        *ngIf="reservation && date"
      >
        <p class="amount">
          {{ date.weekday }}, {{ date.day }} de {{ date.month }}.
          {{ date.time }}
        </p>
      </div>
      <button
        class="items-container column pointer green"
        *ngIf="!reservation && !date"
        (click)="editOrder('reservation')"
      >
        <p class="address-name">Haz una reservación...</p>
      </button>
    </section>

    <section
      class="section"
      *ngIf="headerService.saleflow?.module?.post?.isActive"
      style="margin-top: 32px"
    >
      <div class="between">
        <h2 class="section-title">Mensaje de regalo:</h2>

        <button (click)="editOrder('message')" *ngIf="post">
          <img
            [src]="env + '/pencil.svg'"
            class="edit-image"
            alt="Icono de un lápiz"
          />
        </button>
      </div>

      <ng-container *ngIf="post">
        <div
          class="items-container"
          *ngIf="
            post.slides?.length &&
            (postSlideImages?.length ||
              postSlideVideos?.length ||
              postSlideAudio?.length)
          "
          style="margin-bottom: 8px"
        >
          <div
            class="image-container"
            #elemt
            (mousedown)="startDragging($event, elemt)"
            (mouseup)="stopDragging()"
            (mouseleave)="stopDragging()"
            (mousemove)="moveEvent($event, elemt)"
          >
            <button
              *ngFor="let image of postSlideImages"
              (click)="openImageModal(image)"
            >
              <div class="image">
                <img
                  [src]="image || '/assets/images/noimage.png'"
                  alt="item image"
                  class="item-image"
                />
              </div>
            </button>
            <button
              *ngFor="let video of postSlideVideos"
              class="video"
              (click)="fullscreenDialog('video', video)"
            >
              <video
                width="86px"
                height="74px"
                class="item-video"
                autoplay
                [muted]="'muted'"
                #videoElem
              >
                <source [src]="video" />
                Lo sentimos, no se puede mostrar el video
              </video>
            </button>

            <button
              class="video"
              *ngFor="let audio of postSlideAudio"
              (click)="fullscreenDialog('audio', audio)"
            >
              <div class="audio">
                <audio class="item-audio" controls="controls">
                  <source [src]="audio" />
                  Lo sentimos, no se puede reproducir el audio
                </audio>
              </div>
            </button>
          </div>
        </div>
        <div
          class="message-box"
          *ngIf="
            post?.message ||
              post?.from ||
              (post?.targets?.length && post.targets[0].name);
            else noMessage
          "
        >
          <section *ngIf="post.message">
            <h3 class="sub">Mensaje a escribir:</h3>
            <p class="message-text inner">
              {{ post.message }}
            </p>
          </section>

          <section *ngIf="post.targets?.length && post.targets[0]?.name">
            <h3 class="sub">Título del sobre:</h3>
            <p class="message-text inner">{{ post.targets[0]?.name }}</p>
          </section>

          <section *ngIf="post.from">
            <h3 class="sub">De:</h3>
            <p class="message-text inner">{{ post.from }}</p>
          </section>
        </div>
        <ng-template #noMessage>
          <div
            class="items-container"
            *ngIf="
              !post.slides?.length ||
              (!postSlideImages?.length &&
                !postSlideVideos?.length &&
                !postSlideAudio?.length)
            "
          >
            <span class="address-name"> Sin mensaje de regalo </span>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!post">
        <app-answer-selector
          [options]="options"
          [indicator]="true"
          (onSelector)="selectSelect($event)"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </ng-container>
    </section>
    <section class="section" *ngIf="customizer" style="margin-top: 32px">
      <div class="between">
        <h2 class="section-title">Personalización:</h2>

        <button (click)="editOrder('customizer')">
          <img
            [src]="env + '/pencil.svg'"
            class="edit-image"
            alt="Icono de un lápiz"
          />
        </button>
      </div>
      <div class="items-container" style="flex-direction: column">
        <table>
          <tr *ngFor="let detail of customizerDetails">
            <th>{{ detail.name }}</th>
            <td>{{ detail.value }}</td>
          </tr>
        </table>
        <div *ngIf="customizerPreview">
          <img
            class="customizer-preview"
            [src]="customizerPreview.base64"
            alt=""
          />
        </div>
      </div>
    </section>
  </main>

  <app-sticky-button
    [mode]="
      !disableButton &&
      ((headerService.saleflow.module?.post && post) ||
        !headerService.saleflow.module?.post)
        ? 'double'
        : 'disabled-fixed'
    "
    [extra]="{
      bgColor: headerService.colorTheme,
      return: true,
      returnCallback: back
    }"
    [color]="'#FFF'"
    [fontSize]="'17px'"
    [bgColor]="'#A1A1A1'"
    [text]="missingOrderData ? 'LLEVAME A LLENAR LO INCOMPLETO' : 'CONFIRMAR'"
    [customLeftButtonStyles]="{
      width: '84.65%',
      'max-width': 'none',
      'border-left': '1px solid #FFFFFF',
      backgroundColor: headerService.colorTheme,
      color: '#FFFFFF',
      cursor: 'pointer'
    }"
    [customRightButtonStyles]="{
      width: '75px',
      heigth: 'auto',
      cursor: 'pointer',
      backgroundColor: headerService.colorTheme,
      color: '#FFFFFF',
      fontSize: '12px'
    }"
    [text2]="'pago >'"
    size="small"
    (right)="
      !disableButton &&
        ((headerService.saleflow.module?.post && post) ||
          !headerService.saleflow.module?.post) &&
        createOrder()
    "
    (left)="
      !disableButton &&
        ((headerService.saleflow.module?.post && post) ||
          !headerService.saleflow.module?.post) &&
        createOrder()
    "
  ></app-sticky-button>
</div>
