h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  all: unset;
}
button,
a {
  cursor: pointer;
}
.flexBox {
  display: flex;
  // flex-direction: column;
  gap: 8px;

  &.containerFlexBox {
    flex-wrap: wrap;
  }
}
.container {
  width: 100%;
  min-height: 100vh;

  .header {
    width: 100%;
    height: 36px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 0 15px;
    background-color: #fff;

    .title {
      text-transform: capitalize;
      color: #000;
      font-family: SfProBold;
      font-size: 21px;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .far {
      color: #000;
      font-size: 1.752rem;
    }

    img {
      width: 35px;
      margin-left: 15%;
      cursor: pointer;
    }

    .right-area {
      display: flex;
      align-items: flex-end;

      .header-text {
        font-family: "RobotoRegular";
        font-size: 0.875rem;
        color: #ffffff;
        margin-right: 6px;
      }

      img {
        width: 14px;
        margin: 0;
        filter: brightness(2);
      }
    }
  }

  .information {
    width: 100%;
    margin-top: 40px;
    padding: 0 24px 48px;

    .top {
      margin: 33px 0 35px;
      display: flex;
      justify-content: center;
      align-items: center;

      .top-h {
        font-family: "RobotoMedium";
        font-size: 0.875rem;
        color: #7b7b7b;
        font-weight: 500;
        text-align: center;

        .top-name {
          text-transform: capitalize;
          font-family: "SfProBold";
          font-size: 1.25rem;
          color: #7b7b7b;
          font-weight: 500;
        }
      }
    }

    .section {
      width: 100%;
      transition: all 0.2s;
      .between {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-title {
          font-family: "InterRegular";
          font-size: 13px;
          text-transform: uppercase;
          color: #272727;
          margin: 0;
          margin-bottom: 10px;
          font-weight: normal;
        }
      }

      .items-container {
        background-color: #ffffff;
        padding: 17px;
        border-radius: 6px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        box-sizing: border-box;

        .receiverData {
          list-style: none;
          margin: 0px;
          padding: 0px;

          li {
            margin-bottom: 13px;
            font-family: InterRegular;
            font-size: 17px;
            color: #7b7b7b;

            &:last-of-type {
              margin-bottom: 0px;
            }
          }
        }

        // &.ready {
        //   box-shadow: none;
        // }

        &.green {
          background-color: #82f18d;
        }

        .total {
          font-family: "SfProBold";
          font-size: 13px;
          color: #000000;
        }

        .amount {
          color: #7b7b7b;
          font-size: 17px;
          font-family: InterRegular;
          text-transform: capitalize;
        }

        .address-name {
          font-size: 19px;
          word-break: break-word;
          color: #7b7b7b;
          font-size: 17px;
          font-family: InterRegular;
        }

        .added {
          font-family: "SfProRegular";
          font-size: 14px;
          color: #272727;
          margin: 3px 8px 0;
        }
      }

      .productData {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        .image {
          position: relative;

          .image-for-item {
            width: 86px;
            height: 74px;
            border-radius: 6px;
            -webkit-user-drag: none;
            object-fit: cover;
            border: 0.001px solid lightgray;
          }

          .item-image {
            width: 86px;
            height: 74px;
            background-color: #e9e371;
            border-radius: 6px;
            -webkit-user-drag: none;
            object-fit: cover;
            background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif);
          }

          &:after {
            content: "\A";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            border-radius: 6px;
          }

          &:hover:after {
            opacity: 1;
          }
        }

        .video-wrapper {
          position: relative;
          width: 84px;
          height: 74px;
        }

        .video {
          all: unset;
          width: 84px;
          height: 74px;
          position: relative;
          cursor: pointer;

          .item-video {
            width: 86px;
            height: 74px;
            object-fit: fill;
            border-radius: 6px;
          }

          &::before {
            content: "\a";
            position: absolute;
            top: 20px;
            left: 30px;
            width: 40px;
            height: 32px;
            box-sizing: border-box;
            border-style: solid;
            border-width: 15px 0 15px 30px;
            border-color: transparent transparent transparent #ffffff;
            opacity: 1;
          }

          &:after {
            content: "\A";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            border-radius: 6px;
          }

          &:hover:after {
            opacity: 1;
          }
        }

        audio::-webkit-media-controls-panel
          audio::-webkit-media-controls-mute-button
          audio::-webkit-media-controls-timeline
          audio::-webkit-media-controls-timeline-container
          audio::-webkit-media-controls-current-time-display
          audio::-webkit-media-controls-time-remaining-display
          audio::-webkit-media-controls-timeline
          audio::-webkit-media-controls-volume-slider-container
          audio::-webkit-media-controls-volume-slider
          audio::-webkit-media-controls-seek-back-button
          audio::-webkit-media-controls-seek-forward-button
          audio::-webkit-media-controls-fullscreen-button
          audio::-webkit-media-controls-rewind-button
          audio::-webkit-media-controls-return-to-realtime-button
          audio::-webkit-internal-media-controls-overflow-button
          audio::-webkit-media-controls-toggle-closed-captions-button {
          display: none !important;
        }
        audio::-webkit-media-controls-play-button {
          display: inline !important;
        }

        .audio {
          .item-audio {
            height: 65px;
            max-width: 80px;
          }
        }

        .rightSection {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: space-between;

          .title {
            font-family: "SfProBold";
            font-size: 13px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .rightBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 9px;

            .description {
              -webkit-line-clamp: 3;
              line-clamp: 3;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              font-size: 0.813rem;
              color: #7b7b7b;
              font-family: SfProMedium;
            }

            .countBox {
              display: flex;
              align-items: center;
              gap: 5px;
              .cube {
                background-color: #e9e9e9;
                border-radius: 3px;
                font-family: "RobotoMedium";
                color: #7b7b7b;
                font-size: 23px;
                padding: 8px;
                text-align: center;
                &.number {
                  min-width: 60px;
                }
              }
            }
            .iconBtn {
              border-radius: 21px;
              padding: 6px 8px;
              font-size: 17px;
              color: #fc2727;
              transition: 0.2s all;

              &:hover {
                background-color: rgb(235, 235, 235);
                transition: 0.2s all;
              }
            }
          }
        }
      }

      .text-reservation {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #272727;
        margin: 0;
        background-color: #82f18d;
        padding: 12px 18px;
        border-radius: 6px;
      }

      .inner {
        justify-content: flex-start;
        padding: 0;
        margin: 0;
      }
      .message-box {
        border-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 10%);
        flex-direction: column;
        padding: 24px;
        width: 100%;
        box-sizing: border-box;

        &.ready {
          box-shadow: none;
        }

        > :not(:first-child) {
          margin-top: 32px;
        }
      }

      .message-text {
        font-family: "RobotoMedium";
        font-size: 19px;
        color: #272727;
        margin: 0;
        word-break: break-word;
      }

      .column {
        flex-direction: column;
      }
    }
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .bold {
    color: #181d17;
    font-family: InterBold;
  }
}

.inner-title {
  color: #7b7b7b;
  font-family: "InterMedium";
  font-size: 17px;
  font-weight: normal;
}

.link-title {
  cursor: pointer;
  color: #189ac1;
  font-family: "InterMedium";
  font-size: 17px;
  margin-bottom: 10px;
}

.filled {
  color: #7b7b7b !important;
}

.bottom-label {
  color: #7b7b7b;
  font-family: "InterLight";
  font-style: italic;
  font-size: 17px;
  padding: 15px 15px 0 15px;
}

.sub {
  font-family: "RobotoLight";
  font-size: 19px;
  color: #000000;
  margin: 0 0 8px 0;
  font-weight: 100;
}

.box-shadowing {
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 10%);
}

.space-between {
  display: flex;
  justify-content: space-between;
  box-shadow: none !important;
}

table {
  width: 100%;
  margin-bottom: 8px;

  th,
  td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
  }
}
.customizer-preview {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.top {
  // background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  z-index: 999;

  .msj {
    font-family: "SfProLight";
    font-size: 23px;
    color: #272727;
  }

  .bannerLink {
    font-family: "SfProBold";
    color: #2874ad;
    size: 17px;
    cursor: pointer;
  }
}

.confirmButton {
  position: fixed;
  font-family: "InterBold";
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  max-width: 500px;
  cursor: pointer;
}

.confirmButton.mobile{
  max-width: 427px;
  margin-bottom: calc(100vh - 745px);
}


.list-of-webform-questions {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.webform-question-container {
  cursor: pointer;
  margin: 0px;
  margin-bottom: 3.6px;
  padding: 15px 18px;
  background: #fff;
  border-radius: 8px;
  font-family: "SfProRegular";
  font-size: 15px;

  &.required {
    box-shadow: 0px 1px 4px -2px #7b7b7b;
  }

  .question-text-response {
    margin-top: 5px;
    list-style: none;
    color: #7b7b7b;
    word-break: break-word;
  }
}

.question-media-response {
  overflow-y: scroll;
  max-height: 515px;
  border-radius: 12px;
  margin-bottom: 3.6px;
}

.to-fill {
  position: relative;
  width: 90% !important;

  .small-arrow-green {
    position: absolute;
    right: -73px;
    top: 10px;
  }
}

.expansion-arrow-icon {
  margin-left: 10px;
  color: #7B7B7B;
}

::ng-deep.mat-expansion-panel-body {
  padding: 0 18px 16px !important;
}

::ng-deep.mat-expansion-panel-header {
  padding: 0px 18px !important;
}

::ng-deep.mat-expansion-panel-header:hover {
  background-color: #fff !important;
}

::ng-deep.mat-expansion-panel {
  box-shadow: unset !important;
  background-color: #fff !important;
}

.small-arrow-green-2 {
  margin-right: -18px;
}

@media (max-width: 425px) {
  .responsive-flex {
    flex: 0 0 45%;
  }
}

@media (max-width: 375px) {
  .expansion-arrow-icon {
    margin-left: 0px;
  }
}
