<div class="container">
  <div class="header">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="72"
      height="72"
      viewBox="0 0 72 72"
    >
      <g id="Group_76840" data-name="Group 76840" transform="translate(0.334)">
        <g id="Group_76839" data-name="Group 76839">
          <g
            id="Ellipse_5364"
            data-name="Ellipse 5364"
            transform="translate(-0.334)"
            fill="none"
            stroke="#6fcf97"
            stroke-width="1"
          >
            <circle cx="36" cy="36" r="36" stroke="none" />
            <circle cx="36" cy="36" r="35.5" fill="none" />
          </g>
          <path
            id="Path_29100"
            data-name="Path 29100"
            d="M600.2-13743.123l-34.461,39.967h23.077l-13.386,26.611H600.2l8.8-39.537h-20.18Z"
            transform="translate(-555.995 13744.025)"
            fill="#6fcf97"
          />
          <path
            id="Path_29137"
            data-name="Path 29137"
            d="M-16281.279,19745.8s6.391,5.406,23.443,2.652"
            transform="translate(16302.15 -19678.316)"
            fill="#6fcf97"
          />
        </g>
        <path
          id="Path_29138"
          data-name="Path 29138"
          d="M-16255.19,19725.691l-3.359,15.479-22.8-2.543Z"
          transform="translate(16302.176 -19671.035)"
          fill="#6fcf97"
        />
      </g>
    </svg>

    <p class="header-title">WeDoWeLike</p>
    <p class="header-subtitle">PRIMERA FASE DE LOS KIOSKEROS PROVEEDORES</p>
    <button mat-button (click)="openLoginDialog()"><p class="header-text">Ya soy un Kioskero Proveedor</p></button>
  </div>
  <app-kioskeros-cards [cards]="cards"></app-kioskeros-cards>
</div>
