<div
  class="container"
  *ngFor="let card of cards"
  [style]="{ background: card.bg }"
  (click)="card.callback()"
>
  <div class="top">
    <img [src]="card.img" alt="" />
    <div class="right">
      <p class="title">{{ card.title }}</p>
      <p class="subtitle">{{ card.subtitle }}</p>
    </div>
  </div>
  
  <ng-container *ngIf="!card.rightBotttomText">
    <div class="bottom" *ngIf="card.bottom === true && !card.rightBotttomText">
      <p class="bottomText">
        <span style="font-family: SFProBold; font-size: 17px">{{
          card.bottomTextBold
        }}</span>
        <span *ngIf="card.bottomText">ó {{ card.bottomText }}</span>
      </p>
    </div>
  </ng-container>
  
  <ng-container *ngIf="card.rightBotttomText">
    <div class="bottom" *ngIf="card.bottom === true && card.rightBotttomText">
      <div class="flex">
        <p class="bold">{{ card.bottomTextBold }}</p>
        <p class="bold">{{ card.rightBotttomText }}</p>
      </div>
    </div>
  </ng-container>
</div>
