.bubble-button {
  z-index: 999;
  left: 10px;
  bottom: 60px;
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 15%) !important;

  img {
    width: 30px;
    height: 30px;
  }
}

.container {
  height: calc(100vh - 180px);
  width: 95%;
  position: absolute;
  top: 110px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;

  .questions-and-answers-wrapper {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(100px);
    font-family: Roboto;
    position: relative;
    color: white;
    padding-bottom: 100px;

    .close-button {
      color: lighten($color: #444654, $amount: 10);
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 15%) !important;
    }

    .empty-icon {
      width: 50px;
      height: 50px;
      margin: auto;
      filter: invert(36%) sepia(13%) saturate(574%) hue-rotate(197deg)
        brightness(96%) contrast(88%);
    }

    .empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-size: 1.3rem;
      color: lighten($color: #444654, $amount: 10);
      text-align: center;
    }

    .question-box,
    .error-box {
      h3 {
        font-size: 1.2rem;
      }
      color: black;
      padding: 10px 20px;
    }

    .error-box {
      color: orangered;
    }

    .answer-box {
      padding: 10px 20px;
      color: black;

      a {
        display: block;
        text-decoration: none;
        color: #66f;
      }
    }
  }

  .user-input-area-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 15px;
    gap: 10px;

    .user-input-box {
      height: 50px;
      width: 100%;
      resize: none;
      border: none;
      padding: 10px;
      font-family: Roboto;
      font-size: 1.5rem;
      display: flex;
      border-radius: 15px;
      box-shadow: 0px 5px 10px -5px lightslategray;
    }

    .submit-button {
      background-color: olive;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: none;
      box-shadow: 0px 5px 10px -5px lightslategray;

      &:disabled {
        background-color: lighten($color: #5c5e71, $amount: 30);

        &:hover {
          background-color: lighten($color: #5c5e71, $amount: 50);
          cursor: not-allowed;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: lighten($color: olive, $amount: 3);
      }

      img {
        height: 20px;
        width: 20px;
        filter: invert(99%) sepia(0%) saturate(2765%) hue-rotate(173deg)
          brightness(121%) contrast(100%);
      }
    }
  }
}

.message-user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .avatar-wrapper {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content {
    font-family: InterLight;
    font-size: 16px;
    color: black;
    width: calc(100% - 70px);
    margin: 0px;
  }
}

/* Chat containers */
.message-container {
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .content {
    font-family: InterLight;
    font-size: 16px;
    color: black;
    text-align: justify;
    width: calc(100% - 70px);
    margin: 0px;
    word-break: break-word;
  }
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Style images */
.message-container .avatar-wrapper {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
