<div
  class="bubble-button"
  *ngIf="!chatBoxOpened"
  (click)="chatBoxOpened = true"
>
  <img
    src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/hat-wizard-solid.svg"
    alt="wizard"
  />
</div>

<div class="chat-windows" *ngIf="chatBoxOpened">
  <div class="container">
    <div class="questions-and-answers-wrapper">
      <div class="close-button" (click)="chatBoxOpened = false">X</div>

      <ng-container *ngFor="let historyEntry of history">
        <div *ngIf="historyEntry.type === 'USER'" class="question-box">
          <div class="message-container">
            <div
              class="avatar-wrapper"
              [ngStyle]="{
                backgroundImage: headerService.user?.image
                  ? 'url(' +
                    headerService.user?.image +
                    '), url(' +
                    assetsURL +
                    '/spinner2.gif)'
                  : 'url(https://www.gravatar.com/avatar/0?s=250&d=mp)'
              }"
            ></div>
            <p class="content">{{ historyEntry.value }}</p>
          </div>
        </div>

        <div *ngIf="historyEntry.type === 'WIZARD'" class="answer-box">
          <div class="message-container darker">
            <p class="content">{{ historyEntry.value }}</p>

            <div
              class="avatar-wrapper"
              [ngStyle]="{
                backgroundImage:
                  'url(' + assetsURL + '/hat-wizard-solid-white.svg)',
                backgroundSize: '30px',
                backgroundColor: '#C5C5C5'
              }"
            ></div>
          </div>
        </div>

        <div *ngIf="historyEntry.type === 'ERROR'" class="error-box">
          <p class="content">{{ historyEntry.value }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="loadingAnswer">
        <ng-container *ngTemplateOutlet="loader"></ng-container>
      </ng-container>

      <ng-container *ngIf="history.length === 0 && !loadingAnswer">
        <div class="empty">
          <div class="empty-icon">
            <img [src]="assetsURL + '/hat-wizard-solid.svg'" alt="wizard" />
          </div>

          <p>
            Escribe algo en la caja de texto y nuestros magos te darán esa
            información
          </p>
        </div>
      </ng-container>
    </div>

    <form class="user-input-area-wrapper" [formGroup]="qaForm">
      <textarea
        class="user-input-box"
        placeholder="Escribe algo..."
        formControlName="input"
      ></textarea>
      <button
        class="submit-button"
        (click)="sendQuestion()"
        [disabled]="loadingAnswer"
      >
        <img
          src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets%2Fsend_black.svg"
          alt="send"
        />
      </button>
    </form>
  </div>
</div>

<ng-template #loader>
  <div
    [ngStyle]="{
      width: '100%',
      display: 'flex',
      flexDirection: 'column',
      height: '80px',
      justifyContent: 'center'
    }"
    *ngIf="loadingAnswer"
  >
    <app-dot-loader></app-dot-loader>
  </div>
</ng-template>
