<div class="container">
  <!-- <div
    class="nav"
    [ngStyle]="{
      gridTemplateColumns:
        mode === 'item' && item ? 'repeat(3, 1fr)' : 'repeat(1, 1fr)'
    }"
  >
    <div class="icon-container">
      <button (click)="goBack()">
        <i
          class="fas fa-chevron-up"
          aria-hidden="true"
          style="color: rgb(255, 255, 255); display: block"
        ></i>
        <i
          class="fas fa-chevron-up"
          aria-hidden="true"
          style="color: rgb(255, 255, 255); display: block"
        ></i>
      </button>
    </div> -->
    <!-- <img src="{{ env }}/d.png" class="notification" alt="" /> -->
    <!-- <img src="{{ env }}/d.png" class="notification" alt="" /> -->
    <!-- <img
      *ngIf="mode === 'item' && item"
      src="{{ env }}/save-blue.png"
      class="notification"
      alt=""
      (click)="openTagsDialog()"
    /> -->
    <!-- <img src="{{ env }}/padlock.png" class="notification" alt="" /> -->
    <!-- <img src="{{ env }}/message.png" class="notification" alt="" /> -->
    <!-- <span class="text">VISTA</span> -->
<!--     <div
      class="dot-trio"
      *ngIf="mode === 'item' && item"
      (click)="openItemOptionsDialog()"
    ></div> -->
  <!-- </div> -->
  <ng-container *ngFor="let controller of controllers.controls; let i = index">
    <ng-container *ngFor="let field of fields; let j = index">
      <div id="{{ i }}-{{ j }}" [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="'file'">
          <swiper
            *ngIf="controller.get(field.name).value.length"
            [config]="swiperConfig"
            #mediaSwiper
            (slideChange)="updateCurrentSlideData($event)"
          >
            <div
              *ngFor="
                let file of controller.get(field.name)
                  ? controller.get(field.name).value
                  : [];
                let k = index
              "
              class="media-placeholder"
              id="{{ i }}{{ j }}{{ k }}"
              attr.aria-label="{{ k + 1 }} / {{ multimedia[i].length }}"
              role="group"
              (mouseup)="handleSlide($event)"
            >
              <div class="grid">
                <!-- AREA DE BOTONES, CAMBIAR -->
                <div class="buttons-edit" *ngIf="viewType === 'edit'">
                  <button class="arrows">
                    <img
                      [src]="env + '/arrow-double-up.svg'"
                      alt="Flechas dobles apuntando hacia arriba"
                    />
                  </button>
                  <button class="edit-button">Editar</button>
                </div>
                <div
                  class="buttons-edit"
                  style="justify-content: flex-end; margin-top: 35px"
                  *ngIf="viewType === 'saved'"
                >
                  <button class="comitions">Comisiones para vender mas</button>
                  <button class="edit-button">Editar</button>
                </div>
                <button class="fixed-button" *ngIf="viewType === 'preview'" (click)="removeFile(i, k)">
                  Cancelar cambios
                </button>
              </div>
              <!-- AREA DE BOTONES, CAMBIAR -->
              <input
                id="{{ i }}{{ k }}"
                class="hidden"
                type="file"
                accept="image/*"
                multiple
                (change)="onFileInput($event, i, j, k)"
              />
              <label
                [style.height]="
                  types[i][k] === ''
                    ? 'calc(100vh - 46px)'
                    : imageFiles.includes(types[i][k])
                    ? 'calc(100vh - 46px)'
                    : '0'
                "
                for="{{ i }}{{ k }}"
                class="slide {{ types[i][k] }}"
                [style.background]="
                  imageFiles.includes(types[i][k]) ? multimedia[i][k] : ''
                "
                ><img
                  src="{{ env + '/image.svg' }}"
                  alt=""
                  *ngIf="!imageFiles.includes(types[i][k])"
              /></label>
              <video
                *ngIf="videoFiles.includes(types[i][k])"
                controls
                [src]="multimedia[i][k]"
              ></video>
              <div *ngIf="audioFiles.includes(types[i][k])" class="audio">
                <div class="audio-container">
                  <svg
                    class="audio-file"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.0"
                    width="500"
                    height="500"
                    viewBox="0 0 75 75"
                  >
                    <path
                      d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                      style="
                        stroke: #111;
                        stroke-width: 5;
                        stroke-linejoin: round;
                        fill: #111;
                      "
                    />
                    <path
                      d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                      style="
                        fill: none;
                        stroke: #111;
                        stroke-width: 5;
                        stroke-linecap: round;
                      "
                    />
                  </svg>
                  <audio controls="controls">
                    <source
                      [src]="multimedia[i][k]"
                      attr.type="{{ types[i][k] }}"
                    />
                  </audio>
                </div>
              </div>
              <button
                *ngIf="controller.valid"
                class="rotate-btn"
                type="button"
                (click)="rotateImg(i, k)"
              >
                <i class="fa fa-repeat" aria-hidden="true"></i>
              </button>
            </div>
          </swiper>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <div class="fixed">
    <!-- AREGAR AREA TEXTOS -->
    <div class="bottom-swiper">
      <div class="text-icons">
        <label for="Upper text" class="main-text">Texto (opcional) </label>
        <label for="Lower text" class="second-text">Texto (opcional) </label>
      </div>
    </div>
    <div
      class="lines"
      [style]="{
        'grid-template-columns': '' + fractions + '',
        display: display ? display : 'none'
      }"
    >
      <div
        *ngFor="let media of multimedia[0]; let i = index"
        class="line"
        [style.background]="activeSlide === i ? '#82f18d' : '#ffffff'"
      ></div>
    </div>
    <!-- <div class="bottom">
      <span
        (click)="changeMode('symbols')"
        [ngClass]="{ active: mode === 'symbols' }"
        >Simbolos</span
      >
      <span (click)="changeMode('item')" [ngClass]="{ active: mode === 'item' }"
        >Precios</span
      >
      <span>Citas</span>
      <span>Planilla</span>
    </div> -->
    <div class="button-display-area">
      <!--FOR EDIT & OTHER-->
      <ng-container *ngIf="viewType !== 'preview'">
        <div class="sales-price">
          <div class="sales-flex">
            <span class="price" style="margin-right: 31px"
              >{{ views }} vistas</span
            >
            <span class="price" style="margin-right: 31px"
              >{{ sales }} ventas</span
            >
          </div>
          <span class="price">RD$ {{ price }}</span>
        </div>

        <button class="big-button">
          <img [src]="env + '/bookmark-plus.svg'" alt="" />
          Adiciona tags para organizar tus items.
        </button>
      </ng-container>
      <!--FOR EDIT & OTHER-->
      <span class="price" *ngIf="viewType === 'preview'">RD$ {{ price }}</span>
      <div class="buttons-display" *ngIf="viewType === 'preview'">
        <button class="round-button">
          <img [src]="env + '/unlock.svg'" />
        </button>
        <button class="round-button">
          <img [src]="env + '/screen-cut.svg'" />
        </button>
        <button class="round-button">
          <img [src]="env + '/cog-wheel.svg'" />
        </button>
        <button
          class="save-button"
          [ngClass]="{ activated: infoMissing === 'banner' }"
        >
          SALVAR
        </button>
      </div>
    </div>

    <div
      class="bottom-button-banner"
      *ngIf="viewType === 'preview'"
    >
      <ng-container *ngIf="infoMissing === 'banner'">
        <app-bios-banner></app-bios-banner>
      </ng-container>
      <button
        class="button"
        [ngClass]="{ withBanner: infoMissing === 'banner' }"
        (click)="mode === 'item' && item ? openShareDialog() : submit()"
      >
        <div [ngSwitch]="infoMissing">
          <div style="color: #202020" *ngSwitchCase="'contact'">
            <span>Adiciona la información publica de tu contacto</span>
          </div>
          <div style="color: #202020" *ngSwitchCase="'delivery'">
            <span>Adiciona la información de tus entregas</span>
          </div>
          <div style="color: #202020" *ngSwitchCase="'payment'">
            <span
              >Adiciona la información de donde recibirás el dinero del
              pago</span
            >
          </div>
          <div style="color: #202020" *ngSwitchCase="'banner'">
            <span>Opcional: Edita el banner</span>
          </div>
        </div>
      </button>
    </div>
    <app-bios-banner *ngIf="viewType !== 'preview'"> </app-bios-banner>
  </div>
</div>
