<div class="container" *ngIf="!editMode">
  <div
    class="disabled"
    *ngIf="['disabeditModeled', 'archived'].includes(item?.status)"
  >
    <img
      [src]="env + '/closed-eye-white.svg'"
      alt="Ojo cerrado"
      class="hidden-img"
    />
    <span class="disabled-span">Invisible para visitantes</span>
  </div>
  <ng-container *ngFor="let controller of controllers.controls; let i = index">
    <ng-container *ngFor="let field of fields; let j = index">
      <div id="{{ i }}-{{ j }}" [ngSwitch]="field.type">
        <div class="grid">
          <button
            class="fixed-button left"
            *ngIf="viewType === 'preview'"
            (click)="isOrder ? submit() : goBack()"
          >
            <img
              class="icon green"
              [src]="env + '/arrow-double-up.svg'"
              width="28"
              height="28"
              alt="Volver"
            />
          </button>
          <button
            class="fixed-button right"
            *ngIf="viewType === 'preview' && !isOrder"
            (click)="submit()"
          >
            <img class="icon green" [src]="env + '/cog-wheel.svg'" />
          </button>
        </div>
        <ng-container *ngSwitchCase="'file'">
          <swiper
            *ngIf="controller.get(field.name).value.length"
            [config]="swiperConfig"
            #mediaSwiper
            (slideChange)="updateCurrentSlideData($event, i, j)"
            [ngStyle]="{ display: 'inline' }"
          >
            <div
              *ngFor="
                let file of controller.get(field.name)
                  ? controller.get(field.name).value
                  : [];
                let k = index
              "
              class="media-placeholder"
              id="{{ i }}{{ j }}{{ k }}"
              attr.aria-label="{{ k + 1 }} / {{ multimedia[i].length }}"
              role="group"
              (mouseup)="handleSlide($event)"
            >
              <!-- AREA DE BOTONES, CAMBIAR -->
              <input
                id="{{ i }}{{ k }}"
                class="hidden"
                type="file"
                accept="image/*"
                multiple
                (change)="onFileInput($event, i, j, k)"
              />
              <label
                [style.height]="
                  types[i][k] === ''
                    ? !isOrder
                      ? 'calc(100vh - 140px)'
                      : '100vh'
                    : imageFiles.includes(types[i][k])
                    ? !isOrder
                      ? 'calc(100vh - 140px)'
                      : '100vh'
                    : '0'
                "
                for="{{ i }}{{ k }}"
                class="slide {{ types[i][k] }}"
                [style.background]="
                  imageFiles.includes(types[i][k]) ? multimedia[i][k] : ''
                "
                ><img
                  src="{{ env + '/image.svg' }}"
                  alt=""
                  *ngIf="!imageFiles.includes(types[i][k])"
              /></label>
              <video
                *ngIf="videoFiles.includes(types[i][k])"
                controls
                [src]="multimedia[i][k]"
              ></video>
              <div *ngIf="audioFiles.includes(types[i][k])" class="audio">
                <div class="audio-container">
                  <svg
                    class="audio-file"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.0"
                    width="500"
                    height="500"
                    viewBox="0 0 75 75"
                  >
                    <path
                      d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                      style="
                        stroke: #111;
                        stroke-width: 5;
                        stroke-linejoin: round;
                        fill: #111;
                      "
                    />
                    <path
                      d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                      style="
                        fill: none;
                        stroke: #111;
                        stroke-width: 5;
                        stroke-linecap: round;
                      "
                    />
                  </svg>
                  <audio controls="controls">
                    <source
                      [src]="multimedia[i][k]"
                      attr.type="{{ types[i][k] }}"
                    />
                  </audio>
                </div>
              </div>
            </div>
          </swiper>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <div class="fixed" *ngIf="!isOrder">
    <div class="text-icons-container">
      <div class="top-section">
        <p class="top-text">
          {{ item?.name || "Nombre (opcional)" }}
        </p>
        <button
          class="icon-button-texts"
          (click)="enterEdit(swiperI, activeSlide)"
        >
          <img [src]="env + '/screen-cut.svg'" />
        </button>
      </div>

      <p class="desc">
        {{ item?.description || "Descripcion del articulo (opcional)" }}
      </p>
    </div>
    <div class="button-display-area">
      <div
        class="lines"
        [style]="{
          'grid-template-columns': '' + fractions + '',
          display: display ? display : 'none'
        }"
      >
        <div
          *ngFor="let media of multimedia[0]; let i = index"
          class="line"
          [style.background]="activeSlide === i ? '#82f18d' : '#ffffff'"
        ></div>
      </div>
      <div class="bottom-area">
        <!--FOR EDIT & OTHER-->
        <ng-container *ngIf="viewType !== 'preview'">
          <div class="sales-price">
            <div class="sales-flex">
              <span class="price" style="margin-right: 31px"
                >{{ views }} vistas</span
              >
              <span class="price" style="margin-right: 31px"
                >{{ sales }} ventas</span
              >
            </div>
            <span class="price">RD$ {{ price | number : "1.2-2" }}</span>
          </div>

          <button class="big-button">
            <img [src]="env + '/bookmark-plus.svg'" alt="" />
            Adiciona tags para organizar tus items.
          </button>
        </ng-container>
        <!--FOR EDIT & OTHER-->
        <span class="price" *ngIf="viewType === 'preview'"
          >RD$ {{ price | number : "1.2-2" }}</span
        >
        <!-- <div class="buttons-display center" *ngIf="viewType === 'preview'"></div> -->
      </div>
    </div>
    <!-- <app-bios-banner *ngIf="viewType !== 'preview'"> </app-bios-banner> -->
  </div>
</div>
<app-image-editor
  *ngIf="editMode"
  [imgUrl]="editingImage"
  (cropped)="onEditSubmit($event)"
></app-image-editor>
