<app-navigation [opened]="drawerOpened" (closed)="drawerOpened = false">
  <div class="dashboard-page container" (scroll)="infinitePagination()">
    <header class="header" *ngIf="!searchOpened && !filteringOpened">
      <div class="btn-container principal">
        <button class="title" (click)="drawerOpened = true">
          <img
            [src]="assetsFolder + '/store-icon.png'"
            alt=""
            width="20px"
            height="20px"
          />
          ARTÍCULOS EN VENTA
        </button>
      </div>

      <div class="btn-container">
        <!-- <button mat-icon-button (click)="toggleStoreVisibility()">
          <img
            [src]="
              isSwitchActive
                ? '../../../../../assets/icons/switch-green.svg'
                : '../../../../../assets/icons/switch-red.svg'
            "
            class="info-button"
            alt="open internal information"
            style="filter: none"
          />
        </button> -->
        <button type="button" mat-icon-button (click)="searchOpened = true">
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="goTo('ecommerce/admin-article-detail')"
        >
          <mat-icon [ngStyle]="{ color: 'white' }">add</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="back()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </header>

    <!--Filtros antes del dashboard-->
    <section class="info" *ngIf="!searchOpened && !filteringOpened">
      <div class="container">
        <button class="btn-secondary">Subscriptions Items</button>
        <div class="container-btn">
          <button (click)="goTo('/admin/order-progress')">
            <img
              [src]="assetsFolder + '/money-bag-green.png'"
              alt=""
              width="30px"
              height="30px"
            />
          </button>
          <button (click)="filteringOpened = true">
            <img
              [src]="assetsFolder + '/boxes-green.png'"
              alt=""
              width="30px"
              height="30px"
            />
          </button>
        </div>
      </div>
    </section>

    <!--Filtos al abrir la barra de busqueda-->
    <div class="search-opened" *ngIf="searchOpened || filteringOpened">
      <header>
        <button class="btn btn-close" (click)="onCloseSearchbar()">
          <img src="../../../../../assets/icons/close-button.svg" alt="" />
        </button>
      </header>
      <!--searchbar-->
      <form class="search-bar-wrapper" *ngIf="searchOpened">
        <mat-icon>search</mat-icon>
        <input
          type="text"
          name="item-search"
          id="search-from-results-view"
          class="input search-bar"
          placeholder="Buscar..."
          [formControl]="itemSearchbar"
          (keyup)="onFilteringItemsBySearchbar($event)"
        />
      </form>

      <!--Filtering Cards-->
      <ng-container *ngIf="filteringOpened">
        <div class="filtering-options card">
          <button
            [ngClass]="{ active: btnConsumerState.supplier }"
            (click)="onChangeConsumerState('supplier')"
          >
            Articulos para floristerias ({{ totalByType.default }})
          </button>
          <button
            [ngClass]="{ active: btnConsumerState.default }"
            (click)="onChangeConsumerState('default')"
          >
            Consumidores finales ({{ totalByType.supplier }})
          </button>
        </div>
        <div class="filtering-options card card-store">
          <button
            type="button"
            [ngClass]="{ active: btnFilterState.exhibits }"
            (click)="onChangeBtnFiltering('exhibits')"
          >
            Todos los exhibidos ({{ totalByItems.allItems }})
          </button>
          <button
            type="button"
            [ngClass]="{ active: btnFilterState.hidden }"
            (click)="onChangeBtnFiltering('hidden')"
          >
            Los ocultos ({{ totalByItems.hidden }})
          </button>

          <button
            type="button"
            [ngClass]="{ active: btnFilterState.byCommission }"
            (click)="onChangeBtnFiltering('byCommission')"
          >
            Los que pagan comisión ({{ totalByItems.byCommission }})
          </button>
          <button
            type="button"
            [ngClass]="{ active: btnFilterState.lowStock }"
            (click)="onChangeBtnFiltering('lowStock')"
          >
            Menos de 10 disponibles para vender ({{ totalByItems.byLowStock }})
          </button>
        </div>
      </ng-container>
    </div>

    <main>
      <!--Tutorial -->
      <ng-container
        *ngTemplateOutlet="
          presentation;
          context: { presentationOpened: presentationOpened }
        "
      ></ng-container>

      <!--Tutorial2 -->
      <ng-container
        *ngTemplateOutlet="
          searchTutorial;
          context: { tutorialOpened: searchTutorialsOpened }
        "
      ></ng-container>

      <ng-container *ngTemplateOutlet="itemsTutorialOverlay"></ng-container>

      <!-- Articulos exhibidos -->
      <section
        class="list-of-items"
        *ngIf="itemsISell?.length > 0 && !hiddenDashboard"
      >
        <div
          class="item-wrapper"
          *ngFor="let item of itemsISell; let itemIndex = index"
        >
          <ng-container
            *ngTemplateOutlet="
              itemCard;
              context: {
                item: item,
                itemIndex: itemIndex,
                providedByMe: false,
                firstItem: itemIndex === 0 && itemsISell.length > 0
              }
            "
          ></ng-container>
        </div>
      </section>

      <!-- Articulos no exhibidos -->
      <section
        class="list-of-items"
        *ngIf="itemsIDontSell?.length > 0 && !hiddenDashboard && !isUserLogged"
      >
        <div
          class="item-wrapper"
          *ngFor="let item of itemsIDontSell; let itemIndex = index"
        >
          <ng-container
            *ngTemplateOutlet="
              itemCard;
              context: {
                item: item,
                itemIndex: itemIndex,
                providedByMe: false,
                firstItem:
                  itemIndex === 0 &&
                  itemsISell.length === 0 &&
                  itemsIDontSell.length > 0
              }
            "
          ></ng-container>
        </div>
      </section>

      <!-- Articulos filtrados -->
      <section class="list-of-items" *ngIf="searchOpened">
        <div
          class="item-wrapper"
          *ngFor="let item of itemsFiltering; let itemIndex = index"
        >
          <ng-container
            *ngTemplateOutlet="
              itemCard;
              context: {
                item: item,
                itemIndex: itemIndex,
                providedByMe: false,
                firstItem:
                  itemIndex === 0 &&
                  itemsISell.length === 0 &&
                  itemsIDontSell.length > 0
              }
            "
          ></ng-container>
        </div>
      </section>
    </main>

    <footer
      *ngIf="!searchOpened"
      [ngClass]="{ 'center-items': hasItemSelected }"
    >
      <button *ngIf="!hasItemSelected" class="left" (click)="goToStore()">
        Preview
      </button>
      <button *ngIf="hasItemSelected" (click)="selectOptions()">
        Opciones
      </button>
      <button *ngIf="!hasItemSelected" class="right" (click)="shareStore()">
        Comparte Tienda del Comprador
      </button>
    </footer>

    <qrcode
      style="display: none"
      #storeQrCode
      [qrdata]="getDataQR()"
      [elementType]="'img'"
      [width]="280"
      [errorCorrectionLevel]="'M'"
      [allowEmptyString]="true"
      colorDark="#000"
    ></qrcode>
  </div>
</app-navigation>

<ng-template
  #itemCard
  let-item="item"
  let-itemIndex="itemIndex"
  let-providedByMe="providedByMe"
  let-firstItem="firstItem"
>
  <div
    class="item-card"
    [ngClass]="{
      'tutorial-highlighted': firstItem && itemsTutorialOpened
    }"
  >
    <div class="left-column">
      <input
        class="product-select"
        type="checkbox"
        name="select-item"
        [id]="'select-' + item._id"
        *ngIf="!searchOpened && !filteringOpened"
        (click)="onSelectItem(itemIndex)"
      />
      <div
        class="product-image"
        [ngStyle]="{
          backgroundColor: 'white',
          backgroundImage: item.images?.length
            ? 'url(' +
              item.images[0].value +
              '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
            : 'url(/assets/images/noimage.png)',
          backgroundPosition: 'center',
          backgroundSize: 'cover',
          backgroundRepeat: 'no-repeat'
        }"
        (click)="goToArticleDetail(item._id)"
      ></div>
    </div>

    <div class="middle-column fixedWidth" (click)="(null)">
      <div class="item-name" (click)="goToArticleDetail(item._id)">
        {{ item.name }}
      </div>
      <div class="item-description" (click)="goToArticleDetail(item._id)">
        {{ item.description }}
      </div>
      <div class="item-price" (click)="editPrice(item, itemIndex)">
        <ng-container *ngIf="item.pricing !== null && isUserLogged">
          ${{ item.pricing | number : "1.2-2" }}
        </ng-container>
      </div>

      <div
        class="item-add-price"
        *ngIf="!isUserLogged"
        (click)="addPrice(item)"
      >
        Mi precio
        <img
          class="price-tutorial-img"
          *ngIf="firstItem && itemsTutorialOpened"
          [src]="assetsFolder + '/card-arrow-up.svg'"
          alt=""
          loading="lazy"
        />
      </div>
    </div>

    <div class="right-column">
      <div class="quantity-title">VENDIENDO</div>

      <div class="item-quantity" (click)="updatePricing(item._id)">
        <ng-container *ngIf="item.useStock">
          <ng-container *ngIf="item.stock === 0">
            <img
              class="infinite-units small"
              (click)="changeAmount(item, 'infinite', itemIndex, providedByMe)"
              [src]="assetsFolder + '/infinity2.png'"
              alt="infinite stock"
              loading="lazy"
            />
          </ng-container>

          <span
            mat-button
            class="button icon"
            *ngIf="item.stock >= 1"
            (click)="changeAmount(item, 'subtract', itemIndex, providedByMe)"
          >
            <ng-container *ngIf="providedByMe">
              {{ item.stock > 1 ? "-" : "" }}
            </ng-container>

            <ng-container *ngIf="!providedByMe">
              {{ unitsForItemsThatYouDontSell[item._id] > 1 ? "-" : "" }}
            </ng-container>

            <mat-icon
              *ngIf="item.stock === 1"
              style="font-size: 19px; width: 23px"
              >delete</mat-icon
            >
          </span>

          <span>{{
            !item.stock
              ? 0
              : !providedByMe
              ? unitsForItemsThatYouDontSell[item._id]
                ? unitsForItemsThatYouDontSell[item._id]
                : 0
              : item.stock
          }}</span>

          <span
            mat-button
            class="button icon"
            (click)="changeAmount(item, 'add', itemIndex, providedByMe)"
            >+</span
          >
        </ng-container>

        <ng-container *ngIf="!item.useStock">
          <img
            class="infinite-units"
            (click)="changeAmount(item, 'add', itemIndex, providedByMe)"
            [src]="assetsFolder + '/infinity2.png'"
            alt="infinite stock"
            loading="lazy"
          />
        </ng-container>
      </div>
    </div>
  </div>

  <ng-container *ngIf="firstItem && itemsTutorialOpened">
    <ng-container *ngTemplateOutlet="itemsTutorialContent"></ng-container>
  </ng-container>
</ng-template>

<ng-template #presentation let-presentationOpened="presentationOpened">
  <div class="tutorial-wrapper" [ngClass]="{ opened: presentationOpened }">
    <div class="presentation-cards-wrapper" *ngIf="presentationOpened">
      <ng-container
        *ngTemplateOutlet="
          helpCard;
          context: {
            containerStyles: {
              width: '92.056%',
              maxWidth: '394px'
            },
            topText: 'Bienvenido a www.floristerias.club',
            topTextStyles: {
              color: '#FFF',
              textAlign: 'center',
              fontFamily: 'InterSemiBold',
              fontSize: '23px',
              fontStyle: 'normal',
              fontWeight: '600',
              lineHeight: 'normal',
              marginBottom: '44px'
            },
            middleText:
              'Seguir desarrollando una plataforma de soluciones a los desafíos que enfrentan las floristerías y sus proveedores.',
            middleTextStyles: {
              color: '#FFF',
              textAlign: 'center',
              fontFamily: 'InterRegular',
              fontSize: '20px',
              fontStyle: 'normal',
              fontWeight: 400,
              lineHeight: 'normal'
            },
            upperMiddleText: 'PROMESA A LOS MIEMBROS',
            upperMiddleTextStyles: {
              color: '#F6F6F6',
              fontFamily: 'InterLight',
              fontSize: '13px',
              fontStyle: 'normal',
              lineHeight: 'normal',
              marginBottom: '15px'
            },
            bottomText: 'Ok',
            bottomTextClickHandler: openTutorials
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          helpCard;
          context: {
            containerStyles: {
              width: '92.056%',
              maxWidth: '394px'
            },
            topText: 'ARTICULOS DE PROVEEDORES',
            topTextStyles: {
              color: '#F6F6F6',
              fontFamily: 'InterLight',
              fontSize: '13px',
              fontStyle: 'normal',
              lineHeight: 'normal',
              marginBottom: '15px'
            },
            middleText:
              'Esta plataforma exhibe lo que ofreces a Floristerías y Floristas',
            middleTextStyles: {
              color: '#FFF',
              textAlign: 'center',
              fontFamily: 'InterRegular',
              fontSize: '20px',
              fontStyle: 'normal',
              fontWeight: 400,
              lineHeight: 'normal',
              marginBottom: '23px'
            },
            bottomText:
              'Adiciona el precio a tus artículos para empezar a vender en el Club  (gratis)'
          }
        "
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #searchTutorial let-tutorialOpened="tutorialOpened">
  <div class="tutorial-wrapper" [ngClass]="{ opened: tutorialOpened }">
    <div class="cards-wrapper" *ngIf="tutorialOpened">
      <form
        class="search-bar-wrapper"
        [ngClass]="{ tutorial: searchTutorialsOpened }"
        style="margin-bottom: 21px"
        *ngIf="!searchOpened"
      >
        <input
          type="text"
          name="item-search"
          class="input search-bar"
          placeholder="Buscar..."
        />

        <div class="filters">
          <div class="option">📦</div>
          <div class="option">⏰</div>
          <div class="option">💰</div>
        </div>
      </form>
      <ng-container
        *ngTemplateOutlet="
          helpCard;
          context: {
            topText: '📦',
            topTextStyles: {
              fontSize: '49px',
              fontWeight: 500
            },
            middleText: 'Controla lo que te ordenaron',
            bottomText: 'Ok',
            bottomTextClickHandler: closeSearchTutorial,
            openedStateObject: searchTutorialCardsOpened,
            cardName: 'orders'
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          helpCard;
          context: {
            topText: '💰',
            topTextStyles: {
              fontSize: '49px',
              fontWeight: 500
            },
            middleText: 'Mira lo que vendiste',
            bottomText: 'Ok',
            bottomTextClickHandler: closeSearchTutorial,
            openedStateObject: searchTutorialCardsOpened,
            cardName: 'sold'
          }
        "
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #itemsTutorialContent>
  <div class="items-tutorial-wrapper">
    <ng-container
      *ngTemplateOutlet="
        helpCard;
        context: {
          containerStyles: {
            width: '86.91%',
            maxWidth: '372px'
          },
          middleText: 'Adiciona el precio de los artículos que vendes',
          middleTextStyles: {
            marginBottom: '16px',
            fontFamily: 'InterSemiBold',
            fontSize: '23px',
            fontStyle: 'normal'
          },
          bottomText: 'Ok',
          bottomTextClickHandler: closeItemsTutorial,
          openedStateObject: itemsTutorialCardsOpened,
          cardName: 'price'
        }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template #itemsTutorialOverlay>
  <div
    class="tutorial-wrapper"
    [ngClass]="{
      opened: itemsTutorialOpened
    }"
  ></div>
</ng-template>

<ng-template
  #helpCard
  let-containerStyles="containerStyles"
  let-topText="topText"
  let-topImage="topImage"
  let-topImageStyles="topImageStyles"
  let-topTextStyles="topTextStyles"
  let-upperMiddleText="upperMiddleText"
  let-upperMiddleTextStyles="upperMiddleTextStyles"
  let-middleText="middleText"
  let-middleTextStyles="middleTextStyles"
  let-bottomText="bottomText"
  let-bottomTextClickHandler="bottomTextClickHandler"
  let-cardName="cardName"
  let-openedStateObject="openedStateObject"
>
  <div
    class="help-card-container"
    [ngStyle]="containerStyles"
    *ngIf="
      !openedStateObject || (openedStateObject && openedStateObject[cardName])
    "
  >
    <span class="topText" *ngIf="topText" [ngStyle]="topTextStyles">{{
      topText
    }}</span>
    <img
      src="topImage"
      *ngIf="topImage"
      [ngStyle]="topImageStyles"
      [src]="topImage"
      loading="lazy"
    />

    <span
      class="middleText"
      *ngIf="upperMiddleText"
      [ngStyle]="upperMiddleTextStyles"
      >{{ upperMiddleText }}</span
    >

    <span class="middleText" [ngStyle]="middleTextStyles">{{
      middleText
    }}</span>
    <span
      class="bottomText"
      (click)="bottomTextClickHandler ? bottomTextClickHandler(cardName) : null"
      >{{ bottomText }}</span
    >
  </div>
</ng-template>
