* {
  padding: 0;
  margin: 0;
}

.btn {
  all: unset;
}

.dashboard-page {
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

main {
  position: relative;
}

.header {
  padding: 0 16px;
  height: 47px;
  background: #c1c4c1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    display: flex;
    align-items: center;
  }

  .left {
    gap: 17px;

    .merchant-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }

    .img {
      width: 31px;
      height: 31px;
      object-fit: cover;
      border-radius: 50%;
      background-color: #e9e371;
    }

    .title {
      font-family: "SfProHeavy";
      font-size: 16px;
      color: #272727;
      text-transform: capitalize;
    }
  }
  .right {
    gap: 32px;

    .listIcon {
      cursor: pointer;
      height: 27px;
      width: auto;
    }
    .blackButton {
      cursor: pointer;
      padding: 8px 9px 8px 14px;
      display: flex;
      align-items: center;
      gap: 7px;
      border-radius: 17px;
      background-color: #272727;
      color: #fed230;

      .starIcon {
        height: 17.5px;
        width: auto;
        filter: brightness(0) saturate(100%) invert(99%) sepia(93%)
          saturate(2815%) hue-rotate(327deg) brightness(100%) contrast(99%);
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: #272727;
  padding: 14px 21px;

  .btn-container {
    &.principal {
      margin-left: -10px;
      .title {
        color: #fff;
        font-size: 17px;
        font-family: Inter;
        font-weight: 300;
        margin-left: auto;
      }
    }

    &:not(.principal) {
      gap: 25px;
    }
  }

  button {
    all: unset;
    cursor: pointer;
    color: #ffffff;
    display: flex !important;
    align-items: center;
    font-size: 19px;
  }
}

section {
  padding: 0px 18px;
  padding-bottom: 50px;

  h3 {
    color: #000;
    font-family: InterLight;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 11px;
  }
}

.items-tutorial-wrapper {
  position: absolute;
  z-index: 999;
  width: calc(100% + 36px);
  margin-left: -18px;

  .help-card-container {
    &:first-child {
      margin-top: 29px;
    }
  }
}

.item-wrapper {
  position: relative;
  margin-bottom: 7px;

  .item-card {
    position: relative;
    width: 100%;
    background: white;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    column-gap: 10px;

    &.tutorial-highlighted {
      z-index: 1100;
    }
  }

  .left-column {
    .product-image {
      width: 82px;
      height: 81px;
      left: 15px;
      top: 14px;
      background: #d9d9d9;
      border-radius: 7px;
    }
  }

  .middle-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 102px);

    &.fixedWidth {
      max-width: 43.35%;
    }

    .item-name {
      color: #181d17;
      font-size: 17px;
      font-family: InterRegular;
      font-weight: 400;
      word-wrap: break-word;
    }

    .item-description {
      color: #7b7b7b;
      font-size: 13px;
      font-family: InterRegular;
      font-weight: 400;
      line-height: 13.65px;
      word-wrap: break-word;
      padding-top: 5px;

      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .item-price {
      color: #181d17;
      font-size: 17px;
      font-family: InterRegular;
      font-weight: 400;
      word-wrap: break-word;
      padding-top: 4px;
      margin-top: auto;
    }
  }

  .right-column {
    width: 25.81%;
    margin-left: auto;

    .edit-btn {
      padding: 10px 28px;
      background: #87cd9b;
      border-radius: 39px;
      border: 0.5px #c4c5c3 solid;
      font-family: InterRegular;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      span {
        font-size: clamp(12px, 20vw, 17px);
      }
    }
  }
}

.items-metrics {
  color: #7b7b7b;
  text-align: center;
  font-family: InterRegular;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0px 16px;
  padding: 0px;
}

.info-button {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(102%) contrast(102%);
}

.tutorial-wrapper {
  &.opened {
    margin: auto;
    max-width: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;

    .cards-wrapper {
      position: relative;
      top: 115px;
      margin: auto;
      display: flex;
      flex-direction: column;
    }

    .presentation-cards-wrapper {
      position: relative;
      top: 15px;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
  }
}

.help-card-container {
  border-radius: 15.591px;
  background: var(--el-mas-oscuro, #181d17);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 36px 20px 36px;
  width: 63.084%;
  max-width: 270.614px;
  margin: auto;
  margin-bottom: 8px;

  .topText {
    color: #7b7b7b;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
  }

  .middleText {
    color: var(--blanco, #fff);
    text-align: center;
    font-family: InterSemiBold;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
  }

  .bottomText {
    color: var(--el-verdecito, #87cd9b);
    text-align: right;
    font-family: InterSemiBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      cursor: pointer;
    }
  }
}

.intro-text {
  color: var(--el-mas-oscuro, #181d17);
  text-align: center;
  font-family: InterSemiBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  padding: 0px;
  padding-top: 19px;
  padding-bottom: 3px;
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  margin-bottom: 13px;
  padding-bottom: 0;
  position: relative;

  &.tutorial {
    z-index: 3;
  }

  .search-bar {
    /*
        DESCOMENTAR LUEGO
        width: 70.09%;
      */
    text-align: left;
    height: fit-content;
    padding: 8px 21px 12px 21px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    background: #d9d9d9;
    color: #7b7b7b;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    width: 100%;
  }

  .filters {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    gap: 20px;
    right: 17px;
    align-items: center;
    background: #d9d9d9;
    padding-left: 17px;

    .option:hover {
      cursor: pointer;
    }
  }
}

.search-opened {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 21px;
  z-index: 9999;

  header {
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 4px;
    background: #000;
  }

  .search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-bottom: 0;
    position: relative;

    mat-icon {
      position: absolute;
      top: 8px;
      left: 28px;
      color: #7b7b7b;
    }
  }

  .search-bar {
    width: 90%;
    margin: auto;
    padding: 10px 0px 12px 36px;
    border-bottom: 1px solid #87cd9b;
    border-radius: 0px;
    background: transparent;
    color: #7b7b7b;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .filtering-options {
    &.card {
      width: 90%;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: #d9d9d9;
      border-radius: 6px;
      &-store {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      appearance: none;
      border: none;
      background: none;
      padding: 0;
      width: max-content;
      color: #7b7b7b;
      font-family: Inter;
      font-size: 17px;
      letter-spacing: -1px;
      cursor: pointer;
      &.active {
        color: #181d17;
        font-weight: 700;
      }
    }
  }
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 23px;
  row-gap: 20px;
  align-items: center;
  column-gap: 17px;

  .filter {
    color: var(--fondo-de-pantallas, #f6f6f6);
    font-family: InterRegular;
    font-size: 16px;
    font-style: normal;
    line-height: normal;

    &.selected {
      font-family: InterBold;
      color: #181d17;
      padding: 0px 13px;
      padding-top: 6px;
      padding-bottom: 5px;
      border-radius: 29px;
      background: #c4c5c3;
    }
  }
}

.right-column {
  display: flex;
  flex-direction: column;

  .quantity-title {
    color: var(--plomo, #7b7b7b);
    text-align: center;
    font-family: InterRegular;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.023%; /* 13.653px */
    margin-bottom: 6px;
  }
}

.item-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c4c5c3;
  border-radius: 20px;
  padding: 1px 10px;
  height: fit-content;
  margin-left: auto;
  margin-top: 2px;
  width: 100%;

  &.deactivated {
    background-color: darken($color: #fff, $amount: 3);
  }

  span {
    font-size: 17px;
    color: #000;
    font-family: "InterRegular";

    &.button {
      cursor: pointer;

      &.icon {
        font-size: 28px;
        width: 18.82px;
        font-family: "InterSemiBold";
      }

      &.deactivated {
        color: lighten($color: #000, $amount: 50);
        cursor: not-allowed;
      }
    }

    &.disabled {
      color: rgba(0, 0, 0, 0.4);
      cursor: not-allowed;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 500px;
  padding: 10px 14px 7px;
  margin: auto;
  background-color: #6fcf97;
  &.off {
    background-color: #936105;
  }
  p {
    color: #181d17;
    text-align: center;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.item-add-price {
  color: #2874ad;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 4px;
  margin-top: auto;
  position: relative;

  .price-tutorial-img {
    position: absolute;
    top: 6px;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000a3;
  z-index: 1;

  &-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-card {
    background: #181d17;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 15px;
    width: 100%;
    max-width: 270px;
    padding: 20px;
    margin: 0 auto 8px;

    h2 {
      font-family: Inter;
      font-size: 49px;
      font-weight: 500;
      line-height: 59px;
      letter-spacing: 0em;
      color: #fff;
    }

    p {
      font-family: Inter;
      font-size: 23px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0em;
      color: #fff;
      text-align: center;
    }

    button {
      margin-top: 22px;
      font-family: Inter;
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: right;
      color: #87cd9b;
      appearance: none;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.info {
  background: #d9d9d9;
  width: 100%;
  padding: 7px 0 6px;

  p {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
  }

  .container {
    width: 92%;
    margin: 0 auto;
    .info-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 16px;
      border: 1px solid #7b7b7b;
      border-radius: 6px;

      &-text {
        text-align: center;
        margin: 12px 0;
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

::ng-deep .merchant-registration .mat-dialog-content {
  overflow: visible;
}

.infinite-units {
  margin: auto;

  &.small {
    width: 18.1813px;
    margin: 0px;
  }

  &:hover {
    cursor: pointer;
  }
}

::ng-deep .cdk-overlay-pane.login {
  width: 100%;
  max-width: 500px !important;

  .mat-dialog-container {
    width: 100% !important;
  }
}
