.chat-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 8px;
  background: #403d3d;

  .messages {
    flex: 1;
    width: 90%;
    margin: auto;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 80vh;
      overflow-y: scroll;
    }

    .message {
      width: 246px;
      max-width: fit-content;
      padding: 10px 19px 10px;
      border-radius: 30px;
      text-align: left;
      word-break: break-word;

      &-sent {
        background-color: #87cd9b;
      }

      &-received {
        color: #f6f6f6;
        background-color: #2874ad;
        align-self: flex-end;
      }
    }
  }
}

.chat-header {
  background: #403d3d;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;

  p,
  button {
    color: #f6f6f6;
  }

  p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    span {
      color: #87cd9b;
    }
  }

  button {
    appearance: none;
    border: none;
    background: none;
  }
}

.group-options {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 14px;

  .option {
    appearance: none;
    background: none;
    border: none;
    color: #f6f6f6;
    text-align: left;
    padding-left: 16px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 2px solid #87cd9b;
  }
}

.user-input {
  position: relative;
  align-self: center;
  width: 97%;
  &-box {
    width: 100%;
    appearance: none;
    background: none;
    border: 1px solid #2874ad;
    border-radius: 15px;
    padding: 12px;
    color: #f6f6f6;
    resize: none;
  }
}

.submit-button {
  position: absolute;
  right: 10px;
  bottom: 25px;
  appearance: none;
  background: no-repeat;
  border: none;
  filter: invert(1);
}
