<div class="component">
  <header [ngStyle]="{ backgroundColor: headerService.colorTheme }">
    <div>
      <a (click)="goBack()"><i class="fas fa-chevron-left"></i></a>
      <h5>
        {{
          (mode === "normal" && "Dirección de entrega") ||
            (mode === "edit" && "Editando dirección") ||
            (mode === "add" && "Nueva dirección de entrega") ||
            "Eliminando direcciones"
        }}
      </h5>
    </div>
    <button
      *ngIf="
        mode === 'normal' &&
        headerService.saleflow?.module?.delivery?.deliveryLocation &&
        user
      "
      class="dot-trio"
      (click)="onOpenDialog()"
    >
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </button>
  </header>
  <main>
    <ng-container *ngIf="mode !== 'add' && !editingId">
      <h3 class="title">Seleccione entre:</h3>
      <div>
        <app-answer-selector
          [options]="addressesOptions"
          [activeOption]="selectedDeliveryIndex"
          [indicator]="true"
          (onSelector)="handleData($event)"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </div>
      <div *ngIf="newAddressOption?.length && mode === 'normal'">
        <app-answer-selector
          [options]="newAddressOption"
          [indicator]="true"
          (onSelector)="mode = 'add'"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </div>
      <div *ngIf="!user && !registered">
        <app-answer-selector
          [options]="authOptions"
          [indicator]="true"
          (onSelector)="openLoginDialog()"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </div>
    </ng-container>
    <ng-container *ngIf="mode === 'add' || editingId">
      <form [formGroup]="addressForm">
        <div class="form-group">
          <label class="input-label" for="nickName"
            >Nombre de la direccion</label
          >
          <input
            type="text"
            class="input-text"
            id="nickName"
            name="nickName"
            placeholder="Mi casa.."
            formControlName="nickName"
            required
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="street">Calle</label>
          <input
            type="text"
            class="input-text"
            id="street"
            name="street"
            formControlName="street"
            required
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="houseNumber"
            >Número de casa/apartamento (opcional)</label
          >
          <input
            type="number"
            min="1"
            inputmode="numeric"
            pattern="[0-9]*"
            class="input-text"
            id="houseNumber"
            name="houseNumber"
            formControlName="houseNumber"
            onkeydown="return event.keyCode !== 189 && event.keyCode !== 187 && event.keyCode !== 69 && event.keyCode !== 190 && event.keyCode !== 109 && event.keyCode !== 107"
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="referencePoint"
            >Punto de referencia (opcional)</label
          >
          <input
            type="text"
            class="input-text"
            id="referencePoint"
            name="referencePoint"
            formControlName="referencePoint"
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="note">Nota (opcional)</label>
          <input
            type="text"
            class="input-text"
            id="note"
            name="note"
            formControlName="note"
          />
        </div>
        <div
          class="form-group check-input"
          *ngIf="mode !== 'edit' && !registered"
        >
          <input
            type="checkbox"
            class="checkbox"
            id="save"
            name="save"
            formControlName="save"
          />
          <div>
            <label
              class="input-label"
              for="save"
              style="margin: 0; font-size: 19px"
              >Guardar Direccion</label
            >
            <p>Para que no la re-escribiras en futuros pedidos.</p>
          </div>
        </div>
      </form>
    </ng-container>
  </main>

  <h5
    class="link"
    *ngIf="viewMerchantForDelivery"
    [ngStyle]="{
      paddingBottom:
        mode === 'normal' && selectedDeliveryIndex != null ? '62px' : '32px'
    }"
    (click)="goToShippingPolicies()"
  >
    Política de entrega
  </h5>
</div>

<div class="footer" [ngClass]="{mobile: !isMobile}" *ngIf="mode === 'add' || editingId">
  <app-sticky-button
    
    [mode]="addressForm?.valid && !disableButton ? 'fixed' : 'disabled-fixed'"
    text="CONTINUAR"
    [bgColor]="headerService.colorTheme"
    size="small"
    (click)="!disableButton && formSubmit()"
  ></app-sticky-button>
</div>
<div class="footer" [ngClass]="{mobile: !isMobile}" *ngIf="(mode === 'edit' && !editingId) || mode === 'delete'">
  <app-sticky-button
    mode="fixed"
    [backButton]="true"
    [bgColor]="headerService.colorTheme"
    size="small"
    (click)="goBack()"
  ></app-sticky-button>
</div>
