button {
  all: unset;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.component {
  min-height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  align-items: center;
  color: white;
  font-family: "SfProBold";
  font-size: 1.375rem;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      display: flex;
    }
  }

  i {
    font-size: 0.875rem;
  }

  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(12%)
      hue-rotate(346deg) brightness(104%) contrast(102%);
  }
}
main {
  padding: 32px 24px;
}
.dot-trio {
  display: flex;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 8px;

  &:hover,
  &:active {
    background-color: #2c89d1;
  }

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 1px;
  }
}
.title {
  font-family: "RobotoMedium";
  font-size: 1rem;
  color: #7b7b7b;
  font-weight: normal;
  margin-bottom: 24px;
}
.form-group {
  margin-bottom: 24px;
}
.input-label {
  font-family: RobotoMedium;
  font-size: 1rem;
  color: #7b7b7b;
  margin-bottom: 10px;
  display: inline-block;
}
.input-text {
  border-radius: 10px;
  padding: 0px 20px;
  width: 100%;
  height: 73px;
  font-family: RobotoMedium;
  font-size: 1rem;
  border: none;
  color: #0b1f38;
  box-shadow: 0px 7px 20px -18px inset;
}

.check-input {
  display: flex;

  div {
    margin-left: 10px;
    p {
      color: #7b7b7b;
      font-family: RobotoRegular;
      font-size: 1rem;
      margin: 0;
    }
  }
}

[type="checkbox"]:checked {
  background-color: #2874ad;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  border: solid 1px;
  cursor: pointer;
  vertical-align: middle;
  background-origin: border-box;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  border-width: 1px;
  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));

  &:focus {
    --tw-ring-offset-shadow: 0 0 0 2px #ffffff;
    --tw-ring-shadow: 0 0 0 4px #2874ad;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0/0.05);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);
  }
}

.link {
  font-size: 19px;
  color: #a1a1a1;
  font-family: RobotoMedium;
  font-weight: normal;
  width: fit-content;
  padding-bottom: 32px;
  margin-top: auto;
  padding-left: 6.07%;

  &:hover {
    cursor: pointer;
    color: darken($color: #a1a1a1, $amount: 10);
  }
}
.footer{
  position: fixed;
  bottom: 0;
  margin: auto;
  max-width: 500px;
}
.footer.mobile{
  max-width: 427px;
  margin-bottom: calc(100vh - 745px);
}