<div class="component">
  <header>
    <div>
      <a (click)="goBack()"><i class="fas fa-chevron-left"></i></a>
      <h5>
        {{ mode === "normal" ? "Dirección de entrega" : "Modo de edición" }}
      </h5>
    </div>
    <button
      *ngIf="
        mode === 'normal' && saleflow.module?.delivery?.deliveryLocation && user
      "
      class="dot-trio"
      (click)="onOpenDialog()"
    >
      <div class="dot"> </div>
      <div class="dot"> </div>
      <div class="dot"> </div>
    </button>
  </header>
  <main>
    <ng-container *ngIf="mode === 'anonymous'">
      <h3 class="title">Seleccione entre:</h3>

      <app-answer-selector
         [options]="anonymousOptions"
         [activeOption]="selectedID"
         [indicator]="true"
         [containerStyles]="{
            margin: '0px'
         }"
         (onSelector)="selectedID = $event"
      ></app-answer-selector>
    </ng-container>
    <ng-container *ngIf="mode !== 'anonymous' && mode !== 'add' && !editingId">
      <h3 class="title">Seleccione entre:</h3>
      <div>
        <app-answer-selector
          [options]="addressesOptions"
          [activeOption]="selectedIndex"
          [indicator]="true"
          (onSelector)="selectedIndex = $event"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </div>
      <ng-container>
        <div>
          <app-answer-selector
            [options]="newAddressOption"
            [indicator]="true"
            (onSelector)="mode = 'add'"
            [containerStyles]="{
              margin: '0px'
            }"
          ></app-answer-selector>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="mode === 'add' || editingId">
      <form [formGroup]="addressForm">
        <div class="form-group">
          <label class="input-label" for="nickName"
            >Nombre de la direccion</label
          >
          <input
            type="text"
            class="input-text"
            id="nickName"
            name="nickName"
            placeholder="Mi casa.."
            formControlName="nickName"
            required
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="nickName">Calle</label>
          <input
            type="text"
            class="input-text"
            id="street"
            name="street"
            formControlName="street"
            required
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="nickName"
            >Número de casa/apartamento (opcional)</label
          >
          <input
            type="number"
            min="0"
            inputmode="numeric"
            pattern="[0-9]*"
            class="input-text"
            id="houseNumber"
            name="houseNumber"
            formControlName="houseNumber"
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="nickName"
            >Punto de referencia (opcional)</label
          >
          <input
            type="text"
            class="input-text"
            id="referencePoint"
            name="referencePoint"
            formControlName="referencePoint"
          />
        </div>
        <div class="form-group">
          <label class="input-label" for="nickName">Nota (opcional)</label>
          <input
            type="text"
            class="input-text"
            id="note"
            name="note"
            formControlName="note"
          />
        </div>
      </form>
    </ng-container>
  </main>
</div>
<app-bubble-button
  position="right"
  color="blue"
  [solo]="false"
  [cart]="true"
  [cartAmount]="1"
></app-bubble-button>
<app-sticky-button
  *ngIf="mode === 'add' || editingId"
  [mode]="addressForm?.valid ? 'fixed' : 'disabled-fixed'"
  text="GUARDA Y CONTINUA AL CHECKOUT"
  bgColor="#2874AD"
  size="small"
  (click)="formSubmit()"
></app-sticky-button>
<app-sticky-button
  *ngIf="mode === 'normal' && selectedIndex != null"
  mode="fixed"
  text="CONTINUA AL CHECKOUT"
  bgColor="#2874AD"
  size="small"
  (click)="selectAddress()"
></app-sticky-button>
<app-sticky-button
  *ngIf="mode === 'anonymous' && selectedID != null"
  mode="fixed"
  text="CONFIRMAR ELECCIÓN"
  bgColor="#2874AD"
  size="small"
  (click)="Continue(selectedID)"
></app-sticky-button>
<app-sticky-button
  *ngIf="(mode === 'edit' && !editingId) || mode === 'delete'"
  mode="fixed"
  [backButton]="true"
  bgColor="#2874AD"
  size="small"
  (click)="goBack()"
></app-sticky-button>
