.card {
  font-family: SfProMedium;
  color: #7b7b7b;
}
.benefits {
  font-size: 0.75rem;
}
.amount {
  font-size: 1rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: SfProBold;
  font-size: 1rem;
  color: #272727;
  text-transform: capitalize;
}
