<div
  class="container"
  [ngStyle]="
    containerStyles
      ? containerStyles
      : { margin: useMargins ? '29px 52px;' : '0px' }
  "
>
  <ul class="container-options" *ngIf="!hasComplexOptionsLayout">
    <ng-container *ngIf="!values">
      <li *ngFor="let option of options; index as i">
        <div
          class="container-text-option"
          [ngStyle]="optionContainerStyles ? optionContainerStyles : null"
          *ngIf="!isMultipleOption"
        >
          <div class="selector-flex-wrapper">
            <div
              [class]="
                !indicator
                  ? i === activeOption && showSelectedFeedback
                    ? 'option selected'
                    : 'option'
                  : i === activeOption && showSelectedFeedback
                  ? 'selector-option active'
                  : 'selector-option'
              "
              [ngClass]="{
                disabledOption: blockIndexes && blockIndexes.includes(i)
              }"
              [ngStyle]="itemStyles ? itemStyles : null"
              (click)="
                (editable && option.status) ||
                (blockIndexes && !blockIndexes.includes(i))
                  ? clickSelector(i)
                  : null
              "
            >
              <div class="background"></div>

              <ng-container *ngIf="!option.isOptionAnArray">
                <span [ngStyle]="option.valueStyles">{{ option.value }}</span>
                <div>
                  <span
                    *ngFor="let subtext of option.subtexts"
                    [ngStyle]="subtext.styles"
                    >{{ subtext.text }}</span
                  >
                </div>
              </ng-container>

              <ng-container *ngIf="option.isOptionAnArray && option.valueArray">
                <span>
                  <ng-container *ngFor="let part of option.valueArray">
                    <span
                      *ngIf="part.highlight"
                      [ngStyle]="{
                        display: 'inline-block',
                        margin: '0px 10px',
                        marginBottom: '10px',
                        backgroundColor: '#2874AD',
                        color: '#fff',
                        borderRadius: '5px',
                        padding: '5px 10px'
                      }"
                      >{{ part.text }}</span
                    >

                    <span
                      *ngIf="!part.highlight"
                      [ngStyle]="{
                        display: 'inline-block',
                        margin: '0px 4px',
                        marginBottom: '10px'
                      }"
                      >{{ part.text }}</span
                    >
                  </ng-container>
                </span>
              </ng-container>
            </div>
            <div class="icons-flex-wrapper" *ngIf="option.icons?.length > 0">
              <ng-container *ngFor="let icon of option.icons">
                <button
                  class="icon-button"
                  (click)="icon.callback ? icon.callback() : null"
                >
                  <img
                    [src]="icon.src"
                    [ngStyle]="icon.styles ? icon.styles : null"
                  />
                </button>
              </ng-container>
            </div>
          </div>
          <!-- THE LINES BELLOW MAKE AN OPCTION CLICKABLE THROUGH ITS DESCRIPTION   -->
          <div
            class="description-container"
            *ngIf="option?.description && showDescription"
            (click)="editable && option.status && clickSelector(i)"
          >
            <p
              class="description-label"
              *ngFor="let description of option.description"
            >
              {{ description }}
            </p>
          </div>
        </div>
        <div class="container-text-option" *ngIf="isMultipleOption">
         <div class="selector-flex-wrapper">
            <div
              [class]="
                !indicator
                  ? i === activeMultipleOption[i] && showSelectedFeedback
                    ? 'option selected'
                    : 'option'
                  : i === activeMultipleOption[i] && showSelectedFeedback
                  ? 'selector-option active'
                  : 'selector-option'
              "
              [ngStyle]="itemStyles ? itemStyles : null"
              (click)="editable && option.status && clickSelector(i)"
            >
              <div class="background"></div>

              <ng-container *ngIf="!option.isOptionAnArray">
                <span [ngStyle]="option.valueStyles">{{ option.value }}</span>
                <div>
                  <span
                    *ngFor="let subtext of option.subtexts"
                    [ngStyle]="subtext.styles"
                    >{{ subtext.text }}</span
                  >
                </div>
              </ng-container>

              <ng-container *ngIf="option.isOptionAnArray && option.valueArray">
                <span>
                  <ng-container *ngFor="let part of option.valueArray">
                    <span
                      *ngIf="part.highlight"
                      [ngStyle]="{
                        display: 'inline-block',
                        margin: '0px 10px',
                        marginBottom: '10px',
                        backgroundColor: '#2874AD',
                        color: '#fff',
                        borderRadius: '5px',
                        padding: '5px 10px'
                      }"
                      >{{ part.text }}</span
                    >

                    <span
                      *ngIf="!part.highlight"
                      [ngStyle]="{
                        display: 'inline-block',
                        margin: '0px 4px',
                        marginBottom: '10px'
                      }"
                      >{{ part.text }}</span
                    >
                  </ng-container>
                </span>
              </ng-container>
            </div>
            <div class="icons-flex-wrapper" *ngIf="option.icons?.length > 0">
              <ng-container *ngFor="let icon of option.icons">
                <button
                  class="icon-button"
                  (click)="icon.callback ? icon.callback() : null"
                >
                  <img
                    [src]="icon.src"
                    [ngStyle]="icon.styles ? icon.styles : null"
                  />
                </button>
              </ng-container>
            </div>
          </div>
          <!-- <p
            class="option"
            [ngClass]="
              option.click && showSelectedFeedback
                ? 'option-selected'
                : 'option'
            "
          >
            {{ option.value }}
          </p> -->
        </div>
      </li>
    </ng-container>
    <ng-container *ngIf="values">
      <ng-container *ngIf="values.type === 'bank'">
        <li *ngFor="let item of values.items; index as i">
          <div class="container-text-option">
            <div class="selector-flex-wrapper">
              <div
                class="selector-option"
                [ngClass]="{ active: i === activeOption }"
                [ngStyle]="itemStyles ? itemStyles : null"
                (click)="clickSelector(i)"
              >
                <div class="background"></div>
                <div class="option-content">
                  <p class="option-title">Transferencia Bancaria</p>
                  <ul>
                    <li>Tipo de cuenta: {{ item.typeAccount }}</li>
                    <li>{{ item.ownerAccount }}</li>
                    <li>Cuenta: {{ item.account }}</li>
                    <li>RNC: {{ item.routingNumber }}</li>
                  </ul>
                  <p class="option-footer">{{ item.bankName }}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ng-container>
    </ng-container>
  </ul>

  <ul class="container-options" *ngIf="hasComplexOptionsLayout">
    <li *ngFor="let option of complexOptions; index as optionIndex">
      <div
        class="selector-option"
        [ngClass]="
          option.selected && showSelectedFeedback
            ? 'selector-option active'
            : 'selector-option'
        "
        [ngStyle]="itemStyles ? itemStyles : null"
      >
        <div class="background"></div>

        <!-- WEBFORM-ANSWER LAYOUT -->
        <div
          *ngIf="option.type === 'WEBFORM-ANSWER'"
          class="selector-option-content"
        >
          <div
            class="top"
            [ngStyle]="
              option.optionStyles['TOP'] ? option.optionStyles['TOP'] : null
            "
          >
            <div
              class="top-left"
              [ngStyle]="
                option.texts.topLeft.styles ? option.texts.topLeft.styles : null
              "
              (click)="option.texts.topLeft.callback()"
            >
              {{ option.texts.topLeft.text }}
            </div>
            <div
              class="top-right"
              [ngStyle]="
                option.texts.topRight.styles
                  ? option.texts.topRight.styles
                  : null
              "
              (click)="option.texts.topRight.callback()"
            >
              {{ option.texts.topRight.text }}
            </div>
          </div>
          <div
            class="middle"
            [ngStyle]="
              option.optionStyles['MIDDLE']
                ? option.optionStyles['MIDDLE']
                : null
            "
          >
            <div
              class="middle-text"
              *ngFor="let textObject of option.texts.middleTexts"
              [ngStyle]="textObject.styles ? textObject.styles : null"
              (click)="textObject.callback()"
            >
              {{ textObject.text }}
            </div>
          </div>
          <div
            class="bottom"
            [ngStyle]="
              option.optionStyles['BOTTOM']
                ? option.optionStyles['BOTTOM']
                : null
            "
          >
            <div
              class="bottom-left"
              [ngStyle]="
                option.texts.bottomLeft.styles
                  ? option.texts.bottomLeft.styles
                  : null
              "
              (click)="option.texts.bottomLeft.callback()"
            >
              {{ option.texts.bottomLeft.text }}
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
