@import "forms";

.container {
  // margin: 1rem;
  margin: 29px 52px;
}

// .container-options {
//     padding: 1rem;
// }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-text-option {
  // cursor: pointer;
  margin-bottom: 1rem;
}

.option {
  cursor: pointer;
  color: #7b7b7b;
  font-family: "RobotoMedium";
  font-size: 19px;
  margin: 0;
  transition: 0.3s ease;

  &.selected {
    background-color: #82f18d;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 0.5rem;
  }
}

.description-container {
  margin-top: 15px;
  cursor: pointer;
  
  .description-label {
    font-family: RobotoLight;
    font-style: italic;
    font-size: 17px;
    color: #202020;
    padding-left: 45px;
    margin: 0;
  }
}
