@import "forms";

.container {
  margin: 29px 52px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-text-option {
  margin-bottom: 0px;
}

.selector-flex-wrapper {
  width: 100%;
  display: flex;

  .selector-option {
    flex-basis: 100%;
  }

  .icons-flex-wrapper {
    display: flex;
    align-items: center;
    margin: 8px;

    .icon-button {
      all: unset;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: #ebebeb;
      }
    }
  }
}

.option {
  cursor: pointer;
  color: #7b7b7b;
  font-family: "RobotoMedium";
  font-size: 19px;
  margin: 0;
  transition: 0.3s ease;

  &.selected {
    background-color: #82f18d;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 0.5rem;
  }

  &.disabledOption {
    .background {
      color: #7b7b7b;
    }
  }
}

.description-container {
  margin-top: 15px;
  cursor: pointer;

  .description-label {
    font-family: RobotoLight;
    font-style: italic;
    font-size: 17px;
    color: #202020;
    padding-left: 45px;
    margin: 0;
  }
}
.option-content {
  display: flex;
  .option-icon-wrapper {
    margin-left: 19px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    .option-icon {
      width: 22px;
      height: 22px;
    }
  }

  .text {
    z-index: 501;
    position: relative;
    padding: 8px 0;

    p {
      margin: 0;
    }

    .option-title {
      font-size: 0.75rem;
      padding-bottom: 0.5rem;
      font-family: SfProBold;
      color: #000000;
    }
    ul li {
      font-size: 1rem;
      font-family: SfProRegular;
      color: #7b7b7b;
    }
    .option-footer {
      padding-top: 0.5rem;
      font-size: 1rem;
      font-family: SfProBold;
      color: #174b72;
    }
  }
}

.selector-option-content {
  display: flex;
}

.logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .logo {
    flex: 1;
  }
}

.selectedBold {
  font-family: RobotoBold !important;
  color: #272727;
}

.unselected {
  font-family: SfProRegular !important;
}
