<div
  class="container"
  [ngStyle]="
    containerStyles
      ? containerStyles
      : { margin: useMargins ? '29px 52px;' : '0px' }
  "
>
  <ul class="container-options">
    <li *ngFor="let option of options; index as i">
      <div class="container-text-option" *ngIf="!isMultipleOption">
        <div class="selector-flex-wrapper">
          <div
            [class]="
              !indicator ? (i === activeOption && showSelectedFeedback)
                ? 'option selected'
                : 'option'
              : (i === activeOption && showSelectedFeedback)
                ? 'selector-option active'
                : 'selector-option'
            "
            [ngStyle]="itemStyles ? itemStyles : null"
            (click)="editable && option.status && clickSelector(i)"
          >
            <div class="background"></div>
            
            <ng-container *ngIf="!option.isOptionAnArray">
              <span>{{ option.value }}</span>
            </ng-container>

            <ng-container *ngIf="option.isOptionAnArray && option.valueArray">
              <span>
                <ng-container *ngFor="let part of option.valueArray">
                  <span *ngIf="part.highlight" [ngStyle]="{
                    display: 'inline-block',
                    margin: '0px 10px',
                    marginBottom: '10px',
                    backgroundColor: '#2874AD',
                    color: '#fff',
                    borderRadius: '5px',
                    padding: '5px 10px'
                  }">{{part.text}}</span>

                  <span *ngIf="!part.highlight" [ngStyle]="{
                    display: 'inline-block',
                    margin: '0px 4px',
                    marginBottom: '10px'
                  }">{{part.text}}</span>
                </ng-container>
              </span>
            </ng-container>
          </div>
          <div class="icons-flex-wrapper" *ngIf="option.icons && option.icons.length > 0">
            <ng-container *ngFor="let icon of option.icons">
              <img 
                [src]="icon.src" 
                (click)="icon.callback ? icon.callback() : null"
                [ngStyle]="icon.styles ? icon.styles : null"
              />
            </ng-container>
          </div>
        </div>
        <!-- THE LINES BELLOW MAKE AN OPCTION CLICKABLE THROUGH ITS DESCRIPTION   -->
        <div
          class="description-container"
          *ngIf="option?.description && showDescription"
          (click)="editable && option.status && clickSelector(i)"
        >
          <p
            class="description-label"
            *ngFor="let description of option.description"
          >
            {{ description }}
          </p>
        </div>
      </div>
      <div class="container-text-option" *ngIf="isMultipleOption">
        <p
          class="option"
          [ngClass]="
            option.click && showSelectedFeedback ? 'option-selected' : 'option'
          "
        >
          {{ option.value }}
        </p>
      </div>
    </li>
  </ul>
</div>
