.body{
    width: 259px;
    height: 343px;
    background-color: #FFFFFF;
    border-radius: 34px;
    padding-top: 1px;

    .top-icons{
        width: 81.81%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        margin: 0 23.5px;
        margin-top: 26px;
        margin-bottom: 20px;

        .purply{
            width: 47px;
            height: 25px;
            background-color: #8351FE;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 9px;

            .cantidad{
                font-family: 'RobotoBlack';
                font-size: 12px;
                color: #FFFFFF;
            }
        }
    }

    .image-prices{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .center-img{
            width: 162.45px;
            height: 175.74px;
            border-radius: 10px;
            margin-bottom: 15.1px;
        }

        .item-price{
            font-family: 'SfProBold';
            font-size: 20px;
            color: #474747;
            margin: 0 auto;
            margin-bottom: 4px;
        }

        .income{
            font-family: 'RobotoRegular';
            font-size: 16px;
            color: #474747;
            margin: 0 auto;
            margin-bottom: 29px;
        }
    }
}