.container{
    width: 100%;
    min-height: 100vh;
    background-color: #F6F6F6;
    padding-bottom: 30px;
}

.item-display{
    width: 100%;
    margin-bottom: 6px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 12%);
}
.status {
    text-align: center;
}