<div class="container">
  <div class="close" (click)="back()">X</div>

  <div class="top">
    <h2>
      Perfecto, pronto recibirás el enlace con el acceso en tu correo
      electrónico.
    </h2>

    <p class="whatsapp-club">Accede al Club desde tu WhatsApp (auto-mensaje con el enlace).</p>

    <p class="promise">
      La promesa del Club es desarrollar funcionalidades que necesites, así que
      cuando necesites algo no dudes en contactarme por WhatsApp (918) 815-6444
      👉 <span class="whatsapp-link" (click)="askForHelp()">whatsapp.url</span>, mi nombre es Daviel y quedo a tu orden.
    </p>
  </div>
  <div class="landing-footer-container">
    <button class="landing-link" (click)="goToLanding()">
      www.floristerias.club
    </button>
  </div>
</div>
