<div class="container">
  <div class="header">
    <div class="header-top-container">
      <img src="../../../../../assets/icons/info.svg" />
      <div class="flex">
        <p class="header-top-text">Comisiones a embajadores 🧾</p>
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  </div>
  <div class="content">
    <p class="content-title">Embajadores</p>
    <div class="content-card">
      <div class="content-card-top">
        <div class="flex">
          <div class="content-card-img"></div>
          <p class="content-card-title">EmbajadorID</p>
        </div>
        <p class="content-card-payment">10 pagos</p>
      </div>
      <app-progress-bar
        text="$35 de $50 para pagarle por PayPal"
        [status]="50"
      ></app-progress-bar>
      <div class="hr-container">
        <hr />
      </div>
      <p class="content-card-desc">10 Facturas con artículos comisionables</p>
    </div>
    <div class="content-card">
      <div class="content-card-top">
        <div class="flex">
          <div class="content-card-img"></div>
          <p class="content-card-title">EmbajadorID</p>
        </div>
        <p class="content-card-payment">10 pagos</p>
      </div>
      <app-progress-bar
        text="$35 de $50 para pagarle por PayPal"
        [status]="50"
      ></app-progress-bar>
      <div class="hr-container">
        <hr />
      </div>
      <p class="content-card-desc">10 Facturas con artículos comisionables</p>
    </div>
    <div class="content-card">
      <div class="content-card-top">
        <div class="flex">
          <div class="content-card-img"></div>
          <p class="content-card-title">EmbajadorID</p>
        </div>
        <p class="content-card-payment">10 pagos</p>
      </div>
      <app-progress-bar
        text="$35 de $50 para pagarle por PayPal"
        [status]="90"
      ></app-progress-bar>
      <div class="hr-container">
        <hr />
      </div>
      <p class="content-card-desc">10 Facturas con artículos comisionables</p>
    </div>
    <div class="content-card">
      <div class="content-card-top">
        <div class="flex">
          <div class="content-card-img"></div>
          <p class="content-card-title">EmbajadorID</p>
        </div>
        <p class="content-card-payment">10 pagos</p>
      </div>
      <app-progress-bar
        text="$35 de $50 para pagarle por PayPal"
        [status]="20"
      ></app-progress-bar>
      <div class="hr-container">
        <hr />
      </div>
      <p class="content-card-desc">10 Facturas con artículos comisionables</p>
    </div>
  </div>
</div>
