<div class="container">
  <div class="header">
    <div class="header-top-container">
      <img src="../../../../../assets/icons/info.svg" />
      <div class="flex">
        <p class="header-top-text">Comisiones a embajadores 🧾</p>
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  </div>
  <div class="content">
    <p class="content-title">Embajadores</p>
    <ng-container *ngIf="walletsByCurrency.length">
      <div class="content-card" *ngFor="let wallet of walletsByCurrency;">
        <div class="content-card-top">
          <div class="flex">
            <div class="content-card-img"></div>
            <p class="content-card-title">{{ ambassadorOrders[wallet.owner._id]? ambassadorOrders[wallet.owner._id].user?.name || ambassadorOrders[wallet.owner._id].user?.phone || ambassadorOrders[wallet.owner._id].user?.email: '' }}</p>
          </div>
          <p class="content-card-payment">{{ wallet.metadata.usesStars }} pagos</p>
        </div>
        <app-progress-bar
          text="${{ wallet.balance }} de ${{ total }} para pagarle por PayPal"
          [status]="getPorcentage(wallet.balance, total)"
        ></app-progress-bar>
        <div class="hr-container">
          <hr />
        </div>
        <p class="content-card-desc">{{ ambassadorOrders[wallet.owner._id]? ambassadorOrders[wallet.owner._id].count: 0 }} Facturas con artículos comisionables</p>
      </div>
    </ng-container>
  </div>
</div>
