<div class="container">
  <header class="header">
    <!-- <div mat-button class="header-button active">
            {{ merchant?.name ? merchant?.name : 'Tienda' }}
        </div>
        <div mat-button class="header-button">
            Kioskero
        </div>
        <div mat-button class="header-button">
            Mercado
        </div>
        <div mat-button class="header-button">
            Editorial
        </div> -->
    <!-- <button (click)="goBack()">
      <img [src]="environment + '/arrow-double-up-black.svg'" alt="" />
    </button> -->
    <button
      style="
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: auto;
      "
      (click)="goBack()"
    >
      <p class="text">
        {{
          dataToRequest === "recent"
            ? "Ventas recientes"
            : dataToRequest === "mostSold"
            ? "20% más vendido"
            : dataToRequest === "lessSold"
            ? "20% menos vendido"
            : dataToRequest === "hidden"
            ? "Artículos ocultos"
            : dataToRequest === "sold"
            ? "Artículos Vendidos"
            : dataToRequest === "allItems"
            ? "Todos los artículos"
            : dataToRequest === "notSold"
            ? "Sin venderse"
            : ""
        }}
      </p>
      <mat-icon style="margin-left: 8px">keyboard_arrow_down</mat-icon>
    </button>
  </header>

  <div class="categories">
    <swiper [config]="swiperConfig">
      <div class="category-item active">TODOS</div>
      <div
        class="category-item flex"
        *ngFor="let filter of filters; let i = index"
      >
        <img
          [src]="environment + '/dots-black.svg'"
          alt=""
          (click)="openDeleteQueryParameterDialog(filter._id)"
        />
        {{
          filter.type === "queryParameter"
            ? formatDate(filter.queryParameter.from.date, true) +
              " - " +
              formatDate(filter.queryParameter.until.date, true)
            : "Otro"
        }}
      </div>
      <div
        class="category-item"
        *ngFor="let tag of tags; let i = index"
        [ngClass]="{ active: isTagActive(tag) }"
        (click)="filterTag(i)"
      >
        {{ tag.name }}
      </div>
    </swiper>
  </div>

  <mat-form-field appearance="fill" style="display: none">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input
        matEndDate
        formControlName="end"
        (dateChange)="onDateChange()"
        placeholder="End date"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <ng-container [ngSwitch]="dataToRequest">
    <ng-container *ngSwitchCase="'hidden'">
      <div class="section" style="margin-bottom: 30px">
        <div class="section-content">
          <div class="item-wrapper"
          *ngFor="let item of hiddenItems"
          >
            <app-item-admin-card
              [item]="item"
              [unitSalesCounter]="
                itemsSelledCountByItemId[item._id]
                  ? itemsSelledCountByItemId[item._id]
                  : 0
              "
            ></app-item-admin-card>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'notSold'">
      <div class="section" style="margin-bottom: 30px">
        <div class="section-content">
          <mat-card class="card" *ngFor="let item of notSoldItems">
            <a [routerLink]="['../item-creation', item._id]">
              <div class="card-body">
                <div class="card-l-side">
                  <h2 class="card-title">
                    {{ item.name ? item.name : "Sin nombre..." }}
                  </h2>
                  <p class="card-description">
                    {{
                      item.description ? shortenText(item.description, 60) : ""
                    }}
                  </p>
                </div>
                <div class="card-r-side">
                  <div
                    class="featured-image"
                    [ngStyle]="{
                      backgroundImage: 'url(' + item?.images[0]?.value + ')'
                    }"
                  >
                    <div class="caption" *ngIf="item.status === 'disabled'">
                      <img
                        [src]="environment + '/closed-eye-black.svg'"
                        alt=""
                      />
                      Oculto al visitante
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="card-footer">
              <div class="bottom-title">
                <h3>RD $ {{ item.pricing | number }}</h3>
              </div>
              <div class="bottom-icons">
                <div class="text-icon">
                  <p>
                    {{
                      item?.visitorCounter?.counter
                        ? item?.visitorCounter?.counter
                        : "0"
                    }}
                  </p>
                  <img [src]="environment + '/open-eye.svg'" alt="" />
                </div>
                <div class="text-icon">
                  <img [src]="environment + '/dots-black.svg'" alt="" />
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="section">
        <div class="section-header">
          <h3 class="section-title">20% más vendidos</h3>

          <div class="section-description">
            <p>{{ mostSoldItems.length }}</p>
            <img [src]="environment + '/arrow-left.svg'" alt="" />
          </div>
        </div>

        <qrcode
          *ngIf="articleId"
          style="display: none"
          #orderQrCode
          [qrdata]="
            URI +
            '/ecommerce/' +
            saleflowService.saleflowData.merchant.slug +
            '/article-detail/item/' +
            articleId
          "
          [elementType]="'img'"
          [width]="40"
          [errorCorrectionLevel]="'M'"
          [allowEmptyString]="true"
          colorDark="#000"
        ></qrcode>

        <div class="section-content">
          <swiper [config]="cardSwiperConfig">
            <mat-card
              class="card"
              *ngFor="let item of mostSoldItems; index as i"
            >
              <a [routerLink]="['../item-creation/', item._id]">
                <div class="card-body">
                  <div class="card-l-side">
                    <h2 class="card-title">
                      {{ item.name ? item.name : "Sin nombre..." }}
                    </h2>
                    <p class="card-description">{{ item.description }}</p>
                  </div>
                  <div class="card-r-side">
                    <div
                      class="featured-image"
                      [ngStyle]="{
                        backgroundImage: 'url(' + item?.images[0]?.value + ')'
                      }"
                    >
                      <div class="caption" *ngIf="item.status === 'disabled'">
                        <img
                          [src]="environment + '/closed-eye-black.svg'"
                          alt=""
                        />
                        Oculto al visitante
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="card-footer">
                <div class="bottom-title">
                  <h3>RD $ {{ item.pricing | number }}</h3>
                </div>
                <div class="bottom-icons">
                  <div class="text-icon">
                    <p>{{ item.visitorCounter.counter }}</p>
                    <img [src]="environment + '/open-eye.svg'" alt="" />
                  </div>
                  <div
                    class="text-icon"
                    style="cursor: pointer"
                    (click)="openDotsDialog(item._id, i, 'mostSold')"
                  >
                    <img [src]="environment + '/dots-black.svg'" alt="" />
                  </div>
                </div>
              </div>
            </mat-card>
          </swiper>
        </div>
      </div>

      <div class="section">
        <div class="section-header">
          <h3 class="section-title">20% menos vendidos</h3>

          <div class="section-description">
            <p>{{ lessSoldItems.length }}</p>
            <img [src]="environment + '/arrow-left.svg'" alt="" />
          </div>
        </div>

        <div class="section-content">
          <swiper [config]="cardSwiperConfig">
            <mat-card
              class="card"
              *ngFor="let item of lessSoldItems; index as i"
            >
              <a [routerLink]="['../item-creation/', item._id]">
                <div class="card-body">
                  <div class="card-l-side">
                    <h2 class="card-title">
                      {{ item.name ? item.name : "Sin nombre..." }}
                    </h2>
                    <p class="card-description">{{ item.description }}</p>
                  </div>
                  <div class="card-r-side">
                    <div
                      class="featured-image"
                      [ngStyle]="{
                        backgroundImage: 'url(' + item?.images[0]?.value + ')'
                      }"
                    >
                      <div class="caption" *ngIf="item.status === 'disabled'">
                        <img
                          [src]="environment + '/closed-eye-black.svg'"
                          alt=""
                        />
                        Oculto al visitante
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="card-footer">
                <div class="bottom-title">
                  <h3>RD $ {{ item.pricing | number }}</h3>
                </div>
                <div class="bottom-icons">
                  <div class="text-icon">
                    <p>{{ item.visitorCounter.counter }}</p>
                    <img [src]="environment + '/open-eye.svg'" alt="" />
                  </div>
                  <div
                    class="text-icon"
                    style="cursor: pointer"
                    (click)="openDotsDialog(item._id, i, 'lessSold')"
                  >
                    <img [src]="environment + '/dots-black.svg'" alt="" />
                  </div>
                </div>
              </div>
            </mat-card>
          </swiper>
        </div>
      </div>

      <div class="section" style="margin-bottom: 30px">
        <div class="section-header">
          <h3 class="section-title">Todos</h3>

          <div class="section-description">
            <p>{{ allItems.length }}</p>
            <img [src]="environment + '/arrow-left.svg'" alt="" />
          </div>
        </div>

        <div class="section-content">
          <swiper [config]="cardSwiperConfig">
            <mat-card class="card" *ngFor="let item of allItems; index as i">
              <a [routerLink]="['../item-creation/', item._id]">
                <div class="card-body">
                  <div class="card-l-side">
                    <h2 class="card-title">
                      {{ item.name ? item.name : "Sin nombre..." }}
                    </h2>
                    <p class="card-description">{{ item.description }}</p>
                  </div>
                  <div class="card-r-side">
                    <div
                      class="featured-image"
                      [ngStyle]="{
                        backgroundImage: 'url(' + item?.images[0]?.value + ')'
                      }"
                    >
                      <div class="caption" *ngIf="item.status === 'disabled'">
                        <img
                          [src]="environment + '/closed-eye-black.svg'"
                          alt=""
                        />
                        Oculto al visitante
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="card-footer">
                <div class="bottom-title">
                  <h3>RD $ {{ item.pricing | number }}</h3>
                </div>
                <div class="bottom-icons">
                  <div class="text-icon">
                    <p>{{ item.visitorCounter.counter }}</p>
                    <img [src]="environment + '/open-eye.svg'" alt="" />
                  </div>
                  <div
                    class="text-icon"
                    style="cursor: pointer"
                    (click)="openDotsDialog(item._id, i, 'allItems')"
                  >
                    <img [src]="environment + '/dots-black.svg'" alt="" />
                  </div>
                </div>
              </div>
            </mat-card>
          </swiper>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="sticky-bar" (click)="openDatePicker()">
    <p>{{ dateString }}</p>
    <img [src]="environment + '/dots-black.svg'" alt="" />
    <!-- <div>
      <p>VISIBLE EN: URL.COM</p>
      <img [src]="environment + '/upload.svg'" alt="">
    </div> -->
  </div>
</div>
