<div style="min-height: 100vh;">

  <app-helper-headerv2 [mode]="mode === 'category' ? 'edit':'options'"
    [mainText]="{
        text: item && ('Nueva Categoria A '+item.name),
        color: mode === 'category' ? '#E9E371': '#FFF'
    }"
    [leftText]="{
        text: 'ingreso $2,020.00'
    }"
    [rightText]="{
        text: '44 ventas'
    }"
    [extraTexts]="{
        billId: '405D $26',
        itemId: 'chps n tips'
    }"
    [returnAble]="true"
    [color]="mode === 'category' ? '#E9E371' : ''"
    (returnEvent)="back()"></app-helper-headerv2>

  <div class="input">
    <input class="leadword-input" (input)="searchKeyword()" [(ngModel)]="keyword" type="text" id="search"
      [placeholder]="'Nombre de' + (mode === 'tag' ? 'l tag' : ' la categoria')" />
  </div>

  <p class="label">
    <ng-container *ngIf="!keyword && !createMode">RECIENTES</ng-container>

    <ng-container *ngIf="keyword && !createMode">
      <ng-container *ngIf="mode === 'tag'">
        <ng-container *ngIf="filteredTagList.length > 0 else noTags">
          RESULTADOS PARECIDOS
        </ng-container>
        <ng-template #noTags>
          <a class="addButton" [routerLink]="['/admin/tags-edit']">
            Añadir Nuevo Tag
          </a>
        </ng-template>
      </ng-container>
      <span class="matches" *ngIf="mode === 'category' && filteredCategories.length > 0">{{filteredCategories.length}}
        mas coinciden</span>
    </ng-container>
  </p>
  <div style="text-align: center;"
    *ngIf="keyword && mode === 'category' && filteredCategories.length == 0 && !createMode">
    <button class="addButton" (click)="addCategory()">
      Crear este nueva categoria y añadir el item
    </button>
  </div>

  <div class="tag-container" [ngClass]="{'categories': mode === 'category'}" *ngIf="!createMode">

    <ng-container *ngIf="mode === 'tag'">
      <!-- <app-info-card *ngFor="let tag of filteredTagList" (click)="onTagClick(tag)" type="tag" [bottomtext]="tag.name"
        [toptext]="tag.counter" [isSelectable]="true" [selected]="tag.notifyMerchantOrder || tag.notifyUserOrder">
      </app-info-card> -->
    </ng-container>

    <ng-container *ngIf="mode === 'category'">
      <app-tags-square *ngFor="let category of filteredCategories" (click)="onCategoryClick(category)" [reverse]="true"
        [position]="'left'" [tagText]="category.name" [number]="'44 ventas'"
        [color]="category.isSelected ? '#E9E371' : '#2874AD'" [textColor]="category.isSelected ? '#E9E371' : '#2874AD'"
        [bColor]="category.isSelected ? '#2874AD' : '#FFFFFF'"></app-tags-square>
    </ng-container>

  </div>

  <div *ngIf="createMode">
    <ng-container>
      <div class="label">
        <ng-container>{{mode === 'tag' ? 'Tags' : 'Categorias'}}</ng-container>
      </div>

      <div *ngIf="mode === 'tag' else categoryMode">
        <div [ngStyle]="{ margin: '0 38px 21px'}">
          <a class="addButton" *ngIf="keyword && filteredTagList.length === 0" [routerLink]="['/admin/tags-edit']"
            [queryParams]="{tagName: keyword}">
            Añadir Nuevo Tag
          </a>
        </div>
      </div>

      <ng-template #categoryMode>
        <div [ngStyle]="{ margin: '0 38px 21px'}">
          <button class="addButton" *ngIf="keyword && filteredCategories.length === 0" (click)="addCategory()">
            Crear esta nueva categoria
          </button>
        </div>
      </ng-template>

      <div class="tag-container" [ngClass]="{'categories': mode === 'category'}">

        <ng-container *ngIf="mode === 'tag'">
          <!-- <app-info-card *ngFor="let tag of filteredTagList" (click)="!createMode ? onTagClick(tag) : null" type="tag"
            [bottomtext]="tag.name" [toptext]="tag.counter" [isSelectable]="true"
            [selected]="tag.notifyMerchantOrder || tag.notifyUserOrder">
          </app-info-card> -->
        </ng-container>

        <ng-container *ngIf="mode === 'category'">
          <app-tags-square *ngFor="let category of filteredCategories"
            (click)="!createMode ? onCategoryClick(category) : null" [reverse]="true" [position]="'left'"
            [tagText]="category.name" [number]="'44 ventas'" [color]="category.isSelected ? '#E9E371' : '#2874AD'"
            [textColor]="category.isSelected ? '#E9E371' : '#2874AD'"
            [bColor]="category.isSelected ? '#2874AD' : '#FFFFFF'"></app-tags-square>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<!-- <app-sticky-button
[mode]="'basic'"
[text]="'SALVA EL ITEM EN categoriaID'"
></app-sticky-button> -->