<div class="dialog-container" [formGroup]="formGroup">
  <div mat-dialog-content>
    <ng-container *ngFor="let field of data.fields; let i = index;">
      <div>
        <div class="field-wrapper" [ngStyle]="field.styles">
          <label [for]="field.name">{{ field.label }}</label>
          <input
            type="text"
            [id]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder || 'Escribe..'"
          />
        </div>
        <button (click)="onIconClick(i)" class="icon-button" *ngIf="field.secondaryIcon"><img [src]="env + '/hat-wizard-solid.svg'" alt=""></button>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-actions class="buttons-flex">
    <button class="cancel" (click)="close()">
      {{ "cancel" | translate }}
    </button>
    <button class="accept" [mat-dialog-close]="formGroup" cdkFocusInitial>
      {{ "save-changes" | translate }}
    </button>
  </div>
</div>
