.container {
  min-height: 100vh;
  width: 100%;
  position: relative;

  .questions-and-answers-wrapper {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    background-color: #343541;
    font-family: Roboto;
    position: relative;
    color: white;

    .empty {
      position: absolute;  
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-size: 1.3rem;
      color: lighten($color: #444654, $amount: 10);
      text-align: center;
    }

    .question-box {
      h3 {
        font-size: 1.2rem;
      }

      background-color: #343541;
      padding: 10px 20px;
    }

    .answer-box {
      padding: 10px 20px;
      background-color: #444654;

      a {
        display: block;
        text-decoration: none;
        color: #66f;
      }
    }
  }

  .user-input-area-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;

    .user-input-box {
      height: 50px;
      width: 100%;
      resize: none;
      border: none;
      box-shadow: 0px 2px 5px inset lightslategray;
      padding: 10px;
      font-family: Roboto;
      font-size: 1.5rem;
      display: flex;
    }

    .submit-button {
      background-color: olive;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 50px;
      border: none;

      &:hover {
        background-color: lighten($color: olive, $amount: 3);
      }

      img {
        height: 30px;
        width: 30px;
        filter: invert(99%) sepia(0%) saturate(2765%) hue-rotate(173deg)
          brightness(121%) contrast(100%);
      }
    }
  }
}
