<div class="container">
    <div class="questions-and-answers-wrapper">
        <div class="question-box">
            <h3>Preguntaste:</h3>
            <p class="content">¿Qué productos puedo comprar entre $80 y $150?</p>
        </div>

        <div class="answer-box">
            <p>Puedes comprar los siguientes productos</p>
        </div>
    </div>

    <form class="user-input-area-wrapper">
        <textarea class="user-input-box"></textarea>
        <button class="submit-button">
            <img src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets%2Fsend_black.svg" alt="send">
        </button>
    </form>
</div>