.container {
	width: 100%;
	min-height: 100vh;
	background-color: #f6f6f6;

	.item-info {
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;

		.description {
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
			background-color: #ffffff;
			padding: 24px 32px;

			.title-name {
				font-family: "RobotoBold";
				font-size: 22px;
				color: #174b72;
				margin: 0;
				margin-bottom: 10px;
			}
			p {
				font-family: "SfProRegular";
				font-size: 17px;
				color: #0b1f38;
				margin: 0;
			}
		}

		.grey-box {
			width: 90%;
			height: 250px;
			border-radius: 18px;
			background-color: rgba(189, 189, 189, 17%);
			padding: 39px 20px 0 44px;
			margin: 25px auto 19px;

			.title {
				font-family: "NeueMontreal";
				font-size: 27px;
				font-weight: bold;
				color: #000000;
				margin: 0;
			}
		}

		// .itemImg {
		// 	all: unset;
		// 	width: 100%;
		// 	min-height: 290px;
		// 	box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 12%);
		// 	cursor: pointer;

		// 	div {
		// 		background-size: cover;
		// 		background-position: center;
		// 		background-repeat: no-repeat;
		// 		width: 100%;
		// 		height: 296px;
		// 	}
		// }

		.no-description {
			width: 100%;

			.title {
				font-family: "RobotoBold";
				font-size: 22px;
				color: #174b72;
				margin: 17.1px 32px 7px;
			}
		}

		.item-price {
			display: flex;
			flex-direction: column;
			margin: 19px 32px 20px;

			.vale {
				font-family: "SfProRegular";
				font-size: 17px;
				color: #7b7b7b;
			}

			.price {
				font-family: "SfProBold";
				font-size: 28px;
				color: #3f3f3f;
				margin: 0;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			padding: 26px;

			.includes {
				font-family: "SfProRegular";
				font-size: 17px;
				color: #7b7b7b;
			}

			ul {
				margin: 0;
				padding: 0;
			}

			.list-content {
				font-family: "SfProBold";
				font-size: 28px;
				color: #3f3f3f;
				margin: 0;
				list-style: none;
			}
		}
	}

	.dynamic-items-section {
		.item-detail {
			margin-top: 25px;
		}
	}

	.saleflows-grid {
        width: auto;
        max-height: 93.5vh;
        padding: 16px 24px 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 14px;
        column-gap: 14px;
        row-gap: 25px;
        overflow-x: hidden;
        overflow-y: scroll;
        justify-items: center;
        .capsize{
            width: 100%;
            max-width: 212px;
            height: auto;
        }
    }

	.category {
		width: 100%;

		.tab-area {
			width: 100%;
			height: 46px;
			background-color: rgba(40, 116, 173, 0.22);
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			margin-bottom: 31px;

			.tab {
				width: 32.07%;
				max-width: 137px;
				height: 36.7px;
				background-color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 17.3px;

				.tab-text {
					font-family: "SfProMedium";
					font-size: 17px;
				}

				.icon {
					margin-right: 5px;
				}
			}
		}

		.tags-area {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 0px 0 40px;
			row-gap: 14px;
			column-gap: 13px;
			-moz-column-gap: 13px;
		}
	}
}

.colored {
	background-color: #2874ad !important;
	border-radius: 4px !important;
	img {
		filter: brightness(0) saturate(100%) invert(87%) sepia(67%) saturate(369%) hue-rotate(351deg) brightness(96%)
			contrast(90%);
	}
}

.divider {
	width: 100%;
	border: none;
	height: 6px;
	background-color: #f5f5f5;
	margin: 0;
}

.client-submit-area {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	.action-btn {
		font-family: "RobotoMedium";
		padding: 14px 25px;
		margin-right: 20px;
		border-radius: 25px;
		color: #174b72;
		width: 70%;
		border: 0;
		font-size: 16px;
		text-transform: uppercase;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		&.yellow {
			background-color: #fed230;

			&:hover {
				background-color: #fdd852;
			}
		}

		&.blue {
			background-color: #59c0ec;

			&:hover {
				background-color: #72cff7;
			}
		}
		img {
			filter: brightness(0) saturate(100%) invert(20%) sepia(98%) saturate(606%) hue-rotate(169deg) brightness(96%)
				contrast(91%);
			width: 25px;
			height: 16px;
		}
	}
	.side-btn {
		all: unset;
		padding: 10px 12px;
		border-radius: 999px;
		cursor: pointer;
		position: relative;

		&:hover {
			background-color: rgb(240, 240, 240);
		}

		span {
			position: absolute;
			bottom: 10px;
			right: 10px;
			color: #2874ad;
			font-family: "RobotoMedium";
			font-size: 16px;

			&.plus {
				font-size: 24px;
				font-family: "SfProBold";
				right: 5px;
			}
		}
	}
}

.small-title {
	font-family: "SfProLight";
	font-size: 19px;
	font-weight: normal;
	margin: 0;
}

.small-price {
	font-family: "SfProLight";
	font-size: 17px;
}

.flex-box {
	display: flex;
	justify-content: space-between;
	margin: 32px;
}

.gray-label {
	font-family: "SfProRegular";
	color: #7b7b7b;
	font-size: 17px;
}

.fullScreenSwiper {
	position: relative;
	font-family: "Roboto";
	background-color: white;
	& .shadowWrapper {
		box-shadow: 0px 12px 24px -10px #999;
		-webkit-box-shadow: 0px 12px 24px -10px #999;
		-moz-box-shadow: 0px 12px 24px -10px #999;
	}
	& .item {
		height: 300px;
		width: 100%;
		max-width: 500px;
		padding-bottom: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;

		&:hover {
			opacity: 0.75;
		}
	}
	& .customPagination {
		position: relative;
		width: 100%;
		max-width: 500px;
		height: 10px;
		display: flex;
		gap: 10px;
		margin-top: 27px;
		justify-content: center;
		margin-bottom: 36px;
		&.price {
			position: absolute;
			bottom: 0;
		}
		& .pageBall {
			height: 10px;
			width: 10px;
			border-radius: 100%;
		}
	}
	.text {
		padding-left: 28px;
		padding-right: 28px;
		font-size: 17px;
		color: #272727;
	}

	.swiper-button {
		all: unset;
		position: absolute;
		top: 8px;
		right: 14px;
		padding: 9px 11px;
		background-color: #ffffff;
		border-radius: 50%;
		cursor: pointer;
		z-index: 2;
      box-shadow: 0px 3px 6px 3px rgb(0 0 0 / 10%);
	}
}

.nonswiper-button {
	all: unset;
	padding: 9px 11px;
	background-color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	color: #2874ad;
	border: solid 1px #2874ad;
	display: flex;
	align-items: flex-end;
	gap: 8px;
	img {
		filter: invert(35%) sepia(72%) saturate(451%) hue-rotate(163deg) brightness(80%) contrast(104%);
	}

	&:hover, &:active {
		color: #ffffff;
		background-color: #2874ad;
		border: solid 1px #fff;
		outline: solid 1px #2874ad;
		img {
			filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(0%) hue-rotate(289deg) brightness(102%)
				contrast(103%);
		}
	}
}

.section {
	margin-bottom: 6px;
	box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 12%);
}

.item-detail {
	font-family: "RobotoMedium";
	font-size: 13px;
	color: #7b7b7b;
	margin: 50px 0 24px 31px;
	text-transform: uppercase;
}

.grid-details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 5%;
	column-gap: 12px;
	row-gap: 10px;

    .info-card{
        width: 100%;
        max-width: 221px;
        min-height: 125px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 27px 10%;
        border-radius: 13px;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 10%);

        .amount{
            font-family: 'RobotoMedium';
            font-size: 15px;
            color: #7B7B7B;
            text-align: center;
            word-break: break-word;
            line-break: loose;
			font-weight: normal;
        }

		.quantity {
			margin-bottom: 15px;
			font-size: 23px !important;
		}
	}
}

@media only screen and(min-width:309px) and (max-width: 327px) {
	.amount {
		font-size: 1em !important;
	}
}

@media only screen and(max-width: 308px) {
	.amount {
		font-size: 0.88em !important;
	}
}
