.container{
    width: 100%;
    background-color: transparent;
}

.body{
    width: 191px;
    min-height: 93px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 6px 9px;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
    cursor: pointer;
}

.wrapper{
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 11px;

    .number{
        font-family: 'RobotoMedium';
        font-size: 17px;
        margin: 0;
    }

    .amount{
        position: static;
        margin: 0;
        margin-right: 30%;
    }
}

.text{
    font-family: 'RobotoMedium';
    font-size: 19px;
    margin-bottom: 1px !important;
}
