<div class="container">
  <!-- <header class="header">
    <div class="left">
      <button class="btn merchant-btn" [matMenuTriggerFor]="menu">
        <img [src]="_MerchantsService.merchantData.image" class="img" />
        <p class="title">{{ _MerchantsService.merchantData.name }}</p>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['']">
          <mat-icon>settings</mat-icon>
          <span>Configuración</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>

    <div class="right">
      <a
        class="btn"
        [routerLink]="['../notifications-menu']"
        [queryParams]="{
          redirectTo: router.url
        }"
        *ngIf="ordersToConfirm.length === 0"
      >
        <img class="listIcon" [src]="environment + '/icon-i.svg'" />
      </a>

      <a
        class="btn"
        [routerLink]="['../notifications-menu']"
        [queryParams]="{
          redirectTo: router.url
        }"
        *ngIf="ordersToConfirm.length > 0"
      >
        <img class="listIcon" [src]="environment + '/bell-notification.svg'" />
      </a>
    </div>
  </header> -->

  <header class="header">
    <button mat-icon-button>
      <mat-icon [ngStyle]="{ color: 'white' }">search</mat-icon>
    </button>
    <button mat-icon-button (click)="newArticle()">
      <mat-icon [ngStyle]="{ color: 'white' }">add</mat-icon>
    </button>
    <button
      class="header-btn"
      style="margin-bottom: -5px"
      (click)="headerSettings()"
    >
      <img [src]="environment + '/dots-black.svg'" alt="" />
    </button>

    <button
      style="
        color: #87CD9B;
        font-size: 16px;
        font-family: InterBold;
        margin-left: auto;
      "
    >
      Artículos que vendo
      <mat-icon style="color: #6FCF97; margin-left: 8px">menu</mat-icon>
    </button>
  </header>

  <div class="categories">
    <swiper [config]="swiperConfig" class="category-swiper">
      <div class="category-item">TODOS</div>
      <div
        class="category-item"
        *ngFor="let filter of filters; let i = index"
        [ngClass]="{
          active: selectedFilter && selectedFilter._id === filter._id
        }"
        (click)="isFilterActive(filter)"
      >
        {{
          filter.type === "queryParameter"
            ? formatDate(filter.queryParameter.from.date, true) +
              " - " +
              formatDate(filter.queryParameter.until.date, true)
            : "Otro"
        }}
      </div>
      <div
        class="category-item"
        *ngFor="let tag of tags; let i = index"
        [ngClass]="{ active: isTagActive(tag) }"
        (click)="filterTag(i)"
      >
        {{ tag.name }}
      </div>
    </swiper>
  </div>

  <!-- <div class="contents">
    <app-options-bar
      [type]="'3'"
      [options]="options"
      (selectedIndex)="selectTag($event)"
      (selectedMenuIndex)="selectedMenuOption($event)"
    >
    </app-options-bar>
  </div> -->

  <mat-form-field appearance="fill" style="display: none">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input
        matEndDate
        formControlName="end"
        (dateChange)="onDateChange()"
        placeholder="End date"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div class="section">
    <div class="section-header">
      <p class="section-title">Vendidos</p>

      <div class="section-description" (click)="goToDetail('sold')">
        <!-- <p>4 de los últimos 7 días</p> -->
        <p>{{ recentlySoldItems.length }}</p>
        <img [src]="environment + '/arrow-left.svg'" alt="" />
      </div>
    </div>

    <qrcode
      *ngIf="articleId"
      style="display: none"
      #orderQrCode
      [qrdata]="
        URI +
        '/ecommerce/' +
        _SaleflowService.saleflowData.merchant.slug +
        '/article-detail/item/' +
        articleId
      "
      [elementType]="'img'"
      [width]="40"
      [errorCorrectionLevel]="'M'"
      [allowEmptyString]="true"
      colorDark="#000"
    ></qrcode>

    <div class="section-content">
      <swiper [config]="cardSwiperConfig">
        <mat-card
          class="card mat-elevation-z0"
          *ngFor="let item of recentlySoldItems; index as i"
        >
          <a [routerLink]="['../article-editor/', item._id]">
            <div class="card-body">
              <div class="card-l-side">
                <h2 class="card-title">
                  {{ item.name ? item.name : "Sin nombre..." }}
                </h2>
                <p class="card-description">{{ item.description }}</p>
              </div>
              <div class="card-r-side">
                <div
                  class="featured-image"
                  [ngStyle]="{
                    backgroundImage: 'url(' + item?.images[0]?.value + ')'
                  }"
                >
                  <div class="caption" *ngIf="item.status === 'disabled'">
                    <img [src]="environment + '/closed-eye-black.svg'" alt="" />
                    Oculto al visitante
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="card-footer">
            <div class="bottom-title">
              <h3>RD $ {{ item.pricing | number }}</h3>
            </div>
            <div class="bottom-icons">
              <div class="text-icon">
                <p>
                  {{
                    item?.visitorCounter?.counter
                      ? item?.visitorCounter?.counter
                      : "0"
                  }}
                </p>
                <img [src]="environment + '/open-eye.svg'" alt="" />
              </div>
              <div
                class="text-icon"
                style="cursor: pointer"
                (click)="openDotsDialog(item._id, i, 'recent')"
              >
                <img [src]="environment + '/dots-black.svg'" alt="" />
              </div>
            </div>
          </div>
        </mat-card>
      </swiper>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <p class="section-title">Ocultos</p>

      <div class="section-description" (click)="goToDetail('hidden')">
        <p>{{ hiddenItems.length }}</p>
        <img [src]="environment + '/arrow-left.svg'" alt="" />
      </div>
    </div>

    <div class="section-content">
      <swiper [config]="cardSwiperConfig">
        <mat-card class="card mat-elevation-z0" *ngFor="let item of hiddenItems; index as i">
          <a [routerLink]="['../article-editor/', item._id]">
            <div class="card-body">
              <div class="card-l-side">
                <h2 class="card-title">
                  {{ item.name ? item.name : "Sin nombre..." }}
                </h2>
                <p class="card-description">{{ item.description }}</p>
              </div>
              <div class="card-r-side">
                <div
                  class="featured-image"
                  [ngStyle]="{
                    backgroundImage: 'url(' + item?.images[0]?.value + ')'
                  }"
                >
                  <div class="caption" *ngIf="item.status === 'disabled'">
                    <img [src]="environment + '/closed-eye-black.svg'" alt="" />
                    Oculto al visitante
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="card-footer">
            <div class="bottom-title">
              <h3>RD $ {{ item.pricing | number }}</h3>
            </div>
            <div class="bottom-icons">
              <div class="text-icon">
                <p>{{ item.visitorCounter?.counter }}</p>
                <img [src]="environment + '/open-eye.svg'" alt="" />
              </div>
              <div
                class="text-icon"
                style="cursor: pointer"
                (click)="openDotsDialog(item._id, i, 'lessSold')"
              >
                <img [src]="environment + '/dots-black.svg'" alt="" />
              </div>
            </div>
          </div>
        </mat-card>
      </swiper>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <p class="section-title">Sin Venderse</p>

      <div class="section-description" (click)="goToDetail('notSold')">
        <p>{{ lessSoldItems.length }}</p>
        <img [src]="environment + '/arrow-left.svg'" alt="" />
      </div>
    </div>

    <div class="section-content">
      <swiper [config]="cardSwiperConfig">
        <mat-card class="card mat-elevation-z0" *ngFor="let item of notSoldItems; index as i">
          <a [routerLink]="['../article-editor/', item._id]">
            <div class="card-body">
              <div class="card-l-side">
                <h2 class="card-title">
                  {{ item.name ? item.name : "Sin nombre..." }}
                </h2>
                <p class="card-description">{{ item.description }}</p>
              </div>
              <div class="card-r-side">
                <div
                  class="featured-image"
                  [ngStyle]="{
                    backgroundImage: 'url(' + item?.images[0]?.value + ')'
                  }"
                >
                  <div class="caption" *ngIf="item.status === 'disabled'">
                    <img [src]="environment + '/closed-eye-black.svg'" alt="" />
                    Oculto al visitante
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="card-footer">
            <div class="bottom-title">
              <h3>RD $ {{ item.pricing | number }}</h3>
            </div>
            <div class="bottom-icons">
              <div class="text-icon">
                <p>
                  <!-- {{
                    item.visitorCounter.counter
                      ? item.visitorCounter.counter
                      : "0"
                  }} -->0
                </p>
                <img [src]="environment + '/open-eye.svg'" alt="" />
              </div>
              <div
                class="text-icon"
                style="cursor: pointer"
                (click)="openDotsDialog(item._id, i, 'lessSold')"
              >
                <img [src]="environment + '/dots-black.svg'" alt="" />
              </div>
            </div>
          </div>
        </mat-card>
      </swiper>
    </div>
  </div>

  <div class="section" style="margin-bottom: 105px">
    <div class="section-header">
      <p class="section-title">Todos</p>

      <div class="section-description" (click)="goToDetail('allItems')">
        <p>{{ allItems.length }}</p>
        <img [src]="environment + '/arrow-left.svg'" alt="" />
      </div>
    </div>

    <div class="section-content">
      <swiper [config]="cardSwiperConfig">
        <mat-card class="card mat-elevation-z0" *ngFor="let item of allItems; index as i">
          <a [routerLink]="['../article-editor/', item._id]">
            <div class="card-body">
              <div class="card-l-side">
                <h2 class="card-title">
                  {{ item.name ? item.name : "Sin nombre..." }}
                </h2>
                <p class="card-description">{{ item.description }}</p>
              </div>
              <div class="card-r-side">
                <div
                  class="featured-image"
                  [ngStyle]="{
                    backgroundImage: 'url(' + item?.images[0]?.value + ')'
                  }"
                >
                  <div class="caption" *ngIf="item.status === 'disabled'">
                    <img [src]="environment + '/closed-eye-black.svg'" alt="" />
                    Oculto al visitante
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="card-footer">
            <div class="bottom-title">
              <h3>RD $ {{ item.pricing | number }}</h3>
            </div>
            <div class="bottom-icons">
              <div class="text-icon">
                <p>{{ item.visitorCounter.counter }}</p>
                <img [src]="environment + '/open-eye.svg'" alt="" />
              </div>
              <div
                class="text-icon"
                style="cursor: pointer"
                (click)="openDotsDialog(item._id, i, 'mostSold')"
              >
                <img [src]="environment + '/dots-black.svg'" alt="" />
              </div>
            </div>
          </div>
        </mat-card>
      </swiper>
    </div>
  </div>

  <!-- <div class="uploadButton">
    <button mat-fab class="button" (click)="settings()">
      <mat-icon style="color: #82f18d">menu</mat-icon>
      
    </button>
  </div> -->

  <div class="sticky-bar" (click)="openDatePicker()">
    <p>{{ dateString }}</p>
    <img [src]="environment + '/dots-black.svg'" alt="" />
    <!-- <div>
      <p>VISIBLE EN: URL.COM</p>
      <img [src]="environment + '/upload.svg'" alt="">
    </div> -->
  </div>

  <!-- <div
    class="saleflows-item-grid"
    (scroll)="infinitePagination()"
    *ngIf="allItems.length && (layout === 'simple-card' || !layout)"
  >
    <a
      class="capsize"
      [routerLink]="['../article-editor', item._id]"
      *ngFor="let item of allItems; let itemIndex = index"
    >
      <app-saleflow-item
        [itemIndex]="itemIndex"
        [itemId]="item._id"
        [type]="4"
        [showViews]="true"
        [viewsCounter]="item.visitorCounter ? item.visitorCounter.counter : 0"
        [inactive]="
          item.status != 'active' && item.status != 'featured' ? true : false
        "
        [imgURL]="item.images.length ? item.images[0].value : ''"
        [price]="item.pricing"
        [showPrice]="true"
        [itemParams]="item.params"
        [responsiveWidthVersion]="true"
      ></app-saleflow-item>
    </a>
  </div>
  <div
    *ngIf="allItems.length && layout === 'description-card'"
    class="description-card-grid"
    style="
      padding: 24px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      height: calc(100vh - 98px);
      overflow-y: scroll;
      overflow-x: hidden;
    "
    (scroll)="infinitePagination()"
  >
    <a
      class="capsize"
      [routerLink]="['../article-editor', item._id]"
      *ngFor="let item of allItems; let itemIndex = index"
      style="text-decoration: none"
    >
      <app-buyer-card
        [index]="itemIndex"
        [title]="item.name"
        [description]="item.description"
        [img]="item.images?.length ? item.images[0].value : ''"
        [leftAmount]="item.pricing"
        [cta]="false"
        [ctaActive]="item.isSelected"
        [viewsCounter]="true"
        [views]="item.visitorCounter ? item.visitorCounter.counter : 0"
      ></app-buyer-card>
    </a>
  </div> -->
  <div
    [ngStyle]="{
      width: '100%',
      display: 'flex',
      flexDirection: 'column',
      height: '80px',
      justifyContent: 'center'
    }"
    *ngIf="paginationState.status === 'loading'"
  >
    <app-dot-loader></app-dot-loader>
  </div>
</div>
