* {
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

.container {
    min-height: 100vh;
}

.header {
    padding: 0 18px;
    height: 47px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    .img {
        cursor: pointer;
        width: 31px;
        height: 31px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #e9e371;
    }

    .tag {
        cursor: pointer;
        padding: 5px 0;
        font-size: 15px;
        line-height: 15px;
        color: #272727;
        font-family: "SfProSemiBold";
        transition: all 0.2s;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;

        &.active {
            padding: 5px 5%;
            border-radius: 14px;
            background: #f4f4f4;
            font-family: "SfProHeavy";
        }
    }

    .dotsIcon {
        cursor: pointer;
        padding: 8px;
        display: flex;

        img {
            width: 18px;
            height: auto;
            filter: invert(6%) sepia(90%) saturate(31%) hue-rotate(314deg) brightness(105%) contrast(81%);
        }
    }
}
.contents {
    padding: 0 20px;
    margin-top: 6px;
}

.newCollection {
    font-size: 17px;
    font-family: "SfProLight";
    text-align: center;
    color: #272727;

    & > * {
        display: block;
        margin: auto;
    }

    img {
        width: 110px;
        height: 112px;
        object-fit: cover;
    }
    .button {
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 15px;
        width: 100%;
        padding: 6px;
        font-family: "SfProMedium";
        color: #ffffff;
        border-radius: 12px;
        font-size: 15px;
        background-color: #2874ad;
    }
    .text2 {
        color: #7b7b7b;
    }
}

.cardsBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
