<div class="container">
  <header class="header">
    <div class="left">
      <button><img src="" class="img" /></button>
      <p class="title">MerchantID</p>
    </div>

    <div class="right">
      <button>
        <img class="listIcon" [src]="environment + '/receipt.svg'" />
      </button>
      <button class="blackButton">
        <p>Programas</p>
        <img class="starIcon" [src]="environment + '/star.svg'" />
      </button>
    </div>
  </header>
  <div class="contents">
    <app-options-bar
      [type] = "'3'"
      [options]="tags"
      (selectedIndex)="selectTag($event)">
    </app-options-bar>
  </div>
  <section *ngIf = "selected == 0">
    <div class="saleflows-item-grid" *ngIf="articulos.length">
      <div
        class="capsize"
        *ngFor="let item of articulos; let itemIndex = index">
        <app-saleflow-item
          [itemIndex]="itemIndex"
          [itemId]="item._id"
          [type]="4"
          [showViews]="true"
          [viewsCounter]="
            item.visitorCounter ? item.visitorCounter.counter : 0
          "
          [inactive]="
            item.status != 'active' && item.status != 'featured'
              ? true
              : false
          "
          [imgURL]="item.images.length ? item.images[0].value : ''"
          [price]="item.pricing"
          [showPrice]="true"
          [tags]="item.tagsFilled"
          [itemParams]="item.params"
          [responsiveWidthVersion]="true"
          [featured]="item.status === 'featured'"
        ></app-saleflow-item>
      </div>
    </div>
  </section>
  <div class="uploadButton">
    <button class="button">
      <img class="icon" [src]="environment + '/upload.svg'" />
    </button>
  </div>
</div>
