<div class="container">
    <div class="icon" (click)="close()">
        <mat-icon>close</mat-icon>
    </div>
    <div class="title">
        Programa de Referencias Multi-Nivel
    </div>
    <div class="flex">
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="41" viewBox="0 0 42 41" fill="none">
                <circle cx="20.687" cy="20.1069" r="8.10105" fill="white"/>
                <circle cx="10.305" cy="32.5804" r="5.09408" fill="#F7D455"/>
                <circle cx="5.09408" cy="23.0316" r="5.09408" fill="#F7D455"/>
                <circle cx="20.5003" cy="35.9066" r="5.09408" fill="#F7D455"/>
                <circle cx="30.9925" cy="32.4359" r="5.09408" fill="#F7D455"/>
                <circle cx="36.3363" cy="22.8871" r="5.09408" fill="#F7D455"/>
                <circle cx="34.6097" cy="12.182" r="5.09408" fill="#F7D455"/>
                <circle cx="26.0628" cy="5.09408" r="5.09408" fill="#F7D455"/>
                <circle cx="14.93" cy="5.23861" r="5.09408" fill="#F7D455"/>
                <circle cx="6.54721" cy="12.3265" r="5.09408" fill="#F7D455"/>
                <line x1="24.5913" y1="10.3246" x2="23.697" y2="12.4111" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="16.9572" y1="9.88226" x2="18.1495" y2="11.8198" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="11.235" y1="14.6161" x2="13.4706" y2="15.6594" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="10.0731" y1="21.729" x2="12.4577" y2="21.4309" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="13.3321" y1="28.466" x2="14.9716" y2="26.3794" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="20.237" y1="30.8496" x2="20.237" y2="28.1668" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="27.3588" y1="28.4811" x2="25.7193" y2="26.5436" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="30.9112" y1="22.831" x2="28.5265" y2="22.3838" stroke="#F7D455" stroke-width="0.963582"/>
                <line x1="30.4733" y1="15.4837" x2="28.3867" y2="16.527" stroke="#F7D455" stroke-width="0.963582"/>
            </svg>
        </div>
        <div class="desc">
            Este programa te brinda una posibilidad de incrementar tus ingresos sin límites.
        </div>
    </div>
    <div class="sub-title">
        COMO FUNCIONA
    </div>
    <div class="text">
        De los US$0.30 que recolecta la plataforma por cada venta generada por los miembros, TU como Embajador ganas el 15% de cada invitado directo y el 10% de cada indirecto (miembros que invitaron tus referidos).
    </div>
    <div class="yellow-bold">
        Si empiezas durante ProFlora recibirás un sello con un QR y quienes escaneen quedarán enlazado a ti.
    </div>
    <div class="yellow">
        Caso de uso:<br>
        Es una manera fácil de invitar en las facturas que enmtregas a tus clientes.
    </div>
</div>
<div class="footer" (click)="openEmailDialog()">Empieza, juntos es mejor!!</div>