<div class="container">
  <mat-icon class="back-icon"> arrow_back_ios </mat-icon>
  <p class="title">Selecciona el artículo que le vendes a floristerias:</p>
  <div class="search-bar-container">
    <div class="search-bar-icon-container">
      <mat-icon>search</mat-icon>
    </div>
    <input />
  </div>
  <div class="items-container">
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
    <div class="item">
      <div class="item-card"></div>
      <div class="item-text">NombreId</div>
    </div>
  </div>
</div>
