<ng-template #merchantInfo>
  <div
    class="icon"
    [style.background]="
      _DomSanitizer.bypassSecurityTrustStyle(
        'url(' +
          headerService.saleflow?.merchant?.image +
          ') no-repeat center center / cover #e9e371'
      )
    "
  ></div>
  <p class="title">
    {{
      headerService.saleflow?.merchant?.name.length < 26
        ? headerService.saleflow?.merchant?.name
        : (headerService.saleflow?.merchant?.name.slice(0, 26) + ".." ||
            "Tienda" | titlecase)
    }}
  </p>
</ng-template>

<div class="container">
  <nav
    class="header"
    [ngStyle]="{
      backgroundColor:
        headerService.user?._id === headerService.saleflow?.merchant.owner._id
          ? '#2874AD'
          : '#272727'
    }"
  >
    <a
      style="all: unset; cursor: pointer"
      class="merchant-info"
      [routerLink]="[
        '/ecommerce',
        headerService.saleflow?.merchant.slug,
        'contact-landing',
        headerService.saleflow?.merchant.owner._id
      ]"
      *ngIf="
        headerService.user?._id === headerService.saleflow?.merchant.owner._id
      "
    >
      <ng-template [ngTemplateOutlet]="merchantInfo"></ng-template>
    </a>
    <div
      class="merchant-info"
      *ngIf="
        headerService.user?._id !== headerService.saleflow?.merchant.owner._id
      "
    >
      <ng-template [ngTemplateOutlet]="merchantInfo"></ng-template>
    </div>

    <p class="title" style="margin-left: 8px">{{ title }}</p>
    <button class="arrow-btn" [routerLink]="['../store']">
      <img class="icon" [src]="environment + '/arrow-double-up.svg'" />
    </button>
  </nav>
  <div class="collection-view" *ngIf="status === 'complete' && tags?.length">
    <a
      *ngFor="let tag of tags"
      [routerLink]="['../article-detail/collection/', tag._id]"
    >
      <app-buyer-card
        [title]="tag.name"
        [description]="tag.notes"
        [img]="tag.images.length ? tag.images[0] : ''"
        [leftAmount]="tag.priceMin"
        [rightAmount]="tag.priceMax"
      ></app-buyer-card>
    </a>
  </div>
  <div class="margin flex" *ngIf="status === 'complete' && !tags?.length">
    <h3>No hay colecciones creadas</h3>
  </div>
</div>
