* {
    margin: 0;
  }
  
  ::ng-deep .cdk-overlay-pane {
    width: 100%;
    max-width: 500px !important;
  }
  
  ::ng-deep  .mat-bottom-sheet-container {
    padding-top: 0px;
    min-width: 100%;
    // margin: auto;
    box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024,
      0 6px 30px 5px #0000001f;
    background: #171d16;
  }
  
  .container {
    padding-top: 30px;
    min-height: 100vh;
    .icon {
  
      color: #C4C5C3;
      margin-bottom: 15px;
      margin-left: 26px;
    }
    .title {
      color: #FFF;
      font-family: Inter;
      font-size: 19px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      margin: 12px auto 18px;
    }
    .tabs-container {
      margin-left: 20px;
      .title {
        color: #C4C5C3;
        margin-top: 30px;
        margin-left: 11.72px;
        font-size: 14px;
        margin: 46px auto 10px auto;
        padding-left: 12px;
      }
      .tab-question {
        font-size: 19px;
        color: white;
        font-weight: 600;
        font-family: InterRegular;
        margin: 17px 14px;
      }
      .tab-content-item {
        font-size: 17px;
        font-family: InterRegular;
        padding-left: 12px;
        padding-right: 12px;
        line-height: normal;
        color: #C4C5C3;
        margin-bottom: 12px;
        border-left: 2px solid #87CD9B;
      }
    
      .tab-content-item span.subText {
        font-size: 15px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      padding-left: 11px;
      padding-bottom: 34px;
    
      li {
        list-style: none;
        // display: flex;
        align-items: center;
        justify-content: flex-end;
    
        &:not(:first-child) {
          margin-top: 8px;
        }
    
        a {
          color: #c4c5c3;
          font-family: InterRegular;
          font-size: 17px;
        }
    
        .icon {
          position: absolute;
          visibility: hidden;
          right: 17px;
        }
    
        &.active {
          color: #87cd9b;
    
          a {
            color: #87cd9b;
          }
    
          .icon {
            visibility: visible;
            // color: #87cd9b;
          }
        }
      }
    
      .features-for-user {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-left: 17px;
    
        &:not(:first-child) {
          margin-top: 26px;
        }
    
        h4 {
          margin: 0px;
          padding: 0px;
          color: #fff;
          text-align: center;
          font-family: InterBold;
          font-size: 24px;
          font-style: normal;
          line-height: normal;
          margin-bottom: 9px;
        }
    
        p {
          margin: 0px;
          padding: 0px;
          color: #fff;
          text-align: center;
          font-family: InterMedium;
          font-size: 19px;
          font-style: normal;
          line-height: normal;
        }
      }
    
      .text-list {
        margin-top: 15px;
        list-style: inside;
        display: list-item;
        color: #fff;
        font-family: InterRegular;
        font-size: 15px;
        font-style: normal;
        line-height: normal;
    
        &::marker {
          margin-right: 10px;
        }
    
        .title {
          position: relative;
          left: -5px;
          color: #fff;
          font-family: InterBold;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
    
        .list-content {
          position: relative;
        }
      }
    }
  }
  .footer {
    color: #181D17;
    text-align: center;
    font-family: InterBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: sticky;
    bottom: 0px;
    background-color: #87CD9B;
    padding-top: 9px;
    padding-bottom: 3px;
  }