<div class="main-container">
  <div class="top-button-flex" *ngIf="topButton">
    <button class="top-button" (click)="return()">Volver atrás</button>
  </div>
  <div class="body">
    <span class="info-title" *ngIf="extraTitle">{{extraTitle}}</span>
    <h1 class="title">{{ title }}</h1>

    <button
    class="center-button"
    [style.color]="btnColor"
    [style.Background]="btnBackgroundColor"
    [style.fontFamily]="btnFontFamily"
    [style.fontSize]="btnFontSize"
    [style.maxWidth]="btnMaxWidth"
    [style.width]="btnWidth"
    [style.padding]="btnPadding"
    (click)="buttonAction()">{{ buttonText }}</button>

    <p class="main-text">{{ mainText }}</p>
  </div>
</div>
