.container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.title {
		padding: 20px 0;
		margin: 0 24px;
		border-bottom: solid 2px #e7e7e7;

		.headline {
			font-weight: 100;
			margin: 0;
			font-family: "RobotoMedium";
			font-size: 16px;
			color: #7b7b7b;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}
	}

	.question-area {
		padding: 4px 4px 16px;
		margin: 0 24px;
		border-bottom: solid 2px #e7e7e7;

		.column-style{
			display: flex;
			flex-direction: column;

			.column-answer{
					font-family: 'RobotoRegular';
					font-size: 17px;
					color: #0B1F38;
					margin-bottom: 21px;
			}

			.column-date{
					font-family: 'RobotoRegular';
					font-size: 13px;
					color: #7B7B7B;
			}

	}

		.wrapper {
			display: flex;
			align-items: baseline;
			gap: 10px;
			padding: 4px 0;

			.date {
				font-family: "RobotoRegular";
				font-size: 13px;
				color: #7b7b7b;
			}
			.answer {
				margin: 0;
				font-family: "RobotoRegular";
				font-size: 17px;
				color: #0b1f38;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.end-area {
		display: flex;
		align-items: center;
		margin: 0 24px;
		padding: 6px 0;

		.total {
			all: unset;
			font-family: "SfProBold";
			font-size: 14px;
			color: #2874ad;
			padding: 8px;
			cursor: pointer;

			&:hover {
				opacity: 0.75;
			}
		}
	}
}
