.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px 21px 12px 25px;

    .title{
        display: flex;
        align-items: center;
        margin-left: 9px;

        .headline{
            font-family: 'RobotoMedium';
            font-size: 16px;
            color: #7B7B7B;
        }
    }

    .separator{
        all: unset;
        width: 100%;
        height: 2px;
        background-color: rgba(112, 112, 112, 17%);
        margin: 21px 0 9px;
    }

    .question-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5px;

        .wrapper{
            display: flex;
            align-items: baseline;

            .date{
                font-family: 'RobotoRegular';
                font-size: 13px;
                color: #7B7B7B;
                margin-right: 10px;
            }

            .answer{
                font-family: 'RobotoRegular';
                font-size: 17px;
                color: #0B1F38;
                margin-bottom: 7px;
            }

        }
    }

    .separator1{
        all: unset;
        width: 100%;
        height: 2px;
        background-color: rgba(112, 112, 112, 17%);
        margin: 17px 0 5px;
    }

    .end-area{
        display: flex;
        align-items: center;

        .total{
            font-family: 'SfProBold';
            font-size: 14px;
            color: #2874AD;
        }
    }
}