<div class="container">
    <ng-container *ngIf="!single">
        <div class="title" [ngStyle]="{'justify-content': 'flex-start'}">
            <h1 class="headline">{{headline}}</h1>
            <!-- <img [src]="env + icon" alt="Icono de una persona" width="14px" height="19px" *ngIf=""> -->
        </div>

        <hr class="separator">

        <div class="question-area" [ngStyle]="{'justify-content': data[0].image? 'unset': '', 'flex-direction': data[0].image? 'unset': ''}">
            <div class="wrapper" *ngFor="let questions of data; index as i">
                <h2 class="date" *ngIf="!questions?.image">{{questions.date}}</h2>
                <p class="answer" *ngIf="!questions?.image">{{questions.answer}}</p>

                <img [src]="env + questions?.image" alt="Imagen subido por el usuario para la pregunta" class="image-upload" *ngIf="questions?.image">
            </div>
        </div>

        <hr class="separator1">

        <div class="end-area" [ngStyle]="{'justify-content': 'flex-end'}">
            <!-- <button class="display">AQUI VA LO QUE DESPLIEGA <span><i class="fas fa-chevron-right"></i></span> <span><i class="fas fa-chevron-down"></i></span></button> -->
            <h3 class="total">{{total}} RESPUESTAS</h3>
        </div>
    </ng-container>

    <ng-container *ngIf="single">
        <div class="title" [ngStyle]="{'justify-content': 'flex-start'}" *ngFor="let questions of data; index as i">
            <h1 class="headline">{{questions.question}}</h1>
            <!-- <img [src]="" alt=""> -->
        </div>

        <hr class="separator">

        <div class="question-area" [ngStyle]="{'align-items': 'unset'}">
            <div class="column-style" *ngFor="let questions of data; index as i">
                
                <p class="column-answer">{{questions.answer}}</p>
                
                <h2 class="column-date">{{questions.date}}</h2>
            </div>
        </div>
    </ng-container>
</div>
