<div class="container">
    <div class="title">
        <h1 class="headline">{{headline}}</h1>
        <!-- <img [src]="" alt=""> -->
    </div>

    <ng-container *ngIf="!single">
        <div class="question-area">
            <div class="wrapper" *ngFor="let questions of data; index as i">
                <span class="date">{{questions.date}}</span>
                <p class="answer">{{questions.answer}}</p>
            </div>
        </div>

        <div class="end-area" [ngStyle]="{'justify-content': 'flex-end'}">
            <!-- <button class="display">AQUI VA LO QUE DESPLIEGA <span><i class="fas fa-chevron-right"></i></span> <span><i class="fas fa-chevron-down"></i></span></button> -->
            <button class="total">{{total}} RESPUESTAS</button>
        </div>
    </ng-container>
</div>
