<div class="container">
  <header class="header" *ngIf="!isOrderFromAQuotation">
    <div class="left-area">
      <a style="cursor: pointer">
        <i class="fas fa-chevron-left" (click)="goBack()"></i
      ></a>
      <p class="title">
        Artículos a facturarse
        <!-- {{
          headerService.saleflow?.merchant?.name.length < 26
            ? headerService.saleflow?.merchant?.name
            : (headerService.saleflow?.merchant?.name.slice(0, 26) + ".." ||
                "Tienda" | titlecase)
        }} -->
      </p>
    </div>
    <div class="right-area">
      <span class="header-text" *ngIf="logged || headerService.user">
        {{ currentUser?.name || currentUser?.phone || currentUser?.email }}
      </span>
      <!-- <img [src]="env + '/person.svg'" alt="Icono de una persona" /> -->
    </div>
  </header>

  <header class="header quotation" *ngIf="isOrderFromAQuotation">
    <div class="left-area">
      <button class="close" (click)="goBack()">X</button>
      <p class="title">
        {{
          !isOrderFromAQuotation
            ? "Artículos a facturarse"
            : (quotationsService.quotationInCart
                ? quotationsService.quotationInCart.name
                : quotationsService.selectedTemporalQuotation.name) +
              " en " +
              (headerService.saleflow?.merchant?.name.length < 26
                ? headerService.saleflow?.merchant?.name
                : (headerService.saleflow?.merchant?.name.slice(0, 26) + ".." ||
                    "Tienda" | titlecase))
        }}
        <!-- {{
          headerService.saleflow?.merchant?.name.length < 26
            ? headerService.saleflow?.merchant?.name
            : (headerService.saleflow?.merchant?.name.slice(0, 26) + ".." ||
                "Tienda" | titlecase)
        }} -->
      </p>
    </div>

    <div class="right-area">
      <div class="share-btn" (click)="shareQuotation()">
        <span>Compara precios</span>
        <img [src]="env + '/share-icon2.svg'" alt="Icono de una persona" />
      </div>
    </div>
  </header>

  <main
    [ngClass]="{
      quotation: isOrderFromAQuotation
    }"
  >
    <ng-container
      *ngTemplateOutlet="
        itemCard;
        context: {
          arrayOfItems: items
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        itemCard;
        context: {
          arrayOfItems: quotationItemsNotAvailableOrNotInSaleflow,
          notAvailableItems: true
        }
      "
    ></ng-container>

    <h5 class="cta-title" (click)="goToStore()">Adiciona otros artículos</h5>

    <!-- TODO: acomodar esto por estilos de verdad -->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </main>

  <footer *ngIf="!isOrderFromAQuotation">
    <div style="text-align: center">
      <button
        mat-button
        class="cta"
        [ngClass]="{
          valid: areWebformsValid
        }"
        [disabled]="!areWebformsValid"
        (click)="openSubmitDialog()"
      >
        {{ !areWebformsValid ? "Llena las preguntas" : "Continuar" }}
      </button>
    </div>
  </footer>

  <footer class="quotations-footer" *ngIf="isOrderFromAQuotation">
    <button class="continue-order" (click)="openSubmitDialog()">
      Sigue con la orden de Compra
    </button>

    <span class="total-label">Total: ${{ totalPrice | number : "1.2-2" }}</span>
  </footer>
</div>

<qrcode
  *ngIf="quotationLink"
  style="display: none"
  #quotationQrCode
  [qrdata]="quotationLink"
  [elementType]="'img'"
  [width]="500"
  [errorCorrectionLevel]="'M'"
  [allowEmptyString]="true"
  colorDark="#000000"
></qrcode>

<ng-template
  #itemCard
  let-arrayOfItems="arrayOfItems"
  let-notAvailableItems="notAvailableItems"
>
  <mat-card
    class="card"
    [ngClass]="{
      quotation: isOrderFromAQuotation
    }"
    *ngFor="let item of arrayOfItems; index as i"
  >
    <div class="card-header flex">
      <div class="left-side flex">
        <div
          class="featured-image"
          [ngStyle]="{
            backgroundImage: item?.images?.length
              ? 'url(' +
                item.images[0].value +
                '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
              : 'url(/assets/images/noimage.png)'
          }"
          *ngIf="
            !item.images.length ||
            !item.images ||
            (item.images?.length && !urlIsVideo(item.images[0].value))
          "
          (click)="goToArticleDetail(item._id)"
        ></div>

        <div
          class="featured-image video-wrapper"
          [ngStyle]="{
            backgroundImage:
              'url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
          }"
          *ngIf="item.images?.length && urlIsVideo(item.images[0].value)"
        >
          <img
            src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/playIcon.svg"
            alt="play"
            class="playVideoIcon"
            style="padding: 1rem !important; z-index: 99"
            (click)="goToArticleDetail(item._id)"
          />

          <video
            [src]="item.images[0].value"
            [id]="'media' + item._id"
            class="video"
            [muted]="true"
          ></video>
        </div>

        <div class="item-info-container">
          <p class="main-text">
            {{ item?.name ? item?.name : "Artículo sin nombre" }}
          </p>
          <p class="greyout-text" *ngIf="item?.description">
            {{ truncateString((item?.description).trim(), 38) }}
          </p>
          <p class="main-text" style="margin-top: 3px">
            ${{
              item.pricing * itemObjects[item._id]?.amount | number : "1.2-2"
            }}
          </p>
        </div>
      </div>
      <div class="right-side">
        <div
          class="item-quantity"
          [ngClass]="{
            deactivated: notAvailableItems
          }"
        >
          <div class="quantity">
            <span
              mat-button
              class="button icon"
              (click)="
                !notAvailableItems ? changeAmount(item._id, 'subtract') : null
              "
            >
              {{ itemObjects[item._id]?.amount > 1 ? "-" : "" }}
              <mat-icon
                *ngIf="itemObjects[item._id]?.amount === 1"
                style="font-size: 19px; width: 23px"
                >delete</mat-icon
              >
            </span>

            <span style="position: relative; bottom: 2px">{{
              itemObjects[item._id]?.amount
            }}</span>
            <span
              mat-button
              class="button icon"
              (click)="
                !notAvailableItems ? changeAmount(item._id, 'add') : null
              "
              >+</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="webformsByItem[item._id]?.webform">
      <hr style="border: #e9e9e9 1px solid" />
      <div
        class="section"
        *ngFor="
          let question of webformsByItem[item._id].webform.questions;
          let i = index
        "
      >
        <img
          style="cursor: pointer"
          [src]="env + '/arrow-green.svg'"
          alt="required question"
          *ngIf="
            question.required &&
            !answersByQuestion[question._id]?.response &&
            !answersByQuestion[question._id]?.multipleResponses?.length
          "
          class="required-question-pointer"
          (click)="openWebform(item._id, i)"
        />

        <p
          class="section-title"
          [ngClass]="{
            required:
              question.required &&
              !answersByQuestion[question._id]?.response &&
              !answersByQuestion[question._id]?.multipleResponses?.length
          }"
          (click)="openWebform(item._id, i)"
        >
          {{ capitalize(question.value) }}
        </p>

        <!--RESPUESTA UNICA-->
        <ng-container
          *ngIf="
            answersByQuestion[question._id] &&
            ((question.answerLimit === 1 &&
              ['multiple-text', 'multiple'].includes(question.type)) ||
              (!['multiple-text', 'multiple'].includes(question.type) &&
                question.answerLimit === 0) ||
              (!['multiple-text', 'multiple'].includes(question.type) &&
                question.answerLimit === 1))
          "
        >
          <!-- RESPONSE HAS NO IMAGES-->
          <ng-container *ngIf="!answersByQuestion[question._id].isMedia">
            <div
              class="section-description"
              *ngIf="
                answersByQuestion[question._id]?.response &&
                !answersByQuestion[question._id]?.responseLabel &&
                !answersByQuestion[question._id].isMedia
              "
            >
              {{
                question.answerTextType !== "number"
                  ? capitalize(answersByQuestion[question._id]?.response)
                  : answersByQuestion[question._id]?.response
              }}
            </div>

            <div
              class="section-description"
              *ngIf="
                answersByQuestion[question._id]?.response &&
                answersByQuestion[question._id]?.responseLabel &&
                !answersByQuestion[question._id].isMedia
              "
            >
              {{
                question.type === "text" && question.answerTextType === "name"
                  ? capitalize(
                      answersByQuestion[question._id]?.response +
                        " " +
                        answersByQuestion[question._id]?.responseLabel
                    )
                  : capitalize(answersByQuestion[question._id]?.responseLabel)
              }}
            </div>
          </ng-container>

          <!-- RESPONSE HAS IMAGES AND USER HAS ALREADY ANSWERED-->
          <div
            class="question-media-response"
            *ngIf="
              (answersByQuestion[question._id]?.response ||
                answersByQuestion[question._id]?.responseLabel) &&
              answersByQuestion[question._id].isMedia &&
              !this.webformsByItem[item._id].opened
            "
          >
            <app-closed-question-card
              [id]="'multiple-choices-single-selection'"
              [shadows]="false"
              [labelStyles]="{
                fontFamily: 'SfProRegular',
                color: '#000',
                fontSize: '15px'
              }"
              [containerStyles]="{ padding: '0px' }"
              [question]="question"
              [multiple]="!question.answerLimit || question.answerLimit > 1"
              [isMediaSelection]="question.answerDefault[0].isMedia"
              [required]="question?.required"
              (onSelector)="selectOption(question, item, true, $event)"
            >
            </app-closed-question-card>
          </div>
        </ng-container>

        <!--RESPUESTA MULTIPLE-->
        <ng-container
          *ngIf="
            answersByQuestion[question._id] &&
            (question.answerLimit === 0 || question.answerLimit > 1) &&
            ['multiple-text', 'multiple'].includes(question.type)
          "
        >
          <!-- RESPONSE HAS NO IMAGES-->
          <ng-container *ngIf="answersByQuestion[question._id]">
            <div
              class="question-media-response"
              *ngIf="
                answersByQuestion[question._id]?.multipleResponses &&
                !this.webformsByItem[item._id].opened
              "
            >
              <app-closed-question-card
                [id]="'multiple-choices-multiple-selection'"
                [shadows]="false"
                [labelStyles]="{
                  fontFamily: 'SfProRegular',
                  color: '#000',
                  fontSize: '15px'
                }"
                [containerStyles]="{ padding: '0px' }"
                [multiple]="!question.answerLimit || question.answerLimit > 1"
                [isMediaSelection]="question.answerDefault[0].isMedia"
                [question]="question"
                [required]="question?.required"
                (onSelector)="selectOption(question, item, true, $event)"
              >
              </app-closed-question-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div
      class="card-footer"
      *ngIf="(itemObjects[item._id]?.amount > item.stock || !item.stock) && item.useStock"
    >
      * Probablemente no tengan esta cantidad
    </div>
  </mat-card>
</ng-template>
