.container {
  min-height: 100vh;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 23px;
  background-color: #181d17;

  &.quotation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12.49px 7px 17px;
    height: auto;

    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));

    .title {
      color: #272727;
      font-family: InterBold;
      text-transform: capitalize;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      width: 80%;
    }

    .close {
      color: #c4c5c3;
      text-align: right;
      font-family: InterLight;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding: 0px;
      margin: 0px;
      border: none;
      background: transparent;
    }

    .left-area {
      display: flex;
      gap: 8px;
      justify-content: flex-start;
      align-items: center;

      i {
        color: #7b7b7b;
        font-size: 1.2rem;
        margin-top: 2px;
      }
    }

    .right-area {
      display: flex;
      align-items: flex-end;

      .share-btn {
        display: flex;
        align-items: flex-end;
        color: #181d17;
        font-family: InterLight;
        font-size: clamp(9px, 3vw, 14px);
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        span {
          width: 112px;

          @media (max-width: 400px) {
            width: 94px;
          }
        }

        img {
          margin-left: 5.65px;
        }
      }

      .header-text {
        font-family: "RobotoRegular";
        font-size: 0.875rem;
        color: #c4c5c3;
        margin-right: 6px;
      }

      img {
        width: 14px;
        margin: 0;
        filter: brightness(2);
      }
    }
  }

  .title {
    color: #c4c5c3;
    font-family: SfProBold;
    font-size: 17px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  img {
    width: 35px;
    margin-left: 15%;
    cursor: pointer;
  }

  .left-area {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    i {
      color: #7b7b7b;
      font-size: 1.2rem;
      margin-top: 2px;
    }
  }

  .right-area {
    display: flex;
    align-items: flex-end;

    .header-text {
      font-family: "RobotoRegular";
      font-size: 0.875rem;
      color: #c4c5c3;
      margin-right: 6px;
    }

    img {
      width: 14px;
      margin: 0;
      filter: brightness(2);
    }
  }
}

main {
  margin: 22px 16px;

  &.quotation {
    margin: 15px 18px;
  }
}

.card {
  border-radius: 7px;
  box-shadow: none;
  margin-bottom: 19px;

  &.quotation {
    margin-bottom: 9px;
  }

  .card-header {
    justify-content: space-between;
    .left-side {
      justify-content: flex-start;
      width: 64%;
      .featured-image {
        cursor: pointer;
        width: 82px;
        height: 81px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 10px;
        border: 0.001px solid lightgray;

        &.video-wrapper {
          position: relative;
        }

        .video {
          all: unset;
          width: 100%;
          height: 100%;
          position: relative;
          cursor: pointer;

          .item-video {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 6px;
          }

          &::before {
            content: "\a";
            position: absolute;
            top: 20px;
            left: 30px;
            width: 40px;
            height: 32px;
            box-sizing: border-box;
            border-style: solid;
            border-width: 15px 0 15px 30px;
            border-color: transparent transparent transparent #ffffff;
            opacity: 1;
          }

          &:after {
            content: "\A";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            border-radius: 6px;
          }

          &:hover:after {
            opacity: 1;
          }
        }
      }
    }
    .right-side {
      .header-text {
        text-transform: capitalize;
      }
    }
    .item-info-container {
      width: 55.35%;
      margin-left: 8px;
      p {
        font-family: "InterRegular";
        &.main-text {
          font-size: 17px;
          color: #181d17;
        }
        &.greyout-text {
          font-size: 13px;
          color: #7b7b7b;
          line-height: 13.65px;
          word-wrap: break-word;
          padding-top: 5px;

          -webkit-line-clamp: 3;
          line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .card-body {
    margin-top: 1em;
    margin-bottom: 1em;

    .section {
      position: relative;
      margin-top: 58px;
      .section-title {
        cursor: pointer;
        font-size: 17px;
        margin-bottom: 0.7em;
        font-family: "InterRegular";
        color: #7b7b7b;

        &.required {
          max-width: 75%;
        }
      }
      .section-description {
        cursor: pointer;
        font-size: 13px;
        font-family: InterRegular;
        color: #7b7b7b;
      }

      .question-text-response {
        margin-top: 5px;
        list-style: none;
        color: #7b7b7b;
        word-break: break-word;
      }

      .required-question-pointer {
        position: absolute;
        right: -32px;
        top: -18px;
      }
    }

    .section:nth-child(2) {
      margin-top: 20px !important;
    }
  }

  .card-footer {
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: #7b7b7b;
    font-family: "InterRegular";
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  max-width: 500px;
  width: 100%;
  background-color: #181d17;
  padding: 20px 16px;

  .form {
    // margin-left: 2em;
    margin-bottom: 1.5em;
    .checkbox {
      color: #fff;
      font-family: InterRegular;
    }

    span {
      color: #fff;
      margin-left: 1em;
    }
  }

  .cta {
    cursor: pointer;
    color: #181d17;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    color: #181d17;
    background-color: #7b7b7b;
    font-family: InterBold;
    font-size: 16px;

    &.valid {
      background-color: #87cd9b;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.quotations-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: 500px;
  background: var(--el-verdecito, #87cd9b);
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin: auto;

  .continue-order {
    border: none;
    color: #181d17;
    font-family: InterBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

    &:hover {
      cursor: pointer;
    }
  }

  .total-label {
    color: var(--el-mas-oscuro, #181d17);
    text-align: right;
    font-family: InterRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.flex {
  display: flex;
}

.grayout-label {
  color: #7b7b7b;
  font-size: 16px;
  font-family: "InterSemiBold";
}

.required-question-pointer {
  position: absolute;
  right: -32px;
  top: -18px;
}

.small-arrow-green {
  position: absolute;
  right: -16px;
  top: 0px;
}

.item-quantity {
  border: 1px solid #c4c5c3;
  border-radius: 20px;
  padding: 1px 10px;

  &.deactivated {
    background-color: darken($color: #fff, $amount: 3);
  }

  .quantity {
    span {
      font-size: 17px;
      color: #000;
      font-family: "InterRegular";

      &.button {
        cursor: pointer;

        &.icon {
          font-size: 28px;
          font-family: "InterSemiBold";
        }

        &.deactivated {
          color: lighten($color: #000, $amount: 50);
          cursor: not-allowed;
        }
      }

      &.disabled {
        color: rgba(0, 0, 0, 0.4);
        cursor: not-allowed;
      }
    }

    span:nth-child(1),
    span:nth-child(2) {
      margin-right: 20px;
    }
  }
}

.cta-title {
  cursor: pointer;
  font-family: InterBold;
  color: #189ac1;
  font-size: 17px;
}

.mat-checkbox ::ng-deep .mat-checkbox-frame {
  background-color: white;
  border-color: #707070;
  border-radius: 4px;
  height: 18px;
  width: 18px;
  border-width: thin;
}

.mat-checkbox ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  color: #fff;
}

::ng-deep .mat-checkbox.mat-checkbox-checked .mat-checkbox-background {
  background-color: #87cd9b;
}

@media (max-width: 374px) {
  .left-side {
    width: 60% !important;
  }
}

.original-price{
  text-align: left; 
  margin-left: -2px; 
  float: left;
  color: #7b7b7b;
  text-decoration: line-through;
  padding-right: 15px;

}
