.container {
    min-height: 100vh;
}

p {
  margin: 0;
}

.header {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 23px;
    background-color: #181D17;

    .title {
      color: #C4C5C3;
      font-family: SfProBold;
      font-size: 17px;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    img {
      width: 35px;
      margin-left: 15%;
      cursor: pointer;
    }
    
    .left-area {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;

        i {
            color: #7B7B7B;
            font-size: 1.2rem;
            margin-top: 2px;
        }
    }

    .right-area {
      display: flex;
      align-items: flex-end;

      .header-text {
        font-family: "RobotoRegular";
        font-size: 0.875rem;
        color: #C4C5C3;
        margin-right: 6px;
      }

      img {
        width: 14px;
        margin: 0;
        filter: brightness(2);
      }
    }
}

main {
    margin: 22px 16px;
}

.card {
    box-shadow: none;
    margin-bottom: 19px;

    .card-header {
      justify-content: space-between;
      .left-side {
        .featured-image {
          width: 82px;
          height: 81px;
          background-color: #7B7B7B;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          border-radius: 10px;
        }

        .item-quantity {
          margin-left: 10px;
          .quantity {
            margin-top: 1.2em;
            span {
              margin-right: 20px;
              font-size: 40px;
              color: #000;
              font-family: "InterSemiBold";
            }
          }
        }
      }
      .right-side {

      }
    }

    .card-body {
      margin-top: 2em;
      margin-bottom: 1em;

      .section {
        margin-top: 2em;
        .section-title {
          font-size: 17px;
          margin-bottom: 0.7em;
        }
        .section-description {
          font-size: 17px;
          font-family: InterRegular;
        }
      }
    }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  max-width: 500px;
  width: 100%;
  background-color: #181D17;
  padding: 20px 15px;

  .form {
    margin-left: 2em;
    margin-bottom: 1.5em;
    .checkbox {
      color: #FFF;
      font-family: InterRegular;
    }
  }

  .cta {
    background-color: #87CD9B;
    color: #181D17;
    padding: 10px;
    width: 95%;
    border-radius: 30px;
    text-align: center;
  }
}

.flex {
  display: flex;
}

.grayout-label {
  color: #7B7B7B;
  font-size: 16px;
  font-family: "InterSemiBold";
}