<div class="container">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    "
    *ngIf="ordersReadyToDeliver.length === 0"
  >
    <h2>No hay facturas que mostrar</h2>
    <button
      mat-button
      style="background-color: #fed230; color: #293628"
      *ngIf="redirectTo"
      (click)="returnEvent()"
    >
      Volver
    </button>
  </div>

  <ng-container *ngIf="ordersReadyToDeliver.length > 0">
    <swiper
      #ordersSwiper
      [config]="swiperConfig"
      (slideChange)="updateCurrentSlideData($event)"
    >
      <div
        class="slide"
        *ngFor="let deliveryOrder of ordersReadyToDeliver; let i = index"
      >
        <ng-container *ngIf="isPopulated(deliveryOrder)">
          <!-- <header class="header">
            <div class="flex" style="align-items: center">
              <p>Factura {{ formatId(deliveryOrder?.dateId) }}</p>
            </div>
            <div>
              <button mat-button>
                {{
                  deliveryOrder.user.name ||
                    deliveryOrder.user.phone ||
                    deliveryOrder.user.email
                }}
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </header> -->
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              class="panel"
              [ngClass]="{ 'mat-elevation-z0': !panelOpenState }"
              style="background-color: #c1c4c1"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div
                    style="
                      display: flex;
                      justify-content: space-between;
                      width: 100%;
                    "
                  >
                    <p style="margin: 0">
                      Factura {{ formatId(deliveryOrder?.dateId) }}
                    </p>
                    <div
                      style="
                        font-family: SfProBold;
                        font-size: 15px;
                        color: #171d16;
                      "
                    >
                      {{
                        deliveryOrder.user.name ||
                          deliveryOrder.user.phone ||
                          deliveryOrder.user.email
                      }}
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-contact-header
                [bio]="deliveryOrder.user.bio"
                [contact]="getUserContact(deliveryOrder.user._id)"
              ></app-contact-header>
            </mat-expansion-panel>
          </mat-accordion>
          <!-- ITEMS SECTION -->
          <div class="section">
            <h5 class="subtitle">
              FACTURA {{ formatId(deliveryOrder?.dateId) }}
            </h5>
            <h3 class="title">
              {{
                deliveryOrder?.items[0].saleflow.merchant?.name
                  ? deliveryOrder?.items[0].saleflow.merchant?.name
                  : ""
              }}
            </h3>
            <p class="meta-description" *ngIf="merchant?.address">
              {{ merchant.address }}
            </p>
            <p class="meta-description">
              {{ convertDate(deliveryOrder?.createdAt) }}
            </p>
          </div>

          <div class="section">
            <p class="section-label">ARTÍCULOS FACTURADOS</p>
            <div
              style="
                margin-top: 8px;
                background-color: #ffffff;
                padding: 10px 12px;
                border-radius: 6px;
              "
              *ngFor="let item of deliveryOrder?.items; index as i"
            >
              <div class="flex">
                <div
                  class="item-image"
                  [ngStyle]="{
                    backgroundImage: item.item.images?.length
                      ? 'url(' +
                        item.item.images[0].value +
                        '), url(' +
                        env +
                        '/noimage.png' +
                        ')'
                      : '/assets/images/noimage.png'
                  }"
                  (click)="
                    openImageModal(
                      item.item?.images[0]?.value ||
                        '/assets/images/noimage.png'
                    )
                  "
                ></div>
                <div class="caption">
                  <p class="item-bold-caption">
                    {{ item.amount }}x
                    {{ item.item?.name ? item.item.name : "" }}
                  </p>
                  <p class="item-caption" *ngIf="item.item?.description">
                    {{ item.item.description }}
                  </p>
                </div>
              </div>
              <ng-container
                *ngIf="
                  view === 'assistant' &&
                  deliveryOrder.answersByItem &&
                  deliveryOrder.answersByItem[item._id]
                "
              >
                <ng-container
                  *ngFor="
                    let question of deliveryOrder.answersByItem[item._id]
                      .response;
                    index as i
                  "
                >
                  <div
                    *ngIf="question.question"
                    class="webform-question-wrapper"
                    [ngStyle]="{ marginTop: i === 0 ? '8px' : '0' }"
                  >
                    <div class="question">
                      <p class="top-text">{{ question.question }}</p>
                      <p
                        class="bottom-text"
                        *ngIf="!question.isMedia && !question.label"
                      >
                        {{ question.value }}
                      </p>
                      <p
                        class="bottom-text"
                        *ngIf="!question.isMedia && question.label"
                      >
                        {{ question.value + " " + question.label }}
                      </p>
                      <p
                        class="bottom-text"
                        *ngIf="question.isMedia && question.label"
                      >
                        {{ question.label }}
                      </p>

                      <div
                        class="question-img-wrapper"
                        *ngIf="question.isMedia"
                      >
                        <div
                          class="image"
                          (click)="openImageModal(question.value)"
                          [ngStyle]="{
                            backgroundRepeat: 'no-repeat',
                            backgroundPosition: 'center',
                            backgroundSize: 'cover',
                            backgroundImage:
                              'url(' +
                              question.value +
                              '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
                          }"
                        ></div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <!-- POST SECTION -->
          <div
            class="section"
            *ngIf="
              view === 'assistant' &&
              post &&
              (post?.message ||
                post?.from ||
                (post?.targets?.length && post.targets[0].name))
            "
          >
            <p class="section-label">CONTENIDO VISIBLE</p>

            <div class="questions">
              <p class="label">Escrito en tarjetita física</p>
              <p class="label gray-out">{{ post?.message }}</p>
            </div>

            <div class="questions">
              <p class="label">Nombre del sobre</p>
              <p class="label gray-out">
                {{ post?.targets[0]?.name || post?.title }}
              </p>
            </div>
          </div>

          <!-- VIRTUAL POST SECTION -->
          <div
            class="section"
            *ngIf="view === 'assistant' && entityTemplate && entityTemplateLink"
          >
            <p class="section-label">CONTENIDO VIRTUAL PRIVADO</p>

            <br /><br /><br />

            <div class="flex">
              <div
                class="item-image"
                [ngStyle]="{
                  backgroundImage: 'url(' + env + '/qr-code.svg' + ')',
                  filter:
                    'brightness(0) invert(13%) sepia(9%) saturate(1833%) hue-rotate(68deg) brightness(99%) contrast(83%)'
                }"
              ></div>
              <div class="caption">
                <button class="link-button" (click)="goToPost()">
                  Accesa al contenido
                </button>
                <br /><br />
                <button
                  class="link-button"
                  (click)="copyEntityTemplateID(entityTemplate.dateId)"
                >
                  Copy el ID
                </button>
                <br /><br />
                <button
                  class="link-button"
                  (click)="downloadEntityTemplateQr(qrcodeTemplate)"
                >
                  Imprime o descarga el QR
                </button>
              </div>
            </div>

            <!-- <div class="flex" style="margin-top: 30px">
                            <div
                                class="item-image"
                                [ngStyle]="{
                                    backgroundColor: '#E9E371'
                                }"
                            ></div>
                            <div class="caption">
                                <button class="link-button">Imprime o descarga la imagen sugerida por IA (Inteligencia Artificial)</button>
                            </div>
                        </div> -->
          </div>

          <div
            class="section"
            *ngIf="
              view === 'delivery' &&
              orderHasDelivery(deliveryImages[i]?.deliveryZone, deliveryOrder)
            "
          >
            <p class="section-label">ENTREGA</p>
            <div class="questions" *ngIf="deliveryImages[i]?.deliveryZone">
              <p class="label">Zona de entrega</p>
              <p class="label gray-out capitalize">
                {{ deliveryImages[i]?.deliveryZone.zona }}
              </p>
            </div>
            <div
              class="questions"
              *ngIf="deliveryOrder.items[0].deliveryLocation"
            >
              <p class="label">Donde entregaremos?</p>
              <p class="label gray-out capitalize">
                {{
                  deliveryOrder?.items[0]?.deliveryLocation?.houseNumber
                    ? "#" +
                      deliveryOrder?.items[0]?.deliveryLocation?.houseNumber +
                      ", "
                    : ""
                }}
                {{ deliveryOrder?.items[0]?.deliveryLocation?.street }},
                {{
                  deliveryOrder?.items[0]?.deliveryLocation?.referencePoint
                    ? deliveryOrder?.items[0]?.deliveryLocation
                        ?.referencePoint + ", "
                    : ""
                }}
                {{ deliveryOrder?.items[0]?.deliveryLocation?.city }}, República
                Dominicana
              </p>
            </div>
            <div class="questions">
              <p class="label">A quien entregaremos?</p>
              <p class="label gray-out capitalize">
                {{
                  deliveryOrder?.user?.name
                    ? deliveryOrder?.user?.name
                    : deliveryOrder?.user?.phone
                }}
              </p>
            </div>
            <div class="questions" *ngIf="deliveryImages[i]?.reservation">
              <p class="label">Cuando entregaremos?</p>
              <p class="label gray-out capitalize">
                {{ displayReservation(deliveryImages[i]?.reservation) }}
              </p>
            </div>
          </div>

          <!-- DELIVERY EVIDENCE SECTION -->
          <div
            class="section"
            *ngIf="
              (deliveryImages.length && view === 'delivery') || orderDelivered
            "
          >
            <!-- ((isMerchant && deliveryImages[i]?.image) || view === 'delivery') -->
            <p class="section-label">FLUJO DE LA ENTREGA</p>
            <div class="input-image-container">
              <app-item-images
                (enteredImages)="onImageInput($event)"
                [containerStyles]="{
                  padding: '0',
                  backgroundColor: 'transparent'
                }"
                [inputPosition]="'left'"
                *ngIf="!deliveryImages[i]?.image"
              >
              </app-item-images>
              <div
                class="image"
                [ngStyle]="{
                  backgroundImage: 'url(' + deliveryImages[i]?.image + ')'
                }"
                (click)="openImageModal(deliveryImages[i]?.image)"
                *ngIf="deliveryImages[i]?.image"
              ></div>
              <p class="delivery-image-caption">Imagen de la entrega</p>
            </div>
          </div>
        </ng-container>
      </div>
    </swiper>

    <div class="float-paginator">
      <div class="button swiper-slide-duplicate-prev left">
        <img [src]="env + '/arrow-left.svg'" alt="" />
      </div>
    </div>

    <div class="float-paginator">
      <div class="button swiper-slide-duplicate-next right">
        <img [src]="env + '/arrow-left.svg'" alt="" />
      </div>
    </div>

    <div class="footer">
      <div class="top-footer">
        <div
          class="chip-list"
          #elemt
          (mousedown)="startDragging($event, elemt)"
          (mouseup)="stopDragging()"
          (mouseleave)="stopDragging()"
          (mousemove)="moveEvent($event, elemt)"
        >
          <ng-container *ngIf="view === 'assistant'">
            <button
              class="chip"
              [ngClass]="{ selected: !orderReadyToDeliver }"
              [disabled]="!orderReadyToDeliver"
              (click)="changeOrderStatusAuthless('in progress')"
            >
              En preparación
            </button>
            <button
              class="chip"
              [ngClass]="{ selected: orderReadyToDeliver }"
              [disabled]="orderReadyToDeliver"
              (click)="changeOrderStatusAuthless('pending')"
            >
              Listo para enviarse
            </button>
          </ng-container>
          <ng-container *ngIf="view === 'delivery'">
            <div style="color: #fff"></div>
            <button
              class="chip"
              [ngClass]="{ selected: !orderDelivered }"
              [disabled]="!orderDelivered"
              (click)="changeOrderStatusAuthless('pending')"
            >
              Listo para enviarse
            </button>
            <!-- <button
              class="chip"
              [ngClass]="{ selected: orderShipped && !orderDelivered }"
              [disabled]="orderShipped && !orderDelivered"
              (click)="changeOrderStatusAuthless('shipped')"
            >
              En camino
            </button> -->
            <button
              class="chip"
              [ngClass]="{ selected: orderDelivered }"
              [disabled]="orderDelivered"
              (click)="changeOrderStatusAuthless('delivered')"
            >
              Entregado
            </button>
          </ng-container>
        </div>
      </div>

      <div class="inner-wrapper-top">
        <div
          class="current-media-shown-indicators"
          [style]="{
            'grid-template-columns':
              'repeat(' + ordersReadyToDeliver.length + ', 1fr)'
          }"
        >
          <ng-container *ngIf="ordersReadyToDeliver.length > 0">
            <div
              class="indicator"
              [ngClass]="{
                active: indicatorIndex === activeIndex
              }"
              *ngFor="
                let indicator of ordersReadyToDeliver;
                let indicatorIndex = index
              "
            ></div>
          </ng-container>
        </div>
      </div>

      <div class="bottom-footer">
        <ng-container>
          <div></div>
          <div></div>
        </ng-container>
        <button (click)="share(ordersReadyToDeliver[activeIndex])">
          <img
            [src]="env + '/upload.svg'"
            alt="Contenedor con flecha saliendo"
          />
        </button>
      </div>
    </div>

    <div style="visibility: hidden; position: absolute; z-index: -99">
      <qrcode
        *ngIf="entityTemplate"
        #qrcodeTemplate
        [qrdata]="entityTemplateLink"
        [elementType]="'img'"
        [width]="500"
        [style.margin-top.px]="-25"
        [errorCorrectionLevel]="'M'"
        [allowEmptyString]="true"
        colorDark="#000000"
      ></qrcode>

      <qrcode
        style="display: none"
        *ngIf="order"
        #orderQrCode
        [qrdata]="URI + '/ecommerce/order-detail/' + order._id"
        [elementType]="'img'"
        [width]="40"
        [errorCorrectionLevel]="'M'"
        [allowEmptyString]="true"
        colorDark="#000"
      ></qrcode>
    </div>
  </ng-container>
</div>
