<div class="container" *ngIf="itemFormData" [formGroup]="itemFormData">
  <div class="header">
    <div class="flex">
      <mat-icon style="cursor: pointer" (click)="back()">close</mat-icon>
      <p class="header-title">
        {{
          !itemId && isTheUserAnAdmin
            ? "Nuevo artículo global"
            : "Artículo de proveedor de floristas"
        }}
      </p>
    </div>
    <img
      *ngIf="!isTheUserAnAdmin"
      [src]="
        !showIntroParagraph
          ? assetsFolder + '/icon_info.png'
          : assetsFolder + '/dropdown_icon.png'
      "
      (click)="showIntroParagraph = !showIntroParagraph"
    />
  </div>
  <div class="content">
    <div class="content-title" *ngIf="showIntroParagraph && !isTheUserAnAdmin">
      Esta plataforma te pone al frente de floristerias que necesitan
      exactamente lo que ofreces.
    </div>

    <section
      *ngIf="
        !itemFormData.controls['title'].value ||
        (!itemFormData.controls['description'].value && !supplierEdition) ||
        itemSlides.length === 0 ||
        itemFormData.controls['pricing'].value === 0 ||
        !itemFormData.controls['stock'].value
      "
    >
      <h2 class="section-title">DATOS POR LLENAR</h2>

      <ng-container *ngIf="!itemFormData.controls['title'].value">
        <ng-container
          *ngTemplateOutlet="
            emptyItem;
            context: {
              fieldLabel: 'Texto principal y centralizado',
              iconCallback: openFormForField,
              fieldNameForCallback: 'TITLE'
            }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="!itemFormData.controls['description'].value && !supplierEdition"
      >
        <ng-container
          *ngTemplateOutlet="
            emptyItem;
            context: {
              fieldLabel: 'Texto mas largo (que incluye?)',
              iconCallback: openFormForField,
              fieldNameForCallback: 'DESCRIPTION'
            }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container *ngIf="itemSlides.length === 0">
        <ng-container
          *ngTemplateOutlet="
            emptyItem;
            context: {
              fieldLabel: 'Slides visuales',
              iconCallback: emitFileInputClick
            }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="
          itemFormData.controls['pricing'].value === 0 && !isTheUserAnAdmin
        "
      >
        <ng-container
          *ngTemplateOutlet="
            emptyItem;
            context: {
              fieldLabel: 'Precio',
              iconCallback: openFormForField,
              fieldNameForCallback: 'PRICE'
            }
          "
        >
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!itemFormData.controls['stock'].value">
        <ng-container
          *ngTemplateOutlet="
            emptyItem;
            context: {
              fieldLabel: 'Cantidad disponible para vender',
              iconCallback: openFormForField,
              fieldNameForCallback: 'STOCK'
            }
          "
        >
        </ng-container>
      </ng-container>
    </section>

    <input
      type="file"
      id="file"
      [style.display]="'none'"
      (change)="loadFile($event)"
      multiple
      [accept]="[
        '.png',
        '.jpg',
        '.jpeg',
        '.webp',
        '.webm',
        '.mp4',
        '.m4v',
        '.mpg',
        '.mpeg',
        '.mpeg4',
        '.mov',
        '.3gp',
        '.mts',
        '.m2ts',
        '.mxf'
      ]"
    />

    <section
      *ngIf="
        itemFormData.controls['title'].value ||
        itemFormData.controls['description'].value ||
        itemSlides.length !== 0 ||
        (itemFormData.controls['pricing'].value !== 0 && !isTheUserAnAdmin) ||
        (itemFormData.controls['stock'].value && !isTheUserAnAdmin)
      "
    >
      <h2 class="section-title">DATOS LLENOS</h2>

      <div
        *ngIf="
          itemFormData.controls['pricing'].value !== 0 && !isTheUserAnAdmin
        "
        class="price-wrapper"
        [ngClass]="{
          'no-shadows': itemFormData.controls['pricing'].value !== 0
        }"
      >
        <app-currency-input
          [innerLabel]="'Precio*'"
          [innerLabelStyles]="{
            fontFamily: 'InterLight',
            fontStyle: 'italic',
            fontSize: '13px'
          }"
          [fieldStyles]="{
            boxShadow: 'none',
            backgroundColor: 'white',
            borderRadius: '6px',
            padding: '8px 0px'
          }"
          [initialValue]="itemFormData.controls['pricing'].value"
          (onInputEvent)="updateItemPrice($event)"
          placeholderColor="#7B7B7B"
          currencyLabel=""
        ></app-currency-input>
      </div>

      <div class="field-text" *ngIf="itemFormData.controls['title'].value">
        <label for="">Texto principal y centralizado</label>

        <input
          type="text"
          *ngIf="!existingItem"
          placeholder="Escribe"
          [formControlName]="'title'"
        />

        <span *ngIf="existingItem">{{
          itemFormData.controls["title"].value
        }}</span>
      </div>

      <div>
        <div
          class="field-text"
          *ngIf="itemFormData.controls['description'].value"
          style="padding-bottom: 8px"
        >
          <label for="">Texto mas largo (que incluye?)</label>

          <textarea
            *ngIf="!existingItem"
            cols="30"
            rows="3"
            placeholder="Escribe"
            [formControlName]="'description'"
          ></textarea>

          <span *ngIf="existingItem">{{
            itemFormData.controls["description"].value
          }}</span>
        </div>
      </div>

      <ng-container
        *ngIf="!itemFormData.controls['description'].value && supplierEdition"
      >
        <div class="field-text">
          <label>Texto mas largo</label>

          <span>Sin mostrar</span>
        </div>
      </ng-container>

      <div
        class="added-slides"
        *ngIf="itemSlides.length > 0 && renderQrContent"
      >
        <app-qr-content
          [slides]="itemSlides"
          [showReorderButton]="true"
          [title]="'Slides visuales'"
          [mode]="'SMALL'"
          [editing]="false"
          [defaultText]="'Incluyes fotos, memes, videos o música.'"
          (buttonClicked)="
            existingItem
              ? null
              : !updateItem
              ? emitFileInputClick()
              : goToReorderMedia()
          "
          (buttonClicked2)="goToReorderMedia()"
          [showButton]="!supplierEdition"
          [showReorderButton]="!supplierEdition"
        ></app-qr-content>
      </div>

      <div
        *ngIf="itemFormData.controls['stock'].value && !isTheUserAnAdmin"
        class="content-inventary-container"
        [ngClass]="{
          'no-shadows': itemFormData.controls['stock'].value
        }"
        (click)="openFormForField('STOCK')"
      >
        <p>Cantidad disponible para vender</p>
        <input
          placeholder="0"
          type="number"
          [disabled]="true"
          formControlName="stock"
        />

        <p
          *ngIf="itemFormData.controls['notificationStockLimit'].value"
          class="notification-limit"
        >
          Se notificará a tú numero de teléfono cuando lleguen a
          {{ itemFormData.controls["notificationStockLimit"].value }}
        </p>

        <p
          class="content-inventary-detail"
          *ngIf="itemFormData.controls['stock'].value === '0'"
        >
          No se está mostrando a Floristerias
        </p>
      </div>
    </section>

    <!--
      <p class="content-optionals-fuctions">FUNCIONALIDADES OPCIONALES</p>
      <div class="content-optional-function">
        <p>Costo para el control de beneficios</p>
        <mat-icon>add_circle</mat-icon>
      </div>
    -->
  </div>
</div>

<ng-template
  #emptyItem
  let-fieldLabel="fieldLabel"
  let-iconCallback="iconCallback"
  let-fieldNameForCallback="fieldNameForCallback"
>
  <div
    class="item-field empty"
    (click)="
      fieldNameForCallback ? iconCallback(fieldNameForCallback) : iconCallback()
    "
  >
    <div class="field-name">{{ fieldLabel }}</div>

    <img
      class="add-icon"
      [src]="assetsFolder + '/add_button_circle.svg'"
      alt="fill value"
    />
  </div>
</ng-template>
