<div class="tags-grid" [style.background]="containerBackground">
  <button
    *ngFor="let tg of tags"
    [style.background]="tag.includes(tg._id) ? selectedBackground : background"
    [style.color]="tag.includes(tg._id) ? selectedColor : color"
    class="tag"
    (click)="setTag(tg)"
  >
    {{ tg.name }}
    <img
      *ngIf="tg.notify"
      [src]="env + '/notification-outlined-badged.svg'"
      alt=""
      [style.filter]="tag.includes(tg._id) ? selectedFilter : ''"
      class="image"
    />
    <img
      *ngIf="tg.status !== 'active'"
      [src]="
        !tag.includes(tg._id)
          ? env + '/closed-eye-blue.svg'
          : env + '/closed-eye-white.svg'
      "
      alt=""
      [style.filter]="tag.includes(tg._id) ? selectedFilter : ''"
      class="image"
    />
  </button>
</div>
