<div class="tags-grid" [style.background]="containerBackground">
  <button
    *ngFor="let tg of tags"
    [style.background]="
      !tag.includes(tg._id) && tg.notify
        ? notificationBackground
        : !tag.includes(tg._id) && !tg.notify && tg.status !== 'active'
        ? inactiveBackground
        : tag.includes(tg._id)
        ? selectedBackground
        : background
    "
    [style.color]="
    !tag.includes(tg._id) && !tg.notify && tg.status !== 'active'
        ? inactiveColor
        : tag.includes(tg._id)
        ? selectedColor
        : color
    "
    class="tag"
    (click)="setTag(tg)"
  >
    {{ tg.name }}
    <img
      *ngIf="tg.notify"
      [src]="env + '/notification-outlined-badged.svg'"
      alt=""
      [style.filter]="tag.includes(tg._id) ? selectedFilter : ''"
      class="image"
    />
    <img
      *ngIf="tg.status !== 'active'"
      [src]="
        !tag.includes(tg._id)
          ? env + '/closed-eye-white.svg'
          : env + '/closed-eye-blue.svg'
      "
      alt=""
      [style.filter]="tag.includes(tg._id) ? selectedFilter : ''"
      class="image"
    />
  </button>
</div>
