
.tags-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 9px 4px;
  padding: 20px 16px;
}

.tag {
  border-radius: 30px;
  padding: 4px;
  border: none;
  font-family: 'SfProMedium';
  cursor: pointer;
  white-space: nowrap;
}