<!-- <app-multistep-form></app-multistep-form> -->
<!-- <app-saleflow-item
[price]="50"
[income]="5000"
[quantity]="'100'"
[index2]="1"
[index1]="10"
[showIcon]="true"
></app-saleflow-item> -->
<!-- <button (click)="openDialog()">Abrir el dialog</button> -->
<!-- <app-reservation-orderless calendarId="62ac227945c3506dfb3c87cc"></app-reservation-orderless> -->
<!-- <app-magic-link-dialog></app-magic-link-dialog> -->
<!-- <app-helper-headerv2
[mode]="'options'"
[config]="navbar"
></app-helper-headerv2> -->
<button (click)="openDialog()">Abrir el dialog</button>
<div style="width: 100%; height: 450px; background-color: #fff;">
    <app-switch-button></app-switch-button>
</div>
<!-- <app-bubble-button
[cart]="true"
[cartAmount]="3"
[color]="'blue'"
[position]="'right'"
></app-bubble-button> -->
<!-- <app-magic-link-dialog></app-magic-link-dialog> -->
