<div class="container">
  <div class="header">
    <svg
      class="arrows"
      id="Component_102_13"
      data-name="Component 102 – 13"
      xmlns="http://www.w3.org/2000/svg"
      width="428"
      height="42"
      viewBox="0 0 428 42"
    >
      <g
        id="Group_69887"
        data-name="Group 69887"
        transform="translate(-7590 -3383)"
      >
        <rect
          id="Rectangle_22675"
          data-name="Rectangle 22675"
          width="428"
          height="42"
          transform="translate(7590 3383)"
          fill="#fff"
        />
      </g>
      <g id="Group_71232" data-name="Group 71232" transform="translate(0 -61)">
        <g id="Group_71368" data-name="Group 71368">
          <circle
            id="Ellipse_5107"
            data-name="Ellipse 5107"
            cx="3"
            cy="3"
            r="3"
            transform="translate(387 78)"
            fill="#272727"
          />
          <circle
            id="Ellipse_5108"
            data-name="Ellipse 5108"
            cx="3"
            cy="3"
            r="3"
            transform="translate(395 78)"
            fill="#272727"
          />
          <circle
            id="Ellipse_5109"
            data-name="Ellipse 5109"
            cx="3"
            cy="3"
            r="3"
            transform="translate(403 78)"
            fill="#272727"
          />
        </g>
      </g>
      <g id="bookmark-plus" transform="translate(354.566 10.448)">
        <path
          id="Path_28828"
          data-name="Path 28828"
          d="M8.833,3.639a.694.694,0,0,0-.694.694V19.7L13.693,16l5.554,3.7V12.664a.694.694,0,0,1,1.389,0v9.628l-6.943-4.628L6.75,22.292V4.333A2.083,2.083,0,0,1,8.833,2.25h5.554a.694.694,0,1,1,0,1.389ZM21.33,2.25a.694.694,0,0,1,.694.694V5.721a.694.694,0,0,1-.694.694H18.553a.694.694,0,1,1,0-1.389h2.083V2.944A.694.694,0,0,1,21.33,2.25Z"
          transform="translate(-6.75 -2.25)"
          fill="#272727"
          fill-rule="evenodd"
        />
        <path
          id="Path_28829"
          data-name="Path 28829"
          d="M29.25,7.444a.694.694,0,0,1,.694-.694h2.777a.694.694,0,1,1,0,1.389H30.639v2.083a.694.694,0,0,1-1.389,0Z"
          transform="translate(-15.364 -3.973)"
          fill="#272727"
          fill-rule="evenodd"
        />
      </g>
      <text
        id="PREVIEW"
        transform="translate(275.185 25.469)"
        fill="#272727"
        font-size="15"
        font-family="SegoeUI-Bold, Segoe UI"
        font-weight="700"
      >
        <tspan x="0" y="0">PREVIEW</tspan>
      </text>
      <g
        id="Group_71771"
        data-name="Group 71771"
        transform="translate(-31.16 -818.527)"
      >
        <path
          id="back"
          d="M14.578.857,6,9.436,14.365,17.8l2.109-2.109L10.217,9.436l6.47-6.47Z"
          transform="translate(65.017 822.841) rotate(90)"
          fill="#272727"
          fill-rule="evenodd"
        />
        <path
          id="back-2"
          data-name="back"
          d="M14.578.857,6,9.436,14.365,17.8l2.109-2.109L10.217,9.436l6.47-6.47Z"
          transform="translate(65.017 833.528) rotate(90)"
          fill="#272727"
          fill-rule="evenodd"
        />
      </g>
    </svg>

    <p>PREVIEW</p>

    <svg
      class="save"
      id="Component_102_13"
      data-name="Component 102 – 13"
      xmlns="http://www.w3.org/2000/svg"
      width="428"
      height="42"
      viewBox="0 0 428 42"
    >
      <g
        id="Group_69887"
        data-name="Group 69887"
        transform="translate(-7590 -3383)"
      >
        <rect
          id="Rectangle_22675"
          data-name="Rectangle 22675"
          width="428"
          height="42"
          transform="translate(7590 3383)"
          fill="#fff"
        />
      </g>
      <g id="Group_71232" data-name="Group 71232" transform="translate(0 -61)">
        <g id="Group_71368" data-name="Group 71368">
          <circle
            id="Ellipse_5107"
            data-name="Ellipse 5107"
            cx="3"
            cy="3"
            r="3"
            transform="translate(387 78)"
            fill="#272727"
          />
          <circle
            id="Ellipse_5108"
            data-name="Ellipse 5108"
            cx="3"
            cy="3"
            r="3"
            transform="translate(395 78)"
            fill="#272727"
          />
          <circle
            id="Ellipse_5109"
            data-name="Ellipse 5109"
            cx="3"
            cy="3"
            r="3"
            transform="translate(403 78)"
            fill="#272727"
          />
        </g>
      </g>
      <g id="bookmark-plus" transform="translate(354.566 10.448)">
        <path
          id="Path_28828"
          data-name="Path 28828"
          d="M8.833,3.639a.694.694,0,0,0-.694.694V19.7L13.693,16l5.554,3.7V12.664a.694.694,0,0,1,1.389,0v9.628l-6.943-4.628L6.75,22.292V4.333A2.083,2.083,0,0,1,8.833,2.25h5.554a.694.694,0,1,1,0,1.389ZM21.33,2.25a.694.694,0,0,1,.694.694V5.721a.694.694,0,0,1-.694.694H18.553a.694.694,0,1,1,0-1.389h2.083V2.944A.694.694,0,0,1,21.33,2.25Z"
          transform="translate(-6.75 -2.25)"
          fill="#272727"
          fill-rule="evenodd"
        />
        <path
          id="Path_28829"
          data-name="Path 28829"
          d="M29.25,7.444a.694.694,0,0,1,.694-.694h2.777a.694.694,0,1,1,0,1.389H30.639v2.083a.694.694,0,0,1-1.389,0Z"
          transform="translate(-15.364 -3.973)"
          fill="#272727"
          fill-rule="evenodd"
        />
      </g>
      <text
        id="PREVIEW"
        transform="translate(275.185 25.469)"
        fill="#272727"
        font-size="15"
        font-family="SegoeUI-Bold, Segoe UI"
        font-weight="700"
      >
        <tspan x="0" y="0">PREVIEW</tspan>
      </text>
      <g
        id="Group_71771"
        data-name="Group 71771"
        transform="translate(-31.16 -818.527)"
      >
        <path
          id="back"
          d="M14.578.857,6,9.436,14.365,17.8l2.109-2.109L10.217,9.436l6.47-6.47Z"
          transform="translate(65.017 822.841) rotate(90)"
          fill="#272727"
          fill-rule="evenodd"
        />
        <path
          id="back-2"
          data-name="back"
          d="M14.578.857,6,9.436,14.365,17.8l2.109-2.109L10.217,9.436l6.47-6.47Z"
          transform="translate(65.017 833.528) rotate(90)"
          fill="#272727"
          fill-rule="evenodd"
        />
      </g>
    </svg>
    <svg
      class="dots"
      id="Component_102_13"
      data-name="Component 102 – 13"
      xmlns="http://www.w3.org/2000/svg"
      width="428"
      height="42"
      viewBox="0 0 428 42"
    >
      <g
        id="Group_69887"
        data-name="Group 69887"
        transform="translate(-7590 -3383)"
      >
        <rect
          id="Rectangle_22675"
          data-name="Rectangle 22675"
          width="428"
          height="42"
          transform="translate(7590 3383)"
          fill="#fff"
        />
      </g>
      <g id="Group_71232" data-name="Group 71232" transform="translate(0 -61)">
        <g id="Group_71368" data-name="Group 71368">
          <circle
            id="Ellipse_5107"
            data-name="Ellipse 5107"
            cx="3"
            cy="3"
            r="3"
            transform="translate(387 78)"
            fill="#272727"
          />
          <circle
            id="Ellipse_5108"
            data-name="Ellipse 5108"
            cx="3"
            cy="3"
            r="3"
            transform="translate(395 78)"
            fill="#272727"
          />
          <circle
            id="Ellipse_5109"
            data-name="Ellipse 5109"
            cx="3"
            cy="3"
            r="3"
            transform="translate(403 78)"
            fill="#272727"
          />
        </g>
      </g>
      <g id="bookmark-plus" transform="translate(354.566 10.448)">
        <path
          id="Path_28828"
          data-name="Path 28828"
          d="M8.833,3.639a.694.694,0,0,0-.694.694V19.7L13.693,16l5.554,3.7V12.664a.694.694,0,0,1,1.389,0v9.628l-6.943-4.628L6.75,22.292V4.333A2.083,2.083,0,0,1,8.833,2.25h5.554a.694.694,0,1,1,0,1.389ZM21.33,2.25a.694.694,0,0,1,.694.694V5.721a.694.694,0,0,1-.694.694H18.553a.694.694,0,1,1,0-1.389h2.083V2.944A.694.694,0,0,1,21.33,2.25Z"
          transform="translate(-6.75 -2.25)"
          fill="#272727"
          fill-rule="evenodd"
        />
        <path
          id="Path_28829"
          data-name="Path 28829"
          d="M29.25,7.444a.694.694,0,0,1,.694-.694h2.777a.694.694,0,1,1,0,1.389H30.639v2.083a.694.694,0,0,1-1.389,0Z"
          transform="translate(-15.364 -3.973)"
          fill="#272727"
          fill-rule="evenodd"
        />
      </g>
      <text
        id="PREVIEW"
        transform="translate(275.185 25.469)"
        fill="#272727"
        font-size="15"
        font-family="SegoeUI-Bold, Segoe UI"
        font-weight="700"
      >
        <tspan x="0" y="0">PREVIEW</tspan>
      </text>
      <g
        id="Group_71771"
        data-name="Group 71771"
        transform="translate(-31.16 -818.527)"
      >
        <path
          id="back"
          d="M14.578.857,6,9.436,14.365,17.8l2.109-2.109L10.217,9.436l6.47-6.47Z"
          transform="translate(65.017 822.841) rotate(90)"
          fill="#272727"
          fill-rule="evenodd"
        />
        <path
          id="back-2"
          data-name="back"
          d="M14.578.857,6,9.436,14.365,17.8l2.109-2.109L10.217,9.436l6.47-6.47Z"
          transform="translate(65.017 833.528) rotate(90)"
          fill="#272727"
          fill-rule="evenodd"
        />
      </g>
    </svg>
  </div>
</div>
