<div class="container">
    <p class="title">Comparte tu Enlace Directo para Brindar respuestas Precesasal Instante</p>

    <div class="container-copy-link" (click)="copyLink()">
        <span class="text">
            {{ link }}
        </span>
        <span class="copy-text">Copia</span>
    </div>

    <div class="container-content">
        <p class="text">
          Utiliza a Laia como tu asistente personal en múltiples lugares como tu Página Web y WhatsApp
        </p>

        <button type="button" class="button" (click)="goIntegrationLink()">Tap aquí para integrarla</button>
    </div>
</div>