<div class="container">
    <p class="title">{{ "share-link.title" | translate }}</p>

    <div class="container-copy-link" (click)="copyLink()">
        <span class="text">
            {{ link }}
        </span>
        <span class="copy-text">{{ "copy" | translate }}</span>
    </div>

    <div class="container-content">
        <p class="text">
            {{ "share-link.textWeb" | translate }}
        </p>

        <button type="button" class="button" (click)="goIntegrationLink()">{{ "share-link.textTap" | translate }}</button>
    </div>
</div>