<div class="container">
  <div class="modal-top-container">
    <p class="modal-title">
      <ng-container *ngIf="!data.titleIcon"> 🖇️️ </ng-container>
      <ng-container *ngIf="data.titleIcon.show">
        {{ data.titleIcon.icon }}
      </ng-container>

      {{ data.title }}
    </p>
    <!-- <mat-icon>add</mat-icon>
        <mat-icon>remove</mat-icon> -->
    <p
      class="modal-all-text"
      (click)="data.rightCTA?.callback()"
      *ngIf="data.rightCTA"
    >
      {{ data.rightCTA?.text }}
    </p>

    <mat-icon
      class="icons"
      *ngIf="data.leftIcon"
      (click)="data.leftIcon?.callback()"
      [ngStyle]="data.leftIcon?.styles"
      >{{ data.leftIcon.iconName }}</mat-icon
    >

    <mat-icon
      class="icons"
      *ngIf="data.rightIcon"
      (click)="data.rightIcon?.callback()"
      [ngStyle]="data.rightIcon?.styles"
      >{{ data.rightIcon.iconName }}</mat-icon
    >
  </div>
  <div class="modal-categories-container">
    <div
      class="modal-category"
      *ngFor="let i of data.categories"
      [ngClass]="{ 'modal-category-selected': i.selected }"
      (click)="select(i._id)"
    >
      {{ i.name }}
    </div>
  </div>
</div>
