<div class="container">
    <div class="modal-top-container">

        <p class="modal-title">
            🖇️️ {{ data.title }}
        </p>   
        <!-- <mat-icon>add</mat-icon>
        <mat-icon>remove</mat-icon> -->
        <p class="modal-all-text" (click)="data.rightCTA?.callback()" *ngIf="data.rightCTA">
            {{ data.rightCTA?.text }}
        </p> 
    </div>
    <div class="modal-categories-container">
        <div class="modal-category " *ngFor="let i of data.categories" [ngClass]="{'modal-category-selected':i.selected}" (click)="select(i._id)">
            {{i.name}}
        </div>
    </div>
</div>