::ng-deep .cdk-overlay-pane {
  width: 100%;
  max-width: 500px !important;
}

::ng-deep.mat-bottom-sheet-container {
  padding: 24px;
  width: 100%;
  min-width: 90%;
  // margin: auto;
  box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024,
    0 6px 30px 5px #0000001f;
  background: #171d16;
}


div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #181d17;
  .close {
    margin: 0;
    margin-left: auto;
    text-align: right;
    color: #c4c5c3;
    font-family: InterLight;
    font-size: 24px;
  }
  .text {
    font-family: "InterSemiBold";
    color: #fff;
    text-align: center;
    margin-bottom: 0;
  }
  
  .green-link {
    color: var(--El-verdecito, #87cd9b);
    font-family: "InterSemiBold";
    text-align: center;
  }
}

