.container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 30px;
}
.base-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  visibility: visible;
  border-radius: 10px;
  padding: 0px 20px;
  width: auto;
  height: 53px;
  font-family: RobotoMedium;
  font-size: 16px;
  border: none;
  color: #0b1f38;
  box-shadow: 0px 7px 25px -18px inset;
  margin: 4px auto;
  display: inline;
  margin-left: 0;
  width: 100%;
  margin: auto 0;
  margin-top: 3px;
  &:focus {
    border: 1px solid dodgerblue;
  }
}
.bottom-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
}
@media (min-width: 505px) {
  .header,
  .bottom-btn {
    width: 500px;
  }
}
