<div class="header-container">
  <div class="header-grid" [style.cursor]="'initial'" (click)="submit()">
    <div class="arrows">
      <img src="{{ env }}/arrow-double-up.svg" alt="button" />
    </div>
    <div class="header-text">Selecciones</div>
    <div class="dots">
      <div class="dot-trio">
        <div class="dot" *ngFor="let dot of ['', '', '']"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <input
    [formControl]="controller"
    class="base-input"
    type="text"
    placeholder="Cantidad"
  />
</div>
<div class="bottom-btn">
  <div class="header-container">
    <div class="header-grid" [style.cursor]="'pointer'">
      <div class="arrows" (click)="submit()">
        <img src="{{ env }}/arrow-double-up.svg" alt="button" />
      </div>
      <div class="header-text" (click)="submit()">Generar archivo .xsl</div>
      <div class="header-text" (click)="generateZipFileForQrCodes()">Generar zip con qrCodes</div>
      <div class="dots">
        <div class="dot-trio">
          <div class="dot" *ngFor="let dot of ['', '', '']"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  style="visibility: hidden; position: absolute; z-index: -99"
  *ngFor="let link of linksInXls; let i as linkIndex"
>
  <qrcode
    #qrcode
    [qrdata]="link"
    [elementType]="'img'"
    [width]="500"
    [style.margin-top.px]="-25"
    [errorCorrectionLevel]="'M'"
    [allowEmptyString]="true"
    colorDark="#000000"
  ></qrcode>
</div>
