<div class="container" [ngStyle]="{'flex-direction': whatsApp ? 'column' : 'row'}">

    <div class="tag-area" *ngIf="whatsApp">
        <div class="texts">
            <h1 class="title">Mensaje que se recibe al etiquetar</h1>
            <p class="text-ws">Adicionar notificación al taguear la orden/venta.</p>
        </div>

        <div class="on-off-icon">
            <img [src]="env + '/whatsapp_verde.svg'" alt="Icono de whatsApp. Haz click o toca para encender o apagar el mensaje" width="30px" height="30px" style="cursor: pointer;" (click)="turnOn()">
            <p class="on-off" (click)="turnOn()"><span *ngIf="!on">Off</span> <span *ngIf="on">On</span></p>
        </div>
    </div>

    <ng-container *ngIf="data">
        <div style="display: flex; flex-direction: column; justify-content: center;"> 
            <div class="data-container"*ngFor="let elements of data; index as i">
                <img [src]="env + elements.icon" alt="Haz click aqui para mas" (click)="elements.event()" class="icon" [ngStyle]="{'cursor': click ? 'pointer': 'auto'}" *ngIf="elements.icon">
                <p class="text" (click)="elements.event()" [ngStyle]="{'cursor': click ? 'pointer': 'auto'}" type="text">{{elements.text}}</p>
            </div>
        </div>
    </ng-container>

    <div class="merchant-area" *ngIf="merchant">
        <img [src]="env + '/person.svg'" alt="Haz click o toca para ver perfil del vendedor" class="icon" width="15px" height="19px" style="margin-left: 70%;">
        <img [src]="env + '/upload.svg'" alt="Haz click o toca para compartir" class="icon" width="53px" height="62px" style="margin-top: 28.5px;">
    </div>

</div>

<!-- TODO ES UN ARRAY DE OBJETOS -->