<div class="container">
  <div class="search-opened">
    <div class="header-top">
      <button class="close" (click)="goBack()">X</button>

      <span
        class="save"
        *ngIf="!headerService.user"
        [ngClass]="{
          valid: atLeastOneHasPriceAdded
        }"
        (click)="openMagicLinkDialog()"
        >Guardar</span
      >
    </div>

    <form class="search-bar-wrapper">
      <input
        type="text"
        name="item-search"
        id="search-from-results-view"
        class="input search-bar"
        [placeholder]="searchbarPlaceholder"
        [formControl]="itemSearchbar"
      />
    </form>
  </div>

  <ng-container *ngTemplateOutlet="itemsTutorialOverlay"></ng-container>

  <div class="list-of-items">
    <div
      class="item-wrapper"
      *ngFor="let item of quotationItemsToShow; let itemIndex = index"
    >
      <ng-container
        *ngTemplateOutlet="
          itemCard;
          context: {
            item: item,
            itemIndex: itemIndex,
            firstItem: itemIndex === 0
          }
        "
      ></ng-container>
    </div>
  </div>
</div>

<ng-template
  #itemCard
  let-item="item"
  let-itemIndex="itemIndex"
  let-firstItem="firstItem"
>
  <div
    class="item-card"
    [ngClass]="{
      'tutorial-highlighted': firstItem && tutorialOpened
    }"
  >
    <div class="left-column" (click)="(null)">
      <div
        class="product-image"
        [ngStyle]="{
          backgroundColor: 'white',
          backgroundImage: item.images?.length
            ? 'url(' +
              item.images[0].value +
              '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
            : 'url(/assets/images/noimage.png)',
          backgroundPosition: 'center',
          backgroundSize: 'cover',
          backgroundRepeat: 'no-repeat'
        }"
      ></div>
    </div>

    <div class="middle-column fixedWidth" (click)="(null)">
      <div class="item-name">{{ item.name }}</div>
      <div class="item-description">{{ item.description }}</div>

      <div
        class="item-price"
        (click)="item.inSaleflow ? editPrice(item, itemIndex) : addPrice(item)"
      >
        <ng-container *ngIf="item.pricing !== null">
          ${{ item.pricing | number : "1.2-2" }}
        </ng-container>

        <img
          class="price-tutorial-img"
          *ngIf="firstItem && tutorialOpened && item.pricing !== null"
          [src]="assetsFolder + '/card-arrow-up.svg'"
          alt=""
        />
      </div>

      <div
        class="item-add-price"
        *ngIf="item.pricing === null"
        (click)="addPrice(item)"
      >
        Mi precio

        <img
          class="price-tutorial-img"
          *ngIf="firstItem && tutorialOpened"
          [src]="assetsFolder + '/card-arrow-up.svg'"
          alt=""
        />
      </div>
    </div>

    <div class="right-column">
      <div class="quantity-title">VENDIENDO</div>

      <div class="item-quantity">
        <span
          mat-button
          class="button icon"
          (click)="
            item.stock >= 1
              ? changeAmount(item, 'subtract', itemIndex, item.inSaleflow)
              : null
          "
        >
          <ng-container *ngIf="item.inSaleflow">
            {{ item.stock > 1 ? "-" : "" }}
          </ng-container>

          <ng-container *ngIf="!item.inSaleflow">
            {{ unitsForItemsThatYouDontSell[item._id] > 1 ? "-" : "" }}
          </ng-container>

          <mat-icon
            *ngIf="item.stock === 1"
            style="font-size: 19px; width: 23px"
            >delete</mat-icon
          >
        </span>

        <span>{{
          !item.stock
            ? 0
            : !item.inSaleflow
            ? unitsForItemsThatYouDontSell[item._id]
              ? unitsForItemsThatYouDontSell[item._id]
              : 0
            : item.stock
        }}</span>

        <span
          mat-button
          class="button icon"
          (click)="changeAmount(item, 'add', itemIndex, item.inSaleflow)"
          >+</span
        >
      </div>
    </div>
  </div>

  <ng-container *ngIf="firstItem && tutorialOpened">
    <ng-container *ngTemplateOutlet="itemsTutorialContent"></ng-container>
  </ng-container>
</ng-template>

<ng-template #itemsTutorialOverlay>
  <div
    class="tutorial-wrapper"
    [ngClass]="{
      opened: tutorialOpened
    }"
  ></div>
</ng-template>

<ng-template #itemsTutorialContent>
  <div class="items-tutorial-wrapper">
    <ng-container
      *ngTemplateOutlet="
        helpCard;
        context: {
          containerStyles: {
            width: '86.91%',
            maxWidth: '372px'
          },
          middleText: 'Adiciona el precio de los artículos que vendes',
          middleTextStyles: {
            marginBottom: '16px',
            fontFamily: 'InterSemiBold',
            fontSize: '23px',
            fontStyle: 'normal'
          },
          bottomText: 'Ok',
          bottomTextClickHandler: closeItemsTutorial,
          openedStateObject: itemsTutorialCardsOpened,
          cardName: 'price'
        }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template
  #helpCard
  let-containerStyles="containerStyles"
  let-topText="topText"
  let-topImage="topImage"
  let-topTextStyles="topTextStyles"
  let-middleText="middleText"
  let-middleTextStyles="middleTextStyles"
  let-bottomText="bottomText"
  let-bottomTextClickHandler="bottomTextClickHandler"
  let-cardName="cardName"
>
  <div
    class="help-card-container"
    [ngStyle]="containerStyles"
    *ngIf="itemsTutorialCardsOpened[cardName]"
  >
    <span class="topText" *ngIf="topText" [ngStyle]="topTextStyles">{{
      topText
    }}</span>
    <img src="topImage" *ngIf="topImage" [src]="topImage" />
    <span class="middleText" [ngStyle]="middleTextStyles">{{
      middleText
    }}</span>
    <span
      class="bottomText"
      (click)="bottomTextClickHandler ? bottomTextClickHandler(cardName) : null"
      >{{ bottomText }}</span
    >
  </div>
</ng-template>
