.container {
  min-height: 100vh;
  & .select-page {
    display: flex;
    align-items: flex-end;
    background-color: lightblue;
    padding-left: 15px;
    padding-right: 15px;
    gap: 15px;
    overflow-x: scroll;
    position: sticky;
    top: 158px;
    height: 46px;
    z-index: 1002;
    & .option {
      // margin-top: 24px;
      height: 32px;
      padding: inherit;
      display: flex;
      align-items: center;
      padding: 5.5px 17.5px !important;
      max-height: 60px;
      text-align: center;
      margin-right: 17px;
      /* padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 22px;
            padding-right: 22px; */
      font-family: "RobotoMedium";
      font-size: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background-color: transparent;
      transition: 0.2s;
    }
  }
}

@media only screen and (min-height: 70px) and (max-height: 775px) {
  .option {
    // height: 15vh !important;
    max-height: 60px !important;
  }
}
