<div class="container">
  <app-helper-header
    *ngIf="finalizacion === false"
    [middleText]="headline"
    bgcolor="#FFFFFF"
    [searchAble]="false"
    middleTextFontSize="17px"
    middleTextFontFamily="SfProRegular"
    middleTextColor="#7B7B7B"
    (onClose)="goback()"
    [options]="false"
  ></app-helper-header>
  <app-helper-header
    *ngIf="finalizacion === true"
    [middleText]="headline"
    bgcolor="#FFFFFF"
    [searchAble]="false"
    middleTextFontSize="17px"
    middleTextFontFamily="SfProRegular"
    middleTextColor="#7B7B7B"
    (onClose)="goback()"
    [empty]="true"
    [basic]="true"
  ></app-helper-header>

  <ng-container *ngIf="products">
    <ng-container *ngFor="let item of products; let i = index">
      <app-item-card-amount-and-price
        [applyAnimations]="false"
        [itemData]="item"
        (imageClicked)="openImageDetail()"
      ></app-item-card-amount-and-price>
    </ng-container>
  </ng-container>

  <div
    class="select-page"
    #elemt
    (mousedown)="startDragging($event, false, elemt)"
    (mouseup)="stopDragging($event, false)"
    (mouseleave)="stopDragging($event, false)"
    (mousemove)="moveEvent($event, elemt)"
  >
    <ng-container *ngFor="let option of options; let i = index">
      <div
        class="option"
        [ngClass]="{'active': option.active }"
        (click)="changeOption(i)"
        routerLink="{{ option.link }}"
      >
        {{ option.option }}
      </div>
    </ng-container>
  </div>
  <div *ngIf="status === 'done'">
    <router-outlet></router-outlet>
  </div>
</div>
