<div class="container" *ngIf="itemData || tagData">
  <!-- <button class="fixed-top-button left" (click)="back()">
    <img [src]="env + '/arrow-double-up.svg'" alt="Volver" />
  </button> -->
  <header>
    <div class="title">
      <a
        mat-icon-button
        *ngIf="redirectTo || (mode !== 'preview' && mode !== 'image-preview')"
        [routerLink]="['../../../store']"
      >
        <i class="fas fa-chevron-left"></i>
      </a>
      <button
        mat-icon-button
        *ngIf="redirectTo || mode === 'preview' || mode === 'image-preview'"
        (click)="goBack()"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
      {{ headerService.saleflow.merchant.name }}
    </div>
    <div></div>
    <!-- <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button> -->
  </header>
  <button
    *ngIf="itemsAmount && mode != 'image-preview'"
    class="fixed-top-button right"
    mat-mini-fab
    (click)="goToCheckout()"
    [matBadge]="itemsAmount"
    matBadgePosition="after"
    matBadgeSize="small"
  >
    <mat-icon style="color: #6fcf97">shopping_cart</mat-icon>
  </button>
  <div
    class="current-media-shown-indicators"
    [style]="{
      'grid-template-columns': '' + fractions + ''
    }"
  >
    <ng-container *ngIf="entity === 'item' && itemData.images?.length > 0">
      <div
        class="indicator"
        [ngClass]="{
          active: imageIndex === currentMediaSlide
        }"
        *ngFor="let image of itemData.images; let imageIndex = index"
      ></div>
    </ng-container>

    <ng-container *ngIf="entity === 'post' && postSlides.length > 0">
      <div
        class="indicator"
        [ngClass]="{
          active: slideIndex === currentMediaSlide
        }"
        *ngFor="let slide of postSlides; let slideIndex = index"
      ></div>
    </ng-container>
  </div>

  <div class="media-swiper-wrapper">
    <div
      #swiperContainer
      [ngStyle]="{
        width: '100%',
        height: imageCanvasHeight + 'px'
      }"
    >
      <swiper
        [config]="swiperConfig"
        #mediaSwiper
        (slideChange)="updateCurrentSlideData($event)"
      >
        <ng-container *ngIf="itemData?.media && itemData?.media.length > 0">
          <ng-container *ngFor="let media of itemData.media; index as i">
            <div
              class="entity-image"
              *ngIf="media.type === 'IMAGE'"
              [ngStyle]="{
                backgroundImage: 'url(' + media.src + ')'
              }"
            ></div>

            <div class="video-wrapper" *ngIf="media.type === 'VIDEO'">
              <img
                src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/playIcon.svg"
                alt="play"
                class="playVideoIcon"
                style="
                  padding: 7rem !important;
                  z-index: 99;
                  max-width: 300px;
                  margin: auto;
                  left: 0;
                  right: 0;
                "
                (click)="playVideoOnFullscreen('media' + i)"
              />

              <video
                [id]="'media' + i"
                (click)="playVideoOnFullscreen('media' + i)"
                [src]="media.src"
                [ngStyle]="{
                  height: 'calc(100vh - 49px)'
                }"
              ></video>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tagData?.images?.length">
          <ng-container *ngFor="let media of tagData.images">
            <div
              class="entity-image"
              [ngStyle]="{
                backgroundImage: 'url(' + media + ')'
              }"
            ></div>
          </ng-container>
        </ng-container>
      </swiper>
    </div>
  </div>
  <div
    style="
      position: fixed;
      max-width: 500px;
      width: 100%;
      bottom: 0;
      z-index: 9999;
    "
  >
    <div class="information" style="position: relative">
      <p
        *ngIf="itemData.name || itemData.description"
        (click)="itemInformationDialog()"
      >
        <span *ngIf="itemData.name">{{ itemData.name }}.</span>
        {{ itemData.description }}
      </p>
      <!-- mira más -->

      <div class="expandedInfo" *ngIf="openedMessage">
        <div class="close-btn-flex" (click)="openedMessage = false">X</div>
        <p class="expandedParragraph">
          {{ itemData.description }}
        </p>
      </div>
    </div>
    <div class="actions">
      <div class="pricing">
        <div class="currency">
          RD$ {{ itemData.pricing | number : "1.2-2" }}
        </div>
      </div>
      <div class="buttons">
        <button
          mat-raised-button
          class="add"
          (click)="saveProduct()"
          *ngIf="itemData"
          [ngClass]="{
            inCart: isItemInCart
          }"
        >
          <mat-icon>
            {{ isItemInCart ? "remove_shopping_cart" : "add_shopping_cart" }}
          </mat-icon>
          <span>
            {{ isItemInCart ? "Eliminar" : "Adicionar" }}
          </span>
        </button>

        <!-- <button
          *ngIf="isSignup === true"
          style="
            width: 100%;
            padding: 12px 0px;
            background-color: #fed230;
            text-align: center;
            font-size: 17px;
            font-family: SFProBold;
            cursor: pointer;
          "
          (click)="showDialog()"
        >
          Crea tu primer artículo (ganas 3,000 DoCoins)
        </button> -->
        <!-- <button
          *ngIf="isCreateArticle === true"
          style="
            width: 100%;
            padding: 12px 0px;
            background-color: #fed230;
            text-align: center;
            font-size: 17px;
            font-family: SFProBold;
            cursor: pointer;
          "
          (click)="articleDialog()"
        >
          Abrir diálogo
        </button> -->
        <!-- <a
          class="cart-btn"
          [routerLink]="['../../../collections', tagData._id]"
          *ngIf="tagData"
          [ngClass]="{
            tagView: true,
            inCart: isItemInCart
          }"
        >
          Mira la colección
        </a> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="container post-data" *ngIf="postData">
  <button
    class="fixed-top-button"
    [ngStyle]="{
      left: '7px'
    }"
    (click)="back()"
  >
    <img [src]="env + '/arrow-double-up.svg'" alt="Flecha doble hacia arriba" />
  </button>

  <div class="media-swiper-wrapper">
    <div
      #swiperContainer
      [ngStyle]="{
        width: '100%',
        height: (swiperContainer.clientWidth * 10) / 7 + 'px'
      }"
    >
      <swiper
        [config]="swiperConfig"
        #mediaSwiper
        (slideChange)="updateCurrentSlideData($event)"
      >
        <ng-container *ngFor="let slide of postSlides; let i = index">
          <ng-container *ngIf="slide.type === 'poster' && !slide.isVideo">
            <div
              class="entity-image"
              [ngStyle]="{
                'background-image': 'url(' + slide.media + ')'
              }"
            >
              <div
                class="post-content-minimized"
                *ngIf="postContentMinimized"
                (click)="postContentMinimized = !postContentMinimized"
              >
                <p class="title2" *ngIf="slide.title">{{ postData.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">
                  {{
                    postData.message.length > 24
                      ? postData.message.slice(0, 24) + "..."
                      : postData.message
                  }}
                </p>
              </div>

              <div
                class="post-content-maximized"
                *ngIf="!postContentMinimized"
                (click)="postContentMinimized = !postContentMinimized"
              >
                <p class="title2" *ngIf="slide.title">{{ postData.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">
                  {{ postData.message }}
                </p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="slide.type === 'text'">
            <div class="text-content">
              <div class="content">
                <p class="title2" *ngIf="slide.title">{{ slide.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">{{ slide.text }}</p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="slide.type === 'poster' && slide.isVideo">
            <video
              [id]="'post-media' + i"
              [src]="slide.media"
              (click)="playVideoOnFullscreen('post-media' + i)"
            ></video>
          </ng-container>

          <div *ngIf="slide.type === 'audio'" class="audio">
            <div class="audio-container">
              <svg
                class="audio-file"
                xmlns="http://www.w3.org/2000/svg"
                version="1.0"
                width="500"
                height="500"
                viewBox="0 0 75 75"
              >
                <path
                  d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                  style="
                    stroke: #111;
                    stroke-width: 5;
                    stroke-linejoin: round;
                    fill: #111;
                  "
                />
                <path
                  d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                  style="
                    fill: none;
                    stroke: #111;
                    stroke-width: 5;
                    stroke-linecap: round;
                  "
                />
              </svg>
              <audio controls="controls">
                <source [src]="slide.media" />
              </audio>
            </div>
          </div>
        </ng-container>
      </swiper>
    </div>
  </div>

  <div
    class="bottom-user-actions-panel"
    [ngStyle]="{
      height: '8.3455vh'
    }"
  >
    <div class="inner-wrapper-top post">
      <div class="icons-flex-2">
        <button class="round-button" (click)="share()">
          <img
            [src]="env + '/upload.svg'"
            style="filter: brightness(10)"
            alt="Contenedor con flecha saliendo"
          />
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="container" *ngIf="postData">
  <!-- <button class="fixed-top-button left" (click)="back()">
    <img [src]="env + '/arrow-double-up.svg'" alt="Volver" />
  </button> -->
  <header>
    <div class="title">
      <a
        mat-icon-button
        *ngIf="!redirectTo"
        [routerLink]="['../../../store']"
        style="height: 32px; line-height: 32px"
      >
        <i class="fas fa-chevron-left"></i>
      </a>
      <button
        mat-icon-button
        *ngIf="redirectTo"
        (click)="goBack()"
        style="height: 32px; line-height: 32px"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
    <div></div>
    <!-- <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button> -->
  </header>
  <div
    class="current-media-shown-indicators"
    *ngIf="fractions !== ''"
    [style]="{
      'grid-template-columns': '' + fractions + ''
    }"
  >
    <ng-container
      *ngIf="
        entity === 'post' && postSlides.length > 0 && slidesInput.length === 0
      "
    >
      <div
        class="indicator"
        [ngClass]="{
          active: slideIndex === currentMediaSlide
        }"
        *ngFor="let slide of postSlides; let slideIndex = index"
      ></div>
    </ng-container>

    <ng-container
      *ngIf="
        entity === 'post' && postSlides.length === 0 && slidesInput.length > 0
      "
    >
      <div
        class="indicator"
        [ngClass]="{
          active: slideIndex === currentMediaSlide
        }"
        *ngFor="let slide of slidesInput; let slideIndex = index"
      ></div>
    </ng-container>

    <ng-container *ngIf="entity === 'post' && postPresentation === 'DEMO'">
      <div
        class="indicator"
        [ngClass]="{
          active: slideIndex === currentMediaSlide
        }"
        *ngFor="let slide of [1, 2]; let slideIndex = index"
      ></div>
    </ng-container>
  </div>

  <div class="media-swiper-wrapper" *ngIf="postSlides.length > 0">
    <div
      #swiperContainer
      [ngStyle]="{
        width: '100%',
        height: imageCanvasHeight + 'px'
      }"
    >
      <swiper
        [config]="swiperConfig"
        #mediaSwiper
        (slideChange)="updateCurrentSlideData($event)"
      >
        <ng-container *ngFor="let slide of postSlides; let i = index">
          <ng-container *ngIf="slide.type === 'poster' && !slide.isVideo">
            <div
              class="entity-image"
              [ngStyle]="{
                'background-image': 'url(' + slide.media + ')'
              }"
            >
              <div
                class="post-content-maximized"
                *ngIf="!postContentMinimized"
                (click)="postContentMinimized = !postContentMinimized"
              >
                <p class="title2" *ngIf="slide.title">{{ postData.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">
                  {{ postData.message }}
                </p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="slide.type === 'text'">
            <div class="text-content">
              <div class="content">
                <p class="title2" *ngIf="slide.title">{{ slide.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">{{ slide.text }}</p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="slide.type === 'poster' && slide.isVideo">
            <video
              [id]="'post-media' + i"
              [src]="slide.media"
              (click)="playVideoOnFullscreen('post-media' + i)"
            ></video>
          </ng-container>

          <div *ngIf="slide.type === 'audio'" class="audio">
            <div class="audio-container">
              <svg
                class="audio-file"
                xmlns="http://www.w3.org/2000/svg"
                version="1.0"
                width="500"
                height="500"
                viewBox="0 0 75 75"
              >
                <path
                  d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                  style="
                    stroke: #111;
                    stroke-width: 5;
                    stroke-linejoin: round;
                    fill: #111;
                  "
                />
                <path
                  d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                  style="
                    fill: none;
                    stroke: #111;
                    stroke-width: 5;
                    stroke-linecap: round;
                  "
                />
              </svg>
              <audio controls="controls">
                <source [src]="slide.media" />
              </audio>
            </div>
          </div>
        </ng-container>
      </swiper>
    </div>
    <div class="information">
      <p (click)="itemInformationDialog(true)">
        <span *ngIf="postData.title">{{ postData.title }}.</span>
        {{ postData.message }}
      </p>
      <!-- mira más -->

      <div class="expandedInfo" *ngIf="openedMessage">
        <div class="close-btn-flex" (click)="openedMessage = false">X</div>
        <p class="expandedParragraph">
          {{ postData.message }}
        </p>
      </div>
    </div>
    <div class="actions"></div>
  </div>

  <div class="media-swiper-wrapper" *ngIf="slidesInput.length > 0">
    <div
      #swiperContainer
      [ngStyle]="{
        width: '100%',
        height: imageCanvasHeight + 'px'
      }"
    >
      <swiper
        [config]="swiperConfig"
        #mediaSwiper
        (slideChange)="updateCurrentSlideData($event)"
      >
        <ng-container *ngFor="let slide of slidesInput; let i = index">
          <ng-container *ngIf="slide.type === 'IMAGE'">
            <div
              class="entity-image"
              [ngStyle]="{
                'background-image': slide.path
              }"
            >
              <div
                class="post-content-maximized"
                *ngIf="!postContentMinimized"
                (click)="postContentMinimized = !postContentMinimized"
              >
                <p class="title2" *ngIf="slide.title">{{ postData.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">
                  {{ postData.message }}
                </p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="slide.type === 'TEXT'">
            <div class="text-content">
              <div class="content">
                <p class="title2" *ngIf="slide.title">{{ slide.title }}</p>
                <p class="subtitle2" *ngIf="slide.text">{{ slide.text }}</p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="slide.type === 'VIDEO'">
            <video
              [id]="'post-media' + i"
              [src]="slide.path"
              (click)="playVideoOnFullscreen('post-media' + i)"
            ></video>
          </ng-container>
        </ng-container>
      </swiper>
    </div>
    <div class="information">
      <p (click)="itemInformationDialog(true)">
        <span *ngIf="postData.title">{{ postData.title }}.</span>
        {{ postData.message }}
      </p>
      <!-- mira más -->

      <div class="expandedInfo" *ngIf="openedMessage">
        <div class="close-btn-flex" (click)="openedMessage = false">X</div>
        <p class="expandedParragraph">
          {{ postData.message }}
        </p>
      </div>
    </div>
    <div class="actions"></div>
  </div>

  <div class="media-swiper-wrapper" *ngIf="postPresentation === 'DEMO'">
    <div
      #swiperContainer
      [ngStyle]="{
        width: '100%',
        height: imageCanvasHeight + 'px'
      }"
    >
      <swiper
        [config]="swiperConfig"
        #mediaSwiper
        (slideChange)="updateCurrentSlideData($event)"
      >
        <ng-container
          *ngFor="
            let slideImage of [
              'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/corgi.jpg',
              'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/kitten.jpg'
            ];
            let i = index
          "
        >
          <div
            class="entity-image"
            [ngStyle]="{
              'background-image': 'url(' + slideImage + ')'
            }"
          >
            <div
              class="post-content-maximized"
              *ngIf="!postContentMinimized"
              (click)="postContentMinimized = !postContentMinimized"
            >
              <p class="title2">Titulo del simbolo</p>
              <p class="subtitle2">Descripción del simbolo</p>
            </div>
          </div>
        </ng-container>
      </swiper>
    </div>
    <div class="information">
      <p (click)="itemInformationDialog(true)">
        <span *ngIf="postData.title">Titulo del simbolo.</span>
        Descripción del simbolo
      </p>
      <!-- mira más -->

      <div class="expandedInfo" *ngIf="openedMessage">
        <div class="close-btn-flex" (click)="openedMessage = false">X</div>
        <p class="expandedParragraph">Descripción del simbolo</p>
      </div>
    </div>
    <div class="actions"></div>
  </div>

  <div
    class="just-message"
    *ngIf="
      slidesInput.length === 0 &&
      postSlides.length === 0 &&
      postPresentation !== 'DEMO'
    "
  >
    {{ postData.message }}
  </div>
</div>
