<!--HEADER MENU-->
<div class="header">
  <div class="notification" (click)="back()">
    <div>
      <i
        class="fas fa-chevron-up"
        aria-hidden="true"
        style="color: rgb(255, 255, 255); display: block"
      ></i>
      <i
        class="fas fa-chevron-up"
        aria-hidden="true"
        style="color: rgb(255, 255, 255); display: block"
      ></i>
    </div>
  </div>
  <div></div>
  <div></div>
  <!-- <img
    (click)="openMenu('DESCRIPTION')"
    src="{{ env }}/d.png"
    class="notification"
  /> -->

  <div
    class="dot-trio"
    (click)="moreOptions()"
  ></div>

  <div></div>
  <span class="text"></span>
  <!-- <img src="{{ env }}/message.png" class="notification" alt="" /> -->
</div>

<div class="container" *ngIf="itemData">
  <div class="media-swiper-wrapper">
    <swiper
      [config]="swiperConfig"
      #mediaSwiper
      (slideChange)="updateCurrentSlideData($event)"
    >
      <ng-container *ngIf="itemData.images.length > 0">
        <div
          class="entity-image"
          *ngFor="let image of itemData.images"
          [ngStyle]="{
            backgroundImage: 'url(' + image + ')',
            backgroundSize: 'contain',
            height: 'calc(100vh - (179px))',
            backgroundColor: '#2e2e2e'
          }"
        ></div>
      </ng-container>
    </swiper>
  </div>

  <div
    class="bottom-user-actions-panel"
    [ngClass]="{
      opened: menuOpened
    }"
  >
    <div class="inner-wrapper-top">
      <div
        class="current-media-shown-indicators"
        [style]="{
          'grid-template-columns': '' + fractions + ''
        }"
      >
        <ng-container *ngIf="itemData.images.length > 0">
          <div
            class="indicator"
            [ngClass]="{
              active: imageIndex === currentMediaSlide
            }"
            *ngFor="let image of itemData.images; let imageIndex = index"
          ></div>
        </ng-container>
      </div>

      <!-- <div class="arrows-icon" (click)="openMenu('TAGS')">
        <img
          [ngClass]="{
            opened: menuOpened
          }"
          [src]="env + '/arrow-double-up.svg'"
          alt="open menu"
        />
      </div> -->
      <div></div>

      <div class="add-to-cart-and-item-price-columnn">
        <h3 class="item-price">
          RD $ {{ itemData.pricing | number : "1.2-2" }}
        </h3>
        <button
          (click)="saveProduct()"
          *ngIf="doesModuleDependOnSaleflow"
          [ngClass]="{
            inCart: isItemInCart
          }"
        >
          {{ isItemInCart ? "EN LA PRE-FACTURA" : "ADICIONALO A LA FACTURA" }}
        </button>

        <!--         <div class="add-to-favorites-flex" *ngIf="menuOpened">
          <p>Para guardar <span>+ recaudar fondo$ en la V2</span></p>
          <img [src]="env + '/heart-outline.png'" alt="add to favorites" />
        </div> -->
      </div>

      <div class="empty-space"></div>
    </div>

    <div class="inner-wrapper-bottom">
      <!-- ******************************************* TAG SWIPER ***************************************-->
      <div class="content-wrapper">
        <swiper
          [config]="swiperConfigTag"
          *ngIf="typeOfMenuToShow === 'TAGS'"
          style="max-width: 98%"
        >
          <div
            class="tags-area"
            *ngFor="let tag of itemTags; let tagIndex = index"
            (click)="onTagClick(tag)"
          >
            <div
              class="tag-item"
              [ngStyle]="{
                'background-image':
                  tag.images && tag.images.length > 0
                    ? 'url(' + tag.images[0] + ')'
                    : 'url(' + env + '/assets/images/noimage.png' + ')',
                border: tag.selected ? '3px solid #45944d' : 'solid 3px #82f18d'
              }"
            ></div>
            <span class="tag-name">{{ tag.name }}</span>
          </div>
        </swiper>

        <div class="description" *ngIf="typeOfMenuToShow === 'DESCRIPTION'">
          <p>
            {{
              !itemData.description ? "Sin descripción" : itemData.description
            }}
          </p>
        </div>
      </div>
      <!-- **************************************** END TAG SWIPER ***************************************-->
    </div>

    <!--
      <div
        class="cart-button"
        *ngIf="
          headerService.saleflow?.canBuyMultipleItems &&
          headerService.order?.products?.length
        "
        [ngStyle]="{
          backgroundColor: '#272727',
          backgroundImage: 'url(' + env + '/carrito_blanco.svg' + ')'
        }"
      >
        <div class="cart-button-inner-wrapper">
          <div class="items-amount">
            {{ headerService.order?.products?.length }}
          </div>
        </div>
      </div>
    -->
  </div>
</div>

<div
  class="container post-data"
  [ngStyle]="{
    height: 'calc(100vh - 49px)'
  }"
  *ngIf="postData"
>
  <div class="media-swiper-wrapper">
    <swiper
      [config]="swiperConfig"
      #mediaSwiper
      (slideChange)="updateCurrentSlideData($event)"
    >
      <ng-container *ngFor="let slide of postSlides">
        <ng-container *ngIf="slide.type === 'poster' && !slide.isVideo">
          <div
            class="entity-image"
            [ngStyle]="{
              backgroundImage: 'url(' + slide.media + ')',
              backgroundSize: 'contain',
              height: 'calc(100vh - (49px))',
              backgroundColor: '#2e2e2e'
            }"
          ></div>
        </ng-container>

        <ng-container *ngIf="slide.type === 'poster' && slide.isVideo">
          <video
            controls
            [src]="slide.media"
            [ngStyle]="{
              height: 'calc(100vh - 49px)'
            }"
          ></video>
        </ng-container>

        <div *ngIf="slide.type === 'audio'" class="audio">
          <div class="audio-container">
            <svg
              class="audio-file"
              xmlns="http://www.w3.org/2000/svg"
              version="1.0"
              width="500"
              height="500"
              viewBox="0 0 75 75"
            >
              <path
                d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                style="
                  stroke: #111;
                  stroke-width: 5;
                  stroke-linejoin: round;
                  fill: #111;
                "
              />
              <path
                d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                style="
                  fill: none;
                  stroke: #111;
                  stroke-width: 5;
                  stroke-linecap: round;
                "
              />
            </svg>
            <audio controls="controls">
              <source [src]="slide.media" />
            </audio>
          </div>
        </div>
      </ng-container>
    </swiper>
  </div>

  <div
    class="bottom-user-actions-panel"
    [ngStyle]="{
      transform: 'translateY(130px)'
    }"
  >
    <div class="inner-wrapper-top">
      <div
        class="current-media-shown-indicators"
        [style]="{
          'grid-template-columns': '' + fractions + ''
        }"
      >
        <ng-container *ngIf="entity === 'item' && itemData.images?.length > 0">
          <div
            class="indicator"
            [ngClass]="{
              active: imageIndex === currentMediaSlide
            }"
            *ngFor="let image of itemData.images; let imageIndex = index"
          ></div>
        </ng-container>

        <ng-container *ngIf="entity === 'post' && postSlides.length > 0">
          <div
            class="indicator"
            [ngClass]="{
              active: slideIndex === currentMediaSlide
            }"
            *ngFor="let slide of postSlides; let slideIndex = index"
          ></div>
        </ng-container>
      </div>

      <div></div>

      <div class="add-to-cart-and-item-price-columnn" *ngIf="entity === 'item'">
        <h3 class="item-price">
          RD $ {{ itemData.pricing | number : "1.2-2" }}
        </h3>
        <button
          (click)="saveProduct()"
          [ngClass]="{
            inCart: isItemInCart
          }"
        >
          {{ isItemInCart ? "EN LA PRE-FACTURA" : "ADICIONALO A LA FACTURA" }}
        </button>
      </div>

      <div class="empty-space"></div>
    </div>

    <div class="inner-wrapper-bottom" *ngIf="entity === 'item'">
      <div class="content-wrapper">
        <swiper
          [config]="swiperConfigTag"
          *ngIf="typeOfMenuToShow === 'TAGS'"
          style="max-width: 98%"
        >
          <div
            class="tags-area"
            *ngFor="let tag of itemTags; let tagIndex = index"
            (click)="onTagClick(tag)"
          >
            <div
              class="tag-item"
              [ngStyle]="{
                'background-image':
                  tag.images && tag.images.length > 0
                    ? 'url(' + tag.images[0] + ')'
                    : 'url(' + env + '/assets/images/noimage.png' + ')',
                border: tag.selected ? '3px solid #45944d' : 'solid 3px #82f18d'
              }"
            ></div>
            <span class="tag-name">{{ tag.name }}</span>
          </div>
        </swiper>

        <div class="description" *ngIf="typeOfMenuToShow === 'DESCRIPTION'">
          <p>
            {{
              !itemData.description ? "Sin descripción" : itemData.description
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
