<div class="collaborations-modal" (click)="close()">
  <h2>List-2-Raise es para vender más de forma orgánica.</h2>
  <div class="stuff-list">
    <div class="item-list">
        <img class="icon" [src]="env + '/pig.svg'" alt="" />
      <p class="text">Los Recauradores promocionan y venden.</p>
    </div>
    <div class="item-list">
        <img class="icon" [src]="env + '/creditCard.svg'" alt="" />
      <p class="text">
        Recibes el pago del comprador directo en tu cuenta bancaria.
      </p>
    </div>
    <div class="item-list">
        <img class="icon" [src]="env + '/document.svg'" alt="" />
      <p class="text">
        Recibes los pedidos (factura de las ventas) en tu WhatsApp.
      </p>
    </div>
    <div class="item-list">
        <img class="icon" [src]="env + '/receive-money.svg'" alt="" />
      <p class="text">
        Los Recauradores reciben el pago de la colaboración después de la venta.
      </p>
    </div>
    <div class="item-list">
        <img class="icon" [src]="env + '/star.svg'" alt="" />
      <p class="text">Tú y tus compradores ganan de colaborador</p>
    </div>
  </div>
</div>
