@import "forms";

.body {
    background-color: #f6f6f6;
    min-height: calc(100vh - 36px);
    padding-top: 43px;
    padding-left: 34px;
    padding-right: 20px;
    
    h2 {
        font-family: RobotoBold;
        font-size: 24px;
        margin: 0px;
        margin-bottom: 56px;
    }

    .input {
        &.customWidth {
            width: 86.89%;
        }
    }

    &.userInfo {
        .input-label {
            font-family: RobotoMedium;
            color: #7B7B7B;
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 19px;
            margin-top: 0px;

            &:last-of-type {
                margin-top: 45.5px;
            }
        }
    }

    .calendar {
        h3 {
            font-size: 17px;
            font-family: RobotoMedium;
            font-weight: normal;
            color: #7B7B7B;
            margin: 0px;
        }
    }

    .time-range-options-list {
        margin-top: 52px;
        
        h3 {
            font-size: 17px;
            font-family: RobotoMedium;
            font-weight: normal;
            color: #7B7B7B;
            margin: 0px;
        }
    }
}