
.slider {
    height: 100px;
    background: #181d17;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .title {
      text-transform: uppercase;
      font-family: InterMedium;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #c4c5c3;
      margin: 0;
      margin-bottom: 15px;
    }
  
    .progress-bar {
      width: 100%;
      height: 3px;
      border: 1px solid #7b7b7b;
      display: flex;
      justify-content: space-between;
    }
  
    .progress-bar-selected{
  
      background: #87CD9B;
      width: 25%;
      height: 3px;
      margin-bottom: -3px;
    }
  
    .first {
      margin-left: -3px;
    }
  
    .last {
      margin-right: -3px;
    }
    .progress-item {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background: #7b7b7b;
      margin-top: -6px;
    }

    .progress-item-selected{
        background: #87CD9B;
    }
  
    .flex-space-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
    }
  
    .progress-title {
      font-family: InterMedium;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #7b7b7b;
      text-align: center;
    }

    .progress-title-selected{
        color: #F6F6F6;

    }
  }
  