<div class="slider">
  <p class="title">{{ title }}</p>
  <div class="progress-bar-selected" [style]="getProgressSelected()"></div>
  <div class="progress-bar">
    <ng-container *ngFor="let status of statusList; let i = index">
      <div
      class="progress-item"
      [ngClass]="{ 
        'progress-item-selected': activeIndex === i,
        'first': i === 0
      }"
      (click)="updateStatus(status.status)"
      ></div>
    </ng-container>
  </div>
  <div class="flex-space-between">
    <ng-container *ngFor="let status of statusList; let i = index">
      <p 
        class="progress-title"
        [ngClass]="{
          'progress-title-selected': activeIndex === i
        }"
      >
        {{ status.name }}
      </p>
    </ng-container>
  </div>
</div>
