<div class="container" [ngStyle]="{backgroundColor: currentContent ? '#F6F6F6' : '#FFFFFF'}">
	<div class="topbar">
		<a class="cancel" (click)="cancel()">{{previewMode ? 'Editar' :  'Cancel'}}</a>
		<button (click)="save()" class="right" *ngIf="currentContent && (editText || image)">Salvar</button>
		<!-- <a class="right" *ngIf="!currentContent && content.length" routerLink="/others/post-preview">Preview</a> -->
		<button
			class="right"
			*ngIf="!previewMode && !currentContent && content.length"
			(click)="previewMode = true"
		>
			Preview
		</button>
		<button
			class="right"
			*ngIf="previewMode"
			(click)="createOrUpdatePost()"
		>
			Compartelo
		</button>
	</div>
	<div class="post-list" *ngIf="!currentContent">
		<div class="icon-edit" *ngFor="let item of content; index as i">
			<div class="edit-element" *ngIf="!previewMode">
				<button (click)="edit(i)"><img class="icon" [src]="env + '/pencil_line.svg'" alt="edit"></button>
				<button><img class="icon" *ngIf="postId" [src]="env + '/move.svg'" alt="move"></button>
			</div>
			<div class="editor" [ngStyle]="{'grid-column': previewMode ? '2 / span 10' : 'span 9'}">
				<app-pre-visualizer
					[mode]="item.type"
					[textPost]="item?.text"
					[image]="item?.imageUrl"
					[audio]="item?.audio?.blob"
				></app-pre-visualizer>
			</div>
		</div>
	</div>
	<div *ngIf="currentContent" class="edit-mode">
		<div *ngIf="currentContent.type === 'text'" class="post-message">
			<label for="post-message">Adiciona el texto:</label>
			<textarea
				class="textarea"
				name="post-message"
				id="post-message"
				placeholder="Escribe..."
				[(ngModel)]="editText"
			></textarea>
		</div>
		<div *ngIf="currentContent.type === 'poster'" class="post-image">
			<h3 class="image-title">Titulo del poster (opcional)</h3>
			<input
        id="post-image"
        (change)="fileProgress($event)"
        type="file"
        class="d-none"
      />
			<label
        [style.background]="imageField ? sanitize(imageField) : '#82F18D'"
        for="post-image"
        class="file"
      >
      </label>
			<p>Comentario de la imagen (opcional)</p>
		</div>
	</div>
</div>
<div
	*ngIf="!currentContent && !previewMode"
	class="buttons-container"
>
	<app-post-edit-buttons
		(buttonClicked)="onButtonClick($event)"
	></app-post-edit-buttons>
</div>
<app-sticky-button
	*ngIf="previewMode"
	[mode]="'basic'"
	[text]="'COMPARTELO'"
	(click)="createOrUpdatePost()"
></app-sticky-button>