.title {
  font-size: 16px;
  padding: 0px 30px;
  color: #7B7B7B;
  font-family: 'RobotoMedium';
  margin-top: 50px;
  margin-bottom: 20px;
}

.search {
  appearance: none;
  visibility: visible;
  border-radius: 10px;
  padding: 0px 20px;
  width: 80%;
  height: 53px;
  font-family: RobotoMedium;
  font-size: 20px;
  border: none;
  color: #0b1f38;
  box-shadow: 0px 7px 25px -18px inset;
  margin: 20px auto;
  display: block;
}

.message-container {
  width: 100%;
  padding: 40px 0px;
  text-align: center;
  font-size: 19px;
}


.content {
  width: 100%;
  padding-left: 30px;
  margin-bottom: 70px;
  padding-right: 10px;
}

.container {
  padding: 0px 5px;
  height: 100vh;
}