.page {
  min-height: 100vh;
  background-color: #272727;
  padding: 28px 7px 2rem 17px;
  color: white;
  overflow-y: scroll;

  .top-flex {
    display: flex;

    .cancel-btn {
      padding: 4px 21px;
      font-family: SfProBold;
      color: #7b7b7b;
      text-align: center;
      border-radius: 22px;
      background-color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .title {
    font-family: SfProBold;
    font-size: 21px;
    margin-bottom: 27px;
    margin-top: 41px;
  }

  .content {
    text-align: justify;
    font-family: SfProLight;
    font-size: 17px;

    h1, h2, h3, h4, h5, h6 {
      font-family: SfProBold;
    }

    ul {
      padding-left: 24px;
    }
  }
}
