<div
  class="container"
  [ngStyle]="{
    minHeight: deviceViewportHeight + 'px'
  }"
>
  <header>
    <img
      style="cursor: pointer"
      src="../../../../../assets/icons/close.svg"
      alt="go back to previous page"
      class="go-back-arrow"
      (click)="back()"
    />

    <div
      class="bullets"
      style="display: flex; gap: 6px"
      *ngIf="layout === 'EXPANDED-SLIDE' && itemData?.images?.length > 1"
    >
      <span
        style="
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          border: 1px solid #fff;
        "
        [ngStyle]="{
          backgroundColor: currentMediaSlide === 0 ? '#fff' : 'transparent'
        }"
        *ngFor="let item of itemData?.images; let index = index"
      ></span>
    </div>

    <img
      style="cursor: pointer"
      src="../../../../../assets/icons/share.svg"
      alt="go to next slide"
      role="button"
      (click)="user ? shareStore() : onGoBackToLogin()"
    />
  </header>

  <main
    *ngIf="genericModelTemplate"
    [ngClass]="{
      justText:
        !genericModelTemplate?.slides ||
        genericModelTemplate?.slides?.length === 0
    }"
  >
    <ng-container *ngIf="layout === 'ZOOMED-OUT-INFO'">
      <h2 class="title expanded" (click)="zoomOutOrZoomInDetails()">
        {{ genericModelTemplate.title }}
      </h2>
    </ng-container>

    <div
      class="media-canvas"
      [ngClass]="{
        minimized: layout === 'ZOOMED-OUT-INFO'
      }"
    >
      <div
        #swiperContainer
        class="the-swiper-container"
        [ngStyle]="{
          width: '100%',
          height:
            layout === 'EXPANDED-SLIDE'
              ? imageCanvasHeight + 'px'
              : imageCanvasHeightWhenZoomedOut + 'px'
        }"
        *ngIf="genericModelTemplate?.slides?.length > 0"
      >
        <swiper
          [config]="swiperConfig"
          #mediaSwiper
          (slideChange)="updateCurrentSlideData($event)"
        >
          <ng-container
            *ngFor="let slide of genericModelTemplate.slides; index as i"
          >
            <ng-container *ngIf="slide.type === 'IMAGE'">
              <img
                [ngStyle]="{
                  width:
                    layout === 'EXPANDED-SLIDE'
                      ? '100%'
                      : imageWidthWhenResized + 'px'
                }"
                [ngClass]="{
                  minimized: layout === 'ZOOMED-OUT-INFO'
                }"
                (click)="
                  layout === 'ZOOMED-OUT-INFO'
                    ? zoomOutOrZoomInDetails(i)
                    : null
                "
                [src]="slide.src"
                alt="catto"
              />
            </ng-container>

            <div
              class="video-wrapper"
              [ngClass]="{ expanded: layout === 'EXPANDED-SLIDE' }"
              *ngIf="slide.type === 'VIDEO'"
            >
              <div
                class="invisible-from-layer"
                [ngClass]="{
                  visible: layout === 'ZOOMED-OUT-INFO'
                }"
                (click)="zoomOutOrZoomInDetails(i)"
              ></div>
              <video
                #videoPlayer
                [id]="'media' + i"
                (click)="playCurrentSlideVideo('media' + i)"
                [ngStyle]="{
                  width:
                    layout === 'EXPANDED-SLIDE'
                      ? '100%'
                      : imageWidthWhenResized + 'px'
                }"
                [ngClass]="{
                  minimized: layout === 'ZOOMED-OUT-INFO'
                }"
                [src]="slide.src"
                [controls]="layout !== 'ZOOMED-OUT-INFO'"
                [autoplay]="false"
              ></video>
            </div>
          </ng-container>
        </swiper>
      </div>
    </div>

    <!--
        TITLE OF THE SYMBOL WHEN THE SLIDE IS EXPANDED
    -->
    <ng-container *ngIf="layout === 'EXPANDED-SLIDE'">
      <h2
        class="title small"
        *ngIf="genericModelTemplate.description"
        (click)="zoomOutOrZoomInDetails()"
      >
        <span
          *ngIf="genericModelTemplate.title"
          (click)="zoomOutOrZoomInDetails()"
        >
          {{ genericModelTemplate.title }}
        </span>
        {{ truncateString(genericModelTemplate?.description, 150, 2) }}
      </h2>

      <ng-container
        *ngIf="
          (!genericModelTemplate?.slides ||
            genericModelTemplate?.slides?.length === 0) &&
          genericModelTemplate.title &&
          genericModelTemplate.description
        "
      >
        <p class="description just-text">
          {{ genericModelTemplate.description }}
        </p>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="layout === 'ZOOMED-OUT-INFO'">
      <p
        class="description"
        [ngStyle]="{
          maxHeight:
            'calc((100vh - ' +
            imageCanvasHeightWhenZoomedOut +
            'px) - (53.55px + 25px + 14px + 54px))'
        }"
      >
        {{ genericModelTemplate.description }}
      </p>
    </ng-container>
  </main>

  <footer class="bottom-flex">
    <div class="left">
      <ng-container [ngSwitch]="entity">
        <div class="price" *ngSwitchCase="'item'">
          <ng-container *ngIf="entityPresentation !== 'DEMO'">
            ${{ itemData?.pricing | number : "1.2-2" }}
          </ng-container>

          <ng-container *ngIf="entityPresentation === 'DEMO'">
            $9.99
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="right">
      <ng-container [ngSwitch]="entity">
        <div class="add-to-cart" *ngSwitchCase="'item'" (click)="saveProduct()">
          <ng-container> Agrégalo al carrito </ng-container>
        </div>

        <div class="add-to-cart" *ngSwitchCase="'post'">
          <a
            target="_blank"
            [href]="postData?.ctaLink"
            *ngIf="
              entityPresentation !== 'DEMO' &&
              postData?.ctaText &&
              postData?.ctaLink
            "
          >
            {{ postData?.ctaText }}
          </a>
          <ng-container *ngIf="entityPresentation === 'DEMO'">
            {{ "link-button" | translate }}
          </ng-container>
        </div>
      </ng-container>
    </div>
    <qrcode
      style="display: none"
      #storeQrCode
      [qrdata]="getDataQR()"
      [elementType]="'img'"
      [width]="280"
      [errorCorrectionLevel]="'M'"
      [allowEmptyString]="true"
      colorDark="#000"
    ></qrcode>
  </footer>
</div>
