* {
  margin: 0;
}

.container {
  background-color: #293628;
  height: 100vh;

  header {
    padding: 8px;
    display: flex;
    align-items: center;

    .arrows {
      height: 17.85px;
      width: 14.15px;
      filter: invert(47%) sepia(22%) saturate(0%) hue-rotate(161deg)
        brightness(98%) contrast(109%);
    }

    button {
      all: unset;
      cursor: pointer;
    }
  }

  .current-media-shown-indicators {
    height: 3px;
    max-width: 500px;
    display: grid;
  }

  .indicator {
    flex: 1;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #7b7b7b;

    &.active {
      background-color: #82f18d;
    }
  }
}

.content {
  padding: 30px 22px;

  .title {
    color: #ffffff;
    font-size: 17px;
    font-family: SFProMedium;
  }

  .green-text-wrapper {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 35px;
    display: flex;
    align-items: center;
  }

  .subtitle {
    font-size: 13px;
    font-family: SFProLight;
  }

  .green {
    color: #82f18d;
  }

  .btn {
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    height: 54px !important;
    padding: 0px 35px;
    margin-top: 10px;
    width: 100%;
    border-radius: 27px;
    border: 1px solid #7b7b7b;
    color: #ffffff;
    font-size: 17px;
    font-family: SFProLight;
  }

  .selected {
    background-color: #82f18d;
    font-family: SFProBold;
  }

  .input-wrapper {
    margin-top: 37.5px;
    .input-title {
      color: #7b7b7b;
      font-size: 11px;
      font-family: SFProMedium;
    }

    input {
      border: none;
      padding: 17.5px 0px;
      background-color: transparent;
      border-bottom: 1px solid #82f18d;
      width: 100%;
      font-size: 17px;
      color: #ffffff;
      font-family: SFProSemibold;
    }

    input::placeholder {
      color: #7b7b7b;
    }
  }

  .swipe {
    all: unset;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: #7b7b7b;
    background-color: transparent;
    border: none;
    margin-top: 65vh;
  }

  .save {
    background-color: #82f18d;
    color: #272727;
    border: 2px solid #fff;
    font-family: SFProBold;
    // position: fixed;
    // bottom: 25px;
    width: 100%;
    max-width: 456px;
  }
}

.preview {
  height: 100%;
  width: 100%;
  border-radius: 11px;
  background-size: cover;
  background-position: center;
}

.cta {
  all: unset;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #fed230;
  color: #272727;

  cursor: pointer;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.square {
  border-radius: 11px;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  cursor: pointer;
}

.add {
  all: unset;
  cursor: pointer;
  border: 1px solid #707070;
  border-radius: 11px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c1c4c1;
  font-family: SFProBold;
  font-size: 38px;
}
