<div class="input-wrapper">
  <div class="currency-wrapper" [ngStyle]="fieldStyles">
    <span class="inner-label" [ngStyle]="innerLabelStyles" *ngIf="innerLabel">{{ innerLabel }}</span>
    <div
    [ngClass]="{'formatted-price': true, 'formatted-price-large': labelLarge}"
      
    >
      {{ currencyLabel }} ${{ formattedPricing }}
      <div
        class="cursor blinking-cursor"
        [ngClass]="{ 'blinking-cursor': curencyFocused, 'large-cursor': labelLarge }"
        [ngStyle]="cursorStyles"
        style="width: 1px;"
      ></div>
    </div>
  </div>
  <input
    #input
    class="formatted-input"
    type="number"
    [id]="inputId"
    inputmode="numeric"
    pattern="[0-9]*"
    [name]="inputName"
    [defaultValue]="initialValue"
    [required]="required"
    [tabIndex]="blockKeyboardNavigation ? -1 : null"
    (focus)="curencyFocused = true"
    (blur)="curencyFocused = false"
    (input)="formatNumber($event, true, input)"
    onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 187 && event.keyCode !== 107 && event.keyCode !== 109 && event.keyCode !== 37 && event.keyCode !== 39 && event.keyCode !== 45 && event.keyCode !== 95 && event.keyCode !== 106 && event.keyCode !== 47 && event.keyCode !== 58 && event.keyCode !== 40 && event.keyCode !== 38"
  />
</div>
