.input-wrapper {
  position: relative;
  height: 100%;
}
.currency-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 14px 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 7px 20px -18px inset;
}
.formatted-price {
  display: flex;
  font-family: RobotoMedium;
  font-size: 1rem;
}

.formatted-price-large {
  display: flex;
  font-family: InterBold;
  font-size: 46px;
  background: transparent;
}

.formatted-input {
  background-color: transparent;
  color: transparent;
  z-index: 50;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: none;
  box-shadow: none;
  font-size: 1px;

  padding: 0px 20px;
  width: 100%;
  height: 100%;
}
.blinking-cursor {
  animation-name: blinkinCursor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 1px;
  height: 1rem;

  @keyframes blinkinCursor {
    0% {
      background-color: black;
    }

    50% {
      background-color: white;
    }

    100% {
      background-color: black;
    }
  }
}

.large-cursor{
  height: 46px;
}

.currency-input-focused {
  width: 0px;
  height: 0px;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  // -webkit-appearance: none;
  // margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inner-label {
  font-family: "SfProMedium";
  font-size: 0.8125rem;
  font-weight: 500;
  color: #272727;
  word-break: break-word;
}

// ::ng-deep.mat-form-field-flex {
//   height: 55px !important;
// }
