<div class="container" *ngFor="let card of cards; index as i" (click)="card.callback ? card.callback() : null">
  <div *ngIf="card.notification === true" class="notification"></div>
  <div class="top">
    <!-- <img class="rounded" [src]="card.img" alt="" /> -->
    <div class="rounded" alt=""></div>
    <p class="title">{{ card.title }}</p>
    <p class="subtitle">{{ card.subtitle }}</p>
    <p class="amount">{{ card.amount }}</p>
  </div>
  <p *ngIf="card.bottomText" class="bottomText">{{ card.bottomText }}</p>
</div>
