<app-navigation [opened]="openNavigation" (closed)="openNavigation = false">
  <div class="container">
    <div class="header">
      <div
        class="flex"
        (click)="openNavigation = true"
        style="cursor: pointer; margin-left: auto"
      >
        <p>🧙‍♂️ Entrenamiento de asistente</p>
        <mat-icon>menu</mat-icon>
      </div>
    </div>

    <div class="page-body">
      <section>
        <h3>Carga tu archivo de entrenamiento(.txt)</h3>

        <input
          type="file"
          id="file"
          [style.display]="'none'"
          (change)="loadFile($event)"
          multiple
          [accept]="['.txt']"
        />

        <label for="file" class="itemContainer add" [style.cursor]="'pointer'">
          <div class="labelBox"></div>
          <div class="imgBox">
            <p>+</p>
          </div>
          <div class="label">Adiciona</div>
        </label>
      </section>

      <section>
        <h3>Reentrenar al asistente con los productos de mi tienda</h3>

        <button
          (click)="trainChatbotWithMyItems()"
        >
          Reentrenar
          <mat-icon>update</mat-icon>
        </button>
      </section>
    </div>
  </div>
</app-navigation>

<div class="bubble-button">?</div>
