button {
  all: unset;
}
.payment-selection {
  font-family: InterRegular;
  font-size: 17px;
  color: #FFF;
  margin: 0px;
  margin-top: 1em;
  display: inline-block;
}
.amount-input {
  margin-top: 24px;
  margin-bottom: 32px;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 80px;
  background-color: #181D17;

  .header {
    width: 100%;
    height: 36px;
    background-color: transparent;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .back-btn {
      position: absolute;
      color: #ffffff;
      left: 16px;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }

    .method {
      font-family: InterMedium;
      font-size: 1.313rem;
      // font-weight: 500;
      color: #ffffff;
      margin: 0px;
    }

    .right-area {
      display: flex;
      align-items: flex-end;

      .header-text {
        font-family: "RobotoRegular";
        font-size: 0.875rem;
        color: #ffffff;
        margin-right: 6px;
      }

      img {
        width: 14px;
        filter: brightness(2);
      }
    }
  }

  .total-paid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 29px 0 58px;
    text-align: center;

    .paid {
      font-family: "RobotoMedium";
      font-size: 2.75rem;
      color: #7b7b7b;
      margin: 0;
    }

    .total {
      font-family: "RobotoLight";
      font-size: 0.875rem;
      color: #000000;
      margin: 2px 0;
    }
  }

  .payment-method {
    margin-left: 7.71%;
    margin-right: 10.04%;
    margin-bottom: 32px;
  }

  .amount-list {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 23px;

    .amount-flex-wrapper {
      padding-top: 2px;
      // padding-bottom: 12px;
      width: 100%;
      // background-color: #ffffff;
      border-radius: 5px;
      margin-bottom: 3px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .label {
        font-family: SfProBold;
        font-size: 17px;
        color: #7B7B7B;
        margin: 0px;
        padding: 0px;
      }

      .amount {
        font-family: SfProBold;
        font-size: 17px;
        color: #7B7B7B;
        margin: 0px;
        padding: 0px;
      }

      .highlight {
        color: #C4C5C3;
      }
    }
  }

  .separator {
    margin: 0px;
    margin: 0px 22px;
    height: 0.5px;
    border-top: 0.1px solid lightgray;
    margin-bottom: 35px;
  }

  .image-area {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-left: 7.71%;
    margin-right: 10.04%;

    .image-label {
      font-family: SfProBold;
      font-size: 17px;
      color: #272727;
      margin: 0px;
      display: inline-block;
      margin-bottom: 18px;
    }
  }
}
.option-content {
  background-color: #82f18d;
  padding: 17px 12px 17px 27px;
  margin-top: 29px;
  border-radius: 5px;
  position: relative;
  display: flex;

  .option-icon-wrapper {
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .option-icon {
      width: 22px;
      height: 22px;
    }
  }

  .texts {
    p {
      margin: 0;
    }

    .option-title {
      font-size: 0.75rem;
      padding-bottom: 0.5rem;
      font-family: SfProBold;
      color: #000000;
    }
    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        font-size: 1rem;
        font-family: SfProRegular;
        color: #7b7b7b;
      }
    }
    .option-footer {
      padding-top: 0.5rem;
      font-size: 1rem;
      font-family: SfProBold;
      color: #174b72;
    }

    .option-remove {
      all: unset;
      position: absolute;
      top: 50%;
      right: -19px;
      transform: translate(50%, -50%);
      cursor: pointer;
      background-color: #ffffff;
      border: solid 1px #232323;
      color: #2874ad;
      padding: 4px 8px;
      border-radius: 50%;
      font-size: 13px;

      &:hover,
      &:active {
        background-color: #f8f8f8;
      }
    }
  }
}
a.disabled {
  pointer-events: none;
  cursor: default;
}

.refunds-policies {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;

  .labels {
    display: flex;
    flex-direction: column;

    .accept-terms {
      font-family: SfProBold;
      font-size: 13px;
      color: #FFF;
      margin-bottom: 8px;
    }

    .title {
      font-family: RobotoMedium;
      font-size: 12px;
      color: #a1a1a1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .checkbox {
    border-radius: 9px;
    background-color: white;
    width: 33px;
    height: 33px;
    border: 0.1px solid gray;

    &.selected {
      background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/white-checkmark.svg);
      background-size: cover;
      background-position: center;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($color: white, $amount: 2);
    }
  }
}

.option-cta {
  cursor: pointer;
  background-color: transparent;
  border-radius: 26px;
  border: solid 1px #aaa6a6;
  color: #FFF;
  width: 100%;
  margin-bottom: 10px;
  white-space: normal;
  line-height: 22px;
  padding: 10px;
  transition: 0.2s all;
  text-align: center;
  &.active {
      background-color: #87CD9B;
      border: 0;
  }
}

.selected-payment {
  cursor: pointer;
  p {
    font-family: InterRegular;
    font-size: 17px;
    color: #FFFFFF;
  }
}

.text-description {
  color: #FFF;
  font-size: 17px;
  font-family: InterLight;
}

.file-chooser {
  cursor: pointer;
  border: 1px solid #87CD9B;
  padding: 50px;
  width: 145px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-disclaimer {
  color: #FFFFFF;
  font-family: InterLight;
  font-size: 17px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-comprobant{
  // margin-left: 27vh;
  cursor:pointer;
  color: #936105;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
}

.file-add{
  background: #87CD9B; 
  border-radius: 11px;
  cursor: pointer;
  border: 0px;
  padding: 50px;
  width: 145px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.file-icon-add{
  color: #181D17; 
  font-size: 45px; 
  font-weight: bold;
}

.cancel-btn{
  cursor: pointer;
  position: absolute;
  color: #a1afaa;
  top: 0; 
  right: 0;
  z-index: 1;
}

.cancel-btn:active{
  color: #4f504f;
}

.comprobant{
  background: #87CD9B;
  border-radius: 11px;
  cursor: pointer;
  border: 0px;
  padding: 50px;
  width: 63vh;
  height: 68vh;
  margin: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.articles-factured{
  color: #7B7B7B;
  font-size: 17px;
  font-family: InterMedium;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
}

// Monto total
.amount-total{
  color: #C4C5C3;
  font-size: 17px;
  font-family: InterBold;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
}

// Transferencia Bancaria
.btn-payments{
  // display: flex;
  // width: 399px;
  // padding: 10px 28px 10px 31px;
  // align-items: flex-start;
  // gap: 10px;
  // border-radius: 23px;
  // border: 1px solid #7B7B7B;
  color: white;
  font-size: 17px;
  font-family: InterRegular;
  word-wrap: break-word;
  width: -webkit-fill-available; 
}

// PayPal te cobra un 7.5% adicional
.fee-paypal{
  color: white;
  font-size: 17px;
  font-family: InterLight;
  word-wrap: break-word
}
.p-text{
  color: #FFF;
  font-family: InterBold;
  font-size: 19px;
  font-style: normal;
  line-height: normal;
}