<div class="container">
  <app-helper-headerv2
    [mode]="'basic'"
    [mainText]="{
      text: 'Métodos de Pagos en DOP',
      fontFamily: 'SfProBold',
      fontSize: '21px'
    }"
    [returnAble]="false"
  ></app-helper-headerv2>
  <div class="payment-method" *ngIf="status === 'complete'">
    <div class="total-paid" *ngIf="order">
      <h1 class="paid">${{ paymentAmount | number: "1.2-2" }}</h1>
      <p class="total">Total Facturado</p>
    </div>
    <div class="amount-input" *ngIf="!order">
      <span class="payment-selection"> Monto del depósito </span>
      <app-currency-input
        (onInputEvent)="onAmountChange($event)"
      ></app-currency-input>
    </div>
    <span class="payment-selection">
      Selecciona el metodo que te convenga:
    </span>
    <ng-container *ngIf="!selectedBank">
      <app-answer-selector
        [values]="{
          type: 'bank',
          items: banks
        }"
        [activeOption]="selectedOption"
        [indicator]="true"
        (onSelector)="selectBank($event)"
        [containerStyles]="{
          margin: '0px'
        }"
      ></app-answer-selector>
    </ng-container>
    <ng-container *ngIf="selectedBank">
      <div class="option-content">
        <p class="option-title">Transferencia Bancaria</p>
        <ul>
          <li>Tipo de cuenta: {{ selectedBank.typeAccount }}</li>
          <li>{{ selectedBank.ownerAccount }}</li>
          <li>Cuenta: {{ selectedBank.account }}</li>
          <li>RNC: {{ selectedBank.routingNumber }}</li>
        </ul>
        <p class="option-footer">{{ selectedBank.bankName }}</p>
        <button class="option-remove" (click)="removeBank()">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
    </ng-container>
  </div>
  <div class="image-area" *ngIf="selectedBank">
    <label for="Image" class="image-label">Comprobante de Pago</label>
    <app-image-input
      style="margin-left: 5px"
      [allowedTypes]="['png', 'jpg', 'jpeg']"
      [expandImage]="true"
      (onFileInput)="onFileInput($event)"
    ></app-image-input>
  </div>
  <a
    *ngIf="image && selectedBank && order"
    [href]="whatsappLink"
    target="_blank"
    [ngClass]="{ disabled: !image }"
  >
    <app-sticky-button
      (click)="!disableButton && submitPayment()"
      [mode]="!disableButton ? 'fixed' : 'disabled-fixed'"
      [text]="
        image
          ? 'MANDAR FACTURA POR WHATSAPP'
          : selectedBank
          ? 'SUBE LA IMAGEN QUE EVIDENCIA EL PAGO'
          : ''
      "
      [size]="'small'"
      [bgColor]="image ? '#2874AD' : '#C1C1C1'"
      [customLeftButtonStyles]="{
        'letter-space': '1px',
        'font-family': 'RobotoMedium',
        'font-size': '17px',
        color: '#FFFFFF'
      }"
    ></app-sticky-button>
  </a>
  <app-sticky-button
    *ngIf="image && selectedBank && !order && depositAmount > 0"
    (click)="!disableButton && submitPayment()"
    [mode]="!disableButton ? 'fixed' : 'disabled-fixed'"
    [text]="
      image
        ? 'MANDAR FACTURA POR WHATSAPP'
        : selectedBank
        ? 'SUBE LA IMAGEN QUE EVIDENCIA EL PAGO'
        : ''
    "
    [size]="'small'"
    [bgColor]="image ? '#2874AD' : '#C1C1C1'"
    [customLeftButtonStyles]="{
      'letter-space': '1px',
      'font-family': 'RobotoMedium',
      'font-size': '17px',
      color: '#FFFFFF'
    }"
  ></app-sticky-button>
</div>
