<div class="container" *ngIf="!valComprobant">
  <header class="header">
    <button (click)="onBackClick()" class="back-btn">
      <mat-icon class="go_back_arrow" style="font-size: 30px; margin-top: 6px;">keyboard_arrow_left</mat-icon>
    </button>
    <!-- <h1 class="method">Métodos de Pagos</h1> -->
  </header>

  <div class="payment-method" *ngIf="status === 'complete'">
    <!--
      <div class="order-amount" *ngIf="order">
        <div class="amount-wrapper">
          <h4 class="title">Subtotal</h4>
          <h3 class="price">${{ paymentAmount | number: "1.2-2" }}</h3>
        </div>
        <div class="amount-wrapper">
          <h4 class="title">A saldar</h4>
          <h3 class="price">${{ paymentAmount | number: "1.2-2" }}</h3>
        </div>
      </div>
    -->

    <div class="amount-list" style="width: 103%;">
      <ng-container>
        <div class="amount-flex-wrapper">
          <h3 class="articles-factured">{{ this.order.items?.length }} Artículos facturados</h3>
          <h2 class="articles-factured">$ {{ subtotal | number : "1.2-2" }}</h2>
        </div>
        <div *ngIf="valDeliveryZone" class="amount-flex-wrapper">
          <h3 class="articles-factured">Zona de Entrega</h3>
          <h2 class="articles-factured">{{ this.valDeliveryZone.zona }}</h2>
        </div>
        <div class="amount-flex-wrapper" *ngIf="paymentMethod === 'paypal' && electronicPayments[0]?.feePercentage">
          <h3 class="articles-factured ">Fee de PayPal</h3>
          <h2 class="articles-factured">$ {{ (paymentAmount * electronicPayments[0]?.feePercentage) | number : "1.2-2" }}</h2>
        </div>
        <!-- <div class="amount-flex-wrapper" *ngIf="azulPaymentsSupported">
          <h3 class="label">Descuento</h3>
          <h2 class="amount">RD $ 0</h2>
        </div>
        <div class="amount-flex-wrapper" *ngIf="azulPaymentsSupported">
          <h3 class="label">Impuestos</h3>
          <h2 class="amount">RD $ 0</h2>
        </div> -->
        <!--<div class="amount-flex-wrapper">
          <h3 class="label">Subtotal a pagar</h3>
          <h2 class="amount">RD $ {{ subtotal | number : "1.2-2" }}</h2>
        </div>
         <div class="amount-flex-wrapper">
          <h3 class="label">Costo de envio</h3>
          <h2 class="amount">RD $ {{ deliveryAmount | number : "1.2-2" }}</h2>
        </div>
        <div class="amount-flex-wrapper" *ngIf="azulPaymentsSupported">
          <h3 class="label">Descuento</h3>
          <h2 class="amount">RD $ 0</h2>
        </div>
        <div class="amount-flex-wrapper" *ngIf="azulPaymentsSupported">
          <h3 class="label">Impuestos</h3>
          <h2 class="amount">RD $ 0</h2>
        </div>
        <div class="amount-flex-wrapper" *ngIf="paymentMethod === 'paypal' && electronicPayments[0]?.feePercentage">
          <h3 class="label">Fee de Paypal</h3>
          <h2 class="amount">RD $ {{ (paymentAmount * electronicPayments[0]?.feePercentage) | number : "1.2-2" }}</h2>
        </div> -->
      </ng-container>
      <div class="amount-flex-wrapper">
        <h3 class="amount-total">Monto total</h3>
        <h2 class="amount-total">$ {{ (paymentMethod === 'paypal' && electronicPayments[0]?.feePercentage ? (paymentAmount * electronicPayments[0]?.feePercentage) + paymentAmount : paymentAmount) | number : "1.2-2" }}</h2>
      </div>

      <br>
      <hr style="margin: 6px -12px;">

      <!-- <div class="refunds-policies" *ngIf="viewMerchantForRefund">
        <div class="labels">
          <div class="accept-terms">Acepto las políticas de reembolso</div>
          <div class="title" (click)="goToRefundPolicies()">
            Políticas de reembolsos
          </div>
        </div>

        <div
          class="checkbox"
          [ngClass]="{
            selected: acceptedRefundPolicies
          }"
          (click)="markOrUnmarkCheckbox()"
        ></div>
      </div> -->
    </div>

    <div class="amount-input" *ngIf="!order">
      <span class="payment-selection"> Monto del depósito </span>
      <div style="height: 64px">
        <app-currency-input
          (onInputEvent)="depositAmount = $event"
        ></app-currency-input>
      </div>
    </div>
    <span class="payment-selection" *ngIf="!paymentMethod"> Cómo prefieres pagar?</span>

    <div style="margin-top: 1em; width: 103%;">
      <button mat-button [ngClass]="{ active: paymentMethod === 'bank-transfer' }" class="option-cta btn-payments" (click)="selectPaymentMethod('bank-transfer')" *ngIf="!paymentMethod && banks.length">
        Transferencia bancaria
      </button>
  
      <button mat-button [ngClass]="{ active: paymentMethod === 'paypal' }" class="option-cta btn-payments" (click)="selectPaymentMethod('paypal')" *ngIf="!paymentMethod && electronicPayments.length">
        Paypal
      </button>

      <button mat-button [ngClass]="{ active: paymentMethod === 'azul' }" class="option-cta btn-payments" (click)="selectPaymentMethod('azul')" *ngIf="!paymentMethod && azulPaymentsSupported">
        Por tarjeta de créditos
      </button>

      <button mat-button [ngClass]="{ active: paymentMethod === 'azul' }" class="option-cta btn-payments" (click)="selectPaymentMethod('azul')" *ngIf="!paymentMethod && azulPaymentsSupported">
        Crédito de 30 días
      </button>
      
      <div
        class="selected-payment flex"
        *ngIf="paymentMethod"
        (click)="selectPaymentMethod(null)"
      >
        <p>Método de pago</p>
        <p>
          {{ 
            paymentMethod === 'bank-transfer'
              ? 'Transferencia bancaria'
              : paymentMethod === 'paypal'
              ? 'Paypal'
              : paymentMethod === 'azul'
              ? 'Azul'
              : 'Otro'
          }} >
        </p>
      </div>
    </div>

    <ng-container *ngIf="paymentMethod && paymentMethod !== 'azul'">
      <p *ngIf="paymentMethod === 'bank-transfer'" style="margin-top: 30px; margin-bottom: 30px;">
        <span class="p-text">Por favor transfiera en el Banco Popular, cuenta 4156 4521 451 y suba aquí una foto de la pantalla 👇</span>
        <!-- Por favor transfiera en el <span *ngFor="let bank of banks; let i = index">{{ bank.bankName }}, cuenta {{ bank.account }} {{ (banks.length > 1 && i + 1 !== banks.length) ? 'o ' : '' }}</span> y suba aquí una foto de la pantalla 👇 -->
      </p>
      <p *ngIf="paymentMethod === 'paypal'" style="margin-top: 30px; margin-bottom: 30px;">
        <span class="p-text">PayPal te cobra un 7.5% adicional. Por favor haga el pago en id@id.com y suba aquí una foto de la pantalla 👇</span>
        <!-- PayPal te cobra un {{ electronicPayments[0]?.feePercentage | percent:'1.1-2' }} adicional. Por favor haga el pago en <span *ngFor="let electronicPayment of electronicPayments; let i = index">{{ electronicPayment.email }} {{ (electronicPayments.length > 1 && i + 1 !== electronicPayments.length) ? 'o ' : '' }}</span> y suba aquí una foto de la pantalla 👇 -->
      </p>
      <div style="position: relative; width: 145px; height: 150px;">
        <div (click)="cleanPhoto()" class="cancel-btn" *ngIf="imageBase64">
          <mat-icon>cancel</mat-icon>
        </div>
        <div mat-button class="file-add" (click)="fileChooser.click()" 
            [ngStyle]="{ 
              backgroundImage: 'url(' + imageBase64 + ')',
              padding: imageBase64 ? '70px' : '50px'
            }"
          > 
          <mat-icon class="file-icon-add" *ngIf="!imageBase64">add</mat-icon>
        </div>
      </div>
    </ng-container>

    <input #fileChooser type="file" [accept]="['.png', '.jpg', '.jpeg', '.webp']" style="display: none;" (change)="fileUpload($event)">

    <p
      class="text-disclaimer"
      style="margin-top: 7em;"
      *ngIf="!paymentMethod && electronicPayments.length"
    >
    
      PayPal te cobra un 7.5% adicional
    </p>
  </div>

  <!-- <app-sticky-button
    *ngIf="paymentMethod && (order || (!order && depositAmount > 0))"
    (click)="!disableButton && image && submitPayment()"
    [mode]="!imageBase64 ? 'disabled-fixed' : 'fixed'"
    [text]="
      image
        ? 'Confirmar el pago y facturar'
        : paymentMethod
        ? 'SUBE LA IMAGEN QUE EVIDENCIA EL PAGO'
        : ''
    "
    [size]="'small'"
    [bgColor]="image ? '#87CD9B' : '#A1A1A1'"
    [customLeftButtonStyles]="{
      'letter-space': '1px',
      'font-family': 'RobotoMedium',
      'font-size': '17px',
      color: '#FFFFFF'
    }"
    [color]="image ? '#293628' : '#fff'"
  ></app-sticky-button> -->

  <form [action]="this.azulPaymentURL" method="post" id="azulForm">
    <input type="hidden" id="MerchantID" name="MerchantID" value="...." />
    <input
      type="hidden"
      id="MerchantName"
      name="MerchantName"
      value="D'liciantus"
    />
    <input
      type="hidden"
      id="MerchantType"
      name="MerchantType"
      value="Importadores y productores de flores y follajes"
    />
    <input type="hidden" id="CurrencyCode" name="CurrencyCode" value="$" />
    <input type="hidden" id="OrderNumber" name="OrderNumber" value="2" />
    <input type="hidden" id="Amount" name="Amount" value="9999" />
    <input type="hidden" id="ITBIS" name="ITBIS" value="1800" />
    <input
      type="hidden"
      id="ApprovedUrl"
      name="ApprovedUrl"
      value="http://localhost:5555/success.html"
    />
    <input
      type="hidden"
      id="DeclinedUrl"
      name="DeclinedUrl"
      value="http://localhost:5555/declined.html"
    />
    <input
      type="hidden"
      id="CancelUrl"
      name="CancelUrl"
      value="https://youtube.com"
    />
    <input
      type="hidden"
      id="UseCustomField1"
      name="UseCustomField1"
      value="1"
    />
    <input
      type="hidden"
      id="CustomField1Label"
      name="CustomField1Label"
      value="Custom1"
    />
    <input
      type="hidden"
      id="CustomField1Value"
      name="CustomField1Value"
      value="Value1"
    />
    <input
      type="hidden"
      id="UseCustomField2"
      name="UseCustomField2"
      value="1"
    />
    <input
      type="hidden"
      id="CustomField2Label"
      name="CustomField2Label"
      value="Custom2"
    />
    <input
      type="hidden"
      id="CustomField2Value"
      name="CustomField2Value"
      value="Value2"
    />
    <input type="hidden" id="AuthHash" name="AuthHash" value="......." />
  </form>
</div>
<div class="container" *ngIf="imageBase64 && valComprobant">
  <!-- <div> -->
    <header class="header" style="position: sticky; top: 0; background: #181D17;">
      <button (click)="onBackClickComprobant()" class="back-btn">
        <mat-icon class="go_back_arrow" style="font-size: 30px; margin-top: 6px;">keyboard_arrow_left</mat-icon>
      </button>
    </header>
  <!-- </div> -->
  <div class="payment-method">
    <div class="amount-list" style="width: 103%;">
      <ng-container>
        <div class="amount-flex-wrapper">
          <h3 class="articles-factured">{{ this.order.items?.length }} Artículos facturados</h3>
          <h2 class="articles-factured">$ {{ subtotal | number : "1.2-2" }}</h2>
        </div>
        <div *ngIf="valDeliveryZone" class="amount-flex-wrapper">
          <h3 class="articles-factured">Zona de Entrega</h3>
          <h2 class="articles-factured">{{ this.valDeliveryZone.zona }}</h2>
        </div>
        <div class="amount-flex-wrapper" *ngIf="paymentMethod === 'paypal' && electronicPayments[0]?.feePercentage">
          <h3 class="articles-factured">Fee de PayPal</h3>
          <h2 class="articles-factured">$ {{ (paymentAmount * electronicPayments[0]?.feePercentage) | number : "1.2-2" }}</h2>
        </div>
      </ng-container>
      <div class="amount-flex-wrapper">
        <h3 class="amount-total">Monto total</h3>
        <h2 class="amount-total">$ {{ (paymentMethod === 'paypal' && electronicPayments[0]?.feePercentage ? (paymentAmount * electronicPayments[0]?.feePercentage) + paymentAmount : paymentAmount) | number : "1.2-2" }}</h2>
      </div>
      <br>
      <hr style="margin: 6px -12px;">
    </div>
  </div>
  <div>
    <div class="row">
      <div mat-button class="comprobant"
          [ngStyle]="{ backgroundImage: 'url(' + imageBase64 + ')',
            padding: imageBase64 ? '70px' : '50px'
          }">
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <span (click)="cleanPhoto()" class="delete-comprobant">
        Eliminar el comprobante
      </span>
    </div>
      
  </div>
  <app-sticky-button
    *ngIf="paymentMethod && (order || (!order && depositAmount > 0))"
    (click)="!disableButton && image && submitPayment()"
    [mode]="!imageBase64 ? 'disabled-fixed' : 'fixed'"
    [text]="
      image
        ? 'Confirmar el pago y facturar'
        : paymentMethod
        ? 'SUBE LA IMAGEN QUE EVIDENCIA EL PAGO'
        : ''
    "
    [size]="'small'"
    [bgColor]="image ? '#87CD9B' : '#A1A1A1'"
    [customTextStyles]="{
      'letter-space': '1px',
      'font-family': 'InterBold',
      'font-style': 'normal',
      'font-size': '15.864px',
      'color': '#181D17'
    }"
    [color]="image ? '#181D17' : '#181D17'"
  ></app-sticky-button>
</div>
<app-dialog-flow
  [dialogFlowId]="'azulEmailRequest'"
  [status]="openedDialogFlow ? 'OPEN' : 'CLOSE'"
  [dialogs]="dialogs"
  [allowSlideNext]="false"
  (saveConfigRef)="swiperConfig = $event"
  [blockClosure]="true"
></app-dialog-flow>
