<div class="main-container">
  <div class="header">
    <div class="flex">
      <img [src]="env + '/arrow-double-up-black.svg'" class="back-icon" />
      <p>Reporte y control de beneficios</p>
    </div>
    <div>
        <img [src]="env + '/plus-black.svg'"  class="plus-icon" />
    </div>
  </div>
 <div class="slider-container">
 <div class="slider-item">
    <p>

        Todas
    </p>
 </div>
 <div class="slider-item slider-item-selected">
    MesEnCursoID
 </div>
 <div class="slider-item">
    MesEnCursoID
 </div>
 <div class="slider-item">
    MesEnCursoID
 </div>
 <div class="slider-item">
    MesEnCursoID
 </div>
 <div class="slider-item">
    MesEnCursoID
 </div>

</div>
  <div class="content">
    <p class="content-title">INGRESO EXTRA EN FACTURAS</p>
    <div class="content-items-container">
        <div class="content-item">
            <div class="content-item-button-container">
            <div class="content-item-button">

            </div>
            </div>
            <div class="content-item-texts">

                <div class="content-item-title-container">
                    <p class="content-item-title">
                        GroupID
                    </p>
                    <p class="content-item-title">
                        $0.00
                    </p>
                </div>
                <p class="content-item-times-selected">
                    87 veces seleccionado
                </p>
            </div>
        </div>
        <div class="content-item">
            <div class="content-item-button-container">
            <div class="content-item-button">
                
            </div>
            </div>
            <div class="content-item-texts">

                <div class="content-item-title-container">
                    <p class="content-item-title">
                        GroupID
                    </p>
                    <p class="content-item-title">
                        $0.00
                    </p>
                </div>
                <p class="content-item-times-selected">
                    87 veces seleccionado
                </p>
            </div>
        </div>
    </div>
    <p class="content-title">INGRESO EXTRA EN PRODUCTOS</p>
    <div class="content-items-container">
        <div class="content-item">
            <div class="content-item-button-container">
            <div class="content-item-button">

            </div>
            </div>
            <div class="content-item-texts">

                <div class="content-item-title-container">
                    <p class="content-item-title">
                        GroupID
                    </p>
                    <p class="content-item-title">
                        $0.00
                    </p>
                </div>
                <p class="content-item-times-selected">
                    87 veces seleccionado
                </p>
            </div>
        </div>
        <div class="content-item">
            <div class="content-item-button-container">
            <div class="content-item-button">
                
            </div>
            </div>
            <div class="content-item-texts">

                <div class="content-item-title-container">
                    <p class="content-item-title">
                        GroupID
                    </p>
                    <p class="content-item-title">
                        $0.00
                    </p>
                </div>
                <p class="content-item-times-selected">
                    87 veces seleccionado
                </p>
            </div>
        </div>
    </div>
    <p class="content-title">EGRESOS</p>
    <div class="content-items-container">
        <div class="content-item">
            <div class="content-item-button-container">
            <div class="content-item-button">

            </div>
            </div>
            <div class="content-item-texts">

                <div class="content-item-title-container">
                    <p class="content-item-title">
                        GroupID
                    </p>
                    <p class="content-item-title">
                        $0.00
                    </p>
                </div>
                <p class="content-item-times-selected">
                    87 veces seleccionado
                </p>
            </div>
        </div>
        <div class="content-item">
            <div class="content-item-button-container">
            <div class="content-item-button">
                
            </div>
            </div>
            <div class="content-item-texts">

                <div class="content-item-title-container">
                    <p class="content-item-title">
                        GroupID
                    </p>
                    <p class="content-item-title">
                        $0.00
                    </p>
                </div>
                <p class="content-item-times-selected">
                    87 veces seleccionado
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <p class="footer-dates">Desde fechaID hasta hoy</p>
    <p class="footer-prices">$155,458.12 - $15,000 = 140,459.32 ~17%</p>
</div>
