<div class="cropper">
  <div class="cropper__imageContainer">
    <button class="back-button" (click)="back()">X</button>
    <button class="fixed-button" (click)="exportCanvas()">Continuar</button>
    <div class="image-canvas-wrapper">
      <div
        class="cropper__image"
        #cropperImage
        [ngStyle]="{
          width: '100%',
          height: imageCanvasHeight + 'px'
        }"
      >
        <img #image [src]="imgUrl" (load)="imageLoaded($event)" />
      </div>
    </div>
    <div class="cropper__zoomSlider">
      <div class="text-icons-container">
        <button (click)="setZoom('in')" class="action_buttons">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </button>
        <button (click)="setZoom('out')" class="action_buttons">
          <i class="fa fa-search-minus" aria-hidden="true"></i>
        </button>
        <button (click)="flipCanvas('horizontal')" class="action_buttons">
          <i class="fa fa-arrows-h" aria-hidden="true"></i>
        </button>
        <button (click)="flipCanvas('vertical')" class="action_buttons">
          <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </button>
        <button (click)="changeViewMode()" class="action_buttons">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </button>
      </div>
      <div class="range-slider">
        <img class="icon" [src]="env + '/crop-rotate.svg'" alt="" srcset="" />
        <input
          type="range"
          min="0"
          max="360"
          [step]="10"
          [value]="0"
          (input)="updateRotation($event)"
        />
      </div>
    </div>
  </div>
</div>
