.title {
    font-family: "SfProRegular";
    font-size: 14px;
    color: #7B7B7B;
    padding: 20px;
}
.link-button {
    display: flex;

    svg {
        margin: auto;
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
}