<mat-action-list
  class="list"
  [ngClass]="{
    'full-screen': data.styles.fullScreen
  }"
>
  <p class="close">
    <!-- <button mat-icon-button (click)="openLink()"> -->
    <mat-icon *ngIf="!data[0]?.styles?.fullScreen"(click)="openLink()">close</mat-icon>
    <mat-icon *ngIf="data[0]?.styles?.fullScreen" style="color: #fff; transform: scale(0.8); margin-left: -18px;">
      close
    </mat-icon>
    <!-- </button> -->
  </p>
  <main>

    <div class="tabs-container">
      <!-- TABS -->
      <div class="tab-question" >
        Hola, soy Dal<span>ia</span>h y me encantaría saber como puedo ayudarte.
        <br><br>¿Qué de mis posibilidades necesitas más?
      </div>
      <div class="tab-content">
        <!-- <div class="tab-content-item" *ngFor="let item of tabProvider">
          {{ item }}
        </div> -->
        <ul>
          <li class="tab-content-item" [routerLinkActive]="!link.isDummy ? 'active' : ''" *ngFor="let link of tabProvider">
            <a
                [routerLink]="!link.isDummy ? link.routerLink : null"
                (click)="redirectToLink(link)"
                style="padding: 0px"
                *ngIf="!link.isShowDialog"
            >
              <span class="text">{{link.text}}</span><br>
            </a>
            <!-- <p class="text" *ngIf="link.isShowDialog" (click)="showDialog()">{{link.text}}</p> -->
          </li>
        </ul>
      </div>
    </div>
  </main>
</mat-action-list>
<footer class="footer" [ngClass]="{'no-green': headerService.user}" (click)="share()">
  {{headerService.user?"💚 Trae invitados y gana $ cada mes":"Empieza con tu correo electrónico"}}
</footer>