* {
  margin: 0;
}

::ng-deep .cdk-overlay-pane {
  width: 100%;
  max-width: 500px !important;
}

::ng-deep .mat-list-base {
  padding: 20px;
}

.header-border {
  height: 1px;
  background-color: #7b7b7b;
  margin-bottom: 30px;
  width: 100%;
}
::ng-deep .mat-bottom-sheet-container {
  padding: 0px;
  min-width: 100%;
  // margin: auto;
  box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024,
    0 6px 30px 5px #0000001f;
  background: #171d16 !important;

  .title {
    color: #c4c5c3;
    font-family: InterRegular;
    font-size: 14px;
    margin-bottom: 18px;
    font-style: normal;
  }

  .green {
    font-size: 16px;
    font-family: InterRegular;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    color: #181D17 !important;
    border-radius: 29px;
    background: #6FCF97;
    padding: 10px 13px;
    width: fit-content;
    margin-bottom: 13px;
  }

  .list-item {
    font-size: 16px;
    font-family: InterRegular;
    padding-left: 12px;
    padding-right: 12px;
    line-height: normal;
    font-style: normal;
    color: #F6F6F6;
    margin-bottom: 10px;
    border-left: 2px solid #87CD9B;
    cursor: pointer;
    a {
      color: #F6F6F6;
    }
  }

  .list-item.active {
    font-size: 16px;
    font-family: InterRegular;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    border-radius: 29px;
    background: #6FCF97;
    padding: 10px 13px;
    width: fit-content;
    margin-bottom: 13px;
    a {
      color: #181D17;
    }
  }

  .user-info {
    .info {
      color: #C4C5C3;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 14px;
    }
  }
  

}
.close {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: InterRegular;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

main {
  min-height: 100vh;
  .sub-title {
    font-size: 17px;
    font-family: 'InterRegular';
    color: #C4C5C3;
    margin: 10px auto;
    width: fit-content;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 11px;
    padding-bottom: 34px;

    li {
      list-style: none;
      // display: flex;
      align-items: center;
      justify-content: flex-end;

      &:not(:first-child) {
        margin-top: 8px;
      }

      a {
        color: #c4c5c3;
        font-family: InterRegular;
        font-size: 17px;
      }

      .icon {
        position: absolute;
        visibility: hidden;
        right: 17px;
      }

      &.active {
        color: #87cd9b;

        a {
          color: #87cd9b;
        }

        .icon {
          visibility: visible;
          // color: #87cd9b;
        }
      }
    }

    .features-for-user {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 17px;

      &:not(:first-child) {
        margin-top: 26px;
      }

      h4 {
        margin: 0px;
        padding: 0px;
        color: #fff;
        text-align: center;
        font-family: InterBold;
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 9px;
      }

      p {
        margin: 0px;
        padding: 0px;
        color: #fff;
        text-align: center;
        font-family: InterMedium;
        font-size: 19px;
        font-style: normal;
        line-height: normal;
      }
    }

    .text-list {
      margin-top: 15px;
      list-style: inside;
      display: list-item;
      color: #fff;
      font-family: InterRegular;
      font-size: 15px;
      font-style: normal;
      line-height: normal;

      &::marker {
        margin-right: 10px;
      }

      .title {
        position: relative;
        left: -5px;
        color: #fff;
        font-family: InterBold;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .list-content {
        position: relative;
      }
    }
  }
}
.tabs-container {
  .title {
    color: #C4C5C3;
    margin-top: 30px;
    margin-left: 11.72px;
    font-size: 14px;
    margin: 46px auto 10px auto;
    padding-left: 12px;
  }
  .tab-question {
    font-size: 19px;
    color: white;
    font-weight: 600;
    font-family: InterRegular;
    margin: 17px 14px;
  }
  .tab-content-item {
    font-size: 17px;
    font-family: InterRegular;
    padding-left: 12px;
    padding-right: 12px;
    line-height: normal;
    color: #C4C5C3;
    margin-bottom: 12px;
    border-left: 2px solid #87CD9B;
  }

  .tab-content-item span.subText {
    font-size: 15px;
  }
}
.description {
  margin-bottom: 34px;
  * {
    color: #F6F6F6;
    font-family: InterRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .title {
    color: #FFF;
    font-family: InterBold;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 14px;
  }
  .flex {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 8px;
    }
  }
  .content {
    margin-bottom: 24px;
  }
}
.tabs {
  margin-top: 1.5em;
  margin-left: 11.72px;
  display: flex;
  justify-content: flex-start;
  height: fit-content;

  .tab {
    padding: 4px 13px;
    border-radius: 29px;
    border: 1px solid rgba(146, 140, 139, 0.94);
    color: #fff;
    font-family: "InterRegular";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 420px) {
      font-size: 13px;
    }

    &.active {
      background-color: #c4c5c3;
      font-family: InterBold;
      color: #181d17;
    }

    &:hover {
      cursor: pointer;
      background-color: #c4c5c3;
      color: #181d17;
    }
  }
}
.subtabs {
  display: flex;
  justify-content: flex-start;
  &.active {
    margin-bottom: 2em;
  }
  .subtab {
    cursor: pointer;
    margin-top: 1.5em;
    margin-left: 12px;
    color: #F6F6F6;
    font-family: InterRegular;
    font-size: 16px;
    &.active {
      padding-bottom: 3px;
      border-bottom: 2px solid #6FCF97;
    }
  }
}
.footer-swiper {
  .swiper-custom-container {
    ::ng-deep .swiper-pagination-bullet {
      background-color: #181d17 !important;
      border: 1px solid white !important;
      width: 14px;
      height: 14px;
    }

    ::ng-deep .swiper-pagination-bullet-active {
      background-color: white !important;
      border: 1px solid white !important;
    }
  }
}

.footer-swiper-title {
  color: var(--fondo-de-pantallas, #f6f6f6);
  font-family: InterRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 26px auto;
  text-align: center;
}

.slide-content {
  color: var(--plomito, #c4c5c3);
  text-align: center;
  font-family: InterRegular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 86.91%;
  margin: auto;
  margin-bottom: 29px;
}
.blank-space {
  width: 100%;
  height: 75px;
}
footer {
  margin: auto;
  z-index: 999;
  position: sticky;
  max-width: 500px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 9px;
  padding-bottom: 3px;
  color: #181d17;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background-color: #87cd9b;
}

footer.no-green {
  background-color: #935F00;
  color: white;
}