<div class="container">
  <p *ngIf="data.bio">
    {{ data.bio }}
  </p>
  <div>
    <div *ngIf="data.contact?.link?.length">
      <span class="title">Contactos</span>
      <ul>
        <li *ngIf="data.phone">
          <a [href]="'tel:+' + data.phone" target="_blank" (click)="close()">
            <div class="contact">
              <div class="logo phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="content">
                <span class="name">Teléfono</span>
                <span class="url">{{ data.phone }}</span>
              </div>
            </div>
          </a>
        </li>
        <li *ngIf="data.phone">
          <a
            [href]="'https://wa.me/' + data.phone.replace('+', '')"
            target="_blank"
            (click)="close()"
          >
            <div class="contact">
              <div class="logo whatsapp">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </div>
              <div class="content">
                <span class="name">WhatsApp</span>
                <span class="url">{{ data.phone }}</span>
              </div>
            </div>
          </a>
        </li>
        <li *ngIf="data.email">
          <a [href]="'mailto:' + data.email" target="_blank" (click)="close()">
            <div class="contact">
              <div class="logo email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="content">
                <span class="name">Email</span>
                <span class="url">{{ data.email }}</span>
              </div>
            </div>
          </a>
        </li>
        <li *ngFor="let link of data.contact.link">
          <a [href]="link.value" target="_blank" (click)="close()">
            <div class="contact">
              <div class="logo instagram" *ngIf="link.name == 'Instagram'">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
              <div class="logo facebook" *ngIf="link.name == 'Facebook'">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
              <div class="logo twitter" *ngIf="link.name == 'Twitter'">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>

              <div class="content">
                <span class="name">{{ link.name }}</span>
                <span class="url">{{ link.value }}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div
      *ngIf="!data.contact?.link?.length"
      style="text-align: center; font-family: 'SfProBold'; color: #fff"
    >
      El usuario no tiene formas de contacto.
    </div>
  </div>
</div>
<!-- <div class="action-bar" *ngIf="data.chatLink || data.link">
  <button mat-button (click)="goToChat()" *ngIf="data.chatLink">
    CHAT CONMIGO POR WHATSAPP
  </button>
  <button mat-button (click)="shareStore()" class="share" *ngIf="data.link">
    COMPARTE MI CONTACTO
    <i class="fa fa-share-alt" aria-hidden="true"></i>
  </button>
</div> -->
