.toggle {
  margin-right: 32px;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #702015 !important;
  border: 4px solid #BDC3C7 !important;
  height: 17px;
  width: 29px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #2ECC71 !important;
  border: 4px solid #BDC3C7 !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(5px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb-container {
  transform: translate3d(-1px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #ECF0F1 !important;
  border: 1px solid #BDC3C7 !important;
  height: 12px;
  width: 12px;
  transform: translate3d(-1px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ECF0F1 !important;
  transform: translate3d(5px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
  height: 30px;
  width: 30px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: black !important;
}

.container {
  min-height: 100%;
  background-color: #181d17;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    position: sticky;
    max-width: 500px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 10px;
    padding-right: 23px;
    background-color: #181d17;
    align-items: center;

    img {
      width: 22px;
      margin-right: 10px;
    }

    h1 {
      margin: 0px;
      color: var(--Fondo-de-Pantallas, #F6F6F6);
      font-family: FiraSansRegular;
      font-size: 13px;
      letter-spacing: 0.715px;

      .highlight {
        color: #87cd9b;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .add {
        color: #fff;
        font-family: FiraSansBold;
        font-size: 34.705px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        background-color: transparent;
        padding: 0px;
        border: none;
        display: flex;
        align-items: center;
        max-height: 23.4px;
      }

      .close {
        background-color: transparent;
        padding: 0px;
        color: #fff;
        font-family: FiraSansBold;
        font-size: 19.005px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        border: none;
        display: flex;
        align-items: center;
        margin-left: 32px;
      }
    }
  }

  main {
    padding: 4px 23px 0;

    .memory {
      padding: 17px 22px 29px;
      height: 132px;
      border-radius: 15px;
      border: 1px solid var(--Plomo, #7b7b7b);
      margin-bottom: 7px;

      &:hover {
        cursor: pointer;
      }

      .name {
        text-transform: uppercase;
        color: var(--Fondo-de-Pantallas, #f6f6f6);
        font-family: InterRegular;
        font-size: 11px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 16px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .content {
        color: var(--Blanco, #fff);
        font-family: InterRegular;
        font-size: 16.107px;
        font-style: normal;
        line-height: normal;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }

  }

  .test-text {
    position:absolute;
    bottom: 0;
    margin: 95px 0;
    width: 297px;
    color: var(--Fondo-de-Pantallas, #F6F6F6);
    text-align: center;
    font-family: InterRegular;
    font-size: 16px;
  }

  // .message {
  //   position: fixed;
  //   display: flex;
  //   gap: 5px;
  //   width: 100%;
  //   max-width: 500px;
  //   height: 90px;
  //   padding: 20px 18px;
  //   bottom: 0;
  //   background: #232921; 
  //   align-items: center;

  //   .input-button {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     border-radius: 4px;
  //     background: var(--El-verdecito, #87CD9B); 
  //     width: 100%;
  //     padding-right: 14px;

  //     p {
  //       color: var(--El-mas-oscuro, #181D17);
  //       font-family: InterRegular;
  //       font-size: 16.107px;
  //       margin: 0;
  //       padding: 16px 14px;
  //     }

  //     .audio-freq {
  //       width: 26px;
  //       height: 24px;
  //     }    

  //   }
  //   textarea {
  //     padding: 11px 18px 6px;
  //     width: 100%;
  //     border-radius: 4px;
  //     color: var(--El-mas-oscuro, #181D17);
  //     font-family: InterRegular;
  //     font-size: 16.107px;
  //     background: var(--Fondo-de-Pantallas, #F6F6F6); 
  //     border: none;
  //     height: 39px;
  //     resize: none;
  //   }

  //   textarea::placeholder {
  //     opacity: 1;
  //     color: var(--El-mas-oscuro, #181D17);
  //     font-family: InterRegular;
  //     font-size: 16.107px;
  //   }

  //   .arrow-div {
  //     border-radius: 100%;
  //     background-color: var(--El-verdecito, #87CD9B);
  //     width: 39px;
  //     height: 39px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-shrink: 0;
  //   }
  // }

  .message {
    position: absolute;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    bottom: 0;
    background-color: #232921;
    
    .formulate-more {
      background-color: #181d17;
      padding: 1px 50px 1px;

      .title {
        color: #C4C5C3;
        text-align: center;
        font-family: InterRegular;
        font-size: 16px;
      }
    }

    .custom-input {
      display: flex;
      align-items: center;
      background-color: #87CD9B;
      border-radius: 4px;
      // width: 100%;
      margin: 21px 16px 19px;
      // height: 51px;

      .audio-freq {
        width: 27px;
        height: 24px;
      }
    }
    
    .custom-input textarea {
      flex: 1;
      height: 100%;
      padding: 14px 14px 10px;
      color: #181D17;
      background-color: transparent;
      font-family: InterRegular;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
      outline: none;
      overflow-y: hidden;
      resize: none;
      height: 51px;
      border-radius: 4px;
    }

    .textareaHeight {
      height: 51px !important;
    }
    
    .custom-input img {
      margin-right: 15px;
    }

    .container-send {
      background-color: #87CD9B;
      border-radius: 50%;
      margin-left: 8px;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 22px;
        height: 22px;
      }
    }

    textarea::placeholder {
      color: #181D17;
    }
  }
}

.small {
  display: none;
}

@media(max-width:400px) {
  .small {
    display: block;
  }
  .large {
    display: none;
  }
}