<div class="container">
  <header>
    <h1>Memorias de La<span class="highlight">ia</span>Chat</h1>
    <div class="right">
      <button class="add" (click)="addMemory()">+</button>
      <button class="close" (click)="goBack()">X</button>
    </div>
  </header>

  <main>
    <div
      class="memory"
      (click)="editMemory(vector.id)"
      *ngFor="let vector of vectorsFromVectorDatabase"
    >
      <div class="name">{{ vector.name ? vector.name : "Sin nombre" }}</div>
      <div class="content">{{ vector.text }}</div>
    </div>
  </main>

  <div 
    class="message"
  >
    <p class="plus-sign">
      +
    </p>
    <div class="custom-input">
      <input type="text" [formControl]="message" placeholder="Pregúntale como visitante">
      <ng-container *ngIf="message.value; else elseTemplate">
        <img 
          class="arrow-green"
          src="{{assetsFolder}}/arrow-green-background.png"
          alt="img"
          [style.marginRight.px]="5"
          (click)="goLaiaTraining()"
        >
      </ng-container>
      <ng-template #elseTemplate>
        <img class="darker" src="{{assetsFolder}}/grey-camera.png" alt="camera">
        <img class="audio-freq" src="{{assetsFolder}}/audio-freq.png" alt="img">
      </ng-template>
    </div>
  </div>
</div>
