<div class="container">
  <header>
    <h1>Memorias de La<span class="highlight">ia</span>Chat</h1>
    <div class="right">
      <button class="add" (click)="addMemory()">+</button>
      <button class="close" (click)="goBack()">X</button>
    </div>
  </header>

  <main>
    <div
      class="memory"
      (click)="editMemory(vector.id)"
      *ngFor="let vector of vectorsFromVectorDatabase"
    >
      <div class="name">{{ vector.name ? vector.name : "Sin nombre" }}</div>
      <div class="content">{{ vector.text }}</div>
    </div>
  </main>
</div>
