.header {
  display: grid;
  grid-template-columns: 2fr 12fr;
  background: #2874ad;
}

.arrow-container {
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 40px;
}

.container {
  width: 90%;
  margin: auto;
  height: 100vh;
  margin-top: 40px;
}

.description {
  font-family: "SfProMedium";
  color: #000;
  font-size: 16px;
}

.numerations {
  list-style: none;
  .numeration {
    font-family: "SfProBold";
    color: #000;
    font-size: 16px;
  }
}
