<div class="page">
  <div class="top-wrapper">
    <swiper
      [config]="swiperConfig"
      #dialogSwiper
      (slideChange)="changeSlide($event)"
    >
      <div
        class="top"
        *ngFor="let option of postService.postMessageOptions; index as i"
      >
        <nav class="header">
          <button class="cancel">Cancelar mensaje</button>

          <div class="options">
            Opción {{ i + 1 }} de {{ postService.postMessageOptions.length }}
          </div>
        </nav>

        <div class="content">
          <ng-container *ngIf="mode === 'PREVIEW'">
            <div class="title">{{ option.title || "titulo" }}</div>
            <div class="paragraphs">
              {{ option.message }}
            </div>
          </ng-container>

          <form [formGroup]="messageForm" *ngIf="mode === 'EDIT'">
            <input type="text" formControlName="title" class="title-edit" />

            <textarea formControlName="message" class="paragraphs-edit">
            </textarea>
          </form>
        </div>
      </div>
    </swiper>
  </div>
  <div class="bottom">
    <div class="bars">
      <div
        class="bar"
        *ngFor="let option of postService.postMessageOptions; index as i"
        [ngClass]="{
          active: currentMessageIndex === i
        }"
      ></div>
    </div>

    <span
      class="edit-btn"
      (click)="switchToMode('EDIT')"
      [ngClass]="{
        selected: mode === 'EDIT'
      }"
      >Editar</span
    >
    <button class="save-btn"
      (click)="saveMessage()"
    >Salvar texto</button>
  </div>
</div>
