.container {
  height: 100vh;
  overflow-y: scroll;
  background: #f6f6f6;
  padding-bottom: 29px;
}

.header {
  background: #181d17;
  box-shadow: 0px 4px 20px 0px rgba(123, 123, 123, 0);
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;

  mat-icon {
    color: #c4c5c3;
    font-size: 26px;
    font-weight: bold;
    height: 26px;
    margin-left: -7px;
  }

  p {
    color: #fff;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

.content {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
}

input,.input-filter {
  width: 100%;
  height: 39px;
  border: 0;
  border-radius: 8px;
  background: #d9d9d9;
  padding-left: 18px;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  display:flex;
  align-items: center;
  color: #7b7b7b;
}

input::placeholder {
  color: #7b7b7b;
}

.filters-container {
  margin-top: 15px;
  border-radius: 8px;
  background: #d9d9d9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 10px;
  display:flex;
  flex-wrap: wrap;

  p {
    color: #7b7b7b;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .selected{
    color:#181D17;
  }
}

.month-title {
  color: #000;
  font-family: InterMedium;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 20px;
  padding-bottom: 7px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.month-card {
  width: 100%;
  padding-top: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
  background: #fff;
  border-radius: 5px;
  margin-top: 5px;
}

.month-card-title {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.month-card-country {
  color: #7b7b7b;
  font-family: InterMedium;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.country-align-right{
    text-align: right;
}

.footer-page {
  width: 100%;
  height: 29px;
  background-color: #87cd9b;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -29px;
  align-items: center;
  position: absolute;

  .flex{
    max-height: 29px;
  }

  .mat-icon-button{
    line-height: 29px;
  }

  .date-text {
    color: #181d17;
    font-family: InterMedium;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  .total {
    color: #181d17;
    text-align: right;
    font-family: InterMedium;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  input{
    background-color: transparent;
    height: 29px;
  }

  // mat-form-field{
  //   height: 29px;
  //   display: flex !important;
  //   flex-wrap: nowrap;
  // }
}


// ::ng-deep mat-form-field, .mat-form-field-type-mat-date-range-input, .mat-form-field-infix{
//   display:flex !important;
// }

// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
//   display:flex !important;
// } 
.mat-start-date-input {
  font-size: 14px;
  padding: 8px;
  margin-right: 10px; /* Add margin to separate it from the second input */
}

::ng-deep mat-datepicker-toggle{
line-height: 29px !important;
height: 29px !important;
button{
  line-height: 29px !important;
max-height: 29px !important;
}
}

::ng-deep .mat-datepicker-content {
  max-width: 500px!important;
  width: 100vw!important;
  
}
::ng-deep .mat-datepicker-content .mat-calendar {
  height: auto!important;
  width: auto!important;
}
::ng-deep .cdk-overlay-pane {
  bottom: 32px!important;
  left: calc(50vw - 250px)!important;
  right: 0px;
}

@media (max-width:500px) {
  ::ng-deep .cdk-overlay-pane {
      left: 0px!important;
  }
}