<div class="container">
    <div class="title">
        <div class="text">
            Lo Que Me Han Comprado
        </div>
    </div>
    <div class="cards">
        <app-info-card [type]="'tag'" [bottomtext]="'TagID'" [toptext]="'152'"></app-info-card>
        <app-info-card [type]="'tag'" [bottomtext]="'TagID'" [toptext]="'152'"></app-info-card>
        <app-info-card [type]="'heart'" [bottomtext]="'TagID'" [toptext]="'152'"></app-info-card>
        <app-info-card [type]="'money'" [bottomtext]="'TagID'" [toptext]="'152'"></app-info-card>
    </div>
    <div class="title">
        <div class="text">
            Lo Que Estoy Vendiendo
        </div>
    </div>
    <div class="cards">
        <app-info-card [type]="'eye'" [bottomtext]="'TagID'" [toptext]="'152'"></app-info-card>
        <app-info-card [type]="'eye'" [bottomtext]="'TagID'" [toptext]="'152'"></app-info-card>
    </div>
    <div class="title">
        <div class="text">
            La Info
        </div>
        <div class="right-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="7.401" height="11.835" viewBox="0 0 7.401 11.835">
                <path id="arrow-right" d="M11.983,6,17.9,11.917l-5.917,5.917L10.5,16.355l4.442-4.438L10.5,7.479Z"
                    transform="translate(-10.5 -6)" fill="#a1a1a1" fill-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="info">
        Mi Banco. Mis Contactos
    </div>
    <hr>
    <div class="sales-info">
        <div class="title">
            Para empezar a vender:
        </div>
        <ul>
            <li>
                Adiciona donde el comprador hará la transferencia del pago.
            </li>
            <li>
                Adiciona donde el comprador hará la transferencia del pago.
            </li>
        </ul>
        <div class="title">
            Para empezar a vender:
        </div>
        <div class="info-text">
            Cuando el comprador transfiere el $ a tu cuenta bancaria todos los involucrados reciben un WhatsApp con lo factura y datos.
        </div>
    </div>
    <div class="extra-options">
        <div class="text">
            Preguntas Y Comentarios
        </div>
        <div class="text">
            Sign-In / Out
        </div>
    </div>
</div>