<div class="container">
	<div class="audio" *ngIf="mode == 'audio'">
		<h3 class="audio-title">AUDIO</h3>
		<!-- <button class='button-play' (click)="action()">
			<img [src]="env + '/play.svg'" alt="play">
		</button>
		<div class="bar">
			<div class="circulito"></div>
		</div>
		<div class="labels">
			<span >0:00</span>
			<span >{{duration}}</span>
		</div> -->
		<audio *ngIf="audioBlobUrl" controls>
			<source [src]="audioBlobUrl" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</div>
	<div *ngIf="mode == 'poster'" class="poster">
		<h3 class="poster-title">{{posterTitle}}</h3>
		<img *ngIf="image" [src]="image" alt="post-image" class="title-image">
		<div *ngIf="!image" class="placeholder"></div>
	</div>
	<div *ngIf="mode == 'text'" class="text">
		<h3 *ngIf="textTitle" class="text-title">{{textTitle}}</h3>
		<p class="inner-text">{{textPost}}</p>
	</div>
</div>