<div class="chat-dialog">
  <header class="chat-header">
    <p>
      Dal<span>ia</span>hChat con
      <span>{{ "Desconocido" }}</span>
    </p>
  </header>
  <div class="messages">
    <div class="messages-container" #chatContainer>
      <ng-container *ngFor="let message of chat?.messages">
        <div class="message message-sent" *ngIf="message.sender === 'IA'">
          {{ message.message }}
        </div>
        <div class="message message-received" *ngIf="message.sender !== 'IA'">
          <button
            class="button button-edit"
            role="button"
            *ngIf="!isEdit"
            (click)="editMessage(message)"
          >
            <img
              src="../../../../assets/icons/edit-chat.svg"
              alt="send"
              width="32"
              height="32"
            />
          </button>
          {{ message.message }}
        </div>
      </ng-container>
    </div>
  </div>
  <form
    class="user-input"
    [formGroup]="chatFormGroup"
    role="form"
    *ngIf="!hideInput"
  >
    <input
      type="email"
      class="user-input-box"
      placeholder="Escribe algo..."
      formControlName="input"
    />

    <button
      class="button button-submit"
      role="button"
      [disabled]="!chat"
      (click)="sendMessage()"
    >
      <img
        src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets%2Fsend_black.svg"
        alt="send"
      />
    </button>
  </form>
</div>
