<div class="container">
  <div class="header">
    <mat-icon>close</mat-icon>
    <p>💰 Ventas en un intérvalo de tiempo</p>
  </div>
  <div class="dates-container">
    <div class="date-box">
      <p class="date-box-title">Desde</p>
      <p class="date-box-date">01 ENE 23</p>
    </div>
    <div class="date-box">
      <p class="date-box-title">Hasta</p>
      <p class="date-box-date">01 ENE 23</p>
    </div>
  </div>
  <div class="content">
    <div class="content-title-container">
      <p class="content-title">
        87 facturas. $14,457 de ingresos. $4,4589 de beneficio, 87 compradores.
      </p>
    </div>
    <div class="content-cards-container">
      <div class="content-card">
        <div>
          <p class="content-card-title">CompradorId</p>
          <p class="content-card-extra-info">N478, hace FechaID</p>
        </div>
        <div>
          <p class="content-card-price">$14,452</p>
          <p class="content-card-extra-info">4 artículos</p>
        </div>
      </div>
      <div class="content-card">
        <div>
          <p class="content-card-title">CompradorId</p>
          <p class="content-card-extra-info">N478, hace FechaID</p>
        </div>
        <div>
          <p class="content-card-price">$14,452</p>
          <p class="content-card-extra-info">4 artículos</p>
        </div>
      </div>
      <div class="content-card">
        <div>
          <p class="content-card-title">CompradorId</p>
          <p class="content-card-extra-info">N478, hace FechaID</p>
        </div>
        <div>
          <p class="content-card-price">$14,452</p>
          <p class="content-card-extra-info">4 artículos</p>
        </div>
      </div>
      <div class="content-card">
        <div>
          <p class="content-card-title">CompradorId</p>
          <p class="content-card-extra-info">N478, hace FechaID</p>
        </div>
        <div>
          <p class="content-card-price">$14,452</p>
          <p class="content-card-extra-info">4 artículos</p>
        </div>
      </div>
      <div class="content-card">
        <div>
          <p class="content-card-title">CompradorId</p>
          <p class="content-card-extra-info">N478, hace FechaID</p>
        </div>
        <div>
          <p class="content-card-price">$14,452</p>
          <p class="content-card-extra-info">4 artículos</p>
        </div>
      </div>
    </div>
  </div>
</div>
