.container{
  & .filter-container{
    -webkit-box-shadow: 0px -23px 18px -6px #cccccc70;
    box-shadow: 0px -23px 18px -6px #cccccc70;
    -moz-box-shadow: 0px -23px 18px -6px #cccccc70;
  }
    & .scenarios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.tag-area{
   width: 100%;

   .top-tags{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: scroll;
      padding: 8px 5%;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 12%);

      .tag{
         font-family: 'RobotoRegular';
         font-size: 0.825rem;
         color: #2874AD;
         margin-right: 3px;
         text-overflow: ellipsis;
      }
   }

   .searchbar-area{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 6%;
      margin: 36px 0 33px;

      .searchbar{
         all: unset;
         width: 100%;
         height: 66px;
         background-color: #FFFFFF;
         text-indent: 16px;
         font-family: 'RobotoMedium';
         font-size: 20px;
         border-radius: 9px;
         box-shadow: inset 0px 3px 6px 3px rgba(0, 0, 0, 12%) !important;

         &::placeholder{
            font-family: 'RobotoMedium';
            font-size: 20px;
            text-indent: 16px;
            color: rgba(161, 161, 161, 60%);
         }
      }
   }
}

.title-dots{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 5% 22px;

   .title{
      font-family: 'RobotoRegular';
      font-size: 1.063rem;
      color: #7B7B7B;
   }

   .dot-trio{
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;

      .dot{
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: #2874ad;
         margin: 0 2.5px;
      }
   }
}