<ng-container >
  <div class="container">
    <app-helper-headerv2
      [mode]="'basic'" 
      bgcolor="#2874AD"
      [mainText]="{
         text: 'Selecciona 2 escenarios',
         fontSize: '1.313rem',
         fontFamily: 'SfProBold'
      }"
      [returnAble]="true"
      >
    </app-helper-headerv2>
    
    <div class="tag-area">
      <div class="top-tags">
         <span *ngFor="let tag of tags" class="tag">{{tag}}</span>
      </div>

      <div class="searchbar-area">
         <input type="text" class="searchbar" placeholder="Buscar por #tag, tipo, etc"/>
      </div>
    </div>
   
    <div class="title-dots">
      <h2 class="title">Selección de escenarios:</h2>

      <div class="dot-trio">
         <div class="dot"> </div>
         <div class="dot"> </div>
         <div class="dot"> </div>
      </div>
    </div>
    <!-- <div class="filter-container" style="background-color: white; margin-bottom: 0px;">
      <ng-container *ngIf="filters">
        <app-see-filters [type]="3" title="Selecciona los Escenarios" [BigText]="true" [noMarginBottom]="true"
          [tags]="filters" [filters]="false" [showOptions]="false"></app-see-filters>
      </ng-container>
    </div> -->
    <div class="scenarios">
      <ng-container *ngFor="let itemExtra of dummyscenarios">
        <app-saleflow-item 
          [type]="4"
          [itemExtra]="itemExtra"
          [imgURL]="itemExtra.images ? itemExtra.images[0] : ''"
          [isSelected]="itemExtra.active"
          [limitScenarios]="limitScenarios"
          [selectable]="true"
          [description]="itemExtra.name"
          style="margin-bottom: 24px;">
        </app-saleflow-item>
      </ng-container>
    </div>
  </div>

  <!-- <ng-container>
    <ng-container *ngIf="selectedsQty == limitScenarios; else noCTA">
      <app-sticky-button [mode]="'fixed'" [text]="'ADICIONA LA FECHA QUE TE CONVIENE'" (click)="submit()">
      </app-sticky-button>
    </ng-container>
    <ng-template #noCTA>
      <app-sticky-button [mode]="'disabled-fixed'" [text]="'SELECCIONA ' + (limitScenarios-selectedsQty) + ' ESCENARIOS'">
      </app-sticky-button>
    </ng-template>
  </ng-container> -->
</ng-container>