<ng-container *ngIf="packageData">
  <div class="container">
    <app-helper-header bgcolor="#FFFFFF" [searchAble]="false" middleTextFontSize="17px"
    middleTextFontFamily="SfProRegular" middleTextColor="#7B7B7B" [middleText]="packageData.name.toUpperCase()"
    [back]="true" (onClose)="back()">
    </app-helper-header>
    <ng-container *ngIf="packageData">
      <app-swiper [fullScreenSwiper]="true" [saleFlowTwoData]="packageData"></app-swiper>
    </ng-container>
    <div class="filter-container" style="background-color: white; margin-bottom: 0px; margin-top: 50px;">
      <ng-container *ngIf="filters">
        <app-see-filters
        [type]="3"
        title="Selecciona los Escenarios"
        [BigText]="true"
        [noMarginBottom]="true"
        [tags]="filters"
      ></app-see-filters>
      </ng-container>
    </div>
    <div class="scenarios">
      <ng-container *ngFor="let itemExtra of scenarios">
        <app-saleflow-item [itemExtra]="itemExtra" [imgURL]="itemExtra.images ? itemExtra.images[0] : ''"
          [isSelected]="itemExtra.isActive" [limitScenarios]="limitScenarios" [selectable]="true"
          (changeSelection)="handleSelection($event)">
        </app-saleflow-item>
      </ng-container>
    </div>
  </div>
  
  <ng-container>
    <ng-container *ngIf="selectedsQty == limitScenarios; else noCTA">
      <app-sticky-button
        [mode]="'basic'"
        [text]="'ADICIONA LA FECHA QUE TE CONVIENE'"
        (click)="submit()"
      ></app-sticky-button>
    </ng-container>
    <ng-template #noCTA>
      <app-sticky-button
        [mode]="'disabled'"
        [text]="'SELECCIONA ' + (limitScenarios-selectedsQty) + ' ESCENARIOS'"
      ></app-sticky-button>
    </ng-template>
  </ng-container>
</ng-container>