.navbar {
    display: flex;
    background-color: #ffffff;
    padding: 15px 25px 15px 30px;
    box-shadow: 0px 7px 10px 0px #e3e2ee;
    margin-bottom: 10px;

    .cancel {
        color: #27A2FF;
        margin-right: 16px;
        font-size: 16px;
        font-family: "SfProSemiBold";
        cursor: pointer;
    }
}
.title {
    padding: 0 19px;
    font-family: "SfProRegular";
    font-family: 14px;
    color: #7B7B7B;
    text-transform: uppercase;
}
.sticky-share-link {
    background-color: #7B7B7B;
    width: 100%;
    color: #ffffff;
    font-family: "RobotoMedium";
    font-size: 23px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    z-index: 1;
}