* { margin: 0; }

.container, .container2, .container3 {
    background-size: cover;
    min-height: 100vh;
    width: 100%;

    .divTopBtn {
        align-items: center;
        background-color: #272727;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 37px;
        justify-content: center;
        left: 18px;
        position: relative;
        top: 30px;
        width: 35px;

        .topBtn {
            background-color: transparent;
            border: none;
        }
    }

    .content-container {
        bottom: 99px;
        max-width: 500px;
        position: fixed;
        width: 100%;

        .content {
            display: flex;
            padding: 0px 0px 5px 0px;

            .texts-container {
                display: flex;
                flex-basis: 60%;
                flex-direction: column;
                padding-left: 15px;
            }

            .icons-container {
                display: flex;
                flex-basis: 40%;
                justify-content: space-around;
                margin: 0 auto;
            }
        }

        .title {
            color: #ffffff;
            cursor: pointer;
            font-family: SFProBold;
            font-size: 21px;
            margin: 0;
        }

        .subtitle {
            color: #ffffff;
            cursor: pointer;
            font-family: SFProRegular;
            font-size: 15px;
            margin: 5px 5px 0px 0px;
        }
    }
}

.container2, .container3 {

    .content-container {
        display: flex;
        flex-direction: column;
        height: 72.5vh;
        overflow-y: scroll;
        padding: 30px 15px 0px;
        position: relative;
        top: 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 47.5vh;
        justify-content: flex-end;
        overflow-y: scroll;

        .title2 {
            color: #ffffff;
            cursor: pointer;
            font-family: SFProBold;
            font-size: 21px;
            margin: 0px 0px 10px 0px;
        }

        .subtitle2 {
            color: #ffffff;
            cursor: pointer;
            font-family: SFProRegular;
            font-size: 15px;
            margin: 5px 15px 0px 0px;
        }
    }

    .bottom-container {
        bottom: 115px;
        max-width: 500px;
        position: absolute;
        right: 0;
        width: 100%;
    }

    .icons-container2 {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 25px;

        svg:not(:last-child) {
            margin-right: 30px;
        }

        svg:last-child {
            margin-right: 15px;
        }
    }
}

.bottom-content {
    background-color: #000000;
    bottom: 0;
    max-width: 500px;
    position: fixed;
    width: 100%;

    .flex {
        display: flex;
        flex-direction: column;

        .icons-container {
            margin-left: auto;
            margin-top: 20px;
            margin-right: 15px;
        }

        .texts-container {
            margin: 10px 0px 20px;

            p {
                color: #E0E0E0;
                font-family: "SfProBold";
                font-size: 17px;
                text-align: center;
            }
        }

        .texts-container2 {
            display: flex;
            justify-content: center;
            margin: 7px 0px;
        }
    }
}

.current-media-shown-indicators {
    background-color: white;
    display: grid;
    height: 3px;
    max-width: 500px;
    margin-top: 10px;
}

.indicator {
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex: 1;

    &.active {
        background-color: #82f18d;
    }
}

.img-content {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.swiper-wrapper {
    display: block !important;
    height: 100vh !important;
    width: 100% !important;
    z-index: 0 !important;
}

.img-container {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 0;
}