<div class="container">
  <header>
    <button (click)="goBack()">
      <img [src]="env + '/arrow-double-up.svg'" alt="" class="arrows" />
    </button>
    <button style="margin-left: auto">
      <mat-icon [ngStyle]="{ color: '#7B7B7B' }">close</mat-icon>
    </button>
  </header>

  <div
    class="current-media-shown-indicators"
    [style]="{ 'grid-template-columns': getIndicators() }"
  >
    <ng-container>
      <div
        class="indicator"
        [ngClass]="{
          active: i === currentMediaSlide
        }"
        *ngFor="let slide of filteredSlides; let i = index"
      ></div>
    </ng-container>
  </div>

  <swiper
    [config]="swiperConfig"
    #mediaSwiper
    (slideChange)="updateCurrentSlideData()"
  >
    <!-- ---------------------------1ER SLIDE-------------------------- -->

    <div class="content step">
      <p class="title">¿Cuál enlace incluirás?</p>

      <button
        class="btn"
        *ngFor="let option of linkOptions"
        (click)="option.callback()"
      >
        {{ option.name }}
      </button>
    </div>

    <!-- ---------------------------2DO SLIDE-------------------------- -->

    <div
      *ngIf="isBasicContact"
      class="step"
      style="justify-content: space-between"
    >
      <div class="content">
        <p class="title">¿Cuál es el enlace?</p>

        <div class="input-wrapper">
          <p class="input-title">Tu respuesta</p>
          <input
            type="text"
            #input1
            placeholder="Escribe..."
            [(ngModel)]="link"
            (input)="onLinkInput(input1)"
          />
        </div>
      </div>
      <div class="cta" style="margin-top: 19%">
        <button (click)="goBack2(true)">Adicionar otro enlace</button>
        <button style="margin-left: auto" (click)="save()">Salvar</button>
      </div>
    </div>

    <!-- ---------------------------3ER SLIDE-------------------------- -->

    <div
      *ngIf="isOtherContact"
      class="step"
      style="justify-content: space-between"
    >
      <div class="content">
        <p class="title">¿Cuál es el nombre de este enlace?</p>

        <div class="input-wrapper">
          <p class="input-title">Tu respuesta</p>
          <input
            type="text"
            #input2
            placeholder="Escribe..."
            [(ngModel)]="linkName"
            (input)="onLinkNameInput(input2)"
          />
        </div>
      </div>
      <button class="cta" style="margin-top: 96%" (click)="nextSlide()">
        Continue
      </button>
    </div>

    <!-- ---------------------------OTRO SLIDE-------------------------- -->

    <div
      *ngIf="isOtherContact"
      class="step"
      style="justify-content: space-between"
    >
      <div class="content">
        <p class="title">¿Cuál es el enlace?</p>

        <div class="input-wrapper">
          <p class="input-title">Tu respuesta</p>
          <input
            type="text"
            #input3
            placeholder="Escribe..."
            [(ngModel)]="link"
            (input)="onLinkInput(input3)"
          />
        </div>
      </div>
      <div class="cta" style="margin-top: 19%">
        <button (click)="goBack2(true)">Adicionar otro enlace</button>
        <button style="margin-left: auto" (click)="save()">Salvar</button>
      </div>
    </div>

    <!-- ---------------------------4TO SLIDE-------------------------- -->

    <div *ngIf="isOtherContact" class="step">
      <div class="content">
        <p class="title">¿Qué imagen la representa?</p>

        <div class="input-wrapper">
          <p class="input-title">Tu respuesta</p>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 20px;
            "
          >
            <img
              *ngFor="let logo of contactLogos; index as i"
              [src]="logo.img"
              alt=""
              class="square"
            />
            <div *ngIf="!file">
              <app-item-images
                [contact]="true"
                (enteredImages)="onImageInput($event)"
              ></app-item-images>
            </div>

            <div
              *ngIf="file"
              [ngStyle]="{ backgroundImage: 'url(' + base64 + ')' }"
              class="preview"
            ></div>
          </div>
        </div>
      </div>
      <div *ngIf="file" class="cta" style="margin-top: auto">
        <button style="margin-right: auto" (click)="goBack2(true)">
          Adicionar otro enlace
        </button>
        <button (click)="save()">Salvar</button>
      </div>
    </div>

    <!-- ---------------------------OTRO SLIDE-------------------------- -->
  </swiper>
</div>
