* {
  margin: 0;
}

.container {
  min-height: 100vh;

  .header {
    padding: 14px 21px;
    display: flex;
    align-items: center;
    background-color: #c1c4c1;
    box-shadow: 0px 3px 6px rgba(#000000, 0.16) inset;

    .header-title {
      color: #272727;
      font-size: 16px;
      font-family: SFProRegular;
      margin-left: 16px;
      margin-right: auto;
    }

    button {
      all: unset;
      cursor: pointer;
    }
    .star {
      height: 21px;
      width: 22px;
      filter: brightness(0) invert(15%) sepia(34%) saturate(378%)
        hue-rotate(68deg) brightness(98%) contrast(90%);
      margin-right: 18.5px;
    }

    .qr {
      height: 21px;
      width: 21px;
    }
  }

  .content {
    padding: 20px;
    .title {
      color: #272727;
      font-size: 13px;
      text-transform: uppercase;
      font-family: SFProRegular;
      margin-top: 42px;
      margin-bottom: 13px;
    }

    .wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      p {
        color: #293628;
        font-size: 17px;
        font-family: SFProMedium;
        margin-left: 13px;
      }
    }
  }
}

.swiper-btn,
.active {
  padding: 7.5px 15px;
  border: 1px solid #707070;
  border-radius: 16px;
  background-color: transparent;
  font-size: 16px;
  font-family: SFProLight;
  color: #272727;
  margin-right: 5px;
  cursor: pointer;
}

.active {
  background-color: rgba(#707070, 0.26);
  border: none;
  color: #171d16;
  font-family: SFProSemiBold;
  font-size: 16px;
}

.edit {
  all: unset;
  margin-left: auto;
  cursor: pointer;
  color: #2874ad;
  font-size: 15px;
  font-family: SFProRegular;
}

.card-container {
  padding: 8px 10px 12.5px 8px;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 7px;
  margin-bottom: 5px;
  .notification {
    width: 7px;
    height: 7px;
    margin-left: 100%;
    margin-top: -5px;
    background-color: #2874ad;
    border-radius: 50%;
  }

  .top {
    display: flex;
    align-items: center;

    img {
      height: 22px;
      width: 22px;
      border-radius: 50%;
    }

    .title {
      font-size: 17px;
      color: #293628;
      font-family: SFProRegular;
      margin-left: 5px;
      margin-right: 20px;
    }

    .subtitle {
      margin-right: auto;
      color: #293628;
      font-size: 17px;
      font-family: SFProLight;
    }

    .amount {
      color: #7b7b7b;
      font-size: 15px;
      font-family: SFProRegular;
      margin-right: 4px;
    }
  }

  .bottomText {
    margin-top: 12px;
    color: #7b7b7b;
    font-size: 15px;
    font-family: SFProRegular;
  }
}
