<div class="container">
  <header class="header">
    <button (click)="returnEvent()"><img [src]="env + '/arrow-double-up-black.svg'" alt="" /></button>
    <p class="header-title">Cosas importantes</p>
    <button><img [src]="env + '/star.svg'" alt="" class="star" /></button>
    <button><img [src]="env + '/QR.svg'" alt="" class="qr" /></button>
  </header>
  <div class="content">
    <app-card-info></app-card-info>
    <!-- <app-info-container [cards]="cards"></app-info-container> -->
    <p class="title">Progreso y listados de las Facturas</p>
    <!-- <app-info-container [cards]="cards2"></app-info-container> -->

    <p class="title">Del estratega</p>

    <div class="wrapper">
      <!-- <img [src]="env + '/play.svg'" alt="" /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Recompensa a compradores</p>
    </div>
    <div class="wrapper">
      <!-- <img [src]="env + '/play.svg'" alt="" /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Premia a vendedores</p>
    </div>

    <div class="wrapper">
      <!-- <img [src]="env + '/play.svg'" alt="" /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Encuesta de satisfacción</p>
    </div>

    <div class="wrapper">
      <!-- <img [src]="env + '/play.svg'" alt="" /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Automatiza las notificaciones según el progreso de las facturas</p>
    </div>

    <div class="wrapper">
      <!-- <img [src]="env + '/play.svg'" alt="" /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Formulario por factura y según el artículo</p>
    </div>
  </div>
</div>
