<div class="container">
  <header class="header">
    <button (click)="returnEvent()">
      <img [src]="env + '/arrow-double-up-black.svg'" alt="" />
    </button>
    <p class="header-title">Cosas importantes</p>
    <!-- <button><img [src]="env + '/star.svg'" alt="" class="star" /></button>
    <button><img [src]="env + '/QR.svg'" alt="" class="qr" /></button> -->
  </header>

  <div class="content">
    <swiper [config]="swiperConfig">
      <button
        class="swiper-btn"
        [ngClass]="isFacturas === true ? 'active' : ''"
        (click)="selectFacturas()"
      >
        Facturas
      </button>
      <button
        class="swiper-btn"
        [ngClass]="isIngresos === true ? 'active' : ''"
        (click)="selectIngresos()"
      >
        Ingresos & Egresos
      </button>
    </swiper>
    <!-- <div class="card-container" *ngFor="let card of cards; index as i">
      <div *ngIf="card.notification === true" class="notification"></div>
      <div class="top">
        <img [src]="card.img" alt="" />
        <p class="title">{{ card.title }}</p>
        <p class="subtitle">{{ card.subtitle }}</p>
        <p class="amount">{{ card.amount }}</p>
      </div>
      <p *ngIf="card.bottomText" class="bottomText">{{ card.bottomText }}</p>
    </div> -->

    <div *ngIf="isFacturas === true" style="margin-top: 25px">
      <app-info-container [cards]="facturas"></app-info-container>
      <p class="title">Progresos</p>
      <app-info-container [cards]="facturas2"></app-info-container>
      <div style="display: flex"><button class="edit">Edit</button></div>
    </div>

    <div *ngIf="isIngresos === true" style="margin-top: 25px">
      <app-info-container [cards]="ingresos"></app-info-container>
      <p class="title">Configuración</p>
      <app-info-container [cards]="ingresos2"></app-info-container>
    </div>

    <!-- <p class="title">Del estratega</p>

    <div class="wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Recompensa a compradores</p>
    </div>
    <div class="wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Premia a vendedores</p>
    </div>

    <div class="wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Encuesta de satisfacción</p>
    </div>

    <div class="wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Automatiza las notificaciones según el progreso de las facturas</p>
    </div>

    <div class="wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12.003"
        height="13.499"
        viewBox="0 0 12.003 13.499"
      >
        <g id="play" transform="translate(-12 -34.505)">
          <g
            id="Group_76058"
            data-name="Group 76058"
            transform="translate(12 10.505)"
          >
            <path
              id="Path_29066"
              data-name="Path 29066"
              d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
              transform="translate(-12 13.495)"
              fill="#293628"
            />
          </g>
        </g>
      </svg>
      <p>Formulario por factura y según el artículo</p>
    </div> -->
  </div>
</div>
