<div style="background-color: #F6F6F6; min-height: 100vh;">
  <app-helper-headerv2
    mode="basic"
    navtext="PREGUNTA #1, Pantalla #1"
    [shopcart]="false"
    (returnEvent)="back()"
  ></app-helper-headerv2>
  <div style="padding: 24px;">
    <div class="section">
      <div
        class="label"
        [ngStyle]="{marginBottom: answerMethod == null ? '24px' : '12px'}"
      >
        Metodo de Respuestas
      </div>
      <ng-container *ngIf="answerMethod == null">
        <app-answer-selector
          [options]="answerMethodOptions"
          [indicator]="true"
          (onSelector)="onSelect('answerMethod', $event)"
          [showDescription]="false"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </ng-container>
      <ng-container *ngIf="answerMethod != null">
        <div class="selected">{{answerMethodOptions[answerMethod].value}}</div>
        <div>
          <input
            class="text-input"
            type="text"
            [(ngModel)]="question"
            placeholder="Escribe la pregunta..."
            style="margin: 10px 0;"
          >
        </div>
        <div>
          <input
          class="text-input"
          type="text"
          [(ngModel)]="description"
          placeholder="Descripción (opcional)"
          style="margin-bottom: 16px;"
          >
        </div>
        <div style="justify-content: end; display: flex;">
          <app-switch-button
            [isClicked]="false"
            [settings]="{
              leftText: 'RESPUESTA REQUERIDA'
            }"
            [textStyles]="{
              fontFamily: 'SfProLight',
              color: '#7B7B7B',
              marginRight: '4px'
            }"
            (switched)="answerRequired = !answerRequired"
          ></app-switch-button>
        </div>
      </ng-container>
    </div>
    <div class="section">
      <div class="label">
        Tipo de Respuestas
      </div>
      <ng-container *ngIf="answerType == null">
        <app-answer-selector
          [options]="answerTypeOptions"
          [indicator]="true"
          (onSelector)="onSelect('answerType', $event)"
          [showDescription]="false"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </ng-container>
      <ng-container *ngIf="answerType != null">
        <div class="selected">{{answerTypeOptions[answerType].value}}</div>
      </ng-container>
    </div>
    <div class="section">
      <div class="label">
        Guardar Respuestas En Otras Tablas
      </div>
      <ng-container *ngIf="otherTable == null">
        <app-answer-selector
          [options]="otherTablesOptions"
          [indicator]="true"
          (onSelector)="onSelect('otherTable', $event)"
          [showDescription]="false"
          [containerStyles]="{
            margin: '0px'
          }"
        ></app-answer-selector>
      </ng-container>
      <ng-container *ngIf="otherTable != null">
        <div class="selected">{{otherTablesOptions[otherTable].value}}</div>
      </ng-container>
    </div>
  </div>
</div>