<div class="main-container">
  <p class="main-text">Si tocas en <span (click)="callbackButton('bottom')">“cancelar mi factura”</span> empezarás una nueva factura.</p>
  <button
    class="main-button"
    (click)="callbackButton('top')"
    *ngIf="topButtonText && topBtnCallback"
  >
    {{ topButtonText }}
  </button>
  <!-- <button
    class="secondary-button"
    (click)="callbackButton('bottom')"
    *ngIf="bottomButtonText && bottomBtnCallback"
  >
    {{ bottomButtonText }}
  </button> -->
</div>