.container {
  background: #f6f6f6;
}

.header {
  padding: 13px 17px 16px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-icon {
    color: #c4c5c3;
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 8px;
    margin-bottom: -1px;
  }
}

.header-title {
  color: var(--el-mas-oscuro, #181d17);
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.list-of-items {
  padding: 0px 16px;
}

.item-wrapper {
  margin-bottom: 7px;
}
