<div class="container">
  <div class="header">
    <div class="flex">
      <mat-icon style="cursor: pointer" (click)="(null)">close</mat-icon>
      <p class="header-title">Cotización de {{ requester?.name }}</p>
    </div>
  </div>

  <div class="list-of-items">
    <div
      class="item-wrapper"
      *ngFor="let item of quotationItems; let itemIndex = index"
    >
      <app-buyer-card
        [index]="itemIndex"
        [title]="item.name"
        [description]="item.description"
        [img]="item.images?.length ? item.images[0].value : ''"
        [leftAmount]="item.pricing"
        [supplierProvidedData]="{
          stock: item.stock
        }"
        [cta]="true"
        [ctaActive]="item.isSelected"
        [skipRedirection]="true"
        (cardClicked)="redirectToItemEdition(item, itemIndex)"
      ></app-buyer-card>
    </div>
  </div>
</div>
