<div class="component">
  <header
    [ngStyle]="{
      backgroundColor:
        item?.status === 'active' || !item ? '#2874AD' : '#B17608'
    }"
  >
    <a (click)="goBack()"><i class="fas fa-chevron-left"></i></a>
  </header>
  <main>
    <form [formGroup]="itemForm">
      <section>
        <div class="fullScreenSwiper" *ngIf="imageField.length">
          <div class="shadowWrapper">
            <swiper [config]="swiperConfig">
              <label
                *ngFor="let item of imageField; let i = index"
                [style.background]="sanitize(item)"
                [for]="'filemultiple'"
                class="item"
                [ngClass]="{ error: error[0] }"
              ></label>
            </swiper>
          </div>
        </div>
        <input
          [id]="'filemultiple'"
          (change)="fileProgressMultiple($event)"
          type="file"
          class="d-none"
          accept="image/*"
          multiple
          [accept]="['.png', '.jpg', '.jpeg']"
        />
        <input formControlName="images" style="display: none;">
        <ng-container *ngIf="!imageField.length">
          <label
            [style.background]="sanitize('')"
            [for]="'filemultiple'"
            class="file"
            [ngClass]="{ error: error[0] }"
          >
            Adiciona la o las imágenes (opcional)
          </label>
        </ng-container>
      </section>
      <section class="form-group p-side">
        <div class="grid" style="margin-bottom: 16px">
          <div class="grid-8">
            <input
              class="input-text"
              type="text"
              id="name"
              name="name"
              placeholder="Nombre (opcional)"
              formControlName="name"
            />
          </div>
          <div class="grid-4">
            <input
              class="input-text"
              type="number"
              id="price"
              name="price"
              min="0"
              placeholder="$ Pagarán"
              required
              formControlName="price"
            />
          </div>
        </div>
        <textarea
          placeholder="Descripción (opcional)"
          class="textarea"
          formControlName="description"
        ></textarea>
      </section>
    </form>
  </main>
  <footer [ngClass]="{ disabled: disableFooter }">
    {{ item && "ADICIONA LA INFO DE LO QUE VENDES" }}
    <ng-container *ngIf="!item">
      <button>
        <i class="fas fa-chevron-left" [style.color]="'#27A2FC'"></i>
      </button>
      <div>
        <button>Preview</button>
        <button (click)="onSubmit()">Salvar</button>
      </div>
    </ng-container>
  </footer>
</div>
