.items-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px #ddd;
  padding: 24px;
  margin: 24px;
  border-radius: 12px;

  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    h6 {
      font-family: "RobotoBold";
      font-size: "17px";
      color: #202020;
      margin: 0;
    }

    a {
      font-family: "SfProLight";
      font-size: 17px;
      color: #2874ad;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: rgb(62, 147, 212);
      }
    }

    .switch-label {
      font-family: "SfProMedium";
      font-size: 14px;
      color: #a1a1a1;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .info {
    font-family: "SfProMedium";
    font-size: 17px;
    color: #2874ad;
    margin: 0;
    padding-bottom: 12px;
  }

  .item-list {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.contact-info {
  display: flex;
  justify-content: flex-end;
  align-self: baseline;
  grid-column: 9 / span 4;

  .admin-buttons {
    display: flex;
    gap: 10px;

    .admin-btn {
      all: unset;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;

      img {
        filter: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(574%) hue-rotate(167deg) brightness(87%)
          contrast(83%);
      }

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }

  .save-btn {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    p {
      color: #2874ad;
      font-family: "SfProRegular";
      text-transform: uppercase;
    }

    &:hover {
      background-color: #e6e6e6;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  .top-header {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;

    .header-image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #a1a1a1;
      grid-column: 5 / span 4;
      margin: auto;
    }
  }

  h5 {
    margin: 8px 0;
    font-family: "SfProMedium";
    font-size: 19px;
    color: #4f4f4f;
    font-weight: 100;

    .title {
      font-family: "SfProLight";
      font-size: 17px;
      color: #4f4f4f;
    }
  }

  p {
    margin: 0;
    font-family: "SfProLight";
    font-size: 16px;
    color: #4f4f4f;
    width: 80%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.social-info {
  padding: 20px;
  width: 100%;

  .info {
    padding-bottom: 20px;
  }

  .buttons {
    display: flex;
    gap: 20px;

    a {
      display: flex;
      align-items: center;
      padding: 1px 12px;
      border-radius: 999px;

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }

  .dollar-btn {
    font-family: "SfProMedium";
    font-size: 31px;
    color: #2874ad;
    cursor: pointer;
  }
  .wa-btn {
    background-color: #62ac4b;
    font-family: "RobotoMedium";
    color: #ffffff;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 12px 16px;
    border-radius: 26px;
    text-decoration: none;

    &:hover {
      background-color: #67b450;
    }
  }

  .socials {
    border-top: solid 1px #cbd1c0;
    padding-top: 20px;

    h6 {
      margin: 0 0 24px 0;
      font-family: "SfProMedium";
      font-size: 14px;
      color: #4f4f4f;
    }

    a {
      padding: 10px 10px;
      border-radius: 999px;

      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
  .blue {
    filter: brightness(0) saturate(100%) invert(37%) sepia(89%) saturate(454%) hue-rotate(163deg) brightness(90%)
      contrast(89%);
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}
