<div style="min-height: 100vh;">
  <app-helper-headerv2
    [returnAble]="false"
    [mode]="'basic'"
    [icons]="!admin ? [
      {
        src: '/person.svg',
        color: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(73deg) brightness(109%) contrast(95%)',
        callback: contactCallback,
        highlight:{
            active: true,
            color: '#E9E371'
        }
      },
      {
        src: '/upload.svg',
        color: 'brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(73deg) brightness(109%) contrast(95%)',
        callback: shareCallback
      }
    ] : []"
    [bgColor]="'#2874AD'"
  ></app-helper-headerv2>

  <div>
    <div class="header">
      <div class="top-header">
        <img class="header-image" [src]="merchant ? merchant.image : user?.image" alt="">
        <div class="contact-info" *ngIf="admin">
          <div class="admin-buttons">
            <button class="admin-btn">
              <img [src]="env + '/pencil.svg'" alt="" width="19" height="19">
            </button>
            <button class="admin-btn" (click)="contactCallback()" [ngStyle]="{backgroundColor: showSocials ? '#E9E371' : 'transparent'}">
              <img [src]="env + '/person.svg'" alt="" width="15" height="19">
            </button>
            <button class="admin-btn" (click)="shareCallback()">
              <img [src]="env + '/upload.svg'" alt="" width="15" height="19">
            </button>
          </div>
        </div>
        <div class="contact-info" *ngIf="showSocials && !admin">
          <button class="save-btn">
            <p>Sálvalo</p>
            <img [src]="env + '/contact.svg'" alt="" width="27" height="23">
          </button>
        </div>
      </div>
      <!-- <div class="header-image" [ngClass]="{'placeholder': !webform.image}"></div> -->
      <h5>
        {{merchant?.name || user?.name}}<span class="title" *ngIf="merchant?.title || user?.title">, {{merchant?.title || user?.title}}</span>
      </h5>
      <p>{{merchant?.bio || user?.bio}}</p>

      <div *ngIf="showSocials" class="social-info">
        <div class="info space-between">
            <div class="buttons">
                <!-- <a class="dollar-btn">$</a> -->
                <ng-container *ngFor="let social of merchant?.social || user?.social">
                    <a *ngIf="social.name === 'location'" [href]="social.url" target="_blank"><img class="blue" [src]="env + '/location123.svg'" alt="location" width="21" height="26"></a>
                    <a *ngIf="social.name === 'email'" href="mailto:{{social.url}}"><img class="blue" [src]="env + '/send.svg'" alt="email" width="26" height="26"></a>
                    <a *ngIf="social.name === 'phone'" href="tel:+{{social.url}}"><img class="blue" [src]="env + '/telephone.svg'" alt="call" width="26" height="26"></a>
                </ng-container>
            </div>
            <ng-container *ngFor="let social of merchant?.social || user?.social">
                <a class="wa-btn" target="_blank" *ngIf="social.name === 'phone' && social.url" [href]="'https://wa.me/'+social.url.replace(regex,'')+'?text=Hola%20'+ (merchant?.title || user?.title)">
                    SALUDANOS
                    <img [src]="env + '/whatsapp-white.svg'" alt="call" width="20" height="20">
                </a>
            </ng-container>
        </div>
        <div class="socials" *ngIf="hasSocials">
            <h6>Cuentas sociales</h6>
            <div class="space-between">
                <ng-container *ngFor="let social of merchant?.social || user?.social">
                    <a *ngIf="
                        social.name === 'linkedin' ||
                        social.name === 'twitter' ||
                        social.name === 'instagram' ||
                        social.name === 'tiktok' ||
                        social.name === 'web'"
                        [href]="social.url"
                        target="_blank"
                    >
                        <img *ngIf="social.name === 'linkedin'" [src]="env + '/linkedin.svg'" alt="linkedin" width="28" height="26">
                        <img *ngIf="social.name === 'twitter'" [src]="env + '/twitter.svg'" alt="twitter" width="32" height="26">
                        <img *ngIf="social.name === 'instagram'" class="blue" [src]="env + '/instagram.svg'" alt="instagram" width="26" height="26">
                        <img *ngIf="social.name === 'tiktok'" [src]="env + '/tiktok.svg'" alt="tiktok" width="23" height="26">
                        <img *ngIf="social.name === 'web'" [src]="env + '/planet.svg'" alt="website" width="26" height="26">
                </a>
                </ng-container>
            </div>
        </div>
      </div>

      <div style="max-width: 100%; margin-top: 26px">
        <swiper [config]="swiperConfig">
          <div class="swiper-contents" *ngFor="let item of singleItems; index as i">
              <app-single-item-list
              [alternativeName]="item.name"
              [image]="item.image"
              [filter]="item.filter"
              ></app-single-item-list>
          </div>
        </swiper>
      </div>
      
    </div>
  </div>

  <!-- <div
    class="items-card"
    *ngIf="
      (admin && merchant && items.length) ||
      (!admin && merchant && merchant.showItems && items.length)
    ">
    <div class="card-header">
      <h6>Items</h6>
      <a *ngIf="!admin && saleflow" [routerLink]="['/ecommerce/megaphone-v3',saleflow._id]">Mas</a>
      <span *ngIf="admin" class="switch-label">
        Mostrar En Contacto
        <app-switch-button
          [innerText]="true"
          [isClicked]="merchant.showItems"
          (switched)="toggleShowItems()"
        ></app-switch-button>
      </span>
    </div>
    <p class="info" *ngIf="admin">{{ordersTotal?.length}} item / ${{ordersTotal?.total | number}} in / {{users?.length}} compradores</p>
    <div class="item-list">
      <app-item-small-card
        *ngFor="let item of items"
        [item]="item"
      ></app-item-small-card>
    </div>
  </div> -->
 <!--  <app-bubble-button
    position="left"
    color="blue"
    [return]="true"
    (click)="back()"
    [solo]="false"
  ></app-bubble-button>
  <app-bubble-button
    position="right"
    color="blue"
    icon="/upload.svg"
    (click)="openShareDialog()"
    [solo]="false"
  ></app-bubble-button> -->

  <div style="margin-bottom: 6px;" *ngIf="!admin">
    <app-gallery-displayer
    [headline]="{
      icon: {
          src: '/salealt.svg',
          width: 21,
          height: 21,
          color:'invert(71%) sepia(0%) saturate(0%) hue-rotate(18deg) brightness(91%) contrast(87%)'
      },
      text: 'Tienda'
      }"
      [icon]="{
          src: '/upload.svg',
          width: 23,
          height: 23,
          color: 'invert(35%) sepia(84%) saturate(470%) hue-rotate(163deg) brightness(97%) contrast(90%)'
      }"
    [cta]="{
          text: 'MAS',
          callback: null
      }"
    [imagesGallery]="testGallery"
    ></app-gallery-displayer>
  </div>
  
  <ng-container *ngIf="!admin">
    <div style="margin-bottom: 6px;">
        <app-enlist-display
        [headline]="{
            text: {text: 'COLECCION DE ARTICULOS'},
            icon:{
                src: '/salealt.svg',
                width: 22,
                height: 22,
                color:'invert(72%) sepia(0%) saturate(412%) hue-rotate(137deg) brightness(91%) contrast(86%)'
            }
        }"
        [itemList]="testItem"
        ></app-enlist-display>
    </div>

    <div style="margin-bottom: 6px;">
        <app-enlist-display
        [headline]="{
            text: {text: 'Web Forms'},
            icon:{
                src: '/Page_pencil.svg',
                width: 22,
                height: 22
            }
        }"
        [itemList]="testItem1"
        ></app-enlist-display> 
    </div>

    <div style="margin-bottom: 6px;">
        <app-enlist-display
        [headline]="{
            text: {text: 'SIMBOLOS'},
            icon:{
                src: '/infinity.svg',
                width: 22,
                height: 22
            }
        }"
        [itemList]="testItem2"
        ></app-enlist-display>
    </div>

  </ng-container>

</div>
<app-sticky-button
  mode="double"
  size="small"
  fontSize="17px"
  text="POSIBILIDADES"
  [text2]="admin? 'WebApps STORE' : 'RECAUDA FONDOS'"
  bgColor="#2874AD"
  color="#FFFFFF"
></app-sticky-button>