<div class="container">
  <div class="header">
    <div class="header-top-container">
      <p class="header-top-text">Programa de ✨ para 🚀</p>
      <mat-icon>menu</mat-icon>
    </div>
    <p class="header-text">
      Este programa incentiva el boca a boca. Tus compradores ganan al comprar e
      influir a que otros lo compren.
    </p>
  </div>
  <div class="content">
    <div class="content-item">
      <p class="content-item-text content-item-first-text">
        ¿Qué % de cada factura invertirás?
      </p>
      <input placeholder="Ejemplo 7.5%" />
    </div>
    <div class="content-item">
      <p class="content-item-text">
        ¿Cuál descuento como recompensa se gana el comprador?
      </p>
      <input placeholder="Ejemplo $20" />
    </div>
    <div class="content-item">
      <p class="content-item-text">
        ¿Que comisión pagarás al KiosKero** que vendió por ti?
      </p>
      <input placeholder="Ejemplo $200" />
    </div>
    <div class="content-item">
      <p class="content-item-text">
        ¿Cuánto pagarás al creador que publique 30 videos en TikTok de uno de
        tus artículos?
      </p>
      <input placeholder="Ejemplo $2,000" />
    </div>
    <p class="extra-desc">
      ** Personas u organizaciones benéficas personalizan su KiosKo Virtual para
      guardar y compartir artículos que le gusta.
    </p>
  </div>
</div>
<div class="footer">
    Mira como se repartiría con el 7.5%
</div>
