<div class="container">
  <div class="header">
    <div class="header-top-container">
        <img src="../../../../../assets/icons/triangle.svg">
        <div class="flex">

            <p class="header-top-text">Programa de ✨ para 🚀</p>
            <mat-icon>menu</mat-icon>
        </div>
    </div>
    <p class="header-text">Haz sentir queridos a tus compradores</p>
    <p class="header-secondary-text">“A quién no le gustan las recompensas?”</p>
  </div>
  <div class="content">
    <p class="content-text">Configuración de la recompensa:</p>
    <div class="content-box content-first-box">
        El comprador gana el 3% de lo que facture.
    </div>
    <div class="content-box">
        Recompensas al comprador con $20 después que te facture $700.
    </div>
    <p class="desc-text">
        Tus compradores ganan 50 ✨ por cada $1.00 que facturen y alcanzarán la suma de 1,000 ✨ para poder canjearlas. 
    </p>
  </div>
</div>
