<div class="container">
  <app-helper-headerv2
    mode="basic"
    [config]="{
        text: merchant ? merchant.name : 'Tienda Sin nombre',
        fontFamily: 'SfProBold',
        fontSize: '21px',
        icon: '/person.svg',
        plus: true,
        plusColor: '#2874AD',
        return: true
    }"
    color="#2874AD"
    bgColor="#E9E371"
    [filter]="'invert(40%) sepia(16%) saturate(2024%) hue-rotate(163deg) brightness(75%) contrast(93%)'"
    (plusEvent)="openCreateNew()"
  ></app-helper-headerv2>
  <app-header-info-admin
    [data]="[
    {
      icon: '/folder-details.svg',
      text: {
          content: 'Mis Compradores',
          color: '#2874AD'
      },
      filter: 'no'
    },
    {
      text: {
        content: 'RD$ ' + (ordersTotal ? ordersTotal.total.toLocaleString('es-MX') : '0 ') + ' Total en Ventas',
        color: '#2874AD'
      }
    }
  ]"
  ></app-header-info-admin>
  <!-- <app-page-component-tabs
   [tabsOptions]="tabOptions"
  ></app-page-component-tabs> -->
  <div class="page-components-tabs" #elemt
    (mousedown)="startDragging($event, elemt)"
    (mouseup)="stopDragging()"
    (mouseleave)="stopDragging()"
    (mousemove)="moveEvent($event, elemt)"
  >
    <button class="tab" [ngClass]="{'active': activeCategory == undefined}" (click)="showAll()">
      Todos
    </button>
    <button 
      class="tab"
      *ngFor="let category of categories; index as i" 
      [ngClass]="{'active': activeCategory === i}"
      (click)="changeTab(i)"
    >
      {{category.name}}
    </button>
  </div>
  <div class="itemGrid" style="margin-top: 30px;">
    <app-saleflow-item
      *ngFor="let item of filteredItems; index as i"
      [imgURL]="item.images[0]"
      [price]="item.pricing"
      [income]="0"
      [quantity]="0"
      [index2]="item.category?.length"
      [showIcon]="true"
      (itemClicked)="editItem(i)"
      (action)="goToCategoryItemDetail(i)"
    ></app-saleflow-item>
  </div>
</div>

<app-bubble-button
[position]="'mini'"
[color]="'blue'"
[fontSize]="'19px'"
[text]="'$'"
[icon]="'/person.svg'"
[flexD]="'row'"
></app-bubble-button>
<app-bubble-button
  position="left"
	color="blue"
	icon="/arrow-left.svg"
  (click)="goToDashBoard()"
></app-bubble-button>
<app-bubble-button
  [solo]="true"
  position="right"
	color="blue"
	[icon]="'/upload.svg'"
  (click)="openShare()"
></app-bubble-button>
<app-sticky-button
	[text]="
    (ordersTotal ? ordersTotal.length : '0') 
    + ' / ' + '$' 
    + (ordersTotal ? ordersTotal.total : '0') 
    + ' / ' 
    + (users ? users.length : '0') + ' COMPRADORES'
  "
	[mode]="hasSalesData ? 'fixed' : 'disabled-fixed'"
  [bgColor]="'#2874AD'"
  [color]="'#E9E371'"
	size="small"
  (click)="goToSales()"
></app-sticky-button>
