<div class="container">
  <div class="close" (click)="goToQuotation()">X</div>

  <div class="top">
    <h2>Los precios de tus artículos están guardados.</h2>

    <div class="notify-buttons">
      <button (click)="confirmToMail()" class="mail-button">
        Notificale por correo electrónico
      </button>

      <button
        mat-button
        class="whatsapp-button"
        *ngIf="requesterPhone"
        (click)="confirmToWhatsapp()"
      >
        <div class="content">
          <span>
            Notificale por WhatsApp
            <img [src]="assetsFolder + '/whatsApp-img.webp'" alt="" />
          </span>
        </div>
      </button>
    </div>

    <p *ngIf="!requesterPhone">
      Ahora puedes avisarle a la floristeria que has confirmado la
      disponibilidad y los precios en la plataforma
    </p>
  </div>

  <div class="bottom">
    <button class="quotation-link" (click)="goToQuotation()">
      Ver los artículos de la cotización
    </button>

    <div class="flexBox containerFlexBox">
      <ng-container *ngFor="let item of items; index as i">
        <div class="flexBox ready">
          <ng-container
            *ngTemplateOutlet="itemInfoTemplate; context: { item: item, i: i }"
          ></ng-container>
        </div>

        <!-- ÁREA INFERIOR DE LA SECCIÓN DE LOS ARTÍCULOS -->
      </ng-container>
    </div>
  </div>
  <div class="landing-footer-container">
    <button class="landing-link" (click)="goToLanding()">
      www.floristerias.club
    </button>
  </div>
</div>

<ng-template #itemInfoTemplate let-item="item" let-i="i">
  <div class="productData">
    <button (click)="goToArticleDetail(item._id)">
      <div
        class="image"
        *ngIf="
          !item.images.length ||
          !item.images ||
          (item.images?.length &&
            !urlIsVideo(completeImageURLWrapper(item.images[0].value)))
        "
      >
        <div
          class="image-for-item"
          [ngStyle]="{
            backgroundImage: item.images?.length
              ? 'url(' +
                completeImageURLWrapper(item.images[0].value) +
                '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
              : 'url(/assets/images/noimage.png)',
            backgroundPosition: 'center',
            backgroundSize: 'contain',
            backgroundRepeat: 'no-repeat'
          }"
        ></div>
      </div>
      <div
        class="video-wrapper videoThumbnail"
        *ngIf="
          item.images?.length &&
          urlIsVideo(completeImageURLWrapper(item.images[0].value))
        "
      >
        <img
          src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/playIcon.svg"
          alt="play"
          class="playVideoIcon"
          style="padding: 1rem !important; z-index: 99"
        />

        <video
          [src]="completeImageURLWrapper(item.images[0].value)"
          [id]="'media' + item._id"
          class="video"
          [muted]="true"
        ></video>
      </div>
    </button>
  </div>
</ng-template>
