<div class="container">
  <header>
    <button>
      <mat-icon [ngStyle]="{ color: '#7B7B7B' }">chevron_left</mat-icon>
    </button>
    <button style="margin-left: auto">
      <mat-icon [ngStyle]="{ color: '#7B7B7B' }">close</mat-icon>
    </button>
  </header>

  <div class="current-media-shown-indicators" [style]="templateStyles()">
    <ng-container>
      <div
        class="indicator"
        [ngClass]="{
          active: i === currentMediaSlide
        }"
        *ngFor="let slide of slides; let i = index"
      ></div>
    </ng-container>
  </div>

  <swiper
    [config]="swiperConfig"
    #mediaSwiper
    (slideChange)="updateCurrentSlideData()"
  >
    <div class="content">
      <p class="title">¿Qué actividad te interesa más?</p>
      <div class="green-text-wrapper">
        <span class="title green">Comerciantes de productos</span>
        <svg
          style="margin-left: auto; margin-right: 10px"
          xmlns="http://www.w3.org/2000/svg"
          width="12.003"
          height="13.499"
          viewBox="0 0 12.003 13.499"
        >
          <g id="play" transform="translate(-12 -10.505)">
            <g
              id="Group_76058"
              data-name="Group 76058"
              transform="translate(12 10.505)"
            >
              <path
                id="Path_29066"
                data-name="Path 29066"
                d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
                transform="translate(-12 -10.505)"
                fill="#82f18d"
              />
            </g>
          </g>
        </svg>
        <span class="subtitle green" style="margin: 0">0:50 segundos</span>
      </div>
      <button class="btn" (click)="nextSlide()">
        Exhibir y vender mis cosas
      </button>
      <button class="btn">
        Lo anterior y tambien premiar a otros Kioskeros que vendan mis cosas
      </button>

      <!-- --------------------------------------------------------------------------- -->

      <div class="green-text-wrapper">
        <span class="title green">Comerciantes de Servicios</span>
        <svg
          style="margin-left: auto; margin-right: 10px"
          xmlns="http://www.w3.org/2000/svg"
          width="12.003"
          height="13.499"
          viewBox="0 0 12.003 13.499"
        >
          <g id="play" transform="translate(-12 -10.505)">
            <g
              id="Group_76058"
              data-name="Group 76058"
              transform="translate(12 10.505)"
            >
              <path
                id="Path_29066"
                data-name="Path 29066"
                d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
                transform="translate(-12 -10.505)"
                fill="#82f18d"
              />
            </g>
          </g>
        </svg>
        <span class="subtitle green" style="margin: 0">0:50 segundos</span>
      </div>
      <button class="btn">
        Facturar y controlar los costos de cada facturas
      </button>

      <!-- ---------------------------------------------------------------------------------------- -->

      <div class="green-text-wrapper">
        <span class="title green">Kioskeros</span>
        <svg
          style="margin-left: auto; margin-right: 10px"
          xmlns="http://www.w3.org/2000/svg"
          width="12.003"
          height="13.499"
          viewBox="0 0 12.003 13.499"
        >
          <g id="play" transform="translate(-12 -10.505)">
            <g
              id="Group_76058"
              data-name="Group 76058"
              transform="translate(12 10.505)"
            >
              <path
                id="Path_29066"
                data-name="Path 29066"
                d="M22.209,17.254,13.5,12.2v10.1ZM23.4,16.21a1.2,1.2,0,0,1,0,2.089l-9.547,5.54A1.228,1.228,0,0,1,12,22.794V11.715a1.228,1.228,0,0,1,1.85-1.044Z"
                transform="translate(-12 -10.505)"
                fill="#82f18d"
              />
            </g>
          </g>
        </svg>
        <span class="subtitle green" style="margin: 0">0:50 segundos</span>
      </div>
      <button class="btn">
        Exhibiré páginas y compilaciones y ganaré la comisión de lo que se venda
      </button>
      <button class="btn">
        Lo anterior y también crearé mis propias páginas como los stories y
        reels
      </button>
    </div>

    <!-- ---------------------- 2DO SLIDE ------------------------ -->

    <div
      class="content"
      style="
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0px 64px;
      "
    >
      <p class="title" style="margin: 0; text-align: center">
        ¿Qué contenido tendrá el letrero que identificará tu Kiosko entre otros?
      </p>
    </div>

    <!-- ---------------------- 3ER SLIDE ------------------------ -->

    <div class="content">
      <p class="title">¿Qué nombre tendrá tu Kiosko?</p>

      <div class="input-wrapper">
        <p class="input-title">Tu respuesta</p>
        <input
          #input
          type="text"
          placeholder="Escribe tu nombre comercial o marca..."
          [(ngModel)]="kioskoName"
          (input)="onNameInput($event, input)"
        />
      </div>

      <button class="swipe" (click)="nextSlide()">
        Swipe para no responder ahora
      </button>
    </div>

    <!-- ---------------------- 4TO SLIDE ------------------------ -->

    <div class="content">
      <p class="title">
        ¿Qué irá debajo de {{ kioskoName ? kioskoName : "NombreID" }}?
      </p>

      <div class="input-wrapper">
        <p class="input-title">Tu respuesta</p>
        <input
          #input6
          type="text"
          placeholder="Escribe tu nombre comercial o marca..."
          [(ngModel)]="description"
          (input)="onTitleInput($event, input6)"
        />
      </div>

      <button class="swipe" (click)="nextSlide()">
        Swipe para no responder ahora
      </button>
    </div>

    <!-- ---------------------- 5TO SLIDE ------------------------ -->

    <div class="content">
      <p class="title">¿Qué imágen?</p>
      <div style="margin-top: 50px; display: flex; justify-content: center">
        <div *ngIf="!file">
          <app-item-images
            [round]="true"
            (enteredImages)="onImageInput($event)"
          ></app-item-images>
        </div>

        <div
          *ngIf="file"
          [ngStyle]="{ backgroundImage: 'url(' + base64 + ')' }"
          class="preview"
        ></div>
      </div>
      <button class="swipe" (click)="nextSlide()" style="margin-top: 46vh">
        Swipe para no responder ahora
      </button>
    </div>

    <!-- ---------------------- 5TO SLIDE ------------------------ -->

    <div class="content">
      <p class="title" style="width: 85%">
        ¿En cuál correo electrónico recibirás las notificaciones generadas en tu
        KiosKo?
      </p>
      <div class="input-wrapper">
        <p class="input-title">Tu respuesta</p>
        <input
          #input2
          type="text"
          placeholder="Escribe..."
          [(ngModel)]="mail"
          (input)="onMailInput($event, input2)"
        />
      </div>
    </div>

    <!-- ---------------------- 6TO SLIDE ------------------------ -->

    <div class="content">
      <p class="title" style="width: 85%">
        ¿Desde cuál WhatsApp mandarás y recibirás las confirmaciones generadas
        del KiosKo?
      </p>
      <div class="input-wrapper">
        <p class="input-title">Tu respuesta</p>
        <ngx-intl-tel-input
          [cssClass]="'custom'"
          [enableAutoCountrySelect]="false"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [selectFirstCountry]="false"
          [preferredCountries]="preferredCountries"
          [selectedCountryISO]="CountryISO"
          maxLength="15"
          minlength="10"
          [phoneValidation]="true"
          [separateDialCode]="true"
          [customPlaceholder]="'(000) 000-0000'"
          [numberFormat]="PhoneNumberFormat.International"
          tabindex="1"
          id="phone"
          [(ngModel)]="inputPhone"
          (ngModelChange)="onPhoneInput()"
        ></ngx-intl-tel-input>

        <!-- <button class="btn" (click)="nextSlide()">No usaré WhatsApp</button> -->
      </div>

      <!-- <button class="swipe" (click)="nextSlide()" style="margin-top: 60vh">
        Swipe para no responder ahora
      </button> -->
    </div>

    <!-- ---------------------- 7MO SLIDE ------------------------ -->

    <div class="content">
      <p class="title">¿Cómo recibirás el dinero?</p>
      <div class="input-wrapper" style="margin-top: 10px">
        <p class="input-title">Respuesta</p>
      </div>
      <button
        class="btn"
        *ngFor="let option of payOptions"
        (click)="option.callback()"
      >
        {{ option.text }}
      </button>
      <button class="swipe" (click)="noPayOption()" style="margin-top: 35vh">
        Swipe para no responder ahora
      </button>
    </div>

    <!-- ---------------------- 8VO SLIDE ------------------------ -->

    <div class="content" *ngIf="isTransfer">
      <p class="title">Datos de tu banco</p>

      <div class="input-wrapper" style="margin-top: 10px">
        <p class="input-title">Nombre del Banco</p>
        <input
          #input3
          type="text"
          placeholder="Escribe..."
          [(ngModel)]="bankName"
          (input)="onBankInput($event, input3)"
        />
      </div>
      <div class="input-wrapper" style="margin-top: 60px">
        <p class="input-title">Cuenta donde transferirán el dinero</p>
        <input
          #input4
          type="text"
          placeholder="Escribe la cuenta donde transferirán el dinero..."
          [(ngModel)]="account"
          (input)="onAccountInput($event, input4)"
        />
      </div>

      <div style="display: grid; justify-content: center; margin-top: 113.5px">
        <svg
          style="margin: 0 auto; cursor: pointer"
          xmlns="http://www.w3.org/2000/svg"
          width="23.999"
          height="26.991"
          viewBox="0 0 23.999 26.991"
        >
          <g id="play" transform="translate(-12 -10.505)">
            <g id="Group_76058" data-name="Group 76058">
              <path
                id="Path_29066"
                data-name="Path 29066"
                d="M32.412,24,15,13.9V34.1Zm2.376-2.088a2.406,2.406,0,0,1,0,4.176L15.7,37.164A2.455,2.455,0,0,1,12,35.076V12.924a2.455,2.455,0,0,1,3.7-2.088Z"
                fill="#82f18d"
              />
            </g>
          </g>
        </svg>

        <p class="title green" style="margin: 5px auto">
          Mira como funcionan las transferencias bancarias
        </p>
        <p class="subtitle green" style="margin: 0 auto">0:50 segundos</p>
      </div>

      <button
        *ngIf="!itemFormBank.valid"
        class="swipe"
        (click)="nextSlide()"
        style="margin-top: 27.5vh"
      >
        Swipe para no responder ahora
      </button>
      <!-- <button *ngIf="itemFormBank.valid" class="cta" (click)="saveBankData()">
        Guardar datos
      </button> -->
    </div>

    <!-- ---------------------- 9NO SLIDE ------------------------ -->

    <div class="content">
      <p class="title">¿En que país promocionaremos tu KiosKo?</p>

      <div class="input-wrapper" style="margin-bottom: 18.5px">
        <p class="input-title">Tu respuesta</p>
        <input
          #input5
          type="text"
          placeholder="Escribe..."
          [(ngModel)]="searchCountry"
          (input)="filterCountries()"
        />
      </div>

      <button class="btn" (click)="selectCurrentCountry()">
        {{ currentCountry }}, {{ currentCity }}
      </button>

      <div *ngIf="searchCountry === ''">
        <div *ngFor="let country of countries; index as i">
          <button class="btn" (click)="selectedCountry(i)">
            {{ country.country }}
          </button>
        </div>
      </div>

      <div *ngIf="searchCountry !== ''">
        <div *ngFor="let country of filteredCountries; index as i">
          <button class="btn" (click)="selectedCountry(i)">
            {{ country.country }}
          </button>
        </div>
      </div>
    </div>

    <!-- ---------------------- 10MO SLIDE ------------------------ -->

    <div class="content" *ngIf="isCountrySelected && !isCurrentCountrySelected">
      <p class="title">¿En que ciudad?</p>

      <div class="input-wrapper" style="margin-bottom: 18.5px">
        <p class="input-title">Tu respuesta</p>
        <input
          type="text"
          placeholder="Escribe..."
          [(ngModel)]="searchCity"
          (input)="filterCities()"
        />
      </div>

      <div *ngIf="searchCity === ''">
        <div *ngFor="let city of cities; index as i">
          <button class="btn" (click)="selectedCity(i)">{{ city.name }}</button>
        </div>
      </div>

      <div *ngIf="searchCity !== ''">
        <div *ngFor="let city of filteredCities; index as i">
          <button class="btn" (click)="selectedCity(i)">{{ city.name }}</button>
        </div>
      </div>
    </div>

    <!-- ---------------------- 11VO SLIDE ------------------------ -->

    <div>
      <div class="content">
        <p class="title" style="margin-bottom: 40px">
          ¿Que Industria predominará lo que exhibirás en tu KiosKo?
        </p>

        <div *ngFor="let item of industrias; index as i">
          <button
            class="btn"
            (click)="industrySelected(i)"
            [ngClass]="item.selected ? 'selected' : ''"
          >
            {{ item.industria }}
          </button>
        </div>
      </div>

      <button
        class="cta"
        *ngIf="selectedIndustries.length"
        (click)="createUser()"
        style="position: relative; margin-top: 70.5%"
      >
        Crear Kiosko
      </button>
    </div>

    <!-- ---------------------- FINAL DE LOS SLIDES ------------------------ -->
  </swiper>
</div>
