<div class="container">
    <label for="Titulo" class="title">Selecciona la Privacidad</label>

    <app-cta-buttons
    [mode]="'white'"
    [ctaText]="'Público para todos con el link.'"
    [borderc]="'#2F6ED8'"
    [fontColor]="'#4773D8'"
    [information]="false"
    ></app-cta-buttons>

    <hr class="separate" />

    <app-cta-buttons
    [mode]="'white'"
    [ctaText]="'Privado con clave y para # de WhatsApp particulares'"
    [borderc]="'#2F6ED8'"
    [fontColor]="'#4773D8'"
    [information]="false"
    ></app-cta-buttons>

    <p class="bottom-text">Compartes con la tienda el qrCode y lo adjuntan al mensaje de regalo.</p>
</div>