<div class="container">

    <!-- <app-helper-headerv2
    [mode]="'center'"
    [mainText]="{
        text:'Artículos',
        fontFamily: 'SfProBold',
        fontSize: '21px',
        color: '#FFF'
    }"
    [icon]="{
        src: '/salealt.svg',
        width: 24,
        height: 24,
        filter: 'invert(1%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(155%) contrast(100%)',
        callback: goToMetrics
    }"
    bgColor="#2874AD"
    [returnAble]="false"
    [plus]="{
        active: true
    }"
    [icons]=" [{
        src: '/upload.svg',
        color: 'invert(100%) sepia(0%) saturate(1%) hue-rotate(342deg) brightness(175%) contrast(101%)',
        callback: testing
    },{
        src: '/pencil.svg',
        color: 'invert(100%) sepia(0%) saturate(1%) hue-rotate(342deg) brightness(275%) contrast(101%)',
        callback: testing
    }]"
    ></app-helper-headerv2> -->

    <app-helper-headerv2
    [mode]="'center'"
    [mainText]="{
        text:'Artículos',
        fontFamily: 'SfProBold',
        fontSize: '21px',
        color: '#FFF'
    }"
    [icon]="{
        src: '/salealt.svg',
        width: 24,
        height: 24,
        filter: 'invert(1%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(155%) contrast(100%)',
        callback: goToMetrics
    }"
    bgColor="#2874AD"
    [returnAble]="false"
    [plus]="{
        active: true
    }"
    (plusEvent)="createItem()"
    ></app-helper-headerv2>


    <div class="saleflows-grid" *ngIf="items?.length && status === 'complete'">
        <div class="capsize" *ngFor="let item of items">
            <app-saleflow-item
            [type]="3"
            [imgURL]="item.images ? item.images[0] : ''"
            [price]="item.pricing"
            [showPrice]="true"
            [showIcon]="item.status != 'active' ? true : false"
            [inactive]="item.status != 'active' ? true : false"
            [displaying]="true"
            (itemClicked)="goToDetail(item._id)"
            (iconClicked)="openDeleteDialog(item)"
            [responsiveWidthVersion]="true"
            [icon]="{
                src: '/delete.svg',
                width: 15,
                height: 18
            }"
            ></app-saleflow-item>
            <!-- [icon]="item.notifications?.length && {
                src: '/whatsapp_verde.svg',
                width: 17,
                height: 17
            }" 
            [showIcon]="item.status != 'active' ? true : false"-->
        </div>
    </div>
    <h3 class="no-results" *ngIf="status === 'complete' && (!items || !items.length)">
        No tienes productos creados.
    </h3>
    <h3 class="no-results" *ngIf="status === 'loading'">
        Cargando productos...
    </h3>


    <app-sticky-button
    size="small"
    [mode]="'double'"
    bgColor="#A1A1A1"
    [fontSize]="'14px'"
    [text]="items.length + ' ARTÍCULOS'"
    [text2]="'$' + (ordersTotal ? ordersTotal.total.toLocaleString('es-MX') : '0')"
    [color]="'#FFF'"
    [extra]="{
        icon:{
            src: '/salealt.svg',
            color: 'invert(1%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(155%) contrast(100%)',
            width: 19,
            height: 19
        },
        bgColor: '#2874AD'
    }"
    (added)="goToMetrics()"
    ></app-sticky-button>
</div>