<div class="container">

    <app-helper-headerv2
    [mode]="'center'"
    [mainText]="{
        text:'Artículos',
        fontFamily: 'SfProBold',
        fontSize: '21px',
        color: '#FFF'
    }"
    [icon]="{
        src: '/person.svg',
        width: 30,
        height: 30,
        filter: 'invert(100%) sepia(99%) saturate(14%) hue-rotate(215deg) brightness(155%) contrast(100%)'
    }"
    [returnAble]="false"
    ></app-helper-headerv2>

    <div class="saleflows-grid">

        <div class="capsize" *ngFor="let list of itemList">
            <app-saleflow-item 
            [price]="list.price"
            [quantity]="list.quantity"
            [showIcon]="true">
            </app-saleflow-item>
        </div>
        
    </div>


    <app-sticky-button
    bgColor="#A1A1A1"
    [height]="'30px'"
    [mode]="'double'"
    [text]="'145 ARTICULOS'"
    [text2]="'$14,451 INGRESO'"
    [color]="'#FFF'"
    ></app-sticky-button>
</div>
