.container{
    width: 100%;
    min-height: 100vh;
   
    .saleflows-grid{
        width: auto;
        margin: 21px 18.3px;
        max-height: 93.5vh;
        padding: 10px 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 10px;
        column-gap: 10px;
        row-gap: 25px;
        overflow-x: hidden;
        overflow-y: scroll;
        justify-items: center;
        .capsize{
            width: auto;
            max-width: 212px;
            height: auto;
        }
    }
}

