.container {
    min-height: 100vh;
}

.top-bar {
    background-color: #A1A1A1;
    padding: 12px 21px;
    display: flex;
    align-items: center;
    font-family: SfProHeavy;
    font-size: 16px;
    justify-content: center;
    position: relative;

    img {
        position: absolute;
        left: 21px;
    }
}
