.wrapper {
  position: relative;
}

.scroller,
.scroller2 {
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
}

.scroller {
  &.fadingNext {
    position: absolute;
    animation-name: fading;
    animation-duration: 1s;
    left: 0px;
    top: 0px;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    /*
    transition: transform 0.3s ease-in-out;
    transform: translateX(-1000px);
    */
  }

  &.fadingPrev {
    position: absolute;
    animation-name: fadingPrev;
    animation-duration: 1s;
    left: 0px;
    top: 0px;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes fading {
  15% {
    top: 0px;
    left: -2000px;
  }

  30% {
    top: -200px;
    left: -2000px;
  }

  50% {
    top: -200px;
    left: 0px;
  }

  70% {
    top: -200px;
    left: 2000px;
  }

  90% {
    top: 0px;
    left: 2000px;    
  }

  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes fadingPrev {
  15% {
    top: 0px;
    left: 2000px;
  }

  30% {
    top: -200px;
    left: 2000px;
  }

  50% {
    top: -200px;
    left: 0px;
  }

  70% {
    top: -200px;
    left: -2000px;
  }

  90% {
    top: 0px;
    left: -2000px;    
  }

  100% {
    top: 0px;
    left: 0px;
  }
}

.month {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "SfProRegular";
  font-size: 21px;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: #82f18d;
  }
}

.day {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "SfProRegular";
  font-size: 17px;
  padding: 10px;

  border-radius: 6px;
  gap: 5px;
  color: #272727;

  &:not(.disabled) {
    cursor: pointer;
    &:hover {
      background-color: #c8f3cc;
    }
  }

  &.disabled {
    color: rgb(197, 197, 204);
  }

  &.selected {
    background-color: #82f18d;
  }
}
