<div style="padding: 3em 0px 0px 0px">
  <h3 class="dialog-title" *ngIf="data?.title">{{ data.title }}</h3>
  <p class="description" *ngIf="data?.description">{{ data.description }}</p>

  <div style="display: flex; flex-direction: column; margin-top: 28px">
    <div 
      *ngFor="let option of data.options; let i = index"
      class="button-flex"
      [style.justifyContent]="option?.settings ? 'space-between' : 'flex-start'"
      (click)="option?.complete ? onClick(i) : null">
      <ng-container *ngIf="option?.settings; else elseTemplate">
        <div class="container">
          <div class="left-border"></div>
          <button
            mat-button
            class="option-button"
            [ngClass]="{ active: selectedIndex === i }"
            (click)="option?.complete ? null : onClick(i)"
          >
            {{ option.value }}
          </button>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="left-border"></div>
        <button
          mat-button
          class="option-button"
          [ngClass]="{ active: selectedIndex === i }"
          (click)="onClick(i)"
        >
          {{ option.value }}
        </button>
      </ng-template>
      <div *ngIf="option?.settings" class="config" (click)="onClickSettings(i)">
        <i [class]="option?.settings?.value" [style.color]="option?.settings?.color ? option?.settings?.color : '#A1A1A1'"></i>
      </div>
    </div>
  </div>
  <p class="bottom-label" *ngIf="data?.bottomLabel">{{data.bottomLabel}}</p>
</div>
