<div class="container">
  <header>
    <ng-container *ngIf="isTheUserTheMerchant">
      <div class="header-title">
        La<span class="highlight">ia</span>Chat con
        <span class="highlight">ClienteID</span>
      </div>
      <div class="close-button" (click)="goBackToMyChats()">X</div>
    </ng-container>
    <ng-container *ngIf="!isTheUserTheMerchant">
      <div class="header-title">
        La<span class="highlight">ia</span>Chat con
        <span class="highlight">MerchantID</span>
      </div>

      <div class="close-button" (click)="(null)">X</div>
    </ng-container>
  </header>

  <main>
    <div class="messages" id="messages">
      <ng-container *ngFor="let message of chat?.messages">
        <div
          class="question-box-wrapper"
          *ngIf="message.sender === headerService.user._id"
        >
          <div class="content">
            <div class="question-box">
              {{ message.message }}
            </div>
          </div>
        </div>

        <div
          class="response-box-wrapper"
          *ngIf="message.sender !== headerService.user._id"
        >
          <div class="content">
            <div class="response-box">{{ message.message }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </main>

  <section class="input-area" [formGroup]="chatFormGroup">
    <textarea formControlName="input" placeholder="Escríbe"></textarea>

    <button>
      <img
        [ngClass]="{
          notAllowed: !chatFormGroup.get('input').value
        }"
        [src]="assetsFolder + '/sumit-icon-arrecho.png'"
        alt="edit question"
        (click)="chatFormGroup.get('input').value ? sendMessage() : null"
      />
    </button>
  </section>
</div>
