<div class="container">
    <div class="const-components">

    <app-helper-headerv2
    [mode]="'2raise'"
    [leftText]="'Mi Tienda'"
    [rightText]="'List2raise'"
    ></app-helper-headerv2>

    <app-header-info
    [title]="'MerchantID'"
    [description]="'Vendido a Armando Paredes'"
    [description2]="'En fechaID HoraID'"
    ></app-header-info>

    <app-page-component-tabs
    [tabsOptions]="tabs"
    (changeValue)="whichName($event)"
    ></app-page-component-tabs>

    </div>

    <router-outlet></router-outlet>
</div>