<div class="container">
    <div class="const-components">
        <div class="me">
            <img [src]="env + '/person.svg'" alt="Persona, ver mi perfil" class="icon">
            <p class="text">Yo</p>
        </div>
        <div class="mall">
            <img [src]="env + '/store.svg'" alt="Tienda, haz click para ir a Mall" calss="icon">
            <p class="text">Mall</p>
        </div>
        <div class="my-store">
            <p class="text">MI TIENDA</p>
        </div>
    <!-- <app-helper-headerv2
        [mode]="'2raise'"
        [leftText]="'Mi Tienda'"
        [rightText]="'List2raise'"
    ></app-helper-headerv2>
    <app-header-info
        [title]="myMerchant?.name"
    ></app-header-info>
    <app-page-component-tabs
        [tabsOptions]="tabs"
        (changeValue)="whichName($event)"
    ></app-page-component-tabs> -->
    </div>
    <router-outlet></router-outlet>
</div>