<div style="display: flex; flex-direction: column; min-height: 100vh">
  <header class="header">
    <a
      mat-icon-button
      (click)="returnEvent()"
      queryParamsHandling="merge"
    >
      <img
        src="../../../../../assets/icons/close-button.svg"
        alt="back"
        role="doc-backlink"
      />
    </a>
    <!--HACER DINAMICO el Cödigo-->
    <p>💰 Control & Beneficios de {{ orderData.dateId }}</p>
  </header>
  <main>
    <ng-container>
      <section>
        <div class="expenses-list">
          <!--TODO: investigar cual es la fecha de creacion-->
          <app-named-expense
            [title]="'Monto de la factura'"
            [subtitle]="orderData.dateId + ', ' + orderData.date"
            [pricing]="orderData.pricing"
            [totalOrder]="orderData.totalOrders"
            [isPrincipal]="true"
          ></app-named-expense>
          <app-named-expense
            *ngFor="let expenditure of orderExpenditures; let i = index"
            [title]="expenditure?.name ? expenditure.name : 'Sin nombre'"
            [subtitle]="
              orderData?.dateId && expenditure?.createdAt
                ? orderData.dateId + ', ' + daysAgo(expenditure.createdAt)
                : orderData.dateId + ', Hoy'
            "
            [pricing]="expenditure.amount"
            (onModifyTitle)="modifyTitle(i)"
            (onModifyPrice)="modifyPrice(i)"
          ></app-named-expense>
          <button
            type="button"
            class="add-expenses"
            (click)="createExpenditure()"
          >
            Adiciona un egreso
          </button>
        </div>
      </section>
      <div class="spacer"></div>
      <footer class="bottom-footer">
        <p>Beneficio: $ {{ benefits.benefits - benefits.less | number }}</p>
      </footer>
    </ng-container>
  </main>
</div>
