.header {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: transparent;

  p {
    margin: 0;
    color: #181d17;
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .spacer {
    flex: 1;
  }
}
.form {
  display: flex;
  padding: 12px;
  height: 54px;
  box-sizing: content-box;
  gap: 8px;
}
.expenses-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  color: #272727;
  margin: 16px 0;
}
.light {
  font-family: SfProLight;
}
.bold {
  font-family: SfProBold;
}
.btn {
  border: none;
  padding: 0;
  text-align: left;
  cursor: pointer;
}
.add-expenses {
  appearance: none;
  border: none;
  background: no-repeat;
  cursor: pointer;
  text-align: left;
  margin-top: 12px;
  color: #189ac1;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
::ng-deep .mat-tab-label {
  font-size: 12px;
  padding: 0 12px !important;
}
.bottom-footer {
  background-color: #6fcf97;
  padding: 0 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  p {
    color: #181d17;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
