<div class="page-container">
  <header class="page-header">
    <div class="btn-group">
      <button type="button" class="btn-info">
        <img src="../../../../../assets/icons/info.svg" alt="" />
      </button>
      <button class="btn-add" type="button">
        <img src="../../../../../assets/icons/plus-white.svg" alt="" />
      </button>
    </div>
    <div class="group">
      <p>El KiosKo 💰 de mi 💚</p>
      <button type="button" class="btn-burger">
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
  </header>
  <div class="page-body">
    <div class="searchbar-container">
      <input type="text" class="searchbar" placeholder="Buscar..." />
      <p>
        <button type="button">⏰</button>
        <button type="button">💰</button>
        <button type="button">🏷️</button>
        <button type="button">🖇️️</button>
      </p>
    </div>
    <p class="information">
      87 sin venderse. 4 ocultos. 74 con poca disponibilidad. 441 en total
    </p>
    <section class="form-group form-optional-function">
      <div class="card">
        <div class="card-container">
          <div class="left">
            <div class="info">
              <p class="card-title">NombreID</p>
              <p class="card-subtitle">Lavados</p>
              <p class="card-text">
                Lavado por fuera, aspiradora por dentro y brillo en las gomas.
              </p>
            </div>
            <p class="card-text-extra">💰 con MerchantID</p>
          </div>
          <div class="right">
            <img
              src="../../../../../assets/images/i-love-you.svg"
              alt="A ballon with text I Love You"
              loading="lazy"
            />
          </div>
        </div>
        <footer class="card-footer">
          <p class="price">RD$ 3,800</p>
          <button type="button">
            <img
              src="../../../../../assets/icons/heart-green-filled.svg"
              alt=""
            />
          </button>
        </footer>
      </div>
      <div class="card">
        <div class="card-container">
          <div class="left">
            <div class="info">
              <p class="card-title">NombreID</p>
              <p class="card-subtitle">Lavados</p>
              <p class="card-text">
                Lavado por fuera, aspiradora por dentro y brillo en las gomas.
              </p>
            </div>
            <p class="card-text-extra">💰 con MerchantID</p>
          </div>
          <div class="right">
            <img
              src="../../../../../assets/images/i-love-you.svg"
              alt="A ballon with text I Love You"
              loading="lazy"
            />
          </div>
        </div>
        <footer class="card-footer">
          <p class="price">RD$ 3,800</p>
          <button type="button">
            OCULTO
            <img src="../../../../../assets/icons/heart-green.svg" alt="" />
          </button>
        </footer>
      </div>
    </section>
  </div>
  <footer class="page-footer">
    <p>Preview de mi KiosKo</p>
    <p>🎗️</p>
  </footer>
</div>
