<mat-vertical-stepper #stepper>
  <mat-step [completed]="itemForm.get('pricing').value > 0">
    <ng-template matStepLabel>Ingresa el precio del artículo</ng-template>
    <div style="margin: 8px 0">
      <app-currency-input
        innerLabel="Pesos Dominicanos"
        (onInputEvent)="onCurrencyInput($event)"
      ></app-currency-input>
    </div>
    <!-- <div *ngIf="itemForm.get('pricing').value > 0">
      <button mat-button matStepperNext>Continuar</button>
    </div> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel
      >Ingresa las imágenes o videos del artículo</ng-template
    >
    <div>
      <app-item-images (enteredImages)="onImageInput($event)"></app-item-images>
    </div>
  </mat-step>
</mat-vertical-stepper>
