<div class="container">
    <!-- <div class="header1">
      <img
        [src]="environment + '/arrow-double-up-black.svg'"
        alt="arrows"
        class="arrows"
      />
      <p class="header-title" *ngIf="contactID">{{ contactID }}</p>
      <p class="header-title" *ngIf="!contactID">Mi perfil</p>
      <img
        [src]="environment + '/settings.svg'"
        alt="settings"
        class="settings"
      />
    </div> -->
    <button class="header2">
      <img
        [src]="environment + '/arrow-double-up-black.svg'"
        alt="arrows"
        class="arrows"
      />
    </button>
    <div class="bodySect">
        <div class="bioSection">
            <div *ngIf = "img" class="bioImg" [ngStyle]="{background: 'url(' + (img.startsWith('https') ? img : (environment + '/' + img)) + ') no-repeat  center/cover'}">
                <img class="eyeIcon" [src]="environment + '/eye.svg'">
                <div class="markerCont">
                    <img class="locationIcon" [src]="environment + '/location-2-black.svg'">
                </div>
            </div>
            <div *ngIf = "!img" class="bioImg" [ngStyle]="{'background-color':'#A0A0A0'}">
                <img class="eyeIcon" [src]="environment + '/eye.svg'">
                <div class="markerCont">
                    <img class="locationIcon" [src]="environment + '/location-2-black.svg'">
                </div>
            </div>
            <p class="contactID">{{contactID}}</p>
            <p *ngIf = "contactBio" class="bio">{{contactBio}}</p>
        </div>
        <div class="dataSect">
            <div *ngIf = "whatsapp" class="dataBox">
                <img class="icon" [src]="environment + '/whatsapp_black.svg'"  width="32" height="34">
                <p><a [style.textDecoration]="'none'" [style.color]="'inherit'" [href]="'https://wa.me/' + whatsapp" target="_blank">{{whatsapp}}</a></p>
            </div>
            <div *ngIf = "telegram" class="dataBox">
                <img class="icon" [src]="environment + '/telegram.svg'"  width="32" height="33">
                <p><a [style.textDecoration]="'none'" [style.color]="'inherit'" [href]="'https://telegram.me/' + whatsapp" target="_blank">{{telegram}}</a></p>
            </div>
            <div *ngIf = "phone" class="dataBox">
                <img class="icon" [src]="environment + '/phone-black.svg'"  width="32" height="32">
                <p><a [style.textDecoration]="'none'" [style.color]="'inherit'" [href]="'tel:' + phone">{{phone}}</a></p>
            </div>
        </div>
    </div>
</div>
