<div class="container">
  <div class="header1" *ngIf="isOwner">
    <button class="arrows" (click)="goBack()">
      <img [src]="environment + '/arrow-double-up-black.svg'" alt="arrows" />
    </button>
    <p class="header-title" *ngIf="contactID">{{ contactID }}</p>
    <p class="header-title" *ngIf="!contactID">Mi perfil</p>

    <!--
      <button class="settings">
        <img
          [routerLink]="['/admin/bios-edit']"
          [queryParams]="{ contactId: idUser }"
          [src]="environment + '/settings.svg'"
          alt="settings"
        />
      </button>
    -->
  </div>
  <button class="header2" (click)="goBack()" *ngIf="!isOwner">
    <img
      [src]="environment + '/arrow-double-up-black.svg'"
      alt="arrows"
      class="arrows"
    />
  </button>
  <div class="bodySect">
    <div class="bioSection">
      <div
        *ngIf="img"
        class="bioImg"
        [ngStyle]="{
          background:
            'url(' +
            (img.startsWith('https') ? img : environment + '/' + img) +
            ') no-repeat  center/cover'
        }"
      >
        <a
          [href]="locationString"
          *ngIf="locationString && locationString.length"
          target="_blank"
          class="markerCont"
        >
          <img
            class="locationIcon"
            [src]="environment + '/location-2-black.svg'"
          />
        </a>
      </div>
      <div
        *ngIf="!img"
        class="bioImg"
        [ngStyle]="{ 'background-color': '#A0A0A0' }"
      >
        <img class="eyeIcon" [src]="environment + '/eye.svg'" />
        <div class="markerCont">
          <img
            class="locationIcon"
            [src]="environment + '/location-2-black.svg'"
          />
        </div>
      </div>
      <p class="contactID">{{ contactID }}</p>
      <p *ngIf="contactDirection" class="contactID">{{ contactDirection }}</p>
      <p *ngIf="contactBio" class="bio">{{ contactBio }}</p>
    </div>
    <div class="dataSect">
      <div *ngFor="let link of links" [ngSwitch]="link.name">
        <a
          [style.textDecoration]="'none'"
          [style.color]="'inherit'"
          [href]="'https://wa.me/' + link.value"
          target="_blank"
          *ngSwitchCase="'whatsapp'"
          class="dataBox"
        >
          <img
            class="icon"
            [src]="environment + '/whatsapp_black.svg'"
            width="32"
            height="34"
          />
          <p>{{ link.name }}</p>
        </a>

        <a
          [style.textDecoration]="'none'"
          [style.color]="'inherit'"
          [href]="'https://telegram.me/' + link.value"
          target="_blank"
          *ngSwitchCase="'telegram'"
          class="dataBox"
        >
          <img
            class="icon"
            [src]="environment + '/telegram.svg'"
            width="32"
            height="33"
          />
          <p>{{ link.name }}</p>
        </a>

        <a
          [style.textDecoration]="'none'"
          [style.color]="'inherit'"
          [href]="'tel:' + link.value"
          *ngSwitchCase="'phone'"
          class="dataBox"
        >
          <img
            class="icon"
            [src]="environment + '/phone-black.svg'"
            width="32"
            height="32"
          />
          <p>{{ link.name }}</p>
        </a>

        <a
          [style.textDecoration]="'none'"
          [style.color]="'inherit'"
          [href]="
            link.value.startsWith('https') || link.value.startsWith('http')
              ? link.value
              : isEmail(link.value)
              ? 'mailto:' + link.value
              : 'tel:' + link.value
          "
          [target]="
            link.value.startsWith('https') || link.value.startsWith('http')
              ? '_blank'
              : '_self'
          "
          *ngSwitchDefault
          class="dataBox"
        >
          <div
            class="linkImagge"
            *ngIf="link.image"
            [ngStyle]="{
              backgroundImage: 'url(' + environment + link.image + ')',
              backgroundRepeat: 'no-repeat',
              backgroundSize: 'cover',
              backgroundPosition: 'center',
              width: '39px',
              height: '39px',
              borderRadius: '5px'
            }"
          ></div>

          <p>{{ link.name }}</p>
        </a>
      </div>
    </div>
    <button
      mat-raised-button
      color="warn"
      class="delete-me"
      *ngIf="isOwner"
      (click)="openConfirmationDialog()"
    >
      <span> Borra mi perfil </span>

      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
