<div class="container">
  <div class="header">
    <!-- <img class="icon" [src]="environment + '/arrow-double-up.svg'" /> -->
    <button class="icon" [style.background]="image"></button>
    <p class="title">
      {{
        merchantName.length < 23
          ? merchantName
          : (merchantName.slice(0, 23) + ".." || "Tienda" | titlecase)
      }}
    </p>
    <p class="title">{{ name | titlecase }}</p>
    <!-- Former routerLink -> [routerLink]="[notes ? '../' : '../../store']" -->
    <button [routerLink]="['../../store']" class="arrow-btn">
      <img class="icon" [src]="environment + '/arrow-double-up.svg'" />
    </button>
  </div>
  <div class="margin flex">
    <section class="productGrid" *ngIf="status === 'complete' && items?.length">
      <div
        *ngFor="let item of items; let i = index"
        [ngStyle]="{ width: '190px', height: '238.43px' }"
        [routerLink]="['../../article-detail/item/' + item._id]"
      >
        <app-saleflow-item
          [itemIndex]="i"
          [itemId]="item._id"
          [type]="4"
          [showViews]="true"
          [viewsCounter]="item.visitorCounter ? item.visitorCounter.counter : 0"
          [inactive]="
            item.status != 'active' && item.status != 'featured' ? true : false
          "
          [imgURL]="item.images.length ? item.images[0].value : ''"
          [price]="item.pricing"
          [showPrice]="true"
          [itemParams]="item.params"
          [responsiveWidthVersion]="true"
          [featured]="item.status === 'featured'"
        ></app-saleflow-item>
      </div>
    </section>
    <div *ngIf="status === 'complete' && !items?.length">
      <h3>
        Esta {{ notes ? "colección" : "categoría" }} no tiene productos
        asignados
      </h3>
    </div>
  </div>
  <!-- <app-bubble-button
    [position]="'minir'"
    [color]="'black'"
    [solo]="false"
    [cart]="true"
    [cartAmount]="1"
    [routerLink]="['/ecommerce/'+slug+'/checkout']"
  >
  </app-bubble-button> -->
  <!-- <app-gradient-footer [uploadIcon]="true"></app-gradient-footer> -->
</div>
