<div class="margin flex">
  <section class="productGrid" *ngIf="status === 'complete' && items?.length">
    <div
      *ngFor="let item of items; let i = index"
      [ngStyle]="{ width: '190px', height: '238.43px' }"
      [routerLink]="['../../article-detail/item/' + item._id]"
    >
      <app-saleflow-item
        [itemIndex]="i"
        [itemId]="item._id"
        [type]="4"
        [showViews]="false"
        [viewsCounter]="item.visitorCounter ? item.visitorCounter.counter : 0"
        [inactive]="
          item.status != 'active' && item.status != 'featured' ? true : false
        "
        [imgURL]="item.images.length ? item.images[0].value : ''"
        [price]="item.pricing"
        [showPrice]="true"
        [itemParams]="item.params"
        [responsiveWidthVersion]="true"
        [featured]="item.status === 'featured'"
      ></app-saleflow-item>
    </div>
  </section>
  <div *ngIf="status === 'complete' && !items?.length">
    <h3>
      Esta {{ tag?.notes ? "colección" : "categoría" }} no tiene productos
      asignados
    </h3>
  </div>
</div>
