<div class="container" [ngStyle]="{backgroundColor: currentContent ? '#F6F6F6' : '#FFFFFF'}">
	<div class="topbar">
		<a class="cancel" (click)="cancel()">Cancel</a>
		<button (click)="save()" class="right" *ngIf="currentContent && (editText || image)">Salvar</button>
		<a class="right" *ngIf="!currentContent">Preview</a>
	</div>
	<div class="post-list" *ngIf="!currentContent">
		<div class="icon-edit" *ngFor="let item of content; index as i">
			<div class="edit-element">
				<button (click)="edit(i)"><img class="icon" [src]="env + '/pencil_line.svg'" alt="edit"></button>
				<button><img class="icon" *ngIf="true" [src]="env + '/move.svg'" alt="move"></button>
			</div>
			<div class="editor">
				<app-pre-visualizer
					[mode]="item.type"
					[textPost]="item?.text"
					[image]="item?.imageUrl"
					[audio]="item?.audio"
				></app-pre-visualizer>
			</div>
		</div>
	</div>
	<div *ngIf="currentContent" class="edit-mode">
		<div *ngIf="currentContent.type === 'text'" class="post-message">
			<label for="post-message">Adiciona el texto:</label>
			<textarea
				class="textarea"
				name="post-message"
				id="post-message"
				placeholder="Escribe..."
				[(ngModel)]="editText"
			></textarea>
		</div>
		<div *ngIf="currentContent.type === 'poster'" class="post-image">
			<h3 class="image-title">Titulo del poster (opcional)</h3>
			<input
        id="post-image"
        (change)="fileProgress($event)"
        type="file"
        class="d-none"
      />
			<label
        [style.background]="imageField ? sanitize(imageField) : '#82F18D'"
        for="post-image"
        class="file"
      >
      </label>
			<p>Comentario de la imagen (opcional)</p>
		</div>
	</div>
</div>
<div class="fixed-area" *ngIf="!currentContent">
	<div class="icons">
		<app-cta-buttons
			[ctaText]="'Audio'"
			[btnColor]="'#FC2727'"
			[icon]="env + '/mic.svg'"
			(click)="openRecorder()"
		></app-cta-buttons>
		<app-cta-buttons
			[ctaText]="'Poster'"
			[btnColor]="'#40772F'"
			[icon]="env + '/image.svg'"
			(click)="add('poster')"
		></app-cta-buttons>
		<app-cta-buttons
			[ctaText]="'Texto'"
			[btnColor]="'#4773D8'"
			[icon]="env + '/text.svg'"
			(click)="add('text')"
		></app-cta-buttons>
	</div>
</div>