<div class="container">

    <ng-container *ngIf="!inSearch">
        <div class="topbar">
                <label for="Volver a los datos de mi tienda" class="left-side">Volver A Los Datos De Mi Tienda</label>
                <div style="display: flex; align-items: center;"><hr class="line"> <label for="Editar Mi Tienda" class="right-side">Editar Mi Tienda</label></div>
        </div>
    </ng-container> 

    <ng-container *ngIf="inSearch">
        <div class="changer">
            <label for="Salir de la busqueda" class="search-label" (click)="searchToggling()">Salir De La Busquedas</label> 
        </div>
     </ng-container> 

    <ng-container *ngIf="inSearch">

        <div class="search-area">
            <input type="text" class="search-bar" placeholder="Buscar.."/>
        </div>

        <ng-container  *ngFor = "let order of ordurs; index as i">

            <div class="order"> <!--*ngIf = "order.visible == true || search.value == ''"-->
                <app-item-list [itemListContent]="order" [marginTop]="'0px'"></app-item-list>
            </div>

        </ng-container>

    </ng-container>

    <ng-container *ngIf="!inSearch">
    <div class="tag-container">

        <div class="tag-search">
            <div style="display: flex; align-items: end;">
                <img [src]="imageFolder + '/Etiquetas_vacias.svg'" height="22.83px" width="22.83px" style="margin-right: 7px"/>
                <label for="Tagged" class="tagged">Tagged </label>
            </div>
            <img alt="" [src]="imageFolder + '/search.svg'" height="22.83px" width="22.83px" style="cursor: pointer; margin-right: 3px" (click)="searchToggling()"/>
        </div>

        <div class="tags-swiper">
            <app-swiper
             [tagsSquare]="true"
            ></app-swiper>
        </div>

    </div>
    

    <div *ngIf = "isLogged == true">

        <div class="orderSection">

            <div class="total-option">
                <label for="Total" class="total-sales">$4,775 Vendido</label>
                <div class="dot-trio" (click)="openDialog()">
                    <div class="dot"> </div>
                    <div class="dot"> </div>
                    <div class="dot"> </div>
                </div>
            </div>

            <ng-container  *ngFor = "let order of orders; index as i">

                <div class="order" *ngIf = "order.visible == true || search.value == ''">
                    <app-item-list [itemListContent]="order" [marginTop]="'0px'"></app-item-list>
                </div>

            </ng-container>

        </div>

    </div>
    </ng-container>
    
</div>