*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(180deg, #ffffff 0%, #f6f6f6 35%, #f6f6f6 100%);
    min-height: 100vh;
}

.topbar{
    width: 100%;
    height: 36px;
    background-color: #4773D8;
    display: flex;
    justify-content: flex-end;
    align-items: center;

        .left-side{
            font-family: 'RobotoBold';
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 9.12%;
            margin-right: 8.64%;
            cursor: pointer;
        }
        .line{
            height: 19px;
            width: 2.5px;
            color: #ffffff;
            margin: 6.7px 0 10.3px 0;
            background-color: #FFFFFF;
            border: 1px #FFFFFF; 
        }
        .right-side{
            font-family: 'RobotoBold';
            font-size: 14px;
            color: #FFFFFF;
            margin-left: 4.5px;
            margin-right: 7px;
            cursor: pointer;
        }
}

.changer{
    width: 100%;
    height: 36px;
    background-color: #4773D8;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-label{
        font-family: 'RobotoBold';
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.search-area{
    width: 100%;
    height: 126px;
    display: flex;
    justify-content: center;

    .search-bar{
        width: 90%;
        height: 60px;
        margin: 29px auto 37px;
        border: none;
        border-radius: 30px;
        text-indent: 25px;
        font-family: 'SfProSemibold';
        font-size: 17px;
        color: #0B1F38;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px 2px rgb(0 0 0 / 10%);

        &::placeholder{
            padding-left: 20px;
        }
    }
}

.optionsBar{
    width: 100%;
    height: 56px;
    background-color: rgb(39, 162, 255, 0.22);
    display: flex;
    padding: 0 19px;
    column-gap: 25px;
    align-items: flex-end;
}

.option{
    padding: 7.5px 0 5.5px 0;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    font-family: "RobotoMedium";
    font-size: 16px;
    color: #4773D8;
    background: transparent;
    transition: 0.2s;

    &.selected{
        padding: 7.5px 16px 5.5px 25px;
        background-color: #4773D8;
        color: #ffffff;
    }
}

.tag-container{
    width: 100%;
    height: 194px;
    background-color: #F6F6F6;

    .tag-search{
        margin: 0 20.5px 0 19px;
        padding-top: 21px;
        display: flex;
        justify-content: space-between;

        .tagged{
            margin-top: 23px;
            margin-left: 7px;
            font-family: 'RobotoRegular';
            font-size: 17px;
            color: #7B7B7B;
        }
    }

    .tags-swiper{
        margin: 18px 0 33px 19px;
        display: flex;
        column-gap: 12px;
        overflow-x: scroll !important;
    }
}

.orderSection{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 17px 0 0;

    .order{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.13) ;
    }

    .total-option{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 28px;
        padding-left: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .total-sales{
        font-family: 'RobotoBold';
        font-size: 20px;
        color: #7B7B7B;
    }

    .dot-trio{
        width: 23px;
        height: 5px;
        margin-top: 3px;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;

        .dot{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #27a2fc;
            margin-bottom: 3px;
        }
    }
}

.fieldContainer{
    margin-top: 40px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    overflow: scroll;
    overflow-y: hidden;
    font-family: "RobotoMedium";
    font-size: 15px;
    text-transform: uppercase;
    color: #27A2FF;
}

.filterSection{
    margin-top: 30px;
    margin-bottom: 46px;
  }
@media (max-width: 427px) {
    
    // .orderSection{
    //     margin-top: 50px;
    // }
    .optionsBar{height: 49px; column-gap: 22px;}

    .option{
        padding: 6.5px 0 4.5px 0; font-size: 14px;

        &.selected{padding: 6.5px 14px 4.5px 22px;}
    }
}
@media (max-width: 374px) {

    // .orderSection{
    //     margin-top: 40px;
    // }

    .optionsBar{height: 42px; column-gap: 19px;}
  
    .option{
          padding: 5.5px 0 3.5px 0; font-size: 12px;
  
          &.selected{padding: 5.5px 12px 3.5px 19px;}
      }
  }

@media only screen and (min-width: 365px) and (max-width: 390px){
    .topbar{

        .left-side{
            font-size: 13px !important;
        }

        .right-side{
            font-size: 13px !important;
        }
    }
}

@media only screen and (max-width: 364px) {

    .topbar{
        .left-side{
            font-size: 12px !important;
        }

        .right-side{
            font-size: 12px !important;
        }
    }
}

@media only screen and (max-width: 338px) {

    .topbar{
        .left-side{
            font-size: 11px !important;
        }

        .right-side{
            font-size: 11px !important;
        }
    }
}