.container {
    width: 100%;
	min-height: 100vh;
    .content {
        margin: 35px 30px;
    }
}

.label {
  font-family: "RobotoMedium";
  font-size: 16px;
  color: #7B7B7B;
  margin-bottom: 10px;
}