<div class="page-container">
  <header class="page-header">
    <button type="button">X</button>
    <p>www.floristerias.club ó WeDoWeLike</p>
  </header>
  <form class="page-form">
    <section class="form-group form-full">
      <p class="form-title">DATOS DE LA PERSONA QUE RECIBE LA FACTIRA</p>
      <div class="input-group">
        <label for="phone">Whatsapp:</label>
        <input
          type="phone"
          name="phone"
          id="phone"
          placeholder="(000) 000 - 0000"
        />
      </div>
      <div class="input-group">
        <label for="email">Correo:</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="correo@mail.com"
        />
      </div>
    </section>
    <section class="form-group form-optional">
      <p class="form-title">
        OPCIONAL- DATOS QUE LOS COMPRADORES CONSIDERAN IMPORTANTES
      </p>
      <div class="card-group">
        <div class="card">
          <p>Logo</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Nombre comercial</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>ID del comercio (Slug)</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Zonas de las entregas por delivery</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Lugar de las entregas por pick up</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Industria</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Métodos donde recibes los pagos de los compradores</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Cuentas sociales</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
      </div>
    </section>
    <section class="form-group form-optional-function">
      <p class="form-title">Funcionalidades opcionales</p>
      <div class="card">
        <p>Costos fijos para el control de beneficios</p>
        <button type="button">
          <img src="../../../../../assets/icons/add-button.svg" alt="" />
        </button>
      </div>
    </section>
  </form>
  <footer class="page-footer">
    <p>Empieza la Membresía del Club de Floristerías</p>
  </footer>
</div>
