<div class="page-container">
  <header class="page-header">
    <button type="button">
      <img src="../../../../../assets/icons/icon-close.svg" alt="">
    </button>
    <p>www.floristerias.club ó WeDoWeLike</p>
  </header>
  <form class="page-form">
    <section class="form-group form-full">
      <p class="form-title">DATOS LLENOS</p>
      <div class="input-group">
        <label for="phone"
          >WhatsApp que recibe las facturas de las órdenes</label
        >
        <input
          type="phone"
          name="phone"
          id="phone"
          placeholder="(000) 000 - 0000"
          pattern="^\(\d{3}\)\d{3}\d{4}$"
        />
      </div>
      <div class="input-group" *ngIf="email || email === ''">
        <label for="email"
          >Correo electrónico que recibe las facturas de la órdenes</label
        >
        <input
          type="email"
          name="email"
          id="email"
          placeholder="correo@mail.com"
          pattern="[\w\._]{5,30}\+?[\w]{0,10}@[\w\.\~]{3,}\.\w{2,5}"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-group" *ngIf="name || name === ''">
        <label for="name"
          >Nombre comercial</label
        >
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Nombre"
          [(ngModel)]="name"
        />
      </div>
      <div class="input-group" *ngIf="slug || slug === ''">
        <label for="slug"
          >ID del comercio (Slug)</label
        >
        <input
          type="text"
          name="slug"
          id="slug"
          placeholder="ID"
          [(ngModel)]="slug"
        />
      </div>
      <div class="input-group" *ngIf="image || image === ''">
        <label for="image"
          >Your logo image</label
        >
        <input
          type="file"
          [accept]="['.png', '.jpg', '.jpeg']"
          name="image"
          id="image"
          (change)="onFileUpload($event)"
        />
      </div>
    </section>
    <section class="form-group form-optional">
      <p class="form-title">
        OPCIONAL- DATOS QUE LOS COMPRADORES CONSIDERAN IMPORTANTES
      </p>
      <div class="card-group">
        <div class="card" *ngIf="image === null">
          <p>Logo</p>
          <button type="button" (click)="addField('image')">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card" *ngIf="name === null">
          <p>Nombre comercial</p>
          <button type="button" (click)="addField('name')">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card" *ngIf="slug === null">
          <p>ID del comercio (Slug)</p>
          <button type="button" (click)="addField('slug')">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Zonas de las entregas por delivery</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Lugar de las entregas por pick up</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Industria</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Métodos donde recibes los pagos de los compradores</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
        <div class="card">
          <p>Cuentas sociales</p>
          <button type="button">
            <img src="../../../../../assets/icons/add-button.svg" alt="" />
          </button>
        </div>
      </div>
    </section>
    <section class="form-group form-optional-function">
      <p class="form-title">FUNCIONALIDADES OPCIONALES</p>
      <div class="card">
        <p>Costos fijos para el control de beneficios</p>
        <button type="button">
          <img src="../../../../../assets/icons/add-button.svg" alt="" />
        </button>
      </div>
    </section>
  </form>
  <footer class="page-footer">
    <a (click)="save()"><p>Empieza la Membresía del Club de Floristerías</p></a>
  </footer>
</div>
