<div class="small-slider" *ngIf="small && swiperData">
  <div class="slider">
    <swiper class="swiper-container" [config]="MediumConfig">
      <div *ngFor="let slide of swiperData; let i = index" class="swiper-slide">
        <ng-container *ngIf="code">
          <ng-container *ngIf="slide.image; else noImage">
            <div
              class="slide-content"
              [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }"
              (click)="goToLink(slide.link)"
            ></div>
          </ng-container>
          <ng-template #noImage>
            <div class="slide-content"></div>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="bookmark">
          <ng-container *ngIf="slide.code.image; else noImage">
            <div
              class="slide-content"
              [ngStyle]="{
                'background-image': 'url(' + slide.code.image + ')'
              }"
              (click)="goToLink(slide.code.link)"
            ></div>
          </ng-container>
          <ng-template #noImage>
            <div
              class="slide-content"
              (click)="goToLink(slide.code.link)"
            ></div>
          </ng-template>
        </ng-container>
        <div class="slide-description">
          <ng-container *ngIf="code">
            <div class="slide-title" (click)="goToLink(slide.link)">
              {{ slide.keyword }}
              {{ slide.name }}
            </div>
          </ng-container>
          <ng-container *ngIf="uservouchers">
            <div class="slide-title" (click)="goToLink(slide.link)">
              {{ slide.gift.name }}
            </div>
          </ng-container>
          <ng-container *ngIf="bookmark">
            <div class="slide-title" (click)="goToLink(slide.code.link)">
              {{ slide.code.keyword }}
            </div>
          </ng-container>
          <div class="slide-subtitle"></div>
        </div>
      </div>
    </swiper>
  </div>
</div>

<div class="leadwords" *ngIf="leadwords">
  <div class="slider">
    <swiper [config]="LeadwordsConfig" class="swiper-container">
      <ng-container *ngFor="let data of swiperData; let i = index">
        <div class="lead-card">
          <div class="image"></div>
          <div class="text">Leadword</div>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>

<div class="leadwords" *ngIf="itemLibrary">
  <div class="slider">
    <swiper [config]="itemLibraryConfig" class="swiper-container">
      <!-- <ng-container *ngFor="let data of swiperData; let i = index">
        <div class="lead-card">
          <div class="image"></div>
          <div class="text">Leadword</div>
        </div>
      </ng-container> -->
      <ng-container *ngFor="let item of itemLibraryData">
        <app-leadword-item
          [title]="item.name"
          [subtitle]="item.ammount"
          [urlImage]="item.image"
          [alignTexts]="'left'"
          [imgBigVersion]="true"
          [caption]="item.description"
          (click)="goToGift(item._id)"
        ></app-leadword-item>
      </ng-container>
    </swiper>
  </div>
</div>

<div class="leadwords" *ngIf="singleItemCard">
  <div class="slider">
    <swiper [config]="singleItemCardConfig" class="swiper-container">
      <!-- <ng-container *ngFor="let data of swiperData; let i = index">
        <div class="lead-card">
          <div class="image"></div>
          <div class="text">Leadword</div>
        </div>
      </ng-container> -->
      <ng-container *ngFor="let item of itemCardData">
        <div
          class="card"
          style="
            border-radius: 10px;
            margin: 0;
            width: 100%;
            max-width: 360px;
            height: 300px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-size: cover;
          "
          [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
        ></div>
      </ng-container>
    </swiper>
  </div>
</div>

<div class="saleFlowItems" *ngIf="saleFlowItem">
  <div class="slider">
    <swiper
      [config]="saleFlowItemSwiperConfig"
      (slideChange)="getActive($event, headerservice.items)"
      class="swiper-container"
    >
      <app-long-card
        *ngFor="let entity of headerservice.items; index as i"
        [description]="entity.name"
        [imgURL]="entity.images[0]"
        [slideActive]="i"
        [id]="'img' + i"
      ></app-long-card>
    </swiper>
  </div>
</div>

<div class="packItems" *ngIf="packItems && headerservice.items[0].params">
  <div class="slider">
    <swiper
      [config]="saleFlowItemSwiperConfig"
      (slideChange)="getActive($event, headerservice.items[0].params)"
      class="swiper-container"
    >
      <!--<app-long-card *ngFor ="let pack of headerservice.items[0].params; index as i" [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
      <ng-container
        *ngFor="let pack of headerservice.items[0].params; let i = index"
      >
        <div class="swiper-slide">
          <!--<app-long-card [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
          <app-colored-card
            [description]="pack.values[0].name"
            [price]="pack.values[0].price"
            [name]="pack.name"
            [color]="color[i]"
            [id]="i"
            [notActive]="getPack(i)"
          ></app-colored-card>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>

<div class="clubsList" *ngIf="clubsList && swiperData">
  <div class="slider" [style.height]="'160px'">
    <swiper
      [config]="clubsListSwiperConfig"
      [id]="0"
      (slideChange)="getActive($event, swiperData)"
      class="swiper-container"
    >
      <!--<app-long-card *ngFor ="let pack of headerservice.items[0].params; index as i" [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
      <ng-container *ngFor="let item of swiperData; let i = index">
        <div class="swiper-slide not-overflow">
          <!--<app-long-card [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
          <app-colored-card
            [mode]="3"
            [name]="item.name"
            [image]="item.image"
            [notActive]="getPack1(i)"
          ></app-colored-card>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>

<div
  class="packItems"
  *ngIf="packItems1 && packageListData && packageListData.length > 0"
>
  <div class="slider" [style.height]="'290px'">
    <swiper
      [config]="saleFlowItemSwiperConfig"
      [id]="0"
      (slideChange)="getActive($event, packageListData)"
      class="swiper-container"
    >
      <!--<app-long-card *ngFor ="let pack of headerservice.items[0].params; index as i" [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
      <ng-container *ngFor="let pack of packageListData; let i = index">
        <div
          class="swiper-slide not-overflow"
          *ngIf="i <= packageListData.length - 1"
        >
          <!--<app-long-card [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
          <app-colored-card
            [mode]="2"
            [name]="pack.name"
            [onlyElement]="packageListData.length == 1"
            [image]="pack.images.length === 0 ? 'none' : pack.images[0]"
            [color]="color[i]"
            [id]="i"
            [notActive]="getPack1(i)"
          ></app-colored-card>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>

<div
  class="packItems"
  *ngIf="packItems1 && swiperData && packageListData.length === 0"
>
  <div class="slider" [style.height]="'290px'">
    <swiper
      [config]="saleFlowItemSwiperConfig"
      [id]="0"
      (slideChange)="getActive($event, swiperData)"
      class="swiper-container"
    >
      <!--<app-long-card *ngFor ="let pack of headerservice.items[0].params; index as i" [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
      <ng-container *ngFor="let pack of swiperData; let i = index">
        <div
          class="swiper-slide not-overflow"
          *ngIf="i <= swiperData.length - 1"
        >
          <!--<app-long-card [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
          <!-- [name]="pack.name" -->
          <app-colored-card
            [mode]="2"
            [onlyElement]="swiperData.length == 1"
            [image]="pack.images.length === 0 ? 'none' : pack.images[0]"
            [color]="color[i]"
            [id]="i"
            [notActive]="getPack1(i)"
          ></app-colored-card>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>

<div class="stages-slider" *ngIf="stages">
  <div class="slider">
    <swiper class="swiper-container" [config]="MediumConfig">
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="title">Epoca 1</div>
        </div>
        <div class="swiper-button">Pick</div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="title">Epoca 2</div>
        </div>
        <div class="swiper-button">Pick</div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="title">Epoca 3</div>
        </div>
        <div class="swiper-button">Pick</div>
      </div>
    </swiper>
  </div>
</div>

<div class="edit-slider" *ngIf="edit">
  <div class="slider">
    <swiper class="swiper-container" [config]="MediumConfig">
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="title">
            Recuerda y comparte las
            <br />
            épocas de tu vida.
          </div>
          <div class="info">
            Sesiones fotográficas con retoque profesional que perduran en el
            tiempo para Ti o para regalar.
          </div>
          <div class="images">
            <img src="{{ env }/cameraman.png" alt="" />
            <img src="{{ env }/ocr-1.png" alt="" />
          </div>
          <div class="info">
            Desde $1,500 DOP con 10 <br />
            retoques profesionales incluidos.
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="title">
            Recuerda y comparte las
            <br />
            épocas de tu vida.
          </div>
          <div class="info">
            Sesiones fotográficas con retoque profesional que perduran en el
            tiempo para Ti o para regalar.
          </div>
          <div class="images">
            <img src="{{ env }/cameraman.png" alt="" />
            <img src="{{ env }/ocr-1.png" alt="" />
          </div>
          <div class="info">
            Desde $1,500 DOP con 10 <br />
            retoques profesionales incluidos.
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="title">
            Recuerda y comparte las
            <br />
            épocas de tu vida.
          </div>
          <div class="info">
            Sesiones fotográficas con retoque profesional que perduran en el
            tiempo para Ti o para regalar.
          </div>
          <div class="images">
            <img src="{{ env }/cameraman.png" alt="" />
            <img src="{{ env }/ocr-1.png" alt="" />
          </div>
          <div class="info">
            Desde $1,500 DOP con 10 <br />
            retoques profesionales incluidos.
          </div>
        </div>
      </div>
    </swiper>
  </div>
</div>

<div class="rounded-slider" *ngIf="rounded">
  <div class="slider">
    <swiper class="swiper-container" [config]="RoundedConfig">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div class="slide-content"></div>
        <div class="slide-description">
          <div class="slide-title">Name ID</div>
          <div class="slide-subtitle">Status ID</div>
        </div>
      </div>
    </swiper>
  </div>
</div>
<div class="small-rounded-slider" *ngIf="smallrounded">
  <div class="slider">
    <swiper class="swiper-container" [config]="SmallRoundedConfig">
      <div class="swiper-wrapper">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div
          *ngFor="let slide of swiperData; let i = index"
          class="swiper-slide"
        >
          <div
            class="slide-content"
            (click)="redirect(i)"
            [ngStyle]="{
              'background-image': 'url(' + slide.destiny.owner.image + ')'
            }"
          ></div>
          <div class="slide-description">
            <div class="slide-title">
              <ng-container *ngIf="!slide.destiny.owner.name">
                User
              </ng-container>
              {{ slide.destiny.owner.name }}
            </div>
          </div>
        </div>
      </div>
    </swiper>
  </div>
</div>

<div class="medium-slider" *ngIf="medium">
  <div class="slider">
    <swiper class="swiper-container" [config]="MediumConfig">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div class="slide-content"></div>
        <div class="slide-description">
          <div class="slide-title">New Hashtag</div>
          <div class="slide-subtitle">Something ID</div>
        </div>
      </div>
    </swiper>
  </div>
</div>

<div class="large-slider" *ngIf="large">
  <div class="slider">
    <swiper class="swiper-container" [config]="LargeContainer">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div class="slide-content"></div>
      </div>
    </swiper>
  </div>
</div>

<div class="larger-slider" *ngIf="larger && swiperData">
  <div class="slider">
    <swiper class="swiper-container" [config]="LargeContainer">
      <div
        *ngFor="let slide of swiperData"
        class="swiper-slide"
        (click)="goToLink(slide.link)"
      >
        <ng-container *ngIf="slide.image; else noImage">
          <div
            class="slide-content"
            [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }"
          >
            <div class="bow">
              {{ slide.keyword }}
            </div>
          </div>
        </ng-container>
        <ng-template #noImage>
          <div class="slide-content">
            <div class="bow">
              {{ slide.keyword }}
            </div>
          </div>
        </ng-template>
      </div>
    </swiper>
  </div>
</div>

<div class="singleLarger-slider" *ngIf="singleLarger && swiperData">
  <div class="slider">
    <swiper class="swiper-container" [config]="LargerContainer">
      <div *ngFor="let slide of swiperData" class="swiper-slide">
        <div
          class="slide-content"
          [ngStyle]="{ 'background-image': 'url(' + slide + ')' }"
        ></div>
      </div>
    </swiper>
  </div>
</div>

<div class="singleLarger" *ngIf="productLarge && swiperData">
  <!--<div class="slider">
        <swiper class="swiper-container" [config]="productLargeOptions">
            <div *ngFor="let slide of swiperData" class="swiper-slide">
                <div class="slide-content" [ngStyle]="{'background-image': 'url(' + slide + ')'}">
                </div>
            </div>
        </swiper>
    </div>-->
  <!--<div class="slider">
        <swiper class="swiper-container" [config]="LargeContainer">
            <div class="swiper-wrapper">
                <div *ngFor="let slide of swiperData" class="swiper-slide">
                    <div class="slide-content" [ngStyle]="{'background-image': 'url(' + slide + ')'}">
                    </div>
                </div>
            </div>-
        </swiper>
    </div>-->
  <div class="slider">
    <swiper [config]="LargeContainer" class="swiper-container">
      <!--<app-long-card *ngFor ="let pack of headerservice.items[0].params; index as i" [description]="pack.values[0].name" [price]="pack.values[0].price" [slideActive] = "i" [id] = "'img' + i"></app-long-card>-->
      <ng-container *ngFor="let pack of swiperData; let i = index">
        <div class="swiper-slide">
          <div
            class="slide-content"
            [ngStyle]="{ 'background-image': 'url(' + pack + ')' }"
          ></div>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>

<div class="singleLarger-v2" *ngIf="productLarge1 && swiperData">
  <div class="slider">
    <swiper [config]="OtherLargeContainer" class="swiper-container">
      <ng-container *ngFor="let pack of swiperData; let i = index">
        <div class="swiper-slide">
          <div
            class="slide-content"
            [ngStyle]="
              !swiperData
                ? { 'background-color': '#868484' }
                : { 'background-image': 'url(' + pack + ')' }
            "
          ></div>
        </div>
      </ng-container>
    </swiper>
  </div>
</div>
<!-- <div class="singleLarger-v2" *ngIf="productLarge1 && !swiperData">
  <div class="slider">
    <swiper [config]="OtherLargeContainer" class="swiper-container">
      <ng-container *ngFor="let pack of swiperData; let i = index">
        <div class="swiper-slide">
          <div class="slide-content" [ngStyle]="slideNotLoaded"></div>
        </div>
      </ng-container>
    </swiper>
  </div>
</div> -->

<div
  class="calendar-slider"
  *ngIf="calendar && calendars.availableHours && calendars.showHours"
  [ngClass]="{ 'calendar1-slider': secondClass }"
>
  <div class="slider">
    <swiper
      class="swiper-container"
      [config]="CalendarConfig"
      (slideChange)="currentSlide($event, false, true)"
    >
      <ng-container
        *ngIf="
          calendars.dayIndex == 0 &&
            calendars.monthIndex == 0 &&
            calendars.canBeToday;
          else notToday
        "
      >
        <div
          *ngFor="
            let slide of calendars.todayHours;
            let i = index;
            let isLast = last
          "
          class="swiper-slide"
        >
          <ng-container *ngIf="calendar">
            <ng-container
              *ngIf="calendars.todayHours[i] == 'Dia Ocupado'; else available"
            >
              <div class="slide-content">
                <ng-container> Día Ocupado </ng-container>
              </div>
            </ng-container>
            <ng-template #available>
              <div class="slide-content">
                <ng-container
                  *ngIf="
                    calendars.todayHours[0] !== 'Día Ocupado';
                    else nonAvailable
                  "
                >
                  {{ zorroChange5(calendars.todayHours[i]) }}
                  <ng-container *ngIf="!secondClass">
                    <br />
                  </ng-container>
                  <ng-container *ngIf="!isLast; else notLast">
                    -
                    <!--{{calendars.allHours[i + 1]}}-->
                    {{ zorroChange6(calendars.todayHours[i]) }}
                  </ng-container>
                  <ng-template #notLast>
                    -
                    <!--{{calendars.lastHour}}-->
                    {{ zorroChange6(calendars.todayHours[i]) }}
                  </ng-template>
                </ng-container>
                <ng-template #nonAvailable>
                  -
                  <!--{{calendars.lastHour}}-->
                  {{ calendars.todayHours[i] }}
                </ng-template>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #notToday>
        <div
          *ngFor="
            let slide of calendars.hours;
            let i = index;
            let isLast = last
          "
          class="swiper-slide"
        >
          <ng-container *ngIf="calendar">
            <div class="slide-content">
              <ng-container
                *ngIf="calendars.hours[i] == 'No disponible'; else available"
              >
                <div class="slide-content">
                  <ng-container> No disponible </ng-container>
                </div>
              </ng-container>
              <ng-template #available>
                <div class="slide-content">
                  {{ zorroChange2(calendars.hours[i]) }}
                  <ng-container *ngIf="!secondClass">
                    <br />
                  </ng-container>
                  <ng-container *ngIf="!isLast; else notLast">
                    -
                    <!--{{calendars.allHours[i + 1]}}-->
                    {{ zorroChange(calendars.hours[i]) }}
                  </ng-container>
                  <ng-template #notLast>
                    -
                    <!--{{calendars.lastHour}}-->
                    {{ zorroChange(calendars.hours[i]) }}
                  </ng-template>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
<div
  class="days-slider"
  *ngIf="days && calendars.showDays"
  [ngClass]="{ 'days1-slider': secondClass }"
>
  <div class="slider">
    <swiper
      class="swiper-container"
      [config]="daysConfig"
      (slideChange)="currentSlide($event, true)"
    >
      <div
        *ngFor="
          let slide of calendars.months[calendars.monthIndex].dates;
          let i = index
        "
        class="swiper-slide"
      >
        <ng-container *ngIf="days">
          <div class="slide-content" id="months">
            <ng-container *ngIf="realIndex == i; else notActive">
              {{ slide.dayName }}
            </ng-container>
            <ng-template #notActive>
              {{ slide.dayName[0] }}{{ slide.dayName[1] }}
            </ng-template>
            <br />
            {{ slide.dayNumber }}
          </div>
        </ng-container>
      </div>
    </swiper>
  </div>
</div>

<div class="days2-slider" *ngIf="otherDays && calendars.showDays">
  <ng-container
    *ngIf="
      calendars.months[calendars.monthIndex].dates.length > 7;
      else lessDates
    "
  >
    <div class="slider">
      <swiper
        class="swiper-container"
        [config]="days2Config"
        (slideChange)="currentSlide($event, true)"
        (init)="setActive1($event)"
      >
        <div
          *ngFor="
            let slide of calendars.months[calendars.monthIndex].dates;
            let i = index
          "
          class="swiper-slide"
        >
          <ng-container *ngIf="otherDays">
            <div class="slide-content" id="months">
              <ng-container *ngIf="realIndex == i; else notActive">
                {{ slide.dayName[0] }}{{ slide.dayName[1]
                }}{{ slide.dayName[2] }}
              </ng-container>
              <ng-template #notActive>
                {{ slide.dayName[0] }}{{ slide.dayName[1]
                }}{{ slide.dayName[2] }}
              </ng-template>
              <br />
              {{ slide.dayNumber }}
            </div>
          </ng-container>
        </div>
      </swiper>
    </div>
  </ng-container>
  <ng-template #lessDates>
    <div class="slider">
      <swiper
        class="swiper-container"
        [config]="days3Config"
        (slideChange)="currentSlide($event, true)"
        (init)="setActive1($event)"
      >
        <div
          *ngFor="
            let slide of calendars.months[calendars.monthIndex].dates;
            let i = index
          "
          class="swiper-slide"
        >
          <ng-container *ngIf="otherDays">
            <div class="slide-content" id="months">
              <ng-container *ngIf="realIndex == i; else notActive">
                {{ slide.dayName[0] }}{{ slide.dayName[1]
                }}{{ slide.dayName[2] }}
              </ng-container>
              <ng-template #notActive>
                {{ slide.dayName[0] }}{{ slide.dayName[1]
                }}{{ slide.dayName[2] }}
              </ng-template>
              <br />
              {{ slide.dayNumber }}
            </div>
          </ng-container>
        </div>
      </swiper>
    </div>
  </ng-template>
</div>

<div
  class="months-slider"
  *ngIf="months"
  [ngClass]="{ 'months1-slider': secondClass }"
>
  <div class="slider">
    <swiper
      class="swiper-container"
      [config]="monthsConfig"
      (slideChange)="currentSlide($event)"
    >
      <div
        class="swiper-slide"
        *ngFor="let slide of calendars.months; let i = index"
      >
        <div class="slide-content">
          <ng-container *ngIf="realMonthIndex == i; else notActive">
            {{ slide.name }}
          </ng-container>
          <ng-template #notActive>
            {{ slide.name[0] }}{{ slide.name[1] }}{{ slide.name[2] }}
          </ng-template>
        </div>
      </div>
    </swiper>
  </div>
</div>

<div class="months2-slider" *ngIf="months2">
  <div class="slider">
    <swiper
      class="swiper-container"
      [config]="months2Config"
      (slideChange)="currentSlide($event)"
    >
      <div
        class="swiper-slide"
        *ngFor="let slide of calendars.months; let i = index"
      >
        <div class="slide-content">
          {{ slide.name[0] }}{{ slide.name[1].toUpperCase()
          }}{{ slide.name[2].toUpperCase() }}
        </div>
      </div>
    </swiper>
  </div>
</div>

<div class="months-slider" *ngIf="test">
  <div class="slider">
    <swiper
      class="swiper-container"
      [config]="CalendarConfig"
      (slideChange)="currentSlide($event)"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let slide of slides; let i = index">
          <div class="slide-content">
            {{ slide }}
          </div>
        </div>
      </div>
    </swiper>
  </div>
</div>
<div class="header-slider" *ngIf="header">
  <div class="slider">
    <swiper
      class="swiper-container"
      [config]="HeaderConfig"
      (slideChange)="vibrate()"
    >
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="slots">
            <img
              src="{{ env }/green-cart.png"
              alt=""
              class="icon"
            />
            Sell
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="icons">
            <img
              src="{{ env }/slot-money.png"
              alt=""
              class="icon"
            />
          </div>
          <div class="text">Get Paid.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="icons">
            <img
              src="{{ env }/slot-scissors.png"
              alt=""
              class="icon"
            />
          </div>
          <div class="text">Cut Expe.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="icons">
            <img
              src="{{ env }/slot-megaphone.png"
              alt=""
              class="icon"
            />
          </div>
          <div class="text">Megaph.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <div class="icons">
            <img
              src="{{ env }/slot-megaphone.png"
              alt=""
              class="icon"
            />
          </div>
          <div class="text">Megaph.</div>
        </div>
      </div>
    </swiper>
  </div>
</div>
<div class="options-slider" *ngIf="options">
  <div class="slider">
    <swiper class="swiper-container" [config]="OptionsConfig">
      <div class="swiper-slide" *ngFor="let type of types; let i = index">
        <ng-container>
          <div class="slide-content" (click)="setActive(i)">
            <div class="active-slide" *ngIf="this.type.active; else non_active">
              {{ type.name }}
            </div>
            <ng-template #non_active>
              {{ type.name }}
            </ng-template>
          </div>
        </ng-container>
      </div>
    </swiper>
  </div>
</div>

<!--Category-leadwords slider-->
<div class="medium-slider" *ngIf="leadItem">
  <div class="slider">
    <swiper class="swiper-container" [config]="leadConfig">
      <div class="swiper-slide">
        <div class="slide-content">
          <ng-container *ngFor="let item of leadItems; let i = index">
            <app-leadword-item
              [caption]="
                'Short description is gonna be here above the image and then we put 3 fro more…'
              "
              [title]="'NameID'"
              [subtitle]="'SomethingID'"
            ></app-leadword-item>
          </ng-container>
        </div>
      </div>
    </swiper>
  </div>
</div>
<!--Category-leadwords end-->

<div class="product-carousel" *ngIf="productCarousel && swiperData">
  <swiper id="swiperData.id" [config]="productCarouselConfig">
    <div class="swiper-slide" *ngFor="let img of swiperData.items; index as i">
      <div class="productBox" (click)="currentSlide2(swiperData)">
        <div
          class="imgBox"
          [ngStyle]="{
            background:
              ' #f5f5f5 url(' + img.urlImg + ') no-repeat  center/cover'
          }"
        ></div>
        <div class="title" *ngIf="img.title">{{ img.title }}</div>
      </div>
    </div>
  </swiper>
</div>

<div class="saleflow-item-two-wrapper" *ngIf="saleFlowTwo">
  <div class="saleflow-item-two">
    <swiper [config]="saleFlowTwoSwiperConfig">
      <div *ngFor="let item of saleFlowTwoData; let i = index" class="item">
        <app-saleflow-item
          [imgURL]="item.images"
          [isSelected]="item.selected"
          [priceAlign]="'start'"
          [type]="2"
          [isSelected]="item.isSelected"
          [selectable]="selectable"
          [price]="item.pricing"
          [showPrice]="showPrice"
          [description]="item.description"
          [showDescription]="showDescription"
          (itemClicked)="getActive2(i)"
          (changeSelection)="selectable && toggleSelected(i)"
        >
        </app-saleflow-item>
      </div>
    </swiper>
  </div>
</div>

<div class="fullScreenSwiper" *ngIf="fullScreenSwiper">
  <div class="shadowWrapper">
    <swiper [config]="saleFlowTwoSwiperConfig" (slideChange)="currentSlide3($event)">
      <div *ngFor="let item of saleFlowTwoData.images; let i = index" class="item" [ngStyle]="{ 'background-image': 'url(' + item + ')' }">
      </div>
    </swiper>
  </div>
  <div class="customPagination">
    <div class="price" style="position: absolute; left: 32px; bottom: -5px; color: #7b7b7b; font-family: 'Roboto'; font-size: 17px;">
      <ng-container *ngIf="saleFlowTwoData.pricing; else price">
        ${{saleFlowTwoData.pricing}}
      </ng-container>
      <ng-template #price>
        ${{saleFlowTwoData.price}}
      </ng-template>
    </div>
    <ng-container *ngIf="saleFlowTwoData.images.length > 1">
      <ng-container *ngFor="let item of saleFlowTwoData.images; let j = index">
        <div class="pageBall"  [ngStyle]="realIndex1 === j ? {'background-color': '#7b7b7b'} : {'background-color': '#a9a9a9'}">
  
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="text">
    {{saleFlowTwoData.description}}
  </div>
</div>
