.small-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    padding-top: 10px !important;
    & .swiper-slide {
      width: 124px !important;
      height: 168px !important;
      & .slide-content {
        background-color: #f3d4a8;
        // background-image: url(../../../../assets/images/hashtag-bee.png);
        background-size: cover;
        height: 109px;
        width: 100%;
        border-top-right-radius: 20px;
      }
      & .slide-description {
        background-color: #ffaa33;
        border-bottom-left-radius: 20px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        & .slide-title {
          font-family: "NunitoSans";
          font-size: 15px;
          color: black;
          font-weight: bold;
          text-align: center;
        }
        & .slide-subtitle {
          font-family: "NunitoSans";
          font-size: 15px;
          color: black;
          text-align: center;
        }
      }
    }
  }
}

.stages-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    padding-top: 10px !important;
    & .swiper-slide {
      width: 240px !important;
      height: 420px !important;
      & .slide-content {
        width: 240px !important;
        height: 360px !important;
        background-color: #e6e5f2;
        border-radius: 14px;
        box-shadow: 0px 10px 5px 0px rgba(211, 211, 211, 0.65);
        -webkit-box-shadow: 0px 10px 5px 0px rgba(211, 211, 211, 0.65);
        -moz-box-shadow: 0px 10px 5px 0px rgba(211, 211, 211, 0.65);
        & .title {
          padding-top: 20px;
          text-align: center;
          font-family: "ProDisplaySemiBold";
          font-size: 20px;
          color: #3e3e3e;
        }
      }
      & .swiper-button {
        display: block;
        margin: 0 auto;
        font-family: "ProDisplayRegular";
        font-size: 16px;
        color: #000000;
        text-align: center;
        padding: 8px;
        width: 80px;
        background-color: #e3e3e3;
        margin-top: 20px;
      }
    }
  }
}

.edit-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    padding-top: 10px !important;
    & .swiper-slide {
      width: 318px !important;
      height: 382px !important;
      & .slide-content {
        width: 100% !important;
        height: 370px !important;
        background-color: #e6e5f2;
        border-radius: 14px;
        box-shadow: 0px 10px 5px 0px rgba(211, 211, 211, 0.65);
        -webkit-box-shadow: 0px 10px 5px 0px rgba(211, 211, 211, 0.65);
        -moz-box-shadow: 0px 10px 5px 0px rgba(211, 211, 211, 0.65);
        & .title {
          padding-top: 20px;
          text-align: center;
          font-family: "ProDisplaySemiBold";
          font-size: 20px;
          color: #3e3e3e;
        }
        & .info {
          font-family: "ProDisplayRegular";
          font-family: 14px;
          text-align: center;
          color: #3e3e3e;
          padding-top: 20px;
        }
        & .images {
          display: flex;
          padding-top: 20px;
          & img {
            width: 50%;
          }
        }
        & .images {
          display: flex;
          padding-top: 20px;
          & img {
            width: 50%;
          }
        }
      }
      & .swiper-button {
        display: block;
        margin: 0 auto;
        font-family: "ProDisplayRegular";
        font-size: 16px;
        color: #000000;
        text-align: center;
        padding: 8px;
        width: 80px;
        background-color: #e3e3e3;
        margin-top: 20px;
      }
      & .swiper-button {
        display: block;
        margin: 0 auto;
        font-family: "ProDisplayRegular";
        font-size: 16px;
        color: #000000;
        text-align: center;
        padding: 8px;
        width: 80px;
        background-color: #e3e3e3;
        margin-top: 20px;
      }
    }
  }
}

/*.months-slider{
    & .slider{
        & .swiper-container{
            font-family: 'Graphik';
            font-size: 18px;
            & .swiper-slide{
                width: 110px !important;
                font-size: 15px;
                & .slide-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #707070;
                    opacity: 0.5;
                }
            }
            & .swiper-slide-active{
                width: 110px !important;
                font-size: 19px;
                & .slide-content{
                    color: #820AE8;
                    opacity: 1 !important;
                }
            }
            & .swiper-slide-next{
                width: 110px !important;
                font-size: 16px;
            }
            & .swiper-slide-prev{
                width: 110px !important;
                font-size: 16px;
            }
        }*/
/*@media (min-width: 425px) {
            .swiper-container{
                font-size: 23px;
                .swiper-slide{
                    width: auto !important;
                    .slide-content{
                        width: 20vw !important;
                    }
                }
            }
        }*/
/*@media (min-width: 500px) {
            .swiper-container{
                font-size: 23px;
                .swiper-slide{
                    width: 126px !important;
                    font-size: 17px !important;
                    .slide-content{
                    }
                }
                & .swiper-slide-active{
                    width: 126px !important;
                    font-size: 23px !important;
                    .slide-content{
                    }
                }
                & .swiper-slide-next{
                    width: 126px !important;
                    font-size: 18px !important;
                    .slide-content{
                    }
                }
                & .swiper-slide-prev{
                    width: 126px !important;
                    font-size: 18px !important;
                    .slide-content{
                    }
                }
            }
        }
    }
}*/

.months-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
    border-radius: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;

      & .swiper-slide {
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #393838;
          font-size: 17px;
          font-family: "SfProSemiBold";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
          box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 12px;
          color: #393838;
          font-size: 23px;
          font-family: "SfProSemiBold";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
  }
}

.months2-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;

      & .swiper-slide {
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #787878;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 12px;
          color: #0071e3;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
  }
}

.months1-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;

      & .swiper-slide {
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #393838;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          border-radius: 6px;
          //background-color: #7D6FE0;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 12px;
          color: white;
          font-size: 23px;
          font-family: "Graphik";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
  }
  @media (min-width: 359px) and (max-width: 499px) {
    .swiper-container {
      & .swiper-slide {
        & .slide-content {
          font-size: 13px !important;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          font-size: 15px !important;
        }
      }
    }
  }
}

.days-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;
      & .swiper-slide {
        //width: auto !important;
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          //width: 30vw !important;
          color: #393838;
          font-size: 17px;
          font-family: "SfProSemiBold";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          border-radius: 12px;
          color: #393838;
          font-size: 23px;
          font-family: "SfProSemiBold";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
    /*@media (min-width: 500px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              height: 48px;
            }
          }
        }
      }
      @media (max-width: 415px) {
        .swiper-container {
          .swiper-slide {
              width: auto !important;
              .slide-content {
                height: 42px;
                }
            }
            & .swiper-slide-active {
                & .slide-content {
                    height: 48px;
                }
              }
        }
      }
      @media (min-width: 425px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              width: 20vw !important;
            }
          }
          & .swiper-slide-active {
            & .slide-content {
              font-size: 20px !important;
            }
        }
        }
      }
      @media (min-width: 500px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              width: 130px !important;
            }
          }
        }
      }*/
  }
}

.days1-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;
      & .swiper-slide {
        //width: auto !important;
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          //width: 30vw !important;
          color: #393838;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          border-radius: 12px;
          color: white;
          font-size: 20px;
          font-family: "Graphik";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
    @media (min-width: 359px) and (max-width: 499px) {
      .swiper-container {
        & .swiper-slide {
          & .slide-content {
            font-size: 13px !important;
          }
        }
        & .swiper-slide-active {
          & .slide-content {
            font-size: 15px !important;
          }
        }
      }
    }
    /*@media (min-width: 500px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              height: 48px;
            }
          }
        }
      }
      @media (max-width: 415px) {
        .swiper-container {
          .swiper-slide {
              width: auto !important;
              .slide-content {
                height: 42px;
                }
            }
            & .swiper-slide-active {
                & .slide-content {
                    height: 48px;
                }
              }
        }
      }
      @media (min-width: 425px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              width: 20vw !important;
            }
          }
          & .swiper-slide-active {
            & .slide-content {
              font-size: 20px !important;
            }
        }
        }
      }
      @media (min-width: 500px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              width: 130px !important;
            }
          }
        }
      }*/
  }
}

.days2-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;
      & .swiper-slide {
        //width: auto !important;
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          //width: 30vw !important;
          color: #393838;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          border-radius: 12px;
          color: #0071e3;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
    @media (min-width: 359px) and (max-width: 499px) {
      .swiper-container {
        & .swiper-slide {
          & .slide-content {
            font-size: 13px !important;
          }
        }
        & .swiper-slide-active {
          & .slide-content {
            font-size: 15px !important;
          }
        }
      }
    }
    /*@media (min-width: 500px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              height: 48px;
            }
          }
        }
      }
      @media (max-width: 415px) {
        .swiper-container {
          .swiper-slide {
              width: auto !important;
              .slide-content {
                height: 42px;
                }
            }
            & .swiper-slide-active {
                & .slide-content {
                    height: 48px;
                }
              }
        }
      }
      @media (min-width: 425px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              width: 20vw !important;
            }
          }
          & .swiper-slide-active {
            & .slide-content {
              font-size: 20px !important;
            }
        }
        }
      }
      @media (min-width: 500px) {
        .swiper-container {
          font-size: 23px;
          .swiper-slide {
            width: auto !important;
            .slide-content {
              width: 130px !important;
            }
          }
        }
      }*/
  }
}

/*.days-slider{
    & .slider{
        & .swiper-container{
            font-family: 'Graphik';
            font-size: 18px;
            & .swiper-slide{
                width: 82px !important;
                font-size: 15px;
                & .slide-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #707070;
                    opacity: 0.5;
                }
            }
            & .swiper-slide-active{
                & .slide-content{
                    font-size: 18px !important;
                    color: #820AE8;
                    opacity: 1 !important;
                }
            }
        }
    }
    @media (min-width: 500px) {
        .swiper-container{
            font-size: 23px !important;
            .swiper-slide{
                font-size: 17px !important;
            }
            & .swiper-slide-active{
                & .slide-content{
                    font-size: 23px !important;
                    color: #820AE8;
                }
            }
            & .swiper-slide-next{
                font-size: 18px !important;
            }
            & .swiper-slide-prev{
                font-size: 18px !important;
            }
        }
    }
}*/

.header-slider {
  & .slider {
    background-color: white;
    padding-bottom: 20px;
    & .swiper-container {
      font-family: "Graphik";
      font-size: 18px;
      & .swiper-slide {
        width: 100px !important;
        & .slide-content {
          text-align: center;
          width: 28vw !important;
          color: #707070;
          & .slots {
            font-family: "ProDisplaySemiBold";
            background-color: #444444;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            color: #bff443;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            font-size: 17px;
            width: 100px;
            & img {
              margin-right: 8px;
            }
          }
          & .icons {
            margin-top: 5px;
            & img {
              height: 22px;
            }
          }
          & .text {
            font-family: "ProDisplaySemiBold";
            font-size: 14px;
            color: #878787;
          }
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          color: #820ae8;
        }
      }
    }
    @media (min-width: 425px) {
      .swiper-container {
        font-size: 23px;
        .swiper-slide {
          width: 100px !important;
          .slide-content {
            width: 100px !important;
          }
        }
      }
    }
  }
}

/*.calendar-slider{
    & .slider{
        & .swiper-container{
            font-family: 'Graphik';
            font-size: 14px;
            & .swiper-slide{
                width: auto !important;
                & .slide-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 25vw !important;
                    height: 52px !important;
                    color: #707070;
                    opacity: 0.5;
                }
            }
            & .swiper-slide-active{
                & .slide-content{
                    color: #820AE8;
                    font-size: 16px;
                    opacity: 1 !important;
                }
            }
        }
        @media (min-width: 425px) {
            .swiper-container{
                font-size: 19px;
                .swiper-slide{
                    width: auto !important;
                    .slide-content{
                        width: 20vw !important;
                    }
                }
                & .swiper-slide-active{
                    & .slide-content{
                        color: #820AE8;
                        font-size: 23px;
                    }
                }
            }
        }
        @media (min-width: 500px) {
            .swiper-container{
                font-size: 19px;
                .swiper-slide{
                    width: auto !important;
                    .slide-content{
                        width: 150px !important;
                    }
                }
                & .swiper-slide-active{
                    & .slide-content{
                        color: #820AE8;
                        font-size: 23px;
                    }
                }
            }
        }
    }
}*/

.calendar-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;
      & .swiper-slide {
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #393838;
          font-size: 17px;
          font-family: "SfProSemiBold";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          border-radius: 12px;
          color: #393838;
          font-size: 23px;
          font-family: "SfProSemiBold";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
  }
}

.calendar1-slider {
  & .slider {
    /*border: 1px solid #bdbdbd;
      border-radius: 7px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;*/
    & .swiper-container {
      // font-family: "Graphik";
      // font-size: 18px;
      & .swiper-slide {
        & .slide-content {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #393838;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 0.5;
          height: 48px;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          // color: #820ae8;
          /*border: 1px solid #007aff;
            box-shadow: 0 0 7px rgb(#007aff, 0.65);*/
          border-radius: 12px;
          color: white;
          font-size: 17px;
          font-family: "Graphik";
          opacity: 1;
          height: 48px;
          // padding-left:15px;
          // padding-right: 15px;
        }
      }
    }
  }
  @media (min-width: 359px) and (max-width: 499px) {
    .swiper-container {
      & .swiper-slide {
        & .slide-content {
          font-size: 13px !important;
        }
      }
      & .swiper-slide-active {
        & .slide-content {
          font-size: 15px !important;
        }
      }
    }
  }
}

.options-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    & .swiper-slide {
      width: auto !important;
      & .slide-content {
        width: 76px !important;
        font-size: 17px;
        text-align: center;
        color: black;
        font-family: "ProDisplaySemiBold";
        & .active-slide {
          font-family: "ProDisplaySemiBold";
          font-size: 17px;
          background-color: #444444;
          color: white;
          padding: 5px;
          border-bottom-left-radius: 14px;
          border-bottom-right-radius: 14px;
        }
      }
    }
  }
}
.product-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    & .swiper-scrollbar {
      height: 15px !important;
    }
    & .swiper-slide {
      width: 100vw !important;
      height: 40vh !important;
      & .slide-content {
        font-size: 17px;
        text-align: center;
        color: black;
        font-family: "ProDisplaySemiBold";
        background-color: red;
        height: 95% !important;
        width: 100% !important;
      }
    }
  }
  @media (min-width: 425px) {
    .swiper-container {
      .swiper-slide {
        height: 55vh !important;
      }
    }
  }
}

.rounded-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    padding-top: 10px !important;
    & .swiper-slide {
      width: 68px !important;
      & .slide-content {
        background-color: black;
        height: 68px;
        width: 100%;
        border-radius: 50%;
        margin-bottom: 20px;
      }
      & .slide-description {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        & .slide-title {
          font-family: "NunitoSans";
          font-size: 15px;
          color: black;
          font-weight: bold;
          text-align: center;
        }
        & .slide-subtitle {
          font-family: "NunitoSans";
          font-size: 15px;
          color: black;
          text-align: center;
        }
      }
    }
  }
}

.small-rounded-slider {
  .swiper-button-prev,
  .swiper-button-disabled,
  .swiper-button-hide {
    display: none !important;
    color: red !important;
  }
  .slider {
    .swiper-button-prev,
    .swiper-button-disabled,
    .swiper-button-hide {
      display: none !important;
      color: red !important;
    }
    .swiper-button-next {
      display: none !important;
      color: red;
    }
  }

  .swiper-container {
    padding-top: 10px !important;
    .swiper-button-prev,
    .swiper-button-disabled,
    .swiper-button-hide {
      display: none !important;
      color: red !important;
    }
    .swiper-button-next {
      display: none !important;
    }
    & .swiper-wrapper {
      .swiper-button-prev,
      .swiper-button-disabled,
      .swiper-button-hide {
        display: none !important;
        color: red !important;
      }
      .swiper-button-next {
        display: none !important;
      }
    }
    & .swiper-slide {
      width: 50px !important;
      margin-right: 14px;
      & .slide-content {
        background-color: rgb(15, 13, 13);
        height: 50px;
        width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
        background-size: cover;
      }
      & .slide-description {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        & .slide-title {
          font-family: "NunitoSans";
          font-size: 10px;
          color: black;
          text-align: center;
        }
      }
    }
  }
}

.medium-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    padding-top: 10px !important;
    & .swiper-slide {
      width: 124px !important;
      & .slide-content {
        background-color: black;
        height: 148px;
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 20px;
      }
      & .slide-description {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        & .slide-title {
          font-family: "NunitoSans";
          font-size: 15px;
          color: black;
          font-weight: bold;
        }
        & .slide-subtitle {
          font-family: "NunitoSans";
          font-size: 15px;
          color: black;
        }
      }
    }
  }
}

.packItems {
  & .slider {
    & .swiper-slide {
      width: 242px !important;
      height: 80% !important;
    }
    & .swiper-slide-active {
      width: 242px !important;
    }
  }
}

.clubsList {
  & .slider {
    & .swiper-slide {
      width: 100px !important;
      height: 93px !important;
    }
    & .swiper-slide-active {
      width: 100px !important;
    }
  }
}

.large-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    width: 100%;
    & .swiper-slide {
      width: 291px !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: white;
      & .slide-content {
        background-color: black;
        height: 158px;
        width: 291px;
        border-radius: 10px;
        position: relative;
        & .store-image {
          height: 50px;
          width: 50px;
          background-color: red;
          border-radius: 50%;
          position: absolute;
          margin-top: 166px;
          margin-left: 12px;
          z-index: 900;
        }
        & .bow {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 35px;
          background-color: #034f77;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 8px;
          text-align: end;
          color: white;
          font-size: 14px;
          font-family: "AvenirMedium";
        }
      }
      & .slide-sub-container {
        margin-top: 20px;
        font-family: "AvenirDemiBold";
        font-size: 16px;
        color: #034f77;
        text-align: center;
      }
    }
  }
}

.larger-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    width: 100%;
    & .swiper-slide {
      width: 288px !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: white;
      & .slide-content {
        background-color: #f3d4a8;
        // background-image: url(../../../../assets/images/hashtag-bee.png);
        background-size: contain;
        height: 305px;
        width: 288px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        & .store-image {
          height: 50px;
          width: 50px;
          background-color: red;
          border-radius: 50%;
          position: absolute;
          margin-top: 166px;
          margin-left: 12px;
          z-index: 900;
        }
        & .bow {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 51px;
          background-color: #ffaa33;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 15px;
          text-align: center;
          color: black;
          font-size: 14px;
          font-family: "AvenirMedium";
        }
      }
      & .slide-sub-container {
        margin-top: 20px;
        font-family: "AvenirDemiBold";
        font-size: 16px;
        color: #034f77;
        text-align: center;
      }
    }
  }
}

.larger-slider {
  .slider {
    //width: 100%;
  }

  .swiper-container {
    width: 100%;
    & .swiper-slide {
      width: 288px !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: white;
      & .slide-content {
        background-color: #f3d4a8;
        // background-image: url(../../../../assets/images/hashtag-bee.png);
        background-size: contain;
        height: 305px;
        width: 288px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        & .store-image {
          height: 50px;
          width: 50px;
          background-color: red;
          border-radius: 50%;
          position: absolute;
          margin-top: 166px;
          margin-left: 12px;
          z-index: 900;
        }
        & .bow {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 51px;
          background-color: #ffaa33;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 15px;
          text-align: center;
          color: black;
          font-size: 14px;
          font-family: "AvenirMedium";
        }
      }
      & .slide-sub-container {
        margin-top: 20px;
        font-family: "AvenirDemiBold";
        font-size: 16px;
        color: #034f77;
        text-align: center;
      }
    }
  }
}

.singleLarger-v2 {
  .slider {
    //width: 100%;
  }
  .swiper-container {
    width: 100%;
    & .swiper-slide {
      height: 375px !important;
      width: 375px !important;
      margin: 0 auto !important;
      .slideNotLoaded {
        background-color: #868484;
        height: 365px;
        width: 100%;
      }
      & .slide-content {
        background-color: #868484;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 365px;
        width: 100%;
        position: relative;
        & .store-image {
          height: 50px;
          width: 50px;
          background-color: red;
          border-radius: 50%;
          position: absolute;
          margin-top: 166px;
          margin-left: 12px;
          z-index: 900;
        }
      }
    }
  }
}

.leadwords {
  .slider {
    .swiper-container {
      width: 100%;
      & .lead-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100px;
        & .image{
          height: 100px;
          width: 93px;
          background-color: #7B7B7B;
          border-radius: 10px;
          margin: 0 auto;
          margin-bottom: 12px;
        }
        & .text{
          text-align: center;
          font-family: "RobotoMedium";
          font-size: 17px;
          color: #0B1F38;
        }
      }
    }
  }
}

.saleflow-item-two-wrapper {
  .saleflow-item-two {
      padding-left: 1.19rem;
      padding-right: 1.19rem;
    .item {
      max-width: 227px !important;
    }
  }
}

.product-carousel {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  height: 138px;
  .swiper-slide {
    min-width: fit-content;
    .productBox {
      width: 88px;
      margin: auto;
      margin-top: 15px;

      .imgBox {
        width: 100%;
        height: 79px;
        opacity: 0.56;
        border-radius: 13px;
      }
      .title {
        padding-top: 6px;
        font-family: "RobotoLight";
        font-size: 12px;
        color: #393939;
        text-align: center;
      }
    }
    &.swiper-slide-active {
      .productBox {
        width: 122px;
        margin-top: 0;

        .imgBox {
          height: 109px;
          opacity: 1;
          transition: all linear 0.1s 0.2s;
        }
        .title {
          padding-top: 9px;
          font-size: 16px;
        }
      }
    }
  }
}

.fullScreenSwiper{
  position: relative;
  font-family: 'Roboto';
  padding-bottom: 39px;
  background-color: white;
  & .shadowWrapper{
    box-shadow: 0px 15px 18px -6px #cccccc70;
    -webkit-box-shadow: 0px 15px 18px -6px #cccccc70;
    -moz-box-shadow: 0px 15px 18px -6px #cccccc70;
  }
  & .item{
    height: 300px;
    width: 100%;
    max-width: 500px;
    padding-bottom: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  & .customPagination{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 10px;
    display: flex;
    gap: 10px;
    margin-top: 27px;
    justify-content: center;
    margin-bottom: 36px;
    &.price{
      position: absolute;
      bottom: 0;
    }
    & .pageBall{
      height: 10px;
      width: 10px;
      border-radius: 100%;
    }
  }
  .text{
    padding-left: 28px;
    padding-right: 28px;
    font-size: 17px;
    color: #272727;
  }
}
@media (max-width: 427px) {
  .product-carousel {
    height: 121px;
    .swiper-slide {
      .productBox {
        width: 77px;
        margin-top: 12px;

        .imgBox {
          height: 69px;
          border-radius: 11.39px;
        }
        .title {
          padding-top: 4px;
          font-size: 12px;
        }
      }
      &.swiper-slide-active {
        .productBox {
          width: 106px;

          .imgBox {
            height: 95px;
          }
          .title {
            padding-top: 7px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .product-carousel {
    height: 105px;
    .swiper-slide {
      .productBox {
        width: 65px;
        margin-top: 11px;

        .imgBox {
          height: 59px;
          border-radius: 11.39px;
        }
        .title {
          padding-top: 3px;
          font-size: 10px;
        }
      }
      &.swiper-slide-active {
        .productBox {
          width: 91px;

          .imgBox {
            height: 81px;
          }
          .title {
            padding-top: 6px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.not-overflow {
  overflow: visible !important;
}

.imgPlaceholder {
  background-color: #777474;
  width: 100%;
  height: 100%;
}