<<<<<<< HEAD
.page {
  min-height: 100vh;
  background-color: #f2f2f2;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    background-color: white;
  }

  .content {
    padding: 40px 19.5px 15px 15px;
  }

  .top-area {
    background-color: white;
    border: none;
    border-radius: 15px;
    height: 217.01px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 11px -5px lightslategray inset;
    padding: 32px 34.5px 23px 20px;
    margin-top: 11px;

    textarea {
      border: none;
      border-radius: 10px;
      margin-bottom: 68px;
      resize: none;
      height: 136px;
      margin: 0px;
      font-family: RobotoMedium;
      color: black;
      font-size: 20px;
    }

    .from-flex {
      display: flex;
      align-items: flex-end;

      label {
        font-family: RobotoMedium;
        color: black;
        font-size: 20px;
        margin: 0px;
        width: 33.92%;
      }

      input {
        border: none;
        font-family: RobotoMedium;
        color: black;
        font-size: 20px;
        width: calc(100% - 33.92%);
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 64px;

    input {
      padding: 28px 20px;
      font-family: RobotoMedium;
      color: black;
      font-size: 20px;
      box-shadow: 0px 4px 11px -5px lightslategray inset;
      border: none;
      border-radius: 10px;
    }
  }

  label {
    color: #7b7b7b;
    font-family: RobotoMedium;
    font-size: 17px;
    margin-bottom: 11px;
  }
}
=======
// :host ::ng-deep .loquesea {
//   background-color: red;
//   color: blue;
//   border: none;
// }
>>>>>>> staging-v3
