<div class="body">
    <div style="display: flex; justify-content: space-between"> 

        <div class="headline-wrapper">
            <h1 class="headline" [ngStyle]="{
                'font-family': headline?.fontFamily? headline.fontFamily : '',
                'font-size': headline?.fontSize? headline.fontSize : '', 
                'color': headline?.color? headline.color : ''}"
                >{{headline.text}}</h1>
                
            <div style="display: flex;" *ngIf="subheadlines">
                <p class="subheadline" *ngFor="let subheadline of subheadlines; index as i" [ngStyle]="{
                    'font-family': subheadline?.fontFamily? subheadline.fontFamily : '',
                    'font-size': subheadline?.fontSize? subheadline.fontSize : '', 
                    'color':  subheadline?.color?  subheadline.color : '',
                    'margin-right': '21px',
                    'text-transform': 'capitalize'}" 
                >{{subheadline.text}}</p>
            </div>
    </div>

    <div class="right-wrapper" *ngIf="rightActive">
        <div style="display: flex;" *ngIf="icon">
            <img *ngFor="let item of icon; index as i" [src]="env + item?.src" [alt]="item?.alt" [ngStyle]="{
                'filter': item?.color? item.color : '',
            'width.px': item?.width? item.width : '',
            'height.px': item?.height? item.height : '',
            margin: '3px 0 0 31px'}">
        </div>
        
        <h2 class="right-subheadline" *ngIf="rightSubHeadline" [ngStyle]="{
            'font-family': rightSubHeadline?.fontFamily? rightSubHeadline.fontFamily : '',
            'font-size': rightSubHeadline?.fontSize? rightSubHeadline.fontSize : '', 
            'color': rightSubHeadline?.color? rightSubHeadline.color : ''}"
            >{{rightSubHeadline.text}}</h2>
        </div>
    </div>

    <hr class="divider first" *ngIf="tagActive && tag">

    <div class="tags-area" *ngIf="tagActive && tag">
        <div class="tags-headline">
            <h3 class="tags-title">{{tag.title.text}}</h3>
            <img [src]="env + tag.icon.src" [alt]="tag.icon.alt" [ngStyle]="{'width.px': tag.icon.width, 'height.px': tag.icon.height, cursor: 'pointer'}">
        </div>

        <div class="tags-displayer">
            <p class="tag-text" *ngFor="let text of tag.tags; index as i">#{{text.name}} <img [src]="env + text.icon.src" [alt]="text.icon.alt" width="11px" height="11px" *ngIf="text.icon" [style.margin-left]="'3px'"></p>
        </div>
    </div>
        
    <hr class="separator" *ngIf="content">

    <div class="content" *ngIf="content"> 

        <h3 class="title" *ngIf="content?.title">{{content.title?.text}}</h3>

        <div class="content-images" *ngIf="content.images">
            <img *ngFor="let image of content.images" [src]="image" alt="Imagen del producto" class="product-image">
        </div>
    </div>
    
    <hr class="divider" *ngIf="ctaText">

    <div class="bottomText" *ngIf="ctaText">

        <button class="display" *ngIf="ctaText?.text" (click)="ctaText.text.callback()" [ngStyle]="{
          'font-size': ctaText.text.fontSize? ctaText.text.fontSize : '',
          'font-family': ctaText.text.fontFamily? ctaText.text.fontFamily : '',
          'color': ctaText.text.color? ctaText.text.color : '',
          'cursor': ctaText.text.pointer? 'pointer' : ''
        }">{{ctaText.text.text}}
        <span *ngIf="!ctaText.showEntry && ctaText.arrow" style="margin-left: 11px; height: 14px;"><i class="fas fa-chevron-right"></i></span>
        <span *ngIf="ctaText.showEntry && ctaText.arrow" style="margin-left: 11px; height: 14px;"><i class="fas fa-chevron-down"></i></span>
        </button>
    </div>

</div>
