<div class="body" [ngStyle]="customStyles?.wrapper">
    <div class="profile-name" [ngStyle]="customStyles?.leftInnerWrapper">
        <div class="profile-purple" [ngStyle]="customStyles?.pictureWrapper">
            <img *ngIf="profileImage else placeholder" [src]="profileImage" alt="profile-image"
                class="image-profile">
            <ng-template #placeholder>
                <div class="placeholder"></div>
            </ng-template>
            <div class="purple" *ngIf="starsAmount">
                <label for="Cantidad de popularidad" class="stars-amount">{{starsAmount}}</label>
                <img [src]="env + '/star.svg'" alt="" width="13.75px" height="13.02px">
            </div>
        </div>

        <div class="content" *ngIf="mode !== 'expanded'" [ngClass]="{simple: simple}" [ngStyle]="customStyles?.infoWrapper">
            <div class="main">
                <ng-container *ngIf="!reverseInfoOrder">
                    <h2 class="header-name" [ngStyle]="customStyles?.title">
                        {{simple ? description : title}}
                    </h2>
                    <p class="header-desc" [ngStyle]="customStyles?.subtitle">
                        {{simple ? title : description}} <span [ngStyle]="{ 'color': featuredText.styles, 'cursor': 'pointer', 'font-weight': 'bold' }" (click)="triggerFeaturedText()" *ngIf="featuredText">{{ featuredText.text }}</span>
                    </p>
                </ng-container>
    
                <ng-container *ngIf="reverseInfoOrder">
                    <p class="header-desc" [ngStyle]="customStyles?.subtitle">
                        {{simple ? description : title}}
                    </p>
                    <h2 class="header-name" [ngStyle]="customStyles?.title">
                        {{simple ? title : description}}
                    </h2>
                </ng-container>
                <p class="header-desc" *ngIf="!simple && description2">{{description2}}</p>
            </div>
            <div class="more-info-button" *ngIf="socials?.length">
                <span (click)="openDialog()">
                    <img class="blue" [src]="env + '/person.svg'" alt="more-info" width="15" height="19">
                </span>
            </div>
        </div>
        <div class="content expanded" *ngIf="mode === 'expanded'">
            <div class="main">
                <div>
                    <div class="header-name">
                        <span class="title">{{title}}</span>
                        <span class="type" *ngIf="merchant">, TIENDA</span>
                    </div>
                    <p class="header-desc">
                        {{description}}
                    </p>
                </div>
                <div class="space-between">
                    <button class="contact-btn" (click)="showMore = !showMore">
                        CONTACTO
                        <svg *ngIf="!showMore" xmlns="http://www.w3.org/2000/svg" width="9" height="11" viewBox="0 0 9 11">
                            <path id="Polygon_3" data-name="Polygon 3" d="M5.5,0,11,9H0Z" transform="translate(9) rotate(90)" fill="#7b7b7b"/>
                        </svg>
                        <svg *ngIf="showMore" xmlns="http://www.w3.org/2000/svg" width="11" height="9" viewBox="0 0 11 9">
                            <path id="Polygon_3" data-name="Polygon 3" d="M5.5,0,11,9H0Z" transform="translate(11 9) rotate(180)" fill="#7b7b7b"/>
                        </svg>
                    </button>
                    <button class="save-btn" *ngIf="showMore && !admin">SALVALO <img [src]="env + '/contact-save.svg'" alt="Save contact" width="27" height="24"></button>
                    <a (click)="redirect()" class="save-btn" *ngIf="showMore && admin">EDIT</a>
                </div>
            </div>
            <div class="more-info-button" *ngIf="socials?.length && mode !== 'expanded'">
                <span (click)="openDialog()">
                    <img class="blue" [src]="env + '/person.svg'" alt="more-info" width="15" height="19">
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="showMore" class="contact-info">
        <div class="info space-between">
            <div class="buttons">
                <a class="dollar-btn">$</a>
                <ng-container *ngFor="let social of socials">
                    <a *ngIf="social.name === 'location'" [href]="social.url" target="_blank"><img class="blue" [src]="env + '/location123.svg'" alt="location" width="21" height="26"></a>
                    <a *ngIf="social.name === 'email'" href="mailto:{{social.url}}"><img class="blue" [src]="env + '/send.svg'" alt="email" width="26" height="26"></a>
                    <a *ngIf="social.name === 'phone'" href="tel:+{{social.url}}"><img class="blue" [src]="env + '/telephone.svg'" alt="call" width="26" height="26"></a>
                </ng-container>
            </div>
            <ng-container *ngFor="let social of socials">
                <a class="wa-btn" target="_blank" *ngIf="social.name === 'phone' && social.url" [href]="'https://wa.me/'+social.url.replace(regex,'')+'?text=Hola%20'+title">
                    SALUDANOS
                    <img [src]="env + '/whatsapp-white.svg'" alt="call" width="20" height="20">
                </a>
            </ng-container>
        </div>
        <div class="socials" *ngIf="hasSocials">
            <h6>Cuentas sociales</h6>
            <div class="space-between">
                <ng-container *ngFor="let social of socials">
                    <a *ngIf="
                        social.name === 'linkedin' ||
                        social.name === 'twitter' ||
                        social.name === 'instagram' ||
                        social.name === 'tiktok' ||
                        social.name === 'web'"
                        [href]="social.url"
                    >
                        <img *ngIf="social.name === 'linkedin'" [src]="env + '/linkedin.svg'" alt="linkedin" width="28" height="26">
                        <img *ngIf="social.name === 'twitter'" [src]="env + '/twitter.svg'" alt="twitter" width="32" height="26">
                        <img *ngIf="social.name === 'instagram'" class="blue" [src]="env + '/instagram.svg'" alt="instagram" width="26" height="26">
                        <img *ngIf="social.name === 'tiktok'" [src]="env + '/tiktok.svg'" alt="tiktok" width="23" height="26">
                        <img *ngIf="social.name === 'web'" [src]="env + '/planet.svg'" alt="website" width="26" height="26">
                </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>