button {
    all: unset;
    cursor: pointer;
}

.body{
    padding: 20px;
    
    .profile-name{
        display: flex;

        .profile-purple{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 101px;
            height: 101px;

            .image-profile{
                border-radius: 50%;
                width: 101px;
                height: 101px;
                box-shadow: 0px 3px 5px #dddddd;
            }

            .placeholder {
                border-radius: 50%;
                width: 101px;
                height: 101px;
                background-color: #AFAFAF;
            }

            .purple{
                width: 79px;
                padding: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #8351FE;
                border-radius: 9px;
                position: absolute;
                bottom: 0;
                box-shadow: 0px 0 6px 3px rgb(0 0 0 / 15%);

                .stars-amount{
                    font-family: 'RobotoBlack';
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
        }

        .content {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-left: 15px;

            .main {
                display: flex;
                flex-direction: column;
                
                .header-name{
                    font-family: 'RobotoBold';
                    font-size: 25px;
                    color: #202020;
                    margin: 0;
                }
    
                .header-desc{
                    font-family: 'RobotoRegular';
                    font-size: 16px;
                    margin: 0;
                    margin-left: 3px;
                    margin-bottom: 3px;
                    color: #141414;
                    opacity: 0.64;
                    max-height: 58px;
                }
    
                &.simple{
                    flex-direction: column-reverse;
                    justify-content: center;                             
                }
            }
        }

        .expanded {
            width: 100%;
            .main {
                width: 100%;
                justify-content: space-between;
                .header-name {
                    color: #4F4F4F;
                    .title {
                        font-family: 'SfProMedium';
                        font-size: 19px;
                    }
                    .type {
                        font-family: "SfProLight";
                        font-size: 17px;
                    }
                }
                .header-desc {
                    font-family: "SfProLight";
                }
                .contact-btn {
                    font-family: "SfProLight";
                    font-size: 14px;
                    color: #7B7B7B;

                    &:hover {
                        color: #9e9e9e;
                    }
                }
                .save-btn {
                    font-family: "SfProLight";
                    font-size: 14px;
                    color: #2874AD;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;

                    &:hover {
                        color: #4095d6;

                        img {
                            filter: brightness(0) saturate(100%) invert(54%) sepia(16%) saturate(1834%) hue-rotate(164deg) brightness(95%) contrast(91%);
                        }
                    }
                }
            }
        }
    }

    .more-info-button {
        span {
            padding: 10px 12px;
            cursor: pointer;
            border-radius: 999px;
            &:hover {
                background-color: #e2e2e2;
            }
        }
    }
}

.contact-info {
    margin-top: 20px;

    .info {
        padding-bottom: 20px;
    }

    .buttons {
        display: flex;
        gap: 20px;

        a {
            display: flex;
            align-items: center;
            padding: 1px 12px;
            border-radius: 999px;

            &:hover {
                background-color: #dcecbd;
            }
        }

    }
    
    .dollar-btn {
        font-family: "SfProMedium";
        font-size: 31px;
        color: #2874AD;
        cursor: pointer;
    }
    .wa-btn {
        background-color: #62AC4B;
        font-family: "RobotoMedium";
        color: #ffffff;
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 12px 16px;
        border-radius: 26px;
        text-decoration: none;

        &:hover {
            background-color: #67b450;
        }
    }
    

    .socials {
        border-top: solid 1px #CBD1C0;
        padding-top: 20px;

        h6 {
            margin: 0 0 24px 0;
            font-family: "SfProMedium";
            font-size: 14px;
            color: #4F4F4F;
        }

        a {
            padding: 10px 10px;
            border-radius: 999px;

            &:hover {
                background-color: #dcecbd;
            }
        }
    }
    .blue {
        filter: brightness(0) saturate(100%) invert(37%) sepia(89%) saturate(454%) hue-rotate(163deg) brightness(90%) contrast(89%);
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}