<div style="min-height: 100vh;">
  <app-helper-headerv2
    [mode]="'basic'"
    [returnAble]="true"
    [icons]="[
      {
        src: '/upload.svg',
        callback: onShareClick,
        color: 'brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(12%) hue-rotate(346deg) brightness(104%) contrast(102%)'
      },
      {
        src: '/pencil.svg',
        callback: onPencilClick,
        color: 'brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(12%) hue-rotate(346deg) brightness(104%) contrast(102%)'
      }
    ]"
  ></app-helper-headerv2>
  <div class="header" *ngIf="webform">
    <div
      class="header-image"
      [ngStyle]="{backgroundImage: 'url(' + webform.image + ')'}"
      [ngClass]="{'placeholder': !webform.image}"
    ></div>
    <h5>{{webform.name}}</h5>
    <p>{{webform.description}}</p>
  </div>
  <div class="section">
    <app-slider-element-list
      headline="TAGS DE VISITANTES"
      [topButton]="{
        text: 'VER',
        color: '#2874AD'
      }"
      [data]="tags"
    ></app-slider-element-list>
  </div>
  <div class="section" *ngFor="let item of ['','']">
    <app-question-item
      headline="Pregunta ID"
      [total]="28"
      [data]="questions"
    ></app-question-item>
  </div>
</div>
<app-sticky-button
  mode="basic"
  text="28 VISITANTES EN TOTAL"
  [backButton]="true"
  bgColor="#2874AD"
></app-sticky-button>