.input-container {
  height: 200px;
  width: 250px;

  &.small {
    height: 85px;
    width: 100px !important;
  }
}

.d-none {
  display: none;
}

.showAddBtn {
  display: flex;

  .swiper-component-flex-wrapper {
    flex-basis: 87%;
    overflow: hidden;
  }

  .add-btn-wrapper {
    align-items: center;
    display: flex;
    flex-basis: 13%;
    justify-content: center;
    position: relative;

    button {
      background-color: limegreen;
      background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/plus.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
      box-shadow: 0px 2px 5px lightslategray;
      border: none;
      border-radius: 50%;
      height: 30px;
      position: absolute;
      top: 40px;
      width: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.file {
  align-items: center;
  background: #fff;
  background-size: cover;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 15px 36px -28px inset;
  color: #d0d0d0;
  cursor: pointer;
  display: flex;
  font-family: RobotoMedium;
  font-size: 17px;
  justify-content: center;
  text-align: center;

  &.circleInput {
    border: none;
    border-radius: 50%;
    box-shadow: "0px 5px 7px 0px inset";
    height: 66px;
    width: 66px;
  }

  .selected {
    border: none;
  }

  &.error {
    border-color: red;
    color: red;
  }

  &.small {
    font-size: 16px;
    height: 85px;
    width: 100px;
  }
}

.delete-btn {
  background-color: #fbb;
  background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 50%;
  box-shadow: 0px 2px 5px lightgray;
  color: red;
  cursor: pointer;
  font-family: SfProLight;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  &:hover {
    background-color: "#F99";
    box-shadow: 0px 2px 5px darkgray;
    color: darkred;
    transform: translateY(-5px);
  }

  &:active {
    box-shadow: 0px 2px 5px darkgray, 0px 0px 5px inset orangered;
  }
}

.fa-image {
  font-size: 3.75rem;

  &.small {
    font-size: 2rem;
  }
}
