<div class="container">
  <div class="flex-space-between">
    <mat-icon class="back-icon">chevron_left</mat-icon>
    <div class="continue-text">Continuar</div>
  </div>
  <div class="input-container">
    <p>Escribe el WhatsApp o correo electróncio que recibirá la factura:</p>
    <input placeholder="Escribe.." />
  </div>
  <div class="input-container input-container-margin">
    <p>¿Cómo se llama este nuevo comprador?</p>
    <input placeholder="Escribe.." />
  </div>
  <div class="option-buttons-container">
    <div class="option-button option-button-selected">No puede comprar a crédito</div>

    <div class="option-button">Si puede comprar a crédito</div>
  </div>
</div>
