<div
  *ngIf="isPreview !== true"
  class="container"
  [ngStyle]="{ background: background }"
>
  <p class="top-text">¿Qué mensaje escribiremos?</p>
  <div class="text-container">
    <input
      *ngFor="let controller of controllers.controls"
      placeholder="Escribe el mensaje de aprecio…"
      class="message"
      [formControl]="controller"
    />
    <div class="plus">+</div>
  </div>
  <div class="target">
    <p class="input-texts">¿Para quién es?</p>
    <input
      [formControl]="controller.get('target')"
      class="gift-input"
      placeholder="Lo recibirá..."
    />
  </div>
  <div class="from" [style.marginBottom]="!submition ? '60px' : ''">
    <p class="input-texts">¿De parte de quién o quienes?</p>
    <input
      [formControl]="controller.get('from')"
      class="gift-input"
      placeholder="De parte de..."
    />
  </div>
</div>

<div
  *ngIf="isPreview === true && message !== ''"
  class="container"
  [ngStyle]="{ background: background }"
>
  <p class="top-text">Mensaje Escrito:</p>
  <div class="text-container">
    <!-- <input
      *ngFor="let controller of controllers.controls"
      placeholder="Escribe el mensaje de aprecio…"
      class="message"
      [formControl]="controller"
    /> -->
    <!--<p class="message-v2">{{ message }}</p>
    <div class="plus">+</div>-->
    {{message}}
  </div>
  <div class="target">
    <p class="top-text">Para:</p>
    <div class="little-text-container">
      {{aux.from}}
    </div>
  </div>
  <div class="from" [style.marginBottom]="!submition ? '60px' : ''">
    <p class="top-text">De parte:</p>
    <div class="little-text-container">
      {{aux.targets[0].name}}
    </div>
  </div>
  <div *ngIf="aux.multimedia.length > 0">
    <p class="top-text">Foto de la tarjeta:</p>
    <div class="pay-image"></div>
    <p class="bottom-text">
      Editar Fotografia
    </p>

    <p class="bottom-text">
      $200.00 Kanddys como Gift-Cards
    </p>
  </div>
</div>

<button *ngIf="submition" class="submit" (click)="submit()">
  salvar el mensaje y CONTINUAR
</button>
