.container {
  min-height: 100vh;
}

.form-container {
    max-width: 350px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .textarea {
    resize: vertical;
    width: 100%;
  }

  .input-area {
    margin-top: 20px;
    margin-bottom: 10px;
    .label {
      font-style: normal;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .input {
        input {
            background: none;
            border: none;
            border-bottom: 2px solid #87CD9B;
            width: 100%;
            color: #FFF;
            font-family: InterBold;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 13px;
        }

        ::ng-deep .mat-form-field {
            width: 48%;
            margin: 0px 1%
        }

        ::ng-deep .mat-form-field-underline {
            border-bottom: 2px solid #87CD9B;
        }


        ::ng-deep .mat-select-arrow {
            color: #87CD9B;
        }

        ::ng-deep .mat-select-value {
            text-align: center;
        }

        ::ng-deep .mat-select-value-text {
            font-family: InterBold;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        ::ng-deep .mat-form-field-label {
            text-align: center;
            top: 8px;
            font-family: InterBold;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }

  .wrapper {
    padding: 8px 0;
  
    .confirm {
      top: 27px;
      right: 6%;
    }
  }

  .phone-wrapper {
    position: relative;
  
    .phoneNumber-formatted {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      color: black;
      left: 92px;
      font-family: RobotoMedium;
      font-size: 20px;
      width: calc(100% - 100px);
    }
  }

  ::ng-deep .snack-toast-error {
    background-color: #BD362F !important;
    color: #FFF;
  }