<div class="container">
  <div class="form-container">
    <h2>Crear una nueva tienda</h2>
    <form [formGroup]="merchantForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Nombre de la tienda:</label>
        <input type="text" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="name">Slug de la tienda:</label>
        <input type="text" id="name" formControlName="slug" required>
      </div>
      <div class="form-group">
        <label for="name">Correo:</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Teléfono:</label>
        <div class="phone-wrapper">
          <ngx-intl-tel-input
            [cssClass]="'custom'"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [selectFirstCountry]="false"
            [preferredCountries]="preferredCountries"
            [selectedCountryISO]="CountryISO"
            maxLength="13"
            minlength="10"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [customPlaceholder]="'(000) 000-0000'"
            [numberFormat]="PhoneNumberFormat.International"
            formControlName="phone"
            tabindex="1"
            id="phone"
          ></ngx-intl-tel-input>
          <span
            class="phoneNumber-formatted"
            *ngIf="merchantForm.controls['phone']?.value"
            (click)="focusPhoneInput()"
          >
            {{ merchantForm.controls['phone']?.value.nationalNumber }}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <button type="submit" [disabled]="merchantForm.invalid">Guardar</button>
    </form>
  </div>

  <br><br>
  <div *ngIf="merchantCreated" style="text-align: center;">
    <button mat-button (click)="copyLinkToClipboard()">Copiar enlace para logearse con el nuevo usuario</button>
    <br><br>
    <button mat-button (click)="clearForm()">Limpiar form</button>
  </div>
</div>