<div class="container">
    <span class="close">X</span>
    <div class="title">Bienvenido a www.floristerias.club!!</div>
    <div class="content">
        Con este enlace accederás directo a la cotización de FloristeriaID 👉 <span class="url" (click)="goToQuotations()">www.carritodelosarticulos.com</span>
        <br><br>Y con este a los artículos que ya tienen tus precios y otros que usualmente compran los miembros 👉 <span class="url" (click)="goToDashboard()">www.dashboardelproveedor.com</span>
        <br><br><br>La promesa del Club es desarrollar funcionalidades que necesites, así que cuando necesites algo no dudes en contactarme por WhatsApp (918) 815-6444 👉 <span class="url" (click)="goToWhatsapp()">whatsapp.url</span>, mi nombre es Daviel y quedo a tu orden.
    </div>
</div>