::ng-deep .swiper-pagination {
    display: none;
}
.container {
    min-height: 100vh;
    background-color: #181d17;
    padding-bottom: 70px;
  }
  
.header-wrapper {
    display: flex;
    padding: 15px 16px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: space-between;

    .left-part,
    .right-part {
        display: flex;
        align-items: center;
    }
    .right-part {
        .dialog-bottom {
            color: var(--Fondo-de-Pantallas, #F6F6F6);
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 5px;
            text-align: right;
        }
    }
    .title {
        color: var(--fondo-de-pantallas, #f6f6f6);
        font-family: InterRegular;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 14.72px;
    
        @media (max-width: 420px) {
        font-size: 15.495px;
        }
    }
    .info-button {
        width: 25.28px;
        height: 25.28px;
        flex-shrink: 0;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
        brightness(102%) contrast(102%);
    }
    .close {
        margin: 0;
        text-align: right;
        color: #c4c5c3;
        padding-right: 10px;
    
        span {
        font-size: 21px;
        font-family: InterRegular;
        color: #87CD9B;
        display: flex;
    
        &::hover {
            cursor: pointer;
        }
        }
    }
} 

main {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text-title {            
            max-width: 387px;
            width: 90vw;
            margin: 35px 21px auto 22px;
            color: var(--Fondo-de-Pantallas, #F6F6F6);
            text-align: center;
            font-family: InterRegular;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        .text-content {
            max-width: 366px;
            width: 90vw;
            color: var(--El-verdecito, #87CD9B);
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 5px 36px auto 28px;
        }
    }
    .border-line {
        background: #7B7B7B;
        height: 1px;
        margin: 27px 17px auto 18px;
    }
    .slide {
        .title {
            max-width: 398px;
            width: 100vw;
            margin: 22px auto auto;
            color: var(--Fondo-de-Pantallas, #F6F6F6);
            text-align: center;
            font-family: Inter;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}
.footer-swiper {
    margin: 24px auto auto;
    .swiper-custom-container {
      ::ng-deep .swiper-pagination-bullet {
        background-color: #181d17 !important;
        border: 1px solid white !important;
        width: 14px;
        height: 14px;
      }
  
      ::ng-deep .swiper-pagination-bullet-active {
        background-color: white !important;
        border: 1px solid white !important;
      }
    }
}
.slide-content {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
   
.sub-slide-item {
    padding: 29px 18px 0px;
    margin: 5px 22px;
    text-align: center !important;
    border-radius: 17px;
    border: 1px solid gray !important;
    .video {
        margin: 26px auto;
    }
}
.slide-footer{
    margin: auto auto 14px;
    color: #F6F6F6;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
    

footer {
    margin: auto;
    z-index: 999;
    position: fixed;
    max-width: 500px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #181d17;
    text-align: center;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    background-color: #87cd9b;
}

@media (max-width: 420px) {
    .dialog-bottom {
        width: calc(100vw - 240px);
        div {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}