<div class="container">
    <app-helper-headerv2
        [mode]="'options'"
        [bgColor]="headerConfiguration.bgcolor"
        [color]="headerConfiguration.color"
        [justifyContent]="headerConfiguration.justifyContent"
        [alignItems]="headerConfiguration.alignItems"
        [icon]="headerConfiguration.icon"
        [rightTextStyles]="headerConfiguration.rightTextStyles"
        [leftText]="{text: headerConfiguration.headerTextSide === 'LEFT' ? headerConfiguration.headerText : ''}" 
        [rightText]="{text: headerConfiguration.headerTextSide === 'RIGHT' ? headerConfiguration.headerText : ''}" [returnAble]="true"
        (agnosticAction)="headerConfiguration.headerTextSide === 'RIGHT' ? headerConfiguration.headerTextCallback() : null"
        [returnAble]="true"
        (returnEvent)="goBackwards()"
          >
    </app-helper-headerv2>

    <form [formGroup]="calendarCreatorForm">
        <ng-container *ngIf="currentStep === 'MAIN'">            
            <div 
                class="body" 
            >
                <h2>Sobre el Calendario:</h2>
    
                <div class="action-preview">
    
                    <h3>¿Qué tiempo durará cada reserva y cuántas al mismo tiempo?</h3>
    
                    <app-answer-selector
                        [options]="reservationDurationAndCounterCTA"
                        [indicator]="true"
                        [showDescription]="false"
                        [containerStyles]="{
                            margin: '0px',
                            paddingBottom: '16px'
                        }"
                    ></app-answer-selector>
    
                </div>
    
                <div class="action-preview second">
    
                    <h3>¿Cuándo estarán disponibles las reservas?</h3>
    
                    <app-answer-selector
                        [options]="reservationTimeAvailability"
                        [indicator]="true"
                        [showDescription]="false"
                        [containerStyles]="{
                            margin: '0px',
                            paddingBottom: '16px'
                        }"
                    ></app-answer-selector>
    
                </div>
            </div>
    
            <app-sticky-button
                [mode]="'double'"
                [text]="''"
                [text2]="'SALVAR'"
                [customRightButtonStyles]="{
                    marginLeft: 'auto',
                    height: '30px',
                    color: '#fff',
                    textAlign: 'right',
                    paddingRight: '22px'
                }"
                [height]="'30px'"
                [bgColor]="'#2874AD'"
                [extra]="{return: true, height: '30px', bgColor: '#2874AD'}"
                [addBottomSeparator]="true"
                (right)="save()"
            >
            </app-sticky-button>
        </ng-container>
    
        <ng-container
            *ngIf="currentStep === 'RESERVATION_PARAMS'"
        >
            <div 
                formGroupName="reservationParams"
                class="body" 
                [ngStyle]="{paddingTop: '46px'}"
            >
                <label for="howManyReservations" class="input-label" [ngStyle]="{marginTop: '0px'}">
                    Cuántas reservas al mismo tiempo?
                </label>
                <input class="input customWidth" type="number" min="1" formControlName="amountOfReservationsAtTheSameTime" placeholder="Escribe..."/>    
    
                <label for="minutesPerReservation" class="input-label">
                    Minutos que dura cada reserva?
                </label>
                <input class="input customWidth" type="number" min="1" max="60" formControlName="reservationDurationInMinutes" placeholder="Escribe..."/>    
    
                <label for="freeTime" class="input-label">
                    Minutos entre reservas?
                </label>
                <input class="input customWidth" type="number" min="1" formControlName="minutesBetweenReservations" placeholder="Escribe..."/>    
            </div>
    
            <app-sticky-button
                [mode]="'double'"
                [text]="''"
                [text2]="calendarCreatorForm.controls.reservationParams.status === 'VALID' ? 'SALVAR' : ''"
                [customRightButtonStyles]="{
                    marginLeft: 'auto',
                    height: '30px',
                    color: '#fff',
                    textAlign: 'right',
                    paddingRight: '22px'
                }"
                [height]="'30px'"
                [bgColor]="'#2874AD'"
                [extra]="{return: true, height: '30px', bgColor: '#2874AD'}"
                [addBottomSeparator]="true"
                (right)="calendarCreatorForm.controls.reservationParams.status === 'VALID' ? save() : null"
            >
            </app-sticky-button>
        </ng-container>
            
        <ng-container *ngIf="currentStep === 'RESERVATION_AVAILABILITY'">
            <div 
                class="body" 
                formGroupName="reservationAvailability"
                [ngStyle]="{paddingTop: '46px'}"
            >
                <label class="input-label"
                    [ngStyle]="{marginTop: '0px'}"
                >
                    ¿Cuáles días de la semana estarán disponibles?
                </label>      
                <div class="daysOfTheWeek">
                    <div
                        *ngFor="let day of daysOfTheWeek; let i = index"
                        (click)="selectDayOfTheWeek(i)"
                        [ngClass]="{'day': true, 'selected': day.selected}"
                    >
                        {{day.name}}
                    </div>
                </div>
    
                <div class="input-label">
                    ¿Desde que hora?
                </div>
                <div class="from-to-flex-wrapper">
                    <div class="hour-wrapper">
    
                        <label class="input-label"
                            [ngStyle]="{
                                margin: '0px',
                                textAlign: 'center',
                                marginBottom: '20px',
                                fontSize: '17px'
                            }"
                        >
                            H
                        </label>  
    
                        <div class="hour-swiper">
                            <div 
                                *ngFor="let hour of hours; let i = index"
                                [ngClass]="{'swiper-item': 'true', 'selected': selectedFromHour?.index === i}"
                                [id]="'from-hour' + i"
                                (click)="selectHour('from', i, hour)"
                            >
                                {{hour}}
                            </div>
                        </div>
                    </div>
    
                    <div class="minute-wrapper">
                        <label class="input-label"
                            [ngStyle]="{
                                margin: '0px',
                                textAlign: 'center',
                                marginBottom: '20px',
                                fontSize: '17px'
                            }"
                        >
                            M
                        </label>  
    
                        <div class="minutes-swiper">
                            <div
                                [ngClass]="{'swiper-item': 'true', 'selected': selectedFromMinutes?.index === i}"
                                *ngFor="let minute of minutes; let i = index"
                                (click)="selectMinutes('from', i, minute)"
                                [id]="'from-minute' + i"
                            >
                                {{minute}}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="input-label">
                    ¿Hasta que hora?
                </div>
                <div class="from-to-flex-wrapper">
                    <div class="hour-wrapper">
    
                        <label class="input-label"
                            [ngStyle]="{
                                margin: '0px',
                                textAlign: 'center',
                                marginBottom: '20px',
                                fontSize: '17px'
                            }"
                        >
                            H
                        </label>  
    
                        <div class="hour-swiper">
                            <div
                                *ngFor="let hour of hours; let i = index"
                                [ngClass]="{'swiper-item': 'true', 'selected': selectedToHour?.index === i}"
                                (click)="selectHour('to', i, hour)"
                                [id]="'to-hour' + i"
                            >
                                {{hour}}
                            </div>
                        </div>
                    </div>
    
                    <div class="minute-wrapper">
                        <label class="input-label"
                            [ngStyle]="{
                                margin: '0px',
                                textAlign: 'center',
                                marginBottom: '20px',
                                fontSize: '17px'
                            }"
                        >
                            M
                        </label>  
    
                        <div class="minutes-swiper">
                            <div class="swiper-item"
                                [ngClass]="{'swiper-item': 'true', 'selected': selectedToMinutes?.index === i}"
                                *ngFor="let minute of minutes; let i = index"
                                (click)="selectMinutes('to', i, minute)"
                                [id]="'to-minute' + i"
                            >
                                {{minute}}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="input-label" [ngStyle]="{marginBottom: '32px'}">
                    Contenido opcional
                </div>
                
                <ul class="links">
                    <li>Limita los meses</li>
                    <li>Limita los años</li>
                </ul>
            </div>
    
    
            <app-sticky-button
                [mode]="'double'"
                [text]="''"
                [text2]="'SALVAR'"
                [customRightButtonStyles]="{
                    marginLeft: 'auto',
                    height: '30px',
                    color: '#fff',
                    textAlign: 'right',
                    paddingRight: '22px'
                }"
                [height]="'30px'"
                [bgColor]="'#2874AD'"
                [extra]="{return: true, height: '30px', bgColor: '#2874AD'}"
                [addBottomSeparator]="true"
                (right)="save()"
            >
            </app-sticky-button>
        </ng-container>
    </form>
</div>