::ng-deep .mat-bottom-sheet-container {
  min-width: 90%;
  margin: auto;
  box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024, 0 6px 30px 5px #0000001f;
  background: #181d17;
}
::ng-deep .cdk-overlay-pane {
  width: 100%;
  max-width: 500px !important;
}

.nav-container {
  padding: 20px 10px;
}
nav {
  margin-bottom: 24px;
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:not(:first-child) {
        margin-top: 8px;
      }

      a {
        color: #c4c5c3;
        font-family: SfProBold;
        font-size: 18px;
      }

      .icon {
        visibility: hidden;
        width: 20px;
        height: 20px;
        font-size: 20px;
      }

      &.active {
        color: #87cd9b;

        a {
          color: #87cd9b;
        }

        .icon {
          visibility: visible;
          // color: #87cd9b;
        }
      }
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #c4c5c3;
  padding: 0 12px;
}
