@import "forms";

.orders-page {
  overflow-y: scroll;
  height: 100vh;
}

.title {
  font-size: 16px;
  color: #000;
  font-family: "RobotoMedium";
  text-align: left;
}

.subtitle {
  text-align: right;
  font-size: 13px;
  font-family: SfProSemiBold;
  color: #8d8d8d;
}

.search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  visibility: visible;
  border-radius: 10px;
  padding: 0px 20px;
  width: 100%;
  height: 53px;
  font-family: RobotoMedium;
  font-size: 17px;
  border: none;
  color: #a1a1a1;
  box-shadow: inset 0px 3px 5px lightgrey;
  margin: 20px auto;
  margin-bottom: 42px;
  display: block;
  width: 91%;

  &::placeholder {
    opacity: 0.6043000221252441;
    text-align: center;
  }
}

.message-container {
  width: 100%;
  padding: 40px 0px;
  text-align: center;
  font-size: 19px;
}

.content {
  width: 100%;
  margin: auto;
  padding-bottom: 76px;
  padding-left: 22px;
}

.order {
  background: white;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px -5px #979797;
  cursor: pointer;
  color: #000;
  display: flex;
  height: 100%;

  .dot-trio {
    position: absolute;
    top: 0;
    right: 0;
    position: absolute;
    background-color: white;
    right: 3px;
    top: 3px;
    height: 28px;
    width: 28px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/dots-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;

    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  &.all-orders-mode {
    margin-top: 11px;
    max-width: calc(100% - 22px);
  }

  .inner-wrapper {
    width: 100%;
    display: flex;
    margin-top: 18px;
    margin-bottom: 11px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;

    .order-grid {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 1px;
      align-items: end;
    }
  }

  p {
    margin: 0px;
    padding: 1px 0px;
  }
}

.container {
  height: 100vh;
  padding-right: 0px;
}

.grid {
  background: #a1a1a1;
  border: 1px solid #707070;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  padding: 5px 4px;
  border-radius: 4px;
  margin: 20px 36px;
}

.col {
  padding: 9px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "SfProBold";
}

.group-of-items-header-flex {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-between;
  padding-right: 22px;

  .group-title {
    font-family: "RobotoMedium";
    font-size: 19px;
    margin-left: 6px;
  }

  .incomes-and-show-all {
    display: flex;
  }

  .middle {
    font-family: SfProRegular;
    color: #7b7b7b;
    font-size: 14px;
  }

  .text-right {
    margin-left: 20px;
    text-align: right;
    color: #2874ad;
    font-family: SfProRegular;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }
}

.submit {
  background: #2874ad;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 0px;
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 12px;
  font-family: "SfProDisplayBold";
  cursor: pointer;
  margin-bottom: 20px;
}

.reservations {
  padding: 20px 20px;
  margin: 11px 0px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px -5px #979797;
  font-family: "SfProRegular";
  color: #7b7b7b;
}

.tap {
  color: #7b7b7b;
  font-family: SfProRegular;
  font-size: 17px;
}

.card {
  display: flex;
  overflow-x: scroll;
}

.mb-3 {
  margin-bottom: 3px;
}

.price {
  color: #7b7b7b;
  font-family: SfProRegular;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.order-tags {
  font-size: 14px;
  color: #7b7b7b;
  font-family: SfProRegular;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 122px;
  text-align: right;
}

.name {
  color: #7b7b7b;
  font-family: SfProRegular;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 260px;
  white-space: nowrap;
}

.tag {
  font-family: "SfProDisplay";
  color: #7b7b7b;
  font-size: 13px;
  text-align: right;
}

.id {
  font-family: "SfProDisplayBold";
  font-size: 13px;
}

.factura-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1px;
  padding-top: 10px;
  padding-bottom: 6px;
  align-items: end;
}

.reference {
  color: #7b7b7b;
  font-family: SfProRegular;
  font-size: 14px;
  text-align: right;
}

.w-100 {
  width: 100%;
}

.tags {
  display: flex;
  overflow-x: scroll;
}

.tag-container {
  min-width: 81px;
  min-height: 81px;
  margin: 0px 20px;
  margin-top: 20px;
}

.circle {
  min-width: 81px;
  min-height: 81px;
  border: 1px solid #e9e371;
  border-radius: 50%;
  background: #fff;
}

.tag-title {
  font-family: SfProDisplay;
  font-size: 15px;
  color: #7b7b7b;
  text-align: center;
}

.dot-trio {
  // width: 23px;
  // height: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 10px;

  &:hover,
  &:active {
    background-color: #2c89d1;
  }

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 3px;
  }
}

.header-grid {
  background: #2874ad;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  padding: 8px 17px 0px 10px;
}

.header-text {
  font-size: 21px;
  font-family: SfPro;
  color: rgb(255, 255, 255);
  cursor: unset;
}

.dots {
  margin-top: 2px;
}

.arrows {
  cursor: pointer;
}

.orders-and-invoices-info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
  height: 42px;
  background-color: #2874ad;
  color: white;
  font-family: SfProRegular;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 17px;
  z-index: 999;

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

nav {
  margin-top: 42px;
  height: 37px;
  display: flex;
  align-items: center;
  padding: 0px 17px;
  font-size: 17px;
  background-color: #ffffff;

  button {
    color: #7b7b7b;
    font-family: SfProLight;
    border: none;
    background-color: transparent;
    margin-right: 30px;

    &.active {
      color: #2874ad;
      font-family: SfProBold;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
  background-color: #2874ad;
  display: flex;
  justify-content: space-between;
  height: 42px;
  padding: 0px 17px;
  align-items: center;
  color: white;
  z-index: 999;

  .icon-and-title {
    display: flex;

    span {
      font-family: SfProBold;
      font-size: clamp(16px, 5vw, 21px);
    }

    img {
      margin-right: 16px;
      width: clamp(14px, 5vw, 17px);
      height: clamp(18px, 5vw, 21px);
    }
  }

  .userid {
    display: flex;
    align-items: baseline;

    span {
      font-size: clamp(10px, 4vw, 13px);
      font-family: RobotoRegular;
      margin-right: 10px;
    }

    img {
      width: 13px;
      height: 17px;
    }
  }
}
