* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.itemContainer {
  background-color: transparent;
  font-size: 17px;
  color: #7b7b7b;
  margin: auto;
  width: 212px;
  height: 100%;

  &.type2 {
    background-color: transparent;
    .infocontainer {
      padding: 0 12px;
      font-family: "RobotoRegular";
      font-size: 17px;
    }
    .itemImg {
      height: 226px;
      box-shadow: 0px 4px 10px #ddd;
      margin-top: 4px;
      margin-bottom: 10px;
      position: relative;

      .box {
        font-family: "RobotoBlack";
        font-size: 12px;
        padding: 5px 8px;
        border-radius: 10px;
        background-color: #8351fe;
        color: white;

        &.white {
          background-color: #ffffff;
          color: #4773d8;
          font-family: "RobotoMedium";
          font-size: 13px;
          box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 15%);
        }
      }

      .image-icon {
        background-color: white;
        border-radius: 50%;
        border: solid 1px #4773d8;
        padding: 4px 6px;
      }

      .left {
        position: absolute;
        top: 10%;
        left: 10%;
      }

      .right {
        position: absolute;
        top: 10%;
        right: 10%;
      }

      .middle {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 105px;
      }
    }

    .two {
      display: flex;
      align-items: center;
    } //Two of infoContainer

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
    } //Info container two wrapper

    .price {
      color: #474747;
      font-family: "SfProDisplayBold";
      font-size: 19px;
    }

    .desc {
      padding: 0 10px;
      font-family: "RobotoRegular";
      margin-top: 5px;
      color: #7b7b7b;
    }
    .income {
      padding: 0 10px;
      font-family: "RobotoRegular";
      margin-top: 8px;
      font-size: 16px;
      color: #474747;
    }
    .checkBox {
      justify-content: flex-start;
      padding: 0;
      width: 100%;

      &.selected {
        justify-content: center;
      }
    }

    .cart {
      border: none;
      border-radius: 26px;
      background-color: #fed230;
      font-family: "RobotoMedium";
      font-size: 16px;
      color: #000000;
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 14px 20px;
      margin-left: auto;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ffda55;
      }

      img {
        filter: brightness(0) saturate(100%) invert(11%) sepia(12%) saturate(3277%) hue-rotate(174deg) brightness(99%)
          contrast(100%);
      }

      &.white {
        background-color: #ffffff;
        color: #4773d8;
        font-family: "RobotoMedium";
        box-shadow: 0px 4px 10px #ddd;
        white-space: nowrap;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  &.typeADD_NEW_ITEM {
    height: 100%;
    width: 100% !important;

    .simpleCard {
      width: 100%;
      box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 15%);
      border-radius: 14px;
      background-color: white;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .label {
        transition: 0.3s font-size ease-in-out, 0.3s color ease-in-out;
        font-family: RobotoMedium;
      }

      .add-btn {
        position: absolute;
        background-color: white;
        right: -8px;
        top: -5px;
        height: 28px;
        width: 28px;
        border: 1px solid black;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/plus-black.svg);
        background-size: 15px;
        transition: 0.3s background-color ease-in-out;

        &:hover {
          background-color: lightgray;
          cursor: pointer;
        }
      }

      &:hover {
        .label {
          font-weight: normal;
          font-size: 18px;
          color: darkslategray;
          cursor: pointer;
        }
      }
    }
  }

  &.v2 {
    width: initial;
  }

  .gray-shadow {
    box-shadow: rgb(0, 0, 0, 0.16) 0px 3px 6px 0px;
  }

  .marginCard {
    width: 100%;

    .itemImg {
      cursor: pointer;
      width: 100%;
      height: 217px;
      border-radius: 13px;
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 15%);
    }

    .info-area {
      margin-top: 3px;
      padding: 0 8px 15px 8px;
      font-family: SfProRegular;
      font-weight: bold;
      font-family: 16px;

      .flexer {
        margin-bottom: 2.5px;

        .price {
          font-family: "SfProBold";
          font-size: 16px;
          color: #7b7b7b;
          padding: 0;
        }

        .sales {
          font-family: "RobotoMedium";
          font-size: 14px;
          color: #4773d8;
        }

        .total {
          font-family: "RobotoMedium";
          font-size: 14px;
          color: #4773d8;
          cursor: pointer;
        }

        .stars {
          font-family: "RobotoBlack";
          font-size: 12px;
          color: #8351fe;

          .star-icon {
            filter: invert(47%) sepia(85%) saturate(5683%) hue-rotate(243deg) brightness(102%) contrast(99%);
          }
        }
      }
      .income {
        font-family: "RobotoRegular";
        font-size: 16px;
        color: #4773d8;
        margin: 0;
        margin-bottom: 3px;
      }
    }
  }

  .itemImg {
    width: 100%;
    height: 173px;
    border-radius: 13px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 9px 13px -10px #999;
    -webkit-box-shadow: 0px 9px 13px -10px #999;
    -moz-box-shadow: 0px 9px 13px -10px #999;
    &.borderRect {
      border-radius: 0;
    }
  }

  .price {
    color: #272727; 
    font-family: InterRegular;
    font-size: 17px;
    padding: 0;
    display: flex;
    .small {
      font-size: 8.9px;
    }
    &.left {
      text-align: left;
      padding: 0 0px !important;
    }
    &.right {
      display: flex;
      justify-content: right;
      align-items: center;
      position: relative;
    }
    .quantity {
      font-size: 12px;
    }
  }

  .price2 {
    font-family: "SfProBold";
    font-size: 16px;
    margin-bottom: 0;
  }

  .dynamic-choices {
    .quantity {
      font-weight: bold;
    }
  }

  .checkBox {
    margin-top: 17px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 0 22.5px;
    border-radius: 19px;
    font-family: RobotoMedium;
    font-size: 18px;
    text-align: center;
    transition: 0.3s;
    column-gap: 6.5px;
    color: #27a2ff;

    &:before {
      content: "Seleccionar";
    }

    .icon {
      display: none;
      color: #ffffff;
      font-size: 13px;
    }

    &.selected {
      background-color: transparent !important;
      background-image: linear-gradient(to right, #31a4f9, #1d58db) !important;
      color: #ffffff;
      border: none;

      &:before {
        content: "Seleccionado";
      }

      .icon {
        display: block;
      }
    }
  }

  .simpleCard {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 0%);

    .itemImg {
      width: 100%;
      height: 201px;
      border-radius: 9px;
      box-shadow: none;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      video {
        width: 100%;
        height: 100%;
      }

      .featured-item-indicator {
        position: absolute;
        bottom: 6px;
        right: 11px;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    .info-area {
      display: flex;
      flex-direction: column;
      padding: 12px 4.83%;
      padding-bottom: 8px;
      font-size: 16px;

      &.inactive2 {
        background-color: #b17608;
        color: #fff;
      }

      &.transition-class {
        transition: 0.5s background-color ease-in-out, 0.5s color ease-in-out;

        &:active {
          background-color: #82f18d;
          color: #174b72;
        }
      }

      .flexer {
        margin-bottom: 5.4px;

        .price {
          color: #272727; 
          font-family: InterRegular;
          font-size: 17px;
          padding: 0;
        }
      }

      .sales {
        font-family: "RobotoMedium";
        font-size: 14px;
        color: #7b7b7b;
      }
    }
  }
}

.big-size {
  width: 88%;
  height: 474px;

  .itemImg {
    width: 100%;
    height: 408px !important;
  }
} //Activates big size on info container

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-row-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  .tags-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: SfProRegular;
    font-size: 13px;
    color: #7b7b7b;
    max-width: 122px;
    margin-left: auto;

    &.invisible {
      color: white;
    }
  }
}

.inactive {
  background-color: #d5d5d5;
  color: #fff;
}

.inactive2 {
  background-color: #b17608;
  color: #fff;
}

.inactive-img {
  opacity: 0.6;
  color: rgb(90, 90, 90);
  font-size: 2.2em;

  &::after {
    content: "INACTIVO";
    transform: rotate(315deg);
    font-size: inherit;
    font-family: "RobotoBold";
    display: flex;
    justify-content: center;
    position: relative;
    top: 88px;
  }

  &:hover {
    opacity: 0.75 !important;
  }
}

.selected2 {
  background-color: #82f18d;
  color: #174b72;
}

.select-mode-radio-button {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  border: 2px solid #82f18d;
  background-color: #fff;
  transition: 0.5s background-color ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #82f18d;
  }

  &.radioButtonClicked {
    background-color: #82f18d;
  }
}

@media (max-width: 768px) {
  .itemContainer {
    .simpleCard {
      .info-area {
        &.transition-class {
          &:active {
            color: #7b7b7b;
            background-color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 427px) {
  .itemContainer {
    width: 79%;

    &.v2 {
      width: initial;
    }

    .price {
      margin-top: 9.64px;
      .quantity {
        font-size: 10px;
      }
    }

    &.type2 {
      .infocontainer {
        padding: 0 10px;
        font-size: 15px;
      }
      .itemImg {
        height: 170px;
        // background-size: 100% 100% !important;
      }
    }
    .marginCard {
      .itemImg {
        border-radius: 11.39px;
        height: 147.94px;
      }
    }
    .checkBox {
      margin-top: 14.89px;
      height: 30.67px;
      padding: 0 19.71px;
      border-radius: 16.65px;
      column-gap: 5.7px;
      font-size: 16px;

      .icon {
        font-size: 11.39px;
      }
    }
  }

  .inactive-img {
    font-size: 2em !important;
  }
}

@media (max-width: 399px) {
  .itemContainer {
    width: 78%;

    &.v2 {
      width: initial;
    }

    font-size: 12.71px;

    .price {
      margin-top: 8.22px;
      .quantity {
        font-size: 9px;
      }
    }

    .desc {
      font-size: 11.5px !important;
    }

    &.type2 {
      .infocontainer {
        padding: 0 9px;
        font-size: 13px;
      }
      .itemImg {
        height: 160px;
      }
    }

    .marginCard {
      .itemImg {
        border-radius: 9.72px;
        height: 129.35px;
      }
    }

    .checkBox {
      margin-top: 12.71px;
      height: 26.17px;
      padding: 0 16.82px;
      border-radius: 14.2px;
      column-gap: 4.86px;
      font-size: 14px;

      .icon {
        font-size: 9.72px;
      }
    }

    .price2 {
      font-size: 13px;
    }

    .dynamic-choices {
      font-size: 13px;
    }

    .views {
      font-size: 13px;
    }
  }

  .inactive-img {
    font-size: 2em !important;
  }
}

@media only screen and (max-width: 320px) {
  .inactive-img {
    font-size: 1.7em !important;
  }
}
.opacity-hover:hover,
.opacityHover:active {
  opacity: 0.75;
}

.cursor {
  cursor: pointer;
}

.dot-trio {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  background-color: white;
  right: -8px;
  top: -5px;
  height: 28px;
  width: 28px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/dots-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.closed-eye {
  filter: brightness(0) invert(1);
  width: 19px;
  height: 15px;
}

.views {
  color: #7b7b7b;
  font-size: 16px;
  font-family: SfProLight;

  &.inactiveViews {
    background-color: transparent;
    color: white;
    padding-right: 9px;
    margin-left: auto;
  }
}

.heart-div {
  border-radius: 100%;
  width: 39px;
  height: 39px;
  background-color: #f6f6f6;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    color: #87CD9B;
    width: 35px;
    height: 33px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
  }
}
