<div
  class="itemContainer type{{ type }}"
  [ngClass]="{ 'big-size': big, v2: responsiveWidthVersion }"
  [ngStyle]="
    dynamicStyles?.itemContainer
      ? dynamicStyles?.itemContainer
      : {
          'border-top-left-radius': type == 3 ? '14px' : '',
          'border-top-right-radius': type == 3 ? '14px' : ''
        }
  "
>
  <div class="marginCard" *ngIf="type == 1">
    <!-- MODALIDAD QUE MUESTRA IMAGEN Y DETALLES COMO CANTIDAD VENDIDA, VENTAS TOTALES E INGRESO -->
    <div
      class="itemImg opacity-hover"
      [ngStyle]="{
        'background-image': imgURL
          ? 'url(' +
            imgURL +
            ')' +
            (shouldHaveFallbackImage ? ', url(/assets/images/noimage.png)' : '')
          : 'url(/assets/images/noimage.png)',
        'background-size': backgroundSize
      }"
      (click)="onClick()"
    ></div>

    <div class="info-area">
      <div class="flexer flex-row">
        <span class="price">${{ price | number }}</span>
        <img
          [src]="env + '/closed-eye.svg'"
          width="17.21px"
          height="13.67px"
          alt="Un ojo cerrado"
          *ngIf="showIcon"
          class="eyed"
        />
      </div>

      <p class="income" *ngIf="income >= 0">Ingreso ${{ income | number }} </p>

      <div class="flexer flex-row">
        <span class="sales" *ngIf="quantity >= 0">{{ quantity }} Ventas</span>
        <span class="stars" *ngIf="index1 >= 0"
          >{{ index1 | number }}
          <img
            [src]="env + '/star.svg'"
            alt="Estrellas"
            width="13.75px"
            height="13.05px"
            class="star-icon"
        /></span>
        <span class="total" *ngIf="index2 >= 0"
          >{{ index2 | number }}
          <img
            [src]="env + '/categories-list.svg'"
            width="9px"
            height="9px"
            class="list-icon"
            (click)="actionator($event)"
        /></span>
      </div>
    </div>
  </div>

  <div *ngIf="type == 2">
    <!--MODALIDAD CON CARRITO Y FUNCIONES -->
    <div
      class="itemImg opacity-hover cursor"
      [ngStyle]="{
        'background-image': imgURL
          ? 'url(' +
            imgURL +
            ')' +
            (shouldHaveFallbackImage ? ', url(/assets/images/noimage.png)' : '')
          : 'url(/assets/images/noimage.png)',
        'background-size': backgroundSize
      }"
      [ngClass]="{
        'gray-shadow': shaded == true,
        borderRect: borderRadius == false
      }"
      (click)="onClick()"
    >
      <div
        *ngIf="showBox && boxAmount != null"
        class="box"
        [ngClass]="{ left: showIcon, right: !showIcon }"
        (click)="onTopBoxClick()"
      >
        {{ boxAmount | number }}
        <img [src]="env + '/star.svg'" alt="star-icon" />
      </div>
      <div *ngIf="showIcon" class="image-icon right" (click)="onIconClick()">
        <img [src]="env + '/closed-eye.svg'" alt="hide-item" />
      </div>
      <div
        *ngIf="showSelected && isSelected && !big"
        class="box white middle"
        (click)="onBottomBoxClick()"
      >
        En el Carrito
        <i class="fas fa-check-circle icon"></i>
      </div>
    </div>
    <div class="infoContainer two">
      <div class="wrapper">
        <div
          class="price {{ priceAlign }}"
          [style.text-align]="priceAlign"
          *ngIf="price && showPrice"
        >
          ${{ price | number }}
        </div>
        <p class="desc" *ngIf="big && name" style="font-size: 15px">
          {{ name }}
        </p>
        <p class="desc" *ngIf="description && showDescription">
          {{ description }}
        </p>
        <p class="income" *ngIf="income">${{ income | number }} Ingreso</p>
        <div
          *ngIf="selectable"
          (click)="toggleSelect($event)"
          [ngClass]="{ selected: isSelected }"
          class="checkBox"
          style="cursor: pointer"
        >
          <i class="fas fa-check-circle icon"></i>
        </div>
      </div>
      <button
        class="cart"
        [ngClass]="{ white: isSelected }"
        (click)="actionator($event)"
        *ngIf="big"
      >
        {{ isSelected ? "EN EL CARRITO" : "ADICIONAR" }}
        <img
          *ngIf="!isSelected"
          [src]="env + '/carrito_blanco.svg'"
          width="26px"
          height="20px"
          class="carrito"
        />
        <i *ngIf="isSelected" class="fas fa-check-circle icon"></i>
      </button>
    </div>
  </div>

  <div class="simpleCard" *ngIf="type == 3">
    <!--MODALIDAD QUE SOLO MUESTRA LOS PRECIOS Y LAS VENTAS-->
    <div
      class="itemImg opacity-hover"
      [ngStyle]="{
        'background-image': imgURL
          ? 'url(' +
            imgURL +
            ')' +
            (shouldHaveFallbackImage ? ', url(/assets/images/noimage.png)' : '')
          : 'url(/assets/images/noimage.png)',
        'background-size': backgroundSize
      }"
      [ngClass]="{ 'inactive-img': inactive }"
      (click)="onClick()"
    ></div>

    <div class="info-area flex-row" [ngClass]="{ inactive: inactive }">
      <div class="flex-column">
        <span class="price" *ngIf="price >= 0 && showPrice"
          >${{ price | number }}</span
        >
        <p class="sales" *ngIf="quantity >= 0">{{ quantity }} Ventas</p>
      </div>
      <div class="flex-column" style="margin-bottom: 0">
        <img
          [src]="env + icon?.src"
          [alt]="icon?.alt"
          [width]="icon?.width"
          [height]="icon?.height"
          [ngStyle]="{ filter: icon?.color }"
          *ngIf="icon"
          [ngClass]="{ 'opacity-hover': icon?.cursor, cursor: icon?.cursor }"
          (click)="iconClicked.emit()"
        />
        <img
          [src]="env + '/open-eye.svg'"
          width="17.21px"
          height="13.67px"
          alt="Un ojo abierto. El item esta visible para clientes"
          style="filter: contrast(15%)"
          *ngIf="!showIcon && displaying"
          class="eyed"
        />
        <img
          [src]="!icon2?.src ? env + '/closed-eye.svg' : env + icon2.src"
          [width]="!icon2?.width ? '17.21' : icon2.width"
          [height]="!icon2?.height ? '13.67' : icon2.height"
          [alt]="
            !icon2?.alt
              ? 'Un ojo cerrado. El item no esta visible para clientes'
              : icon2.alt
          "
          *ngIf="showIcon"
          class="eyed"
          [ngClass]="{ 'opacity-hover': icon2?.cursor, cursor: icon2?.cursor }"
          (click)="iconTwoClicked.emit()"
        />
      </div>
    </div>
  </div>

  <div
    class="simpleCard"
    [ngStyle]="dynamicStyles?.simpleCard ? dynamicStyles?.simpleCard : null"
    *ngIf="type == 4"
  >
    <div
      class="dot-trio"
      *ngIf="menuCallback"
      (click)="menuCallback(itemId)"
      [ngClass]="{
        blue: !inactive,
        white: inactive && !selectable
      }"
    ></div>

    <!--MODALIDAD QUE SOLO MUESTRA LOS PRECIOS Y LAS VENTAS-->
    <div
      class="itemImg opacity-hover"
      [ngStyle]="
        dynamicStyles?.itemImg
          ? spreadOperator(dynamicStyles?.itemImg, {
              'background-image': imgURL
                ? 'url(' +
                  imgURL +
                  '), url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)' +
                  (shouldHaveFallbackImage
                    ? ', url(/assets/images/noimage.png)'
                    : '')
                : 'url(/assets/images/noimage.png)',
              'background-size': backgroundSize
            })
          : {
              'background-image': imgURL
                ? 'url(' +
                  imgURL +
                  ')' +
                  (shouldHaveFallbackImage
                    ? ', url(/assets/images/noimage.png)'
                    : '') +
                  ', url(https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/spinner2.gif)'
                : 'url(/assets/images/noimage.png)',
              'background-size': backgroundSize
            }
      "
      (click)="onClick()"
      *ngIf="!isVideo"
    >
      <img
        *ngIf="featured"
        src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/featured-googles.png"
        alt="featured item"
        class="featured-item-indicator"
      />
      <div class="heart-div">
        <img alt="heart" src="{{env}}/green-heart.png">
      </div>
    </div>

    <div
      class="itemImg opacity-hover"
      [ngClass]="{
        videoThumbnail: true
      }"
      [ngStyle]="dynamicStyles?.video"
      (click)="onClick()"
      *ngIf="isVideo"
    >
      <img
        src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/playIcon.svg"
        alt="play"
        class="playVideoIcon"
      />

      <video class="video" [src]="imgURL" [muted]="true"></video>
      <img
        *ngIf="featured"
        src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/featured-googles.png"
        alt="featured item"
        class="featured-item-indicator"
      />
    </div>

    <div
      class="info-area transition-class"
      [ngClass]="{ inactive2: inactive && !selectable, selected2: isSelected }"
      [ngStyle]="dynamicStyles?.infoArea ? dynamicStyles?.infoArea : null"
    >
      <div class="flex-row-2">
        <span
          class="name"
          *ngIf="name"
        >
          {{name}}
        </span>
        <span
          class="price"
          *ngIf="
            price >= 0 && showPrice && (itemParams?.length === 0 || !itemParams)
          "
          >${{getWhole(price)}}
          <span class="small">{{getDecimals(price)}}</span>
        </span>

        <div
          class="dynamic-choices"
          *ngIf="itemParams?.length > 0 && itemParams[0].values?.length > 0"
        >
          <div>
            <span class="quantity">
              {{ (itemParams[0].values.length || 0) + " " }}
            </span>
            opciones
          </div>
        </div>

        <div
          class="views"
          [ngClass]="{
            inactiveViews: inactive && !selectable
          }"
          *ngIf="showViews"
        >
          {{ viewsCounter }} vistas
        </div>

        <div class="flex-column" *ngIf="inactive && !selectable">
          <img
            [src]="!icon2?.src ? env + '/closed-eye.svg' : env + icon2.src"
            [width]="!icon2?.width ? '17.21' : icon2.width"
            [height]="!icon2?.height ? '13.67' : icon2.height"
            [alt]="
              !icon2?.alt
                ? 'Un ojo cerrado. El item no esta visible para clientes'
                : icon2.alt
            "
            class="closed-eye"
            [ngClass]="{
              'opacity-hover': icon2?.cursor,
              cursor: icon2?.cursor
            }"
            (click)="iconTwoClicked.emit()"
          />
        </div>

        <!--

          <div
            class="dot-trio"
            *ngIf="menuCallback"
            (click)="menuCallback(itemId)"
            [ngClass]="{
              blue: !inactive,
              white: inactive && !selectable
            }"
          >
            <div class="dot"> </div>
            <div class="dot"> </div>
            <div class="dot"> </div>
          </div>
        -->

        <p class="sales" *ngIf="quantity >= 0">{{ quantity }} Ventas</p>
      </div>

      <div class="flex-row-2" style="margin-top: 8px" *ngIf="tags?.length > 0">
        <div
          class="tags-list"
          [ngClass]="{
            invisible: inactive && !selectable
          }"
        >
          {{ showTags(tags) }}
        </div>
      </div>

      <div
        class="select-mode-radio-button"
        [ngClass]="{ radioButtonClicked: isSelected }"
        (click)="toggleSelect($event)"
        *ngIf="selectable"
      >
        <div class="icon" *ngIf="isSelected">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17.803"
            height="16.28"
            viewBox="0 0 17.803 16.28"
          >
            <path
              id="checkmark-round"
              d="M20.491,4.838a1.594,1.594,0,0,0-2.315.39l-7.7,11.264L6.237,11.9A1.585,1.585,0,0,0,3.9,11.822a1.833,1.833,0,0,0-.073,2.486S8.976,20.025,9.716,20.6s2.315-.39,2.315-.39L20.859,7.3a1.832,1.832,0,0,0-.368-2.461Z"
              transform="translate(-3.373 -4.501)"
              fill="#174b72"
            />
          </svg>
        </div>
      </div>
      <!--
        <div class="flex-column" style="margin-bottom: 0">
          <img
            [src]="env + icon?.src"
            [alt]="icon?.alt"
            [width]="icon?.width"
            [height]="icon?.height"
            [ngStyle]="{ filter: icon?.color }"
            *ngIf="icon"
            [ngClass]="{ 'opacity-hover': icon?.cursor, cursor: icon?.cursor }"
            (click)="iconClicked.emit()"
          />
          <img
            [src]="env + '/open-eye.svg'"
            width="17.21px"
            height="13.67px"
            alt="Un ojo abierto. El item esta visible para clientes"
            style="filter: contrast(15%)"
            *ngIf="!showIcon && displaying"
            class="eyed"
          />
          <img
            [src]="!icon2?.src ? env + '/closed-eye.svg' : env + icon2.src"
            [width]="!icon2?.width ? '17.21' : icon2.width"
            [height]="!icon2?.height ? '13.67' : icon2.height"
            [alt]="
              !icon2?.alt
                ? 'Un ojo cerrado. El item no esta visible para clientes'
                : icon2.alt
            "
            *ngIf="showIcon"
            class="eyed"
            [ngClass]="{ 'opacity-hover': icon2?.cursor, cursor: icon2?.cursor }"
            (click)="iconTwoClicked.emit()"
          />
        </div>
      -->
    </div>
  </div>

  <div class="simpleCard" *ngIf="type == 'ADD_NEW_ITEM'" (click)="onClick()">
    <div class="add-btn"></div>

    <span class="label"> AGREGAR ITEM </span>
  </div>
</div>
