<div class="itemContainer type{{type}}" [ngClass]="{'big-size': big}">
  <div class="marginCard" *ngIf = "type == 1">
        <div
        class="itemImg"
        [ngStyle]="{ 'background-image': 'url(' + imgURL + ')', 'background-size': backgroundSize }"
        (click)="onClick()"
      ></div>

      <div class="info-area">
          
          <div class="flexer">
              <span class="price">${{price | number}}</span>
              <img [src]="env + '/closed-eye.svg'" width="17.21px" height="13.67px" alt="Un ojo cerrado" *ngIf="showIcon" class="eyed" />
          </div>

          <div class="flexer-middle">
              <span class="income" *ngIf="income">Ingreso </span>
              <span class="income" *ngIf="income"> ${{income | number}}</span>
          </div>

          <div class="flexer">
              <span class="sales" *ngIf="quantity">{{quantity}} Ventas</span>
              <span class="stars" *ngIf="index1">{{index1 | number}} <img [src]="env + '/star.svg'" alt="Estrellas" width="13.75px" height="13.05px" class="star-icon"></span>
              <span class="total" *ngIf="index2">{{index2 | number}} <img [src]="env + '/page_print.svg'" width="9px" height="9px" class="list-icon"></span>
          </div>
      </div>

    <!-- <div
      class="itemImg"
      [ngStyle]="{ 'background-image': 'url(' + imgURL + ')' }"
      [ngClass]="{
        'gray-shadow': shaded == true,
        borderRect: borderRadius == false
      }"
      (click)="onClick()"
    ></div>
    <div *ngIf="price" class="price {{ priceAlign }}">
      <span style="font-size: 10px; height: 24px">$</span
      ><span style="font-size: 25px; margin-right: 8px">{{ price | number }}</span
      ><span style="text-align: start; font-size: 12px"
        >.00 <br />
        DOP</span
      ><span *ngIf="quantity">
        / <span class="quantity">{{ quantity }}</span></span
      >
    </div>
    <div
      *ngIf="selectable"
      (click)="toggleSelect($event)"
      [ngClass]="{ selected: isSelected }"
      class="checkBox"
      style="cursor: pointer;"
    >
      <i class="fas fa-check-circle icon"></i>
    </div> -->
  </div>

  <div *ngIf="type == 2">
    <div
      class="itemImg"
      [ngStyle]="{ 'background-image': 'url(' + imgURL + ')', 'background-size': backgroundSize }"
      [ngClass]="{
        'gray-shadow': shaded == true,
        borderRect: borderRadius == false
      }"
      style="cursor: pointer;"
      (click)="onClick()"
    >
      <div *ngIf="showBox && boxAmount != null" class="box" [ngClass]="{'left': showIcon, 'right': !showIcon}" (click)="onTopBoxClick()">
        {{boxAmount | number}}
        <img [src]="env + '/star.svg'" alt="star-icon">
      </div>
      <div *ngIf="showIcon" class="image-icon right" (click)="onIconClick()">
        <img [src]="env + '/closed-eye.svg'" alt="hide-item">
      </div>
      <div *ngIf="showSelected && isSelected && !big" class="box white middle" (click)="onBottomBoxClick()">
        En el Carrito
        <i class="fas fa-check-circle icon"></i>
      </div>
    </div>
    <div class="infoContainer two">
      <div class="wrapper">
          <div class="price {{ priceAlign }}" [style.text-align]="priceAlign" *ngIf="price && showPrice">
            ${{price | number}}
          </div>
          <p class="desc" *ngIf="big && name" style="font-size: 15px;">{{name}}</p>
          <p class="desc" *ngIf="description && showDescription">{{description}}</p>
          <p class="income" *ngIf="income">${{income | number}} Ingreso</p>
          <div
            *ngIf="selectable"
            (click)="toggleSelect($event)" 
            [ngClass]="{ selected: isSelected }" 
            class="checkBox" 
            style="cursor: pointer;"
          > 
            <i class="fas fa-check-circle icon"></i>
          </div>
      </div>
      <button class="cart" [ngClass]="{'white': isSelected}" (click)="actionator($event)" *ngIf="big">
        {{isSelected ? 'EN EL CARRITO' : 'ADICIONAR'}}
        <img *ngIf="!isSelected" [src]="env + '/carrito_blanco.svg'" width="26px" height="20px" class="carrito">
        <i *ngIf="isSelected" class="fas fa-check-circle icon"></i>
      </button>
    </div>
  </div>
</div>
