<div class="fixed-area">
	<div class="icons">
		<app-cta-buttons
			[ctaText]="'Audio'"
			[btnColor]="'#FC2727'"
			[icon]="env + '/mic.svg'"
			(click)="onClick('audio')"
		></app-cta-buttons>
		<app-cta-buttons
			[ctaText]="'Poster'"
			[btnColor]="'#40772F'"
			[icon]="env + '/image.svg'"
			(click)="onClick('poster')"
		></app-cta-buttons>
		<app-cta-buttons
			[ctaText]="'Texto'"
			[btnColor]="'#4773D8'"
			[icon]="env + '/text.svg'"
			(click)="onClick('text')"
		></app-cta-buttons>
	</div>
</div>