<div class="container">

        <app-helper-header
        [bgcolor]="'#FFFFFF'"
        [middleText]="tagID"
        [middleTextColor]="'#7B7B7B'"
        [middleTextFontSize]="'17px'"
        [middleTextFontFamily]="'SfProRegular'"
        [options]="true"
        [searchAble]="false"
        >5</app-helper-header>

    
        <div class="ws-container">

        <ng-container *ngIf="transparent">
            <div class="tws-area" (click)="letsChange()"> <!--letsChange es temporal-->
                <img alt="" [src]="imageFolder + '/whatsapp_verde.svg'" height="30.36px" width="30.06px" style="cursor: pointer;"/>
                <p class="inner-tp">Adicionar notificación al taguear la orden/venta.</p>
            </div>
        </ng-container>

        <ng-container *ngIf="!transparent">
            <div class="fws-area" (click)="letsChange()"> <!--letsChange es temporal-->
                <img alt="" [src]="imageFolder + '/whatsapp_blanco.svg'" height="30.36px" width="30.06px" style="cursor: pointer;"/>
                <p class="inner-fp">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
            </div>
        </ng-container>

    </div>
    
    <div > <!--*ngIf = "isLogged == true"-->

        <div class="orderSection">

            <div class="total-option">
                <label for="Total" class="total-sales">$4,775 Vendido</label>
                <div class="dot-trio" (click)="openDialog()">
                    <div class="dot"> </div>
                    <div class="dot"> </div>
                    <div class="dot"> </div>
                </div>
            </div>

            <ng-container  *ngFor = "let order of ordurs; index as i">

                <div class="order" > <!--*ngIf = "order.visible == true || search.value == ''"-->
                    <app-item-list [itemListContent]="order" [marginTop]="'0px'"></app-item-list>
                </div>

            </ng-container>

        </div>

    </div>
    
    
</div>