.cart {
  position: relative;
  cursor: pointer;
  img {
    height: 24px;
    width: 30px;

    &.blue {
      filter: invert(42%) sepia(29%) saturate(3571%) hue-rotate(207deg) brightness(90%) contrast(86%);
    }
  }
  span {
      position: absolute;
      background-color: #82F18D;
      color: #272727;
      padding: 2px 5px;
      border-radius: 50%;
      top: -22px;
      right: -17px;
      font-size: 12px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}