.container {
  position: sticky;
  bottom: 0;
  max-width: 500px;
  z-index: 10;

  .button {
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #27a2ff;
    color: #ffffff;
    font-family: "RobotoMedium";
    font-size: 24px;
    border: none;
    height: 77px;
    max-width: 500px;
    white-space: break-spaces;

    &.small {
      height: 30px;
      font-size: 17px;
    }
  }

  .inactive {
    display: none;
  }

  .disabled {
    border: none;
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    font-family: "RobotoMedium";
    font-size: 17px;
    border: none;
    height: 38px;
    cursor: default;
    background-color: #AFAFAF;
    z-index: 10;
    white-space: break-spaces;

    &.small {
      height: 30px;
      font-size: 17px;
    }
  }

  .disabled-fixed {
    border: none;
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    font-family: "RobotoMedium";
    font-size: 17px;
    border: none;
    height: 38px;
    cursor: default;
    background-color: #7b7b7b;
    z-index: 100;
    position: fixed;
    white-space: break-spaces;
  }
}

.fixed-container {
  width: 100%;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  z-index: 10;

  .button {
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #27a2ff;
    color: #ffffff;
    font-family: "RobotoMedium";
    font-size: 24px;
    border: none;
    height: 77px;
    white-space: break-spaces;
    .svg {
      margin: 0 12px;
      cursor: pointer;
    }
  }

  .inactive {
    display: none;
  }

  .disabled {
    border: none;
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    font-family: RobotoMedium;
    font-size: 17px;
    border: none;
    height: 38px;
    cursor: default;
    background-color: #7b7b7b;
    white-space: break-spaces;
  }
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    max-width: 30px;
    max-height: 30px;
  }
}

.button > svg > path {
  fill: #fff;
}
