<div class="container" [ngStyle]="{bottom: solo ? '0px' : '14px'}">

    <button class="mini-button-left" [style.background-color]="palette" *ngIf="mini" (click)="miniButton()" [ngStyle]="{'margin-bottom': big? '10px': ''}">
                <img [src]="env + miniIcon" alt="Botón superior izquierdo para agregar bookmarks"
                [ngStyle]="{filter: filterColor}" *ngIf="miniIcon" width="22px" height="22px">
    </button> 

    <button class="bubble left"  [ngClass]="{'big': big}" [style.background-color]="palette" (click)="leftButton()" *ngIf="left" style="margin-left: 20px;">
                <a> <i class="fas fa-chevron-left" [style.color]="fontColor" *ngIf="return"></i> </a>
                <p class="text" [style.color]="fontColor" *ngIf="text && !return">{{text}}</p>
                <img [src]="env + icon" alt="Botón izquierdo" [ngStyle]="{filter: filterColor}" *ngIf="icon"
                    width="22px" height="22px">
    </button>

    <button class="bubble right"  [ngClass]="{'big': big}" [style.background-color]="palette" [ngStyle]="{'margin-right': minis? '95px' : '20px'}"
                (click)="rightButton()" *ngIf="right">
                <p class="text" [style.color]="fontColor" *ngIf="text2">{{text2}}</p>
                <img [src]="env + icon2" alt="Botón derecho" [ngStyle]="{filter: filterColor}" *ngIf="icon2"
                width="20px" height="20px">
    </button>

    <button class="mini-button-right" [style.background-color]="palette" *ngIf="minir" (click)="miniButton()" [ngStyle]="{'margin-bottom': big? '10px': ''}">
            <img [src]="env + miniIcon2" alt="Botón superior izquierdo para agregar bookmarks"
            [ngStyle]="{filter: filterColor}" *ngIf="miniIcon2" width="22px" height="22px">
    </button>

    <button class="mini-button-side" [style.background-color]="palette" *ngIf="minis" (click)="miniButton()">
                <p class="text" [style.color]="fontColor" *ngIf="text3">{{text3}}</p>
                <img [src]="env + icon3" alt="Botón superior izquierdo para agregar bookmarks"
                [ngStyle]="{filter: filterColor}" *ngIf="miniIcon2" width="22px" height="22px">
    </button>

</div>

<!-- 
    <button class="mini-button" [style.background-color]="palette" *ngIf="mini" (click)="miniButton()">
                    <img [src]="env + miniIcon" alt="Botón superior izquierdo para agregar bookmarks"
                    [ngStyle]="{filter: filterColor}" *ngIf="miniIcon" width="22px" height="22px">
    </button> 

    <button class="bubble left"  [ngClass]="{'big': big}" [style.background-color]="palette" (click)="leftButton()">
                    <a> <i class="fas fa-chevron-left" [style.color]="fontColor" *ngIf="return"></i> </a>
                    <p class="text" [style.color]="fontColor" *ngIf="text && !return">{{text}}</p>
                    <img [src]="env + icon" alt="Botón izquierdo" [ngStyle]="{filter: filterColor}" *ngIf="icon"
                        width="22px" height="22px">
    </button>

    <button class="bubble right"  [ngClass]="{'big': big}" [style.background-color]="palette" style="margin-right: 20px;"
                (click)="rightButton()">
                  <p class="text" [style.color]="fontColor" *ngIf="text2">{{text2}}</p>
                  <img [src]="env + icon2" alt="Botón derecho" [ngStyle]="{filter: filterColor}" *ngIf="icon2"
                  width="18px" height="18px">
    </button>

    <button class="mini-button right" [style.background-color]="palette" *ngIf="mini" (click)="miniButton()">
                    <img [src]="env + miniIcon" alt="Botón superior izquierdo para agregar bookmarks"
                    [ngStyle]="{filter: filterColor}" *ngIf="miniIcon" width="22px" height="22px">
    </button> 

-->