.container{
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: auto;
    bottom: 0px;
    z-index: 1001;
}



button {
    pointer-events: all;
}

.bubble{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 15%) !important;
}
    
.right{
    right: 0px;
    left: auto;
}

.left{
    left: 0px;
    right: auto;
}

.big{
    width: 72px !important;
    height: 72px !important;
}

.mini-button-left{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: auto;
    bottom: 85px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    left: 15px;
    cursor: pointer;
}

.mini-button-right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: auto;
    bottom: 85px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    right: 15px;
    cursor: pointer;
}

.mini-button-side{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: auto;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    right: 20px;
    cursor: pointer;
}

.text{
    font-family: 'SfProMedium';
    font-size: 14px;
    margin: 4px 0 0;
}