.container{
    width: 100%;
    min-height: 100vh;
    background-color: #F6F6F6;

    .top-area{
        width: 100%;
        margin: 19px 17px 30px;
        display: flex;

        .hashtag{
            width: fit-content;
            height: 27px;
            display: flex;
            background-color: #2874AD;
            border-radius: 14px;
            margin-right: 7px;
            padding: 4px 15px;
            font-family: 'RobotoRegular';
            font-size: 15px;
            color: #FFF;
        }
    }

    .holder{
        width: fit-content;
        height: auto;
        background-color: #FFF;
        margin-bottom: 3px;
    }
}