<mat-card class="mat-elevation-z0">
  <div class="container">
    <img
      [src]="imgURL"
      (error)="imgURL = '/assets/images/noimage.png'"
      class="imgBox shadow"
      [ngStyle]="{ objectFit: imageFit ? imageFit : 'cover' }"
      alt=""
    />
    <div class="infoBox">
      <div class="title">
        <p>{{ title }}</p>
        <button *ngIf="icon">
          <img class="icon" [src]="environment + '/' + icon" />
        </button>
      </div>
      <div class="desc">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
</mat-card>
