<mat-vertical-stepper #stepper>
  <mat-step>
    <form [formGroup]="tagForm">
      <ng-template matStepLabel>Ingresa el nombre del listado</ng-template>
      <mat-form-field appearance="outline" style="margin-top: 8px">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <div *ngIf="tagForm.get('name').valid">
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ingresa el cover del listado</ng-template>
    <div>
      <app-item-images (enteredImages)="onImageInput($event)"></app-item-images>
    </div>
  </mat-step>
</mat-vertical-stepper>
