<app-helper-headerv2
  [mainText]="mainText"
  mode="basic"
  [dots]="dots"
  (returnEvent)="navigate()"
  (dotEvent)="handleDotsEvent()"
></app-helper-headerv2>
<div class="container">
  <div class="pr-25px">
    <input
      [formControl]="controller"
      class="search"
      type="text"
      placeholder="Busca por tag, articulo, referencia.."
    />
  </div>
  <ng-container [ngSwitch]="status">
    <div class="grid">
      <button
        *ngFor="let button of buttons"
        class="col"
        [style]="{
          background: option === button ? '#fff' : 'transparent',
          color: option === button ? '#000' : '#fff',
          boxShadow: option === button ? '0px 0px 4px 0px rgb(171 171 171)' : ''
        }"
        (click)="handleOption(button)"
      >
        {{ button | titlecase }}
      </button>
    </div>
    <div class="tags">
      <div *ngFor="let circle of ['','','','','']" class="tag-container">
        <div class="circle"></div>
        <p class="tag-title">#tagid</p>
      </div>
    </div>
    <ng-container *ngSwitchCase="'complete'">
      <div class="content">
        <div
          *ngFor="let item of ['', '', '']; let i = index"
          class="item"
          (click)="handleValue('')"
        >
          <div class="text-grid">
            <div class="destacada">{{i===0?'Destacadas':'Tag ID'}}</div>
            <div class="mb-3 middle">Ingreso: $IngresoID</div>
            <div class="mb-3 text-right">VER</div>
          </div>
          <p *ngIf="i===0" class="tap">
            Tap dos veces encima para destacar <br />algunas facturas.
          </p>
          <div class="card">
            <div
              *ngFor="let factura of facturas; let j = index"
              class=""
              (click)="handleValue('')"
            >
              <div class="factura">
                <div class="w-100">
                  <div class="factura-grid">
                    <span class="id">
                      {{ factura.id }}
                    </span>
                    <span class="reference">Referencia de Fecha ID</span>
                  </div>
                  <p class="input">
                    {{ factura.input }}
                  </p>
                  <p class="input">
                    {{ factura.input }}
                  </p>
                  <div class="factura-grid">
                    <span class="price">
                      {{ factura.price }}
                    </span>
                    <span class="tag"> Tag ID, Tag ID, Tag ID </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="submit">Crea UNA NUEVA FACTURA</button>
    </ng-container>
    <div class="message-container" *ngSwitchCase="'empty'">
      <p class="message">No hay resultados</p>
    </div>
    <div class="message-container" *ngSwitchDefault>
      <p class="message">Cargando...</p>
    </div>
  </ng-container>
</div>
<app-sticky-button
  *ngIf="editable"
  [mode]="'double'"
  [extra]="{
    return: true,
    returnStyles: {
      'border-right': '1.5px solid #fff',
      backgroundColor: '#2874ad'
    }
  }"
  (added)="returnScreen()"
  [customRightButtonStyles]="{
    color: '#fff',
    width: '100%',
    maxWidth: 'none'
  }"
  [customLeftButtonStyles]="{
    display: 'none'
  }"
  [text]="''"
  [text2]="text2"
  [size]="'small'"
  [bgColor]="text2 ? '#2874ad' : '#ababab'"
  (right)="handleSubmit()"
  fontSize="12px"
></app-sticky-button>
