<div class="container">
    <div class="body" (click)="actionator($event)" [ngClass]="{'body click-able': clickAble == true}">

        <div class="top">
            <div class="wrapper">
            <label for="Nombre del paquete" class="plan-name">{{package.name}}</label>
            <ng-container *ngIf="package.subtitle != ''">
                <label for="Sobre el plan" class="subtitle">{{package.subtitle}}</label>
            </ng-container>
            </div>

            <label for="Precio del plan" class="price">${{package.price}} DOP</label>
        </div>

        <div class="plan-details">
            <ng-container *ngFor="let info of package.content; let i = index">
                <label class="content">- {{package.content[i]}}</label>
            </ng-container>
        </div>
        
    </div>
</div>