<div class="container">
    <div class="body" (click)="actionator($event)" [ngClass]="{'body click-able': clickAble == true}">
        <div class="top">
            <div class="wrapper">
                <h3 for="Nombre del paquete" class="plan-name">{{package.name}}</h3>
                <ng-container *ngIf="package.description">
                    <span class="subtitle">{{package.description}}</span>
                </ng-container>
            </div>
            <h6 for="Precio del plan" class="price">${{package.price}} DOP</h6>
        </div>
        <div class="plan-details">
            <span class="content" *ngFor="let item of packageItems; index as i">
                - {{package.packageRules[i].fixedQuantity}} {{item.name}}
            </span>
        </div>
    </div>
</div>