<mat-sidenav-container class="main-container" (backdropClick)="close()">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [(opened)]="opened"
    (closed)="closed.emit()"
    (keydown.escape)="close()"
    disableClose
  >
  <div class="special" (click)="showDialog()">
    <span class="icon">
      <mat-icon>ios_share</mat-icon>
    </span>
  </div>
    <div class="navigation-main-container">
      <!-- <div class="close-btn" style="cursor: pointer;" (click)="close()">
        <span>X</span>
      </div> -->
      <div class="header-wrapper">
        <div class="left-part">
          <img
            [src]="assetsFolder + '/icon_info.png'"
            class="info-button"
            alt="open internal information"
            (click)="openMsgDialog()"
          />
    
          <div class="title">www.flores.club</div>

          <ng-container>
          </ng-container>
        </div>

        <div class="right-part">
          <div class="member">
            <!-- <div class="user-button" *ngIf="!headerService.user">
              (Invitado)
            </div> -->
          </div>
          <div class="user">
            <span *ngIf="headerService.user" (click)="openDialog()">{{userID}}</span>
            <span *ngIf="!headerService.user" (click)="enterClub()">Soy Miembro</span>
          </div>
          <div class="close" style="cursor: pointer;">
            <span (click)="close()">X</span>
          </div>
        </div>
      </div>

      <ng-container>
        <div class="link-desc" (click)="enterClub()">
          <div class="title">Capacitación para crecer</div>
          <div class="link">
            Conoce la experiencia de los diversos participantes de la cadena de suministro floral para enriquecer tus propias estrategias y operaciones
          </div>
        </div>
        <div class="link-desc" (click)="openClubDialog()">>
          <div class="title">Herramientas para automatizar procesos hasta desde el celular</div>
          <div class="link">
            Cotiza. Compra. Vende. Controla. Fideliza. Colabora.
          </div>
        </div>
        <div class="header-border" *ngIf="!headerService.user"></div>
        <div class="tabs-container" *ngIf="!headerService.user">
          <h3 class="footer-swiper-title">TESTIMONIOS</h3>
          <h3 class="footer-swiper-sub-title">A los Miembros le encanta el Club</h3>
          <!-- TABS -->
          <div class="tabs">
            <div
              class="tab"
              (click)="changeTab(i)"
              *ngFor="let tab of tabs; index as i"
              [ngClass]="{ active: tab.active }"
            >
              {{ tab.text }}
            </div>
          </div>

          <!-- SUBTABS -->
          <div
            class="subtabs"
            *ngFor="let tab of tabs; index as i"
            [ngClass]="{ active: tab.active }"
          >
            <ng-container *ngIf="tab.active">
              <div
                class="subtab"
                *ngFor="let subtab of tab.subTabs; index as j"
                (click)="changeSubtab(i, j)"
                [ngClass]="{ active: subtab.active }"
              >
                {{ subtab.text }}
              </div>
            </ng-container>
          </div>
          <!-- CONTENIDO DE SUBTABS -->
          <ng-container *ngFor="let tab of tabs; index as i">
            <ng-container *ngIf="tab.active">
              <ng-container *ngFor="let subtab of tab.subTabs; index as j">
                <ng-container *ngIf="subtab.active">
                  <div class="footer-swiper">
                    <div class="swiper-custom-container">
                      <!-- <swiper [config]="footerSwiperConfig"> -->
                        <div *ngFor="let content of subtab.content">
                          <div class="slide-content">{{ content }}</div>
            
                          <!-- <div class="blank-space"></div> -->
                        </div>
                      <!-- </swiper> -->
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
      <footer (click)="share()" class="footer no-green" [ngClass]="{'no-green': headerService.user}">{{headerService.user?"💚 Trae invitados y gana $ cada mes":"Registrate con tu correo electrónico"}}</footer>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
