<mat-sidenav-container (backdropClick)="close()">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [(opened)]="opened"
    (closed)="closed.emit()"
    (keydown.escape)="close()"
    disableClose
  >
    <div class="close" style="cursor: pointer">
      <span (click)="close()">X</span>
    </div>
    <div class="tabs">
      <div
        class="tab"
        (click)="changeTab(i)"
        *ngFor="let tab of tabs; index as i"
        [ngClass]="{ active: tab.active }"
      >
        {{ tab.text }}
      </div>
    </div>

    <div class="nav-container">
      <nav>
        <ng-container *ngFor="let tab of tabs">
          <section *ngIf="tab.active">
            <h2>{{ tab.headerText }}</h2>
            <div class="header-border"></div>

            <ul>
              <ng-container *ngFor="let link of tab.links">
                <li routerLinkActive="active" *ngIf="headerService.user">
                  <a
                    mat-button
                    [routerLink]="link.routerLink"
                    style="padding: 0px"
                  >
                    {{ link.text }}
                  </a>
                </li>
              </ng-container>
            </ul>
          </section>
        </ng-container>
      </nav>

      <div class="actions" *ngIf="tabs[0].active">
        <button mat-button (click)="signout()" *ngIf="headerService.user">
          <mat-icon>exit_to_app</mat-icon>
          Cerrar sesión
        </button>
        <button mat-button (click)="login()" *ngIf="!headerService.user">
          <mat-icon>input</mat-icon>
          Iniciar sesión
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
