.navigation-main-container {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.header-wrapper {
  display: flex;
  padding: 15px 16px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: space-between;

  .left-part,
  .right-part {
    display: flex;
    align-items: center;
  }
  
  .title {
    color: var(--fondo-de-pantallas, #f6f6f6);
    font-family: InterRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 14.72px;

    @media (max-width: 420px) {
      font-size: 15.495px;
    }
  }

  .info-button {
    width: 25.28px;
    height: 25.28px;
    flex-shrink: 0;
  }

     line-height: normal;
      margin-right: 8px;
   .tabs {
    margin-left: 11.72px;
    display: flex;
    justify-content: flex-end;
    height: fit-content;

    .tab {
      padding: 4px 13px;
      border-radius: 29px;
      border: 1px solid rgba(146, 140, 139, 0.94);
      color: #fff;
      font-family: "InterRegular";
      font-size: 16px;
      font-style: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      
      @media (max-width: 420px) {
        font-size: 13px;
      }

      &.active {
        background-color: #c4c5c3;
        font-family: InterBold;
        color: #181d17;
      }

      &:hover {
        cursor: pointer;
        background-color: #c4c5c3;
        color: #181d17;
      }
    }
  }

  .member {
    margin-right: 13px;
    display: flex;
  }

  .user-button {
    color: var(--plomito, #c4c5c3);
    font-family: InterRegular;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    @media (max-width: 420px) {
      font-size: 15.495px;
    }
  }

  .user {
    margin: 0;
    text-align: right;
    color: #c4c5c3;
    padding-right: 10px;

    span {
      font-size: 21px;
      font-family: InterRegular;
      color: #87CD9B;
      display: flex;

      &::hover {
        cursor: pointer;
      }
    }
  }

  .close {
    margin: 0;
    text-align: right;
    color: #c4c5c3;
    padding-right: 10px;

    span {
      font-size: 21px;
      font-family: InterRegular;
      color: #c4c5c3;
      display: flex;

      &::hover {
        cursor: pointer;
      }
    }
  }
}

.tabs-container {
  margin-bottom: 32px;
  margin-top: 35px;
  padding-left: 10px;
  .title {
    color: #C4C5C3;
    margin-top: 30px;
    margin-left: 11.72px;
    font-size: 16px;
  }
  .tab-question {
    font-size: 19px;
    color: white;
    font-weight: 600;
    font-family: InterRegular;
    margin: 17px 14px;
  }
  .tab-content {
    margin-left: 14px;
  }
  .tab-content-item {
    font-size: 17px;
    font-family: InterRegular;
    padding-left: 12px;
    padding-right: 12px;
    line-height: normal;
    color: white;
    margin-bottom: 12px;
    border-left: 2px solid #87CD9B;
  }
}

.tabs {
  margin-top: 1.5em;
  margin-left: 11.72px;
  display: flex;
  justify-content: flex-start;
  height: fit-content;

  .tab {
    padding: 4px 13px;
    border-radius: 29px;
    border: 1px solid rgba(146, 140, 139, 0.94);
    color: #fff;
    font-family: "InterRegular";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 420px) {
      font-size: 13px;
    }

    &.active {
      background-color: #c4c5c3;
      font-family: InterBold;
      color: #181d17;
    }

    &:hover {
      cursor: pointer;
      background-color: #c4c5c3;
      color: #181d17;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 17px;
  margin-bottom: 68px;

  h2 {
    color: #ffffff;
    font-family: InterBold;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: right;
    max-width: 90%;

    &.logged-user-header {
      color: #fff;
      text-align: center;
      font-family: InterBold;
      font-size: 18.495px;
      font-style: normal;
      line-height: normal;
      max-width: 95%;

      @media (max-width: 420px) {
        font-size: 15.495px;
      }
    }

    &.club-title {
      max-width: 98%;
      text-align: center;
    }
  }

}
.header-border {
  height: 1px;
  background-color: #7b7b7b;
  margin-bottom: 13px;
  width: calc(100% - 17px);
}

.info-button {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(102%) contrast(102%);
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #181d17;
  z-index: 999;
  max-width: 500px;
  margin: auto;

  .content {
    padding-top: 21px;
    padding-bottom: 12px;
    color: #87cd9b;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    width: 75%;
    text-align: center;
    margin: auto;
  }
}

.top-border {
  height: 1px;
  background-color: #7b7b7b;
  margin-bottom: 13px;
  width: calc(100% - 34px);
  margin: auto;
}

.nav-container {
  padding: 30px 0px;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  margin-bottom: 60px;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:not(:first-child) {
      margin-top: 8px;
    }

    a {
      color: #c4c5c3;
      font-family: InterRegular;
      font-size: 17px;
    }

    .icon {
      position: absolute;
      visibility: hidden;
      right: 17px;
    }

    &.active {
      color: #87cd9b;

      a {
        color: #87cd9b;
      }

      .icon {
        visibility: visible;
        // color: #87cd9b;
      }
    }
  }

  li.tab-content-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 12px;
  }

  .features-for-user {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 17px;

    &:not(:first-child) {
      margin-top: 26px;
    }

    h4 {
      margin: 0px;
      padding: 0px;
      color: #fff;
      text-align: center;
      font-family: InterBold;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 9px;
    }

    p {
      margin: 0px;
      padding: 0px;
      color: #fff;
      text-align: center;
      font-family: InterMedium;
      font-size: 19px;
      font-style: normal;
      line-height: normal;
    }
  }

  .text-list {
    margin-top: 15px;
    margin-left: 26px;
    list-style: inside;
    display: list-item;
    color: #fff;
    font-family: InterRegular;
    font-size: 15px;
    font-style: normal;
    line-height: normal;

    .title {
      color: #fff;
      font-family: InterBold;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #c4c5c3;
  padding: 0px;
  margin-right: 17px;

  button {
    font-family: SfProLight;
    padding: 0px;
  }
}
.sidenav {
  background-color: #181d17;
  width: 100%;
}

.footer-swiper {
  // margin-top: -97px;
  // padding-bottom: 100px;

  .swiper-custom-container {
    ::ng-deep .swiper-pagination-bullet {
      background-color: #181d17 !important;
      border: 1px solid white !important;
      width: 14px;
      height: 14px;
    }

    ::ng-deep .swiper-pagination-bullet-active {
      background-color: white !important;
      border: 1px solid white !important;
    }
  }
}

.footer-swiper-title {
  color: var(--fondo-de-pantallas, #f6f6f6);
  font-family: InterRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 26px auto;
  margin-top: 0px;
  text-align: center;
}

.slide-content {
  color: var(--plomito, #c4c5c3);
  text-align: center;
  font-family: InterRegular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 86.91%;
  margin: auto;
}

.blank-space {
  width: 100%;
  height: 75px;
}

.subtabs {
  display: flex;
  justify-content: flex-start;
  &.active {
    margin-bottom: 2em;
  }
  .subtab {
    cursor: pointer;
    margin-top: 1.5em;
    margin-left: 12px;
    color: #F6F6F6;
    font-family: InterRegular;
    font-size: 16px;
    &.active {
      padding-bottom: 3px;
      border-bottom: 2px solid #6FCF97;
    }
  }
}

footer {
  margin: auto;
  z-index: 999;
  position: fixed;
  max-width: 500px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 9px;
  padding-bottom: 3px;
  color: #181d17;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background-color: #87cd9b;
}

footer.no-green {
  background-color: #935F00;
  color: white;
}