<div class="container" [ngClass]="{ shadow: shadow }">
  <div class="top">
    <p *ngIf="title || description" class="text">
      <span *ngIf="title" class="title">{{ title }}</span
      ><br />
      <br />
      <span *ngIf="description" class="description">{{ description }}</span>
    </p>
    <img
      class="img"
      #imgContainer
      [src]="img"
      (error)="img = '/assets/images/noimage.png'"
      width="132"
      height="188"
    />
  </div>
  <div class="bottom" *ngIf="leftAmount">
    <p [ngClass]="{ center: !title && !description }" class="amount">
      <span>RD$ {{ leftAmount | number }} </span
      ><span *ngIf="rightAmount">- ${{ rightAmount | number }}</span>
      <button class="cart-button inactive" *ngIf="cartButton">Adiciónalo a mi <span><img [src]="env + '/carrito_blanco.svg'" alt=""></span></button>
    </p>
  </div>
</div>
