<div style="padding: 5px; ">
  <div class="container" [ngClass]="{ shadow: shadow}">
      <div class="top">
        <p *ngIf = "title || description" class="text">
          <span *ngIf = "title" class="title">{{title}}</span><br>
          <br>
          <span *ngIf = "description" class="description">{{description}}</span>
        </p>
        <img
          class="img"
          #imgContainer 
          [src]="img"
          (error)="img = '/assets/images/noimage.png'" 
          [ngStyle]="{ height: '100%', width: (imgContainer.clientHeight * 7) / 10 + 'px'}">
      </div>
      <div class="bottom" *ngIf = "leftAmount">
        <p  [ngClass]="{ center: !title && !description}"class="amount"><span>RD${{leftAmount}} </span><span *ngIf = "rightAmount">- ${{rightAmount}}</span></p>
      </div>
  </div>
</div>
