<div class="container" [ngClass]="{ shadow: shadow }">
  <a
    *ngIf="redirectionParams"
    [routerLink]="redirectionParams.link"
    [queryParams]="redirectionParams.param"
  >
    <ng-container [ngTemplateOutlet]="cardContent"></ng-container>
  </a>
  <ng-container
    *ngIf="!redirectionParams"
    [ngTemplateOutlet]="cardContent"
  ></ng-container>
  <div class="bottom" *ngIf="leftAmount">
    <p
      [ngClass]="{ center: !title && !description }"
      class="amount"
      [ngClass]="{
        hasCartButton: cta
      }"
    >
      <span>RD$ {{ leftAmount | number }} </span
      ><span *ngIf="rightAmount">- ${{ rightAmount | number }}</span>
      <span *ngIf="viewsCounter" class="views">{{ views }} vistas</span>
      <button
        class="cart-button"
        [ngClass]="{ active: ctaActive }"
        (click)="emitClick()"
        *ngIf="cta"
      >
        {{ ctaActive ? "Está dentro de mi" : "Adiciónalo a mi" }}
        <span><img [src]="env + '/carrito_blanco.svg'" alt="" /></span>
      </button>
    </p>
  </div>
</div>

<ng-template #cardContent>
  <div class="top">
    <p *ngIf="title || description" class="text">
      <span *ngIf="title" class="title">{{ title }}</span
      ><br />
      <br />
      <span *ngIf="description" class="description">{{ description }}</span>
    </p>
    <img
      class="img"
      #imgContainer
      [src]="img"
      (error)="img = '/assets/images/noimage.png'"
    />
  </div>
</ng-template>
