<div class="container">
  <app-helper-headerv2
    [mode]="'center'"
    [mainText]="{
      text: 'Pick Your Merchant'
    }"
    [icon]="{
      src: '/person.svg',
      width: 23,
      height: 23,
      filter:
        'invert(100%) sepia(100%) saturate(2%) hue-rotate(96deg) brightness(125%) contrast(201%)',
      cursor: 'none'
    }"
    [returnAble]="false"
  ></app-helper-headerv2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!admin">
    <input type="password" id="password" name="password" placeholder="Password.." ngModel required>
    <button type="submit">Submit</button>
  </form>
  <div class="merchant-list" *ngIf="admin">
    <button class="btn-click" (click)="adminLogin(i)" *ngFor="let merchant of merchantList; index as i">
        <h1>{{merchant.name}}</h1>
    </button>
  </div>
</div>
