<div class="container">
  <div class="header">
    <div class="flex">
      <mat-icon>close</mat-icon>
      <p class="header-title">NombreID para cotizar y vender localmente</p>
    </div>
    <img src="../../../../../assets/icons/triangle-black.svg" />
  </div>
  <div class="content">
    <div class="content-title">
      Esta plataforma te pone al frente de floristas que necesitan exactamente
      lo que ofreces. Cada vez que un florista de tu localidad busque flores, tu
      producto y precio se mostrarán, facilitando transacciones rápidas y
      eficientes. Tu trabajo será simplemente mantener actualizada la
      información del producto y el inventario. Recibirás las órdenes según
      <strong> tu promesa. </strong>
    </div>
    <div class="content-image-container">
        <img src="../../../../../assets/images/noimage.png" />
    </div>
    <div class="content-price-container">
        <p>Precio*</p>
        <input placeholder="$00.00"/>
    </div>
    <div class="content-inventary-container">
        <p>Inventario</p>
        <input placeholder="0"/>
        <p class="content-inventary-detail">
            No se está mostrando a Floristerias
        </p>
    </div>
    <p class="content-optionals-fuctions">
        FUNCIONALIDADES OPCIONALES
    </p>
    <div class="content-optional-function">
        <p>
            Costo para el control de beneficios
        </p>
        <mat-icon>add_circle</mat-icon>
    </div>
  </div>
</div>
<div class="footer">
    <mat-icon>more_horiz</mat-icon>
</div>
