<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="title" (click)="modifyTitle()">
      <span *ngIf="isPrincipal">{{ title }}</span>
      <span *ngIf="!isPrincipal" style="cursor: pointer">{{ title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      <span *ngIf="showIcon">Icono</span>
      {{ subtitle }}
    </mat-card-subtitle>
    <div style="flex: 1"></div>
    <div class="description-extra">
      <div class="pricing" (click)="modifyPrice()">
        <span *ngIf="isPrincipal">${{ pricing | number }}</span>
        <span *ngIf="!isPrincipal" style="cursor: pointer">
          (${{ pricing | number }})
        </span>
      </div>
      <div class="quantity-items" *ngIf="isPrincipal">
        <span>{{ totalOrder }} artículos</span>
      </div>
    </div>
  </mat-card-header>
</mat-card>
