.card {
  padding: 12px;
  border-radius: 6px;
  box-shadow: none;
}
.description,
.description-extra {
  display: flex;
  flex-direction: column;
}

.title {
  color: #272727;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &.active {
    cursor: pointer;
  }
}
.subtitle {
  margin-bottom: 0;
  text-align: left;
  color: #7b7b7b;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
}
.pricing {
  font-size: 17px;
  font-style: normal;
}
.quantity-items,
.subtitle {
  font-size: 15px;
  font-style: italic;
}
.pricing,
.quantity-items {
  color: #7b7b7b;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
}
::ng-deep .mat-button-wrapper {
  padding: 0 !important;
}
