<div class="container-v2" *ngIf="dateId">
  <app-helper-header
    *ngIf="showHeader"
    [basic]="false"
    [back]="true"
    middleTextTransform="uppercase"
    middleText="información de la orden"
    middleTextColor="#7B7B7B"
    middleTextFontFamily="SfProRegular"
    middleTextFontSize="17px"
    [bgcolor]="'transparent'"
    [searchAble]="false"
    (onClose)="back()"
  >
  </app-helper-header>
  <div class="provider-info-wrapper">
    <app-helper-headerv2
      mode="center"
      [navtext]="'Codigo: '+dateId"
    ></app-helper-headerv2>
    <app-header-info
      [profileImage]="providerData.image"
      [title]="providerData.headline"
      [description]="
        name
          ? 'Vendió a ' + name[0].toUpperCase() + name.substr(1).toLowerCase()
          : ''
      "
      [description2]="'el '+date"
      [socials]="providerData.socials"
    ></app-header-info>
  </div>

  <app-page-component-tabs
    [tabsOptions]="tabsOptions"
    (changeValue)="wichName($event)"
  ></app-page-component-tabs>

  <div
    class="content"
    *ngIf="comprado"
    style="padding: 0; padding-left: 24px;"
  >
    <div class="list-items">
      <ng-container *ngIf="!existPackage">
        <ng-container *ngFor="let item of items; let i = index">
          <div class="list-item">
            <ng-container
              *ngIf="item.item.images.length > 0; else elseTemplate"
            >
              <img
                [src]="item.item.images[0]"
                alt="no-image"
                class="image-item"
              />
            </ng-container>
            <ng-template #elseTemplate>
              <div class="list-square"></div>
            </ng-template>

            <div class="list-item-content">
              <div class="item">
                <p class="title">{{ item.item.name }}</p>
                <p class="price" *ngIf="!existPackage">
                  <ng-container *ngIf="item.customizer?._id; else pricing">
                    ${{ price | number: "1.0-2" }}
                  </ng-container>
                  <ng-template #pricing> ${{ item.item.pricing | number: "1.0-2" }} </ng-template>
                  DOP
                </p>
                <div class="bottom">
                  <p class="b-text">
                    <!--AQUI IBAN LOS DUMMY TEXT, AQUI VA ALGO-->
                    Cantidad: {{ item.amount | number }}
                  </p>
                  <p class="b-text">
                    <!--AQUI IBAN LOS DUMMY TEXT, AQUI VA ALGO-->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="items.length !== i + 1" class="line"></div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="existPackage">
        <div class="list-items">
          <div class="list-item">
            <img
              [src]="order.itemPackage.images[0]"
              alt="no-image"
              class="image-item"
            />
            <div class="list-item-content">
              <div class="item">
                <p class="title">{{ order.itemPackage.name }}</p>
                <div class="bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- ---------------------------------- -->

  <div class="content" *ngIf="escenarios">
    <ng-container *ngIf="itemsExtra.length > 0; else elseTemplate">
      <div class="squares">
        <ng-container *ngFor="let item of itemsExtra">
          <ng-container *ngIf="item.images.length > 0; else elseTemplate">
            <!-- <div [style.background-image]="'url(' + item.images[0] + ')'" [style.width.%]="100" [style.backgroundSize]="'cover'" [style.height.%]="100"></div> -->
            <img [src]="item.images[0]" alt="no-image" class="item-extra" />
          </ng-container>
          <ng-template #elseTemplate>
            <div class="square"></div>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="squares">
        <div class="square"></div>
        <div class="square"></div>
      </div>
      <div class="squares">
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </ng-template>
  </div>
  <!-- <app-provider-info providerId="ProviderID"></app-provider-info> -->

  <!--Reservación (en progreso)-->

  <div class="content" *ngIf="reservacion">
    <p class="title">Reservación</p>

    <div *ngIf="reservationItem" class="date-wrapper">
      <div class="date2">{{ reservationItem.description }}</div>
    </div>
  </div>

  <div class="content" *ngIf="address">
    <ng-container *ngIf="!fotodavitte; else sesion"> <p class="top-text">Lugar de entrega:</p> </ng-container>
    <ng-template #sesion> <p class="top-text">Lugar de la sesión:</p> </ng-template>
    <div class="text-container">
      <ng-container *ngIf="order.items[0].deliveryLocation.city; else pickUp">
        {{ order.items[0].deliveryLocation.street }},
        {{ order.items[0].deliveryLocation.city }}, República Dominicana
      </ng-container>
      <ng-template #pickUp>
        {{ order.items[0].deliveryLocation.nickName }}
      </ng-template>
    </div>
    <ng-container *ngIf="order.items[0].deliveryLocation.note">
      <div class="target">
        <p class="top-text">Nota:</p>
        <div class="text-container" style="margin-bottom: 60px">
          {{ order.items[0].deliveryLocation.note }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="content-customizer" *ngIf="personalizacion && customizer">
    <table>
      <tr *ngFor="let detail of customizerDetails">
        <th>{{detail.name}}</th>
        <td>{{detail.value}}</td>
      </tr>
    </table>
    <div class="img-container" *ngIf="customizer.preview">
      <img class="img" [src]="customizer.preview" alt="" />
    </div>
  </div>

  <div *ngIf="mensajeRegalo && isValidMessage">
    <app-gift-message
      [data]="message"
      [isPreview]="true"
      [message]="currentMessage"
    ></app-gift-message>
  </div>

  <div *ngIf="pagoView">
    <div class="pagoView">
      <div class="payment-list">
        <div class="payment-card">
          <div class="price">
            <p class="total" *ngIf="price">${{ price | number: "1.0-2" }}</p>
          </div>
          <p class="payment-type">Total Facturado en DOP</p>
        </div>
        <div class="payment-card">
          <div class="price">
            <p class="total" *ngIf="totalPayed">${{ totalPayed | number: "1.0-2" }}</p>
          </div>
          <p class="payment-type">Total Pagado en DOP</p>
        </div>
      </div>
      <h3 class="payments-title">Pagos realizados</h3>
      <div *ngFor="let item of ocrPayments">
        <app-item-list [itemListContent]="item" [marginTop]="'0px'"></app-item-list>
      </div>
    </div>
  </div>
</div>
