.container {
  min-height: 100vh;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;

  header {
    background-color: #fff;
    padding: 15px 17px;
    display: flex;
    align-items: center;
    color: #181d17;
    font-family: InterBold;
    box-shadow: 0px 4px 5px 0px rgba(123, 123, 123, 0.2);

    .close {
      cursor: pointer;
      color: #c4c5c3;
      font-size: 24px;
      font-family: InterLight;
    }

    h2 {
      margin: 0px;
      padding: 0px;
      font-size: 15px;
      margin-left: 11px;
    }

    .options-wrapper {
      margin-left: auto;
      display: flex;
      column-gap: 16px;
    }
  }

  main {
    padding: 19px;
    padding-top: 30px;
    padding-bottom: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &.existingItemContainer {
      padding-top: 18px;
    }

    .intro-text {
      color: #7b7b7b;
      text-align: center;
      font-family: InterRegular;
      font-size: 17px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0px;
      margin-bottom: 40px;
    }

    .img-input {
      width: 146px;
      height: 166px;
      flex-shrink: 0;
      border-radius: 4px 10px 4px 4px;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      img {
        filter: invert(98%) sepia(0%) saturate(7422%) hue-rotate(181deg)
          brightness(82%) contrast(88%);
      }
    }

    .price-wrapper {
      border-radius: 4px;
      overflow: hidden;
      overflow-x: scroll;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: white;
      margin-bottom: 8px;
      width: 100%;
      padding: 13px;
    }

    .field-text {
      border-radius: 4px;
      background: #fff;
      padding: 13px;
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      position: relative;

      &.hover {
        &:hover {
          cursor: pointer;
        }
      }

      label {
        color: #000;
        font-size: 13px;
        font-family: InterLight;
        font-style: italic;
        font-weight: 300;
        margin-bottom: 10px;
      }

      input,
      textarea,
      span {
        border: none;
        font-size: 17px;
        font-family: InterBold;

        &::placeholder {
          color: #7b7b7b;
        }

        &:disabled {
          background-color: #fff;
          color: #7b7b7b;
        }
      }

      textarea {
        min-height: 71px;
        resize: vertical;
      }

      h6 {
        color: #000;
        font-size: 13px;
        font-family: InterLight;
        font-style: italic;
        font-weight: normal;
        margin: 0px;
        margin-bottom: 10px;
      }

      h4 {
        color: #7b7b7b;
        font-size: 17px;
        font-family: InterBold;
        font-style: normal;
        line-height: normal;
        margin: 0px;
      }

      .icon-button {
        position: absolute;
        float: right;
        bottom: 5px;
        right: 10px;
        background: none;
        border: 0;
        img {
          cursor: pointer;
          width: 20px;
        }
      }
    }

    .optional-stuff {
      margin-top: 52px;

      h3 {
        color: #000;
        font-size: 13px;
        font-family: InterRegular;
        margin: 0px;
        font-weight: normal;
        margin-bottom: 12px;
      }

      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 14px 18px 13px 18px;
        border-radius: 4px;
        background: #fff;
        margin-top: 12px;

        span {
          color: #000;
          font-size: 17px;
          font-family: InterLight;
          font-style: italic;
        }

        img:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.no-shadows {
  box-shadow: none !important;
}

::ng-deep.mat-expansion-panel {
  box-shadow: unset !important;
  background-color: #fff !important;
  margin-bottom: 8px !important;
}

::ng-deep.mat-expansion-panel-header:hover {
  background-color: #fff !important;
}

::ng-deep.mat-expansion-panel-header {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  padding: 14px 18px 13px 18px !important;
  border-radius: 4px !important;
  background: #fff;

  span {
    color: #000;
    font-size: 17px;
    font-family: InterRegular;
    font-style: italic;
  }
}

.layout-row {
  margin-top: 8px;
}

.layouts-options {
  display: flex;
  gap: 10px;

  .image-layout {
    min-width: 100px;
    width: 30vw;
    max-width: 150px;
  }
}

.image-layout-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  input {
    margin-top: 10px;
  }
}

.metrics-title {
  color: #181d17;
  font-size: 17px;
  font-family: InterBold;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  margin-bottom: 35px;
}

.metric {
  display: flex;
  flex-direction: column;
  padding: 13px;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 6px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  h4 {
    color: #7b7b7b;
    font-size: 17px;
    font-family: InterBold;
    font-weight: 600;
    margin: 0px;
  }

  p {
    margin-top: 15px;
    color: #7b7b7b;
    font-size: 17px;
    font-family: InterRegular;
    font-weight: 400;
    margin: 0px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  background-color: #87cd9b;
  padding: 11px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  button {
    border: none;
    background-color: #87cd9b;
    font-size: 17px;
    color: #181d17;
    font-family: InterMedium;

    &:hover {
      cursor: pointer;
    }
  }
  .left {
    font-family: InterRegular;
  }

  .right {
    font-family: InterBold;
  }

  &.existingItem {
    background-color: #fff;

    button {
      background-color: #fff;
      color: #181d17;
    }
  }
}

.disabled-item-container {
  height: 53px;
  width: 100%;
  color: #f6f6f6;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
  border-radius: 7px;
  background: #936105;
}

//REDISEÑO

section {
  margin-bottom: 40px;

  .section-title {
    color: #000;
    font-family: InterLight;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;
  }

  .item-field {
    border-radius: 4px;
    background: #fff;
    padding: 13px 18px;
    padding-right: 16.43px;
    display: flex;
    justify-content: space-between;

    &.empty {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &:not(:last-child) {
      margin-bottom: 9px;
    }

    &:hover {
      cursor: pointer;
    }

    .field-name {
      color: #000;
      font-family: InterLight;
      font-size: 17px;
      font-style: italic;
      font-weight: 300;
      line-height: normal;
    }

    .add-icon:hover {
      cursor: pointer;
    }
  }
}

.notification-limit {
  color: #7b7b7b;
  font-family: InterLight;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  margin-top: 6px;
}

.content-inventary-detail {
  color: #7b7b7b;
  font-family: InterLight;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  margin-top: 6px;
}

.content-optionals-fuctions {
  color: #000;
  font-family: InterLight;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 70px;
  margin-bottom: 12px;
}

.delete-icon {
  margin-left: auto;
  margin-top: -2px;

  &:hover {
    cursor: pointer;
  }
}

.recent-item-info {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  color: #181d17;
  text-align: center;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.bubble-button-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  max-width: 500px;
  bottom: 52px;
  display: flex;
  justify-content: flex-end;
}

.bubble-button {
  z-index: 999;
  margin-right: 26px;
  width: 63px;
  height: 63px;
  background-color: #87cd9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  img {
    transform: rotate(180deg);
    width: 25.28px;
    height: 25.28px;
  }
}


::ng-deep .confirmation-dialog .mat-dialog-container {
  padding: 24px !important;
  background: #fff !important;
}