.container{
    background-color: #f6f6f6;
    min-height: 100vh;
    & .admins-options{
        height: 56px;
        background-color: white;
        display: flex;
        color: #7B7B7B;
        justify-content: space-around;
        align-items: center;
    }
}