<div
  class="top-flex"
  style="
    position: fixed;
    max-width: 500px;
    width: 100%;
    z-index: 100;
    background-color: #181d17;
    padding: 20px;
  "
  *ngIf="currentView === 'ALL_ITEMS'"
>
  <div class="top-flex" style="cursor: pointer" (click)="back()">
    <mat-icon class="back-icon"> arrow_back_ios </mat-icon>
    <span class="back-text">www.floristerias.club</span>
  </div>

  <mat-icon [ngStyle]="{ color: 'white' }" (click)="sendWhatsappToAppOwner()">add</mat-icon>

  <span
    class="selected-items-label"
    (click)="changeView()"
    *ngIf="selectedItems.length"
  >
    {{ selectedItems.length }} seleccionados
  </span>
</div>

<div class="container" [formGroup]="itemsForm">
  <ng-container [ngSwitch]="currentView">
    <ng-container *ngSwitchCase="'ALL_ITEMS'">
      <ng-container *ngIf="items.length > 0 && supplierMode">
        <button
          class="add-button"
          (click)="openFormForField()"
          style="margin-left: 0px"
        >
          <span>Agrega el nombre del producto</span>
          <img
            src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/plus_button.svg"
            class="add-button-icon"
            alt="add item"
          />
        </button>
      </ng-container>

      <p class="title">
        {{
          !supplierMode
            ? "Selecciona los artículos de tu interés"
            : "Selecciona el artículo que le vendes a floristerias:"
        }}
      </p>
      <div class="search-bar-container">
        <div class="search-bar-icon-container">
          <mat-icon>search</mat-icon>
        </div>
        <input type="text" [formControlName]="'searchbar'" />
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'SELECTED_ITEMS'">
      <div class="top-flex">
        <span (click)="changeView()" style="cursor: pointer"
          >Incluye más artículos</span
        >
        <span (click)="submit()" style="cursor: pointer">Salva el carrito</span>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="items.length === 0 && supplierMode">
    <button class="add-button" (click)="openFormForField()">
      <span>Agrega el nombre del producto</span>
      <img
        src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/plus_button.svg"
        class="add-button-icon"
        alt="add item"
      />
    </button>
  </ng-container>

  <div class="items-container" *ngIf="itemsToShow.length > 0">
    <div
      class="item"
      *ngFor="let item of itemsToShow; let i = index"
      [formArrayName]="'checkboxes'"
      (click)="
        !supplierMode ? null : createItemBasedOnExistingSupplierItems(item)
      "
    >
      <ng-container
        *ngIf="
          item.images?.length && isVideoWrapper(item.images[0].value);
          else images
        "
      >
        <div
          class="item-card"
          style="background-color: black"
          (click)="!supplierMode && goToArticleDetail(item)"
        >
          <img
            src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/playIcon.svg"
            alt="play"
            (click)="playVideoOnFullscreen('media' + i)"
            class="playVideoIcon"
            style="
              padding: 1.5rem !important;
              z-index: 99;
              z-index: 99;
              left: 0;
              right: 0;
              max-width: 80px;
              min-width: 70px;
            "
          />

          <video
            class="video-content"
            [id]="'media' + i"
            [muted]="true"
            [src]="item.images[0].value"
          ></video>
        </div>
      </ng-container>

      <ng-template #images>
        <div
          (click)="!supplierMode && goToArticleDetail(item)"
          class="item-card"
          [ngStyle]="{
            backgroundImage: item.images?.length
              ? 'url(' + item.images[0].value + ')'
              : 'url(/assets/images/noimage.png)',
            backgroundRepeat: 'no-repeat',
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }"
        ></div>
      </ng-template>

      <div class="item-text">{{ item.name }}</div>
      <input
        class="checkbox"
        type="checkbox"
        [formControlName]="filteredItemIndexInTheFullItemArray[i]"
        *ngIf="
          createdCheckboxes && currentView === 'ALL_ITEMS' && !supplierMode
        "
      />
    </div>
  </div>
</div>
