textarea {
  height: 100px;
  width: 100%;
  font-family: SFProLight;
  color: #7b7b7b;
  font-style: italic;
  font-size: 17px;
  padding: 28.5px 25px;
  resize: none;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 3px 6px rgba(#000000, 0.16);
  overflow: hidden;
}

.cards {
  width: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 3px 6px rgba(#000000, 0.16);
  padding: 18.5px 20px 17.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  .card {
    height: 141.05px;
    width: 100%;
    max-width: 125px;
    margin-bottom: 5px;
  }
}
