<textarea *ngIf="default">
  Incluyes fotos, memes, videos, música o chistes de 
  la Inteligencia Artificial.
</textarea>

<div class="cards" *ngIf="!default">
  <div class="card" *ngFor="let slide of slides; index as i">
    <div class="itemContainer">
      <!--
              <div
        *ngIf="imageFiles.includes(gridItem._type)"
        class="imgBox"
        [ngStyle]="{
          background:
            'url(' + gridItem.background + ') #272727 no-repeat  center/cover'
        }"
      ></div>
      <video
        [src]="gridItem.background"
        *ngIf="videoFiles.includes(gridItem._type)"
        src="videoFiles.background"
      ></video>
      <div class="labelBox"></div>
      <p class="text">{{ gridItem.text }}</p>
      <div class="label">{{ gridItem.title }}</div>
      <div class="circleButton">
        <img class="icon" [src]="environment + '/dots-black.svg'" />
      </div>
      -->
    </div>
  </div>
</div>
