<textarea *ngIf="default">
  Incluyes fotos, memes, videos, música o chistes de 
  la Inteligencia Artificial.
</textarea>

<div class="cards" *ngIf="!default">
  <div class="card" *ngFor="let item of tags; index as i">
    <app-general-item
      [tag]="item"
      [entity]="'TAG'"
      [mainColor]="'#b17608'"
      [showIconForTagStatus]="true"
      [statusIcon]="null"
      [textColor]="'#272727'"
      [titleStyles]="{
        textAlign: 'center',
        width: '100%'
      }"
      [topInnerButtonStyles]="{
        display: 'none'
      }"
    >
    </app-general-item>
  </div>
</div>
