.wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 8px;
  .title {
    font-size: 17px;
    font-family: RobotoMedium;
    color: #7b7b7b;
  }
  .edit {
    margin-left: auto;
    cursor: pointer;
  }
}

textarea {
  height: 100px;
  width: 100%;
  font-family: SFProRegular;
  color: #000000;
  font-size: 17px;
  padding: 28.5px 25px;
  resize: none;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 3px 6px rgba(#000000, 0.16);
  margin-bottom: 43px;
  overflow: hidden;
}

.cards {
  width: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 3px 6px rgba(#000000, 0.16);
  margin-bottom: 43px;
  padding: 18.5px 20px 17.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  .card {
    height: 141.05px;
    width: 100%;
    max-width: 125px;
    margin-bottom: 5px;
  }
}

.italic {
  font-family: SFProLight;
  color: #7b7b7b;
  font-style: italic;
}
