<div class="container">
    <app-helper-headerv2
    [mode]="'center'"
    [bgColor]="'#27A2FC'"
    [navtext]="'Activar Mi Club'"
	[shopcart]="false"
	[whatsapp]="false"
	[plus]="false"
	[upload]="false"
    ></app-helper-headerv2>

    <div class="top-uploads">

        <div class="image-upload">
            <div class="center-circle">
                <label for="image" class="plus">+</label>
            </div>
        </div>

        <div class="name-upload">
            <label for="Name" class="top-name">{{merchantName}}</label>
            <img [src]="env + '/pencil.svg'" alt="NoImage :'(">
        </div>

        <div class="desc-upload">
            <p class="top-desc">{{merchantDescription}}</p>
            <img [src]="env + '/pencil.svg'" alt="NoImage :'(">
        </div>

    </div>

    <form #contactForm="ngForm" >

        <div class="contact-inputs">

            <div class="form-inputs whatsapp">
                <div style="display: flex;" class="in">
                    <img [src]="env + '/whatsapp_blanco.svg'" alt="NoImage :'(" class="icon ws">
                    <label for="whatsapp" class="form-label">WHATSAPP DE VENTAS (REQUERIDO)</label>
                </div>
                <input type="text" class="form-input" name="whatsapp" ngModel required>
                <label for="Agregar campo" class="add-whatsapp">Adiciona otro WhatsApp de contacto al cliente <span class="mini-plus">+</span></label>
            </div>

            <div class="form-inputs instagram">
                <div style="display: flex;" class="in">
                    <img [src]="env + '/whatsapp_blanco.svg'" alt="NoImage :'(" class="icon ins">
                    <label for="instagram" class="form-label">INSTAGRAM (OPCIONAL)</label>
                </div>
                <input type="text" class="form-input" name="instagram" ngModel>
                <label for="Agregar campo" class="add-instagram">Adiciona otro url de contacto <span class="mini-plus">+</span></label>
            </div>

            <div class="form-inputs telefono">
                <div style="display: flex;" class="in">
                    <img [src]="env + '/whatsapp_blanco.svg'" alt="NoImage :'(" class="icon pnmbr">
                    <label for="telefono" class="form-label">TELÉFONO (OPCIONAL)</label>
                </div>
                <input type="text" class="form-input" name="phonenumber" ngModel>
                <label for="Agregar campo" class="add-telefono">Adiciona otro teléfono de contacto al cliente <span class="mini-plus">+</span></label>
            </div>

            <div class="form-inputs direccion">
                <div style="display: flex;" class="in">
                    <img [src]="env + '/whatsapp_blanco.svg'" alt="NoImage :'(" class="icon addr">
                    <label for="direccion" class="form-label">DIRECCIÓN (OPCIONAL)</label>
                </div>
                <input type="text" class="form-input" name="address" ngModel>
                <label for="Agregar campo" class="add-direccion">Adiciona otra dirección <span class="mini-plus">+</span></label>
            </div>

        </div>
        
    </form>

    <div class="mid-area">
        <label for="Informacion de cuenta" class="account-label">INFORMACIÓN DE LA CUENTA BANCARIA</label>
        <label for="importante" class="account-important">(aquí recibirás los pagos)</label>
    </div>

    <form #accountInfo="ngForm" >

        <div class="contact-inputs">

            <div class="form-inputs bank-name">
                <label for="whatsapp" class="form-label" id="bn" style="margin-bottom: 25px;">NOMBRE DEL BANCO</label>
                <input type="text" class="form-input" name="bank-name" ngModel required>
            </div>

            <div class="form-inputs bank-number">
                <label for="whatsapp" class="form-label" id="bnm" style="margin-bottom: 25px;">NO. DE CUENTA</label>
                <input type="text" class="form-input" name="bank-number" ngModel required>
            </div>

            <div class="form-inputs bank-accountant">
                <label for="whatsapp" class="form-label" id="bacc" style="margin-bottom: 25px;">TITULAR</label>
                <input type="text" class="form-input" name="account-owner" ngModel required>
            </div>

            <div class="form-inputs bank-accountant-doc">
                <label for="whatsapp" class="form-label" id="bdoc" style="margin-bottom: 25px;">DOC. DE IDENTIDAD</label>
                <input type="text" class="form-input" name="owner-docId" ngModel required>
                <label for="Agregar campo" class="add-bank">Adiciona otra cuenta bancaria <span class="mini-plus">+</span></label>
            </div>


        </div>

    </form>

    <app-sticky-button
    [mode]="active == true ? 'basic' : 'disabled'"
    [text]="'ACTIVA'"
    ></app-sticky-button>

</div>