.container{
    width: 100%;
    min-height: 100vh;

    .top-uploads{
        margin-top: 56px;
        margin-bottom: 77px;
        display: flex;
        flex-direction: column;

        .image-upload{
            display: flex;
            margin: 0 auto;
            margin-bottom: 18px;

            .center-circle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 101px;
                height: 101px;
                background-color: #EBEBEB;
                border-radius: 50%;
                cursor: pointer;

                .plus{
                    font-family: 'RobotoMedium';
                    font-size: 44px;
                    color: #4773D8;
                    cursor: pointer;
                }
            }
        }

        .name-upload{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 35px;

            .top-name{
                display: flex;
                margin-right: 31.4px;
                font-family: 'SfProBold';
                font-size: 25px;
                color: #2E2E2E;
            }
        }

        .desc-upload{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 7px;
            text-align: center;
            font-family: 'SfProRegular';
            font-size: 16px;
            color: #343434;

            .top-desc{
                max-width: 200px;
                margin-right: 7px;
                text-align: center;
                font-family: 'SfProRegular';
                font-size: 16px;
                color: #343434;
            }
        }
    }

    .mid-area{
        display: flex;
        flex-direction: column;
        margin-left: 12%;
        margin-bottom: 50.1px;

        .account-label{
            font-family: 'SfProBold';
            font-size: 16px;
            color: #2E2E2E;
            text-align: left;
        }

        .account-important{
            font-family: 'SfProRegular';
            font-size: 14px;
            color: #2E2E2E;
            text-align: left;
        }
    }
    
}

.contact-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85.4px;

    .form-inputs{
        width: 100%;
        display: flex;
        flex-direction: column;

        .in{
            align-items: center;
            margin-left: 12%;
            margin-bottom: 25px;
        }

        .form-label{
            font-family: 'SfProRegular';
            font-size: 14px;
            color: #7B7B7B;
            text-align: left;
        }

        .icon{
            margin-right: 11px;
            filter: invert(50%) sepia(15%) saturate(13%) hue-rotate(3deg) brightness(93%) contrast(89%);
        }

        .form-input{
            width: 76.168%;
            height: 56px;
            border: solid 1px #E0E0E0;
            border-radius: 18px;
            font-family: 'SfProMedium';
            font-size: 14px;
            color: #0B1F38;
            margin: 0 auto;
            margin-bottom: 12px;
            box-shadow: inset 0px 1px 4px 2px rgba(0, 0, 0, 15%);
            text-indent: 15px;
        }

        .add-whatsapp,
        .add-instagram,
        .add-telefono,
        .add-direccion,
        .add-bank{
            font-family: 'SfProMedium';
            font-size: 14px;
            color: #27A2FC;
            margin-right: 12%;
            text-align: right;
            cursor: pointer;

            .mini-plus{
                font-family: 'SfProBold';
            }
        }

    }

    .whatsapp,.telefono{
        margin-bottom: 77px;
    }

    .instagram{
        margin-bottom: 71px;
    }

    .direccion{
        margin-bottom: 85px;
    }

    .bank-name,
    .bank-number,
    .bank-accountant,
    .bank-accountant-doc{
        margin-bottom: 55px;
    }

    #bn{
        margin-left: 12%;
    }
    #bnm{
        margin-left: 12%;
    }
    #bacc{
        margin-left: 12%;
    }
    #bdoc{
        margin-left: 12%;
    }
}