* {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 15px 20px;
  background-color: #293628;

  button {
    all: unset;
    cursor: pointer;
  }

  .arrows {
    top: 10px;
    left: 50%;
    position: absolute;
    img {
      filter: invert(89%) sepia(13%) saturate(1510%) hue-rotate(64deg)
        brightness(96%) contrast(97%);
    }
  }

  .add {
    margin-left: auto;
    color: #fff;
    font-size: 13px;
    font-family: SFProBold;
  }
}
