<header class="header">
  <button class="arrows">
    <img [src]="env + '/arrow-double-up-black.svg'" alt="" />
  </button>

  <button class="add" (click)="goToLinkRegister()">Adiciona otro enlace</button>
</header>

<div class="container">
  <app-info-card2 [kioskoView]="true" [cards]="card"></app-info-card2>
  <app-info-card2 [kioskoView]="true" [cards]="contactCards"></app-info-card2>
</div>

<!-- <div class="bottom-bar">
  <button style="margin-right: auto">preview de un kiosko</button>
  <button>preview de una página de enlaces</button>
</div> -->
