<div class="container">
  <div class="flex-space-between">
    <mat-icon class="back-icon">chevron_left</mat-icon>
    <div class="continue-text">
      Nuevo comprador <mat-icon>add_circle_outlined</mat-icon>
    </div>
  </div>
  <p class="search-title">
    Busca por nombre, teléfono o correo electrónico del comprador:
  </p>
  <div class="input-container">
    <div><mat-icon>search</mat-icon></div>
    <input />
  </div>
  <div class="items-container">
    <div class="item">
      <div class="flex-space-between">
        <p class="item-title">CompradorId</p>
        <p class="item-sold">$14,552 vendido</p>
      </div>
      <div class="flex-space-between">
        <p class="item-desc">Ultima venta hace FechaID</p>
        <p class="item-desc">14 ventas</p>
      </div>
    </div>
    <div class="item">
        <div class="flex-space-between">
          <p class="item-title">CompradorId</p>
          <p class="item-sold">$14,552 vendido</p>
        </div>
        <div class="flex-space-between">
          <p class="item-desc">Ultima venta hace FechaID</p>
          <p class="item-desc">14 ventas</p>
        </div>
      </div>
      <div class="item">
        <div class="flex-space-between">
          <p class="item-title">CompradorId</p>
          <p class="item-sold">$14,552 vendido</p>
        </div>
        <div class="flex-space-between">
          <p class="item-desc">Ultima venta hace FechaID</p>
          <p class="item-desc">14 ventas</p>
        </div>
      </div>
      <div class="item">
        <div class="flex-space-between">
          <p class="item-title">CompradorId</p>
          <p class="item-sold">$14,552 vendido</p>
        </div>
        <div class="flex-space-between">
          <p class="item-desc">Ultima venta hace FechaID</p>
          <p class="item-desc">14 ventas</p>
        </div>
      </div>
      <div class="item">
        <div class="flex-space-between">
          <p class="item-title">CompradorId</p>
          <p class="item-sold">$14,552 vendido</p>
        </div>
        <div class="flex-space-between">
          <p class="item-desc">Ultima venta hace FechaID</p>
          <p class="item-desc">14 ventas</p>
        </div>
      </div>
      <div class="item">
        <div class="flex-space-between">
          <p class="item-title">CompradorId</p>
          <p class="item-sold">$14,552 vendido</p>
        </div>
        <div class="flex-space-between">
          <p class="item-desc">Ultima venta hace FechaID</p>
          <p class="item-desc">14 ventas</p>
        </div>
      </div>
      <div class="item">
        <div class="flex-space-between">
          <p class="item-title">CompradorId</p>
          <p class="item-sold">$14,552 vendido</p>
        </div>
        <div class="flex-space-between">
          <p class="item-desc">Ultima venta hace FechaID</p>
          <p class="item-desc">14 ventas</p>
        </div>
      </div>
  </div>
</div>
