<div class="container">
  <div class="header">
    <button class="arrows">
      <img
        (click)="goBack()"
        class="icon black"
        [src]="env + '/arrow-double-up.svg'"
        alt="Volver"
      />
    </button>
    <div class="flex-right">
      <button class="preview" (click)="goToPostPreview()">
        <p>PREVIEW</p>
      </button>

      <!--
        <button class="save">
          <img
            class="icon black"
            [src]="env + '/bookmark-plus.svg'"
            width="18"
            height="20"
            alt="Volver"
          />
        </button>
        <button class="dots">
          <img
            [src]="env + '/dots-black.svg'"
            width="22"
            height="6"
            alt="Volver"
          />
        </button>
      -->
    </div>
  </div>
  <div class="content">
    <!--
      <app-invites-notifications title="Acceso & Notificaciones" text="Acceso de Invitados: (000) 000 - 0000"></app-invites-notifications>
      <app-invites-notifications title="Notificaciones" text="Notificación de cuando accesan: (000) 000 - 0000 ó sin Notificación"></app-invites-notifications>
       -->

    <div
      style="margin-bottom: 32px"
      *ngIf="this.postsService.postReceiverNumber"
    >
      <app-title-icon-header
        title="Notificaciones"
        (iconClicked)="openNotificationsDialog()"
      ></app-title-icon-header>
      <app-card
        [shadows]="postsService.entityTemplateNotificationsToAdd.length === 0"
      >
        {{
          postsService.entityTemplateNotificationsToAdd.length === 0
            ? "No se envía ninguna notificación"
            : "Recibes una notificación cuando:\n" +
              choosedNotificationTypesMessage
        }}
      </app-card>
    </div>

    <app-qr-content
      [slides]="data.slides"
      [joke]="data.joke"
      [defaultText]="
        'Incluyes fotos, memes, videos, música o chistes de la Inteligencia Artificial.'
      "
      (buttonClicked)="openQrContentDialog()"
    ></app-qr-content>
    <app-envelope-content
      [nombreSobre]="data.title"
      [to]="data.to"
      [mensaje]="data.message"
      [from]="data.from"
    ></app-envelope-content>

    <app-dialog-flow
      [dialogFlowId]="'flow2'"
      [status]="openedDialogFlow ? 'OPEN' : 'CLOSE'"
      [dialogs]="dialogs2"
      [allowSlideNext]="false"
      (saveConfigRef)="swiperConfig = $event"
      (moveToDialogRef)="dialogFlowFunctions.moveToDialogByIndex = $event"
      (closingDialogSignal)="closeDialogFlow()"
    ></app-dialog-flow>

    <app-dialog-flow
      [dialogFlowId]="'notifications'"
      [status]="openedNotificationsDialog ? 'OPEN' : 'CLOSE'"
      [dialogs]="[notificationsDialog]"
      [allowSlideNext]="false"
      (moveToDialogRef)="dialogFlowFunctions.moveToDialogByIndex = $event"
      (closingDialogSignal)="openedNotificationsDialog = false"
    ></app-dialog-flow>

    <!--
       <div style="margin-bottom: 32px">
      <app-title-icon-header
        title="Acceso & Notificaciones"
        (iconClicked)="doSomething()"
      ></app-title-icon-header>
      <app-card> Acceso de Invitados: (000) 000 - 0000 </app-card>
    </div>
    <div style="margin-bottom: 32px">
      <app-title-icon-header
        title="Notificaciones"
        (iconClicked)="doSomething()"
      ></app-title-icon-header>
      <app-card>
        Notificación de cuando accesan: (000) 000 - 0000 ó sin Notificación
      </app-card>
    </div>
    <div style="margin-bottom: 32px">
      <app-title-icon-header
        title="Contenido del QR"
        (iconClicked)="doSomething()"
      ></app-title-icon-header>
      <app-qr-content></app-qr-content>
    </div>
    <div style="margin-bottom: 32px">
      <app-title-icon-header
        title="Contenido del sobre"
        (iconClicked)="doSomething()"
      ></app-title-icon-header>
      <app-dialog-flow
        [dialogFlowId]="'flow1'"
        [status]="openedDialogFlow ? 'OPEN' : 'CLOSE'"
        [dialogs]="dialogs"
        [allowSlideNext]="false"
        (saveConfigRef)="swiperConfig = $event"
        (moveToDialogRef)="dialogFlowFunctions.moveToDialogByIndex = $event"
      ></app-dialog-flow>
      <app-card>
        <app-envelope-content [post]="postInput"></app-envelope-content>
      </app-card>
    </div>
    <div>
      <app-title-icon-header
        title="Banner"
        (iconClicked)="doSomething()"
      ></app-title-icon-header>
      <ng-container *ngIf="banner">
        <app-envelope-data
          [biosBannerStyles]="{ borderRadius: '8px' }"
          [banner]="banner"
        ></app-envelope-data>
      </ng-container>
    </div>

    -->

    <!--
      <app-envelope-data></app-envelope-data>
    -->
  </div>
</div>
