<div class="container">
  <div class="header">
    <button mat-button class="arrows" (click)="goBack()">
      Guardar
      <img
        class="icon black"
        [src]="env + '/arrow-double-up.svg'"
        alt="Volver"
      />
    </button>
    <div class="flex-right">
      <button mat-button class="preview" (click)="goToPostPreview()">
        <p>PREVIEW</p>
      </button>
    </div>
  </div>
  <div class="content">
    <!-- <div
      style="margin-bottom: 32px"
      *ngIf="this.postsService.postReceiverNumber"
    >
      <app-title-icon-header
        title="Notificaciones"
        (iconClicked)="openNotificationsDialog()"
      ></app-title-icon-header>
      <app-card
        [shadows]="postsService.entityTemplateNotificationsToAdd.length === 0"
      >
        {{
          postsService.entityTemplateNotificationsToAdd.length === 0
            ? "No se envía ninguna notificación"
            : "Recibes una notificación cuando:\n" +
              choosedNotificationTypesMessage
        }}
      </app-card>
    </div> -->
    <form [formGroup]="messageForm">
      <div class="form-group">
        <app-title-icon-header
          title="Quien recibe?"
          [editing]="false"
        ></app-title-icon-header>
        <button
          *ngIf="data?.to && !editingTo"
          (click)="editingTo = !editingTo"
          class="btn"
        >
          <mat-card class="card">
            <span>{{ messageForm.get("to").value }}</span>
          </mat-card>
        </button>
        <mat-card *ngIf="!data?.to || editingTo" class="card">
          <input
            [autofocus]
            type="text"
            placeholder="Nombre de la persona quien recibe"
            formControlName="to"
          />
        </mat-card>
      </div>
      <div class="form-group">
        <app-title-icon-header
          title="De parte de"
          [editing]="false"
        ></app-title-icon-header>
        <button
          *ngIf="data?.from && !editingFrom"
          class="btn"
          (click)="editingFrom = !editingFrom"
        >
          <mat-card class="card">
            <span>{{ messageForm.get("from").value }}</span>
          </mat-card>
        </button>
        <mat-card class="card" *ngIf="!data?.from || editingFrom">
          <input
            [autofocus]
            type="text"
            placeholder="Nombre de quien envía"
            formControlName="from"
          />
        </mat-card>
      </div>
      <div class="form-group">
        <app-title-icon-header
          title="Título"
          [editing]="false"
        ></app-title-icon-header>
        <button
          *ngIf="data?.title && !editingTitle"
          class="btn"
          (click)="editingTitle = !editingTitle"
        >
          <mat-card class="card">
            <span>{{ messageForm.get("title").value }}</span>
          </mat-card>
        </button>
        <mat-card *ngIf="!data?.title || editingTitle" class="card">
          <input
            [autofocus]
            type="text"
            placeholder="Título del sobre"
            formControlName="title"
          />
        </mat-card>
      </div>
      <div class="form-group">
        <app-title-icon-header
          title="Mensaje"
          [editing]="false"
        ></app-title-icon-header>
        <button
          *ngIf="data?.message && !editingMessage"
          class="btn"
          (click)="editingMessage = !editingMessage"
        >
          <mat-card class="card">
            <span>{{ messageForm.get("message").value }}</span>
          </mat-card>
        </button>
        <mat-card *ngIf="!data?.message || editingMessage" class="card">
          <textarea
            [autofocus]
            cols="30"
            rows="4"
            placeholder="Mensaje del sobre"
            formControlName="message"
            style="resize: none"
          ></textarea>
        </mat-card>
      </div>
    </form>

    <app-qr-content
      [slides]="data?.slides"
      [joke]="data?.joke"
      [defaultText]="'Incluyes fotos, memes, videos o música.'"
      (buttonClicked)="openQrContentDialog()"
    ></app-qr-content>
    <!-- <app-envelope-content
      [nombreSobre]="data.title"
      [to]="data.to"
      [mensaje]="data.message"
      [from]="data.from"
    ></app-envelope-content> -->

    <!-- <app-dialog-flow
      [dialogFlowId]="'flow2'"
      [status]="openedDialogFlow ? 'OPEN' : 'CLOSE'"
      [dialogs]="dialogs2"
      [allowSlideNext]="false"
      (saveConfigRef)="swiperConfig = $event"
      (moveToDialogRef)="dialogFlowFunctions.moveToDialogByIndex = $event"
      (closingDialogSignal)="closeDialogFlow()"
    ></app-dialog-flow>

    <app-dialog-flow
      [dialogFlowId]="'notifications'"
      [status]="openedNotificationsDialog ? 'OPEN' : 'CLOSE'"
      [dialogs]="[notificationsDialog]"
      [allowSlideNext]="false"
      (moveToDialogRef)="dialogFlowFunctions.moveToDialogByIndex = $event"
      (closingDialogSignal)="openedNotificationsDialog = false"
    ></app-dialog-flow> -->
  </div>
</div>
