<div class="container">
  <div class="header">
    <button class="arrows">
      <img
        class="icon black"
        [src]="env + '/arrow-double-up.svg'"
        alt="Volver"
      />
    </button>
    <div class="flex-right">
      <button class="preview" (click)="goToPostPreview()">
        <p>PREVIEW</p>
      </button>
      <button class="save">
        <img
          class="icon black"
          [src]="env + '/bookmark-plus.svg'"
          width="18"
          height="20"
          alt="Volver"
        />
      </button>
      <button class="dots">
        <img
          [src]="env + '/dots-black.svg'"
          width="22"
          height="6"
          alt="Volver"
        />
      </button>
    </div>
  </div>
  <div class="content">
    <!--
      <app-invites-notifications title="Acceso & Notificaciones" text="Acceso de Invitados: (000) 000 - 0000"></app-invites-notifications>
      <app-invites-notifications title="Notificaciones" text="Notificación de cuando accesan: (000) 000 - 0000 ó sin Notificación"></app-invites-notifications>
       -->
    <app-qr-content
      [entity]="'POST-SLIDES'"
      [slides]="data.slides"
    ></app-qr-content>
    <app-envelope-content
      [nombreSobre]="data.title"
      [mensaje]="data.message"
      [from]="data.from"
    ></app-envelope-content>

    <!--
      <app-envelope-data></app-envelope-data>
    -->
  </div>
</div>
