* {
  margin: 0;
}

.container {
  padding: 35px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  .card {
    height: 165px;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(#e9e371 55%, #fff);
    background-color: #e9e371;
    padding-top: 92.5px;
    margin-bottom: 31px;
    cursor: pointer;

    p {
      padding-top: 40px;
      background: linear-gradient(transparent, #fff);
      color: #272727;
      width: 100%;
      font-family: SFProBold;
      font-size: 15px;
      text-align: center;
      padding-bottom: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}
