<div *ngIf="_module" class="grid-details">
  <div class="info-card reservation-params">
    <h3>parametros de funcionalidades</h3>

    <div class="container">
      <p class="title">Notificaciones:</p>
      <p class="subtitle">Whatsapp {{whatsapp}}</p>
    </div>
    <div>
      <p class="title">Escenarios</p>
      <p class="subtitle">{{scenaries}} Escenarios disponibles</p>
    </div>
    <div>
      <p class="title">Calendario de citas y reservaciones</p>
      <p class="subtitle">{{datesAndReservations}}</p>
      <p class="subtitle">Los Dom, Mar, Mie, Jue</p>
    </div>
  </div>
</div>
