// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rewardcharly-primary: mat-palette($mat-indigo);
$rewardcharly-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rewardcharly-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$rewardcharly-theme: mat-light-theme($rewardcharly-primary, $rewardcharly-accent, $rewardcharly-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rewardcharly-theme);

// @import "theme";
@import "mixins";
@import "~normalize.css";

// @import "~onsenui/css/onsenui.css";
// @import "~onsenui/css/onsen-css-components.css";

// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
// @import "helpers";
// @import "components/control";
@import "components/phone-input";
// @import "~swiper/swiper-bundle";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";
@import "~cropperjs/dist/cropper.min.css";

:root {
  --dialog-header-background: #{get-color("dark")};
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  // background-image: url(https://storage.needpix.com/rsynced_images/geometric-pattern-3d-blocks.jpg);
  background-attachment: fixed;
  background-blend-mode: soft-light;
  background-position: top left;
  background-size: 500px auto;
  height: auto !important;
  overflow-y: scroll !important;
  * {
    box-sizing: border-box;
    outline: none !important;
  }
  touch-action: manipulation !important;
  /*&:after {
    content: "";
    width: 100%;
    min-height: 4rem;
    display: block;
  }*/
}
a {
  text-decoration: none;
}
// ngx-form {
//   @include flex(column, center);
//   flex: 1 1;
//   .form-content {
//     width: 100%;
//     max-width: 500px;
//   }

//   label {
//     color: get-color("dark", 0.6) !important;
//     font-size: 1rem !important;
//   }
//   input,
//   textarea {
//     border: 1px solid get-color("dark", 0.1) !important;
//     background-color: rgba(white, 0.6) !important;
//     width: 100%;
//   }
// }

.app-dialog {
  .dialog-frame {
    width: 100vw !important;
    max-width: 500px !important;
    min-width: unset !important;
    padding: 0px !important;
    //height: 80vh !important;
    .dialog-frame-content {
      padding: 0px !important;
      overflow-y: scroll !important;
    }
  }
  @media (max-width: 500px) {
    .dialog-frame {
      border-radius: 0 !important;
      border-top-right-radius: 30px !important;
      border-top-left-radius: 30px !important;
    }
  }
}

::ng-deep .snack-toast-error {
  background-color: #BD362F !important;
  color: #FFF;
}

.transparent {
  .backdrop {
    backdrop-filter: none !important;
    background: none !important;
  }
  .dialog-frame {
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(20px);
  }
}

.ui-blocker {
  @include flex(column nowrap, center, center);
  @include bounds(0, 0, 0, 0);
  position: absolute;
  background: get-color("dark", 0.3);
  color: get-color("light");
  backdrop-filter: blur(9px);
  font-size: 6rem;
  z-index: 100000;
  i {
    animation-duration: 1.6s;
  }
}

@supports (-moz-appearance: none) {
  .transparent {
    .backdrop {
      background: #2228 !important;
    }
  }
}

* {
  -webkit-touch-callout: none;
  user-select: initial;
  -webkit-user-select: initial;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@font-face {
  font-family: "Empire";
  src: url("../src/assets/fonts/empire-bt.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Dorsa";
  src: url("https://storage-rewardcharly.sfo2.digitaloceanspaces.com/fonts/Dorsa-Regular.ttf");
  font-display: swap;
  // src: url("../src/assets/fonts/Dorsa-Regular.ttf");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("../src/assets/fonts/RobotoMedium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../src/assets/fonts/Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoItalic";
  src: url("../src/assets/fonts/Roboto-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url("../src/assets/fonts/Roboto-LightItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../src/assets/fonts/Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "RobotoBlack";
  src: url("../src/assets/fonts/Roboto-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("../src/assets/fonts/GraphikRegular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "GiddyupStd";
  src: url("../src/assets/fonts/GiddyupStd.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "GeorgiaRegular";
  src: url("../src/assets/fonts/GeorgiaRegular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Commercial-Script";
  src: url("https://storage-rewardcharly.sfo2.digitaloceanspaces.com/fonts/Commercial-Script.ttf") format("truetype");
  font-display: swap;
  // src: url("../src/assets/fonts/Commercial-Script.ttf") format("truetype");
}

@font-face {
  font-family: "Onyx";
  src: url("https://storage-rewardcharly.sfo2.digitaloceanspaces.com/fonts/ONYX.TTF") format("truetype");
  font-display: swap;
  // src: url("../src/assets/fonts/ONYX.TTF") format("truetype");
}

@font-face {
  font-family: "SfProRegular";
  src: url("../src/assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SfProSemiBold";
  src: url("../src/assets/fonts/SFProDisplaySemibold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SfProLight";
  src: url("../src/assets/fonts/SFProDisplay-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SfProMedium";
  src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SfProBold";
  src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SfProDisplayBold";
  src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ProDisplaySemiBold";
  src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ProDisplayRegular";
  src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SfProHeavy";
  src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Heavy.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nirvana";
  src: url("../src/assets/fonts/NIRVANA.TTF") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Village";
  src: url("../src/assets/fonts/VILLAGE.TTF") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "CFCraigRobinson-Regular";
  src: url("../src/assets/fonts/CFCraigRobinson-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PomfritDandyNFRegular";
  src: url("https://storage-rewardcharly.sfo2.digitaloceanspaces.com/fonts/PomfritDandyNFRegular.ttf")
    format("truetype");
  font-display: swap;
  // src: url("../src/assets/fonts/PomfritDandyNFRegular.ttf") format("truetype");
}

@font-face {
  font-family: "HorsDoeuvresTheGarter";
  src: url("../src/assets/fonts/HorsDoeuvresTheGarter.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Cheltenham";
  src: url("https://storage-rewardcharly.sfo2.digitaloceanspaces.com/fonts/CheltenhamStdBold.otf") format("opentype");
  font-display: swap;
  // src: url("../src/assets/fonts/CheltenhamStdBold.otf") format("opentype");
}

@font-face {
  font-family: "CheltenhamStd-HdtooledBold";
  src: url("../src/assets/fonts/CheltenhamStd-HdtooledBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AirForce45-Regular";
  src: url("https://storage-rewardcharly.sfo2.digitaloceanspaces.com/fonts/AirForce45-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("../src/assets/fonts/NeueMontreal-Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../src/assets/fonts/RalewaySemiBold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterBlack";
  src: url("../src/assets/fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "InterBold";
  src: url("../src/assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "InterExtraBold";
  src: url("../src/assets/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "InterExtraLight";
  src: url("../src/assets/fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "InterLight";
  src: url("../src/assets/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "InterMedium";
  src: url("../src/assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "InterRegular";
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterSemiBold";
  src: url("../src/assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "InterThin";
  src: url("../src/assets/fonts/Inter-Thin.ttf");
}

html,
body {
  height: 100%;
}
body {
  height: 100% !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.videoThumbnail {
  background-color: #293628 !important;

  position: relative !important;
}

.playVideoIcon {
  cursor: pointer;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 3rem !important;
  filter: invert(87%) sepia(40%) saturate(582%) hue-rotate(60deg) brightness(101%) contrast(89%);
}