<div class="dialog-container">
   <main class="main-body">
      <h1 class="title">Actualización disponible</h1>

      <p class="subtext">Hay una actualización de página disponible.<br> ¿Desea recargar?</p>

      <div class="buttons-area">
         <button class="half-button" (click)="closeEvent()" style="border-bottom-right-radius: 0px; border-bottom-left-radius: 10px;">Recargar</button>
         <button class="half-button" (click)="close()" style="border: none;">Cerrar</button>
      </div>
   </main>
</div>