.external-wrapper {
  max-height: 266.69px;
}

.wrapper {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  height: 100%;

  label {
    font-family: SfProBold;
    font-size: 23px;
    margin-bottom: 20px;
    display: block;
  }

  textarea {
    padding: 23px 16px 23px 16px;
    resize: none;
    height: 124px;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(210 210 210) 0px 4px 7px 0px inset;
    font-family: RobotoMedium;
    color: #000;
    font-size: 17px;
    width: 100%;

    &::placeholder {
      color: #a1a1a1;
    }
  }

  .email,
  .name,
  .lastname {
    padding: 23px 16px 23px 16px;
    resize: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(210 210 210) 0px 4px 7px 0px inset;
    font-family: RobotoMedium;
    color: #000;
    font-size: 17px;
    width: 100%;

    &::placeholder {
      color: #a1a1a1;
    }
  }
}

.name-lastname-flex {
  display: flex;
  justify-content: space-between;

  .field {
    width: 47%;

    label {
      font-family: SfProRegular;
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
}
