* {
  margin: 0;
}

.container {
  min-height: 100vh;
  margin-bottom: 35px;

  .header {
    background-color: #a1a1a1;
    display: flex;
    align-items: center;
    padding: 14px 27px 14px 21px;

    img,
    p {
      cursor: pointer;
    }
    p {
      margin-left: auto;
      color: #272727;
      font-size: 13px;
      font-family: SFProRegular;
    }
  }

  .card {
    width: 100%;
    font-family: SFProRegular;
    color: #000000;
    font-size: 17px;
    padding: 28.5px 25px;
    resize: none;
    border: none;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .config {
    border-radius: 9px;
    background-color: #e9e9e9;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin: 21px 22px 23px 17px;
    border: none;
    max-width: 460px;

    img {
      margin-left: auto;
    }
    span {
      margin-left: 12px;
      margin-right: auto;
      text-transform: uppercase;
      color: #272727;
      font-size: 13px;
      font-family: SFProLight;
    }
  }

  .toast-status {
    background-color: #b17608;
    padding: 18px;
    p {
      font-family: "SfProSemiBold";
      text-align: center;
      color: #000;
      font-size: 1.2rem;
    }
  }

  .section {
    padding: 40px 25px 0;
  }

  .image-selector {
    .image-label {
      font-size: 1.063rem;
      font-family: "RobotoMedium";
      color: #7b7b7b;
      margin-bottom: 15px;
      margin-left: 4%;
      display: inline-block;
    }

    .image-area {
      width: 100%;
      max-width: 450px;
      max-height: 45vh;
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(auto-fill, 6rem);
      row-gap: 16px;
      -moz-column-gap: 18px;
      column-gap: 5%;
      //   margin: 0 5%;
      padding: 5px 0 10px;
      overflow-y: scroll;
      justify-content: center;

      .add-image {
        all: unset;
        width: 26vw;
        max-width: 112px;
        height: 141px;
        background-color: #272727d9;
        border: 1px solid #707070;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        box-shadow: 0px 3px 6px #70707063;
      }
    }

    .image-container {
      position: relative;
      width: 26vw;
      max-width: 112px;
      height: 141px;
      background-color: #e9e371;
      border-radius: 17px;

      .image {
        all: unset;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 17px;
      }

      .selected {
        width: 28px;
        height: 28px;
        position: absolute;
        top: -4px;
        right: -5px;
        border-radius: 50%;
        display: flex;
        background-color: #2874ad;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &::before {
          content: "";
          height: 3px;
          background-color: #fff;
          position: relative;
          display: block;
          top: 0%;
          left: 5px;
          width: 9px;
          margin-left: -15px;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &::after {
          content: "";
          height: 3px;
          background-color: #fff;
          position: relative;
          display: block;
          top: 7%;
          left: 12px;
          width: 13px;
          margin-left: -12px;
          margin-top: -7px;
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }

      .shadow-name {
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: linear-gradient(0deg, black, transparent);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        z-index: 10;

        &::after {
          content: "Cover";
          font-family: "SfProMedium";
          font-size: 0.963rem;
          color: #ffffff;
          margin-bottom: 8px;
        }
      }
    }
  }
}

.corner-btn2 {
  all: unset;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  display: flex;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s;
}

.corner-btn {
  width: 100%;
  height: 75%;
  position: absolute;
  bottom: 0px;
  border-radius: 15px;
  background: linear-gradient(0deg, rgb(0, 0, 0), transparent);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  &.add {
    &::before {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
  }

  &.delete {
    &::before {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &::before {
    content: "Adiciona";
    font-family: "SFProBold";
    font-size: 15px;
    color: #fff;
    position: relative;
  }

  &::after {
    content: "+";
    position: relative;
    margin-bottom: 22px;
    font-size: 3rem;
    color: white;
    font-family: SfProBold;
  }
}

.header {
  width: 100%;
  background-color: #A1A1A1;
  padding: 13.8px 16px;
  display: flex;
  justify-content: space-between;

  .links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    font-family: SfProMedium;
    font-size: 13px;

    &:hover {
      cursor: pointer;
    }
  }
}