<div class="container">
  <header class="header">
    <img [src]="env + '/arrow-double-up-black.svg'" alt="" (click)="iconCallback()" />
    <p (click)="previewItem()">Preview</p>
  </header>
  <!-- <app-helper-headerv2
    [mode]="'basic'"
    [fixed]="true"
    [icon]="{
      src: '/arrow-double-up.svg',
      width: 17,
      height: 21,
      callback: iconCallback,
      filter: 'brightness(0)'
    }"
    [rightText]="{
      text: 'PREVIEW',
      fontSize: '0.963rem',
      fontFamily: 'SfProBold',
      color: '#272727',
      pointer: true
    }"
    [icons]="[
      {
        src: '/bookmark-plus.svg',
        color: 'brightness(0)',
        margin: '1px',
        callback: openTagDialog
      }
    ]"
    [dots]="{
      active: true,
      color: '#272727'
    }"
    (dotEvent)="openOptionsForThisArticle()"
    (agnosticAction)="previewItem()"
    [returnAble]="false"
    [bgColor]="'#FFFFFF'"
    (return)="goBack()"
  ></app-helper-headerv2> -->

  <div class="toast-status" *ngIf="item?.status === 'disabled'">
    <p>Este artículo solo lo ves tú.</p>
  </div>

  <button class="config">
    <img [src]="env + '/settings.svg'" alt="" />
    <span>Configuraciones</span>
  </button>

  <div class="section">
    <!-- <app-title-icon-header
      title="Slides, contenido del QR"
      [editing]="!editingSlides"
      (iconClicked)="editSlides()"
    >
    </app-title-icon-header> -->
    <app-qr-content
      title="SLIDES"
      *ngIf="slides"
      [slides]="slides"
      [defaultText]="
        !loadingSlides
          ? 'Incluyes fotos, memes, videos, música o chistes de la Inteligencia Artificial.'
          : 'Cargando...'
      "
      [shadows]="false"
      (buttonClicked)="goEditSlides()"
    ></app-qr-content>
    <app-qr-content
      *ngIf="!slides"
      [slides]="slides"
      [defaultText]="
        !loadingSlides
          ? 'Incluyes fotos, memes, videos, música o chistes de la Inteligencia Artificial.'
          : 'Cargando...'
      "
      [shadows]="false"
      (buttonClicked)="goEditSlides()"
    ></app-qr-content>
  </div>

  <div class="section" style="padding-top: 52px">
    <app-title-icon-header
      title="Precio"
      [editing]="!editingPrice"
      (iconClicked)="editingPrice = true; setFocus('pricing')"
    >
    </app-title-icon-header>
    <app-card [shadows]="editingPrice">
      <span *ngIf="!editingPrice"
        >RD$ {{ price.value ? price.value.toLocaleString("es-MX") : "0" }}</span
      >
      <app-currency-input
        [fieldStyles]="{
          boxShadow: 'none',
          backgroundColor: 'white',
          borderRadius: '6px',
          padding: '8px 0px'
        }"
        [initialValue]="price.value"
        (onInputEvent)="handleCurrencyInput($event)"
        placeholderColor="#7B7B7B"
        currencyLabel="RD$"
        *ngIf="editingPrice"
      ></app-currency-input>
    </app-card>
  </div>

  <div class="section">
    <app-title-icon-header
      title="Nombre"
      [editing]="!editingName"
      (iconClicked)="editingName = true; setFocus('name')"
    >
    </app-title-icon-header>
    <app-card [shadows]="editingName">
      <span *ngIf="!editingName">{{
        name.value ? name.value : "Sin nombre..."
      }}</span>
      <input
        #inputName
        type="text"
        [formControl]="name"
        placeholder="Nombre del producto (opcional)"
        *ngIf="editingName"
        [(ngModel)]="productName"
      />
    </app-card>
  </div>

  <div class="section" style="padding-bottom: 0px">
    <app-title-icon-header
      title="Descripción"
      [editing]="!editingDescription"
      (iconClicked)="editingDescription = true; setFocus('description')"
    >
    </app-title-icon-header>
    <app-card [shadows]="editingDescription">
      <span *ngIf="!editingDescription" style="display: block; height: 86px">{{
        description.value ? description.value : "Sin descripción..."
      }}</span>
      <textarea
        #inputDescription
        cols="30"
        rows="4"
        placeholder="Descripción del producto (opcional)"
        [formControl]="description"
        *ngIf="editingDescription"
        [(ngModel)]="productDescription"
      ></textarea>
    </app-card>
  </div>

  <div class="section">
    <form [formGroup]="itemParamsForm" (ngSubmit)="send()">
      <p
        style="
          color: #272727;
          font-size: 13px;
          font-family: SFProLight;
          margin-bottom: 8px;
        "
      >
        LO INCLUIDO
      </p>
      <div
        formArrayName="params"
        *ngIf="getArrayLength(itemParamsForm, 'params')"
      >
        <div
          *ngFor="
            let paramsControl of getControls(itemParamsForm, 'params');
            index as i
          "
          [formGroupName]="i"
        >
          <div
            formArrayName="values"
            *ngIf="getArrayLength(paramsControl, 'values')"
          >
            <section
              class="form-group p-side"
              *ngFor="
                let valuesControl of getControls(paramsControl, 'values');
                index as j
              "
              [formGroupName]="j"
            >
              <div class="template-grid">
                <input
                  class="card"
                  type="text"
                  formControlName="name"
                  placeholder="Escribe..."
                  (keypress)="dynamicInputKeyPress(j)"
                />
              </div>
            </section>
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-menu-button
    [position]="{ bottom: '50px' }"
    [options]="menuOptions"
  ></app-menu-button>
</div>
