<div class="container">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    class="btn"
  >
    <mat-icon class="btn-icon">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" yPosition="above" xPosition="before" class="menu">
    <button mat-menu-item class="menu-item">
      <span>Chat con TiendaID</span>
      <img src="/assets/images/noimage.png" alt="circle" class="circle" />
    </button>
    <button mat-menu-item class="menu-item">
      <span style="color: '#FC2727'">Dejanos un mensaje</span>
      <img src="/assets/images/noimage.png" alt="circle" class="circle" />
    </button>
    <button mat-menu-item class="menu-item">
      <span>Comparte la Tienda</span>
      <img src="/assets/images/noimage.png" alt="circle" class="circle" />
    </button>
    <button mat-menu-item class="menu-item">
      <span>Opción #x</span>
      <img src="/assets/images/noimage.png" alt="circle" class="circle" />
    </button>
    <button mat-menu-item class="menu-item">
      <span>Opción ID #2</span>
      <img src="/assets/images/noimage.png" alt="circle" class="circle" />
    </button>
    <button mat-menu-item class="menu-item">
      <span>Opción ID #1</span>
      <img src="/assets/images/noimage.png" alt="circle" class="circle" />
    </button>
  </mat-menu>
</div>
