<div class="container">
    <app-header-info-admin
    [data]="[{
        icon: '/folder-details.svg',
        text: {
            content: 'Mis Compradores',
            color: ''
        }
    },
    {
        text: {
            content: 'RD$ 147,154.00 Total en Ventas',
            color: ''
        }
    },
    {
        icon: '/star.svg',
        text: {
            content: '144 En Colaboraciones',
            color: ''
        }
    }]"
    [merchant]="true"
    ></app-header-info-admin>

    <div class="category">
        <div class="tab-area">

            <div class="left">
                <div class="item-tab">
                    <p class="text-tab"> 48 items</p>
                    <img [src]="env + '/.svg'" alt="" class="eye">
                </div>

                <img [src]="env + '/closed-eye.svg'" alt="" class="closed">
            </div>

            <div class="tab" [ngClass]="{colored: tapped}" (click)="tapping()">
                <img [src]="env + '/expand-categories.svg'" alt="Lista para expandir categorías" width="18px" height="15px" class="icon" [ngClass]="{yellow: tapped}">
                <p class="tab-text" [ngStyle]="{color: tapped? '#E9E371':'#2874AD'}">Categorías</p>
            </div>
        </div>
        
        <ng-container *ngIf="tapped">
            <div class="tags-area" *ngIf="tagsData">
                <app-tags-square
                *ngFor="let item of tagsData; index as i"
                ></app-tags-square>
            </div>
        </ng-container>

    </div>

    <div class="items-area">
        <app-saleflow-item
        *ngFor="let items of saleflowList; index as i"
        [imgURL]="items.image"
        [price]="items.price"
        [income]="items.income"
        [quantity]="items.quantity"
        [index2]="items.index2"
        [showIcon]="true"
        ></app-saleflow-item>
    </div>
     
    <app-bubble-button
    [text]="'&#60;'"
    [text2]="'NEW ITEM'"
    ></app-bubble-button>

    <app-sticky-button
    [mode]="'disabled-fixed'"
    [text]="'TOCA DONDE PREFIERAS'"
    [size]="'small'"
    [bgColor]="'#AFAFAF'"
    ></app-sticky-button>
</div>
