<div class="container">
    <app-header-info-admin
    [data]="[{
        icon: '/folder-details.svg',
        text: 'Mis Compradores'
    },
    {
        text:'RD$ 147,154.00 Total en Ventas'
    },
    {
        icon: '/star.svg',
        text: '144 En Colaboraciones'
    }]"
    [click]="true"
    [merchant]="true"
    ></app-header-info-admin>

    <div class="category">
        <div class="tab-area">
            <div class="tab" [ngClass]="{colored: tapped}" (click)="tapping()">
                <img [src]="env + '/expand-categories.svg'" alt="Lista para expandir categorías" width="18px" height="15px" class="icon" [ngClass]="{yellow: tapped}">
                <p class="tab-text" [ngStyle]="{color: tapped? '#E9E371':'#2874AD'}">Categorías</p>
            </div>
        </div>
        
        <ng-container *ngIf="tapped">
            <div class="tags-area" *ngIf="tagsData">
                <app-tags-square
                *ngFor="let item of tagsData; index as i"
                ></app-tags-square>
            </div>
        </ng-container>
     </div>
     
    <app-bubble-button
    [text]="'&#60;'"
    [text2]="'NEW ITEM'"
    ></app-bubble-button>

    <app-sticky-button
    [mode]="'disabled-fixed'"
    [text]="'TOCA DONDE PREFIERAS'"
    [size]="'small'"
    ></app-sticky-button>
</div>
