<div class="container" [ngStyle]="containerStyles" *ngIf="mode === 'default'">
  <h2 [ngClass]="titleCenter === false ? 'title' : 'title-center'">
    {{ title }}
  </h2>
  <div class="cards">
    <div
      class="card"
      (click)="cardClicked(item)"
      [ngClass]="
        item.length <= 8
          ? 'card third'
          : item.length > 8 && item.length <= 17
          ? 'card mid'
          : 'card full'
      "
      *ngFor="let item of words; index as i"
    >
      <span>{{ item }}</span>
    </div>
  </div>
</div>

<div class="container" [ngStyle]="containerStyles" *ngIf="mode === 'time'">
  <h2 [ngClass]="titleCenter === false ? 'title' : 'title-center'">
    {{ title }}
  </h2>
  <div class="cards2">
    <div
      class="card2"
      (click)="cardClicked(item)"
      *ngFor="let item of words; index as i"
    >
      <span>{{ item }}</span>
    </div>
  </div>
</div>
