<div class="main-container">
  <app-helper-headerv2
    *ngIf="!sentInvite"
    [mode]="'basic'"
    [icon]="{
      src: '/arrow-double-up.svg',
      width: 17,
      height: 21,
      callback: sample
    }"
    [mainText]="{
      text: 'Acceso a Simbolo',
      fontSize: '1.313rem',
      fontFamily: 'SfProBold'
    }"
    [returnAble]="false"
    [bgColor]="'#272727'"
  ></app-helper-headerv2>

  <header *ngIf="sentInvite" class="header-invite">
   <h1 class="headline">Simbolo</h1>
   <button class="close" (click)="return()">X</button>
 </header>

  <ng-container *ngIf="!sentInvite">
    <div
      class="tabs-container"
      #elemt
      (mousedown)="startDragging($event, elemt)"
      (mouseup)="stopDragging()"
      (mouseleave)="stopDragging()"
      (mousemove)="moveEvent($event, elemt)"
    >
      <button
        class="tab"
        *ngFor="let item of options; index as i"
        [ngClass]="{ active: active === i }"
        [style.display]="i===1?(hasPassword?'block':'none'):'initial'"
        (click)="changeStep(i)"
      >
        {{ item }}
      </button>
    </div>

    <div class="answers-container">
      <label for="selector" class="answer-label">Selecciona quien eres:</label>

      <app-answer-selector
        [options]="check"
        [activeOption]="activeIndex"
        [indicator]="true"
        (onSelector)="selectedOption($event)"
        [containerStyles]="{
          margin: '0px'
        }"
      ></app-answer-selector></div
  ></ng-container>

  <ng-container *ngIf="sentInvite">
      <div class="sent-invite">
         <h1 class="invite">{{code}}</h1>
         <!-- <p class="time">Tiempo remitente del simbolo <ng-container *ngIf="hours&&minutes&&seconds">{{ hours | number }}:{{ minutes }}:{{ seconds }}</ng-container></p> -->
         
         <p class="info">Tu invitación con el enlace de acceso fue enviado a tu {{ code.includes('@')?'correo':'telefono' }}.</p>
      </div>
  </ng-container>
</div>
