* {
  margin: 0;
}
.container {
  min-height: 100vh;
  padding-bottom: 24px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.header {
  padding: 14px 38px 14px 21px;
  background-color: #a1a1a1;
  display: flex;
  align-items: center;
  margin-bottom: 27.5px;

  button {
    all: unset;
    cursor: pointer;
  }

  .title {
    margin: 0 auto;
    color: #272727;
    font-size: 16px;
    font-family: SFProRegular;
  }
}
