<div class="container">
  <header>
    <button (click)="goBack()">
      <i
        style="color: #c4c5c3; cursor: pointer; font-size: 1.2rem"
        class="fas fa-chevron-left"
      ></i>
    </button>

    <h3>Nuevo Símbolo de mensaje</h3>
  </header>

  <main>
    <form [formGroup]="postForm">
      <div
        class="textarea-wrapper"
        [ngClass]="{
          'no-shadow':
            postForm.controls['message'].value &&
            postForm.controls['message'].value.length > 0
        }"
      >
        <label for="textarea-label" class="textarea-header"
          >Texto principal y centralizado</label
        >

        <textarea
          formControlName="message"
          placeholder="Escribe el mensaje de dedicatoria.."
          cols="30"
          rows="10"
          id="textarea-label"
        ></textarea>
      </div>

      <div class="added-slides" *ngIf="postsService.post?.slides?.length > 0">
        <app-qr-content
          [slides]="postsService.post.slides"
          [title]="'Slides visuales'"
          [mode]="'SMALL'"
          [editing]="false"
          [defaultText]="'Incluyes fotos, memes, videos o música.'"
          (buttonClicked)="goToMediaUpload()"
        ></app-qr-content>
      </div>

      <div class="optional-stuff"  *ngIf="postsService.post?.slides?.length === 0">
        <h3>CHULERIAS OPCIONALES</h3>

        <div class="row">
          <span>Slides con fotos y videos</span>

          <img
            (click)="goToMediaUpload()"
            src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/add_button_circle.svg"
            alt="add media"
            class="upload-media"
          />
        </div>
      </div>
    </form>

    <!--
      <div class="posts-virtual-content-wrapper">
        <div class="posts-virtual-content-grid">
          <div
            class="media-wrapper"
            *ngFor="let media of postsService.post.slides"
          ></div>
        </div>
        <div class="upload-button">
          <img
            src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/add_button_circle.svg"
            alt=""
          />
        </div>
      </div>
    -->
  </main>

  <footer>
    <button
      class="left"
      style="color: #272727;"
      (click)="
        !(
          postForm.controls.message.value?.length ||
          postsService.post.slides?.length
        )
          ? goToPostDetail('DEMO')
          : goToPostDetail('PREVIEW')
      "
    >
      {{
        !(
          postForm.controls.message.value?.length ||
          postsService.post.slides?.length
        )
          ? "Mira un Demo"
          : "Preview de la versión virtual"
      }}
    </button>
    <button
      class="right"
      *ngIf="
        postForm.controls.message.value?.length ||
        postsService.post.slides?.length
      "
      style="color: #272727;"
      (click)="save()"
    >
      Guardar
    </button>
  </footer>
</div>
