<div class="page-container">
  <app-helper-headerv2
    [bgColor]="'#ffffff'"
    [icon]="{
      callback: goBack2,
      filter:
        'invert(100%) sepia(25%) saturate(50%) hue-rotate(10deg) brightness(100%) contrast(100%)',
      height: 21,
      src: '/arrow-double-up.svg',
      width: 16
    }"
    [mainText]="{
      color: '#000000',
      fontFamily: 'SfProBold',
      fontSize: '21px',
      text: entity === 'item' ? 'Tags de artículos' : 'Tags de facturas'
    }"
    [mode]="'basic'"
    [returnAble]="false"
  >
  </app-helper-headerv2>

  <div
    class="options-container"
    #elemt
    (mousedown)="startDragging($event, elemt)"
    (mouseup)="stopDragging()"
    (mouseleave)="stopDragging()"
    (mousemove)="moveEvent($event, elemt)"
  >
    <button
      class="option"
      *ngFor="let item of options; index as i"
      [ngClass]="{ active: active === i }"
      (click)="changeStep(i)"
    >
      {{ item }}
    </button>
  </div>

  <form [formGroup]="createTagForm">
    <div class="inputs-container">
      <div class="image-input">
        <label class="input-label"> Imagen </label>

        <div class="input-container">
          <app-image-input
            [allowDeletion]="false"
            [allowedTypes]="['png', 'jpg', 'jpeg']"
            [circleInputMode]="false"
            [containerStyles]="{
              display: 'flex',
              height: '190px',
              width: 'auto'
            }"
            [fileStyles]="{
              border: 'none',
              borderBottomLeftRadius: '0px',
              borderBottomRightRadius: '0px',
              boxShadow: 'inset 0px 0px 9px 0px rgba(0,0,0,0.2)',
              width: '100%'
            }"
            [expandImage]="true"
            [id]="'tag-image'"
            [innerLabel]="'Adiciona la imagen'"
            [imageField]="!tagID ? [''] : [createTagForm.controls.images.value]"
            [max]="1"
            [multiple]="true"
            [placeholderImage]="false"
            [placeholderImageSize]="'SMALL'"
            [uploadImagesWithoutPlaceholderBox]="true"
            [useSwiper]="false"
            (onFileInputMultiple)="handleImageInput($event, 'ADD')"
            (onFileDeletion)="handleImageInput($event, 'DELETE')"
          >
          </app-image-input>
        </div>
      </div>

      <div class="name-input">
        <label class="input-label"> Nombre </label>
        <div class="input-container end">
          <input
            class="input"
            placeholder="Escribe"
            type="text"
            formControlName="name"
          />
          <small class="small">40 max</small>
        </div>
      </div>
    </div>

    <div class="visibility-input">
      <label for="visibility" class="input-label">
        Visibilidad del visitante
      </label>

      <button class="icon">
        <img
          [src]="visibilityImage"
          alt="hide-tag"
          (click)="changeVisibility()"
        />
      </button>
    </div>

    <div class="textarea-container">
      <label for="note" class="input-label"> Nota </label>

      <textarea
        class="textarea"
        name="note"
        id="note"
        class="textarea"
        placeholder="Escribe"
        formControlName="notes"
      ></textarea>
    </div>

    <!-- <div
      class="optional-functionality"
      *ngIf="optionalFunctionalityList.length > 0"
    >
      <h2 class="input-label">Funcionalidades opcionales</h2>

      <app-answer-selector
        [complexOptions]="optionalFunctionalityList"
        [hasComplexOptionsLayout]="true"
        [indicator]="true"
        [showSelectedFeedback]="true"
        [showDescription]="false"
        [containerStyles]="{
          margin: '0px',
          paddingBottom: '16px'
        }"
      ></app-answer-selector>
    </div> -->
  </form>
  <!-- 
  <app-sticky-button
    *ngIf="finishedMutation"
    [mode]="'double'"
    [extra]="{
      bgColor: '#2874AD',
      return: true
    }"
    [color]="'#FFF'"
    [fontSize]="'17px'"
    [bgColor]="'#A1A1A1'"
    [text]="!tagID ? 'SALVAR ESTE NUEVO TAG' : 'ACTUALIZAR TAG'"
    [customLeftButtonStyles]="{
      width: '85%',
      'max-width': 'none',
      'border-left': '1px solid #FFFFFF',
      color: '#FFFFFF',
      backgroundColor: createTagForm.status === 'VALID' ? '#2874AD' : '#7b7b7b',
      cursor: createTagForm.status === 'VALID' ? 'pointer' : 'none'
    }"
    [customRightButtonStyles]="{
      width: '1px',
      heigth: '1px',
      cursor: 'pointer'
    }"
    (left)="createTagForm.status === 'VALID' ? save() : null"
    size="small"
  ></app-sticky-button>

  <app-sticky-button
    *ngIf="!finishedMutation"
    [mode]="'double'"
    [extra]="{
      bgColor: '#2874AD',
      return: true
    }"
    [color]="'#FFF'"
    [fontSize]="'17px'"
    [bgColor]="'#7b7b7b'"
    [text]="'CARGANDO...'"
    [customLeftButtonStyles]="{
      width: '85%',
      'max-width': 'none',
      'border-left': '1px solid #FFFFFF',
      color: '#FFFFFF',
      backgroundColor: '#7b7b7b',
      cursor: 'none'
    }"
    [customRightButtonStyles]="{
      width: '1px',
      heigth: '1px',
      cursor: 'pointer'
    }"
    (left)="(null)"
    size="small">
  </app-sticky-button> -->
</div>
