<div class="container">
    <app-helper-headerv2
    [mode]="'double'"
    [bgColor]="'#2F6ED8'"
    [config]="{
        leftText:'Ir A Mis Datos Personales',
        rightText: 'Ir A Los Datos Mi Tienda',
        pointer: true
    }"
    ></app-helper-headerv2>

    <div class="circle-container">
        <img [src]="env + '/carrito_blanco.svg'" alt="" width="65.49px" height="50.82px">
    </div>

    <div class="text-and-circle">

        <div class="text-area">
            <label for="Titulo" class="title">{{storeName}}</label>
            <p class="text">{{descText}}</p>

            <div class="circles-area">
               <app-cta-buttons
                mode="white"
                [circle]="!merchantInfo?.active"
                [borderc]="merchantInfo?.active ? '#2F6ED8' : '#82F18D'"
                [borderw]="merchantInfo?.active ? '1px' : '3px'"
                [ctaText]="merchantInfo?.active ? 'La Tienda de Mis Compradores (activa)' : 'Activa Mi tienda para empezar a vender'"
                icon="/etiqueta_azul.svg"
               ></app-cta-buttons>

               <app-cta-buttons
               [mode]="'white'"
               [ctaText]="'Mis Items'"
               ></app-cta-buttons>
            </div>
        </div>

        <hr class="page-breaker">

        <div class="collab-area">

            <div class="ctext-circles">

                <div class="ctext">
                    <label for="Title Collab" class="collab-title">{{collabTitle}}</label>
                    <p class="collab-text">{{collabText}}</p>
                </div>

                <div class="c-circles-area">

                    <app-cta-buttons
                    [mode]="'white'"
                    [borderc]="'#8351FE'"
                    [fontColor]="'#8351FE'"
                    [ctaText]="'Las comunidades promocionan y venden mis Items'"
                    [icon]="'/carrito_click.svg'"
                    ></app-cta-buttons>

                    <app-cta-buttons
                    [mode]="'white'"
                    [borderc]="'#8351FE'"
                    [fontColor]="'#8351FE'"
                    [ctaText]="'Las comunidades promocionan y recolectan mis facturas '"
                    [icon]="'/page_print.svg'"
                    ></app-cta-buttons>

                </div>

            </div>

        </div>

    </div>

    <app-sticky-button
    [mode]="'disabled'"
    [text]="'TOCA DONDE PREFIERAS'"
    ></app-sticky-button>
</div>
