.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.hidden {
    visibility: hidden;
}
.container {
    min-height: 100vh;
    background-color: #f6f6f6;
    padding-bottom: 50px;
    .search-bar {
        background-color: #181D17;
        padding-bottom: 10px;
        margin-bottom: 22px;
        transition: all ease-in-out 0.2s;
    }
    .header {
        background: #181D17;
        box-shadow: 0px 4px 20px 0px rgba(123, 123, 123, 0.00);
        padding: 0px 20px 0px 17px;
        height: 46px;
        .title {
            .icon {
                color: #c4c5c3;
            }
            .text {
                color: #FFF;
                font-family: InterRegular;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
        .special {
            .plus_icon {
                color: #F6F6F6;
                font-family: InterBold;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-right: 14px;
                margin-bottom: 6px;
            }
        }
    }
    .input {
        padding: 0px 20px 0px 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        input {
            border-radius: 8px;
            background: #d9d9d9;
            width: 100%;
            border: 0;
            height: 39px;
            // color: #7b7b7b;
            font-family: InterMedium;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-left: 20px;
        }
    }
    .search-list {
        padding-left: 15px;
        .list-item {
            color: #F6F6F6;
            font-family: InterRegular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 16px;
            padding-left: 15px;
        }
        .list-item.active {
            padding: 10px 15px;
            background-color: #d9d9d9;
            border-radius: 20px;
            width: fit-content;
            color: black;
        }
    }

    .month {
        color: #000;
        font-family: InterRegular;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 19px 0px 9px 17px;
    }

    .card {
        margin: 0px 19px 7px 17px;
        padding: 11px 21px 10px 18px;
        background-color: white;
        .id {
            color: #272727;
            font-family: InterBold;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .amount {
            color: #7B7B7B;
            font-family: InterRegular;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .date, .count {
            color: #7B7B7B;
            font-family: InterRegular;
            font-size: 15px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            margin-top: 6px;
        }
    }
}

.footer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    padding: 5px 20px;
    background-color: #87CD9B;
    .id {
        color: #181D17;
        font-family: InterBold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
    }
    .benefit {
        color: #181D17;
        text-align: right;
        font-family: InterRegular;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}