.container {
  height: 100vh;
  overflow-y: scroll;
  background: #f6f6f6;

 
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 500px;
    height: 29px;
    padding: 0 16px;
    margin: auto;
    background-color: #6fcf97;
    p {
          color: #181d17;
          text-align: left;
          font-family: InterBold;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
  }
  .benefits {
    font-family: InterRegular !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
  }
}

.dashboard-page {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.header {
  background: #181d17;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  height: 46px;
  padding-left: 14px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50 !important;

  .back-icon {
    cursor: pointer;
    color: #c4c5c3;
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    margin-top: 1px;
  }

  p {
    color: #c4c5c3;
    font-family: InterRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }

  .right-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .add-icon {
      margin-left: 28px;
    }
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: var(--blanco, #fff);
  filter: blur(3px);
  z-index: 0;
}

.dialog {
  position: absolute;
  z-index: 51;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #181d17;
  width: 90%;
  height: 295px;
  flex-shrink: 0;
  border-radius: 15.591px;
  top: 63px;
  margin-left: 16px;
  margin-right: 16px;
}

.tutorial-title {
  font-family: InterLight;
  color: #f6f6f6;
  font-size: 13px;
  line-height: 16px;
  margin-top: 40px;
}

.arrow-svg {
  position: absolute;
  top: -46px;
  right: 63px;
  height: 100px;
  width: 30px;
}

.tutorial-text {
  color: #fff;
  font-family: InterSemiBold;
  font-size: 23px;
  line-height: 27.84px;
  margin-bottom: 16px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.tutorial-button-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tutorial-button {
  cursor: pointer;
  font-family: InterLight;
  font-size: 17px;
  border: 0;
  background: transparent;
  color: #c4c5c3;
}

.ok-button {
  cursor: pointer;
  font-family: InterBold;
  font-size: 17px;
  border: 0;
  width: 176px;
  height: 32px;
  color: #181d17;
  border-radius: 8px;
  background: #87cd9b;
}

.dates-container {
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  padding-bottom: 5px;
  border-radius: 8px;
  margin: 0px 17px;
}

.progress-camera {
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
  align-items: center;
  padding-top: 14px;
  z-index: 50;
  border-radius: 8px;
}

.camera-icon {
  width: 28px;
  height: 21px;
  cursor: pointer;
}

.camera-icon.grey {
  width: 21px;
  height: 16px;
}

.selection-text {
  font-family: InterBold;
  color: #181d17;
  font-size: 17px;
  line-height: 20.57px;
  font-weight: 700;
  margin: 23px 10px;
}

.progress-container {
  width: 100%;
  display: flex;
  padding-left: 20px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 17px;
}

.progress-item {
  flex-basis: calc(50% - 6.5px);
  display: flex;
  flex-direction: column;
}

.progress {
  color: #7b7b7b;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  line-height: 20.57px;
  font-weight: 700;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 29px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-selected {
  color: #181d17;
  background: #c4c5c3;
  font-weight: 700;
  margin-right: 5px;
}

.location-container {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.location-icon {
  margin-right: 10px;
  width: 16px;
  height: 21px;
}

.expand-icon {
  height: 20px;
  color: #87cd9b;
}

.content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.content-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-title {
  color: #7b7b7b;
  font-family: InterLight;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: left;
  max-width: 360px;
}

.content-cards-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-card {
  cursor: pointer;
  width: 100%;
  padding-top: 11px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card-title {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.content-card-price {
  color: #7b7b7b;
  text-align: right;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.right-side {
  justify-content: end;
  align-items: end;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.content-card-extra-info {
  color: #7b7b7b;
  text-align: left;
  font-family: InterMedium;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;

  .add-icon {
    margin-left: 25px;
  }

  mat-icon {
    color: #87cd9b;
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

.display-flex {
  display: flex;
}

.content-card-info {
  margin: auto 15px;
}

@media (max-width: 400px) {
  .header {
    p {
      font-size: 16px;
    }
  }
  .green-sphere {
    top: 20px;
  }
  .tutorial-text {
    font-size: 20px;
  }
  .tutorial-button {
    font-size: 15px;
  }
  .ok-button {
    font-size: 15px;
  }
  .arrow-svg {
    top: -48px;
    width: 31px;
  }
}

@media (max-width: 365px) {
  .header {
    p {
      font-size: 15px;
    }
  }
  .green-sphere {
    top: 33px;
    right: 36px;
  }
  .tutorial-text {
    font-size: 20px;
  }
  .tutorial-button {
    font-size: 15px;
  }
  .ok-button {
    font-size: 15px;
    width: 150px;
  }
  .arrow-svg {
    top: -48px;
    right: 23px;
  }
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 13px;
  padding-bottom: 0;
  position: relative;

  &.tutorial {
    z-index: 3;
  }

  .search-bar {
    /*
        DESCOMENTAR LUEGO
        width: 70.09%;
      */
    text-align: left;
    height: fit-content;
    padding: 8px 21px 12px 21px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    background: #d9d9d9;
    color: #7b7b7b;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    width: 100%;
  }

  .filters {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    gap: 20px;
    right: 17px;
    align-items: center;
    background: #d9d9d9;
    padding-left: 17px;

    .option:hover {
      cursor: pointer;
    }
  }
}

.search-opened {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 21px;
  z-index: 54;

  header {
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 4px;
    background: #181d17;
  }

  .search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-bottom: 13px;
    position: relative;

    mat-icon {
      position: absolute;
      top: 8px;
      left: 28px;
      color: #7b7b7b;
    }
  }

  .search-bar {
    width: 90%;
    margin: auto;
    padding: 10px 0px 12px 36px;
    border-bottom: 1px solid #87cd9b;
    border-radius: 0px;
    background: transparent;
    color: #7b7b7b;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .filtering-options {
    &.card {
      width: 90%;
      margin: 0 auto;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      background: #d9d9d9;
      border-radius: 6px;
      &-store {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      appearance: none;
      border: none;
      background: none;
      padding: 0;
      width: max-content;
      color: #7b7b7b;
      font-family: Inter;
      font-size: 17px;
      letter-spacing: -1px;
      cursor: pointer;
      &.active {
        color: #181d17;
        font-weight: 700;
      }
    }
  }
  .btn-close {
    background: #181d17;
    border: none;
  }
}
::ng-deep .mat-datepicker-content {
  max-width: 500px !important;
  width: 500px !important;
  display: flex;
  bottom: 0;
  position: absolute;
}
::ng-deep .mat-datepicker-content .mat-calendar {
  height: auto !important;
  width: auto !important;
}
::ng-deep .cdk-overlay-pane {
  bottom: 32px !important;
  left: calc(50vw - 250px) !important;
  right: 0px;
}
