.container {
  height: 100vh;
  overflow-y: scroll;
  background: #f6f6f6;
}

.header {
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  height: 46px;
  padding-left: 14px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close-icon {
    cursor: pointer;
    color: #c4c5c3;
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    margin-top: 1px;
  }

  p {
    color: #181d17;
    font-family: InterMedium;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
}

.progress-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 24px;
  background: #181d17;
  display: flex;
  padding-left: 20px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.progress-item {
  flex-basis: calc(50% - 6.5px);
  display: flex;
  flex-direction: column;
}

.progress {
  color: #f6f6f6;
  font-family: InterMedium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 29px;
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-selected {
  color: #181d17;
  background: #c4c5c3;
  font-weight: 700;
}

.content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 120px;
}

.content-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-title {
  color: #7b7b7b;
  text-align: center;
  font-family: InterLight;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: center;
  max-width: 360px;
}

.content-cards-container {
  margin-top: 10px;
}

.content-card {
  cursor: pointer;
  width: 100%;
  padding-top: 11px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card-title {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.content-card-price {
  color: #7b7b7b;
  text-align: right;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.content-card-extra-info {
  color: #7b7b7b;
  text-align: left;
  font-family: InterMedium;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 0;
}

.flex{
    display:flex;
    align-items: center;

    .add-icon{
        margin-left: 25px;
    }

    mat-icon{
        color:#87CD9B;
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
}

.display-flex {
  display: flex;
}

.content-card-info {
  margin: auto 15px;
}

@media (max-width: 400px) {
  .header {
    p {
      font-size: 16px;
    }
  }
}


@media(max-width:365px){
    .header {
        p {
          font-size: 15px;
        }
      }
    }