.container {
  height: 100vh;
  overflow-y: scroll;
  background: #181d17;

  // footer {
    
  // }
  .benefits {
    font-family: InterRegular !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
  }
  .center-text {
    font-family: InterRegular !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center !important;
    width: 100%;
  }
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 500px;
    height: 29px;
    padding: 0 16px;
    margin: auto;
    background-color: #435a4a;
    p {
      color: #F6F6F6;
      text-align: left;
      font-family: InterBold;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
}
.bottom-footer.mobile{
  max-width: 427px;
  margin-bottom: calc(100vh - 745px);
}

.dashboard-page {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.header {
  background: #181d17;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  height: 46px;
  padding-left: 14px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50 !important;

  .back-icon {
    cursor: pointer;
    color: #c4c5c3;
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    margin-top: 1px;
  }

  p {
    color: #c4c5c3;
    font-family: InterRegular;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px;
    margin: 0;
  }

  span {
    color: #fff;
    font-family: FiraSansMedium;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .right-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    
  }
  .box-icon {
    height: 21px;
    padding-right: 6px;
  }
}
.filter-icon{
  height: 23px;
  width: 20px;
  margin-right: 28px;
}

.swipe-item-selected {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 8px;
  border: 1px solid #7b7b7b !important;
  height: 48px !important;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-top: 10px;
  margin-right: 16px;
  span {
    font-family: InterBold;
    color: #181d17;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    padding: 0px 7px;
  }
}

.swipe-item {
  display: flex;
  background-color: #181d17;
  border-radius: 8px;
  border: 1px solid #7b7b7b !important;
  height: 48px !important;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-top: 10px;
  margin-right: 16px;
  span {
    font-family: InterBold;
    color: #c4c5c3;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--blanco, #fff);
  top: 50px;
  z-index: 1;
}
.tutorial{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.stop-scroll{
  overflow-y: hidden;
}
hr {
  border: 1px solid #403d3d;
  margin: 16px 0;
  width: 100%;
}

.dialog {
  position: absolute;
  z-index: 51;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 295px;
  flex-shrink: 0;
  border-radius: 15.591px;
  top: 160px;
  margin-left: 16px;
  margin-right: 16px;
}

.tutorial-title {
  font-family: InterRegular;
  color: #181d17;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.57px;
  margin-top: 40px;
  margin: 16px 20px;
  text-align: center;
  padding-top: 32px;
}

.arrow-svg {
  position: absolute;
  top: -46px;
  right: 63px;
  height: 100px;
  width: 30px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 242px;
  width: 100%;
}

.tutorial-text {
  color: #181d17;
  font-family: InterRegular;
  font-size: 15px;
  line-height: 18.15px;
  margin-bottom: 16px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.tutorial-button-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tutorial-button {
  cursor: pointer;
  font-family: InterRegular;
  font-size: 17px;
  border: 0;
  background: transparent;
  color: #181d17;
}

.ok-button {
  cursor: pointer;
  font-family: InterBold;
  font-size: 17px;
  border: 0;
  width: 176px;
  height: 32px;
  color: #181d17;
  border-radius: 8px;
  background: #87cd9b;
  margin-bottom: 19px;
}

.dates-container {
  display: flex;
  flex-direction: column;
  background: #403D3D;
  padding-bottom: 5px;
  border-radius: 8px;
  margin: 0px 17px;
}

.total-results{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  p{
    color: #F6F6F6;
    font-family: InterBold;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

  }
}

.progress-camera {
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
  align-items: center;
  padding-top: 14px;
  z-index: 50;
  border-radius: 8px;
}

.camera-icon {
  width: 28px;
  height: 21px;
  cursor: pointer;
}

.camera-icon.grey {
  display: flex;
  align-items: end;
  height: 21px;
  color: #ffffff;
  margin-right: 28px;
}

.camera-card-icon.grey {
  display: flex;
  align-items: end;
  height: 21px;
  color: #ffffff;
  padding-top: 4px;
}

.rounded-add-icon{
  display: flex;
  align-items: center;
  border: 3px solid #6FCF97;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 28px;
}

.add-icon{
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 28px;
}
.selection-text {
  font-family: InterBold;
  color: #C4C5C3;
  font-size: 17px;
  line-height: 20.57px;
  font-weight: 700;
  margin: 23px 20px;
}

.progress-container {
  width: 100%;
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 17px;
}

.progress-container-status {
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 17px;
}

.progress-item {
  flex-basis: calc(50% - 6.5px);
  display: flex;
  flex-direction: column;
}

.progress-items {
  flex-basis: calc(50% - 6.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 41px;
  border-radius: 7px;
}

.Processing {
  border: 3px solid #702015;
}
.Processing-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #702015;
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  span {
    color: #272727;
  }
}
.Preparing {
  border: 3px solid #ca8113;
}
.Preparing-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ca8113;
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  span {
    color: #272727;
  }
}
.Pick-up {
  border: 3px solid #7b7b7b;
}
.Pick-up-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7b7b7b;
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  span {
    color: #272727;
  }
}
.Shipped {
  border: 3px solid #f7d455;
}
.Shipped-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7d455;
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  span {
    color: #272727;
  }
}
.Delivered {
  border: 3px solid #39ba45;
}
.Delivered-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39ba45;
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  span {
    color: #272727;
  }
}

.progress {
  color: #C4C5C3;
  font-family: InterRegular;
  font-size: 17px;
  font-style: normal;
  line-height: 20.57px;
  font-weight: 700;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 29px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-selected {
  color: #87CD9B;
  font-weight: 700;
  margin-right: 5px;
}



.location-container {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.location-icon {
  margin-right: 10px;
  width: 16px;
  height: 21px;
}

[type="checkbox"], [type="radio"] {
  clip-path: circle(46% at 50% 50%);
}

.expand-icon {
  height: 20px;
  color: #87cd9b;
}

.content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.content-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-title {
  color: #7b7b7b;
  font-family: InterBold;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 10px;
  text-align: left;
  max-width: 360px;
}

.content-cards-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-card {
  cursor: pointer;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-card-flex {
  display: flex;
}

.content-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f6f6f6;
  font-family: InterBold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.57px;
  margin: 0;
  p {
    margin: 0px 0px 0px 5px;
  }
}

.content-card-price {
  color: #7b7b7b;
  text-align: right;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.right-side {
  justify-content: end;
  align-items: end;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.content-card-extra-info {
  color: #7b7b7b;
  text-align: left;
  font-family: InterMedium;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: center;

  .add-icon {
    margin-left: 25px;
  }

  mat-icon {
    color: #87cd9b;
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

.display-flex {
  display: flex;
  margin-right: auto;
  margin-left: 15px;
}

.radio-content{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.content-card-info {
  margin: 0px;
}

.line {
  width: 100%;
  margin: 0;
}

@media (max-width: 400px) {
  .header {
    p {
      font-size: 16px;
    }
  }
  .green-sphere {
    top: 20px;
  }
  .tutorial-text {
    font-size: 15px;
  }
  .tutorial-button {
    font-size: 15px;
  }
  .ok-button {
    font-size: 15px;
  }
  .arrow-svg {
    top: -48px;
    width: 31px;
  }
}

@media (max-width: 365px) {
  .header {
    p {
      font-size: 15px;
    }
  }
  .green-sphere {
    top: 33px;
    right: 36px;
  }
  .tutorial-text {
    font-size: 15px;
  }
  .tutorial-button {
    font-size: 15px;
  }
  .ok-button {
    font-size: 15px;
    width: 150px;
  }
  .arrow-svg {
    top: -48px;
    right: 23px;
  }
}

.search-menu{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 19px;
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-bottom: 0;
  position: relative;
  background-color: #403D3D;
  width: 100%;
  border-radius: 8px;

  &.tutorial {
    z-index: 3;
  }

  .search-bar {
    /*
        DESCOMENTAR LUEGO
        width: 70.09%;
      */
    text-align: left;
    height: fit-content;
    padding: 8px 90px 12px 16px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    background: #403D3D;
    color: #C4C5C3;
    font-family: InterBold;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    width: 100%;
    border-radius: 8px;
  }

  .filters {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    background: #403D3D;
    padding-left: 17px;
    border-radius: 8px;

    .option:hover {
      cursor: pointer;
    }
  }
}

.search-bar-div{
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 8px;
}

.search-opened {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 21px;
  z-index: 0;

  header {
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 4px;
    background: #181d17;
  }

  .search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 13px;
    position: relative;
    width: 100%;

    mat-icon {
      position: absolute;
      top: 8px;
      left: 28px;
      color: #7b7b7b;
    }
  }

  .search-bar {
    width: 90%;
    margin: auto;
    padding: 10px 0px 12px 36px;
    border-bottom: 1px solid #87cd9b;
    border-radius: 0px;
    background: transparent;
    color: #7b7b7b;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .filtering-options {
    &.card {
      width: 90%;
      margin: 0 auto;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      background: #d9d9d9;
      border-radius: 6px;
      &-store {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      appearance: none;
      border: none;
      background: none;
      padding: 0;
      width: max-content;
      color: #7b7b7b;
      font-family: Inter;
      font-size: 17px;
      letter-spacing: -1px;
      cursor: pointer;
      &.active {
        color: #181d17;
        font-weight: 700;
      }
    }
  }
  .btn-close {
    background: #181d17;
    border: none;
  }
}
::ng-deep .mat-datepicker-content {
  max-width: 500px !important;
  width: 500px !important;
  display: flex;
  bottom: 0;
  position: absolute;
}
::ng-deep .mat-datepicker-content .mat-calendar {
  height: auto !important;
  width: auto !important;
}
::ng-deep .cdk-overlay-pane {
  bottom: 32px !important;
  left: calc(50vw - 250px) !important;
  right: 0px;
}

@media (max-width: 460px) {
  .arrow-svg {
    right: 72px;
  }

  .search-menu{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 19px;
  }

  .search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 0;
    position: relative;
    background-color: #403D3D;
    width: 100%;
  
    &.tutorial {
      z-index: 3;
    }
  
    .search-bar {
      /*
          DESCOMENTAR LUEGO
          width: 70.09%;
        */
      text-align: left;
      height: fit-content;
      padding: 8px 31px 12px 42px;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 8px;
      background: #403D3D;
      color: #C4C5C3;
      font-family: InterBold;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
      width: 100%;
      border-radius: 8px;
    }
  
    .filters {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 0 auto;
      display: flex;
      gap: 20px;
      align-items: center;
      background: #403D3D;
      padding-left: 17px;
      border-radius: 8px;
  
      .option:hover {
        cursor: pointer;
      }
    }
  }
  

  .swipe-item {
    display: flex;
    background-color: #181d17;
    border-radius: 8px;
    border: 1px solid #7b7b7b !important;
    height: 48px !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 16px;
    span {
      font-family: InterBold;
      color: #c4c5c3;
      font-size: 17px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      padding: 0px 7px;
    }
  }

  .swipe-item-selected {
    display: flex;
    background-color: #d9d9d9;
    border-radius: 8px;
    border: 1px solid #7b7b7b !important;
    height: 48px !important;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 16px;
    span {
      font-family: InterBold;
      color: #181d17;
      font-size: 17px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      padding: 0px 7px;
    }
  }

  ::ng-deep .mat-datepicker-content {
    max-width: 417px !important;
    width: 398px !important;
    display: flex;
    bottom: 0;
    position: absolute;
    margin-left: 50px;
  }
}

@media (max-width: 380px) {

  .dialog{
    margin-top: 16px;
  }

  .container {
  footer{
    padding:0;
  }
}

}

@media (max-width: 367px) {

  
  .container {
    footer{
      padding:0;
    }
  }

}