.container {
  height: 100vh;
  overflow-y: scroll;
  background: #f6f6f6;
}

.header {
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  height: 46px;
  padding-left: 14px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close-icon {
    cursor: pointer;
    color: #c4c5c3;
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    margin-top: 1px;
  }

  p {
    color: #181d17;
    font-family: InterMedium;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: var(--blanco, #FFF);
  filter: blur(3px);
  z-index: 49;
}

.dialog {
  position: absolute;
  z-index: 51;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #181d17;
  width: 90%;
  height: 295px;
  flex-shrink: 0;
  border-radius: 15.591px; 
  top: 111px;
  margin-left: 16px;
  margin-right: 16px;
}

.tutorial-title {
  font-family: InterLight;
  color: #F6F6F6;
  font-size: 13px;
  line-height: 16px;
  margin-top: 40px;
}

.arrow-svg {
  position: absolute;
  top: -46px;
  right: 30px;
  height: 100px;
  width: 30px;
}

.tutorial-text {
  color: #fff;
  font-family: InterSemiBold;
  font-size: 23px;
  line-height: 27.84px;
  margin-bottom: 16px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.tutorial-button-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tutorial-button {
  cursor: pointer;
  font-family: InterLight;
  font-size: 17px;
  border: 0;
  background: transparent;
  color: #C4C5C3;
}

.ok-button {
  cursor: pointer;
  font-family: InterBold;
  font-size: 17px;
  border:0;
  width: 176px;
  height: 32px;
  color: #181d17;
  border-radius: 8px;
  background: #87CD9B;
}

.dates-container {
  display: flex;
  flex-direction: column;
  background: #181d17;
  padding-bottom: 5px;
}


.progress-camera {
  display: flex;
  justify-content: space-between;
  background: #181d17;
  align-items: center;
  padding: 14px;
  z-index: 50;
}

.camera-icon {
  color: #87CD9B;
  width: 28px;
  height: 21px;
  cursor: pointer;
}

.selection-text {
  font-family: InterLight;
  color: #F6F6F6;
  font-size: 13px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.progress-container {
  width: 100%;
  padding-bottom: 24px;
  display: flex;
  padding-left: 20px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

.progress-item {
  flex-basis: calc(50% - 6.5px);
  display: flex;
  flex-direction: column;
}

.progress {
  color: #f6f6f6;
  font-family: InterMedium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 29px;
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-selected {
  color: #181d17;
  background: #c4c5c3;
  font-weight: 700;
}

.location-container {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.location-icon {
  margin-right: 10px;
  width: 16px;
  height: 21px;
}

.expand-icon {
  height: 20px;
  color:#87CD9B;
}

.content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 120px;
}

.content-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-title {
  color: #7b7b7b;
  text-align: center;
  font-family: InterLight;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: center;
  max-width: 360px;
}

.content-cards-container {
  margin-top: 10px;
}

.content-card {
  cursor: pointer;
  width: 100%;
  padding-top: 11px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card-title {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.content-card-price {
  color: #7b7b7b;
  text-align: right;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.content-card-extra-info {
  color: #7b7b7b;
  text-align: left;
  font-family: InterMedium;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 0;
}

.flex{
    display:flex;
    align-items: center;

    .add-icon{
        margin-left: 25px;
    }

    mat-icon{
        color:#87CD9B;
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
}

.display-flex {
  display: flex;
}

.content-card-info {
  margin: auto 15px;
}

.dialog.external-order-dialog {
  border-radius: 6px;

  border: 1px solid rgba(59, 101, 74, 0.70);
  background: #181D17;
  height: 229px;
  padding: 0px 21px;
}

.external-order-title {
  align-self: flex-start;
  color: #FFF;
  font-family: InterSemiBold;
  font-size: 19px;
}

.external-order-input {
  width: 100%;
  background: transparent;
  color: #FFF;
  font-family: InterBold;
  font-size: 21px;
  border: 0;
  border-bottom: 1px solid #87CD9B;
  padding-bottom: 13px;
  appearance: textfield;
}

.external-order-input::placeholder {
  color: #7B7B7B;
  font-family: InterBold;
  font-size: 21px;
}

.ok-button.external-order-button {
  width: 70%;
}

@media (max-width: 400px) {
  .header {
    p {
      font-size: 16px;
    }
  }
  .green-sphere {
    top: 20px;
  }
  .tutorial-text {
    font-size: 20px;
  }
  .tutorial-button {
    font-size: 15px;
  }
  .ok-button {
    font-size: 15px;
  }
  .arrow-svg {
    top: -48px;
    width: 31px;
  }
}


@media(max-width:365px){
  .header {
    p {
      font-size: 15px;
    }
  }
  .green-sphere {
    top: 33px;
    right: 36px;
  }
  .tutorial-text {
    font-size: 20px;
  }
  .tutorial-button {
    font-size: 15px;
  }
  .ok-button {
    font-size: 15px;
    width: 150px;
  }
  .arrow-svg {
    top: -48px;
    right: 23px;
  }
}

