<div class="container">
  <div *ngIf="tutorialEnabled" class="blur"></div>
  <div *ngIf="tutorialEnabled" class="dialog">
    <p class="tutorial-title">CONTROLA TODAS LAS ORDENES</p>
    <div class="arrow-svg">
      <svg viewBox="0 0 34 106" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          id="Vector 1261"
          d="M34 9L19 0.339746V17.6603L34 9ZM8 9V7.5H6.5V9H8ZM0 98C0 102.418 3.58172 106 8 106C12.4183 106 16 102.418 16 98C16 93.5817 12.4183 90 8 90C3.58172 90 0 93.5817 0 98ZM20.5 7.5H8V10.5H20.5V7.5ZM6.5 9V98H9.5V9H6.5Z"
          fill="#6FCF97"
        />
      </svg>
    </div>
    <p class="tutorial-text">
      Sube la foto de la factura cuando te compren fuera de la plataforma para
      mantener el control desde tu celular.
    </p>
    <div class="tutorial-button-holder">
      <button class="tutorial-button" (click)="toggleTutorial(true)">
        No Mostrar Tutorial
      </button>
      <button class="ok-button" (click)="tutorialEnabled = false">Ok</button>
    </div>
  </div>
  <div class="header" *ngIf="!searchOpened">
    <div class="flex">
      <mat-icon class="back-icon"> arrow_back_ios </mat-icon>
      <p>Ventas</p>
    </div>
    <div class="right-icons">
      <img
        alt="camara"
        class="camera-icon grey"
        src="{{ env }}/grey-camera.png"
        (click)="emitFileInputClick()"
        />
        <input title="file" type="file" id="file" 
          [style.display]="'none'" 
          (change)="loadFile($event)" 
          multiple [accept]="[
            '.png',
            '.jpg',
            '.jpeg',
            '.webp',
            '.webm',
            '.mp4',
            '.m4v',
            '.mpg',
            '.mpeg',
            '.mpeg4',
            '.mov',
            '.3gp',
            '.mts',
            '.m2ts',
            '.mxf'
            ]" 
        />
      <mat-icon class="add-icon" [ngStyle]="{ color: 'white' }">add</mat-icon>
    </div>
  </div>
  <div class="search-opened" *ngIf="searchOpened">
    <header>
      <button class="btn btn-close" (click)="onCloseSearchbar()">
        <img src="../../../../../assets/icons/close-button.svg" alt="" />
      </button>
    </header>
    <form class="search-bar-wrapper">
      <mat-icon>search</mat-icon>
      <input
        type="text"
        name="item-search"
        id="search-from-results-view"
        class="input search-bar"
        placeholder="Buscar..."
        [formControl]="itemSearchbar"
      />
    </form>

    <div class="dates-container">
      <div class="progress-container">
        <p class="selection-text">{{deliveryTimePlaceholder}}</p>
        <ng-container *ngFor="let item of deliveryTime">
          <div class="progress-item">
            <div
            class="progress"
            [ngClass]="{ 'progress-selected': item.selected }"
            (click)="selectDeliveryTime(item.id)"
            >
              <span>De {{item.estimatedDeliveryTime.from}} a {{item.estimatedDeliveryTime.until}} horas</span>
              <span>({{item.count}})</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="dates-container">
      <div class="progress-container">
        <p class="selection-text">{{progressPlaceHolder}}</p>
        <ng-container *ngFor="let i of progress">
          <div class="progress-item">
            <div
              class="progress"
              [ngClass]="{ 'progress-selected': i.selected }"
              (click)="selectProgress(i.id)"
            >
              <span>{{ orderDeliveryStatus(i.name) }} </span>
              <span>{{ "(" + orderDeliveryLength(i.name) + ")" }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="dates-container">
      <div class="progress-container">
        <p class="selection-text">{{deliveryZonePlaceholder}}</p>
        <div class="progress-item">
          <div
            class="progress"
            [ngClass]="{ 'progress-selected': delivery.selected }"
            (click)="(delivery.selected === !delivery.selected)"
          >
            <span>Delivery </span>
            <span>({{ delivery.amount || 0 }})</span>
          </div>
        </div>
        <div class="progress-item">
          <div
            class="progress"
            [ngClass]="{ 'progress-selected': pickUp.selected }"
            (click)="(pickUp.selected)"
          >
            <span>PickUp </span>
            <span>({{ pickUp.amount || 0 }})</span>
          </div>
        </div>
        <div *ngFor="let zone of deliveryZones" class="progress-item">
          <div
            class="progress"
            [ngClass]="{ 'progress-selected': zone.selected }"
            (click)="selectZone(zone._id)"
          >
            <span>{{ zone.zona }} </span>
            <span>({{ findAmount(zone._id) }})</span>
          </div>
        </div>
      </div>
    </div>

    <div class="dates-container">
      <div class="progress-container">
        <p class="selection-text">{{paymentStatusPlaceholder}}</p>
        <ng-container *ngFor="let item of paymentStatus">
          <div class="progress-item">
            <div
            class="progress"
            [ngClass]="{ 'progress-selected': item.selected }"
            (click)="selectPaymentStatus(item.id)"
            >
              <span>{{parseOrderPaymentStatus(item.name)}}</span>
              <span>({{item.count}})</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- <div *ngIf="isSupplier" class="filtering-options card">
      <button
        *ngFor="let btn of buttonFiltering"
        [ngClass]="{ active: btn.isActive }"
        (click)="onChangeBtnFiltering(btn)"
      >
        {{ btn.label }} ({{ btn.total }})
      </button>
    </div>

    <div *ngIf="!isSupplier" class="filtering-options card card-store">
      <button
        *ngFor="let btn of buttonFilteringNoSupplier"
        [ngClass]="{ active: btn.isActive }"
        (click)="onChangeBtnFilteringNotSupplier(btn)"
      >
        {{ btn.label }} ({{ btn.total }})
      </button>
    </div> -->
  </div>
  <!-- <div class="dates-container">
    <div class="progress-camera">
      <p class="selection-text">PROGRESS</p>
      <img
        alt="camara"
        class="camera-icon"
        src="{{env}}/green-camera.png"
        (click)="emitFileInputClick()"
      />
      <input title="file" type="file" id="file" 
        [style.display]="'none'" 
        (change)="loadFile($event)" 
        multiple [accept]="[
          '.png',
          '.jpg',
          '.jpeg',
          '.webp',
          '.webm',
          '.mp4',
          '.m4v',
          '.mpg',
          '.mpeg',
          '.mpeg4',
          '.mov',
          '.3gp',
          '.mts',
          '.m2ts',
          '.mxf'
          ]" 
      />
    </div>
    <div class="progress-container">
      <ng-container *ngFor="let i of progress">
        <div class="progress-item">
          <div class="progress" [ngClass]="{'progress-selected': i.selected}" (click)="selectProgress(i.id)">
            <span>{{ orderDeliveryStatus(i.name) }} </span>
            <span>{{ "(" + orderDeliveryLength(i.name) + ")" }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="location-container">
      <img alt="lugar" class="location-icon" src="{{env}}/location-3.png" (click)="showLocations = !showLocations"
        [style.color]="showLocations ? '#F6F6F6' : '#87CD9B'" />
      <p class="selection-text" *ngIf="showLocations">
        LUGAR DE ENTREGAS
      </p>
      <mat-icon *ngIf="showLocations" class="expand-icon">
        expand_more
      </mat-icon>
    </div>
    <div *ngIf="showLocations" class="progress-container">
      <div class="progress-item">
        <div class="progress" [ngClass]="{'progress-selected': delivery.selected}" (click)="delivery.selected === !delivery.selected">
          <span>Delivery </span>
          <span>({{delivery.amount || 0}})</span>
        </div>
      </div>
      <div class="progress-item">
        <div class="progress" [ngClass]="{'progress-selected': pickUp.selected}" (click)="pickUp.selected">
          <span>PickUp </span>
          <span>({{pickUp.amount || 0}})</span>
        </div>
      </div>
      <div *ngFor="let zone of deliveryZones" class="progress-item">
        <div class="progress" [ngClass]="{'progress-selected': zone.selected}" (click)="selectZone(zone._id)">
          <span>{{zone.zona}} </span>
          <span>({{findAmount(zone._id)}})</span>
        </div>
      </div>
    </div>
  </div> -->
  <div class="content">
    <form
      class="search-bar-wrapper"
      style="margin-bottom: 21px"
      *ngIf="!searchOpened"
    >
      <input
        type="text"
        (click)="showSearch()"
        name="item-search"
        class="input search-bar"
        [placeholder]="placeholder"
        [formControl]="itemSearchbar"
      />

      <div class="filters">
        <div class="option" [routerLink]="'/admin/order-progress'">📦</div>
        <div class="option" [routerLink]="'/admin/order-filtering'">⏰</div>
        <div class="option" [routerLink]="'/admin/benefits-control'">📍</div>
      </div>
    </form>
    <!-- <div class="content-title-container">
      <p class="content-title">
        {{orders.length}} facturas. ${{calcTotalPrice().toFixed(2)}} de beneficio.
      </p>
    </div> -->
    <div
      class="content-cards-container"
      *ngFor="let orderByMonth of ordersByMonth"
    >
      <p class="content-title">
        {{ orderByMonth.month }}
      </p>
      <div
        class="content-card"
        *ngFor="let order of orderByMonth.orders; index as i"
        (click)="goToOrderDetail(order._id, i)"
      >
        <div class="display-flex">
          <!-- <img [src]=" order.user.image?order.user.image:'https://cdn-icons-png.flaticon.com/512/149/149071.png'" width="66px"> -->
          <div class="content-card-info">
            <p class="content-card-title">
              {{
                order.user != null
                  ? order.user.name || order.user.email || order.user.phone
                  : "Sin nombre"
              }}
            </p>
            <p class="content-card-extra-info">
               {{ shortFormatID(order.dateId) }}, hace {{ dateHandler(order.createdAt) }}
            </p>
          </div>
        </div>
        <div class="right-side">
          <p class="content-card-price">
            ${{ calcTotal(order.subtotals).toFixed(2) }}
          </p>
          <img
                *ngIf="order.orderType === 'external'"
                alt="camara"
                class="camera-icon grey"
                src="{{ env }}/grey-camera.png"
                (click)="emitFileInputClick()"
              />
          <!-- <p class="content-card-extra-info">
            {{ order.items.length }} artículos
          </p> -->
        </div>
      </div>
    </div>
  </div>
  <footer class="bottom-footer" (click)="openDatePicker()">
    <mat-form-field appearance="fill" style="display: none">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input
          matEndDate
          formControlName="end"
          (dateChange)="onDateChange()"
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <p *ngIf="startDateLabel === ''">Filtro por fechas</p>
    <p *ngIf="startDateLabel !== ''">{{startDateLabel}} a {{endDateLabel}}</p>
    <p class="benefits">Beneficio: ${{benefit | CurrencyPipe}}</p>
  </footer>
</div>
