<div class="container">
  <header class="header">
    <a (click)="goBack()">
      <i class="fas fa-angle-left icon"></i>
    </a>
    <p>{{ title }}</p>
  </header>
  <section class="body">
    <div
      *ngIf="typeView === 'items'"
      class="tags-grid-drag-and-drop"
      cdkDropListGroup
    >
      <div
        class="tag-wrapper"
        cdkDropList
        *ngFor="let gridItem of itemsArray; let i = index"
        [cdkDropListData]="{ gridItem: gridItem, index: i }"
        (cdkDropListDropped)="dropTagDraggable($event)"
        tyle="width: 100%; margin: 0px; padding: 0px"
      >
        <div class="inner-drag-wrapper" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="capsize">
            <button class="delete">
              <img
                class="icon"
                cdkDragHandle
                src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/delete.svg"
                alt="drag"
              />
            </button>
            <app-saleflow-item
              [itemIndex]="i"
              [itemId]="gridItem._id"
              [type]="4"
              [showViews]="true"
              [viewsCounter]="
                gridItem.visitorCounter ? gridItem.visitorCounter.counter : 0
              "
              [inactive]="
                gridItem.status != 'active' && gridItem.status != 'featured'
                  ? true
                  : false
              "
              [imgURL]="gridItem.images.length ? gridItem.images[0].value : ''"
              [price]="gridItem.pricing"
              [showPrice]="true"
              [tags]="gridItem.tagsFilled"
              [itemParams]="gridItem.params"
              [responsiveWidthVersion]="true"
              [featured]="gridItem.status === 'featured'"
            >
            </app-saleflow-item>
          </div>
          <img
            class="drag-handler"
            cdkDragHandle
            src="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/new-assets/drag-area.svg"
            alt="drag"
          />
        </div>
      </div>
    </div>
    <div
      *ngIf="typeView == 'cards' && saleflowService.saleflowData"
      class="cards-flexBox"
    >
      <div class="cardContainer select">
        <ng-container
          [ngTemplateOutlet]="
            saleflowService.saleflowData?.layout === 'description-card'
              ? buyerCardView
              : saleflowService.saleflowData?.layout === 'simple-card'
              ? saleflowItemView
              : buyerCardFullView
          "
        ></ng-container>
      </div>
      <div>
        <p class="label">Opciones:</p>
        <div class="cardContainer">
          <button
            style="width: 100%; margin-bottom: 10px"
            (click)="changeView('description')"
            *ngIf="saleflowService.saleflowData?.layout !== 'description-card'"
          >
            <ng-container [ngTemplateOutlet]="buyerCardView"></ng-container>

            <!-- <ng-container
              [ngTemplateOutlet]="
                saleflowService.saleflowData?.layout === 'description-card'
                  ? saleflowItemView
                  : buyerCardView
              "
            ></ng-container>
            <ng-container
              [ngTemplateOutlet]="
                saleflowService.saleflowData?.layout === 'description-card'
                  ? saleflowItemView
                  : buyerCardView
              "
            ></ng-container> -->
          </button>

          <button
            style="width: 100%; margin-bottom: 10px"
            (click)="changeView('simple')"
            *ngIf="saleflowService.saleflowData?.layout !== 'simple-card'"
          >
            <ng-container [ngTemplateOutlet]="saleflowItemView"></ng-container>
          </button>
          <button
            style="width: 100%; margin-bottom: 10px"
            (click)="changeView('full')"
            *ngIf="saleflowService.saleflowData?.layout !== 'image-full-width'"
          >
            <ng-container [ngTemplateOutlet]="buyerCardFullView"></ng-container>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #buyerCardView>
  <div class="border">
    <app-buyer-card
      [shadow]="false"
      [img]="
        'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/item-images/1674848727416877cf86c0aaad6ceff21195f5a89ca98136e816cfb8c6d6820d2d9b320f546d5.png'
      "
      title="Nombre del Articulo"
      description="Descripción del artículo"
      [leftAmount]="3000"
    >
    </app-buyer-card>
  </div>
</ng-template>

<ng-template #saleflowItemView>
  <div class="border">
    <div class="options-grid">
      <div class="capsize" *ngFor="let option of ['', '']; let i = index">
        <app-saleflow-item
          [itemIndex]="i"
          [type]="4"
          imgURL="https://storage-rewardcharly.sfo2.digitaloceanspaces.com/item-images/1674848727416877cf86c0aaad6ceff21195f5a89ca98136e816cfb8c6d6820d2d9b320f546d5.png"
          [price]="145.35"
          [showPrice]="true"
          [responsiveWidthVersion]="true"
        >
        </app-saleflow-item>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #buyerCardFullView>
  <div class="border">
    <app-buyer-card
      [shadow]="false"
      [img]="
        'https://storage-rewardcharly.sfo2.digitaloceanspaces.com/item-images/1674848727416877cf86c0aaad6ceff21195f5a89ca98136e816cfb8c6d6820d2d9b320f546d5.png'
      "
      title="Nombre del Articulo"
      description="Descripción del artículo"
      [leftAmount]="3000"
      mode="fullWidth"
    >
    </app-buyer-card>
  </div>
</ng-template>
