<div
  *ngIf="swiperMode == false"
  class="container type{{ type }}"
  [ngClass]="optCol > 0 ? 'grid' : 'flex'"
  [ngStyle]="{ 'grid-template-columns': 'repeat(' + optCol + ', 1fr)' }"
>
  <button
    class="option type{{ type }}"
    *ngFor="let option of options; let i = index"
    (click)="selectOpt(i)"
    [matMenuTriggerFor]="i == selected ? menu : other"
    [ngClass]="{ active: i == selected, optIcon: option.dotsIcon }"
  >
    <span>{{ option.title }}</span>
    <button class="dotsButton" *ngIf="option.dotsIcon && i == selected">
      <img class="dotsIcon" [src]="environment + '/dots-black.svg'" />
    </button>
  </button>
</div>

<mat-menu #menu="matMenu" class="menuContainer">
  <button
    mat-menu-item
    *ngFor="let item of menuOptions; index as i"
    (click)="menuOptionSelected(i)"
  >
    <span>{{ item.text }}</span>
    <mat-icon class="icon">{{ item.icon }}</mat-icon>
  </button>
</mat-menu>

<mat-menu
  *ngIf="otherMenu === true"
  #other
  style="display: none; visibility: hidden"
></mat-menu>

<!-- <div *ngIf="swiperMode == true" style="margin-bottom: 20px">
  <swiper [config]="swiperConfig">
    <div class="swiper-slide" *ngFor="let option of options; let i = index">
      <button
        class="option"
        [ngClass]="{ active: i == selected }"
        (click)="selectOpt(i)"
      >
        {{ option }}
      </button>
    </div>
  </swiper>
</div> -->
