.wrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
  .title {
    font-size: 13px;
    font-family: InterRegular;
    color: #272727;
    margin: 0;
    font-weight: normal;
    margin-bottom: 11px;
    text-transform: uppercase;
  }
  .edit {
    all: unset;
    padding-bottom: 12px;
    margin-left: auto;
    cursor: pointer;

    img {
      filter: brightness(0) saturate(100) invert(8%) sepia(0%) saturate(814%) hue-rotate(154deg) brightness(98%)
        contrast(83%);
    }
  }
}
