.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F2F2F2;
}

nav {
  display: flex;
  width: 100%;
  height: 46px;
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
}

.subnav {
  display: flex;
  height: 46px;
  align-items: center;
}

.exit {
  font-family: InterLight;
  font-size: 24px;
  margin-right: 11px;
  color: #C4C5C3;
  cursor: pointer;
}

.title {
  color: #272727;
  font-family: InterBold;
  font-size: 17px;
  margin-right: 29px;
}

.toggle {
  margin-right: 30px;
}

.icon {
  filter: brightness(0) saturate(100%);
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #702015 !important;
  border: 4px solid #BDC3C7 !important;
  height: 17px;
  width: 29px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #2ECC71 !important;
  border: 4px solid #BDC3C7 !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(5px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb-container {
  transform: translate3d(-1px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #ECF0F1 !important;
  border: 1px solid #BDC3C7 !important;
  height: 12px;
  width: 12px;
  transform: translate3d(-1px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ECF0F1 !important;
  transform: translate3d(5px,0,0) !important;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
  height: 30px;
  width: 30px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: black !important;
}

.explanatory {
  width: 100%;
  color: #7B7B7B;
  text-align: center;
  font-family: InterLight;
  font-size: 17px;
  font-style: italic;
  margin: 23px 0;
  padding: 0 21px;
}

.info-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 21px;
}

.info-card {
  width: 100%;
  display: flex;
  padding: 13px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-title {
  color: var(--plomo, #7B7B7B); 
  font-family: InterBold;
  font-size: 17px;
  margin: 0;
}

.info-card-content {
  color: var(--plomo, #7B7B7B); 
  font-family: InterLight;
  font-size: 17px;
  width: 100%;
  margin: 0;
}

.content-card-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 12px 18px 0 18px;
}

.content-card {
  background: #fff;
  width: 100%;
  border-radius: 8px;
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-card-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #e9e371;
  margin-right: 10px;
}

.content-card-title {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.content-card-payment {
  color: #7b7b7b;
  text-align: right;
  font-family: InterMedium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.hr-container {
  margin-top: 14px;
  margin-left: -8px;
  margin-right: -8px;
  hr {
    border: 1px solid #e9e9e9;
    margin: 0;
  }
}

.content-card-desc {
  color: #272727;
  font-family: InterMedium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 16px;
}

@media (max-width: 400px) {
  .content-card-desc {
    font-size: 15px;
  }
}

.flex {
  display: flex;
}
